Repository NVIDIA/numba-cuda, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rapidsai/numba-cuda-write, @rapidsai/ci-codeowners, @rapidsai/packaging-codeowners

.github/CODEOWNERS:

#python code owners
numba_cuda/            @rapidsai/numba-cuda-write

#cmake code owners
**/CMakeLists.txt  @rapidsai/numba-cuda-write
**/cmake/          @rapidsai/numba-cuda-write

#CI code owners
/.github/                @rapidsai/ci-codeowners
/ci/                     @rapidsai/ci-codeowners
/.pre-commit-config.yaml @rapidsai/ci-codeowners

#packaging code owners
/.devcontainer/    @rapidsai/packaging-codeowners
/conda/            @rapidsai/packaging-codeowners
/dependencies.yaml @rapidsai/packaging-codeowners
/build.sh          @rapidsai/packaging-codeowners
pyproject.toml     @rapidsai/packaging-codeowners

Fix test paths in docs
  ci/build_docs.sh
  docs/source/user/cooperative_groups.rst
  docs/source/user/cuda_ffi.rst
  docs/source/user/examples.rst
  docs/source/user/random.rst
Owners: @rapidsai/ci-codeowners

Build sources in wheels tests
  ci/test_wheel_ctypes_binding.sh
Owners: @rapidsai/ci-codeowners

Fix wheel filename issue for proper pip installation
  .github/workflows/wheel-windows-tests.yaml
  ci/test_wheel.ps1
Owners: @rapidsai/ci-codeowners

Fix paths in ffi tests
  docs/source/user/cuda_ffi.rst
Owners: none

Use try imports of CPUDispatcher related things from numba.core instead of vendoring these
  numba_cuda/numba/cuda/core/cpu.py
  numba_cuda/numba/cuda/core/inline_closurecall.py
  numba_cuda/numba/cuda/core/ir_utils.py
  numba_cuda/numba/cuda/core/registry.py
  numba_cuda/numba/cuda/cudadrv/ndarray.py
Owners: @rapidsai/numba-cuda-write

Use numba.core.config directly when available, otherwise use numba.cuda.core.config
  ci/test_thirdparty.sh
  numba_cuda/numba/cuda/core/config.py
  numba_cuda/numba/cuda/memory_management/nrt.py
Owners: @rapidsai/ci-codeowners, @rapidsai/numba-cuda-write

remove unneeded import
  numba_cuda/numba/cuda/tests/cudadrv/test_linker.py
Owners: @rapidsai/numba-cuda-write

Vendor in components from numba.core.runtime for CUDA-specific changes
  numba_cuda/numba/cuda/core/base.py
  numba_cuda/numba/cuda/memory_management/nrt.py
  numba_cuda/numba/cuda/memory_management/nrt_context.py
Owners: @rapidsai/numba-cuda-write

ci fix
  numba_cuda/numba/cuda/tests/cudadrv/test_linker.py
Owners: @rapidsai/numba-cuda-write

whitespace
  numba_cuda/numba/cuda/tests/cudadrv/test_linker.py
Owners: @rapidsai/numba-cuda-write

Add warning about symbol conflicts if RTLD_GLOBAL is set for linux
  numba_cuda/numba/cuda/__init__.py
Owners: @rapidsai/numba-cuda-write

Vendor in typeconv for future CUDA-specific changes
  numba_cuda/numba/cuda/_internal/cuda_fp16.py
  numba_cuda/numba/cuda/core/typeinfer.py
  numba_cuda/numba/cuda/target.py
  numba_cuda/numba/cuda/tests/cudapy/test_typeinfer.py
  numba_cuda/numba/cuda/typeconv/__init__.py
  numba_cuda/numba/cuda/typeconv/castgraph.py
  numba_cuda/numba/cuda/typeconv/rules.py
  numba_cuda/numba/cuda/typeconv/typeconv.py
  numba_cuda/numba/cuda/types.py
  numba_cuda/numba/cuda/typing/context.py
Owners: @rapidsai/numba-cuda-write

Add test_typeconv to numba-cuda testing suite
  numba_cuda/numba/cuda/tests/cudapy/test_typeconv.py
  numba_cuda/numba/cuda/tests/cudapy/test_typeinfer.py
Owners: @rapidsai/numba-cuda-write

docstring update, remove unused code
  docs/source/reference/host.rst
  numba_cuda/numba/cuda/codegen.py
  numba_cuda/numba/cuda/compiler.py
Owners: @rapidsai/numba-cuda-write

update test_device_function to reduce redundancy
  numba_cuda/numba/cuda/tests/cudapy/test_compiler.py
Owners: @rapidsai/numba-cuda-write

update test_fastmath and test_global_kernel
  numba_cuda/numba/cuda/tests/cudapy/test_compiler.py
Owners: @rapidsai/numba-cuda-write

update test_kernel/device_function_with_debug
  numba_cuda/numba/cuda/tests/cudapy/test_compiler.py
Owners: @rapidsai/numba-cuda-write

update lineinfo related tests
  numba_cuda/numba/cuda/tests/cudapy/test_compiler.py
Owners: @rapidsai/numba-cuda-write

Vendor in core.registry for CUDA-specific changes (#485)
  numba_cuda/numba/cuda/core/cpu.py
  numba_cuda/numba/cuda/core/inline_closurecall.py
  numba_cuda/numba/cuda/core/ir_utils.py
  numba_cuda/numba/cuda/core/registry.py
  numba_cuda/numba/cuda/cudadrv/ndarray.py
Owners: @rapidsai/numba-cuda-write

update cabi, ltoir tests
  numba_cuda/numba/cuda/tests/cudapy/test_compiler.py
Owners: @rapidsai/numba-cuda-write

Add `compile_all` API (#484)
  docs/source/reference/host.rst
  numba_cuda/numba/cuda/__init__.py
  numba_cuda/numba/cuda/codegen.py
  numba_cuda/numba/cuda/compiler.py
  numba_cuda/numba/cuda/cudadrv/linkable_code.py
  numba_cuda/numba/cuda/cudadrv/nvrtc.py
  numba_cuda/numba/cuda/simulator/__init__.py
  numba_cuda/numba/cuda/simulator/compiler.py
  numba_cuda/numba/cuda/tests/cudadrv/test_linkable_code.py
  numba_cuda/numba/cuda/tests/cudapy/test_compiler.py
Owners: @rapidsai/numba-cuda-write

Improve debug value range coverage (#461)
  numba_cuda/numba/cuda/lowering.py
  numba_cuda/numba/cuda/tests/cudapy/test_debuginfo.py
Owners: @rapidsai/numba-cuda-write

initial, POC
  numba_cuda/numba/cuda/codegen.py
  numba_cuda/numba/cuda/compiler.py
  numba_cuda/numba/cuda/cudadrv/driver.py
  numba_cuda/numba/cuda/cudadrv/linkable_code.py
  numba_cuda/numba/cuda/cudadrv/nvrtc.py
  numba_cuda/numba/cuda/decorators.py
  numba_cuda/numba/cuda/tests/cudapy/test_device_func.py
Owners: @rapidsai/numba-cuda-write

[MNT] Managed UM memset fallback and skip CUDA IPC tests on WSL2 (#488)
  numba_cuda/numba/cuda/cudadrv/driver.py
  numba_cuda/numba/cuda/testing.py
  numba_cuda/numba/cuda/tests/cudapy/test_ipc.py
Owners: @rapidsai/numba-cuda-write

[Refactor] Vendor in _dispatcher, _devicearray, mviewbuf C extension for CUDA-specific customization (#373)
  .github/workflows/conda-python-build.yaml
  .github/workflows/conda-python-tests.yaml
  .github/workflows/docs-build.yaml
  .github/workflows/pr.yaml
  .github/workflows/simulator-test.yaml
  .github/workflows/wheel-windows-build.yaml
  .github/workflows/wheels-build.yaml
  .github/workflows/wheels-test.yaml
  ci/build_wheel.ps1
  ci/matrix.yml
  conda/recipes/numba-cuda/meta.yaml
  numba_cuda/numba/cuda/__init__.py
  numba_cuda/numba/cuda/cext/__init__.py
  numba_cuda/numba/cuda/cext/_devicearray.cpp
  numba_cuda/numba/cuda/cext/_devicearray.h
  numba_cuda/numba/cuda/cext/_dispatcher.cpp
  numba_cuda/numba/cuda/cext/_hashtable.cpp
  numba_cuda/numba/cuda/cext/_hashtable.h
  numba_cuda/numba/cuda/cext/_pymodule.h
  numba_cuda/numba/cuda/cext/_typeof.cpp
  numba_cuda/numba/cuda/cext/_typeof.h
  numba_cuda/numba/cuda/cext/mviewbuf.c
  numba_cuda/numba/cuda/cext/typeconv.cpp
  numba_cuda/numba/cuda/cext/typeconv.hpp
  numba_cuda/numba/cuda/cudadrv/devicearray.py
  numba_cuda/numba/cuda/cudadrv/driver.py
  numba_cuda/numba/cuda/dispatcher.py
  pyproject.toml
  setup.py
  site-packages/_numba_cuda_redirector.py
Owners: @rapidsai/ci-codeowners, @rapidsai/packaging-codeowners, @rapidsai/numba-cuda-write

Vendor in dispatcher, entrypoints, pretty_annotate for CUDA-specific changes
  numba_cuda/numba/cuda/core/annotations/pretty_annotate.py
  numba_cuda/numba/cuda/core/annotations/type_annotations.py
  numba_cuda/numba/cuda/core/entrypoints.py
  numba_cuda/numba/cuda/core/transforms.py
  numba_cuda/numba/cuda/dispatcher.py
  numba_cuda/numba/cuda/extending.py
  numba_cuda/numba/cuda/target.py
Owners: @rapidsai/numba-cuda-write

Correct `NUMBA_CUDA_DEVICEARRAY_IMPORT_NAME`
  numba_cuda/numba/cuda/cext/_devicearray.h
  numba_cuda/numba/cuda/cext/_dispatcher.cpp
Owners: @rapidsai/numba-cuda-write

initial
  numba_cuda/numba/cuda/dispatcher.py
Owners: @rapidsai/numba-cuda-write

Vendor in _typeconv cext for CUDA-specific changes
  numba_cuda/numba/cuda/cext/__init__.py
  numba_cuda/numba/cuda/cext/_typeconv.cpp
  numba_cuda/numba/cuda/cext/capsulethunk.h
  numba_cuda/numba/cuda/typeconv/typeconv.py
  setup.py
Owners: @rapidsai/numba-cuda-write

chore(dev-deps): add pixi
  .gitattributes
  .gitignore
  pixi.lock
  pyproject.toml
Owners: @rapidsai/packaging-codeowners

chore: add comand to run tests
  pixi.lock
  pyproject.toml
Owners: @rapidsai/packaging-codeowners

Vendor in components from numba.core.runtime for CUDA-specific changes (#498)
  numba_cuda/numba/cuda/core/base.py
  numba_cuda/numba/cuda/memory_management/nrt.py
  numba_cuda/numba/cuda/memory_management/nrt_context.py
Owners: @rapidsai/numba-cuda-write

Move test binary generation out of numba_cuda package
  test_binary_generation/Makefile
  test_binary_generation/build.bat
  test_binary_generation/generate_raw_ltoir.py
  test_binary_generation/nrt_extern.cu
  test_binary_generation/test_device_functions.cu
  test_binary_generation/undefined_extern.cu
Owners: none

Try not to run from source repo
  ci/get_test_binary_dir.py
  ci/test_conda.sh
  ci/test_conda_ctypes_binding.sh
  ci/test_simulator.sh
  ci/test_wheel.ps1
  ci/test_wheel.sh
  ci/test_wheel_ctypes_binding.sh
  ci/test_wheel_deps_wheels.sh
Owners: @rapidsai/ci-codeowners

Remove cext loading hacks
  numba_cuda/numba/cuda/cext/__init__.py
Owners: @rapidsai/numba-cuda-write

Make sure we're in the test_binary_generation subdir before doing anything with Numba-CUDA
  ci/test_conda.sh
  ci/test_conda_ctypes_binding.sh
  ci/test_simulator.sh
  ci/test_wheel.sh
Owners: @rapidsai/ci-codeowners

Move conftest into package
  numba_cuda/numba/cuda/tests/conftest.py
Owners: @rapidsai/numba-cuda-write

test_conda only: try to fixup test discovery
  ci/test_conda.sh
Owners: @rapidsai/ci-codeowners

Correct typo
  ci/test_conda.sh
Owners: @rapidsai/ci-codeowners

Put conftest.py in test_binary_generation
  test_binary_generation/conftest.py
Owners: none
