Repository NVIDIA/numba-cuda, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rapidsai/numba-cuda-write, @rapidsai/ci-codeowners, @rapidsai/packaging-codeowners

.github/CODEOWNERS:

#python code owners
numba_cuda/            @rapidsai/numba-cuda-write

#cmake code owners
**/CMakeLists.txt  @rapidsai/numba-cuda-write
**/cmake/          @rapidsai/numba-cuda-write

#CI code owners
/.github/                @rapidsai/ci-codeowners
/ci/                     @rapidsai/ci-codeowners
/.pre-commit-config.yaml @rapidsai/ci-codeowners

#packaging code owners
/.devcontainer/    @rapidsai/packaging-codeowners
/conda/            @rapidsai/packaging-codeowners
/dependencies.yaml @rapidsai/packaging-codeowners
/build.sh          @rapidsai/packaging-codeowners
pyproject.toml     @rapidsai/packaging-codeowners

cuda-cuobjdump
  ci/test_conda.sh
Owners: @rapidsai/ci-codeowners

cuda-core to wheel test deps
  ci/test_wheel.sh
Owners: @rapidsai/ci-codeowners

fix 11.8 bug
  numba_cuda/numba/cuda/cudadrv/driver.py
Owners: @rapidsai/numba-cuda-write

fix simulator
  numba_cuda/numba/cuda/simulator/cudadrv/driver.py
Owners: @rapidsai/numba-cuda-write

Fix `DeviceNDArray.device_ctypes_pointer` to always be ctypes (#295)
  numba_cuda/numba/cuda/cudadrv/devicearray.py
  numba_cuda/numba/cuda/cudadrv/driver.py
  numba_cuda/numba/cuda/dispatcher.py
  numba_cuda/numba/cuda/memory_management/nrt.py
  numba_cuda/numba/cuda/tests/cudadrv/test_cuda_driver.py
  numba_cuda/numba/cuda/tests/cudadrv/test_cuda_memory.py
  numba_cuda/numba/cuda/tests/cudapy/test_cuda_array_interface.py
Owners: @rapidsai/numba-cuda-write

Update docs/source/user/installation.rst
  docs/source/user/installation.rst
Owners: none

[DOCS] Improve the introduction and installation section of the documentation (#293)
  docs/source/index.rst
  docs/source/user/examples.rst
  docs/source/user/index.rst
  docs/source/user/installation.rst
  docs/source/user/kernels.rst
  docs/source/user/overview.rst
Owners: none

WAR for determining nvjitlink presence
  numba_cuda/numba/cuda/cudadrv/driver.py
Owners: @rapidsai/numba-cuda-write

use/fix
  numba_cuda/numba/cuda/cudadrv/driver.py
Owners: @rapidsai/numba-cuda-write

NFC: Don't rely on `Dispatcher._compiler` API (#289)
  numba_cuda/numba/cuda/dispatcher.py
Owners: @rapidsai/numba-cuda-write

std=c++17 for nvrtc < 12.0
  numba_cuda/numba/cuda/cudadrv/driver.py
Owners: @rapidsai/numba-cuda-write

do not pass 0 max registers to linker
  numba_cuda/numba/cuda/cudadrv/driver.py
Owners: @rapidsai/numba-cuda-write

Bump version to 0.15.1
  numba_cuda/VERSION
Owners: @rapidsai/numba-cuda-write

Bump version to 0.15.1 (#298)
  numba_cuda/VERSION
Owners: @rapidsai/numba-cuda-write

Fix #299: Error message about bindings not working
  numba_cuda/numba/cuda/__init__.py
Owners: @rapidsai/numba-cuda-write

Fix #299: Error message about bindings not working (#300)
  numba_cuda/numba/cuda/__init__.py
Owners: @rapidsai/numba-cuda-write

quick patch to solve bf16 include issue, needs refactor
  numba_cuda/numba/cuda/cudadrv/driver.py
Owners: @rapidsai/numba-cuda-write

refactor, pass tests locally
  numba_cuda/numba/cuda/cudadrv/driver.py
  numba_cuda/numba/cuda/cudadrv/nvrtc.py
  numba_cuda/numba/cuda/tests/nrt/test_nrt.py
Owners: @rapidsai/numba-cuda-write

skip nvjitlink tests if unavailable or too old
  numba_cuda/numba/cuda/tests/cudadrv/test_nvjitlink.py
Owners: @rapidsai/numba-cuda-write

update CI scripts
  .github/workflows/pr.yaml
  ci/test_conda_ctypes_binding.sh
  ci/test_wheel_ctypes_binding.sh
Owners: @rapidsai/ci-codeowners

manage use of NUMBA_CUDA_ENABLE_PYNVJITLINK
  numba_cuda/numba/cuda/__init__.py
Owners: @rapidsai/numba-cuda-write

update readme and point to the doc
  README.md
Owners: none

hopefully fix simulator
  numba_cuda/numba/cuda/simulator/cudadrv/driver.py
Owners: @rapidsai/numba-cuda-write

update linker selection logic
  numba_cuda/numba/cuda/cudadrv/driver.py
Owners: @rapidsai/numba-cuda-write

update readme and point to the doc (#301)
  README.md
Owners: none

ctypes linker inherits from _LinkerBase now
  numba_cuda/numba/cuda/cudadrv/driver.py
Owners: @rapidsai/numba-cuda-write

missed a use of ENABLE_PYNVJITLINK
  numba_cuda/numba/cuda/tests/cudapy/test_extending.py
Owners: @rapidsai/numba-cuda-write

cudadrv
  numba_cuda/numba/cuda/tests/cudapy/test_extending.py
Owners: @rapidsai/numba-cuda-write

move cuda core imports under USE_NV_BINDING
  numba_cuda/numba/cuda/cudadrv/driver.py
Owners: @rapidsai/numba-cuda-write

more _LinkerBase
  numba_cuda/numba/cuda/cudadrv/driver.py
Owners: @rapidsai/numba-cuda-write

Clarify pynvjitlink option precedence.
  numba_cuda/numba/cuda/__init__.py
Owners: @rapidsai/numba-cuda-write

address remaining issues
  ci/test_wheel_ctypes_binding.sh
  numba_cuda/numba/cuda/cudadrv/driver.py
  numba_cuda/numba/cuda/tests/cudadrv/test_linker.py
  numba_cuda/numba/cuda/tests/nrt/test_nrt.py
Owners: @rapidsai/ci-codeowners, @rapidsai/numba-cuda-write

small bugs
  numba_cuda/numba/cuda/tests/cudadrv/test_linker.py
  numba_cuda/numba/cuda/tests/nrt/test_nrt.py
Owners: @rapidsai/numba-cuda-write

use pathfinder naively for dynamic libs
  numba_cuda/numba/cuda/cudadrv/libs.py
Owners: @rapidsai/numba-cuda-write

Update numba_cuda/numba/cuda/__init__.py
  numba_cuda/numba/cuda/__init__.py
Owners: @rapidsai/numba-cuda-write

Update numba_cuda/numba/cuda/tests/cudadrv/test_linker.py
  numba_cuda/numba/cuda/tests/cudadrv/test_linker.py
Owners: @rapidsai/numba-cuda-write

meta does not need nvjitlink
  conda/recipes/numba-cuda/meta.yaml
Owners: @rapidsai/packaging-codeowners

Clarify pynvjitlink option precedence. (#303)
  numba_cuda/numba/cuda/__init__.py
Owners: @rapidsai/numba-cuda-write

Update numba_cuda/numba/cuda/__init__.py
  numba_cuda/numba/cuda/__init__.py
Owners: @rapidsai/numba-cuda-write

Improve the debug mode code generation for dynamic types.
  numba_cuda/numba/cuda/lowering.py
Owners: @rapidsai/numba-cuda-write
