Repository NVIDIA/numba-cuda, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rapidsai/numba-cuda-write, @rapidsai/ci-codeowners, @rapidsai/packaging-codeowners

build: update pixi.lock
  pixi.lock
Owners: none

Remove nvjitlink from cuda-toolkit at pyproject.toml
  pyproject.toml
Owners: @rapidsai/packaging-codeowners

Unpin nvjitlink from ctk version (#809)
  pyproject.toml
Owners: @rapidsai/packaging-codeowners

Fix empty DW_AT_location for reused loop variables
  numba_cuda/numba/cuda/lowering.py
  numba_cuda/numba/cuda/tests/cudapy/test_debuginfo.py
Owners: @rapidsai/numba-cuda-write

ruff format
  numba_cuda/numba/cuda/tests/cudapy/test_debuginfo.py
Owners: @rapidsai/numba-cuda-write

Disable legalize_return_type for inline='always'
  numba_cuda/numba/cuda/compiler.py
  numba_cuda/numba/cuda/core/typed_passes.py
  numba_cuda/numba/cuda/dispatcher.py
  numba_cuda/numba/cuda/extending.py
Owners: @rapidsai/numba-cuda-write

Set inline='always' for carray and farray
  numba_cuda/numba/cuda/np/arrayobj.py
Owners: @rapidsai/numba-cuda-write

Add cfarray tests
  numba_cuda/numba/cuda/tests/cudapy/test_array.py
Owners: @rapidsai/numba-cuda-write

Add overload_array_return
  numba_cuda/numba/cuda/tests/cudapy/test_extending.py
Owners: @rapidsai/numba-cuda-write

isolate test impact while investigating CI failures
  numba_cuda/numba/cuda/tests/cudapy/test_debuginfo.py
Owners: @rapidsai/numba-cuda-write

Set never to default
  numba_cuda/numba/cuda/dispatcher.py
Owners: @rapidsai/numba-cuda-write

Extend dbg.value coverage to loadvar for scalar kernel parameters
  numba_cuda/numba/cuda/lowering.py
  numba_cuda/numba/cuda/tests/cudapy/test_debuginfo.py
Owners: @rapidsai/numba-cuda-write

Update the new test
  numba_cuda/numba/cuda/tests/cudapy/test_debuginfo.py
Owners: @rapidsai/numba-cuda-write

Fix FileCheck pattern to accommodate older llvmlite versions without metadata deduplication
  numba_cuda/numba/cuda/tests/cudapy/test_debuginfo.py
Owners: @rapidsai/numba-cuda-write

Disable legilize return type for inline always (#812)
  numba_cuda/numba/cuda/compiler.py
  numba_cuda/numba/cuda/core/typed_passes.py
  numba_cuda/numba/cuda/dispatcher.py
  numba_cuda/numba/cuda/extending.py
  numba_cuda/numba/cuda/np/arrayobj.py
  numba_cuda/numba/cuda/tests/cudapy/test_array.py
  numba_cuda/numba/cuda/tests/cudapy/test_extending.py
Owners: @rapidsai/numba-cuda-write

Fix mixed C ABI / Numba ABI internal-call lowering (#781, #789) (#782)
  docs/source/user/callconv.rst
  docs/source/user/index.rst
  numba_cuda/numba/cuda/compiler.py
  numba_cuda/numba/cuda/core/base.py
  numba_cuda/numba/cuda/core/callconv.py
  numba_cuda/numba/cuda/core/compiler.py
  numba_cuda/numba/cuda/core/imputils.py
  numba_cuda/numba/cuda/core/typed_passes.py
  numba_cuda/numba/cuda/cpython/listobj.py
  numba_cuda/numba/cuda/cpython/rangeobj.py
  numba_cuda/numba/cuda/cpython/slicing.py
  numba_cuda/numba/cuda/flags.py
  numba_cuda/numba/cuda/lowering.py
  numba_cuda/numba/cuda/np/arrayobj.py
  numba_cuda/numba/cuda/np/polynomial/polynomial_core.py
  numba_cuda/numba/cuda/simulator/compiler.py
  numba_cuda/numba/cuda/target.py
  numba_cuda/numba/cuda/tests/cudapy/test_compiler.py
  numba_cuda/numba/cuda/tests/cudapy/test_ir_utils.py
  numba_cuda/numba/cuda/typing/templates.py
Owners: @rapidsai/numba-cuda-write

Aligned NumPy dtypes caching (#792)
  numba_cuda/numba/cuda/np/numpy_support.py
  numba_cuda/numba/cuda/tests/cudapy/test_cuda_array_interface.py
Owners: @rapidsai/numba-cuda-write

fix(errors): restore CUDA exception hierarchy to avoid slow string compilation (#796)
  numba_cuda/numba/cuda/core/errors.py
  numba_cuda/numba/cuda/tests/cudapy/test_errors.py
  pixi.lock
Owners: @rapidsai/numba-cuda-write

sync with cuda-python and add 2-gpu runners
  .github/workflows/test-wheel-linux.yml
  .github/workflows/test-wheel-windows.yml
  ci/test-matrix.yml
Owners: @rapidsai/ci-codeowners

Ensure core CI test jobs install ml_dtypes.
  ci/coverage_report.sh
  ci/test_conda.sh
  ci/test_simulator.sh
  ci/test_wheel_deps_wheels.sh
  ci/tools/run-tests
Owners: @rapidsai/ci-codeowners

Skip CuPy interop tests when CuPy is below 14.
  numba_cuda/numba/cuda/tests/cudapy/test_cupy_bfloat16_interop.py
  numba_cuda/numba/cuda/tests/cudapy/test_datetime.py
Owners: @rapidsai/numba-cuda-write

Raise minimum cuda-core dependency to 0.6.0.
  ci/matrix.yml
  pixi.toml
  pyproject.toml
Owners: @rapidsai/ci-codeowners, @rapidsai/packaging-codeowners

Remove stale stream_ptr comment from DLPack typeof path.
  numba_cuda/numba/cuda/typing/typeof.py
Owners: @rapidsai/numba-cuda-write

Remove redundant ml_dtypes installs from wheel test scripts.
  ci/test_wheel_deps_wheels.sh
  ci/tools/run-tests
Owners: @rapidsai/ci-codeowners

Infer array layout from shape/strides in typeof for StridedMemoryView.
  numba_cuda/numba/cuda/typing/typeof.py
Owners: @rapidsai/numba-cuda-write

cuda/tests: add array manipulation tests for cudadrv and cudapy
  numba_cuda/numba/cuda/tests/cudadrv/test_device_array_manipulation.py
  numba_cuda/numba/cuda/tests/cudapy/test_array_manipulation.py
Owners: @rapidsai/numba-cuda-write

Revert "fix(errors): restore CUDA exception hierarchy to avoid slow string compilation (#796)"
  numba_cuda/numba/cuda/core/errors.py
  numba_cuda/numba/cuda/tests/cudapy/test_errors.py
  pixi.lock
Owners: @rapidsai/numba-cuda-write

Revert "Always use `core` errors if `numba` is present (#634)"
  ci/test_thirdparty_cudf.sh
  numba_cuda/numba/cuda/core/cuda_errors.py
  numba_cuda/numba/cuda/core/errors.py
Owners: @rapidsai/ci-codeowners, @rapidsai/numba-cuda-write

test(errors): add regression test for slow string arg compilation (#755)
  numba_cuda/numba/cuda/tests/cudapy/test_errors.py
Owners: @rapidsai/numba-cuda-write

style(errors): fix ruff B018 useless-expression lints in restored errors.py
  numba_cuda/numba/cuda/core/errors.py
Owners: @rapidsai/numba-cuda-write

chore(lock): sync pixi.lock build hashes
  pixi.lock
Owners: none

fix: preserve inlined overload dependencies in CUDA DCE
  numba_cuda/numba/cuda/core/analysis.py
  numba_cuda/numba/cuda/core/ir_utils.py
  numba_cuda/numba/cuda/tests/cudapy/test_numba_interop.py
Owners: @rapidsai/numba-cuda-write

fix: use list_vars fallback in compat node helper
  numba_cuda/numba/cuda/core/ir_utils.py
Owners: @rapidsai/numba-cuda-write

fix(test): ignore all NumbaPerformanceWarning grid size warnings in pytest
  testing/pytest.ini
Owners: none

Revert exception hierarchy unification (#634) and its fix (#796) (#816)
  ci/test_thirdparty_cudf.sh
  numba_cuda/numba/cuda/core/cuda_errors.py
  numba_cuda/numba/cuda/core/errors.py
  numba_cuda/numba/cuda/tests/cudapy/test_errors.py
  pixi.lock
  testing/pytest.ini
Owners: @rapidsai/ci-codeowners, @rapidsai/numba-cuda-write

Bump version to 0.28.0
  numba_cuda/VERSION
  pixi.toml
Owners: @rapidsai/numba-cuda-write

Revert "Infer array layout from shape/strides in typeof for StridedMemoryView."
  numba_cuda/numba/cuda/typing/typeof.py
Owners: @rapidsai/numba-cuda-write

relax cuda-core lower bound in packaging and add version check to test
  numba_cuda/numba/cuda/tests/cudapy/test_cupy_bfloat16_interop.py
  pyproject.toml
Owners: @rapidsai/numba-cuda-write, @rapidsai/packaging-codeowners

fix linter error
  numba_cuda/numba/cuda/tests/cudapy/test_cupy_bfloat16_interop.py
Owners: @rapidsai/numba-cuda-write

cuda-bindings validates/errors for us
  numba_cuda/numba/cuda/cudadrv/nvvm.py
  numba_cuda/numba/cuda/simulator/cudadrv/nvvm.py
  numba_cuda/numba/cuda/tests/cudadrv/test_nvvm_driver.py
Owners: @rapidsai/numba-cuda-write

.github/CODEOWNERS:

#python code owners
numba_cuda/            @rapidsai/numba-cuda-write

#cmake code owners
**/CMakeLists.txt  @rapidsai/numba-cuda-write
**/cmake/          @rapidsai/numba-cuda-write

#CI code owners
/.github/                @rapidsai/ci-codeowners
/ci/                     @rapidsai/ci-codeowners
/.pre-commit-config.yaml @rapidsai/ci-codeowners

#packaging code owners
/.devcontainer/    @rapidsai/packaging-codeowners
/conda/            @rapidsai/packaging-codeowners
/dependencies.yaml @rapidsai/packaging-codeowners
/build.sh          @rapidsai/packaging-codeowners
pyproject.toml     @rapidsai/packaging-codeowners
