Repository NVIDIA/numba-cuda, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rapidsai/numba-cuda-write, @rapidsai/ci-codeowners, @rapidsai/packaging-codeowners

.github/CODEOWNERS:

#python code owners
numba_cuda/            @rapidsai/numba-cuda-write

#cmake code owners
**/CMakeLists.txt  @rapidsai/numba-cuda-write
**/cmake/          @rapidsai/numba-cuda-write

#CI code owners
/.github/                @rapidsai/ci-codeowners
/ci/                     @rapidsai/ci-codeowners
/.pre-commit-config.yaml @rapidsai/ci-codeowners

#packaging code owners
/.devcontainer/    @rapidsai/packaging-codeowners
/conda/            @rapidsai/packaging-codeowners
/dependencies.yaml @rapidsai/packaging-codeowners
/build.sh          @rapidsai/packaging-codeowners
pyproject.toml     @rapidsai/packaging-codeowners

Vendor in generators and removerefctpass for CUDA-specific changes
  numba_cuda/numba/cuda/core/generators.py
  numba_cuda/numba/cuda/core/removerefctpass.py
Owners: @rapidsai/numba-cuda-write

simpler
  numba_cuda/numba/cuda/cuda_paths.py
  numba_cuda/numba/cuda/cudadrv/libs.py
Owners: @rapidsai/numba-cuda-write

clean
  numba_cuda/numba/cuda/cudadrv/libs.py
Owners: @rapidsai/numba-cuda-write

Fix types imports in nrt
  numba_cuda/numba/cuda/memory_management/nrt.py
Owners: @rapidsai/numba-cuda-write

Add type-mapping for Records
  numba_cuda/numba/cuda/core/sigutils.py
  numba_cuda/numba/cuda/core/typeinfer.py
Owners: @rapidsai/numba-cuda-write

refactor: remove unnecessary custom map and set implementations (#530)
  numba_cuda/numba/cuda/core/ssa.py
  numba_cuda/numba/cuda/lowering.py
  numba_cuda/numba/cuda/utils.py
Owners: @rapidsai/numba-cuda-write

Remove duplicate registry declarations in typing submodules
  numba_cuda/numba/cuda/typing/arraydecl.py
  numba_cuda/numba/cuda/typing/builtins.py
  numba_cuda/numba/cuda/typing/collections.py
  numba_cuda/numba/cuda/typing/npdatetime.py
Owners: @rapidsai/numba-cuda-write

small fixes
  numba_cuda/numba/cuda/cuda_paths.py
Owners: @rapidsai/numba-cuda-write

fix breaking merge commit
  numba_cuda/numba/cuda/utils.py
Owners: @rapidsai/numba-cuda-write

[Testing] Add some numpy array testing for the CUDA target
  numba_cuda/numba/cuda/__init__.py
  numba_cuda/numba/cuda/np/arrayobj.py
  numba_cuda/numba/cuda/simulator/api.py
  numba_cuda/numba/cuda/target.py
  numba_cuda/numba/cuda/tests/test_array_attr.py
  numba_cuda/numba/cuda/tests/test_array_constants.py
  numba_cuda/numba/cuda/tests/test_array_iterators.py
  numba_cuda/numba/cuda/typing/context.py
  numba_cuda/numba/cuda/ufuncs.py
Owners: @rapidsai/numba-cuda-write

fix sim failures
  numba_cuda/numba/cuda/simulator/memory_management/nrt.py
  numba_cuda/numba/cuda/tests/test_array_attr.py
  numba_cuda/numba/cuda/tests/test_array_iterators.py
Owners: @rapidsai/numba-cuda-write

perf: remove context threading in various pointer abstractions
  numba_cuda/numba/cuda/api.py
  numba_cuda/numba/cuda/cudadrv/devicearray.py
  numba_cuda/numba/cuda/cudadrv/driver.py
  numba_cuda/numba/cuda/tests/cudadrv/test_cuda_memory.py
  numba_cuda/numba/cuda/tests/cudadrv/test_emm_plugins.py
Owners: @rapidsai/numba-cuda-write

perf: remove `require_context` from `from_cuda_array_interface`
  numba_cuda/numba/cuda/api.py
Owners: @rapidsai/numba-cuda-write

perf: forward dummy array shape, strides, and size to avoid recomputation/construction overhead
  numba_cuda/numba/cuda/cudadrv/devicearray.py
Owners: @rapidsai/numba-cuda-write

perf: use local variables in device array constructor where applicable
  numba_cuda/numba/cuda/cudadrv/devicearray.py
Owners: @rapidsai/numba-cuda-write

perf: reduce the number of `__cuda_array_interface__` accesses
  numba_cuda/numba/cuda/api.py
  numba_cuda/numba/cuda/cudadrv/devicearray.py
Owners: @rapidsai/numba-cuda-write

Revert target_extension vendoring
  numba_cuda/numba/cuda/compiler.py
  numba_cuda/numba/cuda/core/base.py
  numba_cuda/numba/cuda/core/target_extension.py
  numba_cuda/numba/cuda/dispatcher.py
  numba_cuda/numba/cuda/initialize.py
  numba_cuda/numba/cuda/lowering.py
  numba_cuda/numba/cuda/tests/core/test_serialize.py
  numba_cuda/numba/cuda/types/functions.py
  numba_cuda/numba/cuda/typing/context.py
  numba_cuda/numba/cuda/typing/templates.py
  numba_cuda/numba/cuda/utils.py
Owners: @rapidsai/numba-cuda-write

chore(perf): add torch to benchmark
  numba_cuda/numba/cuda/tests/benchmarks/test_kernel_launch.py
  pixi.lock
  pyproject.toml
Owners: @rapidsai/numba-cuda-write, @rapidsai/packaging-codeowners

chore(deps): constrain torch to 2.x
  pixi.lock
  pyproject.toml
Owners: @rapidsai/packaging-codeowners

chore(deps): add torch to cu12 env
  pixi.lock
  pyproject.toml
Owners: @rapidsai/packaging-codeowners

perf: reduce the number of `__cuda_array_interface__` accesses (#538)
  numba_cuda/numba/cuda/api.py
  numba_cuda/numba/cuda/cudadrv/devicearray.py
Owners: @rapidsai/numba-cuda-write

perf: remove context threading in various pointer abstractions (#536)
  numba_cuda/numba/cuda/api.py
  numba_cuda/numba/cuda/cudadrv/devicearray.py
  numba_cuda/numba/cuda/cudadrv/driver.py
  numba_cuda/numba/cuda/tests/cudadrv/test_cuda_memory.py
  numba_cuda/numba/cuda/tests/cudadrv/test_emm_plugins.py
Owners: @rapidsai/numba-cuda-write

perf: speed up kernel launch (#510)
  numba_cuda/numba/cuda/args.py
  numba_cuda/numba/cuda/cudadrv/devicearray.py
  numba_cuda/numba/cuda/cudadrv/devices.py
  numba_cuda/numba/cuda/cudadrv/driver.py
  numba_cuda/numba/cuda/dispatcher.py
  numba_cuda/numba/cuda/simulator/kernel.py
Owners: @rapidsai/numba-cuda-write

test: speed up ipc tests by ~6.5x (#527)
  numba_cuda/numba/cuda/tests/cudapy/test_ipc.py
Owners: @rapidsai/numba-cuda-write

chore(perf): add torch to benchmark (#539)
  numba_cuda/numba/cuda/tests/benchmarks/test_kernel_launch.py
  pixi.lock
  pyproject.toml
Owners: @rapidsai/numba-cuda-write, @rapidsai/packaging-codeowners

perf: remove duplicated size computation (#537)
  numba_cuda/numba/cuda/cudadrv/devicearray.py
Owners: @rapidsai/numba-cuda-write

feat: update docs
  docs/source/user/cudapysupported.rst
Owners: none

feat: docs
  docs/source/user/cudapysupported.rst
Owners: none

feat: add math.exp2
  numba_cuda/numba/cuda/bf16.py
  numba_cuda/numba/cuda/cudamath.py
  numba_cuda/numba/cuda/fp16.py
  numba_cuda/numba/cuda/mathimpl.py
  numba_cuda/numba/cuda/tests/cudapy/test_bfloat16.py
  numba_cuda/numba/cuda/tests/cudapy/test_math.py
  numba_cuda/numba/cuda/typing/mathdecl.py
Owners: @rapidsai/numba-cuda-write

nit
  numba_cuda/numba/cuda/fp16.py
Owners: @rapidsai/numba-cuda-write

fix: fp16 check python version
  numba_cuda/numba/cuda/fp16.py
Owners: @rapidsai/numba-cuda-write

fix: pre-commit
  numba_cuda/numba/cuda/bf16.py
  numba_cuda/numba/cuda/cudamath.py
  numba_cuda/numba/cuda/fp16.py
  numba_cuda/numba/cuda/tests/cudapy/test_math.py
  numba_cuda/numba/cuda/typing/mathdecl.py
Owners: @rapidsai/numba-cuda-write

initial
  docs/source/user/ipc.rst
  docs/source/user/memory.rst
  numba_cuda/numba/cuda/api.py
  numba_cuda/numba/cuda/args.py
  numba_cuda/numba/cuda/cudadrv/devicearray.py
  numba_cuda/numba/cuda/cudadrv/driver.py
  numba_cuda/numba/cuda/kernels/transpose.py
  numba_cuda/numba/cuda/vectorizers.py
Owners: @rapidsai/numba-cuda-write

Apply suggestions from code review
  numba_cuda/numba/cuda/cpython/listobj.py
  numba_cuda/numba/cuda/memory_management/nrt.cu
Owners: @rapidsai/numba-cuda-write

chore: benchcmp by name to make per-benchmark comparisons easier
  pixi.lock
  pyproject.toml
Owners: @rapidsai/packaging-codeowners

perf: cache `_fill_stride_by_order`
  numba_cuda/numba/cuda/api_util.py
Owners: @rapidsai/numba-cuda-write

perf: cache `Array.from_desc`
  numba_cuda/numba/cuda/cudadrv/dummyarray.py
Owners: @rapidsai/numba-cuda-write

perf: cache `memory_size_from_info`
  numba_cuda/numba/cuda/cudadrv/driver.py
Owners: @rapidsai/numba-cuda-write

perf: move type checking into cached function
  numba_cuda/numba/cuda/cudadrv/devicearray.py
  numba_cuda/numba/cuda/cudadrv/dummyarray.py
Owners: @rapidsai/numba-cuda-write

refactor: make shape and strides definitely tuples
  numba_cuda/numba/cuda/cudadrv/devicearray.py
  numba_cuda/numba/cuda/cudadrv/dummyarray.py
Owners: @rapidsai/numba-cuda-write
