Repository NVIDIA/numba-cuda, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rapidsai/numba-cuda-write, @rapidsai/ci-codeowners, @rapidsai/packaging-codeowners

.github/CODEOWNERS:

#python code owners
numba_cuda/            @rapidsai/numba-cuda-write

#cmake code owners
**/CMakeLists.txt  @rapidsai/numba-cuda-write
**/cmake/          @rapidsai/numba-cuda-write

#CI code owners
/.github/                @rapidsai/ci-codeowners
/ci/                     @rapidsai/ci-codeowners
/.pre-commit-config.yaml @rapidsai/ci-codeowners

#packaging code owners
/.devcontainer/    @rapidsai/packaging-codeowners
/conda/            @rapidsai/packaging-codeowners
/dependencies.yaml @rapidsai/packaging-codeowners
/build.sh          @rapidsai/packaging-codeowners
pyproject.toml     @rapidsai/packaging-codeowners

reset in TestHostAlloc
  numba_cuda/numba/cuda/tests/cudadrv/test_host_alloc.py
Owners: @rapidsai/numba-cuda-write

specify cuda target for overload/overload_method
  numba_cuda/numba/cuda/cpython/builtins.py
  numba_cuda/numba/cuda/cpython/charseq.py
  numba_cuda/numba/cuda/cpython/enumimpl.py
  numba_cuda/numba/cuda/cpython/listobj.py
  numba_cuda/numba/cuda/cpython/rangeobj.py
  numba_cuda/numba/cuda/cpython/tupleobj.py
  numba_cuda/numba/cuda/cpython/unicode.py
  numba_cuda/numba/cuda/cpython/unicode_support.py
Owners: @rapidsai/numba-cuda-write

Update numba_cuda/numba/cuda/extending.py
  numba_cuda/numba/cuda/extending.py
Owners: @rapidsai/numba-cuda-write

specify cuda target on overload/overload_method
  numba_cuda/numba/cuda/np/arraymath.py
  numba_cuda/numba/cuda/np/arrayobj.py
  numba_cuda/numba/cuda/np/linalg.py
  numba_cuda/numba/cuda/np/math/cmathimpl.py
  numba_cuda/numba/cuda/np/math/mathimpl.py
  numba_cuda/numba/cuda/np/npdatetime.py
  numba_cuda/numba/cuda/np/npyimpl.py
  numba_cuda/numba/cuda/np/polynomial/polynomial_functions.py
Owners: @rapidsai/numba-cuda-write

remove cuda target post PR 511
  numba_cuda/numba/cuda/np/arraymath.py
  numba_cuda/numba/cuda/np/arrayobj.py
  numba_cuda/numba/cuda/np/linalg.py
  numba_cuda/numba/cuda/np/math/cmathimpl.py
  numba_cuda/numba/cuda/np/math/mathimpl.py
  numba_cuda/numba/cuda/np/npdatetime.py
  numba_cuda/numba/cuda/np/npyfuncs.py
  numba_cuda/numba/cuda/np/npyimpl.py
  numba_cuda/numba/cuda/np/polynomial/polynomial_functions.py
Owners: @rapidsai/numba-cuda-write

remove target=cuda post PR #511
  numba_cuda/numba/cuda/cpython/builtins.py
  numba_cuda/numba/cuda/cpython/charseq.py
  numba_cuda/numba/cuda/cpython/cmathimpl.py
  numba_cuda/numba/cuda/cpython/enumimpl.py
  numba_cuda/numba/cuda/cpython/listobj.py
  numba_cuda/numba/cuda/cpython/mathimpl.py
  numba_cuda/numba/cuda/cpython/rangeobj.py
  numba_cuda/numba/cuda/cpython/tupleobj.py
  numba_cuda/numba/cuda/cpython/unicode.py
  numba_cuda/numba/cuda/cpython/unicode_support.py
Owners: @rapidsai/numba-cuda-write

Vendor in _helperlib cext for CUDA-specific changes
  numba_cuda/numba/cuda/cext/_helperlib.c
  numba_cuda/numba/cuda/cext/_helpermod.c
  numba_cuda/numba/cuda/core/base.py
  numba_cuda/numba/cuda/core/environment.py
  numba_cuda/numba/cuda/core/pythonapi.py
  numba_cuda/numba/cuda/cpython/unicode.py
  numba_cuda/numba/cuda/extending.py
  setup.py
Owners: @rapidsai/numba-cuda-write

Make the CUDA target the default for CUDA overload decorators (#511)
  numba_cuda/numba/cuda/extending.py
Owners: @rapidsai/numba-cuda-write

[Refactor][NFC] Vendor-in numba.np modules for future CUDA-specific changes (#494)
  numba_cuda/numba/cuda/core/base.py
  numba_cuda/numba/cuda/core/config.py
  numba_cuda/numba/cuda/core/inline_closurecall.py
  numba_cuda/numba/cuda/cudadrv/devicearray.py
  numba_cuda/numba/cuda/cudaimpl.py
  numba_cuda/numba/cuda/kernels/reduction.py
  numba_cuda/numba/cuda/kernels/transpose.py
  numba_cuda/numba/cuda/misc/cffiimpl.py
  numba_cuda/numba/cuda/np/arraymath.py
  numba_cuda/numba/cuda/np/arrayobj.py
  numba_cuda/numba/cuda/np/extensions.py
  numba_cuda/numba/cuda/np/linalg.py
  numba_cuda/numba/cuda/np/math/__init__.py
  numba_cuda/numba/cuda/np/math/cmathimpl.py
  numba_cuda/numba/cuda/np/math/mathimpl.py
  numba_cuda/numba/cuda/np/math/numbers.py
  numba_cuda/numba/cuda/np/npdatetime.py
  numba_cuda/numba/cuda/np/npyfuncs.py
  numba_cuda/numba/cuda/np/npyimpl.py
  numba_cuda/numba/cuda/np/numpy_support.py
  numba_cuda/numba/cuda/np/polynomial/__init__.py
  numba_cuda/numba/cuda/np/polynomial/polynomial_core.py
  numba_cuda/numba/cuda/np/polynomial/polynomial_functions.py
  numba_cuda/numba/cuda/np/ufunc/sigparse.py
  numba_cuda/numba/cuda/np/ufunc/ufuncbuilder.py
  numba_cuda/numba/cuda/np/ufunc_db.py
  numba_cuda/numba/cuda/np/unsafe/__init__.py
  numba_cuda/numba/cuda/np/unsafe/ndarray.py
  numba_cuda/numba/cuda/target.py
  numba_cuda/numba/cuda/tests/cudapy/test_ufuncs.py
  numba_cuda/numba/cuda/tests/nocuda/test_import.py
Owners: @rapidsai/numba-cuda-write

[Refactor][NFC] Vendor-in numba.cpython modules for future CUDA-specific changes (#493)
  numba_cuda/numba/cuda/core/inline_closurecall.py
  numba_cuda/numba/cuda/core/interpreter.py
  numba_cuda/numba/cuda/cpython/builtins.py
  numba_cuda/numba/cuda/cpython/charseq.py
  numba_cuda/numba/cuda/cpython/cmathimpl.py
  numba_cuda/numba/cuda/cpython/enumimpl.py
  numba_cuda/numba/cuda/cpython/listobj.py
  numba_cuda/numba/cuda/cpython/mathimpl.py
  numba_cuda/numba/cuda/cpython/numbers.py
  numba_cuda/numba/cuda/cpython/rangeobj.py
  numba_cuda/numba/cuda/cpython/tupleobj.py
  numba_cuda/numba/cuda/cpython/unicode.py
  numba_cuda/numba/cuda/cpython/unicode_support.py
  numba_cuda/numba/cuda/cpython/unsafe/__init__.py
  numba_cuda/numba/cuda/cpython/unsafe/numbers.py
  numba_cuda/numba/cuda/cpython/unsafe/tuple.py
  numba_cuda/numba/cuda/target.py
  numba_cuda/numba/cuda/tests/nocuda/test_import.py
Owners: @rapidsai/numba-cuda-write

Update numba_cuda/numba/cuda/cudadrv/nvrtc.py
  numba_cuda/numba/cuda/cudadrv/nvrtc.py
Owners: @rapidsai/numba-cuda-write

Update numba_cuda/numba/cuda/cudadrv/nvrtc.py
  numba_cuda/numba/cuda/cudadrv/nvrtc.py
Owners: @rapidsai/numba-cuda-write

Update numba_cuda/numba/cuda/cudadrv/nvrtc.py
  numba_cuda/numba/cuda/cudadrv/nvrtc.py
Owners: @rapidsai/numba-cuda-write

fix tests
  numba_cuda/numba/cuda/testing.py
  numba_cuda/numba/cuda/tests/cudadrv/test_context_stack.py
  numba_cuda/numba/cuda/tests/cudadrv/test_emm_plugins.py
Owners: @rapidsai/numba-cuda-write

remove ContextResettingTestCase
  numba_cuda/numba/cuda/testing.py
  numba_cuda/numba/cuda/tests/cudadrv/test_managed_alloc.py
Owners: @rapidsai/numba-cuda-write

removing import guards
  numba_cuda/numba/cuda/cudadrv/nvrtc.py
Owners: @rapidsai/numba-cuda-write

adding cuda_bindings and cuda_core as explicit dependencies
  pyproject.toml
Owners: @rapidsai/packaging-codeowners

updating bindings.rst
  docs/source/user/bindings.rst
Owners: none

updating installation.rst
  docs/source/user/installation.rst
Owners: none

removing backwards compat branch
  numba_cuda/numba/cuda/codegen.py
Owners: @rapidsai/numba-cuda-write

updating cuda-pathfinder to official docs url
  docs/source/user/installation.rst
Owners: none

Removing CUDA_ENABLE_PYNVJITLINK
  numba_cuda/numba/cuda/__init__.py
Owners: @rapidsai/numba-cuda-write

fixing linter errors
  numba_cuda/numba/cuda/cudadrv/driver.py
Owners: @rapidsai/numba-cuda-write

[Refactor][NFC] Vendor-in vectorize decorators for future CUDA-specific changes
  numba_cuda/numba/cuda/__init__.py
  numba_cuda/numba/cuda/np/ufunc/__init__.py
  numba_cuda/numba/cuda/np/ufunc/decorators.py
  numba_cuda/numba/cuda/tests/cudapy/test_vectorize.py
  numba_cuda/numba/cuda/tests/cudapy/test_vectorize_complex.py
  numba_cuda/numba/cuda/tests/cudapy/test_vectorize_decor.py
  numba_cuda/numba/cuda/tests/cudapy/test_vectorize_device.py
  numba_cuda/numba/cuda/tests/cudapy/test_vectorize_scalar_arg.py
Owners: @rapidsai/numba-cuda-write

perf
  numba_cuda/numba/cuda/dispatcher.py
Owners: @rapidsai/numba-cuda-write

test
  numba_cuda/numba/cuda/dispatcher.py
  numba_cuda/numba/cuda/tests/cudapy/test_extending.py
Owners: @rapidsai/numba-cuda-write

plumbing through debug and lineinfo parameters
  numba_cuda/numba/cuda/codegen.py
  numba_cuda/numba/cuda/cudadrv/driver.py
  numba_cuda/numba/cuda/cudadrv/nvrtc.py
  numba_cuda/numba/cuda/simulator/cudadrv/nvrtc.py
  numba_cuda/numba/cuda/tests/cudadrv/test_linker.py
Owners: @rapidsai/numba-cuda-write

reformatting
  numba_cuda/numba/cuda/cudadrv/driver.py
  numba_cuda/numba/cuda/tests/cudadrv/test_linker.py
Owners: @rapidsai/numba-cuda-write

Revert "reformatting"
  numba_cuda/numba/cuda/cudadrv/driver.py
  numba_cuda/numba/cuda/tests/cudadrv/test_linker.py
Owners: @rapidsai/numba-cuda-write

Revert "plumbing through debug and lineinfo parameters"
  numba_cuda/numba/cuda/codegen.py
  numba_cuda/numba/cuda/cudadrv/driver.py
  numba_cuda/numba/cuda/cudadrv/nvrtc.py
  numba_cuda/numba/cuda/simulator/cudadrv/nvrtc.py
  numba_cuda/numba/cuda/tests/cudadrv/test_linker.py
Owners: @rapidsai/numba-cuda-write

Fixing CI
  numba_cuda/numba/cuda/api.py
Owners: @rapidsai/numba-cuda-write

wip
  numba_cuda/numba/cuda/api.py
  numba_cuda/numba/cuda/tests/cudapy/test_compiler.py
Owners: @rapidsai/numba-cuda-write

wip
  numba_cuda/numba/cuda/core/config.py
Owners: @rapidsai/numba-cuda-write

Vendor in imputils module
  numba_cuda/numba/cuda/_internal/cuda_bf16.py
  numba_cuda/numba/cuda/_internal/cuda_fp16.py
  numba_cuda/numba/cuda/core/base.py
  numba_cuda/numba/cuda/core/imputils.py
  numba_cuda/numba/cuda/core/inline_closurecall.py
  numba_cuda/numba/cuda/core/optional.py
  numba_cuda/numba/cuda/core/pythonapi.py
  numba_cuda/numba/cuda/cpython/builtins.py
  numba_cuda/numba/cuda/cpython/charseq.py
  numba_cuda/numba/cuda/cpython/cmathimpl.py
  numba_cuda/numba/cuda/cpython/enumimpl.py
  numba_cuda/numba/cuda/cpython/iterators.py
  numba_cuda/numba/cuda/cpython/listobj.py
  numba_cuda/numba/cuda/cpython/mathimpl.py
  numba_cuda/numba/cuda/cpython/numbers.py
  numba_cuda/numba/cuda/cpython/rangeobj.py
  numba_cuda/numba/cuda/cpython/slicing.py
  numba_cuda/numba/cuda/cpython/tupleobj.py
  numba_cuda/numba/cuda/cpython/unicode.py
  numba_cuda/numba/cuda/cpython/unicode_support.py
  numba_cuda/numba/cuda/cudaimpl.py
  numba_cuda/numba/cuda/extending.py
  numba_cuda/numba/cuda/libdeviceimpl.py
  numba_cuda/numba/cuda/mathimpl.py
  numba_cuda/numba/cuda/misc/cffiimpl.py
  numba_cuda/numba/cuda/np/arraymath.py
  numba_cuda/numba/cuda/np/arrayobj.py
  numba_cuda/numba/cuda/np/linalg.py
  numba_cuda/numba/cuda/np/math/cmathimpl.py
  numba_cuda/numba/cuda/np/math/mathimpl.py
  numba_cuda/numba/cuda/np/math/numbers.py
  numba_cuda/numba/cuda/np/npdatetime.py
  numba_cuda/numba/cuda/np/npyfuncs.py
  numba_cuda/numba/cuda/np/npyimpl.py
  numba_cuda/numba/cuda/np/polynomial/polynomial_core.py
  numba_cuda/numba/cuda/np/unsafe/ndarray.py
  numba_cuda/numba/cuda/printimpl.py
  numba_cuda/numba/cuda/tests/test_extending_types.py
  numba_cuda/numba/cuda/vector_types.py
Owners: @rapidsai/numba-cuda-write

Vendor the datamodel modules
  numba_cuda/numba/cuda/core/datamodel/__init__.py
  numba_cuda/numba/cuda/core/datamodel/manager.py
  numba_cuda/numba/cuda/core/datamodel/models.py
  numba_cuda/numba/cuda/core/datamodel/packer.py
  numba_cuda/numba/cuda/core/datamodel/registry.py
  numba_cuda/numba/cuda/core/datamodel/testing.py
  numba_cuda/numba/cuda/tests/cudapy/test_datamodel.py
Owners: @rapidsai/numba-cuda-write

Update imports
  numba_cuda/numba/cuda/_internal/cuda_bf16.py
  numba_cuda/numba/cuda/_internal/cuda_fp16.py
  numba_cuda/numba/cuda/cgutils.py
  numba_cuda/numba/cuda/core/datamodel/testing.py
  numba_cuda/numba/cuda/cudaimpl.py
  numba_cuda/numba/cuda/debuginfo.py
  numba_cuda/numba/cuda/extending.py
  numba_cuda/numba/cuda/models.py
  numba_cuda/numba/cuda/target.py
  numba_cuda/numba/cuda/tests/cudapy/test_datamodel.py
Owners: @rapidsai/numba-cuda-write

Fix imports
  numba_cuda/numba/cuda/cpython/unicode.py
  numba_cuda/numba/cuda/tests/support.py
  numba_cuda/numba/cuda/vector_types.py
Owners: @rapidsai/numba-cuda-write

Revert "wip"
  numba_cuda/numba/cuda/core/config.py
Owners: @rapidsai/numba-cuda-write

Fix import from merge commit
  numba_cuda/numba/cuda/extending.py
Owners: @rapidsai/numba-cuda-write

Reapply "plumbing through debug and lineinfo parameters"
  numba_cuda/numba/cuda/codegen.py
  numba_cuda/numba/cuda/cudadrv/driver.py
  numba_cuda/numba/cuda/cudadrv/nvrtc.py
  numba_cuda/numba/cuda/simulator/cudadrv/nvrtc.py
  numba_cuda/numba/cuda/tests/cudadrv/test_linker.py
Owners: @rapidsai/numba-cuda-write
