Repository NVIDIA/numba-cuda, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rapidsai/numba-cuda-write, @rapidsai/ci-codeowners, @rapidsai/packaging-codeowners

.github/CODEOWNERS:

#python code owners
numba_cuda/            @rapidsai/numba-cuda-write

#cmake code owners
**/CMakeLists.txt  @rapidsai/numba-cuda-write
**/cmake/          @rapidsai/numba-cuda-write

#CI code owners
/.github/                @rapidsai/ci-codeowners
/ci/                     @rapidsai/ci-codeowners
/.pre-commit-config.yaml @rapidsai/ci-codeowners

#packaging code owners
/.devcontainer/    @rapidsai/packaging-codeowners
/conda/            @rapidsai/packaging-codeowners
/dependencies.yaml @rapidsai/packaging-codeowners
/build.sh          @rapidsai/packaging-codeowners
pyproject.toml     @rapidsai/packaging-codeowners

update comment
  testing/Makefile
Owners: none

only show stats on Linux
  .github/workflows/build-wheel.yml
Owners: @rapidsai/ci-codeowners

don't use disk cache
  .github/workflows/build-wheel.yml
Owners: @rapidsai/ci-codeowners

enable caching in build-tests job
  .github/workflows/build-wheel.yml
Owners: @rapidsai/ci-codeowners

remove unused SCCACHE_DIR
  ci/tools/env-vars
Owners: @rapidsai/ci-codeowners

enable and store preprocessor cache in GHA cache
  .github/workflows/build-wheel.yml
Owners: @rapidsai/ci-codeowners

remove SCCACHE_GHA_PREPROCESSOR_CACHE_KEY_PREFIX
  .github/workflows/build-wheel.yml
Owners: @rapidsai/ci-codeowners

remove unused code
  numba_cuda/numba/cuda/core/config.py
  numba_cuda/numba/cuda/testing.py
Owners: @rapidsai/numba-cuda-write

test: wrap tuple in a tuple invocation to workaround numba bug
  numba_cuda/numba/cuda/tests/cudapy/test_vector_type.py
Owners: @rapidsai/numba-cuda-write

dev: add cuda 13.1, python 3.14 features, and env
  pixi.lock
  pixi.toml
Owners: none

Use `rapidsai/sccache` in CI (#674)
  .github/workflows/build-wheel.yml
  ci/tools/env-vars
  testing/Makefile
Owners: @rapidsai/ci-codeowners

Remove dangling references to NUMBA_CUDA_ENABLE_MINOR_VERSION_COMPATIBILITY (#675)
  numba_cuda/numba/cuda/core/config.py
  numba_cuda/numba/cuda/testing.py
Owners: @rapidsai/numba-cuda-write

test: xfail for log base with inf+nanj as base input
  numba_cuda/numba/cuda/tests/cudapy/test_complex.py
Owners: @rapidsai/numba-cuda-write

chore: regen pixi lockfile
  pixi.lock
Owners: none

chore(dev): add pixi env for cuda 13.0 and python 3.14
  pixi.lock
  pixi.toml
Owners: none

chore: fix unintended operator precedence issue
  numba_cuda/numba/cuda/cext/_typeof.cpp
Owners: @rapidsai/numba-cuda-write

checkpointing 121825
  numba_cuda/numba/cuda/compiler.py
  numba_cuda/numba/cuda/core/base.py
  numba_cuda/numba/cuda/core/callconv.py
  numba_cuda/numba/cuda/core/compiler.py
  numba_cuda/numba/cuda/core/funcdesc.py
  numba_cuda/numba/cuda/core/imputils.py
  numba_cuda/numba/cuda/core/typed_passes.py
  numba_cuda/numba/cuda/flags.py
  numba_cuda/numba/cuda/lowering.py
  numba_cuda/numba/cuda/target.py
  numba_cuda/numba/cuda/tests/cudadrv/test_reset_device.py
Owners: @rapidsai/numba-cuda-write

drop experimental namespace
  numba_cuda/numba/cuda/cudadrv/driver.py
  numba_cuda/numba/cuda/cudadrv/nvrtc.py
  numba_cuda/numba/cuda/dispatcher.py
  numba_cuda/numba/cuda/memory_management/nrt.py
  numba_cuda/numba/cuda/tests/cudadrv/test_cuda_driver.py
  numba_cuda/numba/cuda/tests/cudadrv/test_events.py
  numba_cuda/numba/cuda/tests/cudadrv/test_module_callbacks.py
  numba_cuda/numba/cuda/tests/cudapy/test_compiler.py
Owners: @rapidsai/numba-cuda-write

LaunchConfig
  numba_cuda/numba/cuda/dispatcher.py
Owners: @rapidsai/numba-cuda-write

_compat.py
  numba_cuda/numba/cuda/_compat.py
  numba_cuda/numba/cuda/cudadrv/driver.py
  numba_cuda/numba/cuda/cudadrv/nvrtc.py
  numba_cuda/numba/cuda/dispatcher.py
  numba_cuda/numba/cuda/memory_management/nrt.py
  numba_cuda/numba/cuda/tests/cudadrv/test_cuda_driver.py
  numba_cuda/numba/cuda/tests/cudadrv/test_events.py
  numba_cuda/numba/cuda/tests/cudadrv/test_linker.py
  numba_cuda/numba/cuda/tests/cudadrv/test_module_callbacks.py
  numba_cuda/numba/cuda/tests/cudapy/test_compiler.py
  numba_cuda/numba/cuda/tests/cudapy/test_dispatcher.py
Owners: @rapidsai/numba-cuda-write

fixes
  conda/recipes/numba-cuda/meta.yaml
  numba_cuda/numba/cuda/_compat.py
  pixi.lock
  pixi.toml
  pyproject.toml
Owners: @rapidsai/packaging-codeowners, @rapidsai/numba-cuda-write

remove core
  numba_cuda/numba/cuda/tests/cudadrv/test_cuda_driver.py
Owners: @rapidsai/numba-cuda-write

extra objects
  numba_cuda/numba/cuda/_compat.py
Owners: @rapidsai/numba-cuda-write

pin pixi to 0.61.0
  .github/workflows/conda-python-tests.yaml
  .github/workflows/docs-build.yaml
  .github/workflows/simulator-test.yaml
Owners: @rapidsai/ci-codeowners

Drop `experimental` from cuda.core namespace imports (#676)
  .github/workflows/conda-python-tests.yaml
  .github/workflows/docs-build.yaml
  .github/workflows/simulator-test.yaml
  conda/recipes/numba-cuda/meta.yaml
  numba_cuda/numba/cuda/_compat.py
  numba_cuda/numba/cuda/cudadrv/driver.py
  numba_cuda/numba/cuda/cudadrv/nvrtc.py
  numba_cuda/numba/cuda/dispatcher.py
  numba_cuda/numba/cuda/memory_management/nrt.py
  numba_cuda/numba/cuda/tests/cudadrv/test_cuda_driver.py
  numba_cuda/numba/cuda/tests/cudadrv/test_events.py
  numba_cuda/numba/cuda/tests/cudadrv/test_linker.py
  numba_cuda/numba/cuda/tests/cudadrv/test_module_callbacks.py
  numba_cuda/numba/cuda/tests/cudapy/test_compiler.py
  numba_cuda/numba/cuda/tests/cudapy/test_dispatcher.py
  pixi.lock
  pixi.toml
  pyproject.toml
Owners: @rapidsai/ci-codeowners, @rapidsai/packaging-codeowners, @rapidsai/numba-cuda-write

backport
  .github/workflows/conda-python-tests.yaml
  .github/workflows/docs-build.yaml
  .github/workflows/simulator-test.yaml
  conda/recipes/numba-cuda/meta.yaml
  numba_cuda/numba/cuda/_compat.py
  numba_cuda/numba/cuda/cudadrv/driver.py
  numba_cuda/numba/cuda/cudadrv/nvrtc.py
  numba_cuda/numba/cuda/dispatcher.py
  numba_cuda/numba/cuda/memory_management/nrt.py
  numba_cuda/numba/cuda/tests/cudadrv/test_cuda_driver.py
  numba_cuda/numba/cuda/tests/cudadrv/test_events.py
  numba_cuda/numba/cuda/tests/cudadrv/test_linker.py
  numba_cuda/numba/cuda/tests/cudapy/test_compiler.py
  pixi.lock
  pixi.toml
  pyproject.toml
Owners: @rapidsai/ci-codeowners, @rapidsai/packaging-codeowners, @rapidsai/numba-cuda-write

version
  numba_cuda/VERSION
Owners: @rapidsai/numba-cuda-write

pixi
  pixi.lock
Owners: none

cleanup
  numba_cuda/numba/cuda/dispatcher.py
  numba_cuda/numba/cuda/memory_management/nrt.py
Owners: @rapidsai/numba-cuda-write

Backport 676 To 0.22 (#678)
  .github/workflows/conda-python-tests.yaml
  .github/workflows/docs-build.yaml
  .github/workflows/simulator-test.yaml
  conda/recipes/numba-cuda/meta.yaml
  numba_cuda/VERSION
  numba_cuda/numba/cuda/_compat.py
  numba_cuda/numba/cuda/cudadrv/driver.py
  numba_cuda/numba/cuda/cudadrv/nvrtc.py
  numba_cuda/numba/cuda/tests/cudadrv/test_cuda_driver.py
  numba_cuda/numba/cuda/tests/cudadrv/test_events.py
  numba_cuda/numba/cuda/tests/cudadrv/test_linker.py
  numba_cuda/numba/cuda/tests/cudapy/test_compiler.py
  pixi.lock
  pixi.toml
  pyproject.toml
Owners: @rapidsai/ci-codeowners, @rapidsai/packaging-codeowners, @rapidsai/numba-cuda-write

Minor tidy-up
  numba_cuda/numba/cuda/lowering.py
Owners: @rapidsai/numba-cuda-write

Remove customized address space tracking and address class emission in debug info (#669)
  numba_cuda/numba/cuda/debuginfo.py
  numba_cuda/numba/cuda/lowering.py
  numba_cuda/numba/cuda/tests/cudapy/test_debuginfo.py
Owners: @rapidsai/numba-cuda-write

pixi
  pixi.lock
Owners: none

Support python `3.14` (#599)
  .github/workflows/build-wheel.yml
  ci/test-matrix.json
  numba_cuda/numba/cuda/cext/_dispatcher.cpp
  numba_cuda/numba/cuda/cext/_hashtable.cpp
  numba_cuda/numba/cuda/cext/_pymodule.h
  numba_cuda/numba/cuda/cext/_typeof.cpp
  numba_cuda/numba/cuda/cext/mviewbuf.c
  numba_cuda/numba/cuda/core/bytecode.py
  numba_cuda/numba/cuda/core/byteflow.py
  numba_cuda/numba/cuda/core/controlflow.py
  numba_cuda/numba/cuda/core/interpreter.py
  numba_cuda/numba/cuda/cpython/unicode.py
  numba_cuda/numba/cuda/tests/cudapy/test_analysis.py
  numba_cuda/numba/cuda/tests/cudapy/test_complex.py
  numba_cuda/numba/cuda/tests/cudapy/test_debug.py
  numba_cuda/numba/cuda/tests/cudapy/test_extending.py
  numba_cuda/numba/cuda/tests/cudapy/test_vector_type.py
  numba_cuda/numba/cuda/tests/support.py
  numba_cuda/numba/cuda/typing/asnumbatype.py
  pixi.lock
  pixi.toml
Owners: @rapidsai/ci-codeowners, @rapidsai/numba-cuda-write

Pass the -numba-debug flag to libnvvm
  numba_cuda/numba/cuda/cudadrv/nvvm.py
Owners: @rapidsai/numba-cuda-write

fix: use freethreading-supported `_PySet_NextItemRef` where possible
  numba_cuda/numba/cuda/cext/_typeof.cpp
  numba_cuda/numba/cuda/core/pythonapi.py
Owners: @rapidsai/numba-cuda-write

chore: decref correctly
  numba_cuda/numba/cuda/cext/_typeof.cpp
Owners: @rapidsai/numba-cuda-write

chore: revert pythonapi changes
  numba_cuda/numba/cuda/core/pythonapi.py
Owners: @rapidsai/numba-cuda-write

chore: handle cleanup in _typeof
  numba_cuda/numba/cuda/cext/_typeof.cpp
Owners: @rapidsai/numba-cuda-write

chore: document the pythonapi hiccup
  numba_cuda/numba/cuda/core/pythonapi.py
Owners: @rapidsai/numba-cuda-write
