Repository NVIDIA/numba-cuda, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rapidsai/numba-cuda-write, @rapidsai/ci-codeowners, @rapidsai/packaging-codeowners

.github/CODEOWNERS:

#python code owners
numba_cuda/            @rapidsai/numba-cuda-write

#cmake code owners
**/CMakeLists.txt  @rapidsai/numba-cuda-write
**/cmake/          @rapidsai/numba-cuda-write

#CI code owners
/.github/                @rapidsai/ci-codeowners
/ci/                     @rapidsai/ci-codeowners
/.pre-commit-config.yaml @rapidsai/ci-codeowners

#packaging code owners
/.devcontainer/    @rapidsai/packaging-codeowners
/conda/            @rapidsai/packaging-codeowners
/dependencies.yaml @rapidsai/packaging-codeowners
/build.sh          @rapidsai/packaging-codeowners
pyproject.toml     @rapidsai/packaging-codeowners

Bump Version to 0.30.0
  numba_cuda/VERSION
  pixi.toml
Owners: @rapidsai/numba-cuda-write

Bump Version to 0.30.0 (#848)
  numba_cuda/VERSION
  pixi.toml
Owners: @rapidsai/numba-cuda-write

Revert CABI device functions to two-stage wrapper approach
  numba_cuda/numba/cuda/compiler.py
Owners: @rapidsai/numba-cuda-write

Use fndesc.call_conv instead of deprecated context.call_conv
  numba_cuda/numba/cuda/compiler.py
Owners: @rapidsai/numba-cuda-write

Fix CABI wrapper return type mismatch for boolean
  numba_cuda/numba/cuda/compiler.py
Owners: @rapidsai/numba-cuda-write

Fix CABI wrapper name for lambdas and unescaped function names
  numba_cuda/numba/cuda/compiler.py
Owners: @rapidsai/numba-cuda-write

[debug] Print NVVM verify log on verification failure
  numba_cuda/numba/cuda/cudadrv/nvvm.py
  pixi.lock
Owners: @rapidsai/numba-cuda-write

[debug] Include NVVM log in verification error message
  numba_cuda/numba/cuda/cudadrv/nvvm.py
Owners: @rapidsai/numba-cuda-write

[debug] Re-raise NVVM verify errors as nvvmError with log
  numba_cuda/numba/cuda/cudadrv/nvvm.py
Owners: @rapidsai/numba-cuda-write

[debug] Use NvvmSupportError for verify failures with log
  numba_cuda/numba/cuda/cudadrv/nvvm.py
Owners: @rapidsai/numba-cuda-write

Fix CABI wrapper default name: use underscore, not dot
  numba_cuda/numba/cuda/compiler.py
Owners: @rapidsai/numba-cuda-write

Use simple Python function name for C ABI wrapper
  numba_cuda/numba/cuda/compiler.py
  numba_cuda/numba/cuda/tests/cudapy/test_compiler.py
Owners: @rapidsai/numba-cuda-write

Fix CABI return type mismatch when calling Numba-ABI subroutines
  numba_cuda/numba/cuda/core/imputils.py
  numba_cuda/numba/cuda/tests/cudapy/test_compiler.py
Owners: @rapidsai/numba-cuda-write

Support interop with active green contexts
  GREEN_CONTEXT_SUPPORT.md
  numba_cuda/numba/cuda/api.py
  numba_cuda/numba/cuda/codegen.py
  numba_cuda/numba/cuda/cuda_paths.py
  numba_cuda/numba/cuda/cudadrv/devices.py
  numba_cuda/numba/cuda/cudadrv/driver.py
  numba_cuda/numba/cuda/cudadrv/nvrtc.py
  numba_cuda/numba/cuda/tests/cudadrv/test_context_stack.py
Owners: @rapidsai/numba-cuda-write

Remove temporary green context support note
  GREEN_CONTEXT_SUPPORT.md
Owners: none

add test of Numba ABI calling into CABI, check return code
  numba_cuda/numba/cuda/tests/cudapy/test_device_func.py
Owners: @rapidsai/numba-cuda-write

lower case cabi
  numba_cuda/numba/cuda/tests/cudapy/test_compiler.py
Owners: @rapidsai/numba-cuda-write

conform cabi casing
  numba_cuda/numba/cuda/tests/cudapy/test_compiler.py
Owners: @rapidsai/numba-cuda-write

Fix CABI return type mismatch when calling Numba-ABI subroutines (#852)
  numba_cuda/numba/cuda/core/imputils.py
  numba_cuda/numba/cuda/tests/cudapy/test_compiler.py
  numba_cuda/numba/cuda/tests/cudapy/test_device_func.py
Owners: @rapidsai/numba-cuda-write

fix: remove intermediate arrays in count non_zero
  numba_cuda/numba/cuda/np/arraymath.py
  numba_cuda/numba/cuda/tests/cudapy/test_array_reductions.py
Owners: @rapidsai/numba-cuda-write

chore: pre-commit
  numba_cuda/numba/cuda/tests/cudapy/test_array_reductions.py
Owners: @rapidsai/numba-cuda-write

Fix CUDA context leak in with cuda.gpus[N]: context manager
  numba_cuda/numba/cuda/cudadrv/driver.py
  numba_cuda/numba/cuda/tests/cudadrv/test_context_stack.py
Owners: @rapidsai/numba-cuda-write

Fix: only pop context when set_current() actually pushed one
  numba_cuda/numba/cuda/cudadrv/driver.py
Owners: @rapidsai/numba-cuda-write

Use get_cuda_native_handle instead of deprecated int() on context handles
  numba_cuda/numba/cuda/cudadrv/driver.py
Owners: @rapidsai/numba-cuda-write

fix: more robust testing
  numba_cuda/numba/cuda/tests/cudapy/test_array_reductions.py
Owners: @rapidsai/numba-cuda-write

fix: cleaner test
  numba_cuda/numba/cuda/tests/cudapy/test_array_reductions.py
Owners: @rapidsai/numba-cuda-write

nit
  numba_cuda/numba/cuda/tests/cudapy/test_array_reductions.py
Owners: @rapidsai/numba-cuda-write

Fix CUDA context leak in `with cuda.gpus[N]:` context manager (#855)
  numba_cuda/numba/cuda/cudadrv/driver.py
  numba_cuda/numba/cuda/tests/cudadrv/test_context_stack.py
Owners: @rapidsai/numba-cuda-write

fix: support np.count_nonzero in device functions (#854)
  numba_cuda/numba/cuda/np/arraymath.py
  numba_cuda/numba/cuda/tests/cudapy/test_array_reductions.py
Owners: @rapidsai/numba-cuda-write

Fix flaky test_max_pending_count by storing references to prevent premature GC
  numba_cuda/numba/cuda/tests/cudadrv/test_deallocations.py
Owners: @rapidsai/numba-cuda-write

sync with cuda-python and add 2-gpu runners (#814)
  .github/workflows/test-wheel-linux.yml
  .github/workflows/test-wheel-windows.yml
  ci/test-matrix.yml
Owners: @rapidsai/ci-codeowners

Sync CI with cuda-python
  .github/actions/fetch_ctk/action.yml
  .github/actions/sccache-summary/action.yml
  .github/workflows/build-wheel.yml
  .github/workflows/ci.yaml
  .github/workflows/publish.yaml
  .github/workflows/test-wheel-linux.yml
  .github/workflows/test-wheel-windows.yml
  .github/workflows/wheels-test.yaml
  ci/test-matrix.yml
Owners: @rapidsai/ci-codeowners

Add WSL runner entries to test matrix
  ci/test-matrix.yml
Owners: @rapidsai/ci-codeowners

Always run nvmath-python tests on PRs
  .github/workflows/ci.yaml
Owners: @rapidsai/ci-codeowners

stable rapids release
  ci/test_thirdparty_cudf.sh
Owners: @rapidsai/ci-codeowners

Sync CI with cuda-python (#858)
  .github/actions/fetch_ctk/action.yml
  .github/actions/sccache-summary/action.yml
  .github/workflows/build-wheel.yml
  .github/workflows/ci.yaml
  .github/workflows/publish.yaml
  .github/workflows/test-wheel-linux.yml
  .github/workflows/test-wheel-windows.yml
  .github/workflows/wheels-test.yaml
  ci/test-matrix.yml
Owners: @rapidsai/ci-codeowners

Alternate half of linux arm64 CI runners from a100 to l4
  ci/test-matrix.yml
Owners: @rapidsai/ci-codeowners

latest stable always
  ci/test_thirdparty_cudf.sh
Owners: @rapidsai/ci-codeowners

Fix Windows path parsing in generate_raw_ltoir.py
  testing/generate_raw_ltoir.py
Owners: none

remove duplicate lowering for operator char
  numba_cuda/numba/cuda/_internal/cuda_fp8.py
Owners: @rapidsai/numba-cuda-write
