Repository NVIDIA/numba-cuda, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rapidsai/numba-cuda-write, @rapidsai/ci-codeowners, @rapidsai/packaging-codeowners

update doc
  docs/source/reference/types.rst
Owners: none

add nrt tests, always lto memsys module
  ci/test_thirdparty.sh
  numba_cuda/numba/cuda/memory_management/nrt.py
Owners: @rapidsai/ci-codeowners, @rapidsai/numba-cuda-write

Use Python 3.12 instead of 3.13 for oldest numba support
  ci/matrix.yml
Owners: @rapidsai/ci-codeowners

Reapply "Vendor in UnsupportedBytecodeError (#403)"
  numba_cuda/numba/cuda/core/interpreter.py
  numba_cuda/numba/cuda/errors.py
Owners: @rapidsai/numba-cuda-write

Update CUDA versions in CONTRIBUTING.md
  CONTRIBUTING.md
Owners: none

Add driver info to job name
  .github/workflows/conda-python-tests.yaml
  .github/workflows/wheels-test.yaml
Owners: @rapidsai/ci-codeowners

remove bfloattype custom impl
  numba_cuda/numba/cuda/models.py
Owners: @rapidsai/numba-cuda-write

Update CUDA versions in CONTRIBUTING.md (#408)
  CONTRIBUTING.md
Owners: none

add print tests
  numba_cuda/numba/cuda/tests/cudapy/test_print.py
Owners: @rapidsai/numba-cuda-write

add documentation for bfloat16 type
  numba_cuda/numba/cuda/types.py
Owners: @rapidsai/numba-cuda-write

update ci script and pyproject toml to make ml_dtypes a test time dependency
  ci/test_conda.sh
  ci/test_conda_ctypes_binding.sh
  pyproject.toml
Owners: @rapidsai/ci-codeowners, @rapidsai/packaging-codeowners

Make numba_cuda.cext a package
  numba_cuda/cext/__init__.py
Owners: @rapidsai/numba-cuda-write

Disable failing configuration until #409 can be fixed
  ci/matrix.yml
Owners: @rapidsai/ci-codeowners

Modify build matrix for each Python version
  .github/workflows/conda-python-build.yaml
  .github/workflows/conda-python-tests.yaml
  .github/workflows/wheels-build.yaml
  .github/workflows/wheels-test.yaml
  ci/matrix.yml
Owners: @rapidsai/ci-codeowners

Test oldest supported dependencies (#404)
  .github/workflows/conda-python-tests.yaml
  .github/workflows/wheels-test.yaml
  ci/build_docs.sh
  ci/coverage_report.sh
  ci/matrix.yml
  ci/test_conda.sh
  ci/test_conda_ctypes_binding.sh
  ci/test_simulator.sh
  ci/test_wheel.sh
Owners: @rapidsai/ci-codeowners

Checkpoint vendoring in ir.py
  numba_cuda/numba/cuda/core/compiler.py
  numba_cuda/numba/cuda/core/consts.py
  numba_cuda/numba/cuda/core/ir.py
  numba_cuda/numba/cuda/core/untyped_passes.py
  numba_cuda/numba/cuda/tests/cudapy/test_ir.py
  pyproject.toml
Owners: @rapidsai/numba-cuda-write, @rapidsai/packaging-codeowners

Add CLA and third party Numba license
  CLA.md
  CONTRIBUTING.md
  LICENSE.numba
  pyproject.toml
Owners: @rapidsai/packaging-codeowners

formatting fix and pyproject.toml license format fix
  CLA.md
  pyproject.toml
Owners: @rapidsai/packaging-codeowners

fix conda recipe to handle change in pyproject.toml and numba license
  conda/recipes/numba-cuda/meta.yaml
Owners: @rapidsai/packaging-codeowners

remove duplicate license-files key from pyproject.toml
  pyproject.toml
Owners: @rapidsai/packaging-codeowners

Vendor `dead_branch_prune()`
  numba_cuda/numba/cuda/core/analysis.py
  numba_cuda/numba/cuda/core/untyped_passes.py
Owners: @rapidsai/numba-cuda-write

accomodate ctypes bindings
  numba_cuda/numba/cuda/cudadrv/driver.py
Owners: @rapidsai/numba-cuda-write

clean
  numba_cuda/numba/cuda/cudadrv/driver.py
Owners: @rapidsai/numba-cuda-write

Add back configuration previously blocked by #409
  ci/matrix.yml
Owners: @rapidsai/ci-codeowners

more pacifying ctypes bindings
  numba_cuda/numba/cuda/tests/cudadrv/test_cuda_driver.py
Owners: @rapidsai/numba-cuda-write

fix
  numba_cuda/numba/cuda/tests/cudadrv/test_cuda_driver.py
Owners: @rapidsai/numba-cuda-write

add manual implementation of bf16->fp64, litint->bf16
  numba_cuda/numba/cuda/_internal/cuda_bf16.py
Owners: @rapidsai/numba-cuda-write

Fix #409: Vendor `dead_branch_prune()` (#411)
  ci/matrix.yml
  numba_cuda/numba/cuda/core/analysis.py
  numba_cuda/numba/cuda/core/untyped_passes.py
Owners: @rapidsai/ci-codeowners, @rapidsai/numba-cuda-write

remove code
  numba_cuda/numba/cuda/cudadrv/driver.py
  numba_cuda/numba/cuda/testing.py
  numba_cuda/numba/cuda/tests/cudadrv/test_mvc.py
  numba_cuda/numba/cuda/tests/cudapy/test_caching.py
Owners: @rapidsai/numba-cuda-write

remove remaining references
  numba_cuda/numba/cuda/tests/cudapy/test_cooperative_groups.py
  numba_cuda/numba/cuda/tests/doc_examples/test_cg.py
  numba_cuda/numba/cuda/tests/doc_examples/test_laplace.py
  numba_cuda/numba/cuda/tests/doc_examples/test_sessionize.py
Owners: @rapidsai/numba-cuda-write

add spdx to recently added file
  numba_cuda/numba/cuda/core/analysis.py
Owners: @rapidsai/numba-cuda-write

lto = _have_nvjitlink
  numba_cuda/numba/cuda/memory_management/nrt.py
Owners: @rapidsai/numba-cuda-write

update more paths
  ci/test_thirdparty.sh
Owners: @rapidsai/ci-codeowners

small fix
  ci/test_thirdparty.sh
Owners: @rapidsai/ci-codeowners

Maintain original overload resolution for all native operations
  numba_cuda/numba/cuda/_internal/cuda_bf16.py
Owners: @rapidsai/numba-cuda-write

remove operator function exposure (a numbast bug)
  numba_cuda/numba/cuda/_internal/cuda_bf16.py
Owners: @rapidsai/numba-cuda-write

Fix NRT stats tests when MVC is required and add them to thirdparty (#406)
  ci/test_thirdparty.sh
  numba_cuda/numba/cuda/memory_management/nrt.py
Owners: @rapidsai/ci-codeowners, @rapidsai/numba-cuda-write

remove ml_dtypes dependency in core
  numba_cuda/numba/cuda/tests/cudapy/test_bfloat16.py
  numba_cuda/numba/cuda/types.py
Owners: @rapidsai/numba-cuda-write

use builtin not old_builtin
  numba_cuda/numba/cuda/_internal/cuda_bf16.py
Owners: @rapidsai/numba-cuda-write

add ml_dtypes to simulator ci
  ci/test_simulator.sh
Owners: @rapidsai/ci-codeowners

.github/CODEOWNERS:

#python code owners
numba_cuda/            @rapidsai/numba-cuda-write

#cmake code owners
**/CMakeLists.txt  @rapidsai/numba-cuda-write
**/cmake/          @rapidsai/numba-cuda-write

#CI code owners
/.github/                @rapidsai/ci-codeowners
/ci/                     @rapidsai/ci-codeowners
/.pre-commit-config.yaml @rapidsai/ci-codeowners

#packaging code owners
/.devcontainer/    @rapidsai/packaging-codeowners
/conda/            @rapidsai/packaging-codeowners
/dependencies.yaml @rapidsai/packaging-codeowners
/build.sh          @rapidsai/packaging-codeowners
pyproject.toml     @rapidsai/packaging-codeowners
