Repository NVIDIA/numba-cuda, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rapidsai/numba-cuda-write, @rapidsai/ci-codeowners, @rapidsai/packaging-codeowners

Split out debuginfo tests for types (#366)
  numba_cuda/numba/cuda/testing.py
  numba_cuda/numba/cuda/tests/cudapy/test_debuginfo.py
  numba_cuda/numba/cuda/tests/cudapy/test_debuginfo_types.py
Owners: @rapidsai/numba-cuda-write

Add more test cases
  numba_cuda/numba/cuda/tests/cudapy/test_array_return.py
Owners: @rapidsai/numba-cuda-write

Remove duplicate builtin_registry and comment accordingly
  numba_cuda/numba/cuda/typing/templates.py
Owners: @rapidsai/numba-cuda-write

[Refactor][NFC] Vendor in TestCase and other testing helpers for CUDA-specific changes (#363)
  numba_cuda/numba/cuda/testing.py
  numba_cuda/numba/cuda/tests/cudadrv/test_cuda_ndarray.py
  numba_cuda/numba/cuda/tests/cudadrv/test_deallocations.py
  numba_cuda/numba/cuda/tests/cudadrv/test_detect.py
  numba_cuda/numba/cuda/tests/cudadrv/test_emm_plugins.py
  numba_cuda/numba/cuda/tests/cudadrv/test_linker.py
  numba_cuda/numba/cuda/tests/cudadrv/test_managed_alloc.py
  numba_cuda/numba/cuda/tests/cudadrv/test_mvc.py
  numba_cuda/numba/cuda/tests/cudadrv/test_ptds.py
  numba_cuda/numba/cuda/tests/cudapy/test_caching.py
  numba_cuda/numba/cuda/tests/cudapy/test_cffi.py
  numba_cuda/numba/cuda/tests/cudapy/test_cuda_array_interface.py
  numba_cuda/numba/cuda/tests/cudapy/test_cuda_jit_no_types.py
  numba_cuda/numba/cuda/tests/cudapy/test_debug.py
  numba_cuda/numba/cuda/tests/cudapy/test_debuginfo.py
  numba_cuda/numba/cuda/tests/cudapy/test_device_func.py
  numba_cuda/numba/cuda/tests/cudapy/test_gufunc.py
  numba_cuda/numba/cuda/tests/cudapy/test_ipc.py
  numba_cuda/numba/cuda/tests/cudapy/test_lineinfo.py
  numba_cuda/numba/cuda/tests/cudapy/test_ufuncs.py
  numba_cuda/numba/cuda/tests/cudapy/test_warning.py
  numba_cuda/numba/cuda/tests/doc_examples/test_cpointer.py
  numba_cuda/numba/cuda/tests/doc_examples/test_cpu_gpu_compat.py
  numba_cuda/numba/cuda/tests/doc_examples/test_ffi.py
  numba_cuda/numba/cuda/tests/doc_examples/test_laplace.py
  numba_cuda/numba/cuda/tests/doc_examples/test_matmul.py
  numba_cuda/numba/cuda/tests/doc_examples/test_montecarlo.py
  numba_cuda/numba/cuda/tests/doc_examples/test_reduction.py
  numba_cuda/numba/cuda/tests/doc_examples/test_sessionize.py
  numba_cuda/numba/cuda/tests/doc_examples/test_ufunc.py
  numba_cuda/numba/cuda/tests/doc_examples/test_vecadd.py
  numba_cuda/numba/cuda/tests/nocuda/test_import.py
  numba_cuda/numba/cuda/tests/nrt/test_nrt.py
  numba_cuda/numba/cuda/tests/nrt/test_nrt_refct.py
  numba_cuda/numba/cuda/tests/support.py
Owners: @rapidsai/numba-cuda-write

[Refactor] Vendor in Typing Templates (#360)
  numba_cuda/numba/cuda/_internal/cuda_bf16.py
  numba_cuda/numba/cuda/_internal/cuda_fp16.py
  numba_cuda/numba/cuda/compiler.py
  numba_cuda/numba/cuda/cudadecl.py
  numba_cuda/numba/cuda/cudamath.py
  numba_cuda/numba/cuda/dispatcher.py
  numba_cuda/numba/cuda/extending.py
  numba_cuda/numba/cuda/libdevicedecl.py
  numba_cuda/numba/cuda/libdevicefuncs.py
  numba_cuda/numba/cuda/tests/cudapy/test_extending.py
  numba_cuda/numba/cuda/tests/cudapy/test_operator.py
  numba_cuda/numba/cuda/tests/nrt/test_nrt.py
  numba_cuda/numba/cuda/typing/__init__.py
  numba_cuda/numba/cuda/typing/templates.py
  numba_cuda/numba/cuda/vector_types.py
Owners: @rapidsai/numba-cuda-write

Add code coverage CI job (#367)
  .github/workflows/pr.yaml
  ci/coverage_report.sh
Owners: @rapidsai/ci-codeowners

Add more debuginfo tests from upstream
  numba_cuda/numba/cuda/tests/cudapy/test_debuginfo.py
Owners: @rapidsai/numba-cuda-write

Address review comments
  numba_cuda/numba/cuda/testing.py
Owners: @rapidsai/numba-cuda-write

Add opt=False to debug tests
  numba_cuda/numba/cuda/tests/cudapy/test_debuginfo.py
  numba_cuda/numba/cuda/tests/cudapy/test_debuginfo_types.py
Owners: @rapidsai/numba-cuda-write

Vendor in additional debug info tests
  numba_cuda/numba/cuda/tests/cudapy/test_debuginfo.py
Owners: @rapidsai/numba-cuda-write

Remove incorrect change from rebase
  numba_cuda/numba/cuda/testing.py
Owners: @rapidsai/numba-cuda-write

[Refactor][NFC] Vendor in _DispatcherBase for CUDA-specific changes
  numba_cuda/numba/cuda/dispatcher.py
Owners: @rapidsai/numba-cuda-write

Force irregular indenting
  numba_cuda/numba/cuda/tests/cudapy/test_debuginfo.py
Owners: @rapidsai/numba-cuda-write

Initial attempt at CUDA 13 support / drop CUDA 11
  ci/matrix.yml
  docs/source/reference/envvars.rst
  docs/source/user/cudapysupported.rst
  docs/source/user/installation.rst
  docs/source/user/minor_version_compatibility.rst
  numba_cuda/numba/cuda/api.py
  numba_cuda/numba/cuda/cuda_paths.py
  numba_cuda/numba/cuda/cudadrv/driver.py
  numba_cuda/numba/cuda/cudadrv/libs.py
  numba_cuda/numba/cuda/cudadrv/nvrtc.py
  numba_cuda/numba/cuda/cudadrv/nvvm.py
  numba_cuda/numba/cuda/tests/cudadrv/test_nvvm_driver.py
  numba_cuda/numba/cuda/tests/cudapy/test_bfloat16.py
  numba_cuda/numba/cuda/tests/cudapy/test_bfloat16_bindings.py
  numba_cuda/numba/cuda/tests/cudapy/test_compiler.py
  numba_cuda/numba/cuda/tests/cudapy/test_extending.py
  pyproject.toml
Owners: @rapidsai/ci-codeowners, @rapidsai/numba-cuda-write, @rapidsai/packaging-codeowners

Vendor in most recent interpreter
  numba_cuda/numba/cuda/compiler.py
  numba_cuda/numba/cuda/core/interpreter.py
Owners: @rapidsai/numba-cuda-write

Remove irregular indented test
  numba_cuda/numba/cuda/tests/cudapy/test_debuginfo.py
Owners: @rapidsai/numba-cuda-write

Add more rigorous checks for math functions
  numba_cuda/numba/cuda/tests/cudapy/test_debuginfo.py
Owners: @rapidsai/numba-cuda-write

update config file with use separate registries
  configs/cuda_bf16.yml
Owners: none

regenerate bfloat16 bindings with lakshayg/Numbast@6282df4
  numba_cuda/numba/cuda/_internal/cuda_bf16.py
Owners: @rapidsai/numba-cuda-write

remove re-import of bfloat16 type
  numba_cuda/numba/cuda/_internal/cuda_bf16.py
Owners: @rapidsai/numba-cuda-write

[Refactor][WIP] Vendoring in dispatcher cext for CUDA-specific changes
  numba_cuda/numba/cuda/__init__.py
  numba_cuda/numba/cuda/_dispatcher/_devicearray.h
  numba_cuda/numba/cuda/_dispatcher/_dispatcher.cpp
  numba_cuda/numba/cuda/_dispatcher/_hashtable.cpp
  numba_cuda/numba/cuda/_dispatcher/_hashtable.h
  numba_cuda/numba/cuda/_dispatcher/_numba_common.h
  numba_cuda/numba/cuda/_dispatcher/_pymodule.h
  numba_cuda/numba/cuda/_dispatcher/_typeof.cpp
  numba_cuda/numba/cuda/_dispatcher/_typeof.h
  numba_cuda/numba/cuda/_dispatcher/typeconv.cpp
  numba_cuda/numba/cuda/_dispatcher/typeconv.hpp
  numba_cuda/numba/cuda/dispatcher.py
  pyproject.toml
  setup.py
Owners: @rapidsai/numba-cuda-write, @rapidsai/packaging-codeowners

[Refactor][NFC] _dispatcher cext: Re-enable array handling, invoke typeof_init
  numba_cuda/numba/cuda/_dispatcher/_typeof.cpp
  numba_cuda/numba/cuda/dispatcher.py
Owners: @rapidsai/numba-cuda-write

[Refactor][NFC] Trim CUDA _dispatcher cext
  numba_cuda/numba/cuda/_dispatcher/_dispatcher.cpp
  numba_cuda/numba/cuda/_dispatcher/_numba_common.h
  numba_cuda/numba/cuda/_dispatcher/_typeof.cpp
Owners: @rapidsai/numba-cuda-write

Update dependency naming for CUDA 13 changes
  pyproject.toml
Owners: @rapidsai/packaging-codeowners

Remove MVC env var from docs
  docs/source/reference/envvars.rst
Owners: none

Add basic tuple support
  numba_cuda/numba/cuda/compiler.py
Owners: @rapidsai/numba-cuda-write

Add loop support
  numba_cuda/numba/cuda/compiler.py
  numba_cuda/numba/cuda/tests/cudapy/test_array_return.py
Owners: @rapidsai/numba-cuda-write

Relax tuple logic
  numba_cuda/numba/cuda/compiler.py
Owners: @rapidsai/numba-cuda-write

Skip typing error check on simulator
  numba_cuda/numba/cuda/tests/cudapy/test_array_return.py
Owners: @rapidsai/numba-cuda-write

remove uses of rapids-configure-conda-channels
  ci/build_conda.sh
Owners: @rapidsai/ci-codeowners

[Refactor][NFC] Remove sysmon from _dispatcher cext
  numba_cuda/numba/cuda/__init__.py
  numba_cuda/numba/cuda/_dispatcher/_dispatcher.cpp
  numba_cuda/numba/cuda/dispatcher.py
  pyproject.toml
Owners: @rapidsai/numba-cuda-write, @rapidsai/packaging-codeowners

Vendor in Bytecode Interpreter (#355)
  numba_cuda/numba/cuda/compiler.py
  numba_cuda/numba/cuda/core/interpreter.py
Owners: @rapidsai/numba-cuda-write

Formatting fix
  numba_cuda/numba/cuda/lowering.py
Owners: @rapidsai/numba-cuda-write

format fix
  numba_cuda/numba/cuda/lowering.py
Owners: @rapidsai/numba-cuda-write

implement custom bfloat16 type object; insert type registry into cuda target; mock bfloat16 llvmIR type
  numba_cuda/numba/cuda/_internal/cuda_bf16.py
  numba_cuda/numba/cuda/bf16.py
  numba_cuda/numba/cuda/models.py
  numba_cuda/numba/cuda/target.py
  numba_cuda/numba/cuda/types.py
Owners: @rapidsai/numba-cuda-write

Relax subclass check for Function and AbstractTemplate as an interim solution for nvmath-python until next release
  numba_cuda/numba/cuda/typing/templates.py
Owners: @rapidsai/numba-cuda-write

Vendor in IR utilities
  numba_cuda/numba/cuda/core/interpreter.py
  numba_cuda/numba/cuda/core/ir_utils.py
  numba_cuda/numba/cuda/lowering.py
  numba_cuda/numba/cuda/tests/cudapy/test_ir_utils.py
  numba_cuda/numba/cuda/typing/templates.py
Owners: @rapidsai/numba-cuda-write

Import ir_utils instead of specific functions
  numba_cuda/numba/cuda/core/interpreter.py
  numba_cuda/numba/cuda/lowering.py
  numba_cuda/numba/cuda/typing/templates.py
Owners: @rapidsai/numba-cuda-write

Add checks for line numbers matching Python source
  numba_cuda/numba/cuda/tests/cudapy/test_debuginfo.py
Owners: @rapidsai/numba-cuda-write

Use more consistent filtering
  numba_cuda/numba/cuda/tests/cudapy/test_debuginfo.py
Owners: @rapidsai/numba-cuda-write

.github/CODEOWNERS:

#python code owners
numba_cuda/            @rapidsai/numba-cuda-write

#cmake code owners
**/CMakeLists.txt  @rapidsai/numba-cuda-write
**/cmake/          @rapidsai/numba-cuda-write

#CI code owners
/.github/                @rapidsai/ci-codeowners
/ci/                     @rapidsai/ci-codeowners
/.pre-commit-config.yaml @rapidsai/ci-codeowners

#packaging code owners
/.devcontainer/    @rapidsai/packaging-codeowners
/conda/            @rapidsai/packaging-codeowners
/dependencies.yaml @rapidsai/packaging-codeowners
/build.sh          @rapidsai/packaging-codeowners
pyproject.toml     @rapidsai/packaging-codeowners
