Repository NVIDIA/numba-cuda, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rapidsai/numba-cuda-write, @rapidsai/ci-codeowners, @rapidsai/packaging-codeowners

cupy pin
  ci/test_thirdparty_cudf.sh
Owners: @rapidsai/ci-codeowners

Fix np.dtype overload signature drift (#797)
  ci/test_thirdparty_cudf.sh
  numba_cuda/numba/cuda/np/linalg.py
  numba_cuda/numba/cuda/np/npyimpl.py
Owners: @rapidsai/ci-codeowners, @rapidsai/numba-cuda-write

Implement new launch config facilities via dispatcher.
  numba_cuda/numba/cuda/cext/_dispatcher.cpp
  numba_cuda/numba/cuda/dispatcher.py
  numba_cuda/numba/cuda/launchconfig.py
  numba_cuda/numba/cuda/tests/cudapy/test_dispatcher.py
Owners: @rapidsai/numba-cuda-write

Final touches.
  LAUNCH-CONFIG-CODEX-PROMPT.md
  LAUNCH-CONFIG.md
  docs/source/reference/kernel.rst
  docs/source/user/index.rst
  numba_cuda/numba/cuda/launchconfig.py
  numba_cuda/numba/cuda/tests/cudapy/test_dispatcher.py
  pixi.toml
  plots/launch-overhead-abs.png
  scripts/bench-launch-overhead.py
  scripts/plot-launch-overhead.py
Owners: @rapidsai/numba-cuda-write

Checkpoint commit prior to switching laptop.
  LAUNCH-CONFIG-TODO.md
  numba_cuda/numba/cuda/dispatcher.py
  numba_cuda/numba/cuda/launchconfig.py
  numba_cuda/numba/cuda/tests/cudapy/test_launch_config_sensitive.py
Owners: @rapidsai/numba-cuda-write

Harden LCS cache marker handling for disk cache safety
  numba_cuda/numba/cuda/dispatcher.py
Owners: @rapidsai/numba-cuda-write

Add launch-config-sensitive plumbing.
  numba_cuda/numba/cuda/compiler.py
  numba_cuda/numba/cuda/dispatcher.py
  numba_cuda/numba/cuda/tests/cudapy/cache_launch_config_insensitive_usecases.py
  numba_cuda/numba/cuda/tests/cudapy/cache_launch_config_sensitive_usecases.py
  numba_cuda/numba/cuda/tests/cudapy/test_caching.py
Owners: @rapidsai/numba-cuda-write

Sync with main.
  LAUNCH-CONFIG-CODEX-PROMPT.md
  LAUNCH-CONFIG-TODO.md
  LAUNCH-CONFIG.md
  numba_cuda/numba/cuda/compiler.py
  numba_cuda/numba/cuda/dispatcher.py
  numba_cuda/numba/cuda/tests/cudapy/cache_launch_config_sensitive_usecases.py
  numba_cuda/numba/cuda/tests/cudapy/test_launch_config_sensitive.py
  scripts/bench-launch-overhead.py
Owners: @rapidsai/numba-cuda-write

fix: preserve inlined overload dependencies in CUDA DCE
  numba_cuda/numba/cuda/core/analysis.py
  numba_cuda/numba/cuda/core/ir_utils.py
  numba_cuda/numba/cuda/tests/cudapy/test_numba_interop.py
Owners: @rapidsai/numba-cuda-write

fix: use list_vars fallback in compat node helper
  numba_cuda/numba/cuda/core/ir_utils.py
Owners: @rapidsai/numba-cuda-write

chore: refresh pixi lock package version entries
  pixi.lock
Owners: none

fix: align numpy dtype overload signature with numpy API
  numba_cuda/numba/cuda/np/npyimpl.py
Owners: @rapidsai/numba-cuda-write

Revert "fix: align numpy dtype overload signature with numpy API"
  numba_cuda/numba/cuda/np/npyimpl.py
Owners: @rapidsai/numba-cuda-write

fix(errors): restore exception subclass hierarchy to fix slow string compilation (#755)
  numba_cuda/numba/cuda/core/errors.py
Owners: @rapidsai/numba-cuda-write

test(errors): add regression coverage for CUDA/core hierarchy
  numba_cuda/numba/cuda/tests/cudapy/test_errors.py
Owners: @rapidsai/numba-cuda-write

chore(lock): sync pixi lock numba-cuda version entries
  pixi.lock
Owners: none

style(errors): apply ruff autofix in CUDA errors module
  numba_cuda/numba/cuda/core/errors.py
Owners: @rapidsai/numba-cuda-write

Update plots.
  plots/launch-overhead-abs.png
  plots/launch-overhead-abs.svg
  plots/launch-overhead-pct.png
  plots/launch-overhead-pct.svg
  plots/launch-overhead-us.png
  plots/launch-overhead-us.svg
  scripts/plot-launch-overhead.py
Owners: none

Implement launch config support.
  docs/source/reference/kernel.rst
  numba_cuda/numba/cuda/cext/_dispatcher.cpp
  numba_cuda/numba/cuda/compiler.py
  numba_cuda/numba/cuda/dispatcher.py
  numba_cuda/numba/cuda/launchconfig.py
  numba_cuda/numba/cuda/tests/cudapy/cache_launch_config_insensitive_usecases.py
  numba_cuda/numba/cuda/tests/cudapy/cache_launch_config_sensitive_usecases.py
  numba_cuda/numba/cuda/tests/cudapy/test_caching.py
  numba_cuda/numba/cuda/tests/cudapy/test_dispatcher.py
  numba_cuda/numba/cuda/tests/cudapy/test_launch_config_sensitive.py
Owners: @rapidsai/numba-cuda-write

Use only public `.handle` to access `cuda-core` objects (#794)
  numba_cuda/numba/cuda/_compat.py
  numba_cuda/numba/cuda/cudadrv/driver.py
  numba_cuda/numba/cuda/cudadrv/nvrtc.py
  numba_cuda/numba/cuda/dispatcher.py
  numba_cuda/numba/cuda/memory_management/nrt.py
  numba_cuda/numba/cuda/tests/cudadrv/test_cuda_driver.py
  numba_cuda/numba/cuda/tests/cudadrv/test_events.py
  numba_cuda/numba/cuda/tests/cudadrv/test_linker.py
  numba_cuda/numba/cuda/tests/cudadrv/test_module_callbacks.py
  numba_cuda/numba/cuda/tests/cudapy/test_compiler.py
  numba_cuda/numba/cuda/tests/cudapy/test_dispatcher.py
Owners: @rapidsai/numba-cuda-write

initial
  numba_cuda/numba/cuda/cudadrv/nvvm.py
Owners: @rapidsai/numba-cuda-write

return unknown rather than assert and raise
  numba_cuda/numba/cuda/cuda_paths.py
Owners: @rapidsai/numba-cuda-write

fix?
  numba_cuda/numba/cuda/cudadrv/driver.py
Owners: @rapidsai/numba-cuda-write

Remove most of `drvapi.py` in favor of direct `cuda-python` usage (#784)
  numba_cuda/numba/cuda/cudadrv/devices.py
  numba_cuda/numba/cuda/cudadrv/driver.py
  numba_cuda/numba/cuda/cudadrv/drvapi.py
  numba_cuda/numba/cuda/tests/cudadrv/test_context_stack.py
  numba_cuda/numba/cuda/tests/cudadrv/test_cuda_driver.py
  numba_cuda/numba/cuda/tests/cudadrv/test_cuda_memory.py
  numba_cuda/numba/cuda/tests/cudapy/test_cuda_array_interface.py
  numba_cuda/numba/cuda/tests/cudapy/test_stream_api.py
Owners: @rapidsai/numba-cuda-write

update use of register jittable to cuda.jit
  numba_cuda/numba/cuda/fp8.py
Owners: @rapidsai/numba-cuda-write

Fix incorrect DWARF type encodings for i8 and discriminator types
  numba_cuda/numba/cuda/debuginfo.py
  numba_cuda/numba/cuda/tests/cudapy/test_debuginfo_types.py
Owners: @rapidsai/numba-cuda-write

Find CUDA headers via pathfinder (#771)
  ci/coverage_report.sh
  numba_cuda/numba/cuda/cuda_paths.py
  numba_cuda/numba/cuda/cudadrv/nvrtc.py
  pixi.lock
  pixi.toml
  pyproject.toml
Owners: @rapidsai/ci-codeowners, @rapidsai/numba-cuda-write, @rapidsai/packaging-codeowners

Fix incorrect DWARF type encodings for i8 and discriminator types (#806)
  numba_cuda/numba/cuda/debuginfo.py
  numba_cuda/numba/cuda/tests/cudapy/test_debuginfo_types.py
Owners: @rapidsai/numba-cuda-write

pathfinder minimum
  pyproject.toml
Owners: @rapidsai/packaging-codeowners

Incorporate numba_cuda.__version__ into cache version.
  numba_cuda/numba/cuda/core/caching.py
Owners: @rapidsai/numba-cuda-write

Add tests.
  numba_cuda/numba/cuda/tests/nocuda/test_cache_version.py
  testing/test_cache_version.py
Owners: @rapidsai/numba-cuda-write

PR Feedback: remove duplicate test and NUMBA_ENABLE_CUDASIM.
  numba_cuda/numba/cuda/tests/nocuda/test_cache_version.py
  testing/test_cache_version.py
Owners: @rapidsai/numba-cuda-write

Fix int64 encoding in UniTuple debug info
  numba_cuda/numba/cuda/debuginfo.py
  numba_cuda/numba/cuda/tests/cudapy/test_debuginfo_types.py
Owners: @rapidsai/numba-cuda-write

formatting fix
  numba_cuda/numba/cuda/tests/cudadrv/test_events.py
Owners: @rapidsai/numba-cuda-write

Emit llvm.dbg.declare for scalar kernel parameters to fix missing DWARF DIEs
  numba_cuda/numba/cuda/debuginfo.py
  numba_cuda/numba/cuda/tests/cudapy/test_debuginfo.py
Owners: @rapidsai/numba-cuda-write

fix test_llvm_dbg_value
  numba_cuda/numba/cuda/tests/cudapy/test_debuginfo.py
Owners: @rapidsai/numba-cuda-write

Fix int64 elements DWARF encoding in UniTuple types (#807)
  numba_cuda/numba/cuda/debuginfo.py
  numba_cuda/numba/cuda/tests/cudapy/test_debuginfo_types.py
Owners: @rapidsai/numba-cuda-write

Unpin nvjitlink from ctk version
  pyproject.toml
Owners: @rapidsai/packaging-codeowners

Delegate all path discovery in cuda_paths.py to pathfinder
  numba_cuda/numba/cuda/cuda_paths.py
  numba_cuda/numba/cuda/cudadrv/libs.py
  numba_cuda/numba/cuda/testing.py
  numba_cuda/numba/cuda/tests/nocuda/test_library_lookup.py
Owners: @rapidsai/numba-cuda-write

build: bump cuda-pathfinder lower bound to >=1.4.0
  pixi.toml
  pyproject.toml
Owners: @rapidsai/packaging-codeowners

.github/CODEOWNERS:

#python code owners
numba_cuda/            @rapidsai/numba-cuda-write

#cmake code owners
**/CMakeLists.txt  @rapidsai/numba-cuda-write
**/cmake/          @rapidsai/numba-cuda-write

#CI code owners
/.github/                @rapidsai/ci-codeowners
/ci/                     @rapidsai/ci-codeowners
/.pre-commit-config.yaml @rapidsai/ci-codeowners

#packaging code owners
/.devcontainer/    @rapidsai/packaging-codeowners
/conda/            @rapidsai/packaging-codeowners
/dependencies.yaml @rapidsai/packaging-codeowners
/build.sh          @rapidsai/packaging-codeowners
pyproject.toml     @rapidsai/packaging-codeowners
