Repository NVIDIA/numba-cuda, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rapidsai/numba-cuda-write, @rapidsai/ci-codeowners, @rapidsai/packaging-codeowners

.github/CODEOWNERS:

#python code owners
numba_cuda/            @rapidsai/numba-cuda-write

#cmake code owners
**/CMakeLists.txt  @rapidsai/numba-cuda-write
**/cmake/          @rapidsai/numba-cuda-write

#CI code owners
/.github/                @rapidsai/ci-codeowners
/ci/                     @rapidsai/ci-codeowners
/.pre-commit-config.yaml @rapidsai/ci-codeowners

#packaging code owners
/.devcontainer/    @rapidsai/packaging-codeowners
/conda/            @rapidsai/packaging-codeowners
/dependencies.yaml @rapidsai/packaging-codeowners
/build.sh          @rapidsai/packaging-codeowners
pyproject.toml     @rapidsai/packaging-codeowners

fix: fix fragile timing in test_event_query.
  numba_cuda/numba/cuda/tests/cudadrv/test_events.py
Owners: @rapidsai/numba-cuda-write

fix: remove unnecessary busy-wait and time-based assertions.
  numba_cuda/numba/cuda/tests/cudadrv/test_events.py
Owners: @rapidsai/numba-cuda-write

remove unnecessary assertion, clarify failure modes.
  numba_cuda/numba/cuda/tests/cudadrv/test_events.py
Owners: @rapidsai/numba-cuda-write

formatting fix
  numba_cuda/numba/cuda/tests/cudadrv/test_events.py
Owners: @rapidsai/numba-cuda-write

Apply suggestions from code review
  numba_cuda/numba/cuda/tests/cudadrv/test_events.py
Owners: @rapidsai/numba-cuda-write

tests: add regression test for Event.query()
  numba_cuda/numba/cuda/tests/cudadrv/test_events.py
Owners: @rapidsai/numba-cuda-write

fix: extract handle value in Event.query() call to match other driver calls
  numba_cuda/numba/cuda/cudadrv/driver.py
Owners: @rapidsai/numba-cuda-write

Revert "build(deps): bump the actions-monthly group across 1 directory with 4…"
  .github/workflows/build-wheel.yml
  .github/workflows/ci.yaml
  .github/workflows/conda-python-tests.yaml
  .github/workflows/docs-build.yaml
  .github/workflows/publish.yaml
  .github/workflows/simulator-test.yaml
  .github/workflows/test-wheel-linux.yml
  .github/workflows/test-wheel-windows.yml
  .github/workflows/wheels-test.yaml
Owners: @rapidsai/ci-codeowners

Revert "build(deps): bump the actions-monthly group across 1 directory with 4 updates" (#908)
  .github/workflows/build-wheel.yml
  .github/workflows/ci.yaml
  .github/workflows/conda-python-tests.yaml
  .github/workflows/docs-build.yaml
  .github/workflows/publish.yaml
  .github/workflows/simulator-test.yaml
  .github/workflows/test-wheel-linux.yml
  .github/workflows/test-wheel-windows.yml
  .github/workflows/wheels-test.yaml
Owners: @rapidsai/ci-codeowners

Fix null dereference in select_overload capsule path
  numba_cuda/numba/cuda/cext/_typeconv.cpp
  numba_cuda/numba/cuda/tests/cudapy/test_typeconv.py
Owners: @rapidsai/numba-cuda-write

Harden _typeconv.select_overload sequence handling
  numba_cuda/numba/cuda/cext/_typeconv.cpp
Owners: @rapidsai/numba-cuda-write

Add select_overload input validation regression tests
  numba_cuda/numba/cuda/tests/cudapy/test_typeconv.py
Owners: @rapidsai/numba-cuda-write

Harden select_overload sequence handling
  numba_cuda/numba/cuda/cext/_typeconv.cpp
  numba_cuda/numba/cuda/tests/cudapy/test_typeconv.py
Owners: @rapidsai/numba-cuda-write

Fix null dereference in select_overload capsule path
  numba_cuda/numba/cuda/cext/_typeconv.cpp
  numba_cuda/numba/cuda/tests/cudapy/test_typeconv.py
Owners: @rapidsai/numba-cuda-write

ci: adopt CCCL check_result aggregator for Check job status (fixes #900)
  .github/workflows/ci.yaml
Owners: @rapidsai/ci-codeowners

ci: adopt CCCL check_result aggregator for Check job status (fixes #900) (#912)
  .github/workflows/ci.yaml
Owners: @rapidsai/ci-codeowners

Apply suggestions from code review
  .github/workflows/ci.yaml
  .github/workflows/conda-python-tests.yaml
  .github/workflows/docs-build.yaml
  .github/workflows/simulator-test.yaml
  .github/workflows/wheels-test.yaml
Owners: @rapidsai/ci-codeowners

Update pyproject.toml
  pyproject.toml
Owners: @rapidsai/packaging-codeowners

Fix duplicate overload type resolution
  numba_cuda/numba/cuda/typing/templates.py
Owners: @rapidsai/numba-cuda-write

Simplify + add tests
  numba_cuda/numba/cuda/tests/cudapy/test_overload.py
  numba_cuda/numba/cuda/typing/templates.py
Owners: @rapidsai/numba-cuda-write

Migrates resolution cache code from numba fixing a JIT speed regression. Also corrects a trivial bug normalize_dict(obj) should be working on obj not kws.
  numba_cuda/numba/cuda/core/config.py
  numba_cuda/numba/cuda/typing/context.py
Owners: @rapidsai/numba-cuda-write

Guard np.row_stack overload for numpy < 2.5
  numba_cuda/numba/cuda/np/arrayobj.py
Owners: @rapidsai/numba-cuda-write

adding NUMBA_CUDA_DEBUGINFO
  docs/source/reference/envvars.rst
Owners: none

Test CUDA datetime/timedelta with more units and document CUDA support
  docs/source/user/cudapysupported.rst
  numba_cuda/numba/cuda/tests/cudapy/test_datetime.py
Owners: @rapidsai/numba-cuda-write

fix: handle unsupported or failed getLocalRuntimeVersion in debuginfo (fixes #923)
  numba_cuda/numba/cuda/debuginfo.py
  numba_cuda/numba/cuda/tests/cudapy/test_debuginfo.py
Owners: @rapidsai/numba-cuda-write

fix: tolerate unavailable runtime version query on Windows
  numba_cuda/numba/cuda/debuginfo.py
  numba_cuda/numba/cuda/tests/nocuda/test_debuginfo.py
Owners: @rapidsai/numba-cuda-write

fix: align constant record arrays by field types
  numba_cuda/numba/cuda/target.py
  numba_cuda/numba/cuda/tests/cudapy/test_constmem.py
Owners: @rapidsai/numba-cuda-write

fix(cuda): support two-argument complex constructors
  numba_cuda/numba/cuda/cpython/builtins.py
  numba_cuda/numba/cuda/tests/cudapy/test_complex_kernel.py
  numba_cuda/numba/cuda/typing/builtins.py
Owners: @rapidsai/numba-cuda-write

test(cuda): synchronize before exporting IPC handle
  numba_cuda/numba/cuda/tests/cudapy/test_ipc.py
Owners: @rapidsai/numba-cuda-write

fix: keep float32 random values below one
  numba_cuda/numba/cuda/random.py
  numba_cuda/numba/cuda/tests/cudapy/test_random.py
Owners: @rapidsai/numba-cuda-write

feat: support decomposing, indexing, and iterating Dim3 objects (fixes #134, #55)
  numba_cuda/numba/cuda/cudaimpl.py
  numba_cuda/numba/cuda/models.py
  numba_cuda/numba/cuda/simulator/kernelapi.py
  numba_cuda/numba/cuda/stubs.py
  numba_cuda/numba/cuda/tests/cudapy/test_intrinsics.py
  numba_cuda/numba/cuda/tests/cudasim/test_cudasim_issues.py
  numba_cuda/numba/cuda/types/ext_types.py
Owners: @rapidsai/numba-cuda-write

fix: sanitize DICompositeType identifier symbols for NVVM compatibility (fixes #876)
  numba_cuda/numba/cuda/debuginfo.py
  numba_cuda/numba/cuda/tests/cudapy/test_debuginfo.py
Owners: @rapidsai/numba-cuda-write

feat: provide CUDA_ENABLE_LTO config option to control default LTO mode (fixes #162)
  docs/source/reference/envvars.rst
  numba_cuda/numba/cuda/__init__.py
  numba_cuda/numba/cuda/core/config.py
  numba_cuda/numba/cuda/decorators.py
  numba_cuda/numba/cuda/tests/cudapy/test_cuda_jit_no_types.py
Owners: @rapidsai/numba-cuda-write

doc: consolidate GPU environment variables documentation (fixes #139)
  docs/source/reference/envvars.rst
  docs/source/user/external-memory.rst
  docs/source/user/memory.rst
Owners: none

fix: update install advice in error messages to cover pip and conda (fixes #69)
  numba_cuda/numba/cuda/core/config.py
  numba_cuda/numba/cuda/cudadrv/nvvm.py
Owners: @rapidsai/numba-cuda-write

doc: update error messages to refer to Numba-CUDA (fixes #568)
  numba_cuda/numba/cuda/api.py
  numba_cuda/numba/cuda/core/entrypoints.py
  numba_cuda/numba/cuda/core/errors.py
  numba_cuda/numba/cuda/cudadrv/devices.py
  numba_cuda/numba/cuda/cudadrv/driver.py
  numba_cuda/numba/cuda/device_init.py
  numba_cuda/numba/cuda/errors.py
  numba_cuda/numba/cuda/tests/cudadrv/test_context_stack.py
Owners: @rapidsai/numba-cuda-write

docs: fix double 'the' typo in CUDA Simulator guide (#793)
  docs/source/user/simulator.rst
Owners: none

Fix shared cache source stamps with Numba 0.68
  numba_cuda/numba/cuda/core/caching.py
  numba_cuda/numba/cuda/tests/nocuda/test_cache_version.py
Owners: @rapidsai/numba-cuda-write

Pin Numba below 0.67
  pixi.lock
  pixi.toml
  pyproject.toml
Owners: @rapidsai/packaging-codeowners

Pin NumPy below 2.5
  pixi.lock
  pixi.toml
  pyproject.toml
Owners: @rapidsai/packaging-codeowners
