Repository NVIDIA/numba-cuda, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rapidsai/numba-cuda-write, @rapidsai/ci-codeowners, @rapidsai/packaging-codeowners

.github/CODEOWNERS:

#python code owners
numba_cuda/            @rapidsai/numba-cuda-write

#cmake code owners
**/CMakeLists.txt  @rapidsai/numba-cuda-write
**/cmake/          @rapidsai/numba-cuda-write

#CI code owners
/.github/                @rapidsai/ci-codeowners
/ci/                     @rapidsai/ci-codeowners
/.pre-commit-config.yaml @rapidsai/ci-codeowners

#packaging code owners
/.devcontainer/    @rapidsai/packaging-codeowners
/conda/            @rapidsai/packaging-codeowners
/dependencies.yaml @rapidsai/packaging-codeowners
/build.sh          @rapidsai/packaging-codeowners
pyproject.toml     @rapidsai/packaging-codeowners

manually fix linter errors
  numba_cuda/numba/cuda/testing.py
  numba_cuda/numba/cuda/tests/cudapy/test_array_reductions.py
Owners: @rapidsai/numba-cuda-write

Disable per-PR nvmath tests + follow same test practice (#723)
  .github/workflows/ci-new.yaml
  ci/test_thirdparty_nvmath.sh
Owners: @rapidsai/ci-codeowners

Adding support to run the numba-cuda test suite in serial and in parallel.
  pixi.lock
  pixi.toml
Owners: none

wip
  pixi.lock
  pixi.toml
Owners: none

Update pixi.toml
  pixi.toml
Owners: none

wip
  pixi.lock
  pixi.toml
Owners: none

Adding `pixi run test` and `pixi run test-par` support (#724)
  pixi.lock
  pixi.toml
Owners: none

CI: Add CUDA 13.1 testing support (#705)
  ci/test-matrix.yml
  ci/versions.yml
  numba_cuda/numba/cuda/testing.py
  numba_cuda/numba/cuda/tests/cudapy/test_array_reductions.py
Owners: @rapidsai/ci-codeowners, @rapidsai/numba-cuda-write

Implement new launch config facilities via dispatcher.
  numba_cuda/numba/cuda/cext/_dispatcher.cpp
  numba_cuda/numba/cuda/dispatcher.py
  numba_cuda/numba/cuda/launchconfig.py
  numba_cuda/numba/cuda/tests/cudapy/test_dispatcher.py
Owners: @rapidsai/numba-cuda-write

Added proper test cases for test_casting
  numba_cuda/numba/cuda/tests/test_casting.py
Owners: @rapidsai/numba-cuda-write

Final touches.
  LAUNCH-CONFIG-CODEX-PROMPT.md
  LAUNCH-CONFIG.md
  docs/source/reference/kernel.rst
  docs/source/user/index.rst
  numba_cuda/numba/cuda/launchconfig.py
  numba_cuda/numba/cuda/tests/cudapy/test_dispatcher.py
  pixi.toml
  plots/launch-overhead-abs.png
  scripts/bench-launch-overhead.py
  scripts/plot-launch-overhead.py
Owners: @rapidsai/numba-cuda-write

CUDA: Add device-side casting tests for numeric and boolean types (#515)
  numba_cuda/numba/cuda/tests/test_casting.py
Owners: @rapidsai/numba-cuda-write

CUDA: Add device-side tests for Python builtins (abs, min, max, bool) (#515)
  numba_cuda/numba/cuda/tests/test_builtins.py
Owners: @rapidsai/numba-cuda-write

_get_nvvm from review/test
  numba_cuda/numba/cuda/cuda_paths.py
  numba_cuda/numba/cuda/tests/nocuda/test_library_lookup.py
Owners: @rapidsai/numba-cuda-write

fix awkward job
  ci/test_thirdparty_awkward.sh
  numba_cuda/numba/cuda/cuda_paths.py
Owners: @rapidsai/ci-codeowners, @rapidsai/numba-cuda-write

fix
  ci/test_thirdparty_awkward.sh
Owners: @rapidsai/ci-codeowners

fix
  ci/test_thirdparty_awkward.sh
Owners: @rapidsai/ci-codeowners

ci: remove rapids containres from conda ci
  .github/workflows/conda-python-tests.yaml
Owners: @rapidsai/ci-codeowners

chore: use ctk components from pixi
  .github/workflows/conda-python-tests.yaml
Owners: @rapidsai/ci-codeowners

chore: remove rapids logger calls from test_conda.sh
  ci/test_conda.sh
Owners: @rapidsai/ci-codeowners

minor updates
  numba_cuda/numba/cuda/cuda_paths.py
  numba_cuda/numba/cuda/tests/nocuda/test_library_lookup.py
Owners: @rapidsai/numba-cuda-write

code cleanup
  numba_cuda/numba/cuda/cuda_paths.py
  numba_cuda/numba/cuda/cudadrv/libs.py
Owners: @rapidsai/numba-cuda-write

suggestion from greptile
  ci/test_thirdparty_awkward.sh
Owners: @rapidsai/ci-codeowners

test cu-CUDA_MAJOR in run-tests
  ci/tools/run-tests
Owners: @rapidsai/ci-codeowners

small fixes
  ci/tools/run-tests
  numba_cuda/numba/cuda/tests/benchmarks/test_kernel_launch.py
Owners: @rapidsai/ci-codeowners, @rapidsai/numba-cuda-write

more fixes
  ci/coverage_report.sh
  numba_cuda/numba/cuda/simulator/cudadrv/devicearray.py
  numba_cuda/numba/cuda/tests/benchmarks/test_kernel_launch.py
  numba_cuda/numba/cuda/tests/cudapy/test_warning.py
Owners: @rapidsai/ci-codeowners, @rapidsai/numba-cuda-write

address reviews
  numba_cuda/numba/cuda/cuda_paths.py
  pyproject.toml
Owners: @rapidsai/numba-cuda-write, @rapidsai/packaging-codeowners

Replace checking for specific CTK versions with a check for supported compiler options.
  numba_cuda/numba/cuda/cudadrv/nvvm.py
Owners: @rapidsai/numba-cuda-write

Update pyproject.toml
  pyproject.toml
Owners: @rapidsai/packaging-codeowners

address reviews
  numba_cuda/numba/cuda/cuda_paths.py
Owners: @rapidsai/numba-cuda-write

Update numba_cuda/numba/cuda/tests/test_closure.py
  numba_cuda/numba/cuda/tests/test_closure.py
Owners: @rapidsai/numba-cuda-write

Update numba_cuda/numba/cuda/tests/test_conditions_as_predicates.py
  numba_cuda/numba/cuda/tests/test_conditions_as_predicates.py
Owners: @rapidsai/numba-cuda-write

Update numba_cuda/numba/cuda/tests/test_auto_constants.py
  numba_cuda/numba/cuda/tests/test_auto_constants.py
Owners: @rapidsai/numba-cuda-write

Update numba_cuda/numba/cuda/tests/test_conversion.py
  numba_cuda/numba/cuda/tests/test_conversion.py
Owners: @rapidsai/numba-cuda-write

Update numba_cuda/numba/cuda/tests/test_array_manipulation.py
  numba_cuda/numba/cuda/tests/test_array_manipulation.py
Owners: @rapidsai/numba-cuda-write

Update numba_cuda/numba/cuda/tests/test_complex.py
  numba_cuda/numba/cuda/tests/test_complex.py
Owners: @rapidsai/numba-cuda-write

Update numba_cuda/numba/cuda/tests/test_builtins.py
  numba_cuda/numba/cuda/tests/test_builtins.py
Owners: @rapidsai/numba-cuda-write

Update numba_cuda/numba/cuda/tests/test_casting.py
  numba_cuda/numba/cuda/tests/test_casting.py
Owners: @rapidsai/numba-cuda-write

Update numba_cuda/numba/cuda/tests/test_builtins.py
  numba_cuda/numba/cuda/tests/test_builtins.py
Owners: @rapidsai/numba-cuda-write

Update numba_cuda/numba/cuda/tests/test_casting.py
  numba_cuda/numba/cuda/tests/test_casting.py
Owners: @rapidsai/numba-cuda-write
