Repository NVIDIA/numba-cuda, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rapidsai/numba-cuda-write, @rapidsai/ci-codeowners, @rapidsai/packaging-codeowners

.github/CODEOWNERS:

#python code owners
numba_cuda/            @rapidsai/numba-cuda-write

#cmake code owners
**/CMakeLists.txt  @rapidsai/numba-cuda-write
**/cmake/          @rapidsai/numba-cuda-write

#CI code owners
/.github/                @rapidsai/ci-codeowners
/ci/                     @rapidsai/ci-codeowners
/.pre-commit-config.yaml @rapidsai/ci-codeowners

#packaging code owners
/.devcontainer/    @rapidsai/packaging-codeowners
/conda/            @rapidsai/packaging-codeowners
/dependencies.yaml @rapidsai/packaging-codeowners
/build.sh          @rapidsai/packaging-codeowners
pyproject.toml     @rapidsai/packaging-codeowners

Greptile is wrong
  ci/test_wheel_deps_wheels.sh
Owners: @rapidsai/ci-codeowners

chore: disable `locked` flag to bypass https://github.com/prefix-dev/pixi/issues/5256 (#714)
  .github/workflows/conda-python-tests.yaml
  .github/workflows/docs-build.yaml
  .github/workflows/simulator-test.yaml
Owners: @rapidsai/ci-codeowners

fix simulator
  numba_cuda/numba/cuda/simulator/cudadrv/devicearray.py
Owners: @rapidsai/numba-cuda-write

Correct test LTO-IR path
  numba_cuda/numba/cuda/tests/cudadrv/test_linker.py
Owners: @rapidsai/numba-cuda-write

update bfloat16 tests
  numba_cuda/numba/cuda/tests/cudapy/test_bfloat16.py
Owners: @rapidsai/numba-cuda-write

Backport today's pathfinding logic to `0.19.*` (#699)
  ci/coverage_report.sh
  ci/test_conda.sh
  ci/test_conda_ctypes_binding.sh
  ci/test_simulator.sh
  ci/test_thirdparty.sh
  ci/test_wheel.sh
  ci/test_wheel_ctypes_binding.sh
  ci/test_wheel_deps_wheels.sh
  numba_cuda/numba/cuda/cuda_paths.py
  numba_cuda/numba/cuda/cudadrv/libs.py
  numba_cuda/numba/cuda/cudadrv/nvrtc.py
  numba_cuda/numba/cuda/misc/findlib.py
  numba_cuda/numba/cuda/testing.py
  numba_cuda/numba/cuda/tests/cudadrv/test_cuda_libraries.py
  numba_cuda/numba/cuda/tests/nocuda/test_library_lookup.py
Owners: @rapidsai/ci-codeowners, @rapidsai/numba-cuda-write

bump version
  numba_cuda/VERSION
Owners: @rapidsai/numba-cuda-write

Only test with 100f arch when CTK >= 12.9
  numba_cuda/numba/cuda/tests/cudapy/test_compiler.py
Owners: @rapidsai/numba-cuda-write

Implement a thread-local means to access kernel launch config.
  numba_cuda/numba/cuda/dispatcher.py
  numba_cuda/numba/cuda/launchconfig.py
Owners: @rapidsai/numba-cuda-write

Add support for pre-kernel-launch callbacks to launch config.
  numba_cuda/numba/cuda/dispatcher.py
  numba_cuda/numba/cuda/launchconfig.py
Owners: @rapidsai/numba-cuda-write

Add args and dispatcher to LaunchConfig.
  numba_cuda/numba/cuda/dispatcher.py
  numba_cuda/numba/cuda/launchconfig.py
Owners: @rapidsai/numba-cuda-write

Implement ensure_current_launch_config().
  numba_cuda/numba/cuda/launchconfig.py
Owners: @rapidsai/numba-cuda-write

Reinstante WAR for early 12.x CUDA toolkits
  numba_cuda/numba/cuda/cudadrv/driver.py
Owners: @rapidsai/numba-cuda-write

Revert "Reinstante WAR for early 12.x CUDA toolkits"
  numba_cuda/numba/cuda/cudadrv/driver.py
Owners: @rapidsai/numba-cuda-write

Bump version to `0.19.2rc0` (#715)
  numba_cuda/VERSION
Owners: @rapidsai/numba-cuda-write

Add arch specific target support (#549)
  numba_cuda/numba/cuda/codegen.py
  numba_cuda/numba/cuda/cudadrv/driver.py
  numba_cuda/numba/cuda/cudadrv/nvrtc.py
  numba_cuda/numba/cuda/testing.py
  numba_cuda/numba/cuda/tests/cudadrv/test_cuda_driver.py
  numba_cuda/numba/cuda/tests/cudapy/test_compiler.py
  pixi.lock
Owners: @rapidsai/numba-cuda-write

Bump version to 0.24.0
  numba_cuda/VERSION
Owners: @rapidsai/numba-cuda-write

Bump pixi version too
  pixi.toml
Owners: none

Update pixi.lock
  pixi.lock
Owners: none

Fix formatting of GDB pretty printer
  misc/gdb_print_extension.py
Owners: none

remove commented code
  numba_cuda/numba/cuda/cuda_paths.py
Owners: @rapidsai/numba-cuda-write

Fix perf issule identified by ruff
  misc/gdb_print_extension.py
Owners: none

Bump version to 0.24.0 (#716)
  numba_cuda/VERSION
  pixi.lock
  pixi.toml
Owners: @rapidsai/numba-cuda-write

small changes
  numba_cuda/numba/cuda/cuda_paths.py
Owners: @rapidsai/numba-cuda-write

Revert prefix-dev/setup-pixi to v0.9.0 for whitelist compatibility
  .github/workflows/conda-python-tests.yaml
  .github/workflows/docs-build.yaml
  .github/workflows/simulator-test.yaml
Owners: @rapidsai/ci-codeowners

build: use rattler to factor out conda-recipe
  pixi.toml
  recipe.yml
Owners: none

fix: add explicit packaging dependency
  recipe.yml
Owners: none

initial
  numba_cuda/numba/cuda/compiler.py
  numba_cuda/numba/cuda/core/base.py
  numba_cuda/numba/cuda/core/funcdesc.py
  numba_cuda/numba/cuda/core/imputils.py
  numba_cuda/numba/cuda/core/typed_passes.py
  numba_cuda/numba/cuda/decorators.py
  numba_cuda/numba/cuda/flags.py
  numba_cuda/numba/cuda/tests/cudapy/test_compiler.py
  numba_cuda/numba/cuda/tests/cudapy/test_device_func.py
Owners: @rapidsai/numba-cuda-write

remove stale skip
  numba_cuda/numba/cuda/tests/cudadrv/test_reset_device.py
  numba_cuda/numba/cuda/tests/cudapy/test_multithreads.py
Owners: @rapidsai/numba-cuda-write

remove cabi_wrap_function
  numba_cuda/numba/cuda/compiler.py
Owners: @rapidsai/numba-cuda-write

chore: build variants
  pixi.lock
  pixi.toml
  recipe.yml
Owners: none

chore(dev): build pixi using rattler (#713)
  pixi.lock
  pixi.toml
  recipe.yml
Owners: none

revert: chore(dev): build pixi using rattler (#713)
  pixi.lock
  pixi.toml
  recipe.yml
Owners: none

[feat] Initial version of the Numba CUDA GDB pretty-printer (#692)
  misc/gdb_print_extension.py
Owners: none

revert: chore(dev): build pixi using rattler (#713) (#719)
  pixi.lock
  pixi.toml
  recipe.yml
Owners: none

bump version
  numba_cuda/VERSION
Owners: @rapidsai/numba-cuda-write

Bump version to 0.19.2 (#720)
  numba_cuda/VERSION
Owners: @rapidsai/numba-cuda-write

Fix DISubprogram line number to point to function definition line (#695)
  numba_cuda/numba/cuda/lowering.py
  numba_cuda/numba/cuda/misc/firstlinefinder.py
  numba_cuda/numba/cuda/tests/cudapy/test_debuginfo.py
Owners: @rapidsai/numba-cuda-write

chore(deps): regenerate pixi lockfile
  pixi.lock
Owners: none

chore(deps): regenerate pixi lockfile (#722)
  pixi.lock
Owners: none
