Repository NVIDIA/numba-cuda, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rapidsai/numba-cuda-write, @rapidsai/ci-codeowners, @rapidsai/packaging-codeowners

run style fixes
  numba_cuda/numba/cuda/np/numpy_support.py
Owners: @rapidsai/numba-cuda-write

[Refactor][NFC] Vendor-in cpython.enumimpl for future CUDA-specific changes
  numba_cuda/numba/cuda/cpython/enumimpl.py
  numba_cuda/numba/cuda/target.py
  numba_cuda/numba/cuda/tests/nocuda/test_import.py
Owners: @rapidsai/numba-cuda-write

[Refactor][NFC] Vendor-in cpython.unsafe for future CUDA-specific changes
  numba_cuda/numba/cuda/core/interpreter.py
  numba_cuda/numba/cuda/cpython/mathimpl.py
  numba_cuda/numba/cuda/cpython/numbers.py
  numba_cuda/numba/cuda/cpython/unsafe/__init__.py
  numba_cuda/numba/cuda/cpython/unsafe/numbers.py
  numba_cuda/numba/cuda/cpython/unsafe/tuple.py
Owners: @rapidsai/numba-cuda-write

Refactor cuda_paths.py, support CUDA 13 conda packages better (#464)
  numba_cuda/numba/cuda/cuda_paths.py
  numba_cuda/numba/cuda/cudadrv/libs.py
  numba_cuda/numba/cuda/cudadrv/nvvm.py
  numba_cuda/numba/cuda/misc/findlib.py
  numba_cuda/numba/cuda/testing.py
  numba_cuda/numba/cuda/tests/nocuda/test_library_lookup.py
Owners: @rapidsai/numba-cuda-write

remove legacy type system references
  numba_cuda/numba/cuda/core/pythonapi.py
  numba_cuda/numba/cuda/cpython/rangeobj.py
Owners: @rapidsai/numba-cuda-write

Add dynamic checking for numba.cuda.config's configuration values
  numba_cuda/numba/cuda/core/config.py
  numba_cuda/numba/cuda/cudadrv/nvrtc.py
  numba_cuda/numba/cuda/memory_management/nrt.py
Owners: @rapidsai/numba-cuda-write

Ignore DeprecationWarning for cuDF CI pytest runs
  ci/test_thirdparty.sh
Owners: @rapidsai/ci-codeowners

Ignore DeprecationWarnings only from numba.cuda.core.config for cuDF CI
  ci/test_thirdparty.sh
Owners: @rapidsai/ci-codeowners

Vendor in numba.core.typing for CUDA-specific changes
  numba_cuda/numba/cuda/_internal/cuda_bf16.py
  numba_cuda/numba/cuda/_internal/cuda_fp16.py
  numba_cuda/numba/cuda/args.py
  numba_cuda/numba/cuda/cg.py
  numba_cuda/numba/cuda/core/inline_closurecall.py
  numba_cuda/numba/cuda/core/ir_utils.py
  numba_cuda/numba/cuda/core/typed_passes.py
  numba_cuda/numba/cuda/core/typeinfer.py
  numba_cuda/numba/cuda/cpython/cmathimpl.py
  numba_cuda/numba/cuda/cpython/mathimpl.py
  numba_cuda/numba/cuda/cpython/numbers.py
  numba_cuda/numba/cuda/deviceufunc.py
  numba_cuda/numba/cuda/dispatcher.py
  numba_cuda/numba/cuda/intrinsics.py
  numba_cuda/numba/cuda/lowering.py
  numba_cuda/numba/cuda/np/npyfuncs.py
  numba_cuda/numba/cuda/np/numpy_support.py
  numba_cuda/numba/cuda/target.py
  numba_cuda/numba/cuda/tests/cudapy/test_cooperative_groups.py
  numba_cuda/numba/cuda/tests/cudapy/test_overload.py
  numba_cuda/numba/cuda/tests/nrt/test_nrt.py
  numba_cuda/numba/cuda/tests/support.py
  numba_cuda/numba/cuda/typing/arraydecl.py
  numba_cuda/numba/cuda/typing/bufproto.py
  numba_cuda/numba/cuda/typing/builtins.py
  numba_cuda/numba/cuda/typing/cffi_utils.py
  numba_cuda/numba/cuda/typing/cmathdecl.py
  numba_cuda/numba/cuda/typing/collections.py
  numba_cuda/numba/cuda/typing/context.py
  numba_cuda/numba/cuda/typing/ctypes_utils.py
  numba_cuda/numba/cuda/typing/dictdecl.py
  numba_cuda/numba/cuda/typing/listdecl.py
  numba_cuda/numba/cuda/typing/mathdecl.py
  numba_cuda/numba/cuda/typing/npdatetime.py
  numba_cuda/numba/cuda/typing/setdecl.py
  numba_cuda/numba/cuda/typing/templates.py
  numba_cuda/numba/cuda/typing/typeof.py
  numba_cuda/numba/cuda/ufuncs.py
Owners: @rapidsai/numba-cuda-write

Change dangling imports of numba.core.lowering to numba.cuda.lowering
  numba_cuda/numba/cuda/core/pythonapi.py
  numba_cuda/numba/cuda/core/typed_passes.py
Owners: @rapidsai/numba-cuda-write

Vendor in optional and boxing for CUDA-specific changes, fix other dangling imports
  numba_cuda/numba/cuda/core/base.py
  numba_cuda/numba/cuda/core/boxing.py
  numba_cuda/numba/cuda/core/bytecode.py
  numba_cuda/numba/cuda/core/callconv.py
  numba_cuda/numba/cuda/core/compiler.py
  numba_cuda/numba/cuda/core/cpu.py
  numba_cuda/numba/cuda/core/inline_closurecall.py
  numba_cuda/numba/cuda/core/optional.py
  numba_cuda/numba/cuda/core/options.py
  numba_cuda/numba/cuda/core/pythonapi.py
  numba_cuda/numba/cuda/core/rewrites/registry.py
  numba_cuda/numba/cuda/core/rewrites/static_raise.py
  numba_cuda/numba/cuda/core/transforms.py
  numba_cuda/numba/cuda/core/typeinfer.py
  numba_cuda/numba/cuda/target.py
  numba_cuda/numba/cuda/tests/nocuda/test_import.py
Owners: @rapidsai/numba-cuda-write

fix dangling import to intrinsic from numba.core.extending
  numba_cuda/numba/cuda/core/unsafe/bytes.py
  numba_cuda/numba/cuda/core/unsafe/eh.py
  numba_cuda/numba/cuda/core/unsafe/refcount.py
Owners: @rapidsai/numba-cuda-write

fix dangling unbox import
  numba_cuda/numba/cuda/tests/support.py
Owners: @rapidsai/numba-cuda-write

other dangling intrinsic import
  numba_cuda/numba/cuda/core/inline_closurecall.py
Owners: @rapidsai/numba-cuda-write

vendor in some cpython registries - charseq, iterators, listobj, slicing, and unicode
  numba_cuda/numba/cuda/core/inline_closurecall.py
  numba_cuda/numba/cuda/core/pythonapi.py
  numba_cuda/numba/cuda/cpython/charseq.py
  numba_cuda/numba/cuda/cpython/iterators.py
  numba_cuda/numba/cuda/cpython/listobj.py
  numba_cuda/numba/cuda/cpython/slicing.py
  numba_cuda/numba/cuda/cpython/unicode.py
  numba_cuda/numba/cuda/cpython/unicode_support.py
  numba_cuda/numba/cuda/target.py
  numba_cuda/numba/cuda/tests/nocuda/test_import.py
Owners: @rapidsai/numba-cuda-write

python 3.9 support
  numba_cuda/numba/cuda/cpython/unicode.py
Owners: @rapidsai/numba-cuda-write

remove ref to legacy type system
  numba_cuda/numba/cuda/cpython/charseq.py
Owners: @rapidsai/numba-cuda-write

When creating linker options pass None for False boolean values
  numba_cuda/numba/cuda/cudadrv/driver.py
Owners: @rapidsai/numba-cuda-write

[MNT] Always use cuda.core and fallback to cuda.bindings
  ci/test_conda_ctypes_binding.sh
  ci/test_wheel_ctypes_binding.sh
  docs/source/reference/envvars.rst
  docs/source/user/bindings.rst
  docs/source/user/installation.rst
  numba_cuda/numba/cuda/__init__.py
  numba_cuda/numba/cuda/cudadrv/driver.py
  numba_cuda/numba/cuda/cudadrv/mappings.py
  numba_cuda/numba/cuda/cudadrv/nvrtc.py
  numba_cuda/numba/cuda/cudadrv/runtime.py
  numba_cuda/numba/cuda/tests/cudadrv/test_linker.py
  numba_cuda/numba/cuda/tests/cudadrv/test_module_callbacks.py
  numba_cuda/numba/cuda/tests/cudadrv/test_nvjitlink.py
  numba_cuda/numba/cuda/tests/cudapy/test_errors.py
  numba_cuda/numba/cuda/tests/nrt/test_nrt.py
Owners: @rapidsai/ci-codeowners, @rapidsai/numba-cuda-write

Bump version to 0.20.0
  numba_cuda/VERSION
Owners: @rapidsai/numba-cuda-write

whitespace
  numba_cuda/numba/cuda/cudadrv/nvrtc.py
  numba_cuda/numba/cuda/tests/cudadrv/test_linker.py
Owners: @rapidsai/numba-cuda-write

removing import flagged by ruff
  numba_cuda/numba/cuda/tests/cudapy/test_errors.py
Owners: @rapidsai/numba-cuda-write

use older image to repair
  .github/workflows/wheel-windows-tests.yaml
Owners: @rapidsai/ci-codeowners

analyze
  .github/workflows/wheel-windows-tests.yaml
Owners: @rapidsai/ci-codeowners

initial pass on implementing compile_all and tests
  numba_cuda/numba/cuda/__init__.py
  numba_cuda/numba/cuda/compiler.py
  numba_cuda/numba/cuda/tests/cudapy/test_compiler.py
Owners: @rapidsai/numba-cuda-write

add resty assertion
  numba_cuda/numba/cuda/tests/cudapy/test_compiler.py
Owners: @rapidsai/numba-cuda-write

Checking if nvjitlink is available.
  numba_cuda/numba/cuda/cudadrv/driver.py
  numba_cuda/numba/cuda/tests/cudapy/test_errors.py
Owners: @rapidsai/numba-cuda-write

Removing a conditional I missed
  numba_cuda/numba/cuda/codegen.py
Owners: @rapidsai/numba-cuda-write

Disabling test_conda_ctypes_binding.sh in CI
  .github/workflows/pr.yaml
  ci/test_conda_ctypes_binding.sh
Owners: @rapidsai/ci-codeowners

Removing file ci/test_conda_ctypes_binding.sh
  ci/test_conda_ctypes_binding.sh
Owners: @rapidsai/ci-codeowners

Removing ci/test_wheel_ctypes_binding.sh
  .github/workflows/pr.yaml
  ci/test_wheel_ctypes_binding.sh
Owners: @rapidsai/ci-codeowners

align compile_all arguments to compile_ptx
  numba_cuda/numba/cuda/compiler.py
  numba_cuda/numba/cuda/tests/cudapy/test_compiler.py
Owners: @rapidsai/numba-cuda-write

Removing USE_NV_BINDING conditional
  numba_cuda/numba/cuda/cudadrv/driver.py
Owners: @rapidsai/numba-cuda-write

add lineinfo and debug test
  numba_cuda/numba/cuda/compiler.py
  numba_cuda/numba/cuda/cudadrv/nvrtc.py
  numba_cuda/numba/cuda/tests/cudapy/test_compiler.py
Owners: @rapidsai/numba-cuda-write

Restoring USE_NV_BINDING so we don't customer code.
  numba_cuda/numba/cuda/cudadrv/driver.py
Owners: @rapidsai/numba-cuda-write

debugging test_binary_generation.py
  ci/get_test_binary_dir.py
Owners: @rapidsai/ci-codeowners

wip
  ci/get_test_binary_dir.py
Owners: @rapidsai/ci-codeowners

Removing support for environment variable: NUMBA_CUDA_DRIVER
  docs/source/reference/envvars.rst
  docs/source/user/installation.rst
  numba_cuda/numba/cuda/cudadrv/driver.py
  numba_cuda/numba/cuda/tests/cudadrv/test_detect.py
Owners: @rapidsai/numba-cuda-write

Move NRT config var initializations from cuda.nrt to cuda.config
  numba_cuda/numba/cuda/core/config.py
  numba_cuda/numba/cuda/memory_management/nrt.py
Owners: @rapidsai/numba-cuda-write

fix test case with ctypes binding
  numba_cuda/numba/cuda/tests/cudapy/test_compiler.py
Owners: @rapidsai/numba-cuda-write

.github/CODEOWNERS:

#python code owners
numba_cuda/            @rapidsai/numba-cuda-write

#cmake code owners
**/CMakeLists.txt  @rapidsai/numba-cuda-write
**/cmake/          @rapidsai/numba-cuda-write

#CI code owners
/.github/                @rapidsai/ci-codeowners
/ci/                     @rapidsai/ci-codeowners
/.pre-commit-config.yaml @rapidsai/ci-codeowners

#packaging code owners
/.devcontainer/    @rapidsai/packaging-codeowners
/conda/            @rapidsai/packaging-codeowners
/dependencies.yaml @rapidsai/packaging-codeowners
/build.sh          @rapidsai/packaging-codeowners
pyproject.toml     @rapidsai/packaging-codeowners
