Repository NVIDIA/numba-cuda, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rapidsai/numba-cuda-write, @rapidsai/ci-codeowners, @rapidsai/packaging-codeowners

Add pytest ini
  ci/test_conda.sh
  test_binary_generation/pytest.ini
Owners: @rapidsai/ci-codeowners

Fix docs build
  ci/build_docs.sh
Owners: @rapidsai/ci-codeowners

Fix coverage test
  ci/coverage_report.sh
Owners: @rapidsai/ci-codeowners

Fix wheel ctypes binding tests
  ci/test_wheel_ctypes_binding.sh
Owners: @rapidsai/ci-codeowners

Fix test suite trying to use test binaries with ctypes binding test
  ci/test_wheel_ctypes_binding.sh
Owners: @rapidsai/ci-codeowners

Try to tidy up and simplify changes
  ci/coverage_report.sh
  ci/test_conda.sh
  ci/test_conda_ctypes_binding.sh
  ci/test_simulator.sh
  ci/test_wheel.ps1
  ci/test_wheel.sh
  ci/test_wheel_ctypes_binding.sh
  ci/test_wheel_deps_wheels.sh
  testing/Makefile
  testing/build.bat
  testing/conftest.py
  testing/generate_raw_ltoir.py
  testing/nrt_extern.cu
  testing/pytest.ini
  testing/test_device_functions.cu
  testing/undefined_extern.cu
Owners: @rapidsai/ci-codeowners

Move everything to pytest.ini
  pyproject.toml
  testing/pytest.ini
Owners: @rapidsai/packaging-codeowners

Add notes to README on testing setup
  README.md
Owners: none

Fix testing folder locations
  ci/coverage_report.sh
  ci/test_conda.sh
  ci/test_conda_ctypes_binding.sh
  ci/test_simulator.sh
  ci/test_wheel.ps1
  ci/test_wheel.sh
  ci/test_wheel_ctypes_binding.sh
  ci/test_wheel_deps_wheels.sh
Owners: @rapidsai/ci-codeowners

chore(dev-deps): add pixi
  .gitattributes
  .gitignore
  pixi.lock
  pyproject.toml
Owners: @rapidsai/packaging-codeowners

chore: add comand to run tests
  pixi.lock
  pyproject.toml
Owners: @rapidsai/packaging-codeowners

chore: move pyinstrument to own dep group
  pyproject.toml
Owners: @rapidsai/packaging-codeowners

chore: add windows and linux-aarch64
  pyproject.toml
Owners: @rapidsai/packaging-codeowners

chore: relock pixi
  pixi.lock
Owners: none

chore: remove prof group
  pixi.lock
  pyproject.toml
Owners: @rapidsai/packaging-codeowners

Remove some unnecessary uses of ContextResettingTestCase
  numba_cuda/numba/cuda/tests/cudadrv/test_inline_ptx.py
  numba_cuda/numba/cuda/tests/cudadrv/test_pinned.py
  numba_cuda/numba/cuda/tests/cudadrv/test_profiler.py
  numba_cuda/numba/cuda/tests/cudadrv/test_reset_device.py
  numba_cuda/numba/cuda/tests/cudadrv/test_select_device.py
  numba_cuda/numba/cuda/tests/cudapy/test_cuda_array_interface.py
  numba_cuda/numba/cuda/tests/cudapy/test_ipc.py
Owners: @rapidsai/numba-cuda-write

expand result array size
  numba_cuda/numba/cuda/tests/cudapy/test_bfloat16.py
Owners: @rapidsai/numba-cuda-write

Fix Bf16 Test OB Error (#509)
  numba_cuda/numba/cuda/tests/cudapy/test_bfloat16.py
Owners: @rapidsai/numba-cuda-write

chore: add pyinstrument to own dev group
  pixi.lock
  pyproject.toml
Owners: @rapidsai/packaging-codeowners

chore: add prof script
  prof.py
Owners: none

perf: avoid double getattr call in `_EnvVar` descriptor
  numba_cuda/numba/cuda/core/config.py
Owners: @rapidsai/numba-cuda-write

perf: remove expensive metaclass
  numba_cuda/numba/cuda/args.py
Owners: @rapidsai/numba-cuda-write

perf: remove redundant globals lookup
  numba_cuda/numba/cuda/core/config.py
Owners: @rapidsai/numba-cuda-write

perf: remove double getattring
  numba_cuda/numba/cuda/core/config.py
Owners: @rapidsai/numba-cuda-write

perf: optimize the case where the attribute exists
  numba_cuda/numba/cuda/cudadrv/devicearray.py
Owners: @rapidsai/numba-cuda-write

perf: optimize the case where the attribute exists
  numba_cuda/numba/cuda/cudadrv/driver.py
Owners: @rapidsai/numba-cuda-write

perf: more attrs
  numba_cuda/numba/cuda/cudadrv/devices.py
  numba_cuda/numba/cuda/cudadrv/driver.py
Owners: @rapidsai/numba-cuda-write

chore: delete attribute whose name we know statically to avoid overhead
  numba_cuda/numba/cuda/cudadrv/driver.py
Owners: @rapidsai/numba-cuda-write

chore: remove unwrapping of arguments in kernel.py
  numba_cuda/numba/cuda/simulator/kernel.py
Owners: @rapidsai/numba-cuda-write

refactor: remove unnecessary `__getattr__` implementation
  numba_cuda/numba/cuda/cudadrv/devices.py
Owners: @rapidsai/numba-cuda-write

refactor: exit the context earlier when accessing contexts
  numba_cuda/numba/cuda/cudadrv/devices.py
Owners: @rapidsai/numba-cuda-write

refactor: lift cache outside of exception setting
  numba_cuda/numba/cuda/cudadrv/driver.py
Owners: @rapidsai/numba-cuda-write

address some reviews
  numba_cuda/numba/cuda/tests/cudadrv/test_cuda_driver.py
Owners: @rapidsai/numba-cuda-write

xfail two tests, add global skips on analysis tests for cudasim
  numba_cuda/numba/cuda/tests/test_analysis.py
  numba_cuda/numba/cuda/tests/test_flow_control.py
Owners: @rapidsai/numba-cuda-write

[Refactor][NFC] Vendor-in core Numba analysis utils for CUDA-specific changes (#433)
  numba_cuda/numba/cuda/core/analysis.py
  numba_cuda/numba/cuda/core/byteflow.py
  numba_cuda/numba/cuda/core/controlflow.py
  numba_cuda/numba/cuda/core/inline_closurecall.py
  numba_cuda/numba/cuda/core/interpreter.py
  numba_cuda/numba/cuda/core/ir_utils.py
  numba_cuda/numba/cuda/core/ssa.py
  numba_cuda/numba/cuda/core/untyped_passes.py
  numba_cuda/numba/cuda/lowering.py
  numba_cuda/numba/cuda/simulator/compiler.py
  numba_cuda/numba/cuda/simulator/tests/support.py
  numba_cuda/numba/cuda/tests/test_analysis.py
  numba_cuda/numba/cuda/tests/test_byteflow.py
  numba_cuda/numba/cuda/tests/test_flow_control.py
Owners: @rapidsai/numba-cuda-write

remove remaining cases
  numba_cuda/numba/cuda/tests/cudadrv/test_cuda_memory.py
  numba_cuda/numba/cuda/tests/cudadrv/test_host_alloc.py
  numba_cuda/numba/cuda/tests/cudadrv/test_module_callbacks.py
Owners: @rapidsai/numba-cuda-write

Ensure NUMBA can manipulate memory from CUDA graphs before the graph is launched (#437)
  numba_cuda/numba/cuda/api.py
  numba_cuda/numba/cuda/cudadrv/devicearray.py
Owners: @rapidsai/numba-cuda-write

Remove C extension loading hacks (#506)
  README.md
  ci/build_docs.sh
  ci/coverage_report.sh
  ci/get_test_binary_dir.py
  ci/test_conda.sh
  ci/test_conda_ctypes_binding.sh
  ci/test_simulator.sh
  ci/test_wheel.ps1
  ci/test_wheel.sh
  ci/test_wheel_ctypes_binding.sh
  ci/test_wheel_deps_wheels.sh
  numba_cuda/numba/cuda/cext/__init__.py
  numba_cuda/numba/cuda/cext/_devicearray.h
  numba_cuda/numba/cuda/cext/_dispatcher.cpp
  pyproject.toml
  testing/Makefile
  testing/build.bat
  testing/conftest.py
  testing/generate_raw_ltoir.py
  testing/nrt_extern.cu
  testing/pytest.ini
  testing/test_device_functions.cu
  testing/undefined_extern.cu
Owners: @rapidsai/ci-codeowners, @rapidsai/numba-cuda-write, @rapidsai/packaging-codeowners

clean up memory without destroying the context
  numba_cuda/numba/cuda/tests/cudadrv/test_cuda_memory.py
Owners: @rapidsai/numba-cuda-write

Make the CUDA target the default for CUDA overload decorators
  numba_cuda/numba/cuda/extending.py
Owners: @rapidsai/numba-cuda-write

.github/CODEOWNERS:

#python code owners
numba_cuda/            @rapidsai/numba-cuda-write

#cmake code owners
**/CMakeLists.txt  @rapidsai/numba-cuda-write
**/cmake/          @rapidsai/numba-cuda-write

#CI code owners
/.github/                @rapidsai/ci-codeowners
/ci/                     @rapidsai/ci-codeowners
/.pre-commit-config.yaml @rapidsai/ci-codeowners

#packaging code owners
/.devcontainer/    @rapidsai/packaging-codeowners
/conda/            @rapidsai/packaging-codeowners
/dependencies.yaml @rapidsai/packaging-codeowners
/build.sh          @rapidsai/packaging-codeowners
pyproject.toml     @rapidsai/packaging-codeowners
