Repository NVIDIA/numba-cuda, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rapidsai/numba-cuda-write, @rapidsai/ci-codeowners, @rapidsai/packaging-codeowners

.github/CODEOWNERS:

#python code owners
numba_cuda/            @rapidsai/numba-cuda-write

#cmake code owners
**/CMakeLists.txt  @rapidsai/numba-cuda-write
**/cmake/          @rapidsai/numba-cuda-write

#CI code owners
/.github/                @rapidsai/ci-codeowners
/ci/                     @rapidsai/ci-codeowners
/.pre-commit-config.yaml @rapidsai/ci-codeowners

#packaging code owners
/.devcontainer/    @rapidsai/packaging-codeowners
/conda/            @rapidsai/packaging-codeowners
/dependencies.yaml @rapidsai/packaging-codeowners
/build.sh          @rapidsai/packaging-codeowners
pyproject.toml     @rapidsai/packaging-codeowners

Fix #624: Accept Numba IR nodes in all parts of Numba-CUDA IR
  numba_cuda/numba/cuda/core/ir.py
Owners: @rapidsai/numba-cuda-write

[WIP] Attempt to handle Numba IR nodes appearing everywhere
  numba_cuda/numba/cuda/core/ir.py
  numba_cuda/numba/cuda/core/typeinfer.py
  numba_cuda/numba/cuda/lowering.py
Owners: @rapidsai/numba-cuda-write

Bump version to 0.22.0
  numba_cuda/VERSION
Owners: @rapidsai/numba-cuda-write

Bump version to 0.22.0 (#625)
  numba_cuda/VERSION
Owners: @rapidsai/numba-cuda-write

fix: cache config enum
  numba_cuda/numba/cuda/cudadrv/driver.py
  numba_cuda/numba/cuda/tests/cudadrv/test_cuda_driver.py
Owners: @rapidsai/numba-cuda-write

fix: test name
  numba_cuda/numba/cuda/tests/cudadrv/test_cuda_driver.py
Owners: @rapidsai/numba-cuda-write

nit
  numba_cuda/numba/cuda/cudadrv/driver.py
Owners: @rapidsai/numba-cuda-write

feat: add set_shared_memory_carveout
  numba_cuda/numba/cuda/cudadrv/driver.py
  numba_cuda/numba/cuda/tests/cudadrv/test_cuda_driver.py
Owners: @rapidsai/numba-cuda-write

fix: accept -1 as well and add test for invalid carveout values
  numba_cuda/numba/cuda/cudadrv/driver.py
  numba_cuda/numba/cuda/tests/cudadrv/test_cuda_driver.py
Owners: @rapidsai/numba-cuda-write

ci: pin pixi in ci due to lockfile mismatch in 0.60.0
  .github/workflows/conda-python-tests.yaml
  .github/workflows/docs-build.yaml
  .github/workflows/simulator-test.yaml
Owners: @rapidsai/ci-codeowners

ci: prefix with v
  .github/workflows/conda-python-tests.yaml
  .github/workflows/docs-build.yaml
  .github/workflows/simulator-test.yaml
Owners: @rapidsai/ci-codeowners

ci: pin pixi in ci due to lockfile mismatch in 0.60.0 (#632)
  .github/workflows/conda-python-tests.yaml
  .github/workflows/docs-build.yaml
  .github/workflows/simulator-test.yaml
Owners: @rapidsai/ci-codeowners

chore: bump pixi lockfile to 0.60.0
  pixi.lock
Owners: none

revert: ci: pin pixi in ci due to lockfile mismatch in 0.60.0 (#632)
  .github/workflows/conda-python-tests.yaml
  .github/workflows/docs-build.yaml
  .github/workflows/simulator-test.yaml
Owners: @rapidsai/ci-codeowners

Address some more cases, in untyped_passes
  numba_cuda/numba/cuda/core/untyped_passes.py
Owners: @rapidsai/numba-cuda-write

dev: add tool for comparing benchmarks on two commits
  pixi.lock
  pixi.toml
  scripts/bench-against.py
  testing/pytest.ini
Owners: none

chore: reuse tempdir
  scripts/bench-against.py
Owners: none

initial
  configs/cuda_fp8.yml
  numba_cuda/numba/cuda/_internal/cuda_fp8.py
  numba_cuda/numba/cuda/fp8.py
  numba_cuda/numba/cuda/include/12/cuda_fp8.h
  numba_cuda/numba/cuda/include/12/cuda_fp8.hpp
  numba_cuda/numba/cuda/include/13/cuda_fp8.h
  numba_cuda/numba/cuda/include/13/cuda_fp8.hpp
  numba_cuda/numba/cuda/target.py
  numba_cuda/numba/cuda/tests/cudapy/test_fp8_bindings.py
  pyproject.toml
Owners: @rapidsai/numba-cuda-write, @rapidsai/packaging-codeowners

ci: unpin pixi (#633)
  .github/workflows/conda-python-tests.yaml
  .github/workflows/docs-build.yaml
  .github/workflows/simulator-test.yaml
  pixi.lock
Owners: @rapidsai/ci-codeowners

adding bfloat16_raw standalone functions
  numba_cuda/numba/cuda/_internal/cuda_fp8.py
Owners: @rapidsai/numba-cuda-write

use lower_cast from target registry
  numba_cuda/numba/cuda/_internal/cuda_fp8.py
Owners: @rapidsai/numba-cuda-write

partial
  numba_cuda/numba/cuda/_api.py
  numba_cuda/numba/cuda/api.py
  numba_cuda/numba/cuda/cudadrv/devicearray.py
  numba_cuda/numba/cuda/deviceufunc.py
  numba_cuda/numba/cuda/dispatcher.py
  numba_cuda/numba/cuda/kernels/transpose.py
  numba_cuda/numba/cuda/tests/cudapy/test_cuda_array_interface.py
  numba_cuda/numba/cuda/tests/cudapy/test_debuginfo.py
  numba_cuda/numba/cuda/tests/doc_examples/test_cpointer.py
  numba_cuda/numba/cuda/tests/doc_examples/test_vecadd.py
  numba_cuda/numba/cuda/vectorizers.py
Owners: @rapidsai/numba-cuda-write

Use pixi.lock from main
  pixi.lock
Owners: none

Try and fix pixi.lock
  pixi.lock
Owners: none

dev: add tool for comparing benchmarks on two commits (#631)
  pixi.lock
  pixi.toml
  scripts/bench-against.py
  testing/pytest.ini
Owners: none

fix: cache config enum (#628)
  numba_cuda/numba/cuda/cudadrv/driver.py
  numba_cuda/numba/cuda/tests/cudadrv/test_cuda_driver.py
Owners: @rapidsai/numba-cuda-write

Add API test fp8 hw support
  numba_cuda/numba/cuda/api.py
  numba_cuda/numba/cuda/cudadrv/driver.py
  numba_cuda/numba/cuda/simulator/api.py
Owners: @rapidsai/numba-cuda-write

instead of fp8_supported, use fp8_accelerated
  numba_cuda/numba/cuda/api.py
  numba_cuda/numba/cuda/cudadrv/driver.py
  numba_cuda/numba/cuda/simulator/api.py
Owners: @rapidsai/numba-cuda-write

add the test
  numba_cuda/numba/cuda/tests/cudapy/test_fp8_bindings.py
Owners: @rapidsai/numba-cuda-write

add fp8 acceleration info
  numba_cuda/numba/cuda/api.py
  numba_cuda/numba/cuda/simulator/api.py
Owners: @rapidsai/numba-cuda-write

update CI, bind core to errors and __all__
  ci/test_thirdparty_cudf.sh
  numba_cuda/numba/cuda/core/errors.py
Owners: @rapidsai/ci-codeowners, @rapidsai/numba-cuda-write

small fixes
  numba_cuda/numba/cuda/core/errors.py
Owners: @rapidsai/numba-cuda-write

regenerate for numba-cuda ToT
  numba_cuda/numba/cuda/_internal/cuda_fp8.py
Owners: @rapidsai/numba-cuda-write

Disable Greptile sequence diagrams
  greptile.json
Owners: none

chore: bump numba-cuda version for pixi
  pixi.lock
  pixi.toml
Owners: none

dev: update numba-cuda version and refresh lockfile with compatible dependencies (#635)
  pixi.lock
  pixi.toml
Owners: none

chore: bump deps with pixi update
  pixi.lock
Owners: none

chore: constrain pytest to <9 to avoid new subtest behavior
  pixi.lock
  pixi.toml
  pyproject.toml
Owners: @rapidsai/packaging-codeowners

use redirectory
  numba_cuda/numba/cuda/core/cuda_errors.py
  numba_cuda/numba/cuda/core/errors.py
Owners: @rapidsai/numba-cuda-write

Apply suggestions from code review
  numba_cuda/numba/cuda/core/cuda_errors.py
Owners: @rapidsai/numba-cuda-write
