Repository NVIDIA/numba-cuda, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rapidsai/numba-cuda-write, @rapidsai/ci-codeowners, @rapidsai/packaging-codeowners

.github/CODEOWNERS:

#python code owners
numba_cuda/            @rapidsai/numba-cuda-write

#cmake code owners
**/CMakeLists.txt  @rapidsai/numba-cuda-write
**/cmake/          @rapidsai/numba-cuda-write

#CI code owners
/.github/                @rapidsai/ci-codeowners
/ci/                     @rapidsai/ci-codeowners
/.pre-commit-config.yaml @rapidsai/ci-codeowners

#packaging code owners
/.devcontainer/    @rapidsai/packaging-codeowners
/conda/            @rapidsai/packaging-codeowners
/dependencies.yaml @rapidsai/packaging-codeowners
/build.sh          @rapidsai/packaging-codeowners
pyproject.toml     @rapidsai/packaging-codeowners

removing unnecessary unit test
  numba_cuda/numba/cuda/cudadrv/driver.py
  numba_cuda/numba/cuda/tests/cudadrv/test_linker.py
Owners: @rapidsai/numba-cuda-write

Remove explanation of ImportError from typeconv
  numba_cuda/numba/cuda/typeconv/typeconv.py
Owners: @rapidsai/numba-cuda-write

Vendor in typeconv for future CUDA-specific changes (#499)
  numba_cuda/numba/cuda/_internal/cuda_fp16.py
  numba_cuda/numba/cuda/cext/_typeconv.cpp
  numba_cuda/numba/cuda/cext/capsulethunk.h
  numba_cuda/numba/cuda/core/typeinfer.py
  numba_cuda/numba/cuda/target.py
  numba_cuda/numba/cuda/tests/cudapy/test_typeconv.py
  numba_cuda/numba/cuda/tests/cudapy/test_typeinfer.py
  numba_cuda/numba/cuda/typeconv/__init__.py
  numba_cuda/numba/cuda/typeconv/castgraph.py
  numba_cuda/numba/cuda/typeconv/rules.py
  numba_cuda/numba/cuda/typeconv/typeconv.py
  numba_cuda/numba/cuda/types.py
  numba_cuda/numba/cuda/typing/context.py
  setup.py
Owners: @rapidsai/numba-cuda-write

Vendor in _helperlib cext for CUDA-specific changes (#512)
  numba_cuda/numba/cuda/cext/_helperlib.c
  numba_cuda/numba/cuda/cext/_helpermod.c
  numba_cuda/numba/cuda/core/base.py
  numba_cuda/numba/cuda/core/environment.py
  numba_cuda/numba/cuda/core/pythonapi.py
  numba_cuda/numba/cuda/cpython/unicode.py
  numba_cuda/numba/cuda/extending.py
  setup.py
Owners: @rapidsai/numba-cuda-write

Load upstream registries if numba is available
  numba_cuda/numba/cuda/target.py
Owners: @rapidsai/numba-cuda-write

Update numba_cuda/numba/cuda/cudadrv/driver.py
  numba_cuda/numba/cuda/cudadrv/driver.py
Owners: @rapidsai/numba-cuda-write

Revert "Reapply "plumbing through debug and lineinfo parameters""
  numba_cuda/numba/cuda/codegen.py
  numba_cuda/numba/cuda/cudadrv/driver.py
  numba_cuda/numba/cuda/cudadrv/nvrtc.py
  numba_cuda/numba/cuda/simulator/cudadrv/nvrtc.py
Owners: @rapidsai/numba-cuda-write

whitespace for formatter
  numba_cuda/numba/cuda/cudadrv/driver.py
Owners: @rapidsai/numba-cuda-write

Remove config.USE_LEGACY_TYPE_SYSTEM checks
  numba_cuda/numba/cuda/typeconv/rules.py
Owners: @rapidsai/numba-cuda-write

Updating .gitignore with test binaries
  .gitignore
Owners: none

chore(dev-deps): add pixi
  .gitattributes
  .gitignore
  pixi.lock
  pyproject.toml
Owners: @rapidsai/packaging-codeowners

chore: add comand to run tests
  pixi.lock
  pyproject.toml
Owners: @rapidsai/packaging-codeowners

chore: move pyinstrument to own dep group
  pyproject.toml
Owners: @rapidsai/packaging-codeowners

chore: add windows and linux-aarch64
  pyproject.toml
Owners: @rapidsai/packaging-codeowners

chore: relock pixi
  pixi.lock
Owners: none

chore: remove prof group
  pixi.lock
  pyproject.toml
Owners: @rapidsai/packaging-codeowners

ci: fix wheel dep group installs
  .spdx-ignore
  ci/coverage_report.sh
  ci/test_thirdparty.sh
  ci/test_wheel.sh
  ci/test_wheel_ctypes_binding.sh
  pixi.lock
Owners: @rapidsai/ci-codeowners

ci: handle the windows bits as well
  ci/test_wheel.ps1
Owners: @rapidsai/ci-codeowners

ci: handle the wheel deps bits as well
  ci/test_wheel_deps_wheels.sh
Owners: @rapidsai/ci-codeowners

chore: add spdx to .gitattributes
  .gitattributes
Owners: none

Also register _compatible_view with generic target
  numba_cuda/numba/cuda/core/base.py
  numba_cuda/numba/cuda/np/arrayobj.py
Owners: @rapidsai/numba-cuda-write

Remove some unnecessary uses of ContextResettingTestCase (#507)
  numba_cuda/numba/cuda/testing.py
  numba_cuda/numba/cuda/tests/cudadrv/test_context_stack.py
  numba_cuda/numba/cuda/tests/cudadrv/test_cuda_memory.py
  numba_cuda/numba/cuda/tests/cudadrv/test_emm_plugins.py
  numba_cuda/numba/cuda/tests/cudadrv/test_host_alloc.py
  numba_cuda/numba/cuda/tests/cudadrv/test_inline_ptx.py
  numba_cuda/numba/cuda/tests/cudadrv/test_managed_alloc.py
  numba_cuda/numba/cuda/tests/cudadrv/test_module_callbacks.py
  numba_cuda/numba/cuda/tests/cudadrv/test_pinned.py
  numba_cuda/numba/cuda/tests/cudadrv/test_profiler.py
  numba_cuda/numba/cuda/tests/cudadrv/test_reset_device.py
  numba_cuda/numba/cuda/tests/cudadrv/test_select_device.py
  numba_cuda/numba/cuda/tests/cudapy/test_cuda_array_interface.py
  numba_cuda/numba/cuda/tests/cudapy/test_ipc.py
Owners: @rapidsai/numba-cuda-write

switch to stable cudf
  ci/test_thirdparty.sh
Owners: @rapidsai/ci-codeowners

Don't use `MemoryLeakMixin` for tests that don't use NRT
  numba_cuda/numba/cuda/tests/cudapy/test_ufuncs.py
  numba_cuda/numba/cuda/tests/test_analysis.py
Owners: @rapidsai/numba-cuda-write

Updating .gitignore with binaries in the `testing` folder (#516)
  .gitignore
Owners: none

Switch back to stable cuDF release in thirdparty tests (#518)
  ci/test_thirdparty.sh
Owners: @rapidsai/ci-codeowners

fix ctypes tests
  numba_cuda/numba/cuda/cudadrv/driver.py
Owners: @rapidsai/numba-cuda-write

addressing old comments
  numba_cuda/numba/cuda/cudadrv/driver.py
  numba_cuda/numba/cuda/tests/cudadrv/test_cuda_driver.py
Owners: @rapidsai/numba-cuda-write

Don't use `MemoryLeakMixin` for tests that don't use NRT (#519)
  numba_cuda/numba/cuda/tests/cudapy/test_ufuncs.py
  numba_cuda/numba/cuda/tests/test_analysis.py
Owners: @rapidsai/numba-cuda-write

chore(dev-deps): add pixi
  .gitattributes
  .gitignore
  .spdx-ignore
  ci/coverage_report.sh
  ci/test_thirdparty.sh
  ci/test_wheel.ps1
  ci/test_wheel.sh
  ci/test_wheel_ctypes_binding.sh
  ci/test_wheel_deps_wheels.sh
  pixi.lock
  pyproject.toml
Owners: @rapidsai/ci-codeowners, @rapidsai/packaging-codeowners

Vendor the imputils module for CUDA refactoring (#448)
  numba_cuda/numba/cuda/_internal/cuda_bf16.py
  numba_cuda/numba/cuda/_internal/cuda_fp16.py
  numba_cuda/numba/cuda/core/base.py
  numba_cuda/numba/cuda/core/imputils.py
  numba_cuda/numba/cuda/core/inline_closurecall.py
  numba_cuda/numba/cuda/core/optional.py
  numba_cuda/numba/cuda/core/pythonapi.py
  numba_cuda/numba/cuda/cpython/builtins.py
  numba_cuda/numba/cuda/cpython/charseq.py
  numba_cuda/numba/cuda/cpython/cmathimpl.py
  numba_cuda/numba/cuda/cpython/enumimpl.py
  numba_cuda/numba/cuda/cpython/iterators.py
  numba_cuda/numba/cuda/cpython/listobj.py
  numba_cuda/numba/cuda/cpython/mathimpl.py
  numba_cuda/numba/cuda/cpython/numbers.py
  numba_cuda/numba/cuda/cpython/rangeobj.py
  numba_cuda/numba/cuda/cpython/slicing.py
  numba_cuda/numba/cuda/cpython/tupleobj.py
  numba_cuda/numba/cuda/cpython/unicode.py
  numba_cuda/numba/cuda/cpython/unicode_support.py
  numba_cuda/numba/cuda/cudaimpl.py
  numba_cuda/numba/cuda/extending.py
  numba_cuda/numba/cuda/libdeviceimpl.py
  numba_cuda/numba/cuda/mathimpl.py
  numba_cuda/numba/cuda/misc/cffiimpl.py
  numba_cuda/numba/cuda/np/arraymath.py
  numba_cuda/numba/cuda/np/arrayobj.py
  numba_cuda/numba/cuda/np/linalg.py
  numba_cuda/numba/cuda/np/math/cmathimpl.py
  numba_cuda/numba/cuda/np/math/mathimpl.py
  numba_cuda/numba/cuda/np/math/numbers.py
  numba_cuda/numba/cuda/np/npdatetime.py
  numba_cuda/numba/cuda/np/npyfuncs.py
  numba_cuda/numba/cuda/np/npyimpl.py
  numba_cuda/numba/cuda/np/polynomial/polynomial_core.py
  numba_cuda/numba/cuda/np/unsafe/ndarray.py
  numba_cuda/numba/cuda/printimpl.py
  numba_cuda/numba/cuda/target.py
  numba_cuda/numba/cuda/tests/test_extending_types.py
  numba_cuda/numba/cuda/vector_types.py
Owners: @rapidsai/numba-cuda-write

Import numba.core.entrypoints if available
  numba_cuda/numba/cuda/core/entrypoints.py
Owners: @rapidsai/numba-cuda-write

Vendor the datamodel module
  numba_cuda/numba/cuda/_internal/cuda_bf16.py
  numba_cuda/numba/cuda/_internal/cuda_fp16.py
  numba_cuda/numba/cuda/cgutils.py
  numba_cuda/numba/cuda/core/datamodel/__init__.py
  numba_cuda/numba/cuda/core/datamodel/manager.py
  numba_cuda/numba/cuda/core/datamodel/models.py
  numba_cuda/numba/cuda/core/datamodel/packer.py
  numba_cuda/numba/cuda/core/datamodel/registry.py
  numba_cuda/numba/cuda/core/datamodel/testing.py
  numba_cuda/numba/cuda/cpython/unicode.py
  numba_cuda/numba/cuda/cudaimpl.py
  numba_cuda/numba/cuda/debuginfo.py
  numba_cuda/numba/cuda/extending.py
  numba_cuda/numba/cuda/models.py
  numba_cuda/numba/cuda/target.py
  numba_cuda/numba/cuda/tests/cudapy/test_datamodel.py
  numba_cuda/numba/cuda/tests/support.py
  numba_cuda/numba/cuda/vector_types.py
Owners: @rapidsai/numba-cuda-write

chore(dev-deps): add pixi (#505)
  .gitattributes
  .gitignore
  .spdx-ignore
  ci/coverage_report.sh
  ci/test_thirdparty.sh
  ci/test_wheel.ps1
  ci/test_wheel.sh
  ci/test_wheel_ctypes_binding.sh
  ci/test_wheel_deps_wheels.sh
  pixi.lock
  pyproject.toml
Owners: @rapidsai/ci-codeowners, @rapidsai/packaging-codeowners

Install only external registrations from numba's builtin_registry
  numba_cuda/numba/cuda/core/base.py
  numba_cuda/numba/cuda/np/arrayobj.py
  numba_cuda/numba/cuda/target.py
Owners: @rapidsai/numba-cuda-write

Plumb through debug & lineinfo settings
  numba_cuda/numba/cuda/cudadrv/nvrtc.py
Owners: @rapidsai/numba-cuda-write

adding , to silence linter
  numba_cuda/numba/cuda/cudadrv/nvrtc.py
Owners: @rapidsai/numba-cuda-write

build: allow parallelization of nvcc testing builds
  testing/Makefile
Owners: none

build: add echo of compiler info back in, but at the end
  testing/Makefile
Owners: none

refactor: use noheader to avoid some additional shell munging
  testing/Makefile
Owners: none
