Repository NVIDIA/numba-cuda, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rapidsai/numba-cuda-write, @rapidsai/ci-codeowners, @rapidsai/packaging-codeowners

.github/CODEOWNERS:

#python code owners
numba_cuda/            @rapidsai/numba-cuda-write

#cmake code owners
**/CMakeLists.txt  @rapidsai/numba-cuda-write
**/cmake/          @rapidsai/numba-cuda-write

#CI code owners
/.github/                @rapidsai/ci-codeowners
/ci/                     @rapidsai/ci-codeowners
/.pre-commit-config.yaml @rapidsai/ci-codeowners

#packaging code owners
/.devcontainer/    @rapidsai/packaging-codeowners
/conda/            @rapidsai/packaging-codeowners
/dependencies.yaml @rapidsai/packaging-codeowners
/build.sh          @rapidsai/packaging-codeowners
pyproject.toml     @rapidsai/packaging-codeowners

fix: add guarding to vote sync mask_type and predicate_type
  numba_cuda/numba/cuda/intrinsics.py
  numba_cuda/numba/cuda/tests/cudapy/test_warp_ops.py
Owners: @rapidsai/numba-cuda-write

fix: add mask bool test
  numba_cuda/numba/cuda/tests/cudapy/test_warp_ops.py
Owners: @rapidsai/numba-cuda-write

fix: warp vote operations must use a constant int for the `mode` parameter (#606)
  numba_cuda/numba/cuda/cudadecl.py
  numba_cuda/numba/cuda/cudaimpl.py
  numba_cuda/numba/cuda/device_init.py
  numba_cuda/numba/cuda/intrinsic_wrapper.py
  numba_cuda/numba/cuda/intrinsics.py
  numba_cuda/numba/cuda/stubs.py
  numba_cuda/numba/cuda/tests/cudapy/test_warp_ops.py
Owners: @rapidsai/numba-cuda-write

Fix pointer APIs
  numba_cuda/numba/cuda/api.py
  numba_cuda/numba/cuda/cudadrv/devicearray.py
  numba_cuda/numba/cuda/cudadrv/driver.py
  numba_cuda/numba/cuda/tests/cudadrv/test_cuda_memory.py
  numba_cuda/numba/cuda/tests/cudadrv/test_emm_plugins.py
Owners: @rapidsai/numba-cuda-write

Update numba_cuda/numba/cuda/cudadrv/driver.py
  numba_cuda/numba/cuda/cudadrv/driver.py
Owners: @rapidsai/numba-cuda-write

Update numba_cuda/numba/cuda/cudadrv/driver.py
  numba_cuda/numba/cuda/cudadrv/driver.py
Owners: @rapidsai/numba-cuda-write

Update numba_cuda/numba/cuda/cudadrv/driver.py
  numba_cuda/numba/cuda/cudadrv/driver.py
Owners: @rapidsai/numba-cuda-write

Revert "perf: remove context threading in various pointer abstractions (#536)"
  numba_cuda/numba/cuda/api.py
  numba_cuda/numba/cuda/cudadrv/devicearray.py
  numba_cuda/numba/cuda/cudadrv/driver.py
  numba_cuda/numba/cuda/tests/cudadrv/test_cuda_memory.py
  numba_cuda/numba/cuda/tests/cudadrv/test_emm_plugins.py
Owners: @rapidsai/numba-cuda-write

Removing exception CUDAAPIError from unit tests
  numba_cuda/numba/cuda/cudadrv/driver.py
  numba_cuda/numba/cuda/tests/cudadrv/test_linker.py
  numba_cuda/numba/cuda/tests/cudapy/test_dispatcher.py
Owners: @rapidsai/numba-cuda-write

Passing stream objects directly to the launch function
  numba_cuda/numba/cuda/cudadrv/driver.py
  numba_cuda/numba/cuda/dispatcher.py
  numba_cuda/numba/cuda/memory_management/nrt.py
  numba_cuda/numba/cuda/tests/cudadrv/test_cuda_driver.py
Owners: @rapidsai/numba-cuda-write

fix: 0-size arrays are contiguous
  numba_cuda/numba/cuda/cudadrv/dummyarray.py
Owners: @rapidsai/numba-cuda-write

fix: empty arrays incorrectly typed as broadcast arrays
  numba_cuda/numba/cuda/cudadrv/devicearray.py
Owners: @rapidsai/numba-cuda-write

feat: add test for empty array
  numba_cuda/numba/cuda/tests/nocuda/test_dummyarray.py
Owners: @rapidsai/numba-cuda-write

fix: empty array type mismatch between host and device (#612)
  numba_cuda/numba/cuda/cudadrv/devicearray.py
  numba_cuda/numba/cuda/cudadrv/dummyarray.py
  numba_cuda/numba/cuda/tests/nocuda/test_dummyarray.py
Owners: @rapidsai/numba-cuda-write

{WIP] Follow-on from #612: try to align with NumPy
  numba_cuda/numba/cuda/cudadrv/devicearray.py
  numba_cuda/numba/cuda/cudadrv/dummyarray.py
Owners: @rapidsai/numba-cuda-write

Revert #536 "perf: remove context threading in various pointer abstractions" (#611)
  numba_cuda/numba/cuda/api.py
  numba_cuda/numba/cuda/cudadrv/devicearray.py
  numba_cuda/numba/cuda/cudadrv/driver.py
  numba_cuda/numba/cuda/tests/cudadrv/test_cuda_memory.py
  numba_cuda/numba/cuda/tests/cudadrv/test_emm_plugins.py
Owners: @rapidsai/numba-cuda-write

Bump version to 0.21.2
  numba_cuda/VERSION
Owners: @rapidsai/numba-cuda-write

Bump version to 0.21.2 (#614)
  numba_cuda/VERSION
Owners: @rapidsai/numba-cuda-write

Removing CTypesFunction
  numba_cuda/numba/cuda/cudadrv/driver.py
  numba_cuda/numba/cuda/dispatcher.py
  numba_cuda/numba/cuda/memory_management/nrt.py
  numba_cuda/numba/cuda/tests/cudadrv/test_cuda_driver.py
Owners: @rapidsai/numba-cuda-write

pre-commit
  numba_cuda/numba/cuda/cudadrv/driver.py
  numba_cuda/numba/cuda/dispatcher.py
  numba_cuda/numba/cuda/memory_management/nrt.py
  numba_cuda/numba/cuda/tests/cudadrv/test_cuda_driver.py
Owners: @rapidsai/numba-cuda-write

Removing numba stream but leaving a shim for backwards compat
  numba_cuda/numba/cuda/cudadrv/driver.py
Owners: @rapidsai/numba-cuda-write

re-enable cc=70 + cu12 to remind myself what happened
  .github/workflows/build-wheel.yml
Owners: @rapidsai/ci-codeowners

swap order
  .github/workflows/build-wheel.yml
Owners: @rapidsai/ci-codeowners

enable cibuildwheel support
  pyproject.toml
Owners: @rapidsai/packaging-codeowners

tailor for numba-cuda
  .github/workflows/build-wheel.yml
  .github/workflows/ci-new.yaml
  .github/workflows/test-wheel-linux.yml
  .github/workflows/test-wheel-windows.yml
  ci/tools/download-wheels
  ci/tools/env-vars
  ci/tools/run-tests
Owners: @rapidsai/ci-codeowners

skip py314 and py314t for now
  .github/workflows/build-wheel.yml
  ci/test-matrix.json
Owners: @rapidsai/ci-codeowners

make Linux executables discoverable
  .github/actions/fetch_ctk/action.yml
Owners: @rapidsai/ci-codeowners

nit: fix typo
  numba_cuda/numba/cuda/__init__.py
Owners: @rapidsai/numba-cuda-write

update makefile to accommodate for the new CI env
  testing/Makefile
  testing/generate_raw_ltoir.py
Owners: none

ensure tests that need cuobjdump can be skipped
  .github/workflows/test-wheel-linux.yml
  .github/workflows/test-wheel-windows.yml
  numba_cuda/numba/cuda/tests/cudadrv/test_nvjitlink.py
Owners: @rapidsai/ci-codeowners, @rapidsai/numba-cuda-write

suppress NVRTC warnings on V100 + CUDA 12
  testing/pytest.ini
Owners: none

libcudadevrt.a is expected to be in lib64 :(
  .github/actions/fetch_ctk/action.yml
Owners: @rapidsai/ci-codeowners

include cuobjdump
  .github/workflows/build-wheel.yml
  .github/workflows/test-wheel-linux.yml
  .github/workflows/test-wheel-windows.yml
Owners: @rapidsai/ci-codeowners

Ensure typing context initialized
  numba_cuda/numba/cuda/descriptor.py
Owners: @rapidsai/numba-cuda-write

Ensure typing context initialized (#621)
  numba_cuda/numba/cuda/descriptor.py
Owners: @rapidsai/numba-cuda-write

cosmetic changes
  .github/workflows/build-wheel.yml
  .github/workflows/test-wheel-windows.yml
  pyproject.toml
Owners: @rapidsai/ci-codeowners, @rapidsai/packaging-codeowners

Bump version to 0.21.3
  numba_cuda/VERSION
Owners: @rapidsai/numba-cuda-write

Bump version to 0.21.3 (#622)
  numba_cuda/VERSION
Owners: @rapidsai/numba-cuda-write

Additional address space tests
  numba_cuda/numba/cuda/tests/cudapy/test_debuginfo.py
Owners: @rapidsai/numba-cuda-write

Add DWARF address class support for shared memory arrays (#594)
  numba_cuda/numba/cuda/debuginfo.py
  numba_cuda/numba/cuda/lowering.py
  numba_cuda/numba/cuda/tests/cudapy/test_debuginfo.py
Owners: @rapidsai/numba-cuda-write
