Repository NVIDIA/numba-cuda, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rapidsai/numba-cuda-write, @rapidsai/ci-codeowners, @rapidsai/packaging-codeowners

s/mambabuild/build/
  ci/build_conda.sh
Owners: @rapidsai/ci-codeowners

Try using a newer branch workflow (#148)
  .github/workflows/pr.yaml
Owners: @rapidsai/ci-codeowners

Implement alignment support for local and shared arrays.
  numba_cuda/numba/cuda/cudadecl.py
  numba_cuda/numba/cuda/cudaimpl.py
  numba_cuda/numba/cuda/stubs.py
  numba_cuda/numba/cuda/tests/cudapy/test_array_alignment.py
Owners: @rapidsai/numba-cuda-write

Fix linking of external code from callees (#137)
  numba_cuda/numba/cuda/dispatcher.py
  numba_cuda/numba/cuda/tests/cudapy/test_device_func.py
Owners: @rapidsai/numba-cuda-write

Bump version to 0.6.0
  numba_cuda/VERSION
Owners: @rapidsai/numba-cuda-write

Use the output capturing to prevent dumping to stdout.
  numba_cuda/numba/cuda/tests/cudapy/test_debuginfo.py
Owners: @rapidsai/numba-cuda-write

Bump version to 0.6.0
  numba_cuda/VERSION
Owners: @rapidsai/numba-cuda-write

Drop Python 3.9, add Python 3.13, and update shared-workflows.
  .github/actions/compute-matrix/action.yaml
  .github/workflows/conda-python-build.yaml
  .github/workflows/conda-python-tests.yaml
  .github/workflows/docs-build.yaml
  .github/workflows/pr.yaml
  .github/workflows/wheels-build.yaml
  .github/workflows/wheels-test.yaml
  pyproject.toml
Owners: @rapidsai/ci-codeowners, @rapidsai/packaging-codeowners

Add back Python 3.9.
  .github/workflows/conda-python-build.yaml
  .github/workflows/conda-python-tests.yaml
  .github/workflows/wheels-build.yaml
  .github/workflows/wheels-test.yaml
Owners: @rapidsai/ci-codeowners

Fix requires-python.
  pyproject.toml
Owners: @rapidsai/packaging-codeowners

Correct test matrix.
  .github/actions/compute-matrix/action.yaml
Owners: @rapidsai/ci-codeowners

Use supported CUDA 12.2.2 Ubuntu version.
  .github/actions/compute-matrix/action.yaml
Owners: @rapidsai/ci-codeowners

Fix lack of CUDA 11.4 images for citestwheel.
  .github/workflows/wheels-test.yaml
Owners: @rapidsai/ci-codeowners

Fix pynvjitlink support matrix.
  .github/workflows/pr.yaml
Owners: @rapidsai/ci-codeowners

initial
  numba_cuda/numba/cuda/cudadrv/nvrtc.py
  numba_cuda/numba/cuda/dispatcher.py
  numba_cuda/numba/cuda/runtime/nrt.cu
  numba_cuda/numba/cuda/runtime/nrt.cuh
Owners: @rapidsai/numba-cuda-write

Temporarily disable Python 3.13 and CUDA 11.4 tests.
  .github/actions/compute-matrix/action.yaml
  .github/workflows/conda-python-tests.yaml
  .github/workflows/wheels-test.yaml
Owners: @rapidsai/ci-codeowners

Emit correct kernel arguments debug metadata types when NUMBA_DUMP_LLVM is on (#136)
  numba_cuda/numba/cuda/compiler.py
  numba_cuda/numba/cuda/tests/cudapy/test_debuginfo.py
Owners: @rapidsai/numba-cuda-write

Try CUDA 12.5 and Ubuntu 24.04 separately.
  .github/workflows/conda-python-tests.yaml
  .github/workflows/wheels-test.yaml
Owners: @rapidsai/ci-codeowners

Skip CUDA 12.8, but test Python 3.13 and Ubuntu 24.04.
  .github/actions/compute-matrix/action.yaml
  .github/workflows/conda-python-tests.yaml
  .github/workflows/wheels-test.yaml
Owners: @rapidsai/ci-codeowners

initial
  numba_cuda/numba/cuda/cudadrv/libs.py
  numba_cuda/numba/cuda/cudadrv/nvrtc.py
  numba_cuda/numba/cuda/cudadrv/nvvm.py
Owners: @rapidsai/numba-cuda-write

pass includes correctly
  numba_cuda/numba/cuda/cudadrv/driver.py
Owners: @rapidsai/numba-cuda-write

pass a few more linker tests
  numba_cuda/numba/cuda/cudadrv/driver.py
  numba_cuda/numba/cuda/tests/cudadrv/test_linker.py
Owners: @rapidsai/numba-cuda-write

slightly refactor cuda_paths
  numba_cuda/numba/cuda/cuda_paths.py
  numba_cuda/numba/cuda/cudadrv/libs.py
Owners: @rapidsai/numba-cuda-write

refactor libdevice search mechanism
  numba_cuda/numba/cuda/cuda_paths.py
Owners: @rapidsai/numba-cuda-write

debug get_cuda_paths
  numba_cuda/numba/cuda/cuda_paths.py
Owners: @rapidsai/numba-cuda-write

can launch kernel
  numba_cuda/numba/cuda/cudadrv/libs.py
Owners: @rapidsai/numba-cuda-write

cleanup
  numba_cuda/numba/cuda/cuda_paths.py
  numba_cuda/numba/cuda/cudadrv/libs.py
  numba_cuda/numba/cuda/cudadrv/nvrtc.py
Owners: @rapidsai/numba-cuda-write

style
  numba_cuda/numba/cuda/cudadrv/nvvm.py
Owners: @rapidsai/numba-cuda-write

reset files
  numba_cuda/numba/cuda/cudadrv/libs.py
  numba_cuda/numba/cuda/cudadrv/nvrtc.py
  numba_cuda/numba/cuda/cudadrv/nvvm.py
Owners: @rapidsai/numba-cuda-write

Context.create_module_ptx wraps PTX in an ObjectCode instance
  numba_cuda/numba/cuda/cudadrv/driver.py
Owners: @rapidsai/numba-cuda-write

workaround passing lto=False to cuda-python
  numba_cuda/numba/cuda/cudadrv/driver.py
Owners: @rapidsai/numba-cuda-write

Skip TestLinkerUsage if test binaries are not available
  numba_cuda/numba/cuda/tests/cudadrv/test_nvjitlink.py
Owners: @rapidsai/numba-cuda-write

Update llvm140_to_70_ir to llvm150_to_70_ir (name only)
  numba_cuda/numba/cuda/cudadrv/nvvm.py
Owners: @rapidsai/numba-cuda-write

NVVM: Don't verify libdevice
  numba_cuda/numba/cuda/cudadrv/nvvm.py
Owners: @rapidsai/numba-cuda-write

Skip TestLinkerUsage if test binaries are not available
  numba_cuda/numba/cuda/tests/cudadrv/test_nvjitlink.py
Owners: @rapidsai/numba-cuda-write

Update llvm140_to_70_ir to llvm150_to_70_ir (name only)
  numba_cuda/numba/cuda/cudadrv/nvvm.py
Owners: @rapidsai/numba-cuda-write

NVVM: Don't verify libdevice
  numba_cuda/numba/cuda/cudadrv/nvvm.py
Owners: @rapidsai/numba-cuda-write

Update to ctypes module wrapper and type checks
  numba_cuda/numba/cuda/codegen.py
  numba_cuda/numba/cuda/cudadrv/linkable_code.py
  numba_cuda/numba/cuda/cudadrv/managed_module.py
  numba_cuda/numba/cuda/tests/cudadrv/test_module_callbacks.py
Owners: @rapidsai/numba-cuda-write

Bump version to 0.7.0
  numba_cuda/VERSION
Owners: @rapidsai/numba-cuda-write

Bump version to 0.7.0
  numba_cuda/VERSION
Owners: @rapidsai/numba-cuda-write

.github/CODEOWNERS:

#python code owners
numba_cuda/            @rapidsai/numba-cuda-write

#cmake code owners
**/CMakeLists.txt  @rapidsai/numba-cuda-write
**/cmake/          @rapidsai/numba-cuda-write

#CI code owners
/.github/                @rapidsai/ci-codeowners
/ci/                     @rapidsai/ci-codeowners
/.pre-commit-config.yaml @rapidsai/ci-codeowners

#packaging code owners
/.devcontainer/    @rapidsai/packaging-codeowners
/conda/            @rapidsai/packaging-codeowners
/dependencies.yaml @rapidsai/packaging-codeowners
/build.sh          @rapidsai/packaging-codeowners
pyproject.toml     @rapidsai/packaging-codeowners
