Repository NVIDIA/numba-cuda, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rapidsai/numba-cuda-write, @rapidsai/ci-codeowners, @rapidsai/packaging-codeowners

clean
  .github/workflows/pr.yaml
Owners: @rapidsai/ci-codeowners

.1
  .github/workflows/pr.yaml
Owners: @rapidsai/ci-codeowners

revert
  .github/workflows/pr.yaml
Owners: @rapidsai/ci-codeowners

refactor
  .github/workflows/pr.yaml
Owners: @rapidsai/ci-codeowners

try and fix conda workflow
  .github/workflows/pr.yaml
Owners: @rapidsai/ci-codeowners

readenv boolify string values
  numba_cuda/numba/cuda/cudadrv/driver.py
Owners: @rapidsai/numba-cuda-write

fix imports
  numba_cuda/numba/cuda/tests/cudadrv/test_linker.py
  numba_cuda/numba/cuda/tests/cudadrv/test_nvjitlink.py
Owners: @rapidsai/numba-cuda-write

update
  .github/workflows/pr.yaml
Owners: @rapidsai/ci-codeowners

use local workflow matrix
  .github/workflows/pr.yaml
Owners: @rapidsai/ci-codeowners

cu12 suffix
  ci/test_wheel.sh
Owners: @rapidsai/ci-codeowners

Use global constraint map
  numba_cuda/numba/cuda/cache_hints.py
Owners: @rapidsai/numba-cuda-write

Validate indices
  numba_cuda/numba/cuda/cache_hints.py
  numba_cuda/numba/cuda/tests/cudapy/test_cache_hints.py
Owners: @rapidsai/numba-cuda-write

Optimization and debuginfo flag fixes
  numba_cuda/numba/cuda/compiler.py
  numba_cuda/numba/cuda/decorators.py
  numba_cuda/numba/cuda/simulator/api.py
  numba_cuda/numba/cuda/tests/cudapy/test_compiler.py
  numba_cuda/numba/cuda/tests/cudapy/test_cuda_jit_no_types.py
  numba_cuda/numba/cuda/tests/cudapy/test_exception.py
  numba_cuda/numba/cuda/tests/cudapy/test_fastmath.py
  numba_cuda/numba/cuda/tests/cudapy/test_userexc.py
  numba_cuda/numba/cuda/tests/cudapy/test_warning.py
Owners: @rapidsai/numba-cuda-write

Add printing support for `Dim3`s. (#14)
  numba_cuda/numba/cuda/printimpl.py
  numba_cuda/numba/cuda/tests/cudapy/test_print.py
Owners: @rapidsai/numba-cuda-write

Remove notes from README on targeting the develop branch
  README.md
Owners: none

Bump version to 0.0.16
  numba_cuda/VERSION
Owners: @rapidsai/numba-cuda-write

Optimization and debuginfo flag fixes
  numba_cuda/numba/cuda/compiler.py
  numba_cuda/numba/cuda/decorators.py
  numba_cuda/numba/cuda/simulator/api.py
  numba_cuda/numba/cuda/tests/cudapy/test_compiler.py
  numba_cuda/numba/cuda/tests/cudapy/test_cuda_jit_no_types.py
  numba_cuda/numba/cuda/tests/cudapy/test_exception.py
  numba_cuda/numba/cuda/tests/cudapy/test_fastmath.py
  numba_cuda/numba/cuda/tests/cudapy/test_userexc.py
  numba_cuda/numba/cuda/tests/cudapy/test_warning.py
Owners: @rapidsai/numba-cuda-write

Bump version to 0.0.16
  numba_cuda/VERSION
Owners: @rapidsai/numba-cuda-write

Add printing support for `Dim3`s. (#14)
  numba_cuda/numba/cuda/printimpl.py
  numba_cuda/numba/cuda/tests/cudapy/test_print.py
Owners: @rapidsai/numba-cuda-write

Remove notes from README on targeting the develop branch
  README.md
Owners: none

Add support for printing bools
  numba_cuda/numba/cuda/printimpl.py
  numba_cuda/numba/cuda/tests/cudapy/test_print.py
Owners: @rapidsai/numba-cuda-write

Bump version to 0.0.17
  numba_cuda/VERSION
Owners: @rapidsai/numba-cuda-write

Add support for printing bools
  numba_cuda/numba/cuda/printimpl.py
  numba_cuda/numba/cuda/tests/cudapy/test_print.py
Owners: @rapidsai/numba-cuda-write

Bump version to 0.0.17
  numba_cuda/VERSION
Owners: @rapidsai/numba-cuda-write

Add device-side support for int.bit_count (which just lowers to cuda.popc). Expand tests for cuda.popc to include smaller integer types.
  numba_cuda/numba/cuda/intrinsics.py
  numba_cuda/numba/cuda/tests/cudapy/test_intrinsics.py
Owners: @rapidsai/numba-cuda-write

copy from numba PR #8458
  numba_cuda/numba/cuda/dispatcher.py
  numba_cuda/numba/cuda/reshape_funcs.cu
  numba_cuda/numba/cuda/tests/cudapy/test_cuda_array_interface.py
Owners: @rapidsai/numba-cuda-write

Update ci/test_conda.sh
  ci/test_conda.sh
Owners: @rapidsai/ci-codeowners

Add device-side support for int.bit_count (which just lowers to cuda.popc). Expand tests for cuda.popc to include smaller integer types.
  numba_cuda/numba/cuda/intrinsics.py
  numba_cuda/numba/cuda/tests/cudapy/test_intrinsics.py
Owners: @rapidsai/numba-cuda-write

small updates
  numba_cuda/numba/cuda/cudadrv/driver.py
  numba_cuda/numba/cuda/tests/cudadrv/test_nvjitlink.py
Owners: @rapidsai/numba-cuda-write

fix logic :)
  numba_cuda/numba/cuda/tests/cudadrv/test_nvjitlink.py
Owners: @rapidsai/numba-cuda-write

try hardcoding ENABLE_PYNVJITLINK
  ci/test_conda.sh
  ci/test_wheel.sh
Owners: @rapidsai/ci-codeowners

fix passing of ENABLE_PYNVJITLINK
  ci/test_conda.sh
  ci/test_wheel.sh
Owners: @rapidsai/ci-codeowners

ship makefile, find and build tests
  ci/build_tests.sh
  ci/test_conda.sh
  ci/test_wheel.sh
  pyproject.toml
Owners: @rapidsai/ci-codeowners, @rapidsai/packaging-codeowners

minor fix
  ci/build_tests.sh
Owners: @rapidsai/ci-codeowners

bifurcate pynvjitlink test scripts
  .github/workflows/pr.yaml
  ci/build_tests.sh
  ci/test_conda_pynvjitlink.sh
  ci/test_wheel_pynvjitlink.sh
Owners: @rapidsai/ci-codeowners

pass test bin dir as an env var
  ci/test_conda_pynvjitlink.sh
  ci/test_wheel_pynvjitlink.sh
  numba_cuda/numba/cuda/tests/cudadrv/test_nvjitlink.py
  numba_cuda/numba/cuda/tests/test_binary_generation/Makefile
Owners: @rapidsai/ci-codeowners, @rapidsai/numba-cuda-write

more minor fixes
  numba_cuda/numba/cuda/tests/cudadrv/test_nvjitlink.py
  numba_cuda/numba/cuda/tests/test_binary_generation/Makefile
Owners: @rapidsai/numba-cuda-write

Retry installation of pynvjitlink
  ci/test_conda_pynvjitlink.sh
Owners: @rapidsai/ci-codeowners

find extra includes dynamically
  numba_cuda/numba/cuda/cuda_paths.py
  numba_cuda/numba/cuda/cudadrv/nvrtc.py
Owners: @rapidsai/numba-cuda-write

small fixes
  numba_cuda/numba/cuda/tests/nrt/test_nrt.py
Owners: @rapidsai/numba-cuda-write

.github/CODEOWNERS:

#python code owners
numba_cuda/            @rapidsai/numba-cuda-write

#cmake code owners
**/CMakeLists.txt  @rapidsai/numba-cuda-write
**/cmake/          @rapidsai/numba-cuda-write

#CI code owners
/.github/                @rapidsai/ci-codeowners
/ci/                     @rapidsai/ci-codeowners
/.pre-commit-config.yaml @rapidsai/ci-codeowners

#packaging code owners
/.devcontainer/    @rapidsai/packaging-codeowners
/conda/            @rapidsai/packaging-codeowners
/dependencies.yaml @rapidsai/packaging-codeowners
/build.sh          @rapidsai/packaging-codeowners
pyproject.toml     @rapidsai/packaging-codeowners
