Repository NVIDIA/numba-cuda, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rapidsai/numba-cuda-write, @rapidsai/ci-codeowners, @rapidsai/packaging-codeowners

.github/CODEOWNERS:

#python code owners
numba_cuda/            @rapidsai/numba-cuda-write

#cmake code owners
**/CMakeLists.txt  @rapidsai/numba-cuda-write
**/cmake/          @rapidsai/numba-cuda-write

#CI code owners
/.github/                @rapidsai/ci-codeowners
/ci/                     @rapidsai/ci-codeowners
/.pre-commit-config.yaml @rapidsai/ci-codeowners

#packaging code owners
/.devcontainer/    @rapidsai/packaging-codeowners
/conda/            @rapidsai/packaging-codeowners
/dependencies.yaml @rapidsai/packaging-codeowners
/build.sh          @rapidsai/packaging-codeowners
pyproject.toml     @rapidsai/packaging-codeowners

Re-adapt bytecode.py for Python 3.9
  numba_cuda/numba/cuda/core/bytecode.py
  numba_cuda/numba/cuda/core/interpreter.py
Owners: @rapidsai/numba-cuda-write

[NFC] Vendor in npyfuncs used for ufuncs
  numba_cuda/numba/cuda/np/npyfuncs.py
  numba_cuda/numba/cuda/ufuncs.py
Owners: @rapidsai/numba-cuda-write

remove newly duplicated registries + leave comments for future reintroduction
  numba_cuda/numba/cuda/cpython/cmathimpl.py
  numba_cuda/numba/cuda/cpython/mathimpl.py
  numba_cuda/numba/cuda/target.py
Owners: @rapidsai/numba-cuda-write

Vendor in cpython math impls
  numba_cuda/numba/cuda/cpython/cmathimpl.py
  numba_cuda/numba/cuda/cpython/mathimpl.py
  numba_cuda/numba/cuda/cpython/numbers.py
  numba_cuda/numba/cuda/target.py
  numba_cuda/numba/cuda/tests/nocuda/test_import.py
  numba_cuda/numba/cuda/ufuncs.py
Owners: @rapidsai/numba-cuda-write

[Refactor][NFC] Vendor in Environment class
  numba_cuda/numba/cuda/core/caching.py
  numba_cuda/numba/cuda/core/environment.py
  numba_cuda/numba/cuda/lowering.py
  numba_cuda/numba/cuda/tests/core/test_serialize.py
Owners: @rapidsai/numba-cuda-write

[Refactor][NFC] Vendor in CloudPickler
  numba_cuda/numba/cuda/cloudpickle.py
  numba_cuda/numba/cuda/codegen.py
  numba_cuda/numba/cuda/dispatcher.py
  numba_cuda/numba/cuda/serialize.py
  numba_cuda/numba/cuda/tests/cloudpickle_main_class.py
  numba_cuda/numba/cuda/tests/core/test_serialize.py
Owners: @rapidsai/numba-cuda-write

[Refactor][NFC] Add _devicearray, mviewbuf cext, move all cexts to top level numba_cuda
  numba_cuda/cext/_devicearray.cpp
  numba_cuda/cext/_devicearray.h
  numba_cuda/cext/_dispatcher.cpp
  numba_cuda/cext/_hashtable.cpp
  numba_cuda/cext/_hashtable.h
  numba_cuda/cext/_pymodule.h
  numba_cuda/cext/_typeof.cpp
  numba_cuda/cext/_typeof.h
  numba_cuda/cext/mviewbuf.c
  numba_cuda/cext/typeconv.cpp
  numba_cuda/cext/typeconv.hpp
  numba_cuda/numba/cuda/cudadrv/devicearray.py
  numba_cuda/numba/cuda/cudadrv/driver.py
  numba_cuda/numba/cuda/dispatcher.py
  setup.py
Owners: @rapidsai/numba-cuda-write

Backport interpreter.py for Python 3.9
  numba_cuda/numba/cuda/core/interpreter.py
Owners: @rapidsai/numba-cuda-write

Backport error class for Python 3.9
  numba_cuda/numba/cuda/compiler.py
  numba_cuda/numba/cuda/errors.py
Owners: @rapidsai/numba-cuda-write

Revert interpreter.py
  numba_cuda/numba/cuda/core/interpreter.py
Owners: @rapidsai/numba-cuda-write

[Refactor][NFC] Vendor in ufunc utility functions, classes
  numba_cuda/numba/cuda/deviceufunc.py
  numba_cuda/numba/cuda/np/ufunc/ufuncbuilder.py
  numba_cuda/numba/cuda/tests/cudapy/test_ufuncs.py
  numba_cuda/numba/cuda/tests/cudapy/test_vectorize_decor.py
  numba_cuda/numba/cuda/tests/npyufunc/test_vectorize_decor.py
  numba_cuda/numba/cuda/tests/test_ufuncs.py
Owners: @rapidsai/numba-cuda-write

[Refactor][NFC] Vendor-in np support utilities for CUDA-specific optimizations
  numba_cuda/numba/cuda/np/numpy_support.py
  numba_cuda/numba/cuda/simulator/cudadrv/devicearray.py
  numba_cuda/numba/cuda/simulator/kernelapi.py
  numba_cuda/numba/cuda/tests/cudadrv/test_cuda_devicerecord.py
  numba_cuda/numba/cuda/tests/cudapy/test_complex.py
  numba_cuda/numba/cuda/tests/cudapy/test_datetime.py
  numba_cuda/numba/cuda/tests/cudapy/test_math.py
  numba_cuda/numba/cuda/tests/cudapy/test_operator.py
  numba_cuda/numba/cuda/tests/cudapy/test_record_dtype.py
  numba_cuda/numba/cuda/tests/cudapy/test_serialize.py
  numba_cuda/numba/cuda/tests/cudapy/test_sm.py
  numba_cuda/numba/cuda/tests/support.py
  numba_cuda/numba/cuda/ufuncs.py
Owners: @rapidsai/numba-cuda-write

Change Homepage and Documentation to point to documentation page, and add issues URL.
  pyproject.toml
Owners: @rapidsai/packaging-codeowners

Update conda/recipes/numba-cuda/meta.yaml
  conda/recipes/numba-cuda/meta.yaml
Owners: @rapidsai/packaging-codeowners

go back to returning a bytes object
  numba_cuda/numba/cuda/cudadrv/driver.py
Owners: @rapidsai/numba-cuda-write

dont clobber the numba-cuda we want to test
  ci/test_thirdparty.sh
Owners: @rapidsai/ci-codeowners

py.test -> pytest
  ci/test_thirdparty.sh
Owners: @rapidsai/ci-codeowners

Change repo URLs in pyproject.toml to point to new URL (#389)
  pyproject.toml
Owners: @rapidsai/packaging-codeowners

nits cleanups + remove object mode pipeline
  numba_cuda/numba/cuda/compiler.py
  numba_cuda/numba/cuda/core/object_mode_passes.py
  numba_cuda/numba/cuda/core/untyped_passes.py
  numba_cuda/numba/cuda/dispatcher.py
  numba_cuda/numba/cuda/target.py
Owners: @rapidsai/numba-cuda-write

remove now redundant classes, remove nopythonbackend, and adjust pipelines accordingly
  numba_cuda/numba/cuda/compiler.py
  numba_cuda/numba/cuda/core/compiler_machinery.py
  numba_cuda/numba/cuda/core/untyped_passes.py
Owners: @rapidsai/numba-cuda-write

Fix remaining core.compiler imports to use newly upstreamed ones
  numba_cuda/numba/cuda/compiler.py
  numba_cuda/numba/cuda/core/untyped_passes.py
  numba_cuda/numba/cuda/dispatcher.py
  numba_cuda/numba/cuda/target.py
Owners: @rapidsai/numba-cuda-write

remove unnecessary Compiler class
  numba_cuda/numba/cuda/compiler.py
Owners: @rapidsai/numba-cuda-write

[Refactor][NFC] Vendor in PassManager + passes + helpers
  numba_cuda/numba/cuda/compiler.py
  numba_cuda/numba/cuda/core/compiler_machinery.py
  numba_cuda/numba/cuda/core/typed_passes.py
  numba_cuda/numba/cuda/core/untyped_passes.py
  numba_cuda/numba/cuda/flags.py
  numba_cuda/numba/cuda/testing.py
  numba_cuda/numba/cuda/tests/cudapy/test_debug.py
  numba_cuda/numba/cuda/utils.py
Owners: @rapidsai/numba-cuda-write

more cleanups for vendoring in pass manager
  numba_cuda/numba/cuda/compiler.py
  numba_cuda/numba/cuda/core/object_mode_passes.py
  numba_cuda/numba/cuda/core/untyped_passes.py
  numba_cuda/numba/cuda/testing.py
  numba_cuda/numba/cuda/tests/cudapy/test_inline.py
Owners: @rapidsai/numba-cuda-write

[NFC] Vendor in npyfuncs used for ufuncs
  numba_cuda/numba/cuda/np/npyfuncs.py
  numba_cuda/numba/cuda/ufuncs.py
Owners: @rapidsai/numba-cuda-write

Vendor in cpython math impls
  numba_cuda/numba/cuda/cpython/cmathimpl.py
  numba_cuda/numba/cuda/cpython/mathimpl.py
  numba_cuda/numba/cuda/cpython/numbers.py
  numba_cuda/numba/cuda/target.py
  numba_cuda/numba/cuda/tests/nocuda/test_import.py
  numba_cuda/numba/cuda/ufuncs.py
Owners: @rapidsai/numba-cuda-write

remove newly duplicated registries + leave comments for future reintroduction
  numba_cuda/numba/cuda/cpython/cmathimpl.py
  numba_cuda/numba/cuda/cpython/mathimpl.py
  numba_cuda/numba/cuda/target.py
Owners: @rapidsai/numba-cuda-write

[Refactor][NFC] Vendor in Environment class
  numba_cuda/numba/cuda/core/caching.py
  numba_cuda/numba/cuda/core/environment.py
  numba_cuda/numba/cuda/lowering.py
  numba_cuda/numba/cuda/tests/core/test_serialize.py
Owners: @rapidsai/numba-cuda-write

[Refactor][NFC] Vendor in CloudPickler
  numba_cuda/numba/cuda/cloudpickle.py
  numba_cuda/numba/cuda/codegen.py
  numba_cuda/numba/cuda/dispatcher.py
  numba_cuda/numba/cuda/serialize.py
  numba_cuda/numba/cuda/tests/cloudpickle_main_class.py
  numba_cuda/numba/cuda/tests/core/test_serialize.py
Owners: @rapidsai/numba-cuda-write

[Refactor][NFC] Vendor in ufunc utility functions, classes
  numba_cuda/numba/cuda/deviceufunc.py
  numba_cuda/numba/cuda/np/ufunc/ufuncbuilder.py
  numba_cuda/numba/cuda/tests/cudapy/test_ufuncs.py
  numba_cuda/numba/cuda/tests/cudapy/test_vectorize_decor.py
  numba_cuda/numba/cuda/tests/npyufunc/test_vectorize_decor.py
  numba_cuda/numba/cuda/tests/test_ufuncs.py
Owners: @rapidsai/numba-cuda-write

Add the CCCL include path
  numba_cuda/numba/cuda/cuda_paths.py
Owners: @rapidsai/numba-cuda-write

Re-add self referential dependency groups
  CONTRIBUTING.md
  pyproject.toml
Owners: @rapidsai/packaging-codeowners

[NFC] Document development dependencies and dependency groups (#345)
  CONTRIBUTING.md
  pyproject.toml
Owners: @rapidsai/packaging-codeowners

[Refactor][NFC] Vendor-in np support utilities for CUDA-specific optimizations
  numba_cuda/numba/cuda/np/numpy_support.py
  numba_cuda/numba/cuda/simulator/cudadrv/devicearray.py
  numba_cuda/numba/cuda/simulator/kernelapi.py
  numba_cuda/numba/cuda/tests/cudadrv/test_cuda_devicerecord.py
  numba_cuda/numba/cuda/tests/cudapy/test_complex.py
  numba_cuda/numba/cuda/tests/cudapy/test_datetime.py
  numba_cuda/numba/cuda/tests/cudapy/test_math.py
  numba_cuda/numba/cuda/tests/cudapy/test_operator.py
  numba_cuda/numba/cuda/tests/cudapy/test_record_dtype.py
  numba_cuda/numba/cuda/tests/cudapy/test_serialize.py
  numba_cuda/numba/cuda/tests/cudapy/test_sm.py
  numba_cuda/numba/cuda/tests/support.py
  numba_cuda/numba/cuda/ufuncs.py
Owners: @rapidsai/numba-cuda-write

add version guard for numpy dtype to numba type mappings
  numba_cuda/numba/cuda/np/numpy_support.py
Owners: @rapidsai/numba-cuda-write

Apply suggestions from code review
  docs/source/user/installation.rst
  pyproject.toml
Owners: @rapidsai/packaging-codeowners

Filter the coverage-report job on a valid config
  .github/workflows/pr.yaml
Owners: @rapidsai/ci-codeowners

Try to WAR no ci-conda 13 images
  .github/workflows/conda-python-tests.yaml
  .github/workflows/wheels-test.yaml
  ci/matrix.yml
Owners: @rapidsai/ci-codeowners

Don't build test binaries for CC 7.0
  numba_cuda/numba/cuda/tests/test_binary_generation/Makefile
  numba_cuda/numba/cuda/tests/test_binary_generation/build.bat
Owners: @rapidsai/numba-cuda-write

Fix check for when to use apt-get
  ci/test_conda.sh
Owners: @rapidsai/ci-codeowners
