Repository NVIDIA/numba-cuda, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rapidsai/numba-cuda-write, @rapidsai/ci-codeowners, @rapidsai/packaging-codeowners

bind to math.tanh
  numba_cuda/numba/cuda/bf16.py
  numba_cuda/numba/cuda/tests/cudapy/test_bfloat16.py
Owners: @rapidsai/numba-cuda-write

add tanh documentation
  docs/source/reference/types.rst
Owners: none

make sure that declare_device can specify use of cooperative launch and is traced in codelib
  numba_cuda/numba/cuda/codegen.py
  numba_cuda/numba/cuda/compiler.py
  numba_cuda/numba/cuda/decorators.py
Owners: @rapidsai/numba-cuda-write

Drop ctk11 support, handle py3.9 and py3.10 breakage
  docs/source/reference/types.rst
  numba_cuda/numba/cuda/bf16.py
  numba_cuda/numba/cuda/tests/cudapy/test_bfloat16_bindings.py
Owners: @rapidsai/numba-cuda-write

bump version to 0.11.0 (#250)
  numba_cuda/VERSION
Owners: @rapidsai/numba-cuda-write

add cuda_version12.0 to supported bfloat16 helper
  numba_cuda/numba/cuda/api.py
  numba_cuda/numba/cuda/bf16.py
  numba_cuda/numba/cuda/tests/cudapy/test_bfloat16.py
  numba_cuda/numba/cuda/tests/cudapy/test_bfloat16_bindings.py
Owners: @rapidsai/numba-cuda-write

Simplify the CI build and test matrix (#249)
  .github/actions/compute-matrix/action.yaml
  .github/workflows/conda-python-build.yaml
  .github/workflows/conda-python-tests.yaml
  .github/workflows/pr.yaml
  .github/workflows/wheels-build.yaml
  .github/workflows/wheels-test.yaml
  ci/matrix.yml
Owners: @rapidsai/ci-codeowners

Rename `numba.cuda.runtime` to `memory_management`
  numba_cuda/numba/cuda/codegen.py
  numba_cuda/numba/cuda/cudadrv/nvrtc.py
  numba_cuda/numba/cuda/dispatcher.py
  numba_cuda/numba/cuda/memory_management/__init__.py
  numba_cuda/numba/cuda/memory_management/memsys.cu
  numba_cuda/numba/cuda/memory_management/memsys.cuh
  numba_cuda/numba/cuda/memory_management/nrt.cu
  numba_cuda/numba/cuda/memory_management/nrt.cuh
  numba_cuda/numba/cuda/memory_management/nrt.py
  numba_cuda/numba/cuda/runtime/__init__.py
  numba_cuda/numba/cuda/tests/nrt/test_nrt.py
  numba_cuda/numba/cuda/tests/nrt/test_nrt_refct.py
  numba_cuda/numba/cuda/tests/support.py
  numba_cuda/numba/cuda/tests/test_binary_generation/Makefile
  numba_cuda/numba/cuda/tests/test_binary_generation/generate_raw_ltoir.py
Owners: @rapidsai/numba-cuda-write

Remove some invalid array reshape tests
  numba_cuda/numba/cuda/tests/cudapy/test_array.py
Owners: @rapidsai/numba-cuda-write

CUDASIM: Support detection of device function calls
  numba_cuda/numba/cuda/simulator/kernel.py
Owners: @rapidsai/numba-cuda-write

CUDASIM: Update to include recently-added APIs
  numba_cuda/numba/cuda/simulator/__init__.py
  numba_cuda/numba/cuda/simulator/api.py
  numba_cuda/numba/cuda/simulator/compiler.py
  numba_cuda/numba/cuda/simulator/cudadrv/driver.py
  numba_cuda/numba/cuda/simulator/cudadrv/libs.py
  numba_cuda/numba/cuda/simulator/cudadrv/linkable_code.py
  numba_cuda/numba/cuda/simulator/kernelapi.py
  numba_cuda/numba/cuda/simulator/memory_management/__init__.py
  numba_cuda/numba/cuda/simulator/memory_management/nrt.py
  numba_cuda/numba/cuda/testing.py
  numba_cuda/numba/cuda/tests/cudadrv/test_module_callbacks.py
  numba_cuda/numba/cuda/tests/cudadrv/test_nvjitlink.py
  numba_cuda/numba/cuda/tests/cudapy/test_array_alignment.py
  numba_cuda/numba/cuda/tests/cudapy/test_bfloat16_bindings.py
  numba_cuda/numba/cuda/tests/cudapy/test_enums.py
  numba_cuda/numba/cuda/tests/cudapy/test_extending.py
  numba_cuda/numba/cuda/tests/nrt/test_nrt.py
  numba_cuda/numba/cuda/tests/nrt/test_nrt_refct.py
Owners: @rapidsai/numba-cuda-write

update declare device usage and fix type
  numba_cuda/numba/cuda/codegen.py
  numba_cuda/numba/cuda/cudadecl.py
Owners: @rapidsai/numba-cuda-write

Use specific `cuCtxGetCurrent` API version
  numba_cuda/numba/cuda/cudadrv/driver.py
Owners: @rapidsai/numba-cuda-write

Change CI to only be manually triggered to save on CI runs
  .github/copy-pr-bot.yaml
Owners: @rapidsai/ci-codeowners

Add CUDA simulator test workflow
  .github/workflows/pr.yaml
  .github/workflows/simulator-test.yaml
  ci/test_simulator.sh
Owners: @rapidsai/ci-codeowners

Change CI to only be manually triggered to save on CI runs (#252)
  .github/copy-pr-bot.yaml
Owners: @rapidsai/ci-codeowners

Apply suggestions from code review
  numba_cuda/numba/cuda/api.py
Owners: @rapidsai/numba-cuda-write

add a test to use bf16 bindings inside device functions (#244)
  numba_cuda/numba/cuda/tests/cudapy/test_bfloat16_bindings.py
Owners: @rapidsai/numba-cuda-write

Batch address documentation review comments
  docs/source/reference/types.rst
Owners: none

Apply suggestions from code review
  docs/source/reference/types.rst
Owners: none

update h -> b
  docs/source/reference/types.rst
Owners: none

update the unit test with runtime skips
  numba_cuda/numba/cuda/tests/cudapy/test_bfloat16.py
  numba_cuda/numba/cuda/tests/cudapy/test_bfloat16_bindings.py
Owners: @rapidsai/numba-cuda-write

add test to use bf16 with lto
  numba_cuda/numba/cuda/tests/cudapy/test_bfloat16.py
  numba_cuda/numba/cuda/tests/cudapy/test_bfloat16_bindings.py
Owners: @rapidsai/numba-cuda-write

Add Bfloat16 High Level API, Documentation (#245)
  docs/source/reference/types.rst
  numba_cuda/numba/cuda/_internal/cuda_bf16.py
  numba_cuda/numba/cuda/api.py
  numba_cuda/numba/cuda/bf16.py
  numba_cuda/numba/cuda/cudadrv/driver.py
  numba_cuda/numba/cuda/tests/cudapy/test_bfloat16.py
  numba_cuda/numba/cuda/tests/cudapy/test_bfloat16_bindings.py
Owners: @rapidsai/numba-cuda-write

add external coop k launch example
  numba_cuda/numba/cuda/decorators.py
  numba_cuda/numba/cuda/tests/cudapy/test_cooperative_groups.py
  numba_cuda/numba/cuda/tests/data/cta_barrier.cu
Owners: @rapidsai/numba-cuda-write

avoid searching the ptx to determine if cooperative launch is needed
  numba_cuda/numba/cuda/cg.py
  numba_cuda/numba/cuda/dispatcher.py
Owners: @rapidsai/numba-cuda-write

add configuration option and unpack in nvrtc binding
  docs/source/reference/envvars.rst
  numba_cuda/numba/cuda/cudadrv/nvrtc.py
Owners: @rapidsai/numba-cuda-write

add test for additional search paths
  numba_cuda/numba/cuda/cudadrv/nvrtc.py
  numba_cuda/numba/cuda/tests/data/include/add.cuh
  numba_cuda/numba/cuda/tests/doc_examples/ffi/include/mul.cuh
  numba_cuda/numba/cuda/tests/doc_examples/ffi/saxpy.cu
  numba_cuda/numba/cuda/tests/doc_examples/test_ffi.py
Owners: @rapidsai/numba-cuda-write

additional -> extra
  docs/source/reference/envvars.rst
  numba_cuda/numba/cuda/cudadrv/nvrtc.py
  numba_cuda/numba/cuda/tests/data/include/add.cuh
  numba_cuda/numba/cuda/tests/doc_examples/ffi/include/mul.cuh
  numba_cuda/numba/cuda/tests/doc_examples/test_ffi.py
Owners: @rapidsai/numba-cuda-write

add documentation
  docs/source/user/cuda_ffi.rst
Owners: none

reset config settings afterwards
  numba_cuda/numba/cuda/tests/doc_examples/test_ffi.py
Owners: @rapidsai/numba-cuda-write

fix subsubsection headings
  docs/source/user/cuda_ffi.rst
Owners: none

fix sub-sub-section heading marks
  docs/source/user/cuda_ffi.rst
Owners: none

Remove some invalid array reshape tests
  numba_cuda/numba/cuda/tests/cudapy/test_array.py
Owners: @rapidsai/numba-cuda-write

Rename `numba.cuda.runtime` to `memory_management`
  numba_cuda/numba/cuda/codegen.py
  numba_cuda/numba/cuda/cudadrv/nvrtc.py
  numba_cuda/numba/cuda/dispatcher.py
  numba_cuda/numba/cuda/memory_management/__init__.py
  numba_cuda/numba/cuda/memory_management/memsys.cu
  numba_cuda/numba/cuda/memory_management/memsys.cuh
  numba_cuda/numba/cuda/memory_management/nrt.cu
  numba_cuda/numba/cuda/memory_management/nrt.cuh
  numba_cuda/numba/cuda/memory_management/nrt.py
  numba_cuda/numba/cuda/runtime/__init__.py
  numba_cuda/numba/cuda/tests/nrt/test_nrt.py
  numba_cuda/numba/cuda/tests/nrt/test_nrt_refct.py
  numba_cuda/numba/cuda/tests/support.py
  numba_cuda/numba/cuda/tests/test_binary_generation/Makefile
  numba_cuda/numba/cuda/tests/test_binary_generation/generate_raw_ltoir.py
Owners: @rapidsai/numba-cuda-write

CUDASIM: Support detection of device function calls
  numba_cuda/numba/cuda/simulator/kernel.py
Owners: @rapidsai/numba-cuda-write

CUDASIM: Update to include recently-added APIs
  numba_cuda/numba/cuda/simulator/__init__.py
  numba_cuda/numba/cuda/simulator/_internal/__init__.py
  numba_cuda/numba/cuda/simulator/_internal/cuda_bf16.py
  numba_cuda/numba/cuda/simulator/api.py
  numba_cuda/numba/cuda/simulator/bf16.py
  numba_cuda/numba/cuda/simulator/compiler.py
  numba_cuda/numba/cuda/simulator/cudadrv/driver.py
  numba_cuda/numba/cuda/simulator/cudadrv/libs.py
  numba_cuda/numba/cuda/simulator/cudadrv/linkable_code.py
  numba_cuda/numba/cuda/simulator/cudadrv/nvrtc.py
  numba_cuda/numba/cuda/simulator/kernelapi.py
  numba_cuda/numba/cuda/simulator/memory_management/__init__.py
  numba_cuda/numba/cuda/simulator/memory_management/nrt.py
  numba_cuda/numba/cuda/testing.py
  numba_cuda/numba/cuda/tests/cudadrv/test_cuda_ndarray.py
  numba_cuda/numba/cuda/tests/cudadrv/test_module_callbacks.py
  numba_cuda/numba/cuda/tests/cudadrv/test_nvjitlink.py
  numba_cuda/numba/cuda/tests/cudapy/test_array_alignment.py
  numba_cuda/numba/cuda/tests/cudapy/test_bfloat16_bindings.py
  numba_cuda/numba/cuda/tests/cudapy/test_enums.py
  numba_cuda/numba/cuda/tests/cudapy/test_extending.py
  numba_cuda/numba/cuda/tests/nrt/test_nrt.py
  numba_cuda/numba/cuda/tests/nrt/test_nrt_refct.py
Owners: @rapidsai/numba-cuda-write

Apply suggestions from code review
  docs/source/reference/envvars.rst
  docs/source/user/cuda_ffi.rst
  numba_cuda/numba/cuda/cudadrv/nvrtc.py
  numba_cuda/numba/cuda/tests/doc_examples/test_ffi.py
Owners: @rapidsai/numba-cuda-write

Apply suggestions from code review
  docs/source/user/cuda_ffi.rst
Owners: none

use override config to temporarily stash path changes
  docs/source/user/cuda_ffi.rst
  numba_cuda/numba/cuda/tests/doc_examples/test_ffi.py
Owners: @rapidsai/numba-cuda-write

.github/CODEOWNERS:

#python code owners
numba_cuda/            @rapidsai/numba-cuda-write

#cmake code owners
**/CMakeLists.txt  @rapidsai/numba-cuda-write
**/cmake/          @rapidsai/numba-cuda-write

#CI code owners
/.github/                @rapidsai/ci-codeowners
/ci/                     @rapidsai/ci-codeowners
/.pre-commit-config.yaml @rapidsai/ci-codeowners

#packaging code owners
/.devcontainer/    @rapidsai/packaging-codeowners
/conda/            @rapidsai/packaging-codeowners
/dependencies.yaml @rapidsai/packaging-codeowners
/build.sh          @rapidsai/packaging-codeowners
pyproject.toml     @rapidsai/packaging-codeowners
