Repository NVIDIA/numba-cuda, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rapidsai/numba-cuda-write, @rapidsai/ci-codeowners, @rapidsai/packaging-codeowners

.github/CODEOWNERS:

#python code owners
numba_cuda/            @rapidsai/numba-cuda-write

#cmake code owners
**/CMakeLists.txt  @rapidsai/numba-cuda-write
**/cmake/          @rapidsai/numba-cuda-write

#CI code owners
/.github/                @rapidsai/ci-codeowners
/ci/                     @rapidsai/ci-codeowners
/.pre-commit-config.yaml @rapidsai/ci-codeowners

#packaging code owners
/.devcontainer/    @rapidsai/packaging-codeowners
/conda/            @rapidsai/packaging-codeowners
/dependencies.yaml @rapidsai/packaging-codeowners
/build.sh          @rapidsai/packaging-codeowners
pyproject.toml     @rapidsai/packaging-codeowners

pathfinder release
  pixi.lock
  pyproject.toml
Owners: @rapidsai/packaging-codeowners

add additional packed type
  docs/source/reference/types.rst
  numba_cuda/numba/cuda/tests/cudapy/test_fp8.py
  numba_cuda/numba/cuda/tests/cudapy/test_fp8_bindings.py
Owners: @rapidsai/numba-cuda-write

use the cuda stream pointer
  numba_cuda/numba/cuda/tests/cudadrv/test_cuda_driver.py
Owners: @rapidsai/numba-cuda-write

restore / deprecate drvapi file
  numba_cuda/numba/cuda/cudadrv/drvapi.py
Owners: @rapidsai/numba-cuda-write

small fixes
  numba_cuda/numba/cuda/tests/cudadrv/test_cuda_memory.py
Owners: @rapidsai/numba-cuda-write

fighting cursor
  numba_cuda/numba/cuda/tests/cudadrv/test_cuda_memory.py
Owners: @rapidsai/numba-cuda-write

add packed type test and doc
  numba_cuda/numba/cuda/extending.py
  numba_cuda/numba/cuda/tests/cudapy/test_fp8.py
  numba_cuda/numba/cuda/tests/cudapy/test_fp8_bindings.py
Owners: @rapidsai/numba-cuda-write

update high level enum name and docs
  docs/source/reference/types.rst
  numba_cuda/numba/cuda/fp8.py
  numba_cuda/numba/cuda/tests/cudapy/test_fp8.py
Owners: @rapidsai/numba-cuda-write

exposes bfloat16 to fp8 conversion directly
  docs/source/reference/types.rst
  numba_cuda/numba/cuda/bf16.py
  numba_cuda/numba/cuda/fp8.py
  numba_cuda/numba/cuda/tests/cudapy/test_fp8.py
Owners: @rapidsai/numba-cuda-write

address some reviews
  numba_cuda/numba/cuda/cuda_paths.py
  numba_cuda/numba/cuda/cudadrv/nvrtc.py
Owners: @rapidsai/numba-cuda-write

Remove unused cudf patch (#786)
  ci/patches/cudf_numba_cuda_compatibility.patch
Owners: @rapidsai/ci-codeowners

fix: fix fragile timing in test_event_query.
  numba_cuda/numba/cuda/tests/cudadrv/test_events.py
Owners: @rapidsai/numba-cuda-write

fix
  numba_cuda/numba/cuda/cudadrv/nvrtc.py
Owners: @rapidsai/numba-cuda-write

address reviews/fixes
  numba_cuda/numba/cuda/cuda_paths.py
  pixi.lock
  pixi.toml
Owners: @rapidsai/numba-cuda-write

get cccl package in coverage report, fix nvrtc include of cccl
  ci/coverage_report.sh
  numba_cuda/numba/cuda/cudadrv/nvrtc.py
Owners: @rapidsai/ci-codeowners, @rapidsai/numba-cuda-write

Initial interop experiment of bfloat16 via dlpack
  numba_cuda/numba/cuda/cudadrv/driver.py
  numba_cuda/numba/cuda/np/numpy_support.py
  numba_cuda/numba/cuda/tests/cudapy/test_cupy_bfloat16_interop.py
  numba_cuda/numba/cuda/typing/typeof.py
Owners: @rapidsai/numba-cuda-write

fix(errors): restore exception subclass hierarchy to fix slow string compilation (#755)
  numba_cuda/numba/cuda/core/errors.py
Owners: @rapidsai/numba-cuda-write

find libdevice via pathfinder
  numba_cuda/numba/cuda/cuda_paths.py
  numba_cuda/numba/cuda/tests/nocuda/test_library_lookup.py
Owners: @rapidsai/numba-cuda-write

Fix typo in CUDA Simulator title
  docs/source/user/simulator.rst
Owners: none

access .handle
  numba_cuda/numba/cuda/cudadrv/driver.py
Owners: @rapidsai/numba-cuda-write

Ensure the punctuation character length matches the length of the title
  docs/source/user/simulator.rst
Owners: none

test(errors): add regression coverage for CUDA/core hierarchy
  numba_cuda/numba/cuda/tests/cudapy/test_errors.py
Owners: @rapidsai/numba-cuda-write

chore(lock): sync pixi lock numba-cuda version entries
  pixi.lock
Owners: none

style(errors): apply ruff autofix in CUDA errors module
  numba_cuda/numba/cuda/core/errors.py
Owners: @rapidsai/numba-cuda-write

handle compatibility
  numba_cuda/numba/cuda/_compat.py
  numba_cuda/numba/cuda/cudadrv/driver.py
  numba_cuda/numba/cuda/cudadrv/nvrtc.py
  numba_cuda/numba/cuda/dispatcher.py
  numba_cuda/numba/cuda/memory_management/nrt.py
Owners: @rapidsai/numba-cuda-write

update _compat and usages
  numba_cuda/numba/cuda/cudadrv/driver.py
  numba_cuda/numba/cuda/tests/cudadrv/test_cuda_driver.py
  numba_cuda/numba/cuda/tests/cudadrv/test_events.py
  numba_cuda/numba/cuda/tests/cudadrv/test_linker.py
  numba_cuda/numba/cuda/tests/cudadrv/test_module_callbacks.py
  numba_cuda/numba/cuda/tests/cudapy/test_dispatcher.py
Owners: @rapidsai/numba-cuda-write

fix: align numpy dtype overload signature with numpy API
  numba_cuda/numba/cuda/np/npyimpl.py
Owners: @rapidsai/numba-cuda-write

fix: remove unsupported kwargs from numpy dtype overload
  numba_cuda/numba/cuda/np/npyimpl.py
Owners: @rapidsai/numba-cuda-write

fix: align numpy dot overload argument names with API
  numba_cuda/numba/cuda/np/linalg.py
Owners: @rapidsai/numba-cuda-write

Incorporate numba_cuda.__version__ into cache version.
  numba_cuda/numba/cuda/core/caching.py
Owners: @rapidsai/numba-cuda-write

Add tests.
  numba_cuda/numba/cuda/tests/nocuda/test_cache_version.py
  testing/test_cache_version.py
Owners: @rapidsai/numba-cuda-write

import
  numba_cuda/numba/cuda/tests/cudapy/test_compiler.py
Owners: @rapidsai/numba-cuda-write

Make C ABI internal calls resilient so void* wrappers and Optional returns compile.
  numba_cuda/numba/cuda/cgutils.py
  numba_cuda/numba/cuda/core/base.py
  numba_cuda/numba/cuda/core/callconv.py
  numba_cuda/numba/cuda/core/imputils.py
  numba_cuda/numba/cuda/core/optional.py
  numba_cuda/numba/cuda/core/pythonapi.py
  numba_cuda/numba/cuda/cpython/builtins.py
  numba_cuda/numba/cuda/cpython/charseq.py
  numba_cuda/numba/cuda/cpython/iterators.py
  numba_cuda/numba/cuda/cpython/listobj.py
  numba_cuda/numba/cuda/cpython/rangeobj.py
  numba_cuda/numba/cuda/cpython/slicing.py
  numba_cuda/numba/cuda/cpython/tupleobj.py
  numba_cuda/numba/cuda/lowering.py
  numba_cuda/numba/cuda/misc/gdb_hook.py
  numba_cuda/numba/cuda/np/arrayobj.py
  numba_cuda/numba/cuda/np/npyimpl.py
  numba_cuda/numba/cuda/np/polynomial/polynomial_core.py
  numba_cuda/numba/cuda/tests/cudapy/test_compiler.py
Owners: @rapidsai/numba-cuda-write

Add C ABI complex division compile test to cover issue 789.
  numba_cuda/numba/cuda/tests/cudapy/test_compiler.py
Owners: @rapidsai/numba-cuda-write

caching fix
  numba_cuda/numba/cuda/np/numpy_support.py
  numba_cuda/numba/cuda/tests/cudapy/test_cuda_array_interface.py
Owners: @rapidsai/numba-cuda-write

remove maybe_ functions, remove exceptions in CABI
  numba_cuda/numba/cuda/cgutils.py
  numba_cuda/numba/cuda/core/base.py
  numba_cuda/numba/cuda/core/callconv.py
  numba_cuda/numba/cuda/core/imputils.py
  numba_cuda/numba/cuda/core/optional.py
  numba_cuda/numba/cuda/core/pythonapi.py
  numba_cuda/numba/cuda/cpython/builtins.py
  numba_cuda/numba/cuda/cpython/charseq.py
  numba_cuda/numba/cuda/cpython/iterators.py
  numba_cuda/numba/cuda/cpython/listobj.py
  numba_cuda/numba/cuda/cpython/rangeobj.py
  numba_cuda/numba/cuda/cpython/slicing.py
  numba_cuda/numba/cuda/cpython/tupleobj.py
  numba_cuda/numba/cuda/lowering.py
  numba_cuda/numba/cuda/misc/gdb_hook.py
  numba_cuda/numba/cuda/np/arrayobj.py
  numba_cuda/numba/cuda/np/npyimpl.py
  numba_cuda/numba/cuda/np/polynomial/polynomial_core.py
Owners: @rapidsai/numba-cuda-write

revert back to call_internal since it's moved.
  numba_cuda/numba/cuda/tests/cudapy/test_compiler.py
Owners: @rapidsai/numba-cuda-write

add documentation referring to this change
  docs/source/user/callconv.rst
  docs/source/user/index.rst
Owners: none

cupy upper bound
  ci/test_thirdparty_cudf.sh
Owners: @rapidsai/ci-codeowners

pin cupy
  ci/test_thirdparty_cudf.sh
Owners: @rapidsai/ci-codeowners
