Repository NVIDIA/numba-cuda, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rapidsai/numba-cuda-write, @rapidsai/ci-codeowners, @rapidsai/packaging-codeowners

.github/CODEOWNERS:

#python code owners
numba_cuda/            @rapidsai/numba-cuda-write

#cmake code owners
**/CMakeLists.txt  @rapidsai/numba-cuda-write
**/cmake/          @rapidsai/numba-cuda-write

#CI code owners
/.github/                @rapidsai/ci-codeowners
/ci/                     @rapidsai/ci-codeowners
/.pre-commit-config.yaml @rapidsai/ci-codeowners

#packaging code owners
/.devcontainer/    @rapidsai/packaging-codeowners
/conda/            @rapidsai/packaging-codeowners
/dependencies.yaml @rapidsai/packaging-codeowners
/build.sh          @rapidsai/packaging-codeowners
pyproject.toml     @rapidsai/packaging-codeowners

Bump version to 0.0.3
  numba_cuda/VERSION
Owners: @rapidsai/numba-cuda-write

Bump version to 0.0.3
  numba_cuda/VERSION
Owners: @rapidsai/numba-cuda-write

use `devicearray.auto_device` to auto copy global array to device
  numba_cuda/numba/cuda/cudadrv/devicearray.py
  numba_cuda/numba/cuda/target.py
Owners: @rapidsai/numba-cuda-write

Add flake8 config
  .flake8
Owners: none

Copy workflows from shared-workflows branch-24.08
  .github/workflows/conda-python-build.yaml
  .github/workflows/conda-python-tests.yaml
  .github/workflows/wheels-build.yaml
  .github/workflows/wheels-test.yaml
Owners: @rapidsai/ci-codeowners

Try using copied workflows for PR builder
  .github/workflows/pr.yaml
Owners: @rapidsai/ci-codeowners

add and pass TestNrtBasic, and refactor
  numba_cuda/numba/cuda/dispatcher.py
  numba_cuda/numba/cuda/runtime/nrt.cu
  numba_cuda/numba/cuda/tests/nrt/test_nrt.py
Owners: @rapidsai/numba-cuda-write

setup.py: Add redirector to source and output mapping
  setup.py
Owners: none

Add redirector to editable wheel
  setup.py
Owners: none

Refactor / tidy-up of setup.py
  setup.py
Owners: none

updates
  numba_cuda/numba/cuda/cudadrv/nvrtc.py
  numba_cuda/numba/cuda/dispatcher.py
  numba_cuda/numba/cuda/tests/nrt/test_nrt.py
Owners: @rapidsai/numba-cuda-write

cleanup
  numba_cuda/numba/cuda/cudadrv/nvrtc.py
  numba_cuda/numba/cuda/dispatcher.py
Owners: @rapidsai/numba-cuda-write

Refactor / tidy-up of setup.py
  setup.py
Owners: none

Add redirector to editable wheel
  setup.py
Owners: none

setup.py: Add redirector to source and output mapping
  setup.py
Owners: none

Adapt RAPIDS CI workflows for numba-cuda
  .github/workflows/conda-python-build.yaml
  .github/workflows/conda-python-tests.yaml
  .github/workflows/wheels-build.yaml
  .github/workflows/wheels-test.yaml
  ci/build_conda.sh
  ci/build_wheel.sh
  ci/test_conda.sh
  ci/test_wheel.sh
Owners: @rapidsai/ci-codeowners

Adapt RAPIDS CI workflows for numba-cuda
  .github/workflows/conda-python-build.yaml
  .github/workflows/conda-python-tests.yaml
  .github/workflows/wheels-build.yaml
  .github/workflows/wheels-test.yaml
  ci/build_conda.sh
  ci/build_wheel.sh
  ci/test_conda.sh
  ci/test_wheel.sh
Owners: @rapidsai/ci-codeowners

Try using copied workflows for PR builder
  .github/workflows/pr.yaml
Owners: @rapidsai/ci-codeowners

Add flake8 config
  .flake8
Owners: none

Copy workflows from shared-workflows branch-24.08
  .github/workflows/conda-python-build.yaml
  .github/workflows/conda-python-tests.yaml
  .github/workflows/wheels-build.yaml
  .github/workflows/wheels-test.yaml
Owners: @rapidsai/ci-codeowners

Backport numba/numba#9613
  numba_cuda/numba/cuda/cudadrv/devicearray.py
  numba_cuda/numba/cuda/cudadrv/dummyarray.py
  numba_cuda/numba/cuda/deviceufunc.py
  numba_cuda/numba/cuda/simulator/cudadrv/dummyarray.py
  numba_cuda/numba/cuda/tests/cudapy/test_gufunc_scheduling.py
  numba_cuda/numba/cuda/tests/nocuda/test_dummyarray.py
  numba_cuda/numba/cuda/vectorizers.py
Owners: @rapidsai/numba-cuda-write

Backport numba/numba#9613
  numba_cuda/numba/cuda/cudadrv/devicearray.py
  numba_cuda/numba/cuda/cudadrv/dummyarray.py
  numba_cuda/numba/cuda/deviceufunc.py
  numba_cuda/numba/cuda/simulator/cudadrv/dummyarray.py
  numba_cuda/numba/cuda/tests/cudapy/test_gufunc_scheduling.py
  numba_cuda/numba/cuda/tests/nocuda/test_dummyarray.py
  numba_cuda/numba/cuda/vectorizers.py
Owners: @rapidsai/numba-cuda-write

change context refresh, restore make_constant_array, but it doesn't work
  numba_cuda/numba/cuda/cudaimpl.py
  numba_cuda/numba/cuda/target.py
Owners: @rapidsai/numba-cuda-write

enough to launch a kernel
  numba_cuda/numba/cuda/cudadrv/driver.py
Owners: @rapidsai/numba-cuda-write

pass through kwargs
  numba_cuda/numba/cuda/cudadrv/driver.py
Owners: @rapidsai/numba-cuda-write

patch_cuda once
  numba_cuda/numba/cuda/cudadrv/driver.py
Owners: @rapidsai/numba-cuda-write

Add publish.yaml from numbast
  .github/workflows/publish.yaml
Owners: @rapidsai/ci-codeowners

Add workflow to publish releases to Anaconda channel
  .github/workflows/conda-python-build.yaml
  .github/workflows/publish.yaml
Owners: @rapidsai/ci-codeowners

Copy upload_conda.sh from Numbast
  ci/upload_conda.sh
Owners: @rapidsai/ci-codeowners

Copy upload_conda.sh from Numbast
  ci/upload_conda.sh
Owners: @rapidsai/ci-codeowners

Add publish.yaml from numbast
  .github/workflows/publish.yaml
Owners: @rapidsai/ci-codeowners

Add workflow to publish releases to Anaconda channel
  .github/workflows/conda-python-build.yaml
  .github/workflows/publish.yaml
Owners: @rapidsai/ci-codeowners

Attempt to fix publish workflow
  .github/workflows/publish.yaml
Owners: @rapidsai/ci-codeowners

Attempt to fix publish workflow
  .github/workflows/publish.yaml
Owners: @rapidsai/ci-codeowners

Remove un-needed / unsuitable build.yaml
  .github/workflows/build.yaml
Owners: @rapidsai/ci-codeowners

Remove un-needed / unsuitable build.yaml
  .github/workflows/build.yaml
Owners: @rapidsai/ci-codeowners

Correct name of variable in publish.yaml
  .github/workflows/publish.yaml
Owners: @rapidsai/ci-codeowners

Correct name of variable in publish.yaml
  .github/workflows/publish.yaml
Owners: @rapidsai/ci-codeowners

Try and fix compute matrix for publish workflow
  .github/workflows/publish.yaml
  numba_cuda/VERSION
Owners: @rapidsai/ci-codeowners, @rapidsai/numba-cuda-write

Try and fix compute matrix for publish workflow
  .github/workflows/publish.yaml
  numba_cuda/VERSION
Owners: @rapidsai/ci-codeowners, @rapidsai/numba-cuda-write
