Repository NVIDIA/numba-cuda, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rapidsai/numba-cuda-write, @rapidsai/ci-codeowners, @rapidsai/packaging-codeowners

.github/CODEOWNERS:

#python code owners
numba_cuda/            @rapidsai/numba-cuda-write

#cmake code owners
**/CMakeLists.txt  @rapidsai/numba-cuda-write
**/cmake/          @rapidsai/numba-cuda-write

#CI code owners
/.github/                @rapidsai/ci-codeowners
/ci/                     @rapidsai/ci-codeowners
/.pre-commit-config.yaml @rapidsai/ci-codeowners

#packaging code owners
/.devcontainer/    @rapidsai/packaging-codeowners
/conda/            @rapidsai/packaging-codeowners
/dependencies.yaml @rapidsai/packaging-codeowners
/build.sh          @rapidsai/packaging-codeowners
pyproject.toml     @rapidsai/packaging-codeowners

Boolean debug info: correct name when datamodel is present
  numba_cuda/numba/cuda/debuginfo.py
Owners: @rapidsai/numba-cuda-write

Add a test for the boolean type fix
  numba_cuda/numba/cuda/tests/cudapy/test_debuginfo.py
Owners: @rapidsai/numba-cuda-write

Fix flake8
  numba_cuda/numba/cuda/tests/cudapy/test_debuginfo.py
Owners: @rapidsai/numba-cuda-write

dont launch extra kernels when stats counting is disabled
  numba_cuda/numba/cuda/dispatcher.py
  numba_cuda/numba/cuda/tests/nrt/test_nrt.py
  numba_cuda/numba/cuda/tests/nrt/test_nrt_refct.py
Owners: @rapidsai/numba-cuda-write

Add a CUDA DI Builder (#104)
  numba_cuda/numba/cuda/debuginfo.py
  numba_cuda/numba/cuda/target.py
  numba_cuda/numba/cuda/tests/cudapy/test_debuginfo.py
Owners: @rapidsai/numba-cuda-write

Remove dead `prepare_cuda_kernel()`
  numba_cuda/numba/cuda/target.py
Owners: @rapidsai/numba-cuda-write

Fix the debug info of GridGroup type
  numba_cuda/numba/cuda/debuginfo.py
  numba_cuda/numba/cuda/tests/cudapy/test_debuginfo.py
Owners: @rapidsai/numba-cuda-write

Remove dead `prepare_cuda_kernel()`
  numba_cuda/numba/cuda/target.py
Owners: @rapidsai/numba-cuda-write

Fix the debug info of GridGroup type
  numba_cuda/numba/cuda/debuginfo.py
  numba_cuda/numba/cuda/tests/cudapy/test_debuginfo.py
Owners: @rapidsai/numba-cuda-write

initial prototyping with bitcode linking
  numba_cuda/numba/cuda/cudadrv/driver.py
  numba_cuda/numba/cuda/cudadrv/nvvm.py
Owners: @rapidsai/numba-cuda-write

style
  numba_cuda/numba/cuda/cudadrv/driver.py
  numba_cuda/numba/cuda/cudadrv/nvvm.py
Owners: @rapidsai/numba-cuda-write

begin replacing pynvjitlinker
  numba_cuda/numba/cuda/cudadrv/driver.py
Owners: @rapidsai/numba-cuda-write

begin implementing cuda-python linker
  numba_cuda/numba/cuda/codegen.py
  numba_cuda/numba/cuda/cudadrv/driver.py
  numba_cuda/numba/cuda/dispatcher.py
Owners: @rapidsai/numba-cuda-write

fix misconfigured precommit
  numba_cuda/numba/cuda/codegen.py
  numba_cuda/numba/cuda/cudadrv/driver.py
Owners: @rapidsai/numba-cuda-write

Emit correct kernel arguments debug metadata types when NUMBA_DUMP_LLVM is on.
  numba_cuda/numba/cuda/compiler.py
Owners: @rapidsai/numba-cuda-write

Add a test for issue#135
  numba_cuda/numba/cuda/tests/cudapy/test_debuginfo.py
Owners: @rapidsai/numba-cuda-write

Fix linking of external code used from callees
  numba_cuda/numba/cuda/dispatcher.py
  numba_cuda/numba/cuda/tests/cudapy/test_device_func.py
Owners: @rapidsai/numba-cuda-write

Add some comments and docs to get_cres_link_objects()
  numba_cuda/numba/cuda/dispatcher.py
Owners: @rapidsai/numba-cuda-write

Upload wheels to PyPI from GitHub-hosted runner
  .github/workflows/wheels-build.yaml
Owners: @rapidsai/ci-codeowners

Test downloading artifact
  .github/workflows/wheels-build.yaml
Owners: @rapidsai/ci-codeowners

attempt to improve efficiency
  numba_cuda/numba/cuda/dispatcher.py
Owners: @rapidsai/numba-cuda-write

add paddle to interoperability chapter
  docs/source/user/cuda_array_interface.rst
Owners: none

initial
  numba_cuda/numba/cuda/codegen.py
  numba_cuda/numba/cuda/cudadrv/linkable_code.py
  numba_cuda/numba/cuda/tests/cudadrv/test_module_init.py
Owners: @rapidsai/numba-cuda-write

Add paddle to interoperability chapter (#144)
  docs/source/user/cuda_array_interface.rst
Owners: none

Oops
  .github/workflows/wheels-build.yaml
Owners: @rapidsai/ci-codeowners

Revert "Oops"
  .github/workflows/wheels-build.yaml
Owners: @rapidsai/ci-codeowners

Revert "Test downloading artifact"
  .github/workflows/wheels-build.yaml
Owners: @rapidsai/ci-codeowners

properly handle module image
  numba_cuda/numba/cuda/codegen.py
  numba_cuda/numba/cuda/cudadrv/driver.py
  numba_cuda/numba/cuda/dispatcher.py
Owners: @rapidsai/numba-cuda-write

almost pass linker tests
  numba_cuda/numba/cuda/codegen.py
  numba_cuda/numba/cuda/cudadrv/driver.py
Owners: @rapidsai/numba-cuda-write

trying to pass more tests
  numba_cuda/numba/cuda/cudadrv/driver.py
Owners: @rapidsai/numba-cuda-write

clean
  numba_cuda/numba/cuda/cudadrv/driver.py
Owners: @rapidsai/numba-cuda-write

Upload wheels to PyPI from GitHub-hosted runner (#142)
  .github/workflows/wheels-build.yaml
Owners: @rapidsai/ci-codeowners

Add a small comment
  numba_cuda/numba/cuda/dispatcher.py
Owners: @rapidsai/numba-cuda-write

Move publish step out of `wheels-build.yaml`
  .github/workflows/pr.yaml
  .github/workflows/publish.yaml
  .github/workflows/wheels-build.yaml
Owners: @rapidsai/ci-codeowners

s/mambabuild/build/
  ci/build_conda.sh
Owners: @rapidsai/ci-codeowners

Remove `fake-publish-wheels` job
  .github/workflows/pr.yaml
Owners: @rapidsai/ci-codeowners

mocking object type using cuda.core objects
  numba_cuda/numba/cuda/codegen.py
  numba_cuda/numba/cuda/tests/cudadrv/test_module_init.py
Owners: @rapidsai/numba-cuda-write

Try using a newer branch workflow
  .github/workflows/pr.yaml
Owners: @rapidsai/ci-codeowners

s/mambabuild/build/
  ci/build_conda.sh
Owners: @rapidsai/ci-codeowners

Move publish step out of `wheels-build.yaml` (#147)
  .github/workflows/publish.yaml
  .github/workflows/wheels-build.yaml
  ci/build_conda.sh
Owners: @rapidsai/ci-codeowners
