Repository NVIDIA/numba-cuda, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rapidsai/numba-cuda-write, @rapidsai/ci-codeowners, @rapidsai/packaging-codeowners

Add CLA and third party Numba license (#410)
  CLA.md
  CONTRIBUTING.md
  LICENSE.numba
  conda/recipes/numba-cuda/meta.yaml
  pyproject.toml
Owners: @rapidsai/packaging-codeowners

Fixups needed for cherry-picks to work on top of v0.19.0
  numba_cuda/numba/cuda/core/interpreter.py
  numba_cuda/numba/cuda/tests/cudapy/test_debuginfo.py
Owners: @rapidsai/numba-cuda-write

Improve Bfloat16 Support in Numba-CUDA (#376)
  ci/test_conda.sh
  ci/test_conda_ctypes_binding.sh
  ci/test_simulator.sh
  configs/cuda_bf16.yml
  docs/source/reference/types.rst
  numba_cuda/numba/cuda/_internal/cuda_bf16.py
  numba_cuda/numba/cuda/bf16.py
  numba_cuda/numba/cuda/cudadrv/nvrtc.py
  numba_cuda/numba/cuda/include/13/cuda_bf16.h
  numba_cuda/numba/cuda/include/13/cuda_bf16.hpp
  numba_cuda/numba/cuda/include/13/cuda_fp16.h
  numba_cuda/numba/cuda/include/13/cuda_fp16.hpp
  numba_cuda/numba/cuda/models.py
  numba_cuda/numba/cuda/printimpl.py
  numba_cuda/numba/cuda/target.py
  numba_cuda/numba/cuda/tests/cudapy/test_bfloat16.py
  numba_cuda/numba/cuda/tests/cudapy/test_bfloat16_bindings.py
  numba_cuda/numba/cuda/tests/cudapy/test_print.py
  numba_cuda/numba/cuda/types.py
  pyproject.toml
Owners: @rapidsai/ci-codeowners, @rapidsai/numba-cuda-write, @rapidsai/packaging-codeowners

add cuda-cccl
  pyproject.toml
Owners: @rapidsai/packaging-codeowners

Depend on `cccl` explicitly for `[cuXY]` wheels (#421)
  pyproject.toml
Owners: @rapidsai/packaging-codeowners

add dep
  pyproject.toml
Owners: @rapidsai/packaging-codeowners

Depend on `cccl` explicitly for `[cuXY]` wheels (#421)
  pyproject.toml
Owners: @rapidsai/packaging-codeowners

CI fixes
  numba_cuda/numba/cuda/tests/cudapy/test_inspect.py
  numba_cuda/numba/cuda/tests/test_binary_generation/generate_raw_ltoir.py
Owners: @rapidsai/numba-cuda-write

[FEA] Add SPDX checker pre-commit hook (#415)
  .pre-commit-config.yaml
  .spdx-ignore
  toolshed/check_spdx.py
Owners: @rapidsai/ci-codeowners

clean
  numba_cuda/numba/cuda/tests/cudapy/test_inspect.py
Owners: @rapidsai/numba-cuda-write

Backport `cccl` dep to `0.14` (#422)
  numba_cuda/numba/cuda/tests/cudapy/test_inspect.py
  numba_cuda/numba/cuda/tests/test_binary_generation/generate_raw_ltoir.py
  pyproject.toml
Owners: @rapidsai/numba-cuda-write, @rapidsai/packaging-codeowners

Bump version to 0.14.1
  numba_cuda/VERSION
Owners: @rapidsai/numba-cuda-write

Bump version to 0.19.1
  numba_cuda/VERSION
Owners: @rapidsai/numba-cuda-write

Bump version to 0.14.1 (#423)
  numba_cuda/VERSION
Owners: @rapidsai/numba-cuda-write

Bump version to 0.19.1 (#424)
  numba_cuda/VERSION
Owners: @rapidsai/numba-cuda-write

renaming
  numba_cuda/numba/cuda/cudadrv/driver.py
  numba_cuda/numba/cuda/tests/cudadrv/test_cuda_driver.py
Owners: @rapidsai/numba-cuda-write

address reviews
  numba_cuda/numba/cuda/cudadrv/driver.py
  numba_cuda/numba/cuda/tests/cudadrv/test_cuda_driver.py
Owners: @rapidsai/numba-cuda-write

Update numba_cuda/numba/cuda/cudadrv/driver.py
  numba_cuda/numba/cuda/cudadrv/driver.py
Owners: @rapidsai/numba-cuda-write

[Refactor][NFC] Vendor in ufunc utility functions, classes for CUDA-specific optimizations (#393)
  numba_cuda/numba/cuda/deviceufunc.py
  numba_cuda/numba/cuda/np/ufunc/ufuncbuilder.py
  numba_cuda/numba/cuda/tests/cudapy/test_ufuncs.py
  numba_cuda/numba/cuda/tests/cudapy/test_vectorize_decor.py
Owners: @rapidsai/numba-cuda-write

Vendor-In find_lib for CUDA-specific changes (#407)
  numba_cuda/numba/cuda/core/compiler.py
  numba_cuda/numba/cuda/core/compiler_machinery.py
  numba_cuda/numba/cuda/core/ir_utils.py
  numba_cuda/numba/cuda/core/typed_passes.py
  numba_cuda/numba/cuda/core/untyped_passes.py
  numba_cuda/numba/cuda/cuda_paths.py
  numba_cuda/numba/cuda/cudadrv/libs.py
  numba_cuda/numba/cuda/misc/findlib.py
  numba_cuda/numba/cuda/tests/cudadrv/test_cuda_libraries.py
  numba_cuda/numba/cuda/tests/cudapy/test_ir_utils.py
  numba_cuda/numba/cuda/typing/templates.py
Owners: @rapidsai/numba-cuda-write

[Refactor][NFC] Vendor in CloudPickler (#380)
  numba_cuda/numba/cuda/cloudpickle/__init__.py
  numba_cuda/numba/cuda/cloudpickle/cloudpickle.py
  numba_cuda/numba/cuda/cloudpickle/cloudpickle_fast.py
  numba_cuda/numba/cuda/serialize.py
  numba_cuda/numba/cuda/tests/cloudpickle_main_class.py
  numba_cuda/numba/cuda/tests/core/test_serialize.py
Owners: @rapidsai/numba-cuda-write

[Refactor][NFC] Vendor-in np support utilities for CUDA-specific optimizations (#394)
  numba_cuda/numba/cuda/np/numpy_support.py
  numba_cuda/numba/cuda/simulator/cudadrv/devicearray.py
  numba_cuda/numba/cuda/simulator/kernelapi.py
  numba_cuda/numba/cuda/tests/cudadrv/test_cuda_devicerecord.py
  numba_cuda/numba/cuda/tests/cudapy/test_complex.py
  numba_cuda/numba/cuda/tests/cudapy/test_datetime.py
  numba_cuda/numba/cuda/tests/cudapy/test_math.py
  numba_cuda/numba/cuda/tests/cudapy/test_operator.py
  numba_cuda/numba/cuda/tests/cudapy/test_record_dtype.py
  numba_cuda/numba/cuda/tests/cudapy/test_serialize.py
  numba_cuda/numba/cuda/tests/cudapy/test_sm.py
  numba_cuda/numba/cuda/tests/support.py
  numba_cuda/numba/cuda/ufuncs.py
Owners: @rapidsai/numba-cuda-write

Vendor in the consts module for CUDA-specific refactoring (#419)
  numba_cuda/numba/cuda/core/analysis.py
  numba_cuda/numba/cuda/core/consts.py
  numba_cuda/numba/cuda/core/untyped_passes.py
Owners: @rapidsai/numba-cuda-write

Vendor in postproc module for CUDA-specific refactoring (#418)
  numba_cuda/numba/cuda/compiler.py
  numba_cuda/numba/cuda/core/compiler_machinery.py
  numba_cuda/numba/cuda/core/ir_utils.py
  numba_cuda/numba/cuda/core/postproc.py
  numba_cuda/numba/cuda/core/typed_passes.py
  numba_cuda/numba/cuda/core/untyped_passes.py
Owners: @rapidsai/numba-cuda-write

update location
  ci/test_thirdparty.sh
Owners: @rapidsai/ci-codeowners

Update thirdparty test locations (#426)
  ci/test_thirdparty.sh
Owners: @rapidsai/ci-codeowners

Update test_ssa wrt PR feedback
  numba_cuda/numba/cuda/tests/cudapy/test_ssa.py
Owners: @rapidsai/numba-cuda-write

Vendor in SSA for CUDA-specific refactoring (#417)
  numba_cuda/numba/cuda/core/ssa.py
  numba_cuda/numba/cuda/core/untyped_passes.py
  numba_cuda/numba/cuda/tests/cudapy/test_ssa.py
Owners: @rapidsai/numba-cuda-write

[Cleanup] Remove deadcode parfor support
  numba_cuda/numba/cuda/compiler.py
  numba_cuda/numba/cuda/core/compiler.py
  numba_cuda/numba/cuda/core/ir_utils.py
  numba_cuda/numba/cuda/core/typed_passes.py
  numba_cuda/numba/cuda/core/untyped_passes.py
  numba_cuda/numba/cuda/dispatcher.py
Owners: @rapidsai/numba-cuda-write

insert previously removed comments
  numba_cuda/numba/cuda/core/ir_utils.py
  numba_cuda/numba/cuda/core/typed_passes.py
  numba_cuda/numba/cuda/core/untyped_passes.py
Owners: @rapidsai/numba-cuda-write

Use newpassmanagers with llvmlite >= 0.45
  numba_cuda/numba/cuda/core/typed_passes.py
Owners: @rapidsai/numba-cuda-write

Add an `Array._allocate` overload for the CUDA target
  numba_cuda/numba/cuda/memory_management/__init__.py
  numba_cuda/numba/cuda/memory_management/arrayobj_extras.py
Owners: @rapidsai/numba-cuda-write

[Cleanup] Remove deadcode parfor support (#425)
  numba_cuda/numba/cuda/compiler.py
  numba_cuda/numba/cuda/core/compiler.py
  numba_cuda/numba/cuda/core/ir_utils.py
  numba_cuda/numba/cuda/core/typed_passes.py
  numba_cuda/numba/cuda/core/untyped_passes.py
  numba_cuda/numba/cuda/dispatcher.py
Owners: @rapidsai/numba-cuda-write

[NFC] Vendor in npyfuncs used for ufuncs
  numba_cuda/numba/cuda/np/npyfuncs.py
  numba_cuda/numba/cuda/ufuncs.py
Owners: @rapidsai/numba-cuda-write

update npyfuncs to be from ToT Numba, specify target to be cuda on overloads specified
  numba_cuda/numba/cuda/np/npyfuncs.py
Owners: @rapidsai/numba-cuda-write

fix style, update nvrtc search to handle cccl wheels and CUDA 13 layout changes
  .github/workflows/wheel-windows-tests.yaml
  ci/get_test_binary_dir.py
  ci/test_wheel.ps1
  numba_cuda/numba/cuda/cuda_paths.py
  numba_cuda/numba/cuda/cudadrv/nvrtc.py
Owners: @rapidsai/ci-codeowners, @rapidsai/numba-cuda-write

fix include path for CCCL cuda12 wheels
  numba_cuda/numba/cuda/cudadrv/nvrtc.py
Owners: @rapidsai/numba-cuda-write

Move cext to numba_cuda.numba.cuda and enable build matrix for arm64
  .github/workflows/conda-python-build.yaml
  .github/workflows/conda-python-tests.yaml
  .github/workflows/wheels-build.yaml
  .github/workflows/wheels-test.yaml
  ci/matrix.yml
  numba_cuda/numba/cuda/cext/__init__.py
  numba_cuda/numba/cuda/cext/_devicearray.cpp
  numba_cuda/numba/cuda/cext/_devicearray.h
  numba_cuda/numba/cuda/cext/_dispatcher.cpp
  numba_cuda/numba/cuda/cext/_hashtable.cpp
  numba_cuda/numba/cuda/cext/_hashtable.h
  numba_cuda/numba/cuda/cext/_pymodule.h
  numba_cuda/numba/cuda/cext/_typeof.cpp
  numba_cuda/numba/cuda/cext/_typeof.h
  numba_cuda/numba/cuda/cext/mviewbuf.c
  numba_cuda/numba/cuda/cext/typeconv.cpp
  numba_cuda/numba/cuda/cext/typeconv.hpp
  numba_cuda/numba/cuda/cudadrv/devicearray.py
  numba_cuda/numba/cuda/cudadrv/driver.py
  numba_cuda/numba/cuda/dispatcher.py
  setup.py
Owners: @rapidsai/ci-codeowners, @rapidsai/numba-cuda-write

Update up until typeinfer, which uses numba ir.
  numba_cuda/numba/cuda/compiler.py
  numba_cuda/numba/cuda/core/inline_closurecall.py
  numba_cuda/numba/cuda/core/ir_utils.py
  numba_cuda/numba/cuda/core/postproc.py
  numba_cuda/numba/cuda/core/ssa.py
  numba_cuda/numba/cuda/core/typed_passes.py
  numba_cuda/numba/cuda/core/untyped_passes.py
  numba_cuda/numba/cuda/typing/templates.py
Owners: @rapidsai/numba-cuda-write

Make py3.9 arm64 and amd64 builds use cuda_ver 11.8.0
  ci/matrix.yml
Owners: @rapidsai/ci-codeowners

.github/CODEOWNERS:

#python code owners
numba_cuda/            @rapidsai/numba-cuda-write

#cmake code owners
**/CMakeLists.txt  @rapidsai/numba-cuda-write
**/cmake/          @rapidsai/numba-cuda-write

#CI code owners
/.github/                @rapidsai/ci-codeowners
/ci/                     @rapidsai/ci-codeowners
/.pre-commit-config.yaml @rapidsai/ci-codeowners

#packaging code owners
/.devcontainer/    @rapidsai/packaging-codeowners
/conda/            @rapidsai/packaging-codeowners
/dependencies.yaml @rapidsai/packaging-codeowners
/build.sh          @rapidsai/packaging-codeowners
pyproject.toml     @rapidsai/packaging-codeowners
