Repository NVIDIA/numba-cuda, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rapidsai/numba-cuda-write, @rapidsai/ci-codeowners, @rapidsai/packaging-codeowners

Ignore Windows extension build outputs
  .gitignore
Owners: none

Address free-threading review comments
  numba_cuda/numba/cuda/cext/_dispatcher.cpp
  numba_cuda/numba/cuda/cext/_pymodule.h
  numba_cuda/numba/cuda/cext/mviewbuf.c
  numba_cuda/numba/cuda/tests/nocuda/test_import.py
  setup.py
Owners: @rapidsai/numba-cuda-write

Guard launch-config races
  numba_cuda/numba/cuda/dispatcher.py
  numba_cuda/numba/cuda/tests/cudapy/test_launch_config_sensitive.py
Owners: @rapidsai/numba-cuda-write

Guard concurrent CUDA specialization
  numba_cuda/numba/cuda/dispatcher.py
  numba_cuda/numba/cuda/tests/cudapy/test_dispatcher.py
  numba_cuda/numba/cuda/tests/nocuda/test_typeof_threading.py
Owners: @rapidsai/numba-cuda-write

Serialize lazy CUDA driver initialization
  numba_cuda/numba/cuda/cudadrv/driver.py
  numba_cuda/numba/cuda/tests/cudadrv/test_init.py
Owners: @rapidsai/numba-cuda-write

Make pending-deallocation queue thread-safe
  numba_cuda/numba/cuda/cudadrv/driver.py
  numba_cuda/numba/cuda/tests/cudadrv/test_deallocations.py
Owners: @rapidsai/numba-cuda-write

Use version hex for Python API guard
  numba_cuda/numba/cuda/cext/mviewbuf.c
Owners: @rapidsai/numba-cuda-write

Report concurrent init join timeouts
  numba_cuda/numba/cuda/tests/cudadrv/test_init.py
Owners: @rapidsai/numba-cuda-write

Clarify pytest import-mode comment
  testing/pytest.ini
Owners: none

Defer launch-config default without active launch
  numba_cuda/numba/cuda/dispatcher.py
  numba_cuda/numba/cuda/tests/cudapy/test_caching.py
Owners: @rapidsai/numba-cuda-write

Initialize driver recursion guard once
  numba_cuda/numba/cuda/cudadrv/driver.py
Owners: @rapidsai/numba-cuda-write

Guard driver init fields independently
  numba_cuda/numba/cuda/cudadrv/driver.py
Owners: @rapidsai/numba-cuda-write

Lock pending-dealloc read accessors
  numba_cuda/numba/cuda/cudadrv/driver.py
Owners: @rapidsai/numba-cuda-write

Move mviewbuf item declaration before statements
  numba_cuda/numba/cuda/cext/mviewbuf.c
Owners: @rapidsai/numba-cuda-write

Respect Py_GIL_DISABLED macro value
  numba_cuda/numba/cuda/cext/_pymodule.h
  numba_cuda/numba/cuda/cext/_typeof.cpp
  numba_cuda/numba/cuda/tests/nocuda/test_typeof_threading.py
Owners: @rapidsai/numba-cuda-write

Add free-threading stress regression tests
  numba_cuda/numba/cuda/tests/cudapy/test_caching.py
  numba_cuda/numba/cuda/tests/cudapy/test_dispatcher.py
  numba_cuda/numba/cuda/tests/cudapy/test_launch_config_sensitive.py
  numba_cuda/numba/cuda/tests/nocuda/test_mviewbuf_threading.py
  numba_cuda/numba/cuda/tests/nocuda/test_typeconv_threading.py
  numba_cuda/numba/cuda/tests/nocuda/test_typeof_threading.py
  numba_cuda/numba/cuda/tests/stress/__init__.py
  numba_cuda/numba/cuda/tests/stress/test_free_threading.py
  numba_cuda/numba/cuda/tests/support.py
Owners: @rapidsai/numba-cuda-write

Document free-threading stress controls
  docs/source/developer/free_threading.rst
  docs/source/developer/index.rst
  docs/source/index.rst
Owners: none

Bound free-threading dispatch stress hangs
  numba_cuda/numba/cuda/tests/stress/test_free_threading.py
Owners: @rapidsai/numba-cuda-write

Fix no-launch LCS cache compile
  numba_cuda/numba/cuda/dispatcher.py
  numba_cuda/numba/cuda/tests/cudapy/test_caching.py
Owners: @rapidsai/numba-cuda-write

Avoid full-GC loop in dispatch stress
  docs/source/developer/free_threading.rst
  numba_cuda/numba/cuda/tests/stress/test_free_threading.py
Owners: @rapidsai/numba-cuda-write

Format CI matrix filters
  .github/workflows/ci.yaml
Owners: @rapidsai/ci-codeowners

Add CUDA 13 maintenance notice
  README.md
  docs/source/index.rst
Owners: none

Use cuda-nvcc as pixi build dependency
  pixi.toml
Owners: none

Add CUDA 13 maintenance notice and pixi build fix (#899)
  README.md
  docs/source/index.rst
  pixi.toml
Owners: none

Bump Version to 0.30.3
  numba_cuda/VERSION
  pixi.toml
Owners: @rapidsai/numba-cuda-write

Bump Version to 0.30.3 (#901)
  numba_cuda/VERSION
  pixi.toml
Owners: @rapidsai/numba-cuda-write

Add maintenance notice to issue templates
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/documentation-request.md
  .github/ISSUE_TEMPLATE/feature-request.md
  .github/ISSUE_TEMPLATE/submit-question.md
  .github/PULL_REQUEST_TEMPLATE.md
Owners: @rapidsai/ci-codeowners

Add maintenance notice to issue templates (#903)
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/documentation-request.md
  .github/ISSUE_TEMPLATE/feature-request.md
  .github/ISSUE_TEMPLATE/submit-question.md
  .github/PULL_REQUEST_TEMPLATE.md
Owners: @rapidsai/ci-codeowners

Add support for Numba 0.66
  numba_cuda/numba/cuda/core/ir_utils.py
  numba_cuda/numba/cuda/np/npyimpl.py
  numba_cuda/numba/cuda/tests/nocuda/test_import.py
  numba_cuda/numba/cuda/types/__init__.py
Owners: @rapidsai/numba-cuda-write

Support llvmlite 0.48 argument attributes
  numba_cuda/numba/cuda/cgutils.py
  numba_cuda/numba/cuda/core/pythonapi.py
  numba_cuda/numba/cuda/memory_management/nrt_context.py
Owners: @rapidsai/numba-cuda-write

Fix RMM EMM plugin module path
  docs/source/user/external-memory.rst
Owners: none

Fix RMM EMM plugin module path (#895)
  docs/source/user/external-memory.rst
Owners: none

Add support for Numba 0.66 (#905)
  numba_cuda/numba/cuda/cgutils.py
  numba_cuda/numba/cuda/core/ir_utils.py
  numba_cuda/numba/cuda/core/pythonapi.py
  numba_cuda/numba/cuda/memory_management/nrt_context.py
  numba_cuda/numba/cuda/np/npyimpl.py
  numba_cuda/numba/cuda/tests/nocuda/test_import.py
  numba_cuda/numba/cuda/types/__init__.py
Owners: @rapidsai/numba-cuda-write

bump version to 0.30.4
  numba_cuda/VERSION
Owners: @rapidsai/numba-cuda-write

Update pixi.toml
  pixi.toml
Owners: none

Bump Version to 0.30.4 (#906)
  numba_cuda/VERSION
  pixi.toml
Owners: @rapidsai/numba-cuda-write

fix: revert edits to copy_ir internals
  numba_cuda/numba/cuda/core/inline_closurecall.py
Owners: @rapidsai/numba-cuda-write

fix: Skip second copy of callee_ir in inline_ir
  numba_cuda/numba/cuda/core/inline_closurecall.py
Owners: @rapidsai/numba-cuda-write

perf: swap deepcopy for block.copy when copying IR in inline_ir
  numba_cuda/numba/cuda/core/inline_closurecall.py
Owners: @rapidsai/numba-cuda-write

perf: make copying callee_ir conditional on a preserve_ir argument in inline_ir
  numba_cuda/numba/cuda/core/inline_closurecall.py
Owners: @rapidsai/numba-cuda-write

.github/CODEOWNERS:

#python code owners
numba_cuda/            @rapidsai/numba-cuda-write

#cmake code owners
**/CMakeLists.txt  @rapidsai/numba-cuda-write
**/cmake/          @rapidsai/numba-cuda-write

#CI code owners
/.github/                @rapidsai/ci-codeowners
/ci/                     @rapidsai/ci-codeowners
/.pre-commit-config.yaml @rapidsai/ci-codeowners

#packaging code owners
/.devcontainer/    @rapidsai/packaging-codeowners
/conda/            @rapidsai/packaging-codeowners
/dependencies.yaml @rapidsai/packaging-codeowners
/build.sh          @rapidsai/packaging-codeowners
pyproject.toml     @rapidsai/packaging-codeowners
