Repository NVIDIA/numba-cuda, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rapidsai/numba-cuda-write, @rapidsai/ci-codeowners, @rapidsai/packaging-codeowners

.github/CODEOWNERS:

#python code owners
numba_cuda/            @rapidsai/numba-cuda-write

#cmake code owners
**/CMakeLists.txt  @rapidsai/numba-cuda-write
**/cmake/          @rapidsai/numba-cuda-write

#CI code owners
/.github/                @rapidsai/ci-codeowners
/ci/                     @rapidsai/ci-codeowners
/.pre-commit-config.yaml @rapidsai/ci-codeowners

#packaging code owners
/.devcontainer/    @rapidsai/packaging-codeowners
/conda/            @rapidsai/packaging-codeowners
/dependencies.yaml @rapidsai/packaging-codeowners
/build.sh          @rapidsai/packaging-codeowners
pyproject.toml     @rapidsai/packaging-codeowners

drop old windows wheel test workflow
  .github/workflows/ci.yaml
  .github/workflows/install_gpu_driver.ps1
  .github/workflows/pr.yaml
  .github/workflows/wheel-windows-tests.yaml
  ci/test_wheel.ps1
  ci/tools/run-tests
  pixi.lock
  pyproject.toml
Owners: @rapidsai/ci-codeowners, @rapidsai/packaging-codeowners

move json to yml
  .github/workflows/ci-new.yaml
  .github/workflows/test-wheel-linux.yml
  .github/workflows/test-wheel-windows.yml
  ci/test-matrix.json
  ci/test-matrix.yml
  ci/versions.json
  ci/versions.yml
Owners: @rapidsai/ci-codeowners

propagate fixes
  .github/actions/fetch_ctk/action.yml
  .github/dependabot.yml
Owners: @rapidsai/ci-codeowners

move old CI jobs to new CI
  .github/workflows/ci-new.yaml
  .github/workflows/ci.yaml
Owners: @rapidsai/ci-codeowners

move the cudf test job
  .github/workflows/ci-new.yaml
  .github/workflows/ci.yaml
  .github/workflows/wheels-test.yaml
  ci/test_thirdparty_cudf.sh
Owners: @rapidsai/ci-codeowners

relock
  pixi.lock
Owners: none

drop old wheel test job
  .github/workflows/ci.yaml
  ci/test_wheel.sh
Owners: @rapidsai/ci-codeowners

move all old CI test jobs to the new CI
  .github/workflows/ci-new.yaml
  .github/workflows/ci.yaml
  ci/coverage_report.sh
  ci/test_thirdparty_awkward.sh
  ci/test_thirdparty_nvmath.sh
  ci/test_wheel_deps_wheels.sh
Owners: @rapidsai/ci-codeowners

try to use the vanilla ubuntu image everywhere
  .github/workflows/conda-python-build.yaml
  .github/workflows/conda-python-tests.yaml
  .github/workflows/simulator-test.yaml
  .github/workflows/wheels-build.yaml
  .github/workflows/wheels-test.yaml
Owners: @rapidsai/ci-codeowners

update config file and regenerate with ToT Numbast
  configs/cuda_fp8.yml
  numba_cuda/numba/cuda/_internal/cuda_fp8.py
Owners: @rapidsai/numba-cuda-write

checkpointing with roundmode tests
  numba_cuda/numba/cuda/tests/cudapy/test_fp8_bindings.py
Owners: @rapidsai/numba-cuda-write

complete the conversion sat/nosat tests
  numba_cuda/numba/cuda/tests/cudapy/test_fp8_bindings.py
Owners: @rapidsai/numba-cuda-write

docstring
  numba_cuda/numba/cuda/tests/cudapy/test_fp8_bindings.py
Owners: @rapidsai/numba-cuda-write

keep sign consistent
  numba_cuda/numba/cuda/tests/cudapy/test_fp8_bindings.py
Owners: @rapidsai/numba-cuda-write

remove duplicate fp8e5m2 to int8 lowering
  numba_cuda/numba/cuda/_internal/cuda_fp8.py
Owners: @rapidsai/numba-cuda-write

uncomment skipped tests
  numba_cuda/numba/cuda/tests/cudapy/test_fp8_bindings.py
Owners: @rapidsai/numba-cuda-write

remove duplicate fp8e5m2 to uint64 conversion
  numba_cuda/numba/cuda/_internal/cuda_fp8.py
Owners: @rapidsai/numba-cuda-write

Use an alternate approach to determine the CUDA Toolkit version of libnvvm.
  numba_cuda/numba/cuda/cudadrv/nvvm.py
Owners: @rapidsai/numba-cuda-write

Incorporate Greptile feedback.
  numba_cuda/numba/cuda/cudadrv/nvvm.py
Owners: @rapidsai/numba-cuda-write

fix: Skip second copy of callee_ir in inline_ir
  numba_cuda/numba/cuda/core/inline_closurecall.py
Owners: @rapidsai/numba-cuda-write

perf: swap deepcopy for block.copy when copying IR in inline_ir
  numba_cuda/numba/cuda/core/inline_closurecall.py
Owners: @rapidsai/numba-cuda-write

perf: make copying callee_ir conditional on a preserve_ir argument in inline_ir
  numba_cuda/numba/cuda/core/inline_closurecall.py
Owners: @rapidsai/numba-cuda-write

Incorporate 2nd round of Greptile feedback.
  numba_cuda/numba/cuda/cudadrv/nvvm.py
Owners: @rapidsai/numba-cuda-write

fix: revert edits to copy_ir internals
  numba_cuda/numba/cuda/core/inline_closurecall.py
Owners: @rapidsai/numba-cuda-write

fix: make swapped_cuda_module thread-safe in CUDA simulator
  numba_cuda/numba/cuda/simulator/kernelapi.py
Owners: @rapidsai/numba-cuda-write

fix: reduce lock overhead in thread-safe swapped_cuda_module
  numba_cuda/numba/cuda/simulator/kernelapi.py
Owners: @rapidsai/numba-cuda-write

chore: typo
  numba_cuda/numba/cuda/simulator/kernelapi.py
Owners: @rapidsai/numba-cuda-write

chore: adjust include to be only present in 3.13+
  numba_cuda/numba/cuda/cext/_typeof.cpp
Owners: @rapidsai/numba-cuda-write

fix new test failures
  numba_cuda/numba/cuda/api.py
  numba_cuda/numba/cuda/cudadrv/devicearray.py
  numba_cuda/numba/cuda/tests/cudadrv/test_nvjitlink.py
  numba_cuda/numba/cuda/tests/cudapy/test_device_array_capture.py
  numba_cuda/numba/cuda/tests/cudapy/test_sm.py
  numba_cuda/numba/cuda/tests/cudapy/test_vectorize.py
  numba_cuda/numba/cuda/tests/cudapy/test_vectorize_decor.py
  numba_cuda/numba/cuda/tests/cudapy/test_vectorize_scalar_arg.py
  numba_cuda/numba/cuda/tests/doc_examples/test_cpu_gpu_compat.py
  numba_cuda/numba/cuda/tests/doc_examples/test_globals.py
  numba_cuda/numba/cuda/tests/doc_examples/test_reduction.py
  numba_cuda/numba/cuda/tests/nrt/test_nrt.py
Owners: @rapidsai/numba-cuda-write

style
  numba_cuda/numba/cuda/cudadrv/devicearray.py
  numba_cuda/numba/cuda/tests/cudapy/test_device_array_capture.py
  numba_cuda/numba/cuda/tests/cudapy/test_vectorize.py
  numba_cuda/numba/cuda/tests/cudapy/test_vectorize_decor.py
  numba_cuda/numba/cuda/tests/cudapy/test_vectorize_scalar_arg.py
  numba_cuda/numba/cuda/tests/doc_examples/test_cpu_gpu_compat.py
  numba_cuda/numba/cuda/tests/doc_examples/test_globals.py
  numba_cuda/numba/cuda/tests/doc_examples/test_reduction.py
Owners: @rapidsai/numba-cuda-write

address some greptile reviews
  numba_cuda/numba/cuda/_api.py
  numba_cuda/numba/cuda/api.py
  numba_cuda/numba/cuda/kernels/transpose.py
  numba_cuda/numba/cuda/testing.py
  numba_cuda/numba/cuda/tests/cudadrv/test_profiler.py
  numba_cuda/numba/cuda/tests/cudapy/test_vectorize.py
  numba_cuda/numba/cuda/tests/doc_examples/test_globals.py
  numba_cuda/numba/cuda/tests/doc_examples/test_reduction.py
  numba_cuda/numba/cuda/vectorizers.py
Owners: @rapidsai/numba-cuda-write

Apply suggestions from code review
  numba_cuda/numba/cuda/tests/cudapy/test_gufunc.py
  numba_cuda/numba/cuda/tests/cudapy/test_gufunc_scalar.py
Owners: @rapidsai/numba-cuda-write

address reviews
  numba_cuda/numba/cuda/_api.py
  numba_cuda/numba/cuda/tests/cudapy/test_vectorize.py
Owners: @rapidsai/numba-cuda-write

import
  numba_cuda/numba/cuda/tests/cudapy/test_random.py
Owners: @rapidsai/numba-cuda-write

address reviews, greptile
  numba_cuda/numba/cuda/cudadrv/devicearray.py
  numba_cuda/numba/cuda/tests/cudapy/test_gufunc.py
  numba_cuda/numba/cuda/tests/cudapy/test_gufunc_scalar.py
  numba_cuda/numba/cuda/tests/doc_examples/test_laplace.py
  numba_cuda/numba/cuda/vectorizers.py
Owners: @rapidsai/numba-cuda-write

lockfile
  pixi.lock
Owners: none

run precommit
  numba_cuda/numba/cuda/random.py
  numba_cuda/numba/cuda/tests/cudadrv/test_events.py
  numba_cuda/numba/cuda/tests/cudadrv/test_pinned.py
  numba_cuda/numba/cuda/tests/cudapy/test_array_reductions.py
  numba_cuda/numba/cuda/tests/cudapy/test_cuda_array_interface.py
  numba_cuda/numba/cuda/tests/cudapy/test_ipc.py
  numba_cuda/numba/cuda/tests/cudapy/test_matmul.py
  numba_cuda/numba/cuda/tests/cudapy/test_multithreads.py
  numba_cuda/numba/cuda/tests/cudapy/test_transpose.py
  numba_cuda/numba/cuda/tests/nocuda/test_dummyarray.py
Owners: @rapidsai/numba-cuda-write

[feat] Initial version of the Numba CUDA GDB pretty-printer
  misc/gdb_print_extension.py
Owners: none

bifurcate cupy
  pyproject.toml
Owners: @rapidsai/packaging-codeowners

fix: remove remaining race vulnerability while accessing locks dictionary
  numba_cuda/numba/cuda/simulator/kernelapi.py
Owners: @rapidsai/numba-cuda-write
