Repository NVIDIA/numba-cuda, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rapidsai/numba-cuda-write, @rapidsai/ci-codeowners, @rapidsai/packaging-codeowners

Updates from review feedback
  docs/source/user/debugging.rst
  examples/debugging/.vscode/launch.json
Owners: none

fix: leave per-module lock intact for whole session
  numba_cuda/numba/cuda/simulator/kernelapi.py
Owners: @rapidsai/numba-cuda-write

Removed unused screen-shot
  docs/source/_static/shared-array.png
Owners: none

Replace Apache-2.0 with BSD-2-Clause in SPDX license identifiers
  .github/actions/fetch_ctk/action.yml
  .github/actions/get_pr_number/action.yml
  .github/actions/install_unix_deps/action.yml
  .github/dependabot.yml
  .github/workflows/build-wheel.yml
  .github/workflows/ci-new.yaml
  .github/workflows/test-wheel-linux.yml
  .github/workflows/test-wheel-windows.yml
  ci/test-matrix.yml
  ci/tools/download-wheels
  ci/tools/env-vars
  ci/tools/install_gpu_driver.ps1
  ci/tools/lookup-run-id
  ci/tools/run-tests
  ci/versions.yml
Owners: @rapidsai/ci-codeowners

refactor: make error-on-exit a bit cleaner
  numba_cuda/numba/cuda/cext/_typeof.cpp
Owners: @rapidsai/numba-cuda-write

fix: ensure that the nextentry ref API call locks the set
  numba_cuda/numba/cuda/cext/_typeof.cpp
Owners: @rapidsai/numba-cuda-write

chore(deps): bump deps in pixi lockfile
  pixi.lock
Owners: none

checkpointing 010626
  numba_cuda/numba/cuda/compiler.py
  numba_cuda/numba/cuda/core/base.py
  numba_cuda/numba/cuda/core/callconv.py
  numba_cuda/numba/cuda/core/compiler.py
  numba_cuda/numba/cuda/core/funcdesc.py
  numba_cuda/numba/cuda/core/imputils.py
  numba_cuda/numba/cuda/core/typed_passes.py
  numba_cuda/numba/cuda/flags.py
  numba_cuda/numba/cuda/lowering.py
  numba_cuda/numba/cuda/target.py
  numba_cuda/numba/cuda/tests/cudapy/test_multithreads.py
Owners: @rapidsai/numba-cuda-write

fix: use freethreading-supported `_PySet_NextItemRef` where possible (#682)
  numba_cuda/numba/cuda/cext/_typeof.cpp
  numba_cuda/numba/cuda/core/pythonapi.py
Owners: @rapidsai/numba-cuda-write

perf: let CAI fall through instead of calling from_cuda_array_interface
  numba_cuda/numba/cuda/typing/typeof.py
Owners: @rapidsai/numba-cuda-write

chore: remove unnecessary exception
  numba_cuda/numba/cuda/dispatcher.py
Owners: @rapidsai/numba-cuda-write

perf: cache more shape and stride computations
  numba_cuda/numba/cuda/np/numpy_support.py
Owners: @rapidsai/numba-cuda-write

chore: remove `== 0` comparison in favor of simpler `not`
  numba_cuda/numba/cuda/typing/typeof.py
Owners: @rapidsai/numba-cuda-write

Incorporated additional review feedback.
  docs/source/user/debugging.rst
Owners: none

chore(deps): bump deps in pixi lockfile (#693)
  pixi.lock
Owners: none

Fix DISubprogram line number to point to function definition line
  numba_cuda/numba/cuda/lowering.py
  numba_cuda/numba/cuda/misc/firstlinefinder.py
  numba_cuda/numba/cuda/tests/cudapy/test_debuginfo.py
Owners: @rapidsai/numba-cuda-write

Add fmt: off/on to preserve multi-line decorator test cases
  numba_cuda/numba/cuda/tests/cudapy/test_debuginfo.py
Owners: @rapidsai/numba-cuda-write

chore: perf lint
  numba_cuda/numba/cuda/cloudpickle/cloudpickle.py
  numba_cuda/numba/cuda/compiler.py
  numba_cuda/numba/cuda/core/annotations/pretty_annotate.py
  numba_cuda/numba/cuda/core/base.py
  numba_cuda/numba/cuda/core/bytecode.py
  numba_cuda/numba/cuda/core/byteflow.py
  numba_cuda/numba/cuda/core/compiler.py
  numba_cuda/numba/cuda/core/compiler_machinery.py
  numba_cuda/numba/cuda/core/config.py
  numba_cuda/numba/cuda/core/controlflow.py
  numba_cuda/numba/cuda/core/inline_closurecall.py
  numba_cuda/numba/cuda/core/interpreter.py
  numba_cuda/numba/cuda/core/ir_utils.py
  numba_cuda/numba/cuda/core/rewrites/static_binop.py
  numba_cuda/numba/cuda/core/ssa.py
  numba_cuda/numba/cuda/core/transforms.py
  numba_cuda/numba/cuda/core/typed_passes.py
  numba_cuda/numba/cuda/core/typeinfer.py
  numba_cuda/numba/cuda/core/untyped_passes.py
  numba_cuda/numba/cuda/cpython/unicode_support.py
  numba_cuda/numba/cuda/cudadrv/devicearray.py
  numba_cuda/numba/cuda/cudadrv/driver.py
  numba_cuda/numba/cuda/deviceufunc.py
  numba_cuda/numba/cuda/dispatcher.py
  numba_cuda/numba/cuda/libdeviceimpl.py
  numba_cuda/numba/cuda/np/arrayobj.py
  numba_cuda/numba/cuda/np/polynomial/polynomial_functions.py
  numba_cuda/numba/cuda/tests/cudapy/test_copy_propagate.py
  numba_cuda/numba/cuda/types/cuda_functions.py
  pyproject.toml
Owners: @rapidsai/numba-cuda-write, @rapidsai/packaging-codeowners

Fix: Pass correct flags to linker when debugging in the presence of LTOIR code
  numba_cuda/numba/cuda/cudadrv/driver.py
  numba_cuda/numba/cuda/tests/cudadrv/test_linker.py
Owners: @rapidsai/numba-cuda-write

chore: perf lint (#697)
  numba_cuda/numba/cuda/cloudpickle/cloudpickle.py
  numba_cuda/numba/cuda/compiler.py
  numba_cuda/numba/cuda/core/annotations/pretty_annotate.py
  numba_cuda/numba/cuda/core/base.py
  numba_cuda/numba/cuda/core/bytecode.py
  numba_cuda/numba/cuda/core/byteflow.py
  numba_cuda/numba/cuda/core/compiler.py
  numba_cuda/numba/cuda/core/compiler_machinery.py
  numba_cuda/numba/cuda/core/config.py
  numba_cuda/numba/cuda/core/controlflow.py
  numba_cuda/numba/cuda/core/inline_closurecall.py
  numba_cuda/numba/cuda/core/interpreter.py
  numba_cuda/numba/cuda/core/ir_utils.py
  numba_cuda/numba/cuda/core/rewrites/static_binop.py
  numba_cuda/numba/cuda/core/ssa.py
  numba_cuda/numba/cuda/core/transforms.py
  numba_cuda/numba/cuda/core/typed_passes.py
  numba_cuda/numba/cuda/core/typeinfer.py
  numba_cuda/numba/cuda/core/untyped_passes.py
  numba_cuda/numba/cuda/cpython/unicode_support.py
  numba_cuda/numba/cuda/cudadrv/devicearray.py
  numba_cuda/numba/cuda/cudadrv/driver.py
  numba_cuda/numba/cuda/deviceufunc.py
  numba_cuda/numba/cuda/dispatcher.py
  numba_cuda/numba/cuda/libdeviceimpl.py
  numba_cuda/numba/cuda/np/arrayobj.py
  numba_cuda/numba/cuda/np/polynomial/polynomial_functions.py
  numba_cuda/numba/cuda/tests/cudapy/test_copy_propagate.py
  numba_cuda/numba/cuda/types/cuda_functions.py
  pyproject.toml
Owners: @rapidsai/numba-cuda-write, @rapidsai/packaging-codeowners

perf: let CAI fall through instead of calling from_cuda_array_interface (#694)
  numba_cuda/numba/cuda/dispatcher.py
  numba_cuda/numba/cuda/np/numpy_support.py
  numba_cuda/numba/cuda/typing/typeof.py
Owners: @rapidsai/numba-cuda-write

perf: avoid incurring the cost of failing to implement the buffer protocol on every type inference of a cupy array
  numba_cuda/numba/cuda/typing/typeof.py
Owners: @rapidsai/numba-cuda-write

perf: avoid using exceptions for control flow
  numba_cuda/numba/cuda/np/numpy_support.py
Owners: @rapidsai/numba-cuda-write

backport and update CI scripts
  ci/test_wheel_deps_wheels.sh
  numba_cuda/numba/cuda/cuda_paths.py
Owners: @rapidsai/ci-codeowners, @rapidsai/numba-cuda-write

forward port fix from....the backport
  ci/test_wheel_deps_wheels.sh
Owners: @rapidsai/ci-codeowners

specific error messages
  ci/test_wheel_deps_wheels.sh
Owners: @rapidsai/ci-codeowners

fix for llvmlite > 0.45
  numba_cuda/numba/cuda/core/typed_passes.py
Owners: @rapidsai/numba-cuda-write

fix
  numba_cuda/numba/cuda/core/typed_passes.py
Owners: @rapidsai/numba-cuda-write

perf: remove some exception control flow and buffer-exception penalization for arrays (#700)
  numba_cuda/numba/cuda/np/numpy_support.py
  numba_cuda/numba/cuda/typing/typeof.py
Owners: @rapidsai/numba-cuda-write

Fix `test_wheel_deps_wheels.sh` to actually uninstall `nvvm` and `nvrtc` packages for CUDA 13 (#701)
  ci/test_wheel_deps_wheels.sh
Owners: @rapidsai/ci-codeowners

Dropping bits in the old CI & Propagating recent changes from cuda-python (#683)
  .github/actions/fetch_ctk/action.yml
  .github/actions/get_pr_number/action.yml
  .github/actions/install_unix_deps/action.yml
  .github/dependabot.yml
  .github/workflows/build-wheel.yml
  .github/workflows/ci-new.yaml
  .github/workflows/ci.yaml
  .github/workflows/install_gpu_driver.ps1
  .github/workflows/pr.yaml
  .github/workflows/test-wheel-linux.yml
  .github/workflows/test-wheel-windows.yml
  .github/workflows/wheel-windows-tests.yaml
  .github/workflows/wheels-test.yaml
  ci/coverage_report.sh
  ci/test-matrix.json
  ci/test-matrix.yml
  ci/test_thirdparty_awkward.sh
  ci/test_thirdparty_cudf.sh
  ci/test_thirdparty_nvmath.sh
  ci/test_wheel.ps1
  ci/test_wheel.sh
  ci/test_wheel_deps_wheels.sh
  ci/tools/download-wheels
  ci/tools/env-vars
  ci/tools/install_gpu_driver.ps1
  ci/tools/lookup-run-id
  ci/tools/run-tests
  ci/versions.json
  ci/versions.yml
  pixi.lock
  pyproject.toml
Owners: @rapidsai/ci-codeowners, @rapidsai/packaging-codeowners

disallow numba 0.63+
  ci/test_wheel.sh
  ci/test_wheel_deps_wheels.sh
Owners: @rapidsai/ci-codeowners

syntax
  ci/test_wheel_deps_wheels.sh
Owners: @rapidsai/ci-codeowners

optional deps
  ci/test_wheel.sh
Owners: @rapidsai/ci-codeowners

cuda/tests: fix array manipulation tests for cudasim and grid-stride correctness
  numba/cuda/tests/test_array_manipulation.py
Owners: none

todays cuda_paths, fixes
  ci/test_wheel_deps_wheels.sh
  numba_cuda/numba/cuda/cuda_paths.py
  numba_cuda/numba/cuda/misc/findlib.py
  numba_cuda/numba/cuda/testing.py
Owners: @rapidsai/ci-codeowners, @rapidsai/numba-cuda-write

fixes
  ci/test_wheel_deps_wheels.sh
Owners: @rapidsai/ci-codeowners

fix include paths
  numba_cuda/numba/cuda/cudadrv/nvrtc.py
Owners: @rapidsai/numba-cuda-write

constrain conda
  ci/test_conda.sh
Owners: @rapidsai/ci-codeowners

chore(deps): bump numba-cuda version and relock pixi
  pixi.lock
  pixi.toml
Owners: none

.github/CODEOWNERS:

#python code owners
numba_cuda/            @rapidsai/numba-cuda-write

#cmake code owners
**/CMakeLists.txt  @rapidsai/numba-cuda-write
**/cmake/          @rapidsai/numba-cuda-write

#CI code owners
/.github/                @rapidsai/ci-codeowners
/ci/                     @rapidsai/ci-codeowners
/.pre-commit-config.yaml @rapidsai/ci-codeowners

#packaging code owners
/.devcontainer/    @rapidsai/packaging-codeowners
/conda/            @rapidsai/packaging-codeowners
/dependencies.yaml @rapidsai/packaging-codeowners
/build.sh          @rapidsai/packaging-codeowners
pyproject.toml     @rapidsai/packaging-codeowners
