Repository NVIDIA/numba-cuda, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rapidsai/numba-cuda-write, @rapidsai/ci-codeowners, @rapidsai/packaging-codeowners

docs: update README to include pixi instructions for running tests
  README.md
Owners: none

Handle getattrs/setattrs correctly in install_external_registry
  numba_cuda/numba/cuda/core/base.py
Owners: @rapidsai/numba-cuda-write

build: dedup commands a bit
  testing/Makefile
Owners: none

build: echo to stderr instead of stdout
  testing/Makefile
Owners: none

chore: noheader does not work
  testing/Makefile
Owners: none

build: actually parallelize builds in testing scripts
  ci/coverage_report.sh
  ci/test_conda.sh
  ci/test_conda_ctypes_binding.sh
  ci/test_wheel.sh
  ci/test_wheel_ctypes_binding.sh
  ci/test_wheel_deps_wheels.sh
Owners: @rapidsai/ci-codeowners

build: allow parallelization of nvcc testing builds (#521)
  README.md
  ci/coverage_report.sh
  ci/test_conda.sh
  ci/test_conda_ctypes_binding.sh
  ci/test_wheel.sh
  ci/test_wheel_ctypes_binding.sh
  ci/test_wheel_deps_wheels.sh
  testing/Makefile
Owners: @rapidsai/ci-codeowners

Install typing registrations from numba.core.typing if available.
  numba_cuda/numba/cuda/core/base.py
  numba_cuda/numba/cuda/target.py
  numba_cuda/numba/cuda/typing/context.py
Owners: @rapidsai/numba-cuda-write

Fallback to Numba's typeof_impl for third-party typing registrations
  numba_cuda/numba/cuda/typing/context.py
  numba_cuda/numba/cuda/typing/typeof.py
Owners: @rapidsai/numba-cuda-write

Selectively install only third-party typing registrations from numba.core.typing
  numba_cuda/numba/cuda/typing/context.py
  numba_cuda/numba/cuda/typing/typeof.py
Owners: @rapidsai/numba-cuda-write

Vendor in dispatcher, entrypoints, pretty_annotate for CUDA-specific changes (#502)
  numba_cuda/numba/cuda/core/annotations/pretty_annotate.py
  numba_cuda/numba/cuda/core/annotations/type_annotations.py
  numba_cuda/numba/cuda/core/entrypoints.py
  numba_cuda/numba/cuda/core/transforms.py
  numba_cuda/numba/cuda/dispatcher.py
  numba_cuda/numba/cuda/extending.py
  numba_cuda/numba/cuda/target.py
Owners: @rapidsai/numba-cuda-write

[MNT] Drop NUMBA_CUDA_USE_NVIDIA_BINDING; always use cuda.core and cuda.bindings as fallback (#479)
  .github/workflows/pr.yaml
  ci/test_conda_ctypes_binding.sh
  ci/test_wheel_ctypes_binding.sh
  docs/source/reference/envvars.rst
  docs/source/user/bindings.rst
  docs/source/user/installation.rst
  numba_cuda/numba/cuda/__init__.py
  numba_cuda/numba/cuda/api.py
  numba_cuda/numba/cuda/codegen.py
  numba_cuda/numba/cuda/cudadrv/driver.py
  numba_cuda/numba/cuda/cudadrv/mappings.py
  numba_cuda/numba/cuda/cudadrv/nvrtc.py
  numba_cuda/numba/cuda/cudadrv/runtime.py
  numba_cuda/numba/cuda/tests/cudadrv/test_linker.py
  numba_cuda/numba/cuda/tests/cudadrv/test_module_callbacks.py
  numba_cuda/numba/cuda/tests/cudadrv/test_nvjitlink.py
  numba_cuda/numba/cuda/tests/cudapy/test_compiler.py
  numba_cuda/numba/cuda/tests/cudapy/test_errors.py
  numba_cuda/numba/cuda/tests/nrt/test_nrt.py
  pyproject.toml
Owners: @rapidsai/ci-codeowners, @rapidsai/numba-cuda-write, @rapidsai/packaging-codeowners

basic test, bits and pieces of nrt needed
  numba_cuda/numba/cuda/cpython/listobj.py
  numba_cuda/numba/cuda/memory_management/nrt.cu
  numba_cuda/numba/cuda/memory_management/nrt.cuh
  numba_cuda/numba/cuda/target.py
  numba_cuda/numba/cuda/tests/test_array_reductions.py
  numba_cuda/numba/cuda/typing/context.py
Owners: @rapidsai/numba-cuda-write

Vendor in the ir module piecemeal
  numba_cuda/numba/cuda/core/ir.py
  numba_cuda/numba/cuda/tests/cudapy/test_ir.py
  numba_cuda/numba/cuda/utils.py
Owners: @rapidsai/numba-cuda-write

some progress
  numba_cuda/numba/cuda/cpython/listobj.py
  numba_cuda/numba/cuda/tests/test_array_reductions.py
Owners: @rapidsai/numba-cuda-write

Use numba.config when available, otherwise use numba.cuda.config (#497)
  ci/test_thirdparty.sh
  numba_cuda/numba/cuda/core/config.py
  numba_cuda/numba/cuda/memory_management/nrt.py
  numba_cuda/numba/cuda/typeconv/rules.py
Owners: @rapidsai/ci-codeowners, @rapidsai/numba-cuda-write

Reorder typing.collections typing registry installation to be after typing.builtins
  numba_cuda/numba/cuda/target.py
  numba_cuda/numba/cuda/typing/context.py
Owners: @rapidsai/numba-cuda-write

pyproject.toml: add search path for Pyrefly
  pyproject.toml
Owners: @rapidsai/packaging-codeowners

Refactor
  numba_cuda/numba/cuda/tests/test_array_reductions.py
Owners: @rapidsai/numba-cuda-write

more reductions
  numba_cuda/numba/cuda/tests/test_array_reductions.py
Owners: @rapidsai/numba-cuda-write

pyproject.toml: add search path for Pyrefly (#524)
  pyproject.toml
Owners: @rapidsai/packaging-codeowners

refactor: fully remove `USE_NV_BINDING`
  numba_cuda/numba/cuda/api.py
  numba_cuda/numba/cuda/cudadrv/devicearray.py
  numba_cuda/numba/cuda/cudadrv/devices.py
  numba_cuda/numba/cuda/cudadrv/driver.py
  numba_cuda/numba/cuda/dispatcher.py
  numba_cuda/numba/cuda/memory_management/nrt.py
  numba_cuda/numba/cuda/simulator/cudadrv/driver.py
  numba_cuda/numba/cuda/testing.py
  numba_cuda/numba/cuda/tests/cudadrv/test_context_stack.py
  numba_cuda/numba/cuda/tests/cudadrv/test_cuda_driver.py
  numba_cuda/numba/cuda/tests/cudadrv/test_cuda_memory.py
  numba_cuda/numba/cuda/tests/cudadrv/test_managed_alloc.py
  numba_cuda/numba/cuda/tests/cudadrv/test_ptds.py
  numba_cuda/numba/cuda/tests/cudapy/test_ipc.py
Owners: @rapidsai/numba-cuda-write

chore: remove instance check for device id type
  numba_cuda/numba/cuda/tests/cudadrv/test_context_stack.py
Owners: @rapidsai/numba-cuda-write

Draft: Vendor in the IR module (#439)
  numba_cuda/numba/cuda/core/ir.py
  numba_cuda/numba/cuda/tests/cudapy/test_ir.py
  numba_cuda/numba/cuda/utils.py
Owners: @rapidsai/numba-cuda-write

chore: delete file without tests
  numba_cuda/numba/cuda/tests/cudadrv/test_ptds.py
Owners: @rapidsai/numba-cuda-write

refactor: fully remove `USE_NV_BINDING` (#525)
  numba_cuda/numba/cuda/api.py
  numba_cuda/numba/cuda/cudadrv/devicearray.py
  numba_cuda/numba/cuda/cudadrv/devices.py
  numba_cuda/numba/cuda/cudadrv/driver.py
  numba_cuda/numba/cuda/dispatcher.py
  numba_cuda/numba/cuda/memory_management/nrt.py
  numba_cuda/numba/cuda/simulator/cudadrv/driver.py
  numba_cuda/numba/cuda/testing.py
  numba_cuda/numba/cuda/tests/cudadrv/test_context_stack.py
  numba_cuda/numba/cuda/tests/cudadrv/test_cuda_driver.py
  numba_cuda/numba/cuda/tests/cudadrv/test_cuda_memory.py
  numba_cuda/numba/cuda/tests/cudadrv/test_managed_alloc.py
  numba_cuda/numba/cuda/tests/cudadrv/test_ptds.py
  numba_cuda/numba/cuda/tests/cudapy/test_ipc.py
Owners: @rapidsai/numba-cuda-write

fix ufuncs
  numba_cuda/numba/cuda/ufuncs.py
Owners: @rapidsai/numba-cuda-write

dev: allow running tests from the root of the repo
  README.md
  ci/coverage_report.sh
  ci/test_conda.sh
  ci/test_simulator.sh
  ci/test_wheel.ps1
  ci/test_wheel.sh
  ci/test_wheel_deps_wheels.sh
  numba_cuda/numba/cuda/tests/conftest.py
  pixi.lock
  pyproject.toml
  testing/pytest.ini
Owners: @rapidsai/ci-codeowners, @rapidsai/numba-cuda-write, @rapidsai/packaging-codeowners

chore: use pyargs in ci
  ci/coverage_report.sh
  ci/test_conda.sh
  ci/test_simulator.sh
  ci/test_wheel.ps1
  ci/test_wheel.sh
  ci/test_wheel_deps_wheels.sh
Owners: @rapidsai/ci-codeowners

chore: move conftest.py to toplevel
  conftest.py
Owners: none

test(pixi): update pixi testing setup to reflect new binaries
  pixi.lock
  pyproject.toml
Owners: @rapidsai/packaging-codeowners

chore: restrict gxx to linux
  pixi.lock
  pyproject.toml
Owners: @rapidsai/packaging-codeowners

chore: add cuda feature system requirements
  pixi.lock
  pyproject.toml
Owners: @rapidsai/packaging-codeowners

chore: remove test env
  pixi.lock
  pyproject.toml
Owners: @rapidsai/packaging-codeowners

chore: use `cxx-compiler`
  pixi.lock
  pyproject.toml
Owners: @rapidsai/packaging-codeowners

chore: move tasks to linux-only for now
  pixi.lock
  pyproject.toml
Owners: @rapidsai/packaging-codeowners

chore: lock file
  pixi.lock
Owners: none

add tests for numba.vectorize and set the default target in numba.cuda.vectorize to cuda
  numba_cuda/numba/cuda/np/ufunc/decorators.py
  numba_cuda/numba/cuda/tests/cudapy/test_vectorize.py
Owners: @rapidsai/numba-cuda-write

test(pixi): update pixi testing command to work with the new `testing` directory (#522)
  pixi.lock
  pyproject.toml
Owners: @rapidsai/packaging-codeowners

test: speed up ipc tests by ~6.5x
  numba_cuda/numba/cuda/tests/cudapy/test_ipc.py
Owners: @rapidsai/numba-cuda-write

.github/CODEOWNERS:

#python code owners
numba_cuda/            @rapidsai/numba-cuda-write

#cmake code owners
**/CMakeLists.txt  @rapidsai/numba-cuda-write
**/cmake/          @rapidsai/numba-cuda-write

#CI code owners
/.github/                @rapidsai/ci-codeowners
/ci/                     @rapidsai/ci-codeowners
/.pre-commit-config.yaml @rapidsai/ci-codeowners

#packaging code owners
/.devcontainer/    @rapidsai/packaging-codeowners
/conda/            @rapidsai/packaging-codeowners
/dependencies.yaml @rapidsai/packaging-codeowners
/build.sh          @rapidsai/packaging-codeowners
pyproject.toml     @rapidsai/packaging-codeowners
