Repository NVIDIA/numba-cuda, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rapidsai/numba-cuda-write, @rapidsai/ci-codeowners, @rapidsai/packaging-codeowners

.github/CODEOWNERS:

#python code owners
numba_cuda/            @rapidsai/numba-cuda-write

#cmake code owners
**/CMakeLists.txt  @rapidsai/numba-cuda-write
**/cmake/          @rapidsai/numba-cuda-write

#CI code owners
/.github/                @rapidsai/ci-codeowners
/ci/                     @rapidsai/ci-codeowners
/.pre-commit-config.yaml @rapidsai/ci-codeowners

#packaging code owners
/.devcontainer/    @rapidsai/packaging-codeowners
/conda/            @rapidsai/packaging-codeowners
/dependencies.yaml @rapidsai/packaging-codeowners
/build.sh          @rapidsai/packaging-codeowners
pyproject.toml     @rapidsai/packaging-codeowners

[Refactor][NFC] Changes to build _dispatcher cext with pip install -e .
  numba_cuda/numba/cuda/dispatcher.py
  pyproject.toml
  setup.py
Owners: @rapidsai/numba-cuda-write, @rapidsai/packaging-codeowners

Add locals attribute to _FunctionCompiler
  numba_cuda/numba/cuda/dispatcher.py
Owners: @rapidsai/numba-cuda-write

fix
  numba_cuda/numba/cuda/cudadrv/driver.py
Owners: @rapidsai/numba-cuda-write

Add numpy build dep to conda/recipes/numba-cuda
  conda/recipes/numba-cuda/meta.yaml
Owners: @rapidsai/packaging-codeowners

[Refactor][NFC] Remove _helperlib cext dependency with py impl of attempt_nocopy_reshape
  numba_cuda/numba/cuda/cudadrv/dummyarray.py
Owners: @rapidsai/numba-cuda-write

update bfloat16 bindings
  configs/cuda_bf16.yml
Owners: none

export typing and target registries in bf16
  numba_cuda/numba/cuda/bf16.py
Owners: @rapidsai/numba-cuda-write

manually implement the lower_cast for float16 to bfloat16
  numba_cuda/numba/cuda/_internal/cuda_bf16.py
Owners: @rapidsai/numba-cuda-write

add converting rules and unify rules
  numba_cuda/numba/cuda/types.py
Owners: @rapidsai/numba-cuda-write

Fix check for `cuCtxCreate()` variant
  numba_cuda/numba/cuda/tests/cudadrv/test_context_stack.py
Owners: @rapidsai/numba-cuda-write

Skip nvdisasm tests on CUDA 11
  numba_cuda/numba/cuda/tests/cudapy/test_inspect.py
Owners: @rapidsai/numba-cuda-write

Skip nvdisasm-using tests on more versions
  numba_cuda/numba/cuda/tests/cudapy/test_inspect.py
Owners: @rapidsai/numba-cuda-write

Always skip tests that use nvdisasm
  numba_cuda/numba/cuda/tests/cudapy/test_inspect.py
Owners: @rapidsai/numba-cuda-write

Disable test binaries on ctypes tests due to NVIDIA binding requirement
  ci/test_wheel_ctypes_binding.sh
Owners: @rapidsai/ci-codeowners

Temporary: Test Python 3.11 on AArch64 with CUDA 12.2
  ci/matrix.yml
Owners: @rapidsai/ci-codeowners

Fix error in ctypes binding test script
  ci/test_wheel_ctypes_binding.sh
Owners: @rapidsai/ci-codeowners

update deps
  conda/recipes/numba-cuda/meta.yaml
  pyproject.toml
Owners: @rapidsai/packaging-codeowners

Fix CI for CUDA 13 drivers (#385)
  ci/matrix.yml
  ci/test_wheel_ctypes_binding.sh
  numba_cuda/numba/cuda/tests/cudadrv/test_context_stack.py
  numba_cuda/numba/cuda/tests/cudapy/test_inspect.py
Owners: @rapidsai/ci-codeowners, @rapidsai/numba-cuda-write

Add test for fix in #381
  numba_cuda/numba/cuda/tests/cudapy/test_compiler.py
Owners: @rapidsai/numba-cuda-write

Add locals attribute to _FunctionCompiler (#381)
  numba_cuda/numba/cuda/dispatcher.py
  numba_cuda/numba/cuda/tests/cudapy/test_compiler.py
Owners: @rapidsai/numba-cuda-write

Relax subclass check in vendored in typing templates (#371)
  numba_cuda/numba/cuda/typing/templates.py
Owners: @rapidsai/numba-cuda-write

Update pyproject.toml
  pyproject.toml
Owners: @rapidsai/packaging-codeowners

remove uses of rapids-configure-conda-channels (#372)
  ci/build_conda.sh
Owners: @rapidsai/ci-codeowners

Change repo ULRs in pyproject.toml to point to new URL
  pyproject.toml
Owners: @rapidsai/packaging-codeowners

Fix CI for CUDA 13 drivers (#385)
  ci/matrix.yml
  ci/test_wheel_ctypes_binding.sh
  numba_cuda/numba/cuda/tests/cudadrv/test_context_stack.py
  numba_cuda/numba/cuda/tests/cudapy/test_inspect.py
Owners: @rapidsai/ci-codeowners, @rapidsai/numba-cuda-write

Add locals attribute to _FunctionCompiler (#381)
  numba_cuda/numba/cuda/dispatcher.py
  numba_cuda/numba/cuda/tests/cudapy/test_compiler.py
Owners: @rapidsai/numba-cuda-write

remove uses of rapids-configure-conda-channels (#372)
  ci/build_conda.sh
Owners: @rapidsai/ci-codeowners

Bump version to 0.18.1
  numba_cuda/VERSION
Owners: @rapidsai/numba-cuda-write

Bump version to 0.18.1 (#390)
  numba_cuda/VERSION
Owners: @rapidsai/numba-cuda-write

Add a Windows CI test
  .github/workflows/install_gpu_driver.ps1
  .github/workflows/pr.yaml
  .github/workflows/wheel-windows-tests.yaml
  ci/get_test_binary_dir.py
  ci/test_wheel.ps1
  numba_cuda/numba/cuda/cuda_paths.py
  numba_cuda/numba/cuda/cudadrv/driver.py
  pyproject.toml
Owners: @rapidsai/ci-codeowners, @rapidsai/numba-cuda-write, @rapidsai/packaging-codeowners

[NFC] Make numba-cuda[cuXY] a dep of dev-cuXY
  CONTRIBUTING.md
  pyproject.toml
Owners: @rapidsai/packaging-codeowners

Vendor-in IR utilities for CUDA-specific refactoring (#377)
  numba_cuda/numba/cuda/core/interpreter.py
  numba_cuda/numba/cuda/core/ir_utils.py
  numba_cuda/numba/cuda/lowering.py
  numba_cuda/numba/cuda/tests/cudapy/test_ir_utils.py
  numba_cuda/numba/cuda/typing/templates.py
Owners: @rapidsai/numba-cuda-write

Re-add test dep group without cuda version
  pyproject.toml
Owners: @rapidsai/packaging-codeowners

Vendor in bytecode module for refactoring
  numba_cuda/numba/cuda/core/bytecode.py
  numba_cuda/numba/cuda/core/compiler.py
  numba_cuda/numba/cuda/tests/cudapy/test_ir_utils.py
Owners: @rapidsai/numba-cuda-write

remove unnecessary Compiler class
  numba_cuda/numba/cuda/compiler.py
Owners: @rapidsai/numba-cuda-write

more cleanups for vendoring in pass manager
  numba_cuda/numba/cuda/compiler.py
  numba_cuda/numba/cuda/core/object_mode_passes.py
  numba_cuda/numba/cuda/core/untyped_passes.py
  numba_cuda/numba/cuda/testing.py
  numba_cuda/numba/cuda/tests/cudapy/test_inline.py
Owners: @rapidsai/numba-cuda-write

Fix remaining core.compiler imports to use newly upstreamed ones
  numba_cuda/numba/cuda/compiler.py
  numba_cuda/numba/cuda/core/untyped_passes.py
  numba_cuda/numba/cuda/dispatcher.py
  numba_cuda/numba/cuda/target.py
Owners: @rapidsai/numba-cuda-write

remove now redundant classes, remove nopythonbackend, and adjust pipelines accordingly
  numba_cuda/numba/cuda/compiler.py
  numba_cuda/numba/cuda/core/compiler_machinery.py
  numba_cuda/numba/cuda/core/untyped_passes.py
Owners: @rapidsai/numba-cuda-write

[Refactor][NFC] Vendor in PassManager + passes + helpers
  numba_cuda/numba/cuda/compiler.py
  numba_cuda/numba/cuda/core/compiler_machinery.py
  numba_cuda/numba/cuda/core/typed_passes.py
  numba_cuda/numba/cuda/core/untyped_passes.py
  numba_cuda/numba/cuda/flags.py
  numba_cuda/numba/cuda/testing.py
  numba_cuda/numba/cuda/tests/cudapy/test_debug.py
  numba_cuda/numba/cuda/utils.py
Owners: @rapidsai/numba-cuda-write

nits cleanups + remove object mode pipeline
  numba_cuda/numba/cuda/compiler.py
  numba_cuda/numba/cuda/core/object_mode_passes.py
  numba_cuda/numba/cuda/core/untyped_passes.py
  numba_cuda/numba/cuda/dispatcher.py
  numba_cuda/numba/cuda/target.py
Owners: @rapidsai/numba-cuda-write
