Repository NVIDIA/numba-cuda, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rapidsai/numba-cuda-write, @rapidsai/ci-codeowners, @rapidsai/packaging-codeowners

explicitly delete kernel reference
  numba_cuda/numba/cuda/tests/cudadrv/test_module_callbacks.py
Owners: @rapidsai/numba-cuda-write

remove stream from setup and teardown callbacks
  numba_cuda/numba/cuda/cudadrv/driver.py
  numba_cuda/numba/cuda/dispatcher.py
  numba_cuda/numba/cuda/tests/cudadrv/test_module_callbacks.py
Owners: @rapidsai/numba-cuda-write

remove counter
  numba_cuda/numba/cuda/tests/cudadrv/test_module_callbacks.py
Owners: @rapidsai/numba-cuda-write

add API coverage test
  numba_cuda/numba/cuda/tests/cudadrv/test_module_callbacks.py
Owners: @rapidsai/numba-cuda-write

asserting types of passed in module handle
  numba_cuda/numba/cuda/tests/cudadrv/test_module_callbacks.py
Owners: @rapidsai/numba-cuda-write

update documentation
  docs/source/user/cuda_ffi.rst
Owners: none

Add black and pre-commit-hooks
  .pre-commit-config.yaml
Owners: @rapidsai/ci-codeowners

Add .git-blame-ignore-revs
  .git-blame-ignore-revs
Owners: none

Split long strings over 80 lines
  numba_cuda/numba/cuda/cuda_paths.py
  numba_cuda/numba/cuda/cudadrv/driver.py
Owners: @rapidsai/numba-cuda-write

Cosmetic: fix docstring typo.
  numba_cuda/numba/cuda/cudaimpl.py
Owners: @rapidsai/numba-cuda-write

Remove erroneous alignment= kwarg to types.Array().
  numba_cuda/numba/cuda/cudaimpl.py
Owners: @rapidsai/numba-cuda-write

Implement alignment support for local and shared arrays.
  numba_cuda/numba/cuda/cudadecl.py
  numba_cuda/numba/cuda/cudaimpl.py
  numba_cuda/numba/cuda/stubs.py
  numba_cuda/numba/cuda/tests/cudapy/test_array_alignment.py
Owners: @rapidsai/numba-cuda-write

PR Feedback: Improve comment.
  numba_cuda/numba/cuda/cudaimpl.py
Owners: @rapidsai/numba-cuda-write

PR Feedback: Improve alignment handling in cudaimpl.
  numba_cuda/numba/cuda/cudaimpl.py
Owners: @rapidsai/numba-cuda-write

PR Feedback: Improve alignment handling in Cuda_array_decl.
  numba_cuda/numba/cuda/cudadecl.py
Owners: @rapidsai/numba-cuda-write

PR Feedback: Improve alignment tests.
  numba_cuda/numba/cuda/tests/cudapy/test_array_alignment.py
Owners: @rapidsai/numba-cuda-write

PR Feedback: Clarify pointer size.
  numba_cuda/numba/cuda/stubs.py
Owners: @rapidsai/numba-cuda-write

Add missing `cuda_local_array_tuple` implementation.
  numba_cuda/numba/cuda/cudaimpl.py
Owners: @rapidsai/numba-cuda-write

address review comments
  numba_cuda/numba/cuda/cudadrv/driver.py
Owners: @rapidsai/numba-cuda-write

update linkable code doc
  numba_cuda/numba/cuda/cudadrv/linkable_code.py
Owners: @rapidsai/numba-cuda-write

update the tests to acommodate nvidia bindings
  numba_cuda/numba/cuda/cudadrv/driver.py
  numba_cuda/numba/cuda/tests/cudadrv/test_module_callbacks.py
Owners: @rapidsai/numba-cuda-write

setup should raise an error if module is already initialized
  numba_cuda/numba/cuda/cudadrv/driver.py
  numba_cuda/numba/cuda/dispatcher.py
Owners: @rapidsai/numba-cuda-write

Update docs/source/user/cuda_ffi.rst
  docs/source/user/cuda_ffi.rst
Owners: none

add input type guards for linkable code
  numba_cuda/numba/cuda/codegen.py
  numba_cuda/numba/cuda/cudadrv/linkable_code.py
Owners: @rapidsai/numba-cuda-write

locate nvrtc
  numba_cuda/numba/cuda/cuda_paths.py
  numba_cuda/numba/cuda/cudadrv/libs.py
Owners: @rapidsai/numba-cuda-write

working inside container
  numba_cuda/numba/cuda/cuda_paths.py
Owners: @rapidsai/numba-cuda-write

somewhat roundabout logic works for system/wheel
  numba_cuda/numba/cuda/cuda_paths.py
Owners: @rapidsai/numba-cuda-write

read_file
  numba_cuda/numba/cuda/cudadrv/driver.py
  numba_cuda/numba/cuda/dispatcher.py
Owners: @rapidsai/numba-cuda-write

skip tests with no set bin dir
  numba_cuda/numba/cuda/tests/cudadrv/test_nvjitlink.py
Owners: @rapidsai/numba-cuda-write

ensure builtins on windows
  numba_cuda/numba/cuda/cuda_paths.py
Owners: @rapidsai/numba-cuda-write

Fix docstrings
  numba_cuda/numba/cuda/cudadrv/driver.py
  numba_cuda/numba/cuda/cudadrv/linkable_code.py
Owners: @rapidsai/numba-cuda-write

add tests for bfloat16
  numba_cuda/numba/cuda/tests/cudapy/test_bfloat16_bindings.py
Owners: @rapidsai/numba-cuda-write

add lock to protect initialization secton
  numba_cuda/numba/cuda/dispatcher.py
  numba_cuda/numba/cuda/locks.py
Owners: @rapidsai/numba-cuda-write

add documentation
  docs/source/user/cuda_ffi.rst
Owners: none

Replace flake8 with ruff and pre-commit-hooks
  .flake8
  .pre-commit-config.yaml
  pyproject.toml
Owners: @rapidsai/ci-codeowners, @rapidsai/packaging-codeowners

Add .git-blame-ignore-revs
  .git-blame-ignore-revs
Owners: none

Add col/row-major layout to shared and local memory
  numba_cuda/numba/cuda/cudadecl.py
  numba_cuda/numba/cuda/cudaimpl.py
  numba_cuda/numba/cuda/stubs.py
  numba_cuda/numba/cuda/tests/cudapy/test_localmem.py
  numba_cuda/numba/cuda/tests/cudapy/test_sm.py
Owners: @rapidsai/numba-cuda-write

add as_numba_type registry for all types
  numba_cuda/numba/cuda/cuda_bf16.py
Owners: @rapidsai/numba-cuda-write

remove float16 roundtrip test
  numba_cuda/numba/cuda/tests/cudapy/test_bfloat16_bindings.py
Owners: @rapidsai/numba-cuda-write

migrate changes from #165
  numba_cuda/numba/cuda/compiler.py
  numba_cuda/numba/cuda/target.py
Owners: @rapidsai/numba-cuda-write

.github/CODEOWNERS:

#python code owners
numba_cuda/            @rapidsai/numba-cuda-write

#cmake code owners
**/CMakeLists.txt  @rapidsai/numba-cuda-write
**/cmake/          @rapidsai/numba-cuda-write

#CI code owners
/.github/                @rapidsai/ci-codeowners
/ci/                     @rapidsai/ci-codeowners
/.pre-commit-config.yaml @rapidsai/ci-codeowners

#packaging code owners
/.devcontainer/    @rapidsai/packaging-codeowners
/conda/            @rapidsai/packaging-codeowners
/dependencies.yaml @rapidsai/packaging-codeowners
/build.sh          @rapidsai/packaging-codeowners
pyproject.toml     @rapidsai/packaging-codeowners
