Repository NVIDIA/numba-cuda, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rapidsai/numba-cuda-write, @rapidsai/ci-codeowners, @rapidsai/packaging-codeowners

Skip interop tests on simulator
  numba_cuda/numba/cuda/tests/cudapy/test_numba_interop.py
Owners: @rapidsai/numba-cuda-write

Revert "check again if NRT was ever enabled"
  numba_cuda/numba/cuda/dispatcher.py
Owners: @rapidsai/numba-cuda-write

cache on NRT state
  numba_cuda/numba/cuda/core/base.py
Owners: @rapidsai/numba-cuda-write

Revert "wrangle greptile"
  numba_cuda/numba/cuda/dispatcher.py
Owners: @rapidsai/numba-cuda-write

override config
  numba_cuda/numba/cuda/tests/nrt/test_nrt.py
Owners: @rapidsai/numba-cuda-write

Fix false negative NRT link decision when NRT was previously toggled on (#650)
  numba_cuda/numba/cuda/core/base.py
  numba_cuda/numba/cuda/tests/nrt/test_nrt.py
Owners: @rapidsai/numba-cuda-write

fix remaining tests
  numba_cuda/numba/cuda/tests/cudapy/test_blackscholes.py
  numba_cuda/numba/cuda/tests/cudapy/test_laplace.py
  numba_cuda/numba/cuda/tests/cudapy/test_sm.py
  numba_cuda/numba/cuda/tests/doc_examples/test_random.py
  numba_cuda/numba/cuda/tests/doc_examples/test_vecadd.py
Owners: @rapidsai/numba-cuda-write

chore: move context out of try block to ensure it exists
  numba_cuda/numba/cuda/tests/cudadrv/test_context_stack.py
Owners: @rapidsai/numba-cuda-write

chore: use the correct input for `Context`
  numba_cuda/numba/cuda/tests/cudadrv/test_context_stack.py
Owners: @rapidsai/numba-cuda-write

Only run dependabot monthly and open fewer PRs
  .github/dependabot.yml
Owners: @rapidsai/ci-codeowners

Fix stale comment
  .github/dependabot.yml
Owners: @rapidsai/ci-codeowners

test: fix bogus `self` argument to `Context` (#656)
  numba_cuda/numba/cuda/tests/cudadrv/test_context_stack.py
Owners: @rapidsai/numba-cuda-write

Only run dependabot monthly and open fewer PRs (#658)
  .github/dependabot.yml
Owners: @rapidsai/ci-codeowners

bump cudf version and tests
  ci/test_thirdparty_cudf.sh
Owners: @rapidsai/ci-codeowners

feat: add print support for int64 tuples
  numba_cuda/numba/cuda/printimpl.py
  numba_cuda/numba/cuda/tests/cudapy/test_print.py
Owners: @rapidsai/numba-cuda-write

fix toggle
  numba_cuda/numba/cuda/tests/cudadrv/test_nvjitlink.py
Owners: @rapidsai/numba-cuda-write

feat: add print support for int64 tuples (#663)
  numba_cuda/numba/cuda/printimpl.py
  numba_cuda/numba/cuda/tests/cudapy/test_print.py
Owners: @rapidsai/numba-cuda-write

Do not manually set DUMP_ASSEMBLY in `nvjitlink` tests (#662)
  numba_cuda/numba/cuda/tests/cudadrv/test_nvjitlink.py
Owners: @rapidsai/numba-cuda-write

Test RAPIDS 25.12 (#661)
  ci/test_thirdparty_cudf.sh
Owners: @rapidsai/ci-codeowners

feat: Add documentation for debugging Numba CUDA programs with CUDA GDB and VSCode
  docs/source/_static/kernel-entry.png
  docs/source/_static/launch-json.png
  docs/source/_static/run-control.png
  docs/source/_static/shared-array.png
  docs/source/_static/starting-debugging.png
  docs/source/user/debugging.rst
  docs/source/user/index.rst
  examples/debugging/.vscode/launch.json
  examples/debugging/.vscode/settings.json
  examples/debugging/debugging.code-workspace
  examples/debugging/hello.py
Owners: none

small fixes
  numba_cuda/numba/cuda/__init__.py
  numba_cuda/numba/cuda/tests/cudadrv/test_nvjitlink.py
Owners: @rapidsai/numba-cuda-write

Capture global device arrays in kernels and device functions
  numba_cuda/numba/cuda/core/typeinfer.py
  numba_cuda/numba/cuda/np/arrayobj.py
  numba_cuda/numba/cuda/serialize.py
  numba_cuda/numba/cuda/tests/cudapy/test_device_array_capture.py
  numba_cuda/numba/cuda/typing/typeof.py
Owners: @rapidsai/numba-cuda-write

Use numpy.prod for strides calculation, don't use hasattr
  numba_cuda/numba/cuda/np/arrayobj.py
  numba_cuda/numba/cuda/typing/typeof.py
Owners: @rapidsai/numba-cuda-write

Remove script used in development
  replace_checks.py
Owners: none

Address issues identified in code review
  numba_cuda/numba/cuda/core/ir.py
  numba_cuda/numba/cuda/serialize.py
Owners: @rapidsai/numba-cuda-write

fix UB
  numba_cuda/numba/cuda/tests/cudapy/test_warp_ops.py
Owners: @rapidsai/numba-cuda-write

restore lockfile
  pixi.lock
Owners: none

feat: allow printing nested tuples
  numba_cuda/numba/cuda/printimpl.py
  numba_cuda/numba/cuda/tests/cudapy/test_print.py
Owners: @rapidsai/numba-cuda-write

chore: fix test
  numba_cuda/numba/cuda/tests/cudapy/test_print.py
Owners: @rapidsai/numba-cuda-write

test: assert regex since float/double formatting is different for python than for vprint
  numba_cuda/numba/cuda/tests/cudapy/test_print.py
Owners: @rapidsai/numba-cuda-write

Introduce strides_from_shape helper and use that in numpy_support
  numba_cuda/numba/cuda/np/arrayobj.py
  numba_cuda/numba/cuda/np/numpy_support.py
  numba_cuda/numba/cuda/typing/typeof.py
Owners: @rapidsai/numba-cuda-write

regenerate pixi lockfile
  pixi.lock
Owners: none

Add documentation describing global array capture
  docs/source/user/globals.rst
  docs/source/user/index.rst
Owners: none

chore: remove unused test case
  numba_cuda/numba/cuda/tests/cudapy/test_print.py
Owners: @rapidsai/numba-cuda-write

Try making circular import go away
  numba_cuda/numba/cuda/typing/typeof.py
Owners: @rapidsai/numba-cuda-write

feat: allow printing nested tuples (#667)
  numba_cuda/numba/cuda/printimpl.py
  numba_cuda/numba/cuda/tests/cudapy/test_print.py
Owners: @rapidsai/numba-cuda-write

Rewrite tests using both device arrays and foreign arrays
  numba_cuda/numba/cuda/tests/cudapy/test_device_array_capture.py
Owners: @rapidsai/numba-cuda-write

Introduce referenced_objects attribute to CodeLibrary and use it
  numba_cuda/numba/cuda/codegen.py
  numba_cuda/numba/cuda/np/arrayobj.py
Owners: @rapidsai/numba-cuda-write

Remove unnecessary headers
  numba_cuda/numba/cuda/tests/cudapy/test_device_array_capture.py
Owners: @rapidsai/numba-cuda-write

A few smaller fixes
  numba_cuda/numba/cuda/np/arrayobj.py
Owners: @rapidsai/numba-cuda-write

.github/CODEOWNERS:

#python code owners
numba_cuda/            @rapidsai/numba-cuda-write

#cmake code owners
**/CMakeLists.txt  @rapidsai/numba-cuda-write
**/cmake/          @rapidsai/numba-cuda-write

#CI code owners
/.github/                @rapidsai/ci-codeowners
/ci/                     @rapidsai/ci-codeowners
/.pre-commit-config.yaml @rapidsai/ci-codeowners

#packaging code owners
/.devcontainer/    @rapidsai/packaging-codeowners
/conda/            @rapidsai/packaging-codeowners
/dependencies.yaml @rapidsai/packaging-codeowners
/build.sh          @rapidsai/packaging-codeowners
pyproject.toml     @rapidsai/packaging-codeowners
