Repository NVIDIA/numba-cuda, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rapidsai/numba-cuda-write, @rapidsai/ci-codeowners, @rapidsai/packaging-codeowners

.github/CODEOWNERS:

#python code owners
numba_cuda/            @rapidsai/numba-cuda-write

#cmake code owners
**/CMakeLists.txt  @rapidsai/numba-cuda-write
**/cmake/          @rapidsai/numba-cuda-write

#CI code owners
/.github/                @rapidsai/ci-codeowners
/ci/                     @rapidsai/ci-codeowners
/.pre-commit-config.yaml @rapidsai/ci-codeowners

#packaging code owners
/.devcontainer/    @rapidsai/packaging-codeowners
/conda/            @rapidsai/packaging-codeowners
/dependencies.yaml @rapidsai/packaging-codeowners
/build.sh          @rapidsai/packaging-codeowners
pyproject.toml     @rapidsai/packaging-codeowners

Another attempt to fix publish
  .github/workflows/publish.yaml
  numba_cuda/VERSION
Owners: @rapidsai/ci-codeowners, @rapidsai/numba-cuda-write

Another attempt to fix publish
  .github/workflows/publish.yaml
  numba_cuda/VERSION
Owners: @rapidsai/ci-codeowners, @rapidsai/numba-cuda-write

Attempt to fix compute matrix
  .github/workflows/publish.yaml
  numba_cuda/VERSION
Owners: @rapidsai/ci-codeowners, @rapidsai/numba-cuda-write

Attempt to fix compute matrix
  .github/workflows/publish.yaml
  numba_cuda/VERSION
Owners: @rapidsai/ci-codeowners, @rapidsai/numba-cuda-write

Add wheel step to publish workflow
  .github/workflows/publish.yaml
  .github/workflows/wheels-build.yaml
  numba_cuda/VERSION
Owners: @rapidsai/ci-codeowners, @rapidsai/numba-cuda-write

Add wheel step to publish workflow
  .github/workflows/publish.yaml
  .github/workflows/wheels-build.yaml
  numba_cuda/VERSION
Owners: @rapidsai/ci-codeowners, @rapidsai/numba-cuda-write

Add additional trustees to copy-pr-bot config
  .github/copy-pr-bot.yaml
Owners: @rapidsai/ci-codeowners

Fix PyPI token name
  .github/workflows/wheels-build.yaml
  numba_cuda/VERSION
Owners: @rapidsai/ci-codeowners, @rapidsai/numba-cuda-write

Fix PyPI token name
  .github/workflows/wheels-build.yaml
  numba_cuda/VERSION
Owners: @rapidsai/ci-codeowners, @rapidsai/numba-cuda-write

refactor
  numba_cuda/numba/cuda/cudadrv/driver.py
  numba_cuda/numba/cuda/cudadrv/linkable_code.py
  numba_cuda/numba/cuda/cudadrv/mappings.py
  numba_cuda/numba/cuda/device_init.py
Owners: @rapidsai/numba-cuda-write

Fix name of array used in pseudocode to explain how atomic.dec works
  numba_cuda/numba/cuda/stubs.py
Owners: @rapidsai/numba-cuda-write

Fix name of value used in pseudocode to explain how atomic.dec works
  numba_cuda/numba/cuda/stubs.py
Owners: @rapidsai/numba-cuda-write

Fix wheel dependency
  numba_cuda/VERSION
  pyproject.toml
Owners: @rapidsai/numba-cuda-write, @rapidsai/packaging-codeowners

Fix wheel dependency
  numba_cuda/VERSION
  pyproject.toml
Owners: @rapidsai/numba-cuda-write, @rapidsai/packaging-codeowners

Add flake8 pre-commit check and fix redirector violation
  .pre-commit-config.yaml
  site-packages/_numba_cuda_redirector.py
Owners: @rapidsai/ci-codeowners

Add flake8 pre-commit check and fix redirector violation
  .pre-commit-config.yaml
  site-packages/_numba_cuda_redirector.py
Owners: @rapidsai/ci-codeowners

Add docs build to CI
  .github/workflows/docs-build.yaml
  .github/workflows/pr.yaml
  ci/build_docs.sh
Owners: @rapidsai/ci-codeowners

Don't install Numba explicitly when testing
  ci/test_conda.sh
  ci/test_wheel.sh
Owners: @rapidsai/ci-codeowners

Docs build needs conda package
  .github/workflows/docs-build.yaml
  .github/workflows/pr.yaml
Owners: @rapidsai/ci-codeowners

Fix docs env name
  ci/build_docs.sh
Owners: @rapidsai/ci-codeowners

Use whole conda repo as conda artifact
  .github/workflows/conda-python-build.yaml
  .github/workflows/conda-python-tests.yaml
  .github/workflows/docs-build.yaml
  ci/build_docs.sh
  ci/test_conda.sh
Owners: @rapidsai/ci-codeowners

Correct path to conda repo to upload
  .github/workflows/conda-python-build.yaml
Owners: @rapidsai/ci-codeowners

Install numpydoc when building docs
  ci/build_docs.sh
Owners: @rapidsai/ci-codeowners

Correct path to docs to upload
  .github/workflows/docs-build.yaml
Owners: @rapidsai/ci-codeowners

Various CI improvements (#39)
  .github/workflows/conda-python-build.yaml
  .github/workflows/conda-python-tests.yaml
  .github/workflows/docs-build.yaml
  .github/workflows/pr.yaml
  ci/build_docs.sh
  ci/test_wheel.sh
Owners: @rapidsai/ci-codeowners

Fix name of array used in pseudocode to explain how atomic.dec works (#34)
  numba_cuda/numba/cuda/stubs.py
Owners: @rapidsai/numba-cuda-write

Test with a range of CUDA versions
  .github/actions/compute-matrix/action.yaml
  .github/workflows/conda-python-tests.yaml
  ci/test_conda.sh
Owners: @rapidsai/ci-codeowners

merge latest/resolve conflicts
  .flake8
  .github/actions/compute-matrix/action.yaml
  .github/workflows/build.yaml
  .github/workflows/conda-python-build.yaml
  .github/workflows/conda-python-tests.yaml
  .github/workflows/docs-build.yaml
  .github/workflows/pr.yaml
  .github/workflows/publish.yaml
  .github/workflows/wheels-build.yaml
  .github/workflows/wheels-test.yaml
  .pre-commit-config.yaml
  CMakeLists.txt
  ci/build_conda.sh
  ci/build_docs.sh
  ci/build_wheel.sh
  ci/test_wheel.sh
  ci/upload_conda.sh
  conda/recipes/numba-cuda/meta.yaml
  numba_cuda/VERSION
  numba_cuda/numba/cuda/api.py
  numba_cuda/numba/cuda/cudadrv/_extras.c
  numba_cuda/numba/cuda/cudadrv/devicearray.py
  numba_cuda/numba/cuda/cudadrv/driver.py
  numba_cuda/numba/cuda/cudadrv/drvapi.py
  numba_cuda/numba/cuda/cudadrv/dummyarray.py
  numba_cuda/numba/cuda/deviceufunc.py
  numba_cuda/numba/cuda/runtime/nrt.cu
  numba_cuda/numba/cuda/simulator/cudadrv/dummyarray.py
  numba_cuda/numba/cuda/target.py
  numba_cuda/numba/cuda/tests/cudapy/test_gufunc_scheduling.py
  numba_cuda/numba/cuda/tests/cudapy/test_ipc.py
  numba_cuda/numba/cuda/tests/nocuda/test_dummyarray.py
  numba_cuda/numba/cuda/vectorizers.py
  pyproject.toml
  setup.py
  site-packages/_numba_cuda_redirector.py
Owners: @rapidsai/ci-codeowners, @rapidsai/numba-cuda-write, @rapidsai/packaging-codeowners

style and other fixes
  numba_cuda/numba/cuda/cudadrv/driver.py
  numba_cuda/numba/cuda/cudadrv/linkable_code.py
Owners: @rapidsai/numba-cuda-write

make changes based on review
  numba_cuda/numba/cuda/compiler.py
  numba_cuda/numba/cuda/decorators.py
  numba_cuda/numba/cuda/simulator/api.py
  numba_cuda/numba/cuda/tests/cudapy/test_exception.py
Owners: @rapidsai/numba-cuda-write

Optimization and debuginfo flag fixes
  numba_cuda/numba/cuda/compiler.py
  numba_cuda/numba/cuda/decorators.py
  numba_cuda/numba/cuda/simulator/api.py
  numba_cuda/numba/cuda/tests/cudapy/test_compiler.py
  numba_cuda/numba/cuda/tests/cudapy/test_cuda_jit_no_types.py
  numba_cuda/numba/cuda/tests/cudapy/test_exception.py
  numba_cuda/numba/cuda/tests/cudapy/test_fastmath.py
  numba_cuda/numba/cuda/tests/cudapy/test_userexc.py
  numba_cuda/numba/cuda/tests/cudapy/test_warning.py
Owners: @rapidsai/numba-cuda-write

Atomics tests: Accept atom or red instructions regardless of CTK version
  numba_cuda/numba/cuda/tests/cudapy/test_atomics.py
Owners: @rapidsai/numba-cuda-write

Skip bad triple test on CTK >= 12.5
  numba_cuda/numba/cuda/tests/cudadrv/test_nvvm_driver.py
Owners: @rapidsai/numba-cuda-write

Customize matrix for wheels test - no 11.4.3 image
  .github/workflows/pr.yaml
  .github/workflows/wheels-test.yaml
Owners: @rapidsai/ci-codeowners

Test with a range of CUDA versions (#40)
  .github/actions/compute-matrix/action.yaml
  .github/workflows/conda-python-tests.yaml
  .github/workflows/pr.yaml
  .github/workflows/wheels-test.yaml
  ci/test_conda.sh
  numba_cuda/numba/cuda/tests/cudadrv/test_nvvm_driver.py
  numba_cuda/numba/cuda/tests/cudapy/test_atomics.py
Owners: @rapidsai/ci-codeowners, @rapidsai/numba-cuda-write

Fix up style issues
  numba_cuda/numba/cuda/stubs.py
  numba_cuda/numba/cuda/tests/cudapy/test_print.py
Owners: @rapidsai/numba-cuda-write

Add printing support for `Dim3`s. (#14)
  numba_cuda/numba/cuda/printimpl.py
  numba_cuda/numba/cuda/tests/cudapy/test_print.py
Owners: @rapidsai/numba-cuda-write

cleanup
  numba_cuda/numba/cuda/runtime/nrt.cu
  numba_cuda/numba/cuda/target.py
Owners: @rapidsai/numba-cuda-write

bifurcate error messages
  numba_cuda/numba/cuda/cudadrv/driver.py
Owners: @rapidsai/numba-cuda-write

Use upload-pages-artifact
  .github/workflows/docs-build.yaml
Owners: @rapidsai/ci-codeowners
