Repository NVIDIA/numba-cuda, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rapidsai/numba-cuda-write, @rapidsai/ci-codeowners, @rapidsai/packaging-codeowners

Apply formatter
  numba_cuda/numba/cuda/compiler.py
Owners: @rapidsai/numba-cuda-write

[NFC] Vendor in DIBuilder used by CUDADIBuilder
  numba_cuda/numba/cuda/debuginfo.py
Owners: @rapidsai/numba-cuda-write

Add tests
  numba_cuda/numba/cuda/tests/cudapy/test_array_return.py
Owners: @rapidsai/numba-cuda-write

Apply linting fixes
  numba_cuda/numba/cuda/debuginfo.py
Owners: @rapidsai/numba-cuda-write

Fix tests
  numba_cuda/numba/cuda/tests/cudapy/test_array_return.py
Owners: @rapidsai/numba-cuda-write

review: add parameter signature for inspect
  numba_cuda/numba/cuda/dispatcher.py
Owners: @rapidsai/numba-cuda-write

Add guidance on setting up pre-commit (#339)
  CONTRIBUTING.md
Owners: none

review: use assertIn builtin, and assert results
  numba_cuda/numba/cuda/tests/cudapy/test_inspect.py
Owners: @rapidsai/numba-cuda-write

review: use cusource
  numba_cuda/numba/cuda/tests/cudapy/test_inspect.py
Owners: @rapidsai/numba-cuda-write

review: assert call not in ltoasm
  numba_cuda/numba/cuda/tests/cudapy/test_inspect.py
Owners: @rapidsai/numba-cuda-write

[NFC] Vendor in DIBuilder used by CUDADIBuilder (#332)
  numba_cuda/numba/cuda/debuginfo.py
Owners: @rapidsai/numba-cuda-write

Allow Inspection of Link-Time Optimized PTX (#326)
  numba_cuda/numba/cuda/codegen.py
  numba_cuda/numba/cuda/dispatcher.py
  numba_cuda/numba/cuda/testing.py
  numba_cuda/numba/cuda/tests/cudapy/test_inspect.py
Owners: @rapidsai/numba-cuda-write

[NFC] Add dev dependencies to project config
  pyproject.toml
Owners: @rapidsai/packaging-codeowners

[Refactor][NFC] Vendor in numba.core.cgutils
  numba_cuda/numba/cuda/cgutils.py
  numba_cuda/numba/cuda/compiler.py
  numba_cuda/numba/cuda/core/callconv.py
  numba_cuda/numba/cuda/cudadrv/driver.py
  numba_cuda/numba/cuda/cudadrv/nvvm.py
  numba_cuda/numba/cuda/cudaimpl.py
  numba_cuda/numba/cuda/debuginfo.py
  numba_cuda/numba/cuda/extending.py
  numba_cuda/numba/cuda/intrinsics.py
  numba_cuda/numba/cuda/libdeviceimpl.py
  numba_cuda/numba/cuda/mathimpl.py
  numba_cuda/numba/cuda/nvvmutils.py
  numba_cuda/numba/cuda/printimpl.py
  numba_cuda/numba/cuda/target.py
  numba_cuda/numba/cuda/tests/cudapy/extensions_usecases.py
  numba_cuda/numba/cuda/tests/cudapy/test_extending.py
  numba_cuda/numba/cuda/vector_types.py
Owners: @rapidsai/numba-cuda-write

[Refactor][NFC] Vendor in numba.core.utils
  numba_cuda/numba/cuda/cgutils.py
  numba_cuda/numba/cuda/compiler.py
  numba_cuda/numba/cuda/dispatcher.py
  numba_cuda/numba/cuda/tests/nocuda/test_nvvm.py
  numba_cuda/numba/cuda/utils.py
Owners: @rapidsai/numba-cuda-write

[NFC] Add dev dependencies to project config (#341)
  pyproject.toml
Owners: @rapidsai/packaging-codeowners

[testing] Add filecheck test infrastructure
  numba_cuda/numba/cuda/testing.py
  numba_cuda/numba/cuda/tests/cudapy/test_inspect.py
  pyproject.toml
Owners: @rapidsai/numba-cuda-write, @rapidsai/packaging-codeowners

Fix type annotations
  numba_cuda/numba/cuda/testing.py
  numba_cuda/numba/cuda/tests/cudapy/test_inspect.py
Owners: @rapidsai/numba-cuda-write

Fix type annotation
  numba_cuda/numba/cuda/testing.py
Owners: @rapidsai/numba-cuda-write

Move filecheck utilities into a test case mixin
  numba_cuda/numba/cuda/testing.py
  numba_cuda/numba/cuda/tests/cudapy/test_inspect.py
  pyproject.toml
Owners: @rapidsai/numba-cuda-write, @rapidsai/packaging-codeowners

Add .vscode to gitignore
  .gitignore
Owners: none

some basic tests
  ci/test_cudf.sh
  numba_cuda/numba/cuda/tests/__init__.py
  numba_cuda/numba/cuda/tests/thirdparty/__init__.py
  numba_cuda/numba/cuda/tests/thirdparty/test_extension_types_thirdparty.py
Owners: @rapidsai/ci-codeowners, @rapidsai/numba-cuda-write

Add .vscode to gitignore (#344)
  .gitignore
Owners: none

FileCheck is available to CUDATestCase by default
  numba_cuda/numba/cuda/testing.py
  numba_cuda/numba/cuda/tests/cudapy/test_inspect.py
Owners: @rapidsai/numba-cuda-write

Rename test_ functions
  numba_cuda/numba/cuda/tests/cudapy/test_intrinsics.py
  numba_cuda/numba/cuda/tests/cudapy/test_operator.py
Owners: @rapidsai/numba-cuda-write

Add pytest config
  pyproject.toml
Owners: @rapidsai/packaging-codeowners

Switch ci scripts to use pytests
  ci/test_conda.sh
  ci/test_conda_ctypes_binding.sh
  ci/test_simulator.sh
  ci/test_wheel.sh
  ci/test_wheel_ctypes_binding.sh
  ci/test_wheel_deps_wheels.sh
Owners: @rapidsai/ci-codeowners

Update docs
  README.md
  docs/source/user/external-memory.rst
Owners: none

Remove numba.runtest dependency
  numba_cuda/numba/cuda/__init__.py
Owners: @rapidsai/numba-cuda-write

Fix missing dependency
  pyproject.toml
Owners: @rapidsai/packaging-codeowners

Install filecheck in conda CI scripts
  ci/test_conda.sh
  numba_cuda/numba/cuda/testing.py
  numba_cuda/numba/cuda/tests/cudapy/test_inspect.py
Owners: @rapidsai/ci-codeowners, @rapidsai/numba-cuda-write

Update numba_cuda/numba/cuda/testing.py
  numba_cuda/numba/cuda/testing.py
Owners: @rapidsai/numba-cuda-write

ci changes
  .github/workflows/pr.yaml
  ci/test_thirdparty.sh
Owners: @rapidsai/ci-codeowners

Use pytest as python module in CI
  ci/test_wheel.sh
  ci/test_wheel_ctypes_binding.sh
  ci/test_wheel_deps_wheels.sh
Owners: @rapidsai/ci-codeowners

Install filecheck in conda CI scripts
  ci/test_conda_ctypes_binding.sh
  ci/test_simulator.sh
Owners: @rapidsai/ci-codeowners

Use self.fail instead of assert
  numba_cuda/numba/cuda/testing.py
  numba_cuda/numba/cuda/tests/cudapy/test_inspect.py
Owners: @rapidsai/numba-cuda-write

Add CUDADispatcher dummy class for simulator
  numba_cuda/numba/cuda/simulator/cudadrv/dispatcher.py
  numba_cuda/numba/cuda/testing.py
Owners: @rapidsai/numba-cuda-write

Use dummy import for dispatcher
  numba_cuda/numba/cuda/simulator/__init__.py
  numba_cuda/numba/cuda/simulator/dispatcher.py
Owners: @rapidsai/numba-cuda-write

Migrate test infra to pytest (#347)
  README.md
  ci/test_conda.sh
  ci/test_conda_ctypes_binding.sh
  ci/test_simulator.sh
  ci/test_wheel.sh
  ci/test_wheel_ctypes_binding.sh
  ci/test_wheel_deps_wheels.sh
  docs/source/user/external-memory.rst
  numba_cuda/numba/cuda/__init__.py
  numba_cuda/numba/cuda/tests/cudapy/test_intrinsics.py
  numba_cuda/numba/cuda/tests/cudapy/test_operator.py
  pyproject.toml
Owners: @rapidsai/ci-codeowners, @rapidsai/numba-cuda-write, @rapidsai/packaging-codeowners

Support running tests in parallel
  ci/test_conda.sh
  ci/test_conda_ctypes_binding.sh
  ci/test_simulator.sh
  numba_cuda/numba/cuda/testing.py
  numba_cuda/numba/cuda/tests/cudadrv/test_runtime.py
  numba_cuda/numba/cuda/tests/cudapy/test_caching.py
  numba_cuda/numba/cuda/tests/cudapy/test_ufuncs.py
  numba_cuda/numba/cuda/tests/nocuda/test_library_lookup.py
  pyproject.toml
Owners: @rapidsai/ci-codeowners, @rapidsai/numba-cuda-write, @rapidsai/packaging-codeowners

.github/CODEOWNERS:

#python code owners
numba_cuda/            @rapidsai/numba-cuda-write

#cmake code owners
**/CMakeLists.txt  @rapidsai/numba-cuda-write
**/cmake/          @rapidsai/numba-cuda-write

#CI code owners
/.github/                @rapidsai/ci-codeowners
/ci/                     @rapidsai/ci-codeowners
/.pre-commit-config.yaml @rapidsai/ci-codeowners

#packaging code owners
/.devcontainer/    @rapidsai/packaging-codeowners
/conda/            @rapidsai/packaging-codeowners
/dependencies.yaml @rapidsai/packaging-codeowners
/build.sh          @rapidsai/packaging-codeowners
pyproject.toml     @rapidsai/packaging-codeowners
