Repository NVIDIA/numba-cuda, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rapidsai/numba-cuda-write, @rapidsai/ci-codeowners, @rapidsai/packaging-codeowners

.github/CODEOWNERS:

#python code owners
numba_cuda/            @rapidsai/numba-cuda-write

#cmake code owners
**/CMakeLists.txt  @rapidsai/numba-cuda-write
**/cmake/          @rapidsai/numba-cuda-write

#CI code owners
/.github/                @rapidsai/ci-codeowners
/ci/                     @rapidsai/ci-codeowners
/.pre-commit-config.yaml @rapidsai/ci-codeowners

#packaging code owners
/.devcontainer/    @rapidsai/packaging-codeowners
/conda/            @rapidsai/packaging-codeowners
/dependencies.yaml @rapidsai/packaging-codeowners
/build.sh          @rapidsai/packaging-codeowners
pyproject.toml     @rapidsai/packaging-codeowners

ExternalCodeLibrary does not have referenced_objects attribute
  numba_cuda/numba/cuda/codegen.py
Owners: @rapidsai/numba-cuda-write

Use elementwise comparison since lhs, rhs could be different types (list and tuple)
  numba_cuda/numba/cuda/codegen.py
  numba_cuda/numba/cuda/typing/typeof.py
Owners: @rapidsai/numba-cuda-write

don't use sccache when targeting .a
  testing/Makefile
Owners: none

test changes from PR 591
  numba_cuda/numba/cuda/codegen.py
  numba_cuda/numba/cuda/compiler.py
Owners: @rapidsai/numba-cuda-write

small fix
  numba_cuda/numba/cuda/codegen.py
Owners: @rapidsai/numba-cuda-write

xfail test_device_function_with_debug
  numba_cuda/numba/cuda/tests/cudapy/test_compiler.py
Owners: @rapidsai/numba-cuda-write

Fix Issue #588: separate compilation of NVVM IR modules when generating debuginfo (#591)
  numba_cuda/numba/cuda/codegen.py
  numba_cuda/numba/cuda/compiler.py
  numba_cuda/numba/cuda/tests/cudapy/test_compiler.py
Owners: @rapidsai/numba-cuda-write

Revert "test changes from PR 591"
  numba_cuda/numba/cuda/codegen.py
  numba_cuda/numba/cuda/compiler.py
Owners: @rapidsai/numba-cuda-write

Revert "small fix"
  numba_cuda/numba/cuda/codegen.py
Owners: @rapidsai/numba-cuda-write

Remove the dwarfAddressSpace attribute from DIDerivedType for shared memory pointers
  numba_cuda/numba/cuda/debuginfo.py
  numba_cuda/numba/cuda/tests/cudapy/test_debuginfo.py
Owners: @rapidsai/numba-cuda-write

Correctly raise PicklingError for kernels referencing global device arrays.
  numba_cuda/numba/cuda/codegen.py
  numba_cuda/numba/cuda/serialize.py
  numba_cuda/numba/cuda/tests/cudapy/test_device_array_capture.py
Owners: @rapidsai/numba-cuda-write

Remove extraneous comments.
  numba_cuda/numba/cuda/tests/cudapy/test_device_array_capture.py
Owners: @rapidsai/numba-cuda-write

Fix #624: Accept Numba IR nodes in all places Numba-CUDA IR nodes are expected (#643)
  numba_cuda/numba/cuda/core/analysis.py
  numba_cuda/numba/cuda/core/annotations/type_annotations.py
  numba_cuda/numba/cuda/core/consts.py
  numba_cuda/numba/cuda/core/inline_closurecall.py
  numba_cuda/numba/cuda/core/interpreter.py
  numba_cuda/numba/cuda/core/ir.py
  numba_cuda/numba/cuda/core/ir_utils.py
  numba_cuda/numba/cuda/core/postproc.py
  numba_cuda/numba/cuda/core/rewrites/ir_print.py
  numba_cuda/numba/cuda/core/rewrites/static_getitem.py
  numba_cuda/numba/cuda/core/rewrites/static_raise.py
  numba_cuda/numba/cuda/core/ssa.py
  numba_cuda/numba/cuda/core/transforms.py
  numba_cuda/numba/cuda/core/typed_passes.py
  numba_cuda/numba/cuda/core/typeinfer.py
  numba_cuda/numba/cuda/core/untyped_passes.py
  numba_cuda/numba/cuda/lowering.py
  numba_cuda/numba/cuda/tests/cudapy/test_numba_interop.py
  numba_cuda/numba/cuda/typing/context.py
Owners: @rapidsai/numba-cuda-write

Do not mention cache=False in PicklingError
  numba_cuda/numba/cuda/codegen.py
  numba_cuda/numba/cuda/serialize.py
Owners: @rapidsai/numba-cuda-write

Use real doctest examples for global arrays section
  docs/source/user/globals.rst
  numba_cuda/numba/cuda/tests/doc_examples/test_globals.py
Owners: @rapidsai/numba-cuda-write

Move caching tests to test_caching.py
  numba_cuda/numba/cuda/tests/cudapy/test_caching.py
  numba_cuda/numba/cuda/tests/cudapy/test_device_array_capture.py
Owners: @rapidsai/numba-cuda-write

Fix capture for 0-d arrays and add test
  numba_cuda/numba/cuda/np/numpy_support.py
  numba_cuda/numba/cuda/tests/cudapy/test_device_array_capture.py
Owners: @rapidsai/numba-cuda-write

skip cc>10, cuda12 atomics tests
  numba_cuda/numba/cuda/tests/cudapy/test_atomics.py
Owners: @rapidsai/numba-cuda-write

Bump version to 0.23.0
  numba_cuda/VERSION
Owners: @rapidsai/numba-cuda-write

reason
  numba_cuda/numba/cuda/tests/cudapy/test_atomics.py
Owners: @rapidsai/numba-cuda-write

10->12
  numba_cuda/numba/cuda/tests/cudapy/test_atomics.py
Owners: @rapidsai/numba-cuda-write

Capture global device arrays in kernels and device functions (#666)
  docs/source/user/globals.rst
  docs/source/user/index.rst
  numba_cuda/numba/cuda/codegen.py
  numba_cuda/numba/cuda/core/typeinfer.py
  numba_cuda/numba/cuda/np/arrayobj.py
  numba_cuda/numba/cuda/np/numpy_support.py
  numba_cuda/numba/cuda/serialize.py
  numba_cuda/numba/cuda/tests/cudapy/test_caching.py
  numba_cuda/numba/cuda/tests/cudapy/test_device_array_capture.py
  numba_cuda/numba/cuda/tests/doc_examples/test_globals.py
  numba_cuda/numba/cuda/typing/typeof.py
Owners: @rapidsai/numba-cuda-write

test skip
  numba_cuda/numba/cuda/tests/cudapy/test_atomics.py
Owners: @rapidsai/numba-cuda-write

fix skip condition
  numba_cuda/numba/cuda/tests/cudapy/test_atomics.py
Owners: @rapidsai/numba-cuda-write

complex atomic skips
  numba_cuda/numba/cuda/tests/cudapy/test_complex.py
Owners: @rapidsai/numba-cuda-write

Bump version to 0.23.0 (#668)
  numba_cuda/VERSION
Owners: @rapidsai/numba-cuda-write

DCE cleanup since customized address space tracking is no longer needed.
  numba_cuda/numba/cuda/debuginfo.py
  numba_cuda/numba/cuda/lowering.py
Owners: @rapidsai/numba-cuda-write

chore(dev-deps): remove ipython and pyinstrument
  pixi.lock
  pixi.toml
Owners: none

Removed unused import
  numba_cuda/numba/cuda/lowering.py
Owners: @rapidsai/numba-cuda-write

Revert "add 3.14 to CI matrix"
  .github/workflows/wheel-windows-build.yaml
  .github/workflows/wheel-windows-tests.yaml
  ci/matrix.yml
  pixi.toml
Owners: @rapidsai/ci-codeowners

Set up a new VM-based CI infrastructure (#604)
  .github/actions/fetch_ctk/action.yml
  .github/actions/get_pr_number/action.yml
  .github/actions/install_unix_deps/action.yml
  .github/workflows/build-wheel.yml
  .github/workflows/ci-new.yaml
  .github/workflows/test-wheel-linux.yml
  .github/workflows/test-wheel-windows.yml
  ci/test-matrix.json
  ci/tools/download-wheels
  ci/tools/env-vars
  ci/tools/install_gpu_driver.ps1
  ci/tools/lookup-run-id
  ci/tools/run-tests
  ci/versions.json
  numba_cuda/numba/cuda/__init__.py
  numba_cuda/numba/cuda/tests/cudadrv/test_nvjitlink.py
  numba_cuda/numba/cuda/tests/cudapy/test_atomics.py
  numba_cuda/numba/cuda/tests/cudapy/test_complex.py
  numba_cuda/numba/cuda/tests/cudapy/test_warp_ops.py
  pixi.lock
  pyproject.toml
  testing/Makefile
  testing/generate_raw_ltoir.py
  testing/pytest.ini
Owners: @rapidsai/ci-codeowners, @rapidsai/numba-cuda-write, @rapidsai/packaging-codeowners

add python 3.14 jobs
  .github/workflows/build-wheel.yml
  ci/test-matrix.json
Owners: @rapidsai/ci-codeowners

small fixes
  ci/test-matrix.json
  numba_cuda/numba/cuda/core/interpreter.py
Owners: @rapidsai/ci-codeowners, @rapidsai/numba-cuda-write

chore(dev-deps): remove ipython and pyinstrument (#670)
  pixi.lock
  pixi.toml
Owners: none

fix: validate parameters at decoration time and add test for signature
  numba_cuda/numba/cuda/decorators.py
  numba_cuda/numba/cuda/dispatcher.py
  numba_cuda/numba/cuda/tests/cudapy/test_dispatcher.py
Owners: @rapidsai/numba-cuda-write

nit
  numba_cuda/numba/cuda/cudadrv/driver.py
Owners: @rapidsai/numba-cuda-write

missed change
  numba_cuda/numba/cuda/core/byteflow.py
Owners: @rapidsai/numba-cuda-write

install rapidsai/sccache in CI
  .github/workflows/build-wheel.yml
Owners: @rapidsai/ci-codeowners

use sccache in fatbin and ltoir makefile targets
  testing/Makefile
Owners: none

print advanced sccache stats
  .github/workflows/build-wheel.yml
Owners: @rapidsai/ci-codeowners
