Repository NVIDIA/numba-cuda, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rapidsai/numba-cuda-write, @rapidsai/ci-codeowners, @rapidsai/packaging-codeowners

small fix
  numba_cuda/numba/cuda/tests/test_binary_generation/nrt_extern.cu
Owners: @rapidsai/numba-cuda-write

reorder test build steps
  ci/test_wheel_deps_wheels.sh
Owners: @rapidsai/ci-codeowners

add metadata attribute in rebuilt dispatcher
  numba_cuda/numba/cuda/dispatcher.py
Owners: @rapidsai/numba-cuda-write

Bump version to 0.9.0
  numba_cuda/VERSION
Owners: @rapidsai/numba-cuda-write

Bump version to 0.9.0
  numba_cuda/VERSION
Owners: @rapidsai/numba-cuda-write

WIP start
  numba_cuda/numba/cuda/cudadecl.py
  numba_cuda/numba/cuda/cudaimpl.py
  numba_cuda/numba/cuda/device_init.py
  numba_cuda/numba/cuda/intrinsic_wrapper.py
  numba_cuda/numba/cuda/intrinsics.py
  numba_cuda/numba/cuda/stubs.py
Owners: @rapidsai/numba-cuda-write

iosdfjsdi
  numba_cuda/numba/cuda/device_init.py
  numba_cuda/numba/cuda/intrinsics.py
Owners: @rapidsai/numba-cuda-write

cleanups, fix typing bug
  numba_cuda/numba/cuda/intrinsics.py
Owners: @rapidsai/numba-cuda-write

additional cleanup
  numba_cuda/numba/cuda/cudadecl.py
  numba_cuda/numba/cuda/cudaimpl.py
  numba_cuda/numba/cuda/device_init.py
Owners: @rapidsai/numba-cuda-write

add specific test on shfl_sync
  numba_cuda/numba/cuda/tests/cudapy/test_warp_ops.py
Owners: @rapidsai/numba-cuda-write

mor cleanups
  numba_cuda/numba/cuda/cudadecl.py
  numba_cuda/numba/cuda/intrinsic_wrapper.py
  numba_cuda/numba/cuda/stubs.py
Owners: @rapidsai/numba-cuda-write

add debug in for for tracking
  numba_cuda/numba/cuda/dispatcher.py
Owners: @rapidsai/numba-cuda-write

replace implicity lazy binding to non-local kernel var with explicit compile state obj
  numba_cuda/numba/cuda/dispatcher.py
Owners: @rapidsai/numba-cuda-write

Align shfl_sync intrinsic implementation with docs
  numba_cuda/numba/cuda/intrinsics.py
Owners: @rapidsai/numba-cuda-write

Use subTest to clearly identify failing shfl_sync types tests
  numba_cuda/numba/cuda/tests/cudapy/test_warp_ops.py
Owners: @rapidsai/numba-cuda-write

add subtest for test_shfl_sync_const_mode_val
  numba_cuda/numba/cuda/tests/cudapy/test_warp_ops.py
Owners: @rapidsai/numba-cuda-write

add cc=10,0 test
  numba_cuda/numba/cuda/tests/cudapy/test_warp_ops.py
Owners: @rapidsai/numba-cuda-write

clean up all debug prints
  numba_cuda/numba/cuda/dispatcher.py
Owners: @rapidsai/numba-cuda-write

print cleanups
  numba_cuda/numba/cuda/dispatcher.py
Owners: @rapidsai/numba-cuda-write

add device lock timer
  numba_cuda/numba/cuda/dispatcher.py
  numba_cuda/numba/cuda/tests/test_numba_events.py
Owners: @rapidsai/numba-cuda-write

removed the vended callbacks because they are unchanged with upstream
  numba_cuda/numba/cuda/dispatcher.py
Owners: @rapidsai/numba-cuda-write

clean ups
  numba_cuda/numba/cuda/dispatcher.py
Owners: @rapidsai/numba-cuda-write

add timing property test
  numba_cuda/numba/cuda/tests/test_numba_events.py
Owners: @rapidsai/numba-cuda-write

add metadata to cr unconditionally
  numba_cuda/numba/cuda/compiler.py
Owners: @rapidsai/numba-cuda-write

Add the shim objects to the active code library
  numba_cuda/numba/cuda/compiler.py
  numba_cuda/numba/cuda/cuda_bf16.py
  numba_cuda/numba/cuda/target.py
Owners: @rapidsai/numba-cuda-write

regenerate with active_linking_library call
  numba_cuda/numba/cuda/cuda_bf16.py
Owners: @rapidsai/numba-cuda-write

Workaround numba/numba#10047 - fix `IntEnumMember` conversion
  numba_cuda/numba/cuda/target.py
  numba_cuda/numba/cuda/tests/cudapy/test_enums.py
Owners: @rapidsai/numba-cuda-write

Fix ruff
  numba_cuda/numba/cuda/tests/cudapy/test_enums.py
Owners: @rapidsai/numba-cuda-write

return a none tuple if no libdevice path is found
  numba_cuda/numba/cuda/cuda_paths.py
Owners: @rapidsai/numba-cuda-write

return a none tuple if no libdevice path is found (#234)
  numba_cuda/numba/cuda/cuda_paths.py
Owners: @rapidsai/numba-cuda-write

Feature: cuda specific make_attribute_wrapper (#193)
  numba_cuda/numba/cuda/extending.py
  numba_cuda/numba/cuda/tests/cudapy/extensions_usecases.py
  numba_cuda/numba/cuda/tests/cudapy/test_extending.py
  numba_cuda/numba/cuda/vector_types.py
Owners: @rapidsai/numba-cuda-write

partially address reviews
  ci/test_wheel_deps_wheels.sh
  numba_cuda/numba/cuda/cudadrv/linkable_code.py
  numba_cuda/numba/cuda/tests/nrt/test_nrt.py
  numba_cuda/numba/cuda/tests/test_binary_generation/Makefile
  numba_cuda/numba/cuda/tests/test_binary_generation/generate_raw_ltoir.py
Owners: @rapidsai/ci-codeowners, @rapidsai/numba-cuda-write

go back to regex check
  numba_cuda/numba/cuda/dispatcher.py
  numba_cuda/numba/cuda/tests/nrt/test_nrt.py
Owners: @rapidsai/numba-cuda-write

Enable bfloat16 unconditionally
  numba_cuda/numba/cuda/tests/cudapy/test_bfloat16_bindings.py
Owners: @rapidsai/numba-cuda-write

fix ruff
  numba_cuda/numba/cuda/tests/cudapy/test_bfloat16_bindings.py
Owners: @rapidsai/numba-cuda-write

fix datamodel module name
  numba_cuda/numba/cuda/cuda_bf16.py
Owners: @rapidsai/numba-cuda-write

Add link for inlining.
  numba_cuda/numba/cuda/decorators.py
Owners: @rapidsai/numba-cuda-write

revert the headers back to 11, for bf16, use the first header discovered by nvrtc
  numba_cuda/numba/cuda/cuda_bf16.h
  numba_cuda/numba/cuda/cuda_bf16.hpp
  numba_cuda/numba/cuda/cuda_bf16.py
  numba_cuda/numba/cuda/cuda_fp16.h
  numba_cuda/numba/cuda/cuda_fp16.hpp
Owners: @rapidsai/numba-cuda-write

small fix
  numba_cuda/numba/cuda/dispatcher.py
Owners: @rapidsai/numba-cuda-write

explicitly override the vended headers
  numba_cuda/numba/cuda/cudadrv/nvrtc.py
  numba_cuda/numba/cuda/include/11/cuda_bf16.h
  numba_cuda/numba/cuda/include/11/cuda_bf16.hpp
  numba_cuda/numba/cuda/include/11/cuda_fp16.h
  numba_cuda/numba/cuda/include/11/cuda_fp16.hpp
  numba_cuda/numba/cuda/include/12/cuda_bf16.h
  numba_cuda/numba/cuda/include/12/cuda_bf16.hpp
  numba_cuda/numba/cuda/include/12/cuda_fp16.h
  numba_cuda/numba/cuda/include/12/cuda_fp16.hpp
Owners: @rapidsai/numba-cuda-write

.github/CODEOWNERS:

#python code owners
numba_cuda/            @rapidsai/numba-cuda-write

#cmake code owners
**/CMakeLists.txt  @rapidsai/numba-cuda-write
**/cmake/          @rapidsai/numba-cuda-write

#CI code owners
/.github/                @rapidsai/ci-codeowners
/ci/                     @rapidsai/ci-codeowners
/.pre-commit-config.yaml @rapidsai/ci-codeowners

#packaging code owners
/.devcontainer/    @rapidsai/packaging-codeowners
/conda/            @rapidsai/packaging-codeowners
/dependencies.yaml @rapidsai/packaging-codeowners
/build.sh          @rapidsai/packaging-codeowners
pyproject.toml     @rapidsai/packaging-codeowners
