Repository NVIDIA/numba-cuda, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rapidsai/numba-cuda-write, @rapidsai/ci-codeowners, @rapidsai/packaging-codeowners

.github/CODEOWNERS:

#python code owners
numba_cuda/            @rapidsai/numba-cuda-write

#cmake code owners
**/CMakeLists.txt  @rapidsai/numba-cuda-write
**/cmake/          @rapidsai/numba-cuda-write

#CI code owners
/.github/                @rapidsai/ci-codeowners
/ci/                     @rapidsai/ci-codeowners
/.pre-commit-config.yaml @rapidsai/ci-codeowners

#packaging code owners
/.devcontainer/    @rapidsai/packaging-codeowners
/conda/            @rapidsai/packaging-codeowners
/dependencies.yaml @rapidsai/packaging-codeowners
/build.sh          @rapidsai/packaging-codeowners
pyproject.toml     @rapidsai/packaging-codeowners

Regenerate float16 bindings (#436)
  configs/cuda_fp16.yml
  numba_cuda/numba/cuda/_internal/cuda_fp16.py
  numba_cuda/numba/cuda/fp16.py
Owners: @rapidsai/numba-cuda-write

revert tests to run on python 3.9
  numba_cuda/numba/cuda/tests/test_analysis.py
  numba_cuda/numba/cuda/tests/test_flow_control.py
Owners: @rapidsai/numba-cuda-write

Fix imports
  numba_cuda/numba/cuda/_internal/cuda_bf16.py
  numba_cuda/numba/cuda/_internal/cuda_fp16.py
  numba_cuda/numba/cuda/cpython/cmathimpl.py
  numba_cuda/numba/cuda/cpython/mathimpl.py
  numba_cuda/numba/cuda/cpython/numbers.py
  numba_cuda/numba/cuda/cudaimpl.py
  numba_cuda/numba/cuda/extending.py
  numba_cuda/numba/cuda/libdeviceimpl.py
  numba_cuda/numba/cuda/mathimpl.py
  numba_cuda/numba/cuda/np/npyfuncs.py
  numba_cuda/numba/cuda/printimpl.py
  numba_cuda/numba/cuda/vector_types.py
Owners: @rapidsai/numba-cuda-write

Hack C extensions into import mechanism
  numba_cuda/numba/cuda/cext/__init__.py
  numba_cuda/numba/cuda/cext/_devicearray.cpp
  numba_cuda/numba/cuda/cext/_devicearray.h
  numba_cuda/numba/cuda/cext/_dispatcher.cpp
  numba_cuda/numba/cuda/cudadrv/devicearray.py
  numba_cuda/numba/cuda/cudadrv/driver.py
  numba_cuda/numba/cuda/dispatcher.py
  setup.py
Owners: @rapidsai/numba-cuda-write

Fix redirector
  site-packages/_numba_cuda_redirector.py
Owners: none

Shorten CI runs for development
  ci/matrix.yml
  ci/test_conda.sh
Owners: @rapidsai/ci-codeowners

Debugging CI
  ci/test_conda.sh
  numba_cuda/numba/cuda/testing.py
Owners: @rapidsai/ci-codeowners, @rapidsai/numba-cuda-write

[Refactor][NFC] Vendor-in cpu_options for future CUDA-specific changes (#440)
  numba_cuda/numba/cuda/core/ir_utils.py
  numba_cuda/numba/cuda/core/options.py
  numba_cuda/numba/cuda/core/untyped_passes.py
  numba_cuda/numba/cuda/typing/templates.py
Owners: @rapidsai/numba-cuda-write

[Refactor][NFC] Vendor-in tracing module for future CUDA-specific changes (#441)
  numba_cuda/numba/cuda/core/compiler.py
  numba_cuda/numba/cuda/core/compiler_machinery.py
  numba_cuda/numba/cuda/core/tracing.py
  numba_cuda/numba/cuda/tests/test_tracing.py
Owners: @rapidsai/numba-cuda-write

[Refactor] Vendor in typing.npydecl, typing.BaseContext, typing.Context for CUDA-specific changes (#399)
  numba_cuda/numba/cuda/core/ir_utils.py
  numba_cuda/numba/cuda/cudadecl.py
  numba_cuda/numba/cuda/cudaimpl.py
  numba_cuda/numba/cuda/dispatcher.py
  numba_cuda/numba/cuda/np/npdatetime_helpers.py
  numba_cuda/numba/cuda/np/numpy_support.py
  numba_cuda/numba/cuda/target.py
  numba_cuda/numba/cuda/typing/__init__.py
  numba_cuda/numba/cuda/typing/context.py
  numba_cuda/numba/cuda/typing/npydecl.py
Owners: @rapidsai/numba-cuda-write

Vendor the inline-closure-call module (#443)
  numba_cuda/numba/cuda/compiler.py
  numba_cuda/numba/cuda/core/inline_closurecall.py
  numba_cuda/numba/cuda/core/ir_utils.py
  numba_cuda/numba/cuda/core/typed_passes.py
  numba_cuda/numba/cuda/core/untyped_passes.py
  numba_cuda/numba/cuda/typing/templates.py
Owners: @rapidsai/numba-cuda-write

Use vendored debuginfo and cgutils
  numba_cuda/numba/cuda/core/base.py
Owners: @rapidsai/numba-cuda-write

Fix the Array._allocate() implementation
  numba_cuda/numba/cuda/memory_management/arrayobj_extras.py
  numba_cuda/numba/cuda/memory_management/nrt.py
Owners: @rapidsai/numba-cuda-write

Fix other issues
  numba_cuda/numba/cuda/memory_management/arrayobj_extras.py
  numba_cuda/numba/cuda/memory_management/nrt.py
Owners: @rapidsai/numba-cuda-write

[Refactor][NFC] Vendor in testing support utils for CUDA-specific changes (#432)
  numba_cuda/numba/cuda/simulator/memory_management/nrt.py
  numba_cuda/numba/cuda/tests/__init__.py
  numba_cuda/numba/cuda/tests/cudapy/test_debuginfo.py
  numba_cuda/numba/cuda/tests/cudapy/test_ssa.py
  numba_cuda/numba/cuda/tests/cudapy/test_ufuncs.py
  numba_cuda/numba/cuda/tests/cudapy/test_vectorize_decor.py
  numba_cuda/numba/cuda/tests/support.py
Owners: @rapidsai/numba-cuda-write

Update inline_closurecall to use vendored rewrites
  numba_cuda/numba/cuda/core/inline_closurecall.py
Owners: @rapidsai/numba-cuda-write

Vendor in the pythonapi module (#446)
  numba_cuda/numba/cuda/core/pythonapi.py
  numba_cuda/numba/cuda/lowering.py
Owners: @rapidsai/numba-cuda-write

Vendor in the rewrites module (#438)
  numba_cuda/numba/cuda/core/inline_closurecall.py
  numba_cuda/numba/cuda/core/ir_utils.py
  numba_cuda/numba/cuda/core/rewrites/__init__.py
  numba_cuda/numba/cuda/core/rewrites/ir_print.py
  numba_cuda/numba/cuda/core/rewrites/registry.py
  numba_cuda/numba/cuda/core/rewrites/static_binop.py
  numba_cuda/numba/cuda/core/rewrites/static_getitem.py
  numba_cuda/numba/cuda/core/rewrites/static_raise.py
  numba_cuda/numba/cuda/core/typed_passes.py
  numba_cuda/numba/cuda/core/untyped_passes.py
Owners: @rapidsai/numba-cuda-write

[Cleanup] Remove residual parfor handling
  numba_cuda/numba/cuda/core/inline_closurecall.py
Owners: @rapidsai/numba-cuda-write

Update typeinfer.py
  numba_cuda/numba/cuda/core/typeinfer.py
Owners: @rapidsai/numba-cuda-write

don't run analysis pass tests in sim + remove phi tests that test return-related func
  numba_cuda/numba/cuda/core/controlflow.py
  numba_cuda/numba/cuda/core/ir_utils.py
  numba_cuda/numba/cuda/core/ssa.py
  numba_cuda/numba/cuda/simulator/compiler.py
  numba_cuda/numba/cuda/simulator/tests/support.py
  numba_cuda/numba/cuda/tests/test_analysis.py
  numba_cuda/numba/cuda/tests/test_flow_control.py
Owners: @rapidsai/numba-cuda-write

wip: updating imports, geting failures
  numba_cuda/numba/cuda/core/inline_closurecall.py
  numba_cuda/numba/cuda/tests/support.py
  numba_cuda/numba/cuda/tests/test_analysis.py
  numba_cuda/numba/cuda/tests/test_flow_control.py
Owners: @rapidsai/numba-cuda-write

[Cleanup] Fix dangling options imports
  numba_cuda/numba/cuda/compiler.py
  numba_cuda/numba/cuda/core/options.py
  numba_cuda/numba/cuda/descriptor.py
  numba_cuda/numba/cuda/flags.py
Owners: @rapidsai/numba-cuda-write

Apply suggestions from code review
  numba_cuda/numba/cuda/core/typeinfer.py
Owners: @rapidsai/numba-cuda-write

Use a better form of sequence unpacking
  numba_cuda/numba/cuda/memory_management/nrt.py
Owners: @rapidsai/numba-cuda-write

Use platform-dependent wheel path
  ci/test_wheel.sh
Owners: @rapidsai/ci-codeowners

wip: removed dangling imports, need to port tests to gpu maybwe
  numba_cuda/numba/cuda/tests/test_analysis.py
Owners: @rapidsai/numba-cuda-write

Build modules in cext
  setup.py
Owners: none

Don't use editable install in conda build
  conda/recipes/numba-cuda/meta.yaml
Owners: @rapidsai/packaging-codeowners

Use correct search path for C extensions
  numba_cuda/numba/cuda/cext/__init__.py
Owners: @rapidsai/numba-cuda-write

Optionally import numba.config, overwrite configsin numba.cuda.config if explicitly set in numba.config
  numba_cuda/numba/cuda/core/config.py
Owners: @rapidsai/numba-cuda-write

Remove debug prints
  ci/matrix.yml
  ci/test_conda.sh
Owners: @rapidsai/ci-codeowners

remove tests with pipeline_class usage, unsupported in numba-cuda
  numba_cuda/numba/cuda/tests/test_analysis.py
Owners: @rapidsai/numba-cuda-write

skip analysis tests again on cudasim
  numba_cuda/numba/cuda/tests/test_analysis.py
Owners: @rapidsai/numba-cuda-write

COrrect conda-repo location
  ci/test_conda.sh
Owners: @rapidsai/ci-codeowners

fix dangling ir_utils import
  numba_cuda/numba/cuda/tests/test_analysis.py
Owners: @rapidsai/numba-cuda-write

close rtsys when cuda.close is called
  numba_cuda/numba/cuda/api.py
  numba_cuda/numba/cuda/memory_management/nrt.py
Owners: @rapidsai/numba-cuda-write

clean
  numba_cuda/numba/cuda/api.py
Owners: @rapidsai/numba-cuda-write

re-add python 3.9 test fix
  numba_cuda/numba/cuda/tests/test_analysis.py
Owners: @rapidsai/numba-cuda-write

Fix _readenv
  numba_cuda/numba/cuda/core/config.py
Owners: @rapidsai/numba-cuda-write
