Repository NVIDIA/numba-cuda, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rapidsai/numba-cuda-write, @rapidsai/ci-codeowners, @rapidsai/packaging-codeowners

Use cpu4 nodes for all builds
  .github/workflows/conda-python-build.yaml
  .github/workflows/docs-build.yaml
  .github/workflows/wheels-build.yaml
Owners: @rapidsai/ci-codeowners

Deploy github pages
  .github/workflows/publish.yaml
Owners: @rapidsai/ci-codeowners

Bump version to 0.0.14
  numba_cuda/VERSION
Owners: @rapidsai/numba-cuda-write

Docs CI improvements (#41)
  .github/workflows/conda-python-build.yaml
  .github/workflows/docs-build.yaml
  .github/workflows/publish.yaml
  .github/workflows/wheels-build.yaml
  numba_cuda/VERSION
Owners: @rapidsai/ci-codeowners, @rapidsai/numba-cuda-write

partially address reviews
  numba_cuda/numba/cuda/cudadrv/driver.py
Owners: @rapidsai/numba-cuda-write

move add_file_guess_ext logic to Linker base class
  numba_cuda/numba/cuda/cudadrv/driver.py
  numba_cuda/numba/cuda/cudadrv/enums.py
  numba_cuda/numba/cuda/cudadrv/mappings.py
Owners: @rapidsai/numba-cuda-write

Add support for printing bools
  numba_cuda/numba/cuda/printimpl.py
  numba_cuda/numba/cuda/tests/cudapy/test_print.py
Owners: @rapidsai/numba-cuda-write

Add support for printing bools
  numba_cuda/numba/cuda/printimpl.py
  numba_cuda/numba/cuda/tests/cudapy/test_print.py
Owners: @rapidsai/numba-cuda-write

refactor __new__ logic
  numba_cuda/numba/cuda/cudadrv/driver.py
Owners: @rapidsai/numba-cuda-write

address reviews
  numba_cuda/numba/cuda/cudadrv/driver.py
Owners: @rapidsai/numba-cuda-write

don't modify reference count of incoming arrays
  numba_cuda/numba/cuda/dispatcher.py
  numba_cuda/numba/cuda/runtime/nrt.cu
Owners: @rapidsai/numba-cuda-write

adjust conditions for adding NRT to link
  numba_cuda/numba/cuda/dispatcher.py
Owners: @rapidsai/numba-cuda-write

refactor config logic
  numba_cuda/numba/cuda/cudadrv/driver.py
Owners: @rapidsai/numba-cuda-write

continue addressing reviews
  numba_cuda/numba/cuda/cudadrv/driver.py
  numba_cuda/numba/cuda/cudadrv/enums.py
Owners: @rapidsai/numba-cuda-write

rename errors
  numba_cuda/numba/cuda/cudadrv/driver.py
Owners: @rapidsai/numba-cuda-write

minor cleanup
  numba_cuda/numba/cuda/cudadrv/driver.py
Owners: @rapidsai/numba-cuda-write

Apply suggestions from code review
  numba_cuda/numba/cuda/cudadrv/driver.py
Owners: @rapidsai/numba-cuda-write

address reviews
  numba_cuda/numba/cuda/cudadrv/driver.py
Owners: @rapidsai/numba-cuda-write

bug fixes and map ltoir to CU_JIT_INPUT_NVVM
  numba_cuda/numba/cuda/cudadrv/driver.py
  numba_cuda/numba/cuda/cudadrv/mappings.py
Owners: @rapidsai/numba-cuda-write

copy from numba PR #8458
  numba_cuda/numba/cuda/dispatcher.py
  numba_cuda/numba/cuda/reshape_funcs.cu
  numba_cuda/numba/cuda/tests/cudapy/test_cuda_array_interface.py
Owners: @rapidsai/numba-cuda-write

initial porting of LTOIR related changes
  numba_cuda/numba/cuda/cudadrv/driver.py
  numba_cuda/numba/cuda/cudadrv/nvrtc.py
Owners: @rapidsai/numba-cuda-write

dump LTO-ed PTX if dump-assembly=1
  numba_cuda/numba/cuda/codegen.py
  numba_cuda/numba/cuda/cudadrv/driver.py
Owners: @rapidsai/numba-cuda-write

style
  numba_cuda/numba/cuda/codegen.py
  numba_cuda/numba/cuda/cudadrv/nvrtc.py
Owners: @rapidsai/numba-cuda-write

add cccl to testing dependencies
  ci/test_conda.sh
  ci/test_wheel.sh
Owners: @rapidsai/ci-codeowners

CU_JIT_INPUT_LTO_IR -> CU_JIT_INPUT_NVVM
  numba_cuda/numba/cuda/cudadrv/enums.py
  numba_cuda/numba/cuda/cudadrv/mappings.py
Owners: @rapidsai/numba-cuda-write

only use cuda if CUDA_USE_NVIDIA_BINDING
  numba_cuda/numba/cuda/cudadrv/mappings.py
Owners: @rapidsai/numba-cuda-write

fixes
  numba_cuda/numba/cuda/cudadrv/driver.py
Owners: @rapidsai/numba-cuda-write

Build and upload sdist
  .github/workflows/wheels-build.yaml
  ci/build_wheel.sh
  ci/test_wheel.sh
  numba_cuda/VERSION
Owners: @rapidsai/ci-codeowners, @rapidsai/numba-cuda-write

Build and upload sdist
  .github/workflows/wheels-build.yaml
  ci/build_wheel.sh
  ci/test_wheel.sh
  numba_cuda/VERSION
Owners: @rapidsai/ci-codeowners, @rapidsai/numba-cuda-write

remove redundant check for config assembly, and enable lto by default
  numba_cuda/numba/cuda/codegen.py
Owners: @rapidsai/numba-cuda-write

tests
  .gitignore
  numba_cuda/numba/cuda/codegen.py
  numba_cuda/numba/cuda/dispatcher.py
  numba_cuda/numba/cuda/target.py
  numba_cuda/numba/cuda/tests/cudadrv/test_linker.py
  numba_cuda/numba/cuda/tests/cudadrv/test_nvjitlink.py
  numba_cuda/numba/cuda/tests/test_binary_generation/Makefile
  numba_cuda/numba/cuda/tests/test_binary_generation/generate_raw_ltoir.py
  numba_cuda/numba/cuda/tests/test_binary_generation/test_device_functions.cu
  numba_cuda/numba/cuda/tests/test_binary_generation/undefined_extern.cu
Owners: @rapidsai/numba-cuda-write

fix bug
  numba_cuda/numba/cuda/cudadrv/driver.py
Owners: @rapidsai/numba-cuda-write

add a new ci job for testing with pynvjitlink
  .github/workflows/pr.yaml
  ci/test_conda.sh
  ci/test_wheel.sh
Owners: @rapidsai/ci-codeowners

fixes
  .github/workflows/pr.yaml
Owners: @rapidsai/ci-codeowners

more small fixes
  ci/test_conda.sh
  ci/test_wheel.sh
Owners: @rapidsai/ci-codeowners

Initial strart of implementation
  numba_cuda/numba/cuda/api_util.py
  numba_cuda/numba/cuda/cache_hints.py
  numba_cuda/numba/cuda/cudaimpl.py
  numba_cuda/numba/cuda/device_init.py
Owners: @rapidsai/numba-cuda-write

Add note on docs
  numba_cuda/numba/cuda/cache_hints.py
Owners: @rapidsai/numba-cuda-write

Start of tests
  numba_cuda/numba/cuda/tests/cudapy/test_cache_hints.py
Owners: @rapidsai/numba-cuda-write

update matrix filter
  .github/workflows/pr.yaml
Owners: @rapidsai/ci-codeowners

simple filter
  .github/workflows/pr.yaml
Owners: @rapidsai/ci-codeowners

.github/CODEOWNERS:

#python code owners
numba_cuda/            @rapidsai/numba-cuda-write

#cmake code owners
**/CMakeLists.txt  @rapidsai/numba-cuda-write
**/cmake/          @rapidsai/numba-cuda-write

#CI code owners
/.github/                @rapidsai/ci-codeowners
/ci/                     @rapidsai/ci-codeowners
/.pre-commit-config.yaml @rapidsai/ci-codeowners

#packaging code owners
/.devcontainer/    @rapidsai/packaging-codeowners
/conda/            @rapidsai/packaging-codeowners
/dependencies.yaml @rapidsai/packaging-codeowners
/build.sh          @rapidsai/packaging-codeowners
pyproject.toml     @rapidsai/packaging-codeowners
