Repository NVIDIA/numba-cuda, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rapidsai/numba-cuda-write, @rapidsai/ci-codeowners, @rapidsai/packaging-codeowners

.github/CODEOWNERS:

#python code owners
numba_cuda/            @rapidsai/numba-cuda-write

#cmake code owners
**/CMakeLists.txt  @rapidsai/numba-cuda-write
**/cmake/          @rapidsai/numba-cuda-write

#CI code owners
/.github/                @rapidsai/ci-codeowners
/ci/                     @rapidsai/ci-codeowners
/.pre-commit-config.yaml @rapidsai/ci-codeowners

#packaging code owners
/.devcontainer/    @rapidsai/packaging-codeowners
/conda/            @rapidsai/packaging-codeowners
/dependencies.yaml @rapidsai/packaging-codeowners
/build.sh          @rapidsai/packaging-codeowners
pyproject.toml     @rapidsai/packaging-codeowners

Generate fp16 bindings using numbast
  configs/cuda_fp16.yml
  numba_cuda/numba/cuda/_internal/cuda_fp16.py
  numba_cuda/numba/cuda/fp16.py
  pyproject.toml
Owners: @rapidsai/numba-cuda-write, @rapidsai/packaging-codeowners

Alias __half to numba.core.types.float16
  numba_cuda/numba/cuda/_internal/cuda_fp16.py
Owners: @rapidsai/numba-cuda-write

Add lower_casts to/from other numeric types
  numba_cuda/numba/cuda/_internal/cuda_fp16.py
Owners: @rapidsai/numba-cuda-write

Fix tests
  numba_cuda/numba/cuda/tests/cudapy/test_bfloat16_bindings.py
  numba_cuda/numba/cuda/tests/cudapy/test_casting.py
  numba_cuda/numba/cuda/tests/cudapy/test_intrinsics.py
  numba_cuda/numba/cuda/tests/cudapy/test_localmem.py
  numba_cuda/numba/cuda/tests/cudapy/test_math.py
  numba_cuda/numba/cuda/tests/cudapy/test_operator.py
  numba_cuda/numba/cuda/tests/cudapy/test_sm.py
  numba_cuda/numba/cuda/tests/nocuda/test_function_resolution.py
Owners: @rapidsai/numba-cuda-write

Remove existing fp16 logic
  numba_cuda/numba/cuda/cpp_function_wrappers.cu
  numba_cuda/numba/cuda/cudadecl.py
  numba_cuda/numba/cuda/cudaimpl.py
  numba_cuda/numba/cuda/device_init.py
  numba_cuda/numba/cuda/dispatcher.py
  numba_cuda/numba/cuda/mathimpl.py
  numba_cuda/numba/cuda/stubs.py
Owners: @rapidsai/numba-cuda-write

Build docs with NVIDIA Sphinx theme (#312)
  ci/build_docs.sh
  docs/source/conf.py
Owners: @rapidsai/ci-codeowners

Fix lineinfo generation when compile_internal used (#271) (#287)
  numba_cuda/numba/cuda/compiler.py
  numba_cuda/numba/cuda/flags.py
  numba_cuda/numba/cuda/target.py
  numba_cuda/numba/cuda/tests/cudapy/test_lineinfo.py
Owners: @rapidsai/numba-cuda-write

Alias __half to numba.core.types.float16
  numba_cuda/numba/cuda/_internal/cuda_fp16.py
Owners: @rapidsai/numba-cuda-write

Overload math functions
  numba_cuda/numba/cuda/fp16.py
Owners: @rapidsai/numba-cuda-write

Generate fp16 bindings using numbast
  configs/cuda_fp16.yml
  numba_cuda/numba/cuda/_internal/cuda_fp16.py
  numba_cuda/numba/cuda/fp16.py
  pyproject.toml
Owners: @rapidsai/numba-cuda-write, @rapidsai/packaging-codeowners

Install fp16 registries in CUDA typing/target ctx
  numba_cuda/numba/cuda/_internal/cuda_fp16.py
  numba_cuda/numba/cuda/fp16.py
  numba_cuda/numba/cuda/target.py
Owners: @rapidsai/numba-cuda-write

Implement operators
  numba_cuda/numba/cuda/_internal/cuda_fp16.py
Owners: @rapidsai/numba-cuda-write

Add lower_casts to/from other numeric types
  numba_cuda/numba/cuda/_internal/cuda_fp16.py
Owners: @rapidsai/numba-cuda-write

Remove existing fp16 logic
  numba_cuda/numba/cuda/cpp_function_wrappers.cu
  numba_cuda/numba/cuda/cudadecl.py
  numba_cuda/numba/cuda/cudaimpl.py
  numba_cuda/numba/cuda/device_init.py
  numba_cuda/numba/cuda/dispatcher.py
  numba_cuda/numba/cuda/mathimpl.py
  numba_cuda/numba/cuda/stubs.py
Owners: @rapidsai/numba-cuda-write

Fix tests
  numba_cuda/numba/cuda/tests/cudapy/test_casting.py
  numba_cuda/numba/cuda/tests/cudapy/test_intrinsics.py
  numba_cuda/numba/cuda/tests/cudapy/test_operator.py
Owners: @rapidsai/numba-cuda-write

Use NVRTC for supported CCs
  numba_cuda/numba/cuda/codegen.py
  numba_cuda/numba/cuda/compiler.py
  numba_cuda/numba/cuda/cudadrv/error.py
  numba_cuda/numba/cuda/cudadrv/nvrtc.py
  numba_cuda/numba/cuda/cudadrv/nvvm.py
  numba_cuda/numba/cuda/testing.py
  numba_cuda/numba/cuda/tests/__init__.py
  numba_cuda/numba/cuda/tests/cudadrv/__init__.py
  numba_cuda/numba/cuda/tests/cudadrv/test_nvrtc.py
  numba_cuda/numba/cuda/tests/cudadrv/test_nvvm_driver.py
  numba_cuda/numba/cuda/tests/cudapy/__init__.py
  numba_cuda/numba/cuda/tests/cudapy/test_compiler.py
  numba_cuda/numba/cuda/tests/nocuda/__init__.py
  numba_cuda/numba/cuda/tests/nrt/__init__.py
Owners: @rapidsai/numba-cuda-write

Use NVRTC to get runtime version
  numba_cuda/numba/cuda/cudadrv/libs.py
  numba_cuda/numba/cuda/cudadrv/nvrtc.py
  numba_cuda/numba/cuda/cudadrv/runtime.py
  numba_cuda/numba/cuda/tests/cudadrv/test_runtime.py
Owners: @rapidsai/numba-cuda-write

Update for new cccl search location
  numba_cuda/numba/cuda/cudadrv/nvrtc.py
Owners: @rapidsai/numba-cuda-write

Handle variants of cuCtxCreate()
  numba_cuda/numba/cuda/tests/cudadrv/test_context_stack.py
Owners: @rapidsai/numba-cuda-write

Delete docs on runtime binding
  docs/source/reference/host.rst
Owners: none

Default to at least compute capability 7.5
  numba_cuda/numba/cuda/__init__.py
Owners: @rapidsai/numba-cuda-write

Locate NVRTC DLL by searching possible paths
  numba_cuda/numba/cuda/cuda_paths.py
Owners: @rapidsai/numba-cuda-write

Updates for recent API changes (#313)
  docs/source/reference/host.rst
  numba_cuda/numba/cuda/__init__.py
  numba_cuda/numba/cuda/codegen.py
  numba_cuda/numba/cuda/compiler.py
  numba_cuda/numba/cuda/cuda_paths.py
  numba_cuda/numba/cuda/cudadrv/error.py
  numba_cuda/numba/cuda/cudadrv/libs.py
  numba_cuda/numba/cuda/cudadrv/nvrtc.py
  numba_cuda/numba/cuda/cudadrv/nvvm.py
  numba_cuda/numba/cuda/cudadrv/runtime.py
  numba_cuda/numba/cuda/testing.py
  numba_cuda/numba/cuda/tests/__init__.py
  numba_cuda/numba/cuda/tests/cudadrv/__init__.py
  numba_cuda/numba/cuda/tests/cudadrv/test_context_stack.py
  numba_cuda/numba/cuda/tests/cudadrv/test_nvrtc.py
  numba_cuda/numba/cuda/tests/cudadrv/test_nvvm_driver.py
  numba_cuda/numba/cuda/tests/cudadrv/test_runtime.py
  numba_cuda/numba/cuda/tests/cudapy/__init__.py
  numba_cuda/numba/cuda/tests/cudapy/test_compiler.py
  numba_cuda/numba/cuda/tests/nocuda/__init__.py
  numba_cuda/numba/cuda/tests/nrt/__init__.py
Owners: @rapidsai/numba-cuda-write

Fix nvrtc resolution when CUDA_HOME env is set
  numba_cuda/numba/cuda/cuda_paths.py
Owners: @rapidsai/numba-cuda-write

Bump version to 0.16.0
  numba_cuda/VERSION
Owners: @rapidsai/numba-cuda-write

Bump version to 0.16.0 (#315)
  numba_cuda/VERSION
Owners: @rapidsai/numba-cuda-write

Run pre-commit hooks
  numba_cuda/numba/cuda/cudadecl.py
  numba_cuda/numba/cuda/cudaimpl.py
  numba_cuda/numba/cuda/fp16.py
  numba_cuda/numba/cuda/mathimpl.py
Owners: @rapidsai/numba-cuda-write

Move `.value` access to finalizer
  numba_cuda/numba/cuda/cudadrv/driver.py
  numba_cuda/numba/cuda/memory_management/nrt.py
  numba_cuda/numba/cuda/tests/cudapy/test_stream_api.py
Owners: @rapidsai/numba-cuda-write

Use _cudalib_path for nvrtc
  numba_cuda/numba/cuda/cuda_paths.py
Owners: @rapidsai/numba-cuda-write

Fix nvrtc resolution when CUDA_HOME env is set (#314)
  numba_cuda/numba/cuda/cuda_paths.py
Owners: @rapidsai/numba-cuda-write

Fix bindings: consistency of contexts, streams, and events, similar to #295 (#296)
  numba_cuda/numba/cuda/cudadrv/devices.py
  numba_cuda/numba/cuda/cudadrv/driver.py
  numba_cuda/numba/cuda/dispatcher.py
  numba_cuda/numba/cuda/memory_management/nrt.py
  numba_cuda/numba/cuda/tests/cudadrv/test_context_stack.py
  numba_cuda/numba/cuda/tests/cudadrv/test_cuda_driver.py
  numba_cuda/numba/cuda/tests/cudapy/test_cuda_array_interface.py
  numba_cuda/numba/cuda/tests/cudapy/test_stream_api.py
Owners: @rapidsai/numba-cuda-write

Fix indexing GPUs with CUdevice object
  README.md
  numba_cuda/numba/cuda/cudadrv/devices.py
  numba_cuda/numba/cuda/tests/cudadrv/test_context_stack.py
Owners: @rapidsai/numba-cuda-write

Fix indexing GPUs with CUdevice object (#319)
  README.md
  numba_cuda/numba/cuda/cudadrv/devices.py
  numba_cuda/numba/cuda/tests/cudadrv/test_context_stack.py
Owners: @rapidsai/numba-cuda-write

Replace `operator X()` with `static_cast<X>`
  numba_cuda/numba/cuda/_internal/cuda_fp16.py
  numba_cuda/numba/cuda/tests/cudapy/test_intrinsics.py
Owners: @rapidsai/numba-cuda-write

Revert "Replace `operator X()` with `static_cast<X>`"
  numba_cuda/numba/cuda/_internal/cuda_fp16.py
  numba_cuda/numba/cuda/tests/cudapy/test_intrinsics.py
Owners: @rapidsai/numba-cuda-write

Add args and dispatcher to LaunchConfig.
  numba_cuda/numba/cuda/dispatcher.py
  numba_cuda/numba/cuda/launchconfig.py
Owners: @rapidsai/numba-cuda-write

Implement a thread-local means to access kernel launch config.
  numba_cuda/numba/cuda/dispatcher.py
  numba_cuda/numba/cuda/launchconfig.py
Owners: @rapidsai/numba-cuda-write

Add support for pre-kernel-launch callbacks to launch config.
  numba_cuda/numba/cuda/dispatcher.py
  numba_cuda/numba/cuda/launchconfig.py
Owners: @rapidsai/numba-cuda-write

Implement ensure_current_launch_config().
  numba_cuda/numba/cuda/launchconfig.py
Owners: @rapidsai/numba-cuda-write

Replace Numbast generated lower_casts
  numba_cuda/numba/cuda/_internal/cuda_fp16.py
Owners: @rapidsai/numba-cuda-write
