Repository NVIDIA/numba-cuda, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rapidsai/numba-cuda-write, @rapidsai/ci-codeowners, @rapidsai/packaging-codeowners

.github/CODEOWNERS:

#python code owners
numba_cuda/            @rapidsai/numba-cuda-write

#cmake code owners
**/CMakeLists.txt  @rapidsai/numba-cuda-write
**/cmake/          @rapidsai/numba-cuda-write

#CI code owners
/.github/                @rapidsai/ci-codeowners
/ci/                     @rapidsai/ci-codeowners
/.pre-commit-config.yaml @rapidsai/ci-codeowners

#packaging code owners
/.devcontainer/    @rapidsai/packaging-codeowners
/conda/            @rapidsai/packaging-codeowners
/dependencies.yaml @rapidsai/packaging-codeowners
/build.sh          @rapidsai/packaging-codeowners
pyproject.toml     @rapidsai/packaging-codeowners

test(refactor): clean up `run_in_subprocess` (#762)
  numba_cuda/numba/cuda/tests/cudapy/test_warning.py
  numba_cuda/numba/cuda/tests/nocuda/test_import.py
  numba_cuda/numba/cuda/tests/support.py
Owners: @rapidsai/numba-cuda-write

dont require cupy to find optional deps
  numba_cuda/numba/cuda/tests/cudapy/test_cuda_array_interface.py
  numba_cuda/numba/cuda/tests/cudapy/test_multithreads.py
Owners: @rapidsai/numba-cuda-write

Disable automatic review trigger for Greptile (#743)
  greptile.json
Owners: none

Enable apt proxy caching in workflows
  .github/workflows/build-wheel.yml
  .github/workflows/conda-python-tests.yaml
  .github/workflows/simulator-test.yaml
  .github/workflows/test-wheel-linux.yml
  .github/workflows/test-wheel-windows.yml
Owners: @rapidsai/ci-codeowners

Enable proxy cache on Windows
  .github/workflows/build-wheel.yml
Owners: @rapidsai/ci-codeowners

Skip proxy cache on hosted Windows builds
  .github/workflows/build-wheel.yml
Owners: @rapidsai/ci-codeowners

get()
  numba_cuda/numba/cuda/tests/cudapy/test_array_methods.py
  numba_cuda/numba/cuda/tests/cudapy/test_blackscholes.py
  numba_cuda/numba/cuda/tests/cudapy/test_cuda_jit_no_types.py
  numba_cuda/numba/cuda/tests/cudapy/test_idiv.py
  numba_cuda/numba/cuda/tests/cudapy/test_laplace.py
  numba_cuda/numba/cuda/tests/cudapy/test_matmul.py
  numba_cuda/numba/cuda/tests/cudapy/test_nondet.py
  numba_cuda/numba/cuda/tests/cudapy/test_sm.py
  numba_cuda/numba/cuda/tests/cudapy/test_ssa.py
Owners: @rapidsai/numba-cuda-write

fix further tests
  numba_cuda/numba/cuda/simulator/cudadrv/devicearray.py
  numba_cuda/numba/cuda/tests/benchmarks/test_kernel_launch.py
  numba_cuda/numba/cuda/tests/cudapy/test_sm.py
Owners: @rapidsai/numba-cuda-write

cupy skip if not available
  numba_cuda/numba/cuda/testing.py
  numba_cuda/numba/cuda/tests/cudadrv/test_context_stack.py
  numba_cuda/numba/cuda/tests/cudadrv/test_nvjitlink.py
  numba_cuda/numba/cuda/tests/cudadrv/test_profiler.py
  numba_cuda/numba/cuda/tests/cudapy/test_array_methods.py
  numba_cuda/numba/cuda/tests/cudapy/test_array_reductions.py
  numba_cuda/numba/cuda/tests/cudapy/test_bfloat16.py
  numba_cuda/numba/cuda/tests/cudapy/test_blackscholes.py
  numba_cuda/numba/cuda/tests/cudapy/test_caching.py
  numba_cuda/numba/cuda/tests/cudapy/test_cuda_array_interface.py
  numba_cuda/numba/cuda/tests/cudapy/test_cuda_jit_no_types.py
  numba_cuda/numba/cuda/tests/cudapy/test_datetime.py
  numba_cuda/numba/cuda/tests/cudapy/test_debuginfo.py
  numba_cuda/numba/cuda/tests/cudapy/test_device_array_capture.py
  numba_cuda/numba/cuda/tests/cudapy/test_device_func.py
  numba_cuda/numba/cuda/tests/cudapy/test_dispatcher.py
  numba_cuda/numba/cuda/tests/cudapy/test_gufunc.py
  numba_cuda/numba/cuda/tests/cudapy/test_gufunc_scalar.py
  numba_cuda/numba/cuda/tests/cudapy/test_idiv.py
  numba_cuda/numba/cuda/tests/cudapy/test_laplace.py
  numba_cuda/numba/cuda/tests/cudapy/test_matmul.py
  numba_cuda/numba/cuda/tests/cudapy/test_multigpu.py
  numba_cuda/numba/cuda/tests/cudapy/test_multithreads.py
  numba_cuda/numba/cuda/tests/cudapy/test_nondet.py
  numba_cuda/numba/cuda/tests/cudapy/test_reduction.py
  numba_cuda/numba/cuda/tests/cudapy/test_sm.py
  numba_cuda/numba/cuda/tests/cudapy/test_ssa.py
  numba_cuda/numba/cuda/tests/cudapy/test_vectorize.py
  numba_cuda/numba/cuda/tests/cudapy/test_vectorize_decor.py
  numba_cuda/numba/cuda/tests/cudapy/test_vectorize_scalar_arg.py
  numba_cuda/numba/cuda/tests/doc_examples/test_cpointer.py
  numba_cuda/numba/cuda/tests/doc_examples/test_globals.py
  numba_cuda/numba/cuda/tests/doc_examples/test_matmul.py
  numba_cuda/numba/cuda/tests/doc_examples/test_montecarlo.py
  numba_cuda/numba/cuda/tests/doc_examples/test_reduction.py
  numba_cuda/numba/cuda/tests/doc_examples/test_sessionize.py
  numba_cuda/numba/cuda/tests/nrt/test_nrt.py
Owners: @rapidsai/numba-cuda-write

CI
  ci/tools/run-tests
  pixi.toml
  pyproject.toml
Owners: @rapidsai/ci-codeowners, @rapidsai/packaging-codeowners

Enable apt proxy caching; skip hosted Windows builds (#766)
  .github/workflows/build-wheel.yml
  .github/workflows/conda-python-tests.yaml
  .github/workflows/simulator-test.yaml
  .github/workflows/test-wheel-linux.yml
  .github/workflows/test-wheel-windows.yml
Owners: @rapidsai/ci-codeowners

add oldest to ci
  .github/workflows/conda-python-tests.yaml
  .github/workflows/wheels-test.yaml
  ci/matrix.yml
  ci/test_conda.sh
Owners: @rapidsai/ci-codeowners

resolve environments
  pixi.lock
  pixi.toml
Owners: none

fix
  numba_cuda/numba/cuda/tests/cudapy/test_matmul.py
Owners: @rapidsai/numba-cuda-write

another fix
  numba_cuda/numba/cuda/tests/cudapy/test_matmul.py
Owners: @rapidsai/numba-cuda-write

correct device array
  numba_cuda/numba/cuda/tests/cudapy/test_matmul.py
Owners: @rapidsai/numba-cuda-write

change cupy import pattern
  numba_cuda/numba/cuda/tests/cudadrv/test_context_stack.py
  numba_cuda/numba/cuda/tests/cudadrv/test_events.py
  numba_cuda/numba/cuda/tests/cudadrv/test_nvjitlink.py
  numba_cuda/numba/cuda/tests/cudadrv/test_profiler.py
  numba_cuda/numba/cuda/tests/cudapy/test_array_methods.py
  numba_cuda/numba/cuda/tests/cudapy/test_array_reductions.py
  numba_cuda/numba/cuda/tests/cudapy/test_bfloat16.py
  numba_cuda/numba/cuda/tests/cudapy/test_blackscholes.py
  numba_cuda/numba/cuda/tests/cudapy/test_caching.py
  numba_cuda/numba/cuda/tests/cudapy/test_cuda_array_interface.py
  numba_cuda/numba/cuda/tests/cudapy/test_cuda_jit_no_types.py
  numba_cuda/numba/cuda/tests/cudapy/test_debuginfo.py
  numba_cuda/numba/cuda/tests/cudapy/test_device_array_capture.py
  numba_cuda/numba/cuda/tests/cudapy/test_device_func.py
  numba_cuda/numba/cuda/tests/cudapy/test_dispatcher.py
  numba_cuda/numba/cuda/tests/cudapy/test_gufunc.py
  numba_cuda/numba/cuda/tests/cudapy/test_gufunc_scalar.py
  numba_cuda/numba/cuda/tests/cudapy/test_idiv.py
  numba_cuda/numba/cuda/tests/cudapy/test_laplace.py
  numba_cuda/numba/cuda/tests/cudapy/test_matmul.py
  numba_cuda/numba/cuda/tests/cudapy/test_multigpu.py
  numba_cuda/numba/cuda/tests/cudapy/test_multithreads.py
  numba_cuda/numba/cuda/tests/cudapy/test_nondet.py
  numba_cuda/numba/cuda/tests/cudapy/test_reduction.py
  numba_cuda/numba/cuda/tests/cudapy/test_sm.py
  numba_cuda/numba/cuda/tests/cudapy/test_ssa.py
  numba_cuda/numba/cuda/tests/cudapy/test_vectorize.py
  numba_cuda/numba/cuda/tests/cudapy/test_vectorize_decor.py
  numba_cuda/numba/cuda/tests/cudapy/test_vectorize_scalar_arg.py
  numba_cuda/numba/cuda/tests/doc_examples/test_cpointer.py
  numba_cuda/numba/cuda/tests/doc_examples/test_cpu_gpu_compat.py
  numba_cuda/numba/cuda/tests/doc_examples/test_globals.py
  numba_cuda/numba/cuda/tests/doc_examples/test_laplace.py
  numba_cuda/numba/cuda/tests/doc_examples/test_matmul.py
  numba_cuda/numba/cuda/tests/doc_examples/test_montecarlo.py
  numba_cuda/numba/cuda/tests/doc_examples/test_random.py
  numba_cuda/numba/cuda/tests/doc_examples/test_reduction.py
  numba_cuda/numba/cuda/tests/doc_examples/test_sessionize.py
  numba_cuda/numba/cuda/tests/doc_examples/test_vecadd.py
  numba_cuda/numba/cuda/tests/nrt/test_nrt.py
Owners: @rapidsai/numba-cuda-write

fix several CI issues
  numba_cuda/numba/cuda/simulator/cudadrv/devicearray.py
  numba_cuda/numba/cuda/tests/cudapy/test_array_reductions.py
  testing/pytest.ini
Owners: @rapidsai/numba-cuda-write

tweak simulator warnings
  numba_cuda/numba/cuda/simulator/cudadrv/devicearray.py
  numba_cuda/numba/cuda/tests/benchmarks/test_kernel_launch.py
Owners: @rapidsai/numba-cuda-write

conditional cupy import
  numba_cuda/numba/cuda/tests/cudapy/test_matmul.py
  numba_cuda/numba/cuda/tests/doc_examples/test_cpu_gpu_compat.py
  numba_cuda/numba/cuda/tests/doc_examples/test_laplace.py
  numba_cuda/numba/cuda/tests/doc_examples/test_matmul.py
  numba_cuda/numba/cuda/tests/doc_examples/test_random.py
  numba_cuda/numba/cuda/tests/doc_examples/test_reduction.py
  numba_cuda/numba/cuda/tests/doc_examples/test_vecadd.py
Owners: @rapidsai/numba-cuda-write

more simulator fixups
  numba_cuda/numba/cuda/tests/benchmarks/test_kernel_launch.py
  numba_cuda/numba/cuda/tests/cudapy/test_blackscholes.py
  numba_cuda/numba/cuda/tests/cudapy/test_cuda_jit_no_types.py
  numba_cuda/numba/cuda/tests/cudapy/test_matmul.py
  numba_cuda/numba/cuda/tests/doc_examples/test_cpu_gpu_compat.py
  numba_cuda/numba/cuda/tests/doc_examples/test_laplace.py
  numba_cuda/numba/cuda/tests/doc_examples/test_matmul.py
Owners: @rapidsai/numba-cuda-write

few more test fixes
  numba_cuda/numba/cuda/tests/cudadrv/test_events.py
  numba_cuda/numba/cuda/tests/cudapy/test_idiv.py
Owners: @rapidsai/numba-cuda-write

fix stream behavior in sim
  numba_cuda/numba/cuda/tests/cudapy/test_blackscholes.py
  numba_cuda/numba/cuda/tests/cudapy/test_matmul.py
Owners: @rapidsai/numba-cuda-write

Update ci/test_conda.sh
  ci/test_conda.sh
Owners: @rapidsai/ci-codeowners

fix a few lingering test failures
  numba_cuda/numba/cuda/tests/cudadrv/test_cuda_ndarray.py
  numba_cuda/numba/cuda/tests/cudapy/test_cuda_jit_no_types.py
Owners: @rapidsai/numba-cuda-write

fix: cast if types don't match
  numba_cuda/numba/cuda/compiler.py
  numba_cuda/numba/cuda/target.py
Owners: @rapidsai/numba-cuda-write

feat: add test for bool comparison
  numba_cuda/numba/cuda/tests/cudapy/test_compiler.py
Owners: @rapidsai/numba-cuda-write

Add `cuda-core` to `oldest` tests (#769)
  .github/workflows/conda-python-tests.yaml
  .github/workflows/wheels-test.yaml
  ci/matrix.yml
  ci/test_conda.sh
Owners: @rapidsai/ci-codeowners

fix multithreaded tests in the simulator
  numba_cuda/numba/cuda/tests/cudadrv/test_cuda_ndarray.py
  numba_cuda/numba/cuda/tests/cudadrv/test_select_device.py
Owners: @rapidsai/numba-cuda-write

simulator doesn't need cupy
  .github/workflows/simulator-test.yaml
  pixi.toml
Owners: @rapidsai/ci-codeowners

old skips
  numba_cuda/numba/cuda/tests/cudadrv/test_cuda_ndarray.py
Owners: @rapidsai/numba-cuda-write

use pathfinder for headers
  numba_cuda/numba/cuda/cuda_paths.py
Owners: @rapidsai/numba-cuda-write

dont forget config entry
  numba_cuda/numba/cuda/cuda_paths.py
Owners: @rapidsai/numba-cuda-write

cccl headers
  numba_cuda/numba/cuda/cudadrv/nvrtc.py
Owners: @rapidsai/numba-cuda-write

Generate line info for PHI exporters in terminator block (#756)
  numba_cuda/numba/cuda/core/typed_passes.py
  numba_cuda/numba/cuda/tests/cudapy/test_debuginfo.py
Owners: @rapidsai/numba-cuda-write

ignore call_conv deprecation warning
  ci/test_thirdparty_awkward.sh
Owners: @rapidsai/ci-codeowners

Move `CallConv` from `CUDAContext` to `FunctionDescriptor` (#717)
  ci/test_thirdparty_awkward.sh
  numba_cuda/numba/cuda/cgutils.py
  numba_cuda/numba/cuda/compiler.py
  numba_cuda/numba/cuda/core/base.py
  numba_cuda/numba/cuda/core/callconv.py
  numba_cuda/numba/cuda/core/compiler.py
  numba_cuda/numba/cuda/core/funcdesc.py
  numba_cuda/numba/cuda/core/generators.py
  numba_cuda/numba/cuda/core/imputils.py
  numba_cuda/numba/cuda/core/optional.py
  numba_cuda/numba/cuda/core/pythonapi.py
  numba_cuda/numba/cuda/core/typed_passes.py
  numba_cuda/numba/cuda/cpython/builtins.py
  numba_cuda/numba/cuda/cpython/charseq.py
  numba_cuda/numba/cuda/cpython/iterators.py
  numba_cuda/numba/cuda/cpython/listobj.py
  numba_cuda/numba/cuda/cpython/numbers.py
  numba_cuda/numba/cuda/cpython/rangeobj.py
  numba_cuda/numba/cuda/cpython/slicing.py
  numba_cuda/numba/cuda/cpython/tupleobj.py
  numba_cuda/numba/cuda/decorators.py
  numba_cuda/numba/cuda/flags.py
  numba_cuda/numba/cuda/lowering.py
  numba_cuda/numba/cuda/memory_management/nrt_context.py
  numba_cuda/numba/cuda/misc/gdb_hook.py
  numba_cuda/numba/cuda/np/arrayobj.py
  numba_cuda/numba/cuda/np/math/numbers.py
  numba_cuda/numba/cuda/np/npyimpl.py
  numba_cuda/numba/cuda/np/polynomial/polynomial_core.py
  numba_cuda/numba/cuda/target.py
  numba_cuda/numba/cuda/tests/cudapy/test_compiler.py
  numba_cuda/numba/cuda/tests/cudapy/test_device_func.py
Owners: @rapidsai/ci-codeowners, @rapidsai/numba-cuda-write

remove dead code
  numba_cuda/numba/cuda/cudadrv/rtapi.py
Owners: @rapidsai/numba-cuda-write

remove enums
  numba_cuda/numba/cuda/cudadrv/driver.py
  numba_cuda/numba/cuda/cudadrv/enums.py
Owners: @rapidsai/numba-cuda-write

remove ctypes function wrapping
  numba_cuda/numba/cuda/cudadrv/driver.py
Owners: @rapidsai/numba-cuda-write
