Repository NVIDIA/numba-cuda, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rapidsai/numba-cuda-write, @rapidsai/ci-codeowners, @rapidsai/packaging-codeowners

.github/CODEOWNERS:

#python code owners
numba_cuda/            @rapidsai/numba-cuda-write

#cmake code owners
**/CMakeLists.txt  @rapidsai/numba-cuda-write
**/cmake/          @rapidsai/numba-cuda-write

#CI code owners
/.github/                @rapidsai/ci-codeowners
/ci/                     @rapidsai/ci-codeowners
/.pre-commit-config.yaml @rapidsai/ci-codeowners

#packaging code owners
/.devcontainer/    @rapidsai/packaging-codeowners
/conda/            @rapidsai/packaging-codeowners
/dependencies.yaml @rapidsai/packaging-codeowners
/build.sh          @rapidsai/packaging-codeowners
pyproject.toml     @rapidsai/packaging-codeowners

Another attempt to fix things
  .github/workflows/wheel-windows-build.yaml
  .github/workflows/wheel-windows-tests.yaml
Owners: @rapidsai/ci-codeowners

Another attempt at matrix fix
  .github/workflows/wheel-windows-build.yaml
  .github/workflows/wheel-windows-tests.yaml
Owners: @rapidsai/ci-codeowners

Revert to using configstack from numba. Add event handler APIs.
  numba_cuda/numba/cuda/core/compiler.py
  numba_cuda/numba/cuda/core/compiler_machinery.py
  numba_cuda/numba/cuda/core/event.py
  numba_cuda/numba/cuda/core/targetconfig.py
  numba_cuda/numba/cuda/descriptor.py
  numba_cuda/numba/cuda/lowering.py
  numba_cuda/numba/cuda/mathimpl.py
  numba_cuda/numba/cuda/nvvmutils.py
  numba_cuda/numba/cuda/target.py
  numba_cuda/numba/cuda/typing/templates.py
Owners: @rapidsai/numba-cuda-write

Vendor the annotations module
  numba_cuda/numba/cuda/core/annotations/__init__.py
  numba_cuda/numba/cuda/core/annotations/template.html
  numba_cuda/numba/cuda/core/annotations/type_annotations.py
  numba_cuda/numba/cuda/core/typed_passes.py
  numba_cuda/numba/cuda/tests/cudapy/test_copy_propagate.py
Owners: @rapidsai/numba-cuda-write

Remove unused function
  numba_cuda/numba/cuda/tests/cudapy/test_copy_propagate.py
Owners: @rapidsai/numba-cuda-write

[Refactor][NFC] Vendor in extending for future CUDA-specific changes
  numba_cuda/numba/cuda/_internal/cuda_bf16.py
  numba_cuda/numba/cuda/_internal/cuda_fp16.py
  numba_cuda/numba/cuda/bf16.py
  numba_cuda/numba/cuda/cg.py
  numba_cuda/numba/cuda/core/inline_closurecall.py
  numba_cuda/numba/cuda/core/ir_utils.py
  numba_cuda/numba/cuda/core/typed_passes.py
  numba_cuda/numba/cuda/cpython/cmathimpl.py
  numba_cuda/numba/cuda/cpython/mathimpl.py
  numba_cuda/numba/cuda/cpython/numbers.py
  numba_cuda/numba/cuda/extending.py
  numba_cuda/numba/cuda/fp16.py
  numba_cuda/numba/cuda/intrinsics.py
  numba_cuda/numba/cuda/models.py
  numba_cuda/numba/cuda/np/npyfuncs.py
  numba_cuda/numba/cuda/tests/cudapy/extensions_usecases.py
  numba_cuda/numba/cuda/tests/cudapy/test_extending.py
  numba_cuda/numba/cuda/tests/cudapy/test_overload.py
  numba_cuda/numba/cuda/tests/cudapy/test_ssa.py
  numba_cuda/numba/cuda/tests/support.py
  numba_cuda/numba/cuda/vector_types.py
Owners: @rapidsai/numba-cuda-write

Skip on simulator
  numba_cuda/numba/cuda/tests/cudapy/test_copy_propagate.py
Owners: @rapidsai/numba-cuda-write

Fix potential issue in yaml files
  .github/workflows/wheel-windows-build.yaml
  .github/workflows/wheel-windows-tests.yaml
Owners: @rapidsai/ci-codeowners

Experiment if issue is with matrix
  .github/workflows/wheel-windows-build.yaml
Owners: @rapidsai/ci-codeowners

Does this fix it?
  .github/workflows/wheel-windows-build.yaml
Owners: @rapidsai/ci-codeowners

Attempt to simplify Windows matrix setup
  .github/workflows/pr.yaml
  .github/workflows/wheel-windows-build.yaml
  .github/workflows/wheel-windows-tests.yaml
  ci/matrix.yml
Owners: @rapidsai/ci-codeowners

Remove accidental duplicate install of numba-cuda in docs build
  ci/build_docs.sh
Owners: @rapidsai/ci-codeowners

Remove some duplicate installation steps
  ci/test_conda.sh
  ci/test_conda_ctypes_binding.sh
  ci/test_simulator.sh
Owners: @rapidsai/ci-codeowners

Remove unnecessary NumPy version pins
  conda/recipes/numba-cuda/meta.yaml
Owners: @rapidsai/packaging-codeowners

Remove debugging code
  numba_cuda/numba/cuda/testing.py
Owners: @rapidsai/numba-cuda-write

Compatibility fixes for Numba 0.62 (#427)
  numba_cuda/numba/cuda/core/typed_passes.py
  numba_cuda/numba/cuda/memory_management/nrt.py
Owners: @rapidsai/numba-cuda-write

Vendor in the transforms module (#444)
  numba_cuda/numba/cuda/core/compiler_machinery.py
  numba_cuda/numba/cuda/core/postproc.py
  numba_cuda/numba/cuda/core/transforms.py
  numba_cuda/numba/cuda/core/untyped_passes.py
Owners: @rapidsai/numba-cuda-write

[Cleanups] Fix dangling imports, remove residual parfor handling (#458)
  numba_cuda/numba/cuda/compiler.py
  numba_cuda/numba/cuda/core/inline_closurecall.py
  numba_cuda/numba/cuda/core/ir_utils.py
  numba_cuda/numba/cuda/core/options.py
  numba_cuda/numba/cuda/descriptor.py
  numba_cuda/numba/cuda/flags.py
  numba_cuda/numba/cuda/simulator/compiler.py
  numba_cuda/numba/cuda/tests/cudapy/test_ir_utils.py
Owners: @rapidsai/numba-cuda-write

Update numba_cuda/numba/cuda/core/unsafe/refcount.py
  numba_cuda/numba/cuda/core/unsafe/refcount.py
Owners: @rapidsai/numba-cuda-write

[Refactor][NFC] Vendor-in numba.core.unsafe for future CUDA-specific changes (#460)
  numba_cuda/numba/cuda/core/interpreter.py
  numba_cuda/numba/cuda/core/unsafe/__init__.py
  numba_cuda/numba/cuda/core/unsafe/bytes.py
  numba_cuda/numba/cuda/core/unsafe/eh.py
  numba_cuda/numba/cuda/core/unsafe/refcount.py
  numba_cuda/numba/cuda/lowering.py
Owners: @rapidsai/numba-cuda-write

Close `rtsys` singleton when `cuda.close()` is called (#455)
  numba_cuda/numba/cuda/api.py
  numba_cuda/numba/cuda/memory_management/nrt.py
Owners: @rapidsai/numba-cuda-write

remove all experimental features cleanly
  numba_cuda/numba/cuda/experimental/__init__.py
  numba_cuda/numba/cuda/experimental/function_type.py
  numba_cuda/numba/cuda/experimental/structref.py
  numba_cuda/numba/cuda/lowering.py
  numba_cuda/numba/cuda/utils.py
Owners: @rapidsai/numba-cuda-write

Vendor in the CPU module for CUDA refactoring (#447)
  numba_cuda/numba/cuda/core/cpu.py
Owners: @rapidsai/numba-cuda-write

Vendor the datamodel modules
  numba_cuda/numba/cuda/core/datamodel/__init__.py
  numba_cuda/numba/cuda/core/datamodel/manager.py
  numba_cuda/numba/cuda/core/datamodel/models.py
  numba_cuda/numba/cuda/core/datamodel/packer.py
  numba_cuda/numba/cuda/core/datamodel/registry.py
  numba_cuda/numba/cuda/core/datamodel/testing.py
  numba_cuda/numba/cuda/tests/cudapy/test_datamodel.py
Owners: @rapidsai/numba-cuda-write

Update numba_cuda/numba/cuda/tests/cudapy/test_copy_propagate.py
  numba_cuda/numba/cuda/tests/cudapy/test_copy_propagate.py
Owners: @rapidsai/numba-cuda-write

Update numba_cuda/numba/cuda/tests/cudapy/test_copy_propagate.py
  numba_cuda/numba/cuda/tests/cudapy/test_copy_propagate.py
Owners: @rapidsai/numba-cuda-write

Update numba_cuda/numba/cuda/tests/cudapy/test_copy_propagate.py
  numba_cuda/numba/cuda/tests/cudapy/test_copy_propagate.py
Owners: @rapidsai/numba-cuda-write

Optionally import ConfigStack from numba.core.targetconfig in numba.cuda.core.targetconfig
  numba_cuda/numba/cuda/core/compiler.py
  numba_cuda/numba/cuda/core/compiler_machinery.py
  numba_cuda/numba/cuda/core/event.py
  numba_cuda/numba/cuda/core/targetconfig.py
  numba_cuda/numba/cuda/descriptor.py
  numba_cuda/numba/cuda/lowering.py
  numba_cuda/numba/cuda/mathimpl.py
  numba_cuda/numba/cuda/nvvmutils.py
  numba_cuda/numba/cuda/target.py
  numba_cuda/numba/cuda/typing/templates.py
Owners: @rapidsai/numba-cuda-write

Guard imports against simulator
  numba_cuda/numba/cuda/tests/cudapy/test_copy_propagate.py
Owners: @rapidsai/numba-cuda-write

Add event handler APIs, use numba-cuda: as reserved prefix for events
  numba_cuda/numba/cuda/core/compiler_machinery.py
  numba_cuda/numba/cuda/core/event.py
  numba_cuda/numba/cuda/descriptor.py
Owners: @rapidsai/numba-cuda-write

refactor cuda_paths.py, fix things around it
  numba_cuda/numba/cuda/cuda_paths.py
  numba_cuda/numba/cuda/cudadrv/nvvm.py
  numba_cuda/numba/cuda/misc/findlib.py
  numba_cuda/numba/cuda/testing.py
  numba_cuda/numba/cuda/tests/nocuda/test_library_lookup.py
Owners: @rapidsai/numba-cuda-write

Update imports
  numba_cuda/numba/cuda/_internal/cuda_bf16.py
  numba_cuda/numba/cuda/_internal/cuda_fp16.py
  numba_cuda/numba/cuda/cgutils.py
  numba_cuda/numba/cuda/core/datamodel/testing.py
  numba_cuda/numba/cuda/cudaimpl.py
  numba_cuda/numba/cuda/debuginfo.py
  numba_cuda/numba/cuda/extending.py
  numba_cuda/numba/cuda/models.py
  numba_cuda/numba/cuda/target.py
  numba_cuda/numba/cuda/tests/cudapy/test_datamodel.py
Owners: @rapidsai/numba-cuda-write

Add back old copyright, add cuda target for @overloads
  numba_cuda/numba/cuda/misc/appdirs.py
  numba_cuda/numba/cuda/misc/gdb_hook.py
  numba_cuda/numba/cuda/misc/literal.py
Owners: @rapidsai/numba-cuda-write

Remove references to numba.experimental features (mutable structref, jitclass, first-class function types) (#459)
  numba_cuda/numba/cuda/lowering.py
  numba_cuda/numba/cuda/tests/cudapy/test_ir_utils.py
  numba_cuda/numba/cuda/tests/nocuda/test_import.py
  numba_cuda/numba/cuda/utils.py
Owners: @rapidsai/numba-cuda-write

Vendor the annotations module for CUDA-specific refactoring (#463)
  numba_cuda/numba/cuda/core/annotations/__init__.py
  numba_cuda/numba/cuda/core/annotations/template.html
  numba_cuda/numba/cuda/core/annotations/type_annotations.py
  numba_cuda/numba/cuda/core/typed_passes.py
  numba_cuda/numba/cuda/tests/cudapy/test_copy_propagate.py
Owners: @rapidsai/numba-cuda-write

unpack tuple, return dir instead of path to static lib
  numba_cuda/numba/cuda/cuda_paths.py
Owners: @rapidsai/numba-cuda-write

fix nvrtc loading, fix CUDA 13 nvvm wheels on windows, add debug prints
  numba_cuda/numba/cuda/cuda_paths.py
  numba_cuda/numba/cuda/tests/nocuda/test_library_lookup.py
Owners: @rapidsai/numba-cuda-write

checkpointing
  numba_cuda/numba/cuda/compiler.py
  numba_cuda/numba/cuda/tests/cudapy/test_compiler.py
Owners: @rapidsai/numba-cuda-write

skip all cases where nvjitlink is not present
  numba_cuda/numba/cuda/tests/cudadrv/test_linker.py
Owners: @rapidsai/numba-cuda-write

ctypes linker stores cc value
  numba_cuda/numba/cuda/cudadrv/driver.py
Owners: @rapidsai/numba-cuda-write
