Repository NVIDIA/numba-cuda, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rapidsai/numba-cuda-write, @rapidsai/ci-codeowners, @rapidsai/packaging-codeowners

.github/CODEOWNERS:

#python code owners
numba_cuda/            @rapidsai/numba-cuda-write

#cmake code owners
**/CMakeLists.txt  @rapidsai/numba-cuda-write
**/cmake/          @rapidsai/numba-cuda-write

#CI code owners
/.github/                @rapidsai/ci-codeowners
/ci/                     @rapidsai/ci-codeowners
/.pre-commit-config.yaml @rapidsai/ci-codeowners

#packaging code owners
/.devcontainer/    @rapidsai/packaging-codeowners
/conda/            @rapidsai/packaging-codeowners
/dependencies.yaml @rapidsai/packaging-codeowners
/build.sh          @rapidsai/packaging-codeowners
pyproject.toml     @rapidsai/packaging-codeowners

feat: add support for StridedMemoryView as inputs
  numba_cuda/numba/cuda/cudadrv/devicearray.py
  numba_cuda/numba/cuda/tests/cudadrv/test_cuda_ndarray.py
  numba_cuda/numba/cuda/typing/typeof.py
Owners: @rapidsai/numba-cuda-write

chore: ensure that contiguity is captured correctly
  numba_cuda/numba/cuda/typing/typeof.py
Owners: @rapidsai/numba-cuda-write

chore: make exception message more precise
  numba_cuda/numba/cuda/typing/typeof.py
Owners: @rapidsai/numba-cuda-write

Refine test, should be fail before fix and pass after fix.
  numba_cuda/numba/cuda/tests/cudapy/test_debuginfo.py
Owners: @rapidsai/numba-cuda-write

numpy under cudasim, else cupy
  numba_cuda/numba/cuda/tests/cudadrv/test_context_stack.py
  numba_cuda/numba/cuda/tests/cudadrv/test_events.py
  numba_cuda/numba/cuda/tests/cudapy/test_array_methods.py
  numba_cuda/numba/cuda/tests/cudapy/test_bfloat16.py
  numba_cuda/numba/cuda/tests/cudapy/test_blackscholes.py
  numba_cuda/numba/cuda/tests/cudapy/test_caching.py
  numba_cuda/numba/cuda/tests/cudapy/test_cuda_jit_no_types.py
  numba_cuda/numba/cuda/tests/cudapy/test_device_func.py
  numba_cuda/numba/cuda/tests/cudapy/test_dispatcher.py
  numba_cuda/numba/cuda/tests/cudapy/test_idiv.py
  numba_cuda/numba/cuda/tests/cudapy/test_laplace.py
  numba_cuda/numba/cuda/tests/cudapy/test_matmul.py
  numba_cuda/numba/cuda/tests/cudapy/test_multigpu.py
  numba_cuda/numba/cuda/tests/cudapy/test_nondet.py
  numba_cuda/numba/cuda/tests/cudapy/test_reduction.py
  numba_cuda/numba/cuda/tests/cudapy/test_sm.py
  numba_cuda/numba/cuda/tests/cudapy/test_ssa.py
  numba_cuda/numba/cuda/tests/cudapy/test_vectorize_decor.py
  numba_cuda/numba/cuda/tests/doc_examples/test_matmul.py
  numba_cuda/numba/cuda/tests/doc_examples/test_random.py
  numba_cuda/numba/cuda/tests/nrt/test_nrt.py
Owners: @rapidsai/numba-cuda-write

chore: relock pixi
  pixi.lock
Owners: none

ci: bump pixi version
  .github/workflows/conda-python-tests.yaml
  .github/workflows/docs-build.yaml
  .github/workflows/simulator-test.yaml
Owners: @rapidsai/ci-codeowners

Fix some minor typos
  docs/source/user/debugging.rst
  examples/debugging/hello.py
Owners: none

perf(bench): benchmark single calls so that we can track our goal more easily
  numba_cuda/numba/cuda/tests/benchmarks/test_kernel_launch.py
Owners: @rapidsai/numba-cuda-write

Apply suggestions from code review
  numba_cuda/numba/cuda/tests/cudadrv/test_events.py
Owners: @rapidsai/numba-cuda-write

Eliminate duplicate DWARF entries for boolean kernel parameters (#749)
  numba_cuda/numba/cuda/lowering.py
  numba_cuda/numba/cuda/tests/cudapy/test_debuginfo.py
Owners: @rapidsai/numba-cuda-write

feat: accept `cuda.core.Buffer` and `cuda.core.utils.StridedMemoryView` as kernel inputs (#751)
  numba_cuda/numba/cuda/cudadrv/devicearray.py
  numba_cuda/numba/cuda/tests/cudadrv/test_cuda_ndarray.py
  numba_cuda/numba/cuda/typing/typeof.py
Owners: @rapidsai/numba-cuda-write

Replace legacy wheels-build.yaml with build-wheel.yml in publish workflow
  .github/workflows/publish.yaml
Owners: @rapidsai/ci-codeowners

Extract build-sdist job into separate reusable workflow
  .github/workflows/build-sdist.yml
  .github/workflows/publish.yaml
Owners: @rapidsai/ci-codeowners

Enable testing publish workflow on PR branches with TestPyPI
  .github/workflows/publish.yaml
Owners: @rapidsai/ci-codeowners

Remove legacy wheel build workflows
  .github/workflows/wheel-windows-build.yaml
  .github/workflows/wheels-build.yaml
Owners: @rapidsai/ci-codeowners

Simplify deploy-docs guard to 'if: false' for testing
  .github/workflows/publish.yaml
Owners: @rapidsai/ci-codeowners

Prepare publish workflow for merge
  .github/workflows/build-sdist.yml
  .github/workflows/publish.yaml
Owners: @rapidsai/ci-codeowners

Extend no-ci skip logic to additional CI jobs [no-ci]
  .github/workflows/ci-new.yaml
Owners: @rapidsai/ci-codeowners

Replace legacy wheels-build.yaml with build-wheel.yml in publish workflow [no-ci] (#760)
  .github/workflows/publish.yaml
  .github/workflows/wheel-windows-build.yaml
  .github/workflows/wheels-build.yaml
Owners: @rapidsai/ci-codeowners

Extend no-ci skip logic to additional CI jobs [no-ci]
  .github/workflows/ci-new.yaml
Owners: @rapidsai/ci-codeowners

Remove dead code from CI workflows and scripts
  .github/actions/get_pr_number/action.yml
  .github/workflows/build-wheel.yml
  .github/workflows/ci-new.yaml
  .github/workflows/conda-python-tests.yaml
  .github/workflows/test-wheel-linux.yml
  .github/workflows/test-wheel-windows.yml
  .github/workflows/wheels-test.yaml
  ci/build_docs.sh
  ci/check_style.sh
  ci/tools/download-wheels
  ci/tools/env-vars
  ci/tools/lookup-run-id
  ci/upload_conda.sh
Owners: @rapidsai/ci-codeowners

test(refactor): clean up `run_in_subprocess`
  numba_cuda/numba/cuda/tests/cudapy/test_warning.py
  numba_cuda/numba/cuda/tests/nocuda/test_import.py
  numba_cuda/numba/cuda/tests/support.py
Owners: @rapidsai/numba-cuda-write

refactor: simplify super() calls
  numba_cuda/numba/cuda/cgutils.py
  numba_cuda/numba/cuda/core/cuda_errors.py
  numba_cuda/numba/cuda/core/funcdesc.py
  numba_cuda/numba/cuda/core/inline_closurecall.py
  numba_cuda/numba/cuda/core/registry.py
  numba_cuda/numba/cuda/core/typeinfer.py
  numba_cuda/numba/cuda/cpython/unicode.py
  numba_cuda/numba/cuda/cudadrv/devicearray.py
  numba_cuda/numba/cuda/cudadrv/driver.py
  numba_cuda/numba/cuda/datamodel/cuda_models.py
  numba_cuda/numba/cuda/dispatcher.py
  numba_cuda/numba/cuda/errors.py
  numba_cuda/numba/cuda/lowering.py
  numba_cuda/numba/cuda/models.py
  numba_cuda/numba/cuda/np/arrayobj.py
  numba_cuda/numba/cuda/np/npyimpl.py
  numba_cuda/numba/cuda/np/polynomial/polynomial_core.py
  numba_cuda/numba/cuda/simulator/cudadrv/devicearray.py
  numba_cuda/numba/cuda/simulator/kernel.py
  numba_cuda/numba/cuda/target.py
  numba_cuda/numba/cuda/tests/cudadrv/test_cuda_memory.py
  numba_cuda/numba/cuda/tests/cudapy/test_array_methods.py
  numba_cuda/numba/cuda/tests/cudapy/test_array_reductions.py
  numba_cuda/numba/cuda/tests/cudapy/test_extending_types.py
  numba_cuda/numba/cuda/tests/cudapy/test_tracing.py
  numba_cuda/numba/cuda/tests/nrt/test_nrt_refct.py
  numba_cuda/numba/cuda/tests/support.py
  numba_cuda/numba/cuda/types/cuda_abstract.py
  numba_cuda/numba/cuda/types/cuda_common.py
  numba_cuda/numba/cuda/types/cuda_containers.py
  numba_cuda/numba/cuda/types/cuda_function_type.py
  numba_cuda/numba/cuda/types/cuda_functions.py
  numba_cuda/numba/cuda/types/cuda_iterators.py
  numba_cuda/numba/cuda/types/cuda_misc.py
  numba_cuda/numba/cuda/types/cuda_npytypes.py
  numba_cuda/numba/cuda/types/cuda_scalars.py
  numba_cuda/numba/cuda/typing/builtins.py
  numba_cuda/numba/cuda/typing/npydecl.py
  numba_cuda/numba/cuda/typing/templates.py
  numba_cuda/numba/cuda/utils.py
Owners: @rapidsai/numba-cuda-write

MatMul test: Move from unittest to fully pytest (#754)
  numba_cuda/numba/cuda/tests/cudapy/test_matmul.py
  numba_cuda/numba/cuda/tests/doc_examples/test_matmul.py
  testing/pytest.ini
Owners: @rapidsai/numba-cuda-write

Add GitHub Release upload for wheels
  .github/workflows/publish.yaml
Owners: @rapidsai/ci-codeowners

ci: move benchmarks to single function calls so that the units and results are easier to interpret (#759)
  numba_cuda/numba/cuda/tests/benchmarks/test_kernel_launch.py
Owners: @rapidsai/numba-cuda-write

CI cleanup, extend no-ci skip logic, and add GitHub Release uploads (#761)
  .github/actions/get_pr_number/action.yml
  .github/workflows/build-wheel.yml
  .github/workflows/ci-new.yaml
  .github/workflows/conda-python-tests.yaml
  .github/workflows/publish.yaml
  .github/workflows/test-wheel-linux.yml
  .github/workflows/test-wheel-windows.yml
  .github/workflows/wheels-test.yaml
  ci/build_docs.sh
  ci/check_style.sh
  ci/tools/download-wheels
  ci/tools/env-vars
  ci/tools/lookup-run-id
  ci/upload_conda.sh
Owners: @rapidsai/ci-codeowners

chore: refactor for bot
  numba_cuda/numba/cuda/tests/support.py
Owners: @rapidsai/numba-cuda-write

remove unnecessary assertion, clarify failure modes.
  numba_cuda/numba/cuda/tests/cudadrv/test_events.py
Owners: @rapidsai/numba-cuda-write

Bump version to 0.26.0
  numba_cuda/VERSION
  pixi.toml
Owners: @rapidsai/numba-cuda-write

bump pixi version and relock (#757)
  .github/workflows/conda-python-tests.yaml
  .github/workflows/docs-build.yaml
  .github/workflows/simulator-test.yaml
  pixi.lock
Owners: @rapidsai/ci-codeowners

Bump version to 0.26.0 (#764)
  numba_cuda/VERSION
  pixi.toml
Owners: @rapidsai/numba-cuda-write

test: move pytest config to repo root
  conftest.py
  pytest.ini
Owners: none

ci: run pytest from repo root
  ci/coverage_report.sh
  ci/test_wheel_deps_wheels.sh
  ci/tools/run-tests
  pixi.toml
Owners: @rapidsai/ci-codeowners

docs: update test instructions for root pytest
  README.md
Owners: none

ci: bring back pyargs for certain cases
  ci/coverage_report.sh
  ci/test_wheel_deps_wheels.sh
  ci/tools/run-tests
Owners: @rapidsai/ci-codeowners

chore: remove testpaths config
  pytest.ini
Owners: none

chore: ignore current directory when testing installation
  ci/coverage_report.sh
  ci/test_wheel_deps_wheels.sh
  ci/tools/run-tests
Owners: @rapidsai/ci-codeowners

chore: fix errcode access
  numba_cuda/numba/cuda/tests/support.py
Owners: @rapidsai/numba-cuda-write
