Repository NVIDIA/numba-cuda, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rapidsai/numba-cuda-write, @rapidsai/ci-codeowners, @rapidsai/packaging-codeowners

.github/CODEOWNERS:

#python code owners
numba_cuda/            @rapidsai/numba-cuda-write

#cmake code owners
**/CMakeLists.txt  @rapidsai/numba-cuda-write
**/cmake/          @rapidsai/numba-cuda-write

#CI code owners
/.github/                @rapidsai/ci-codeowners
/ci/                     @rapidsai/ci-codeowners
/.pre-commit-config.yaml @rapidsai/ci-codeowners

#packaging code owners
/.devcontainer/    @rapidsai/packaging-codeowners
/conda/            @rapidsai/packaging-codeowners
/dependencies.yaml @rapidsai/packaging-codeowners
/build.sh          @rapidsai/packaging-codeowners
pyproject.toml     @rapidsai/packaging-codeowners

Fix circular import issue for extending._Intrinsic
  numba_cuda/numba/cuda/core/ir_utils.py
Owners: @rapidsai/numba-cuda-write

Remove commented-out line
  numba_cuda/numba/cuda/tests/cudapy/test_ir_utils.py
Owners: @rapidsai/numba-cuda-write

fix dangling import to cpython modules
  numba_cuda/numba/cuda/cpython/listobj.py
  numba_cuda/numba/cuda/cpython/unicode_support.py
Owners: @rapidsai/numba-cuda-write

add hashing
  numba_cuda/numba/cuda/cpython/unicode.py
  numba_cuda/numba/cuda/target.py
Owners: @rapidsai/numba-cuda-write

skipping tests that requires pregenerated binaries
  numba_cuda/numba/cuda/tests/cudadrv/test_linkable_code.py
  numba_cuda/numba/cuda/tests/cudapy/test_compiler.py
Owners: @rapidsai/numba-cuda-write

rename lto var name
  numba_cuda/numba/cuda/compiler.py
Owners: @rapidsai/numba-cuda-write

add linkable code API docs
  numba_cuda/numba/cuda/cudadrv/linkable_code.py
Owners: @rapidsai/numba-cuda-write

update to cuda config registry
  numba_cuda/numba/cuda/tests/cudapy/test_compiler.py
Owners: @rapidsai/numba-cuda-write

[test] Use numpy's tolerance for float16
  numba_cuda/numba/cuda/testing.py
  numba_cuda/numba/cuda/tests/cudapy/test_intrinsics.py
Owners: @rapidsai/numba-cuda-write

[test] Use numpy's tolerance for float16 (#491)
  numba_cuda/numba/cuda/testing.py
  numba_cuda/numba/cuda/tests/cudapy/test_intrinsics.py
Owners: @rapidsai/numba-cuda-write

Change dangling imports of numba.core.lowering to numba.cuda.lowering (#475)
  numba_cuda/numba/cuda/core/ir_utils.py
  numba_cuda/numba/cuda/core/pythonapi.py
  numba_cuda/numba/cuda/core/typed_passes.py
Owners: @rapidsai/numba-cuda-write

add cpython builtins registry
  numba_cuda/numba/cuda/cpython/builtins.py
  numba_cuda/numba/cuda/target.py
Owners: @rapidsai/numba-cuda-write

[test] Remove dependency on cpu_target (#490)
  numba_cuda/numba/cuda/tests/cudapy/test_ir_utils.py
Owners: @rapidsai/numba-cuda-write

add compile_all to simulator
  numba_cuda/numba/cuda/simulator/compiler.py
Owners: @rapidsai/numba-cuda-write

expose linkable code in simulator
  numba_cuda/numba/cuda/simulator/__init__.py
Owners: @rapidsai/numba-cuda-write

Add args and dispatcher to LaunchConfig.
  numba_cuda/numba/cuda/dispatcher.py
  numba_cuda/numba/cuda/launchconfig.py
Owners: @rapidsai/numba-cuda-write

Implement ensure_current_launch_config().
  numba_cuda/numba/cuda/launchconfig.py
Owners: @rapidsai/numba-cuda-write

Implement a thread-local means to access kernel launch config.
  numba_cuda/numba/cuda/dispatcher.py
  numba_cuda/numba/cuda/launchconfig.py
Owners: @rapidsai/numba-cuda-write

Add support for pre-kernel-launch callbacks to launch config.
  numba_cuda/numba/cuda/dispatcher.py
  numba_cuda/numba/cuda/launchconfig.py
Owners: @rapidsai/numba-cuda-write

Vendor in optional, boxing for CUDA-specific changes, fix dangling imports (#476)
  numba_cuda/numba/cuda/core/base.py
  numba_cuda/numba/cuda/core/boxing.py
  numba_cuda/numba/cuda/core/callconv.py
  numba_cuda/numba/cuda/core/compiler.py
  numba_cuda/numba/cuda/core/cpu.py
  numba_cuda/numba/cuda/core/inline_closurecall.py
  numba_cuda/numba/cuda/core/optional.py
  numba_cuda/numba/cuda/core/options.py
  numba_cuda/numba/cuda/core/pythonapi.py
  numba_cuda/numba/cuda/core/rewrites/registry.py
  numba_cuda/numba/cuda/core/rewrites/static_raise.py
  numba_cuda/numba/cuda/core/transforms.py
  numba_cuda/numba/cuda/core/typeinfer.py
  numba_cuda/numba/cuda/target.py
  numba_cuda/numba/cuda/tests/nocuda/test_import.py
Owners: @rapidsai/numba-cuda-write

[Refactor][NFC] Vendor in numba.misc for CUDA-specific changes (#457)
  numba_cuda/numba/cuda/core/caching.py
  numba_cuda/numba/cuda/core/codegen.py
  numba_cuda/numba/cuda/core/inline_closurecall.py
  numba_cuda/numba/cuda/core/typeinfer.py
  numba_cuda/numba/cuda/core/untyped_passes.py
  numba_cuda/numba/cuda/lowering.py
  numba_cuda/numba/cuda/misc/appdirs.py
  numba_cuda/numba/cuda/misc/cffiimpl.py
  numba_cuda/numba/cuda/misc/coverage_support.py
  numba_cuda/numba/cuda/misc/dump_style.py
  numba_cuda/numba/cuda/misc/firstlinefinder.py
  numba_cuda/numba/cuda/misc/gdb_hook.py
  numba_cuda/numba/cuda/misc/literal.py
  numba_cuda/numba/cuda/misc/llvm_pass_timings.py
  numba_cuda/numba/cuda/misc/special.py
  numba_cuda/numba/cuda/target.py
  numba_cuda/numba/cuda/tests/nocuda/test_import.py
  numba_cuda/numba/cuda/utils.py
Owners: @rapidsai/numba-cuda-write

Update CI scripts to use new test directory
  ci/coverage_report.sh
  ci/test_conda.sh
  ci/test_conda_ctypes_binding.sh
  ci/test_simulator.sh
  ci/test_wheel.ps1
  ci/test_wheel.sh
  ci/test_wheel_ctypes_binding.sh
  ci/test_wheel_deps_wheels.sh
Owners: @rapidsai/ci-codeowners

Don't use --pyargs when providing a path
  ci/coverage_report.sh
  ci/test_conda.sh
  ci/test_conda_ctypes_binding.sh
  ci/test_simulator.sh
  ci/test_wheel.ps1
  ci/test_wheel.sh
  ci/test_wheel_ctypes_binding.sh
  ci/test_wheel_deps_wheels.sh
Owners: @rapidsai/ci-codeowners

[Refactor][NFC] Vendor-in numba.cpython modules for future CUDA-specific changes
  numba_cuda/numba/cuda/core/inline_closurecall.py
  numba_cuda/numba/cuda/core/interpreter.py
  numba_cuda/numba/cuda/cpython/builtins.py
  numba_cuda/numba/cuda/cpython/charseq.py
  numba_cuda/numba/cuda/cpython/enumimpl.py
  numba_cuda/numba/cuda/cpython/listobj.py
  numba_cuda/numba/cuda/cpython/mathimpl.py
  numba_cuda/numba/cuda/cpython/numbers.py
  numba_cuda/numba/cuda/cpython/rangeobj.py
  numba_cuda/numba/cuda/cpython/tupleobj.py
  numba_cuda/numba/cuda/cpython/unicode.py
  numba_cuda/numba/cuda/cpython/unicode_support.py
  numba_cuda/numba/cuda/cpython/unsafe/__init__.py
  numba_cuda/numba/cuda/cpython/unsafe/numbers.py
  numba_cuda/numba/cuda/cpython/unsafe/tuple.py
  numba_cuda/numba/cuda/target.py
  numba_cuda/numba/cuda/tests/nocuda/test_import.py
Owners: @rapidsai/numba-cuda-write

Fix test strcmping with the module path
  tests/doc_examples/test_ffi.py
  tests/test_extending.py
Owners: none

Update exact references to numba cuda test dir
  ci/coverage_report.sh
  ci/test_conda.sh
  ci/test_conda_ctypes_binding.sh
  ci/test_wheel.sh
  ci/test_wheel_ctypes_binding.sh
  ci/test_wheel_deps_wheels.sh
  docs/source/user/cooperative_groups.rst
  docs/source/user/cuda_ffi.rst
  docs/source/user/examples.rst
  docs/source/user/random.rst
  pyproject.toml
  tests/doc_examples/ffi/saxpy.cu
Owners: @rapidsai/ci-codeowners, @rapidsai/packaging-codeowners

[Refactor][NFC] Vendor-in numba.np modules for future CUDA-specific changes
  numba_cuda/numba/cuda/core/base.py
  numba_cuda/numba/cuda/core/config.py
  numba_cuda/numba/cuda/core/cpu.py
  numba_cuda/numba/cuda/core/inline_closurecall.py
  numba_cuda/numba/cuda/core/ir_utils.py
  numba_cuda/numba/cuda/cudadrv/devicearray.py
  numba_cuda/numba/cuda/cudaimpl.py
  numba_cuda/numba/cuda/kernels/reduction.py
  numba_cuda/numba/cuda/kernels/transpose.py
  numba_cuda/numba/cuda/misc/cffiimpl.py
  numba_cuda/numba/cuda/np/arraymath.py
  numba_cuda/numba/cuda/np/arrayobj.py
  numba_cuda/numba/cuda/np/extensions.py
  numba_cuda/numba/cuda/np/linalg.py
  numba_cuda/numba/cuda/np/math/__init__.py
  numba_cuda/numba/cuda/np/math/cmathimpl.py
  numba_cuda/numba/cuda/np/math/mathimpl.py
  numba_cuda/numba/cuda/np/math/numbers.py
  numba_cuda/numba/cuda/np/npdatetime.py
  numba_cuda/numba/cuda/np/npyfuncs.py
  numba_cuda/numba/cuda/np/npyimpl.py
  numba_cuda/numba/cuda/np/numpy_support.py
  numba_cuda/numba/cuda/np/polynomial/__init__.py
  numba_cuda/numba/cuda/np/polynomial/polynomial_core.py
  numba_cuda/numba/cuda/np/polynomial/polynomial_functions.py
  numba_cuda/numba/cuda/np/ufunc/sigparse.py
  numba_cuda/numba/cuda/np/ufunc/ufuncbuilder.py
  numba_cuda/numba/cuda/np/ufunc_db.py
  numba_cuda/numba/cuda/np/unsafe/__init__.py
  numba_cuda/numba/cuda/np/unsafe/ndarray.py
  numba_cuda/numba/cuda/target.py
  numba_cuda/numba/cuda/tests/cudapy/test_ufuncs.py
  numba_cuda/numba/cuda/tests/nocuda/test_import.py
Owners: @rapidsai/numba-cuda-write

set ufunc identities from constants that are hardcoded for now
  numba_cuda/numba/cuda/np/ufunc/ufuncbuilder.py
Owners: @rapidsai/numba-cuda-write

Use binary test dir directly
  ci/coverage_report.sh
  ci/test_conda.sh
  ci/test_conda_ctypes_binding.sh
  ci/test_wheel.ps1
  ci/test_wheel.sh
  ci/test_wheel_deps_wheels.sh
Owners: @rapidsai/ci-codeowners

Add CI script for common variables
  ci/common_variables.sh
  ci/coverage_report.sh
  ci/test_conda.sh
  ci/test_conda_ctypes_binding.sh
  ci/test_wheel.ps1
  ci/test_wheel.sh
  ci/test_wheel_ctypes_binding.sh
  ci/test_wheel_deps_wheels.sh
Owners: @rapidsai/ci-codeowners

Fix llvmlite 0.45.0 Windows wheel dependency issue
  .github/workflows/wheel-windows-tests.yaml
  ci/test_wheel.ps1
Owners: @rapidsai/ci-codeowners

Verbose CI scripts
  ci/common_variables.sh
  ci/test_conda.sh
Owners: @rapidsai/ci-codeowners

Use actions/download-artifact@v4 instead of gh CLI for downloading fixed llvmlite wheel
  .github/workflows/wheel-windows-tests.yaml
Owners: @rapidsai/ci-codeowners

Use artifact-ids and github-token for downloading fixed llvmlite wheel
  .github/workflows/wheel-windows-tests.yaml
Owners: @rapidsai/ci-codeowners

Verbose CI scripts
  ci/common_variables.sh
Owners: @rapidsai/ci-codeowners

Source common vars script in all CI scripts
  ci/test_conda.sh
  ci/test_conda_ctypes_binding.sh
  ci/test_simulator.sh
Owners: @rapidsai/ci-codeowners

Add tests root to pythonpath
  ci/common_variables.sh
  ci/test_wheel.ps1
Owners: @rapidsai/ci-codeowners

Add run-id parameter for artifact download
  .github/workflows/wheel-windows-tests.yaml
Owners: @rapidsai/ci-codeowners

Try to fix windows CI
  ci/test_wheel.ps1
Owners: @rapidsai/ci-codeowners

Fix artifact extraction step
  .github/workflows/wheel-windows-tests.yaml
Owners: @rapidsai/ci-codeowners
