Repository NVIDIA/numba-cuda, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rapidsai/numba-cuda-write, @rapidsai/ci-codeowners, @rapidsai/packaging-codeowners

.github/CODEOWNERS:

#python code owners
numba_cuda/            @rapidsai/numba-cuda-write

#cmake code owners
**/CMakeLists.txt  @rapidsai/numba-cuda-write
**/cmake/          @rapidsai/numba-cuda-write

#CI code owners
/.github/                @rapidsai/ci-codeowners
/ci/                     @rapidsai/ci-codeowners
/.pre-commit-config.yaml @rapidsai/ci-codeowners

#packaging code owners
/.devcontainer/    @rapidsai/packaging-codeowners
/conda/            @rapidsai/packaging-codeowners
/dependencies.yaml @rapidsai/packaging-codeowners
/build.sh          @rapidsai/packaging-codeowners
pyproject.toml     @rapidsai/packaging-codeowners

Fix wheel publishing
  .github/workflows/publish.yaml
  .github/workflows/wheels-build.yaml
Owners: @rapidsai/ci-codeowners

Remove sdists in all but one configuration
  .github/workflows/wheels-build.yaml
Owners: @rapidsai/ci-codeowners

Add Windows wheel publishing
  .github/workflows/publish.yaml
  .github/workflows/wheel-windows-build.yaml
Owners: @rapidsai/ci-codeowners

Remove removal of sdist
  .github/workflows/wheel-windows-build.yaml
Owners: @rapidsai/ci-codeowners

Try and fix syntax in if condition
  .github/workflows/wheels-build.yaml
Owners: @rapidsai/ci-codeowners

try this and see if it improves cache hit rate
  .github/workflows/build-wheel.yml
Owners: @rapidsai/ci-codeowners

update makefile to accommodate for the new CI env
  testing/Makefile
Owners: none

include cuobjdump
  .github/workflows/test-wheel-linux.yml
  .github/workflows/test-wheel-windows.yml
Owners: @rapidsai/ci-codeowners

make Linux executables discoverable
  .github/actions/fetch_ctk/action.yml
Owners: @rapidsai/ci-codeowners

Switch to testpypi (temporarily) and trusted publishing
  .github/workflows/wheel-windows-build.yaml
  .github/workflows/wheels-build.yaml
Owners: @rapidsai/ci-codeowners

Unconditionally upload to testpypi
  .github/workflows/wheel-windows-build.yaml
  .github/workflows/wheels-build.yaml
Owners: @rapidsai/ci-codeowners

Collapse the matrix for PyPi publishing
  .github/workflows/wheel-windows-build.yaml
  .github/workflows/wheels-build.yaml
Owners: @rapidsai/ci-codeowners

Trusted publisher doesn't like reusable workflows
  .github/workflows/publish.yaml
  .github/workflows/wheel-windows-build.yaml
  .github/workflows/wheels-build.yaml
Owners: @rapidsai/ci-codeowners

Don't upload to anaconda (for testing)
  .github/workflows/publish.yaml
Owners: @rapidsai/ci-codeowners

Typo on name...
  .github/workflows/publish.yaml
Owners: @rapidsai/ci-codeowners

Rapair the binary wheel
  ci/build_wheel.sh
Owners: @rapidsai/ci-codeowners

Fix testing, upload the repaired wheel
  .github/workflows/wheels-test.yaml
  ci/build_wheel.sh
Owners: @rapidsai/ci-codeowners

Simplify path for repaired wheel
  ci/build_wheel.sh
Owners: @rapidsai/ci-codeowners

Putting things back ready to merge
  .github/workflows/publish.yaml
Owners: @rapidsai/ci-codeowners

Fixed name as this is now real PyPi
  .github/workflows/publish.yaml
Owners: @rapidsai/ci-codeowners

Add support for publishing the sdist
  .github/workflows/publish.yaml
Owners: @rapidsai/ci-codeowners

feat: implement vote_sync_intrinsic
  numba_cuda/numba/cuda/intrinsics.py
Owners: @rapidsai/numba-cuda-write

chore: pre-commit
  numba_cuda/numba/cuda/intrinsics.py
Owners: @rapidsai/numba-cuda-write

chore: clean up
  numba_cuda/numba/cuda/cudadecl.py
  numba_cuda/numba/cuda/cudaimpl.py
  numba_cuda/numba/cuda/device_init.py
  numba_cuda/numba/cuda/intrinsic_wrapper.py
  numba_cuda/numba/cuda/stubs.py
Owners: @rapidsai/numba-cuda-write

feat: add test
  numba_cuda/numba/cuda/tests/cudapy/test_warp_ops.py
Owners: @rapidsai/numba-cuda-write

Attempt to fix Awkward Array 3rd party tests
  ci/test_thirdparty_awkward.sh
Owners: @rapidsai/ci-codeowners

Patch out test generation for intermittently-failling Awkward test
  ci/test_thirdparty_awkward.sh
Owners: @rapidsai/ci-codeowners

Patch another test out and unpin CuPy
  ci/test_thirdparty_awkward.sh
Owners: @rapidsai/ci-codeowners

Fix wheel publishing (#605)
  .github/workflows/publish.yaml
  .github/workflows/wheels-build.yaml
  .github/workflows/wheels-test.yaml
  ci/build_wheel.sh
Owners: @rapidsai/ci-codeowners

Remove cuda-core pinning from other test files
  ci/coverage_report.sh
  ci/test_thirdparty_cudf.sh
  ci/test_thirdparty_nvmath.sh
Owners: @rapidsai/ci-codeowners

Document awkward test suite patches
  ci/test_thirdparty_awkward.sh
Owners: @rapidsai/ci-codeowners

Bump version to 0.21.1
  numba_cuda/VERSION
Owners: @rapidsai/numba-cuda-write

Converting numba driver to use cuda.core.launch API
  numba_cuda/numba/cuda/cudadrv/driver.py
  numba_cuda/numba/cuda/cudadrv/libs.py
Owners: @rapidsai/numba-cuda-write

hoist exception conversion code into a function
  numba_cuda/numba/cuda/cudadrv/driver.py
Owners: @rapidsai/numba-cuda-write

pre-commmit fixes
  numba_cuda/numba/cuda/cudadrv/driver.py
  numba_cuda/numba/cuda/cudadrv/libs.py
Owners: @rapidsai/numba-cuda-write

removing lib64 path hack
  numba_cuda/numba/cuda/cudadrv/libs.py
Owners: @rapidsai/numba-cuda-write

Skip another intermittent test
  ci/test_thirdparty_awkward.sh
Owners: @rapidsai/ci-codeowners

wip
  numba_cuda/numba/cuda/cudadrv/driver.py
Owners: @rapidsai/numba-cuda-write

Attempt to fix Awkward Array 3rd party tests (#607)
  ci/coverage_report.sh
  ci/test_thirdparty_awkward.sh
  ci/test_thirdparty_cudf.sh
  ci/test_thirdparty_nvmath.sh
Owners: @rapidsai/ci-codeowners

Bump version to 0.21.1 (#608)
  numba_cuda/VERSION
Owners: @rapidsai/numba-cuda-write
