Repository NVIDIA/numba-cuda, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rapidsai/numba-cuda-write, @rapidsai/ci-codeowners, @rapidsai/packaging-codeowners

Disable Greptile sequence diagrams (#636)
  greptile.json
Owners: none

dev: bump pixi dependencies (#638)
  pixi.lock
  pixi.toml
  pyproject.toml
Owners: @rapidsai/packaging-codeowners

ci: run tests in parallel to speed up test runs in CI
  ci/test_wheel.ps1
  ci/test_wheel.sh
  ci/test_wheel_deps_wheels.sh
Owners: @rapidsai/ci-codeowners

Always use `core` errors if `numba` is present (#634)
  ci/test_thirdparty_cudf.sh
  numba_cuda/numba/cuda/core/cuda_errors.py
  numba_cuda/numba/cuda/core/errors.py
Owners: @rapidsai/ci-codeowners, @rapidsai/numba-cuda-write

chore: materialize commit
  scripts/bench-against.py
Owners: none

refactor: make things quiet
  scripts/bench-against.py
Owners: none

bench: add dispatching variants
  numba_cuda/numba/cuda/tests/benchmarks/test_kernel_launch.py
Owners: @rapidsai/numba-cuda-write

refactor: remove devicearray to reduce complexity
  numba_cuda/numba/cuda/cext/_devicearray.cpp
  numba_cuda/numba/cuda/cext/_devicearray.h
  numba_cuda/numba/cuda/cext/_dispatcher.cpp
  numba_cuda/numba/cuda/cext/_typeof.cpp
  numba_cuda/numba/cuda/cudadrv/devicearray.py
  setup.py
Owners: @rapidsai/numba-cuda-write

chore: make _numba_type_ an instance attribute to avoid repeated computation of type
  numba_cuda/numba/cuda/cudadrv/devicearray.py
Owners: @rapidsai/numba-cuda-write

more progress
  numba_cuda/numba/cuda/api.py
  numba_cuda/numba/cuda/tests/cudapy/test_sm.py
  numba_cuda/numba/cuda/tests/doc_examples/test_random.py
  numba_cuda/numba/cuda/tests/doc_examples/test_sessionize.py
  numba_cuda/numba/cuda/vectorizers.py
Owners: @rapidsai/numba-cuda-write

Bump version to 0.22.1
  numba_cuda/VERSION
Owners: @rapidsai/numba-cuda-write

Add Conversion Type Tests
  numba_cuda/numba/cuda/tests/cudapy/test_fp8_bindings.py
Owners: @rapidsai/numba-cuda-write

add nan tests, update leveraging np.testing
  numba_cuda/numba/cuda/tests/cudapy/test_fp8_bindings.py
Owners: @rapidsai/numba-cuda-write

Bump version to 0.22.1 (#640)
  numba_cuda/VERSION
Owners: @rapidsai/numba-cuda-write

Converting numba driver to use cuda.core.launch API
  numba_cuda/numba/cuda/cudadrv/driver.py
  numba_cuda/numba/cuda/cudadrv/libs.py
Owners: @rapidsai/numba-cuda-write

hoist exception conversion code into a function
  numba_cuda/numba/cuda/cudadrv/driver.py
Owners: @rapidsai/numba-cuda-write

pre-commmit fixes
  numba_cuda/numba/cuda/cudadrv/driver.py
  numba_cuda/numba/cuda/cudadrv/libs.py
Owners: @rapidsai/numba-cuda-write

removing lib64 path hack
  numba_cuda/numba/cuda/cudadrv/libs.py
Owners: @rapidsai/numba-cuda-write

wip
  numba_cuda/numba/cuda/cudadrv/driver.py
Owners: @rapidsai/numba-cuda-write

Update numba_cuda/numba/cuda/cudadrv/driver.py
  numba_cuda/numba/cuda/cudadrv/driver.py
Owners: @rapidsai/numba-cuda-write

Update numba_cuda/numba/cuda/cudadrv/driver.py
  numba_cuda/numba/cuda/cudadrv/driver.py
Owners: @rapidsai/numba-cuda-write

Update numba_cuda/numba/cuda/cudadrv/driver.py
  numba_cuda/numba/cuda/cudadrv/driver.py
Owners: @rapidsai/numba-cuda-write

Removing exception CUDAAPIError from unit tests
  numba_cuda/numba/cuda/cudadrv/driver.py
  numba_cuda/numba/cuda/tests/cudadrv/test_linker.py
  numba_cuda/numba/cuda/tests/cudapy/test_dispatcher.py
Owners: @rapidsai/numba-cuda-write

Passing stream objects directly to the launch function
  numba_cuda/numba/cuda/cudadrv/driver.py
  numba_cuda/numba/cuda/dispatcher.py
  numba_cuda/numba/cuda/memory_management/nrt.py
  numba_cuda/numba/cuda/tests/cudadrv/test_cuda_driver.py
Owners: @rapidsai/numba-cuda-write

Removing CTypesFunction
  numba_cuda/numba/cuda/cudadrv/driver.py
  numba_cuda/numba/cuda/dispatcher.py
  numba_cuda/numba/cuda/memory_management/nrt.py
  numba_cuda/numba/cuda/tests/cudadrv/test_cuda_driver.py
Owners: @rapidsai/numba-cuda-write

pre-commit
  numba_cuda/numba/cuda/cudadrv/driver.py
  numba_cuda/numba/cuda/dispatcher.py
  numba_cuda/numba/cuda/memory_management/nrt.py
  numba_cuda/numba/cuda/tests/cudadrv/test_cuda_driver.py
Owners: @rapidsai/numba-cuda-write

Removing numba stream but leaving a shim for backwards compat
  numba_cuda/numba/cuda/cudadrv/driver.py
Owners: @rapidsai/numba-cuda-write

chore: fix pre-commit failures
  numba_cuda/numba/cuda/cudadrv/driver.py
Owners: @rapidsai/numba-cuda-write

chore: greatly simplify a bunch of int checking and then conversion
  numba_cuda/numba/cuda/cudadrv/driver.py
Owners: @rapidsai/numba-cuda-write

refactor: remove unnecessary cufunction shenanigans
  numba_cuda/numba/cuda/cudadrv/driver.py
  numba_cuda/numba/cuda/dispatcher.py
  numba_cuda/numba/cuda/memory_management/nrt.py
Owners: @rapidsai/numba-cuda-write

chore: make `HandleCompat` have less overhead
  numba_cuda/numba/cuda/cudadrv/driver.py
Owners: @rapidsai/numba-cuda-write

chore: clarify int constructor
  numba_cuda/numba/cuda/cudadrv/driver.py
Owners: @rapidsai/numba-cuda-write

chore: clean stream repr
  numba_cuda/numba/cuda/cudadrv/driver.py
Owners: @rapidsai/numba-cuda-write

chore: reduce comprehension noise
  numba_cuda/numba/cuda/cudadrv/driver.py
Owners: @rapidsai/numba-cuda-write

cover sm120 in tests
  .github/workflows/build-wheel.yml
Owners: @rapidsai/ci-codeowners

add existing cvt test
  numba_cuda/numba/cuda/tests/cudapy/test_fp8_bindings.py
Owners: @rapidsai/numba-cuda-write

nits
  .github/workflows/build-wheel.yml
Owners: @rapidsai/ci-codeowners

fix
  pyproject.toml
Owners: @rapidsai/packaging-codeowners

fix dll patching point
  numba_cuda/numba/cuda/__init__.py
  pyproject.toml
Owners: @rapidsai/numba-cuda-write, @rapidsai/packaging-codeowners

WIP transformations
  numba_cuda/numba/cuda/core/consts.py
  numba_cuda/numba/cuda/core/inline_closurecall.py
  numba_cuda/numba/cuda/core/postproc.py
  numba_cuda/numba/cuda/serialize.py
Owners: @rapidsai/numba-cuda-write

.github/CODEOWNERS:

#python code owners
numba_cuda/            @rapidsai/numba-cuda-write

#cmake code owners
**/CMakeLists.txt  @rapidsai/numba-cuda-write
**/cmake/          @rapidsai/numba-cuda-write

#CI code owners
/.github/                @rapidsai/ci-codeowners
/ci/                     @rapidsai/ci-codeowners
/.pre-commit-config.yaml @rapidsai/ci-codeowners

#packaging code owners
/.devcontainer/    @rapidsai/packaging-codeowners
/conda/            @rapidsai/packaging-codeowners
/dependencies.yaml @rapidsai/packaging-codeowners
/build.sh          @rapidsai/packaging-codeowners
pyproject.toml     @rapidsai/packaging-codeowners
