Repository NVIDIA/numba-cuda, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rapidsai/numba-cuda-write, @rapidsai/ci-codeowners, @rapidsai/packaging-codeowners

comment out no allocation case
  numba_cuda/numba/cuda/runtime/nrt.py
Owners: @rapidsai/numba-cuda-write

fix erro code bug
  numba_cuda/numba/cuda/cudadrv/enums.py
Owners: @rapidsai/numba-cuda-write

Passing no return test
  numba_cuda/numba/cuda/dispatcher.py
  numba_cuda/numba/cuda/runtime/nrt.py
  numba_cuda/numba/cuda/tests/nrt/test_nrt.py
Owners: @rapidsai/numba-cuda-write

fix erro code bug
  numba_cuda/numba/cuda/cudadrv/enums.py
Owners: @rapidsai/numba-cuda-write

Fix Issues URL
  README.md
Owners: none

do not force reinit memsys on every kernel launch, add another test
  numba_cuda/numba/cuda/dispatcher.py
  numba_cuda/numba/cuda/runtime/nrt.py
  numba_cuda/numba/cuda/tests/nrt/test_nrt.py
Owners: @rapidsai/numba-cuda-write

add another test from CPU target
  numba_cuda/numba/cuda/tests/nrt/mock_numpy.py
  numba_cuda/numba/cuda/tests/nrt/test_nrt.py
Owners: @rapidsai/numba-cuda-write

Fix Issues URL
  README.md
Owners: none

Add logo to README
  README.md
Owners: none

Update README to reflect current state
  README.md
Owners: none

Fix test_debug checks on Python 3.13 onwards
  numba_cuda/numba/cuda/tests/cudapy/test_debug.py
Owners: @rapidsai/numba-cuda-write

Fix test_external_stream_create with NVIDIA bindings
  numba_cuda/numba/cuda/tests/cudapy/test_stream_api.py
Owners: @rapidsai/numba-cuda-write

porting the correct np_empty_like implementation
  numba_cuda/numba/cuda/tests/nrt/mock_numpy.py
Owners: @rapidsai/numba-cuda-write

pull in another test from numba cpu target
  numba_cuda/numba/cuda/tests/nrt/test_nrt.py
Owners: @rapidsai/numba-cuda-write

move memsys tests to test_nrt_refct
  numba_cuda/numba/cuda/tests/nrt/test_nrt.py
  numba_cuda/numba/cuda/tests/nrt/test_nrt_refct.py
Owners: @rapidsai/numba-cuda-write

Fix choice of conda package for includes (on Windows)
  numba_cuda/numba/cuda/cuda_paths.py
Owners: @rapidsai/numba-cuda-write

rename into memsys stats enabled
  numba_cuda/numba/cuda/dispatcher.py
  numba_cuda/numba/cuda/runtime/nrt.py
Owners: @rapidsai/numba-cuda-write

Explicitly control the use of stream in tests with NRT libraries
  numba_cuda/numba/cuda/runtime/nrt.py
  numba_cuda/numba/cuda/tests/nrt/test_nrt_refct.py
Owners: @rapidsai/numba-cuda-write

Fix test_external_stream_create with NVIDIA bindings
  numba_cuda/numba/cuda/tests/cudapy/test_stream_api.py
Owners: @rapidsai/numba-cuda-write

Fix test_debug checks on Python 3.13 onwards
  numba_cuda/numba/cuda/tests/cudapy/test_debug.py
Owners: @rapidsai/numba-cuda-write

Fix choice of conda package for includes (on Windows)
  numba_cuda/numba/cuda/cuda_paths.py
Owners: @rapidsai/numba-cuda-write

Bump version to v0.0.20
  numba_cuda/VERSION
Owners: @rapidsai/numba-cuda-write

Bump version to v0.0.20
  numba_cuda/VERSION
Owners: @rapidsai/numba-cuda-write

Allow CUDA source inputs compiled to LTOIR, and enable pynvjitlinker to link inputs that contains LTOIR (#62)
  ci/test_conda_pynvjitlink.sh
  numba_cuda/numba/cuda/codegen.py
  numba_cuda/numba/cuda/cudadrv/driver.py
  numba_cuda/numba/cuda/cudadrv/nvrtc.py
  numba_cuda/numba/cuda/tests/cudadrv/test_nvjitlink.py
  numba_cuda/numba/cuda/tests/test_binary_generation/Makefile
  numba_cuda/numba/cuda/tests/test_binary_generation/build.bat
Owners: @rapidsai/ci-codeowners, @rapidsai/numba-cuda-write

Bump version to 0.0.21
  numba_cuda/VERSION
Owners: @rapidsai/numba-cuda-write

Bump version to 0.0.21
  numba_cuda/VERSION
Owners: @rapidsai/numba-cuda-write

Fix find_spec for old finders that don't implement it.
  site-packages/_numba_cuda_redirector.py
Owners: none

Style
  site-packages/_numba_cuda_redirector.py
Owners: none

Update version to ensure it doesn't break our workflows
  numba_cuda/VERSION
Owners: @rapidsai/numba-cuda-write

Style
  site-packages/_numba_cuda_redirector.py
Owners: none

Update version to ensure it doesn't break our workflows
  numba_cuda/VERSION
Owners: @rapidsai/numba-cuda-write

Fix find_spec for old finders that don't implement it.
  site-packages/_numba_cuda_redirector.py
Owners: none

move readenv to utils
  numba_cuda/numba/cuda/cudadrv/driver.py
  numba_cuda/numba/cuda/utils.py
Owners: @rapidsai/numba-cuda-write

rename a few API, default stream argument to None, read environment variable in nrt.py
  numba_cuda/numba/cuda/dispatcher.py
  numba_cuda/numba/cuda/runtime/nrt.py
Owners: @rapidsai/numba-cuda-write

add cuda_ones mock api
  numba_cuda/numba/cuda/tests/nrt/mock_numpy.py
Owners: @rapidsai/numba-cuda-write

add memsys get enabled status API, cleanups
  numba_cuda/numba/cuda/runtime/memsys.cu
  numba_cuda/numba/cuda/runtime/nrt.py
Owners: @rapidsai/numba-cuda-write

add 3 tests in TestNRTStatistics
  numba_cuda/numba/cuda/tests/nrt/test_nrt.py
Owners: @rapidsai/numba-cuda-write

add 3 more tests, augment API with single getters
  numba_cuda/numba/cuda/dispatcher.py
  numba_cuda/numba/cuda/runtime/memsys.cu
  numba_cuda/numba/cuda/runtime/nrt.py
  numba_cuda/numba/cuda/tests/nrt/test_nrt.py
Owners: @rapidsai/numba-cuda-write

make cuda nrt test mixin
  numba_cuda/numba/cuda/tests/nrt/test_nrt_refct.py
  numba_cuda/numba/cuda/tests/support.py
Owners: @rapidsai/numba-cuda-write

comments and clean up
  numba_cuda/numba/cuda/runtime/nrt.py
Owners: @rapidsai/numba-cuda-write

.github/CODEOWNERS:

#python code owners
numba_cuda/            @rapidsai/numba-cuda-write

#cmake code owners
**/CMakeLists.txt  @rapidsai/numba-cuda-write
**/cmake/          @rapidsai/numba-cuda-write

#CI code owners
/.github/                @rapidsai/ci-codeowners
/ci/                     @rapidsai/ci-codeowners
/.pre-commit-config.yaml @rapidsai/ci-codeowners

#packaging code owners
/.devcontainer/    @rapidsai/packaging-codeowners
/conda/            @rapidsai/packaging-codeowners
/dependencies.yaml @rapidsai/packaging-codeowners
/build.sh          @rapidsai/packaging-codeowners
pyproject.toml     @rapidsai/packaging-codeowners
