Repository NVIDIA/numba-cuda, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rapidsai/numba-cuda-write, @rapidsai/ci-codeowners, @rapidsai/packaging-codeowners

Add tests for device_array shape inputs to raise TypeError for non-integer values
  numba_cuda/numba/cuda/tests/cudadrv/test_cuda_ndarray.py
Owners: @rapidsai/numba-cuda-write

Add test for device_array to handle np.array and list inputs
  numba_cuda/numba/cuda/tests/cudadrv/test_cuda_ndarray.py
Owners: @rapidsai/numba-cuda-write

Can't run scripts we haven't checked out yet
  .github/workflows/wheel-windows-tests.yaml
Owners: @rapidsai/ci-codeowners

Fix style via ruff format
  numba_cuda/numba/cuda/api_util.py
Owners: @rapidsai/numba-cuda-write

Try and fix cuda versions
  .github/workflows/wheel-windows-tests.yaml
  ci/test_wheel.ps1
Owners: @rapidsai/ci-codeowners

CUDA Python raises a if it can't load nvjitlink
  numba_cuda/numba/cuda/cudadrv/driver.py
Owners: @rapidsai/numba-cuda-write

Install CUDA toolkit wheels
  ci/test_wheel.ps1
Owners: @rapidsai/ci-codeowners

FIX: Add type check for shape elements in DeviceNDArrayBase constructor (#352)
  numba_cuda/numba/cuda/api_util.py
  numba_cuda/numba/cuda/cudadrv/devicearray.py
  numba_cuda/numba/cuda/tests/cudadrv/test_cuda_ndarray.py
Owners: @rapidsai/numba-cuda-write

Use CUDAArray instaed of types.Array
  numba_cuda/numba/cuda/cudadrv/devicearray.py
  numba_cuda/numba/cuda/decorators.py
  numba_cuda/numba/cuda/dispatcher.py
  numba_cuda/numba/cuda/types.py
Owners: @rapidsai/numba-cuda-write

Fix tests
  numba_cuda/numba/cuda/tests/cudapy/test_constmem.py
  numba_cuda/numba/cuda/tests/cudapy/test_cooperative_groups.py
  numba_cuda/numba/cuda/tests/cudapy/test_dispatcher.py
  numba_cuda/numba/cuda/tests/cudapy/test_fastmath.py
  numba_cuda/numba/cuda/tests/cudapy/test_inline.py
  numba_cuda/numba/cuda/tests/cudapy/test_intrinsics.py
  numba_cuda/numba/cuda/tests/cudapy/test_lineinfo.py
  numba_cuda/numba/cuda/tests/cudapy/test_localmem.py
  numba_cuda/numba/cuda/tests/cudapy/test_optimization.py
  numba_cuda/numba/cuda/tests/cudapy/test_sm.py
  numba_cuda/numba/cuda/tests/cudapy/test_sm_creation.py
  numba_cuda/numba/cuda/tests/cudapy/test_sync.py
  numba_cuda/numba/cuda/tests/doc_examples/test_cg.py
Owners: @rapidsai/numba-cuda-write

Update atomics to use address space
  numba_cuda/numba/cuda/cudadrv/nvvm.py
  numba_cuda/numba/cuda/cudaimpl.py
  numba_cuda/numba/cuda/nvvmutils.py
Owners: @rapidsai/numba-cuda-write

Use forest to avoid issues related to block order
  numba_cuda/numba/cuda/compiler.py
Owners: @rapidsai/numba-cuda-write

[Refactor][NFC] Import get_registered_loc_notify only when numba version >= 0.61.0
  numba_cuda/numba/cuda/lowering.py
  pyproject.toml
Owners: @rapidsai/numba-cuda-write, @rapidsai/packaging-codeowners

Skip type test on cudasim
  numba_cuda/numba/cuda/tests/cudapy/test_array_return.py
Owners: @rapidsai/numba-cuda-write

[NFC] FileCheck tests check all overloads
  numba_cuda/numba/cuda/testing.py
Owners: @rapidsai/numba-cuda-write

init
  numba_cuda/numba/cuda/compiler.py
  numba_cuda/numba/cuda/core/interpreter.py
Owners: @rapidsai/numba-cuda-write

[NFC] Make numba-cuda[cuXY] a dep of dev-cuXY
  CONTRIBUTING.md
  pyproject.toml
Owners: @rapidsai/packaging-codeowners

Disable tests that deadlock due to #317
  numba_cuda/numba/cuda/tests/cudadrv/test_streams.py
Owners: @rapidsai/numba-cuda-write

Disable tests that deadlock due to #317 (#356)
  numba_cuda/numba/cuda/tests/cudadrv/test_streams.py
Owners: @rapidsai/numba-cuda-write

Add --dist loadscope to pyargs
  README.md
  pyproject.toml
Owners: @rapidsai/packaging-codeowners

Vendor in Codegen and CodeLibrary for CUDA-specific customization (#327)
  numba_cuda/numba/cuda/codegen.py
  numba_cuda/numba/cuda/core/codegen.py
Owners: @rapidsai/numba-cuda-write

shallow clone
  ci/test_thirdparty.sh
  numba_cuda/numba/cuda/tests/__init__.py
  numba_cuda/numba/cuda/tests/thirdparty/__init__.py
  numba_cuda/numba/cuda/tests/thirdparty/test_extension_types_thirdparty.py
Owners: @rapidsai/ci-codeowners, @rapidsai/numba-cuda-write

branch
  ci/test_thirdparty.sh
Owners: @rapidsai/ci-codeowners

[REVIEW] Vendor in the CompilerBase used by CUDACompiler to allow for future CUDA-specific refactoring and changes (#322)
  numba_cuda/numba/cuda/compiler.py
  numba_cuda/numba/cuda/core/compiler.py
Owners: @rapidsai/numba-cuda-write

install cmd
  ci/test_thirdparty.sh
Owners: @rapidsai/ci-codeowners

remove remaining references
  ci/test_wheel_deps_wheels.sh
  docs/source/reference/envvars.rst
  docs/source/user/minor_version_compatibility.rst
  numba_cuda/numba/cuda/__init__.py
  numba_cuda/numba/cuda/cudadrv/driver.py
  numba_cuda/numba/cuda/decorators.py
  numba_cuda/numba/cuda/simulator/cudadrv/driver.py
  numba_cuda/numba/cuda/tests/cudapy/test_errors.py
  numba_cuda/numba/cuda/tests/test_binary_generation/Makefile
  pyproject.toml
Owners: @rapidsai/ci-codeowners, @rapidsai/numba-cuda-write, @rapidsai/packaging-codeowners

https clone
  ci/test_thirdparty.sh
Owners: @rapidsai/ci-codeowners

Add more debuginfo tests
  numba_cuda/numba/cuda/tests/cudapy/test_debuginfo.py
Owners: @rapidsai/numba-cuda-write

single branch
  ci/test_thirdparty.sh
Owners: @rapidsai/ci-codeowners

clean
  ci/test_thirdparty.sh
Owners: @rapidsai/ci-codeowners

[Refactor] Vendor in BaseNativeLowering for CUDA-specific changes
  numba_cuda/numba/cuda/compiler.py
  numba_cuda/numba/cuda/core/typed_passes.py
Owners: @rapidsai/numba-cuda-write

[Refactor][NFC] Import get_registered_loc_notify only when numba version >= 0.61.0
  numba_cuda/numba/cuda/lowering.py
  pyproject.toml
Owners: @rapidsai/numba-cuda-write, @rapidsai/packaging-codeowners

[Refactor][NFC] Get numba version from numba.version_info
  numba_cuda/numba/cuda/lowering.py
Owners: @rapidsai/numba-cuda-write

[Refactor] Vendor in Lower and BaseLower for CUDA-specific changes
  numba_cuda/numba/cuda/lowering.py
Owners: @rapidsai/numba-cuda-write

[Refactor][NFC] Formatting fixes
  numba_cuda/numba/cuda/core/typed_passes.py
  numba_cuda/numba/cuda/lowering.py
Owners: @rapidsai/numba-cuda-write

[Refactor] Vendor in Dispatcher as CUDADispatcher
  numba_cuda/numba/cuda/dispatcher.py
Owners: @rapidsai/numba-cuda-write

[Refactor][NFC] Formatting Fixes
  numba_cuda/numba/cuda/dispatcher.py
Owners: @rapidsai/numba-cuda-write

[Refactor][NFC] Remove self.locals from CUDADispatcher and _FunctionCompiler
  numba_cuda/numba/cuda/dispatcher.py
Owners: @rapidsai/numba-cuda-write

Vendor in BaseNativeLowering and BaseLower for CUDA-specific customizations (#329)
  numba_cuda/numba/cuda/compiler.py
  numba_cuda/numba/cuda/core/typed_passes.py
  numba_cuda/numba/cuda/lowering.py
  pyproject.toml
Owners: @rapidsai/numba-cuda-write, @rapidsai/packaging-codeowners

[NFC] Vendor in Dispatcher as CUDADispatcher to allow for future CUDA-specific customization (#338)
  numba_cuda/numba/cuda/dispatcher.py
Owners: @rapidsai/numba-cuda-write

.github/CODEOWNERS:

#python code owners
numba_cuda/            @rapidsai/numba-cuda-write

#cmake code owners
**/CMakeLists.txt  @rapidsai/numba-cuda-write
**/cmake/          @rapidsai/numba-cuda-write

#CI code owners
/.github/                @rapidsai/ci-codeowners
/ci/                     @rapidsai/ci-codeowners
/.pre-commit-config.yaml @rapidsai/ci-codeowners

#packaging code owners
/.devcontainer/    @rapidsai/packaging-codeowners
/conda/            @rapidsai/packaging-codeowners
/dependencies.yaml @rapidsai/packaging-codeowners
/build.sh          @rapidsai/packaging-codeowners
pyproject.toml     @rapidsai/packaging-codeowners
