Repository NVIDIA/numba-cuda, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rapidsai/numba-cuda-write, @rapidsai/ci-codeowners, @rapidsai/packaging-codeowners

.github/CODEOWNERS:

#python code owners
numba_cuda/            @rapidsai/numba-cuda-write

#cmake code owners
**/CMakeLists.txt  @rapidsai/numba-cuda-write
**/cmake/          @rapidsai/numba-cuda-write

#CI code owners
/.github/                @rapidsai/ci-codeowners
/ci/                     @rapidsai/ci-codeowners
/.pre-commit-config.yaml @rapidsai/ci-codeowners

#packaging code owners
/.devcontainer/    @rapidsai/packaging-codeowners
/conda/            @rapidsai/packaging-codeowners
/dependencies.yaml @rapidsai/packaging-codeowners
/build.sh          @rapidsai/packaging-codeowners
pyproject.toml     @rapidsai/packaging-codeowners

Adopt the format from CI check_style
  numba_cuda/numba/cuda/lowering.py
Owners: @rapidsai/numba-cuda-write

Bump version to 0.15.2
  numba_cuda/VERSION
Owners: @rapidsai/numba-cuda-write

Bump version to 0.15.2 (#307)
  numba_cuda/VERSION
Owners: @rapidsai/numba-cuda-write

Apply suggestions from code review
  ci/test_wheel.sh
  conda/recipes/numba-cuda/meta.yaml
  pyproject.toml
Owners: @rapidsai/ci-codeowners, @rapidsai/packaging-codeowners

no cuda-core for ctypes binding wheel script
  ci/test_wheel_ctypes_binding.sh
Owners: @rapidsai/ci-codeowners

other needed cuda components
  numba_cuda/numba/cuda/cuda_paths.py
  numba_cuda/numba/cuda/cudadrv/libs.py
Owners: @rapidsai/numba-cuda-write

a comment
  numba_cuda/numba/cuda/cudadrv/libs.py
Owners: @rapidsai/numba-cuda-write

make tests under nv binding 0
  ci/test_wheel_ctypes_binding.sh
Owners: @rapidsai/ci-codeowners

use NUMBA_CUDA_USE_NVIDIA_BINDING for sysinfo test as well
  ci/test_wheel_ctypes_binding.sh
Owners: @rapidsai/ci-codeowners

Enable LTO by default when pynvjitlink is available
  numba_cuda/numba/cuda/decorators.py
  numba_cuda/numba/cuda/tests/cudapy/test_errors.py
Owners: @rapidsai/numba-cuda-write

Apply suggestions from code review
  numba_cuda/numba/cuda/__init__.py
  numba_cuda/numba/cuda/cudadrv/driver.py
  numba_cuda/numba/cuda/cudadrv/nvrtc.py
Owners: @rapidsai/numba-cuda-write

guard error import
  numba_cuda/numba/cuda/tests/cudadrv/test_linker.py
Owners: @rapidsai/numba-cuda-write

Remove existing fp16 logic
  numba_cuda/numba/cuda/cpp_function_wrappers.cu
  numba_cuda/numba/cuda/cudadecl.py
  numba_cuda/numba/cuda/cudaimpl.py
  numba_cuda/numba/cuda/device_init.py
  numba_cuda/numba/cuda/dispatcher.py
  numba_cuda/numba/cuda/mathimpl.py
  numba_cuda/numba/cuda/stubs.py
Owners: @rapidsai/numba-cuda-write

Generate fp16 bindings using numbast
  configs/cuda_fp16.yml
  numba_cuda/numba/cuda/_internal/cuda_fp16.py
  numba_cuda/numba/cuda/fp16.py
  pyproject.toml
Owners: @rapidsai/numba-cuda-write, @rapidsai/packaging-codeowners

Overload math functions
  numba_cuda/numba/cuda/_internal/cuda_fp16.py
Owners: @rapidsai/numba-cuda-write

Implement operators
  numba_cuda/numba/cuda/_internal/cuda_fp16.py
Owners: @rapidsai/numba-cuda-write

Alias __half to numba.core.types.float16
  numba_cuda/numba/cuda/_internal/cuda_fp16.py
Owners: @rapidsai/numba-cuda-write

Fix tests
  numba_cuda/numba/cuda/tests/cudapy/test_bfloat16_bindings.py
  numba_cuda/numba/cuda/tests/cudapy/test_casting.py
  numba_cuda/numba/cuda/tests/cudapy/test_intrinsics.py
  numba_cuda/numba/cuda/tests/cudapy/test_localmem.py
  numba_cuda/numba/cuda/tests/cudapy/test_math.py
  numba_cuda/numba/cuda/tests/cudapy/test_operator.py
  numba_cuda/numba/cuda/tests/cudapy/test_sm.py
  numba_cuda/numba/cuda/tests/nocuda/test_function_resolution.py
Owners: @rapidsai/numba-cuda-write

Add lower_casts to/from other numeric types
  numba_cuda/numba/cuda/_internal/cuda_fp16.py
Owners: @rapidsai/numba-cuda-write

Update tests to match LTO-by-default message
  numba_cuda/numba/cuda/tests/cudadrv/test_nvjitlink.py
  numba_cuda/numba/cuda/tests/cudapy/test_errors.py
Owners: @rapidsai/numba-cuda-write

Enable LTO by default when pynvjitlink is available (#310)
  numba_cuda/numba/cuda/decorators.py
  numba_cuda/numba/cuda/tests/cudadrv/test_nvjitlink.py
  numba_cuda/numba/cuda/tests/cudapy/test_errors.py
Owners: @rapidsai/numba-cuda-write

use have_nvjitlink in deco
  numba_cuda/numba/cuda/cudadrv/driver.py
  numba_cuda/numba/cuda/decorators.py
Owners: @rapidsai/numba-cuda-write

update test
  numba_cuda/numba/cuda/tests/cudapy/test_errors.py
Owners: @rapidsai/numba-cuda-write

address reviews
  numba_cuda/numba/cuda/cudadrv/driver.py
Owners: @rapidsai/numba-cuda-write

try not forwarding lto=False to None
  numba_cuda/numba/cuda/cudadrv/driver.py
Owners: @rapidsai/numba-cuda-write

address remaining reviews
  numba_cuda/numba/cuda/cudadrv/driver.py
Owners: @rapidsai/numba-cuda-write

defer cuinit
  numba_cuda/numba/cuda/decorators.py
  numba_cuda/numba/cuda/dispatcher.py
Owners: @rapidsai/numba-cuda-write

update _have_nvjitlink
  numba_cuda/numba/cuda/cudadrv/driver.py
Owners: @rapidsai/numba-cuda-write

updates
  numba_cuda/numba/cuda/cudadrv/driver.py
  numba_cuda/numba/cuda/decorators.py
  numba_cuda/numba/cuda/dispatcher.py
Owners: @rapidsai/numba-cuda-write

catch no driver at all
  numba_cuda/numba/cuda/cudadrv/driver.py
Owners: @rapidsai/numba-cuda-write

track pynvjitlink env discovery
  numba_cuda/numba/cuda/__init__.py
Owners: @rapidsai/numba-cuda-write

Use `cuda.bindings` and `cuda.core` for `Linker` (#133)
  .github/workflows/pr.yaml
  ci/test_conda.sh
  ci/test_conda_ctypes_binding.sh
  ci/test_wheel.sh
  ci/test_wheel_ctypes_binding.sh
  conda/recipes/numba-cuda/meta.yaml
  numba_cuda/numba/cuda/__init__.py
  numba_cuda/numba/cuda/codegen.py
  numba_cuda/numba/cuda/cudadrv/driver.py
  numba_cuda/numba/cuda/cudadrv/mappings.py
  numba_cuda/numba/cuda/cudadrv/nvrtc.py
  numba_cuda/numba/cuda/decorators.py
  numba_cuda/numba/cuda/dispatcher.py
  numba_cuda/numba/cuda/memory_management/nrt.py
  numba_cuda/numba/cuda/simulator/cudadrv/driver.py
  numba_cuda/numba/cuda/testing.py
  numba_cuda/numba/cuda/tests/cudadrv/test_linker.py
  numba_cuda/numba/cuda/tests/cudadrv/test_nvjitlink.py
  numba_cuda/numba/cuda/tests/cudapy/test_errors.py
  numba_cuda/numba/cuda/tests/cudapy/test_extending.py
  numba_cuda/numba/cuda/tests/nrt/test_nrt.py
  pyproject.toml
Owners: @rapidsai/ci-codeowners, @rapidsai/packaging-codeowners, @rapidsai/numba-cuda-write

Make `Context.handle` always be a `drvapi.cu_context` instance
  numba_cuda/numba/cuda/cudadrv/devices.py
  numba_cuda/numba/cuda/cudadrv/driver.py
  numba_cuda/numba/cuda/tests/cudadrv/test_context_stack.py
Owners: @rapidsai/numba-cuda-write

Attempt to make streams and events consistent
  numba_cuda/numba/cuda/cudadrv/driver.py
  numba_cuda/numba/cuda/dispatcher.py
  numba_cuda/numba/cuda/tests/cudadrv/test_cuda_driver.py
  numba_cuda/numba/cuda/tests/cudapy/test_cuda_array_interface.py
Owners: @rapidsai/numba-cuda-write

Fix lineinfo generation when compile_internal used (#271)
  numba_cuda/numba/cuda/compiler.py
  numba_cuda/numba/cuda/flags.py
  numba_cuda/numba/cuda/target.py
  numba_cuda/numba/cuda/tests/cudapy/test_lineinfo.py
Owners: @rapidsai/numba-cuda-write

Build docs with NVIDIA Sphinx theme
  ci/build_docs.sh
  docs/source/conf.py
Owners: @rapidsai/ci-codeowners

Don't skip debug tests when LTO enabled by default
  numba_cuda/numba/cuda/testing.py
  numba_cuda/numba/cuda/tests/cudapy/test_debuginfo.py
  numba_cuda/numba/cuda/tests/cudapy/test_exception.py
  numba_cuda/numba/cuda/tests/cudapy/test_fastmath.py
  numba_cuda/numba/cuda/tests/cudapy/test_userexc.py
Owners: @rapidsai/numba-cuda-write

Don't skip debug tests when LTO enabled by default (#311)
  numba_cuda/numba/cuda/testing.py
  numba_cuda/numba/cuda/tests/cudapy/test_debuginfo.py
  numba_cuda/numba/cuda/tests/cudapy/test_exception.py
  numba_cuda/numba/cuda/tests/cudapy/test_fastmath.py
  numba_cuda/numba/cuda/tests/cudapy/test_userexc.py
Owners: @rapidsai/numba-cuda-write

Implement operators
  numba_cuda/numba/cuda/_internal/cuda_fp16.py
Owners: @rapidsai/numba-cuda-write

Overload math functions
  numba_cuda/numba/cuda/fp16.py
Owners: @rapidsai/numba-cuda-write
