Repository NVIDIA/numba-cuda, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rapidsai/numba-cuda-write, @rapidsai/ci-codeowners, @rapidsai/packaging-codeowners

.github/CODEOWNERS:

#python code owners
numba_cuda/            @rapidsai/numba-cuda-write

#cmake code owners
**/CMakeLists.txt  @rapidsai/numba-cuda-write
**/cmake/          @rapidsai/numba-cuda-write

#CI code owners
/.github/                @rapidsai/ci-codeowners
/ci/                     @rapidsai/ci-codeowners
/.pre-commit-config.yaml @rapidsai/ci-codeowners

#packaging code owners
/.devcontainer/    @rapidsai/packaging-codeowners
/conda/            @rapidsai/packaging-codeowners
/dependencies.yaml @rapidsai/packaging-codeowners
/build.sh          @rapidsai/packaging-codeowners
pyproject.toml     @rapidsai/packaging-codeowners

Fix prologue debug line info pointing to decorator instead of def line
  numba_cuda/numba/cuda/lowering.py
  numba_cuda/numba/cuda/tests/cudapy/test_debuginfo.py
Owners: @rapidsai/numba-cuda-write

fix: extract handle value in Event.query() call to match other driver calls
  numba_cuda/numba/cuda/cudadrv/driver.py
Owners: @rapidsai/numba-cuda-write

tests: add regression test for Event.query()
  numba_cuda/numba/cuda/tests/cudadrv/test_events.py
Owners: @rapidsai/numba-cuda-write

Checkpoint commit prior to switching laptop.
  LAUNCH-CONFIG-TODO.md
  numba_cuda/numba/cuda/dispatcher.py
  numba_cuda/numba/cuda/launchconfig.py
  numba_cuda/numba/cuda/tests/cudapy/test_launch_config_sensitive.py
Owners: @rapidsai/numba-cuda-write

Fix prologue debug line info pointing to decorator instead of def line (#746)
  numba_cuda/numba/cuda/lowering.py
  numba_cuda/numba/cuda/tests/cudapy/test_debuginfo.py
Owners: @rapidsai/numba-cuda-write

maintain signatures
  numba_cuda/numba/cuda/cudadrv/driver.py
  numba_cuda/numba/cuda/dispatcher.py
Owners: @rapidsai/numba-cuda-write

fixes
  numba_cuda/numba/cuda/cudadrv/driver.py
  numba_cuda/numba/cuda/dispatcher.py
Owners: @rapidsai/numba-cuda-write

Fix max block size computation in `forall` (#744)
  numba_cuda/numba/cuda/cudadrv/driver.py
  numba_cuda/numba/cuda/tests/cudadrv/test_cuda_driver.py
Owners: @rapidsai/numba-cuda-write

refactor: use `StridedMemoryView` internally
  numba_cuda/numba/cuda/args.py
  numba_cuda/numba/cuda/cudadrv/devicearray.py
  numba_cuda/numba/cuda/dispatcher.py
  numba_cuda/numba/cuda/np/arrayobj.py
  numba_cuda/numba/cuda/np/numpy_support.py
  numba_cuda/numba/cuda/typing/typeof.py
  pixi.lock
  pixi.toml
  pyproject.toml
Owners: @rapidsai/numba-cuda-write, @rapidsai/packaging-codeowners

chore: add patch workaround to allow SMV
  .pre-commit-config.yaml
  ci/patches/cudf_numba_cuda_compatibility.patch
  ci/test_thirdparty_cudf.sh
Owners: @rapidsai/ci-codeowners

Fix arg hints in CUDA simulator
  numba_cuda/numba/cuda/simulator/__init__.py
  numba_cuda/numba/cuda/simulator/api.py
  numba_cuda/numba/cuda/simulator/args.py
  numba_cuda/numba/cuda/simulator/kernel.py
Owners: @rapidsai/numba-cuda-write

fix : hack around missing datetime64 in dlpack
  numba_cuda/numba/cuda/cudadrv/devicearray.py
  numba_cuda/numba/cuda/tests/cudapy/test_datetime.py
Owners: @rapidsai/numba-cuda-write

address review comments
  numba_cuda/numba/cuda/core/compiler.py
  numba_cuda/numba/cuda/core/generators.py
  numba_cuda/numba/cuda/target.py
Owners: @rapidsai/numba-cuda-write

chore: issubclass first argument must be a type object
  numba_cuda/numba/cuda/cudadrv/devicearray.py
Owners: @rapidsai/numba-cuda-write

chore(deps): remove invalid constraints on cuda-core
  pyproject.toml
Owners: @rapidsai/packaging-codeowners

chore: fix shell script comment typo
  ci/test_thirdparty_cudf.sh
Owners: @rapidsai/ci-codeowners

Checkpoint commit prior to switching laptop.
  LAUNCH-CONFIG-TODO.md
  numba_cuda/numba/cuda/dispatcher.py
  numba_cuda/numba/cuda/launchconfig.py
  numba_cuda/numba/cuda/tests/cudapy/test_launch_config_sensitive.py
Owners: @rapidsai/numba-cuda-write

Add launch-config-sensitive plumbing.
  numba_cuda/numba/cuda/compiler.py
  numba_cuda/numba/cuda/dispatcher.py
  numba_cuda/numba/cuda/tests/cudapy/cache_launch_config_insensitive_usecases.py
  numba_cuda/numba/cuda/tests/cudapy/cache_launch_config_sensitive_usecases.py
  numba_cuda/numba/cuda/tests/cudapy/test_caching.py
Owners: @rapidsai/numba-cuda-write

test: add test for cuda array interface branch
  numba_cuda/numba/cuda/tests/cudapy/test_cuda_array_interface.py
Owners: @rapidsai/numba-cuda-write

fix: use correct property for numba dtypes for number of bits in a type
  numba_cuda/numba/cuda/typing/typeof.py
Owners: @rapidsai/numba-cuda-write

Fix duplicate DWARF entries for boolean kernel parameters
  numba_cuda/numba/cuda/lowering.py
  numba_cuda/numba/cuda/tests/cudapy/test_debuginfo.py
Owners: @rapidsai/numba-cuda-write

Fix test location: Split array manipulation tests into cudapy and cudadrv
  numba_cuda/numba/cuda/tests/cudadrv/test_device_array_manipulation.py
  numba_cuda/numba/cuda/tests/cudapy/test_array_manipulation.py
Owners: @rapidsai/numba-cuda-write

Update numba_cuda/numba/cuda/tests/cudapy/test_array_manipulation.py
  numba_cuda/numba/cuda/tests/cudapy/test_array_manipulation.py
Owners: @rapidsai/numba-cuda-write

Update numba_cuda/numba/cuda/tests/cudadrv/test_device_array_manipulation.py
  numba_cuda/numba/cuda/tests/cudadrv/test_device_array_manipulation.py
Owners: @rapidsai/numba-cuda-write

Remove duplicate DeviceArray API tests from cudapy
  numba_cuda/numba/cuda/tests/cudapy/test_array_manipulation.py
Owners: @rapidsai/numba-cuda-write

Add Python 3.14 to the wheel publishing matrix
  ci/matrix.yml
Owners: @rapidsai/ci-codeowners

feat: swap out internal device array usage with `StridedMemoryView` (#703)
  .pre-commit-config.yaml
  ci/patches/cudf_numba_cuda_compatibility.patch
  ci/test_thirdparty_cudf.sh
  numba_cuda/numba/cuda/args.py
  numba_cuda/numba/cuda/cudadrv/devicearray.py
  numba_cuda/numba/cuda/dispatcher.py
  numba_cuda/numba/cuda/np/arrayobj.py
  numba_cuda/numba/cuda/np/numpy_support.py
  numba_cuda/numba/cuda/simulator/__init__.py
  numba_cuda/numba/cuda/simulator/api.py
  numba_cuda/numba/cuda/simulator/args.py
  numba_cuda/numba/cuda/simulator/kernel.py
  numba_cuda/numba/cuda/tests/cudapy/test_cuda_array_interface.py
  numba_cuda/numba/cuda/tests/cudapy/test_datetime.py
  numba_cuda/numba/cuda/typing/typeof.py
  pixi.lock
  pixi.toml
  pyproject.toml
Owners: @rapidsai/ci-codeowners, @rapidsai/numba-cuda-write, @rapidsai/packaging-codeowners

add cupy to test environments
  pixi.lock
  pixi.toml
Owners: none

fix several tests
  numba_cuda/numba/cuda/tests/cudapy/test_debuginfo.py
  numba_cuda/numba/cuda/tests/cudapy/test_vectorize.py
Owners: @rapidsai/numba-cuda-write

attempt to fix simulator
  numba_cuda/numba/cuda/simulator/cudadrv/devicearray.py
Owners: @rapidsai/numba-cuda-write

Fix line info for PHI exporters in continue block
  numba_cuda/numba/cuda/core/typed_passes.py
  numba_cuda/numba/cuda/tests/cudapy/test_debuginfo.py
Owners: @rapidsai/numba-cuda-write

Add Python 3.14 to the wheel publishing matrix (#750)
  ci/matrix.yml
Owners: @rapidsai/ci-codeowners

Bump version to 0.25.0
  numba_cuda/VERSION
  pixi.toml
Owners: @rapidsai/numba-cuda-write

fix more tests
  numba_cuda/numba/cuda/tests/cudapy/test_bfloat16.py
  numba_cuda/numba/cuda/tests/cudapy/test_dispatcher.py
Owners: @rapidsai/numba-cuda-write

Bump version to 0.25.0 (#752)
  numba_cuda/VERSION
  pixi.toml
Owners: @rapidsai/numba-cuda-write

[test]: migrate matmul test into pytest (#619)
  numba_cuda/numba/cuda/tests/cudapy/test_matmul.py
  numba_cuda/numba/cuda/tests/doc_examples/test_matmul.py
Owners: @rapidsai/numba-cuda-write

[test]: ignore warning for gpu under utilization (#619)
  testing/pytest.ini
Owners: none

[refactor]: proper name for matmul test; - `Test{Name}.test_{method}` -> `test_{name}`
  numba_cuda/numba/cuda/tests/cudapy/test_matmul.py
  numba_cuda/numba/cuda/tests/doc_examples/test_matmul.py
Owners: @rapidsai/numba-cuda-write

[lint]: ran lint; - `pre-commit run --all-files`
  numba_cuda/numba/cuda/tests/doc_examples/test_matmul.py
Owners: @rapidsai/numba-cuda-write

feat: support buffer inputs to numba-cuda
  numba_cuda/numba/cuda/tests/cudadrv/test_cuda_ndarray.py
  numba_cuda/numba/cuda/typing/typeof.py
Owners: @rapidsai/numba-cuda-write
