Repository NVIDIA/numba-cuda, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rapidsai/numba-cuda-write, @rapidsai/ci-codeowners, @rapidsai/packaging-codeowners

Add CUDA simulator test workflow
  .github/workflows/conda-python-simulator.yaml
  .github/workflows/pr.yaml
  .github/workflows/simulator-test.yaml
  ci/matrix.yml
  ci/test_simulator.sh
Owners: @rapidsai/ci-codeowners

Allow Numba NVRTC Binding Search Additional Paths (#254)
  docs/source/reference/envvars.rst
  docs/source/user/cuda_ffi.rst
  numba_cuda/numba/cuda/cudadrv/nvrtc.py
  numba_cuda/numba/cuda/tests/data/include/add.cuh
  numba_cuda/numba/cuda/tests/doc_examples/ffi/include/mul.cuh
  numba_cuda/numba/cuda/tests/doc_examples/ffi/saxpy.cu
  numba_cuda/numba/cuda/tests/doc_examples/test_ffi.py
Owners: @rapidsai/numba-cuda-write

Improve debug info for kernel arguments (#242)
  numba_cuda/numba/cuda/debuginfo.py
  numba_cuda/numba/cuda/target.py
  numba_cuda/numba/cuda/tests/cudapy/test_debuginfo.py
Owners: @rapidsai/numba-cuda-write

Apply suggestions from code review
  numba_cuda/numba/cuda/codegen.py
  numba_cuda/numba/cuda/decorators.py
  numba_cuda/numba/cuda/dispatcher.py
  numba_cuda/numba/cuda/tests/cudapy/test_cooperative_groups.py
Owners: @rapidsai/numba-cuda-write

Improve cooperative launch test link usage{
  numba_cuda/numba/cuda/tests/cudapy/test_cooperative_groups.py
Owners: @rapidsai/numba-cuda-write

persist `use_cooperative` for codelib
  numba_cuda/numba/cuda/codegen.py
Owners: @rapidsai/numba-cuda-write

create a separate cg test group to avoid vending run_in_separate_process
  numba_cuda/numba/cuda/tests/cudapy/cache_usecases.py
  numba_cuda/numba/cuda/tests/cudapy/cg_cache_usecases.py
  numba_cuda/numba/cuda/tests/cudapy/test_caching.py
Owners: @rapidsai/numba-cuda-write

Update numba_cuda/numba/cuda/tests/cudapy/test_caching.py
  numba_cuda/numba/cuda/tests/cudapy/test_caching.py
Owners: @rapidsai/numba-cuda-write

bump version to 0.12
  numba_cuda/VERSION
Owners: @rapidsai/numba-cuda-write

Allow External Code to Use Cooperative Group (#240)
  numba_cuda/numba/cuda/cg.py
  numba_cuda/numba/cuda/codegen.py
  numba_cuda/numba/cuda/compiler.py
  numba_cuda/numba/cuda/cudadecl.py
  numba_cuda/numba/cuda/decorators.py
  numba_cuda/numba/cuda/dispatcher.py
  numba_cuda/numba/cuda/tests/cudapy/cache_usecases.py
  numba_cuda/numba/cuda/tests/cudapy/cg_cache_usecases.py
  numba_cuda/numba/cuda/tests/cudapy/test_caching.py
  numba_cuda/numba/cuda/tests/cudapy/test_cooperative_groups.py
  numba_cuda/numba/cuda/tests/data/cta_barrier.cu
Owners: @rapidsai/numba-cuda-write

bump v0.12.0
  numba_cuda/VERSION
Owners: @rapidsai/numba-cuda-write

Bump to version 0.12.0 (#258)
  numba_cuda/VERSION
Owners: @rapidsai/numba-cuda-write

Fix publish workflow
  .github/workflows/publish.yaml
Owners: @rapidsai/ci-codeowners

Fix publish workflow (#259)
  .github/workflows/publish.yaml
Owners: @rapidsai/ci-codeowners

bump to v0.12.1
  numba_cuda/VERSION
Owners: @rapidsai/numba-cuda-write

Bump version to v0.12.1 (#260)
  numba_cuda/VERSION
Owners: @rapidsai/numba-cuda-write

Always enable pynvjitlink if available
  numba_cuda/numba/cuda/cudadrv/driver.py
Owners: @rapidsai/numba-cuda-write

update for anticipated cuda-python changes
  numba_cuda/numba/cuda/cudadrv/driver.py
Owners: @rapidsai/numba-cuda-write

Fix `test_external_cooperative_func()`
  numba_cuda/numba/cuda/tests/cudapy/test_cooperative_groups.py
Owners: @rapidsai/numba-cuda-write

Fix `test_external_cooperative_func()` (#261)
  numba_cuda/numba/cuda/tests/cudapy/test_cooperative_groups.py
Owners: @rapidsai/numba-cuda-write

Rename `numba.cuda.runtime` to `memory_management`
  numba_cuda/numba/cuda/codegen.py
  numba_cuda/numba/cuda/cudadrv/nvrtc.py
  numba_cuda/numba/cuda/dispatcher.py
  numba_cuda/numba/cuda/memory_management/__init__.py
  numba_cuda/numba/cuda/memory_management/memsys.cu
  numba_cuda/numba/cuda/memory_management/memsys.cuh
  numba_cuda/numba/cuda/memory_management/nrt.cu
  numba_cuda/numba/cuda/memory_management/nrt.cuh
  numba_cuda/numba/cuda/memory_management/nrt.py
  numba_cuda/numba/cuda/runtime/__init__.py
  numba_cuda/numba/cuda/tests/nrt/test_nrt.py
  numba_cuda/numba/cuda/tests/nrt/test_nrt_refct.py
  numba_cuda/numba/cuda/tests/support.py
  numba_cuda/numba/cuda/tests/test_binary_generation/Makefile
  numba_cuda/numba/cuda/tests/test_binary_generation/generate_raw_ltoir.py
Owners: @rapidsai/numba-cuda-write

CUDASIM: Support detection of device function calls
  numba_cuda/numba/cuda/simulator/kernel.py
Owners: @rapidsai/numba-cuda-write

Remove some invalid array reshape tests
  numba_cuda/numba/cuda/tests/cudapy/test_array.py
Owners: @rapidsai/numba-cuda-write

CUDASIM: Update to include recently-added APIs
  numba_cuda/numba/cuda/simulator/__init__.py
  numba_cuda/numba/cuda/simulator/_internal/__init__.py
  numba_cuda/numba/cuda/simulator/_internal/cuda_bf16.py
  numba_cuda/numba/cuda/simulator/api.py
  numba_cuda/numba/cuda/simulator/bf16.py
  numba_cuda/numba/cuda/simulator/compiler.py
  numba_cuda/numba/cuda/simulator/cudadrv/driver.py
  numba_cuda/numba/cuda/simulator/cudadrv/libs.py
  numba_cuda/numba/cuda/simulator/cudadrv/linkable_code.py
  numba_cuda/numba/cuda/simulator/cudadrv/nvrtc.py
  numba_cuda/numba/cuda/simulator/kernelapi.py
  numba_cuda/numba/cuda/simulator/memory_management/__init__.py
  numba_cuda/numba/cuda/simulator/memory_management/nrt.py
  numba_cuda/numba/cuda/testing.py
  numba_cuda/numba/cuda/tests/cudadrv/test_cuda_ndarray.py
  numba_cuda/numba/cuda/tests/cudadrv/test_module_callbacks.py
  numba_cuda/numba/cuda/tests/cudadrv/test_nvjitlink.py
  numba_cuda/numba/cuda/tests/cudapy/test_array_alignment.py
  numba_cuda/numba/cuda/tests/cudapy/test_bfloat16_bindings.py
  numba_cuda/numba/cuda/tests/cudapy/test_cooperative_groups.py
  numba_cuda/numba/cuda/tests/cudapy/test_enums.py
  numba_cuda/numba/cuda/tests/cudapy/test_extending.py
  numba_cuda/numba/cuda/tests/nrt/test_nrt.py
  numba_cuda/numba/cuda/tests/nrt/test_nrt_refct.py
Owners: @rapidsai/numba-cuda-write

Add CUDA simulator test workflow
  .github/workflows/pr.yaml
  .github/workflows/simulator-test.yaml
  ci/matrix.yml
  ci/test_simulator.sh
Owners: @rapidsai/ci-codeowners

CUDASIM: Support detection of device function calls
  numba_cuda/numba/cuda/simulator/kernel.py
Owners: @rapidsai/numba-cuda-write

Rename `numba.cuda.runtime` to `memory_management`
  numba_cuda/numba/cuda/codegen.py
  numba_cuda/numba/cuda/cudadrv/nvrtc.py
  numba_cuda/numba/cuda/dispatcher.py
  numba_cuda/numba/cuda/memory_management/__init__.py
  numba_cuda/numba/cuda/memory_management/memsys.cu
  numba_cuda/numba/cuda/memory_management/memsys.cuh
  numba_cuda/numba/cuda/memory_management/nrt.cu
  numba_cuda/numba/cuda/memory_management/nrt.cuh
  numba_cuda/numba/cuda/memory_management/nrt.py
  numba_cuda/numba/cuda/runtime/__init__.py
  numba_cuda/numba/cuda/tests/nrt/test_nrt.py
  numba_cuda/numba/cuda/tests/nrt/test_nrt_refct.py
  numba_cuda/numba/cuda/tests/support.py
  numba_cuda/numba/cuda/tests/test_binary_generation/Makefile
  numba_cuda/numba/cuda/tests/test_binary_generation/generate_raw_ltoir.py
Owners: @rapidsai/numba-cuda-write

CUDASIM: Update to include recently-added APIs
  numba_cuda/numba/cuda/simulator/__init__.py
  numba_cuda/numba/cuda/simulator/_internal/__init__.py
  numba_cuda/numba/cuda/simulator/_internal/cuda_bf16.py
  numba_cuda/numba/cuda/simulator/api.py
  numba_cuda/numba/cuda/simulator/bf16.py
  numba_cuda/numba/cuda/simulator/compiler.py
  numba_cuda/numba/cuda/simulator/cudadrv/driver.py
  numba_cuda/numba/cuda/simulator/cudadrv/libs.py
  numba_cuda/numba/cuda/simulator/cudadrv/linkable_code.py
  numba_cuda/numba/cuda/simulator/cudadrv/nvrtc.py
  numba_cuda/numba/cuda/simulator/kernelapi.py
  numba_cuda/numba/cuda/simulator/memory_management/__init__.py
  numba_cuda/numba/cuda/simulator/memory_management/nrt.py
  numba_cuda/numba/cuda/testing.py
  numba_cuda/numba/cuda/tests/cudadrv/test_cuda_ndarray.py
  numba_cuda/numba/cuda/tests/cudadrv/test_module_callbacks.py
  numba_cuda/numba/cuda/tests/cudadrv/test_nvjitlink.py
  numba_cuda/numba/cuda/tests/cudapy/test_array_alignment.py
  numba_cuda/numba/cuda/tests/cudapy/test_bfloat16_bindings.py
  numba_cuda/numba/cuda/tests/cudapy/test_cooperative_groups.py
  numba_cuda/numba/cuda/tests/cudapy/test_enums.py
  numba_cuda/numba/cuda/tests/cudapy/test_extending.py
  numba_cuda/numba/cuda/tests/nrt/test_nrt.py
  numba_cuda/numba/cuda/tests/nrt/test_nrt_refct.py
Owners: @rapidsai/numba-cuda-write

Remove some invalid array reshape tests
  numba_cuda/numba/cuda/tests/cudapy/test_array.py
Owners: @rapidsai/numba-cuda-write

Add CUDA simulator test workflow
  .github/workflows/pr.yaml
  .github/workflows/simulator-test.yaml
  ci/matrix.yml
  ci/test_simulator.sh
Owners: @rapidsai/ci-codeowners

pass more tests
  numba_cuda/numba/cuda/codegen.py
  numba_cuda/numba/cuda/cudadrv/driver.py
  numba_cuda/numba/cuda/tests/cudadrv/test_linker.py
Owners: @rapidsai/numba-cuda-write

deps
  conda/recipes/numba-cuda/meta.yaml
  pyproject.toml
Owners: @rapidsai/packaging-codeowners

cleanup
  numba_cuda/numba/cuda/cudadrv/driver.py
  numba_cuda/numba/cuda/tests/cudadrv/test_nvjitlink.py
Owners: @rapidsai/numba-cuda-write

small error
  numba_cuda/numba/cuda/cudadrv/driver.py
Owners: @rapidsai/numba-cuda-write

add_data, extra includes, changes from main
  numba_cuda/numba/cuda/cudadrv/driver.py
  numba_cuda/numba/cuda/tests/cudadrv/test_linker.py
Owners: @rapidsai/numba-cuda-write

remove deprecated import paths that are producing warnings
  numba_cuda/numba/cuda/cudadrv/driver.py
  numba_cuda/numba/cuda/cudadrv/mappings.py
  numba_cuda/numba/cuda/tests/cudadrv/test_module_callbacks.py
Owners: @rapidsai/numba-cuda-write

dep updates
  conda/recipes/numba-cuda/meta.yaml
  pyproject.toml
Owners: @rapidsai/packaging-codeowners

Add debug support for dynamic types
  numba_cuda/numba/cuda/debuginfo.py
  numba_cuda/numba/cuda/lowering.py
Owners: @rapidsai/numba-cuda-write

Adjust an existing test because llvm.dbg.declare is emitted on aggregate type.
  numba_cuda/numba/cuda/lowering.py
  numba_cuda/numba/cuda/tests/cudapy/test_debuginfo.py
Owners: @rapidsai/numba-cuda-write

Generate fp16 bindings using numbast
  configs/cuda_fp16.yml
  numba_cuda/numba/cuda/_internal/cuda_fp16.py
Owners: @rapidsai/numba-cuda-write

.github/CODEOWNERS:

#python code owners
numba_cuda/            @rapidsai/numba-cuda-write

#cmake code owners
**/CMakeLists.txt  @rapidsai/numba-cuda-write
**/cmake/          @rapidsai/numba-cuda-write

#CI code owners
/.github/                @rapidsai/ci-codeowners
/ci/                     @rapidsai/ci-codeowners
/.pre-commit-config.yaml @rapidsai/ci-codeowners

#packaging code owners
/.devcontainer/    @rapidsai/packaging-codeowners
/conda/            @rapidsai/packaging-codeowners
/dependencies.yaml @rapidsai/packaging-codeowners
/build.sh          @rapidsai/packaging-codeowners
pyproject.toml     @rapidsai/packaging-codeowners
