Repository NVIDIA/numba-cuda, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rapidsai/numba-cuda-write, @rapidsai/ci-codeowners, @rapidsai/packaging-codeowners

Bump version to 0.28.0 (#817)
  numba_cuda/VERSION
  pixi.toml
Owners: @rapidsai/numba-cuda-write

skip flaky test for now
  numba_cuda/numba/cuda/tests/cudapy/test_fp8_bindings.py
Owners: @rapidsai/numba-cuda-write

Support Interop with External Objects Via DLPack (#790)
  ci/coverage_report.sh
  ci/matrix.yml
  ci/test_conda.sh
  ci/test_simulator.sh
  numba_cuda/numba/cuda/np/numpy_support.py
  numba_cuda/numba/cuda/tests/cudapy/test_cupy_bfloat16_interop.py
  numba_cuda/numba/cuda/tests/cudapy/test_datetime.py
  numba_cuda/numba/cuda/typing/typeof.py
  pixi.toml
Owners: @rapidsai/ci-codeowners, @rapidsai/numba-cuda-write

skip flaky test for now (#820)
  numba_cuda/numba/cuda/tests/cudapy/test_fp8_bindings.py
Owners: @rapidsai/numba-cuda-write

Bump version to 0.28.1
  numba_cuda/VERSION
  pixi.toml
Owners: @rapidsai/numba-cuda-write

pin hash
  .github/workflows/docs-build.yaml
  .github/workflows/wheels-test.yaml
Owners: @rapidsai/ci-codeowners

Bump version to 0.28.1 (#821)
  numba_cuda/VERSION
  pixi.toml
Owners: @rapidsai/numba-cuda-write

Test cuDF third party test test_groupby_apply_return_reindexed_series
  ci/test_thirdparty_cudf.sh
Owners: @rapidsai/ci-codeowners

catch possible dlpack conversion error
  numba_cuda/numba/cuda/tests/cudapy/test_datetime.py
  numba_cuda/numba/cuda/typing/typeof.py
Owners: @rapidsai/numba-cuda-write

ensure cupy is tested against in wheel tests
  pyproject.toml
Owners: @rapidsai/packaging-codeowners

the CAI tests trigger the cuBLAS path too...
  pyproject.toml
Owners: @rapidsai/packaging-codeowners

Swallow DLPack conversion error (#825)
  numba_cuda/numba/cuda/tests/cudapy/test_datetime.py
  numba_cuda/numba/cuda/typing/typeof.py
  pyproject.toml
Owners: @rapidsai/numba-cuda-write, @rapidsai/packaging-codeowners

bump version
  numba_cuda/VERSION
Owners: @rapidsai/numba-cuda-write

Update pixi.toml
  pixi.toml
Owners: none

Fix empty DW_AT_location for reused loop variables (#811)
  numba_cuda/numba/cuda/lowering.py
  numba_cuda/numba/cuda/tests/cudapy/test_debuginfo.py
Owners: @rapidsai/numba-cuda-write

Bump version to 0.28.2 (#827)
  numba_cuda/VERSION
  pixi.toml
Owners: @rapidsai/numba-cuda-write

Extend dbg.value coverage to loadvar for scalar kernel parameters (#813)
  numba_cuda/numba/cuda/lowering.py
  numba_cuda/numba/cuda/tests/cudapy/test_debuginfo.py
Owners: @rapidsai/numba-cuda-write

Use dbg.declare for scalar kernel parameters
  numba_cuda/numba/cuda/debuginfo.py
  numba_cuda/numba/cuda/lowering.py
  numba_cuda/numba/cuda/tests/cudapy/test_debuginfo.py
  pixi.lock
  pixi.toml
Owners: @rapidsai/numba-cuda-write

Fix FP8 uint64 conversion ABI mismatch.
  numba_cuda/numba/cuda/_internal/cuda_fp8.py
  numba_cuda/numba/cuda/tests/cudapy/test_fp8_bindings.py
Owners: @rapidsai/numba-cuda-write

Avoid dbg.declare for boolean kernel parameters
  numba_cuda/numba/cuda/debuginfo.py
  numba_cuda/numba/cuda/lowering.py
Owners: @rapidsai/numba-cuda-write

Remove llvm-tools from pixi CUDA feature
  pixi.lock
  pixi.toml
Owners: none

Update debuginfo tests for dbg.declare kernel args
  numba_cuda/numba/cuda/tests/cudapy/test_debuginfo.py
Owners: @rapidsai/numba-cuda-write

style(test): apply ruff fixes in debuginfo tests
  numba_cuda/numba/cuda/tests/cudapy/test_debuginfo.py
Owners: @rapidsai/numba-cuda-write

Fix FP8 uint64 cast flake on Windows (#829)
  numba_cuda/numba/cuda/_internal/cuda_fp8.py
  numba_cuda/numba/cuda/tests/cudapy/test_fp8_bindings.py
Owners: @rapidsai/numba-cuda-write

Use dbg.declare for scalar kernel parameters (#828)
  numba_cuda/numba/cuda/debuginfo.py
  numba_cuda/numba/cuda/lowering.py
  numba_cuda/numba/cuda/tests/cudapy/test_debuginfo.py
  pixi.lock
Owners: @rapidsai/numba-cuda-write

Fix mixed-IR liveness for inline overload DCE (#795)
  numba_cuda/numba/cuda/core/analysis.py
  numba_cuda/numba/cuda/core/ir_utils.py
  numba_cuda/numba/cuda/tests/cudapy/test_numba_interop.py
Owners: @rapidsai/numba-cuda-write

Use `cuda-python` for `nvvm` bindings (#818)
  numba_cuda/numba/cuda/cudadrv/nvvm.py
  numba_cuda/numba/cuda/simulator/cudadrv/nvvm.py
  numba_cuda/numba/cuda/tests/cudadrv/test_nvvm_driver.py
Owners: @rapidsai/numba-cuda-write

fix: add cudaRoundMode enum
  numba_cuda/numba/cuda/_internal/cuda_fp8.py
  numba_cuda/numba/cuda/tests/cudapy/test_fp8_bindings.py
Owners: @rapidsai/numba-cuda-write

fix(ci): cudaRoundMode typing failure in FP8 test (#834)
  numba_cuda/numba/cuda/_internal/cuda_fp8.py
  numba_cuda/numba/cuda/tests/cudapy/test_fp8_bindings.py
Owners: @rapidsai/numba-cuda-write

Move cuda-pathfinder dependency to core
  pyproject.toml
Owners: @rapidsai/packaging-codeowners

PR Feedback: remove unused cache test stub
  numba_cuda/numba/cuda/tests/nocuda/test_cache_version.py
Owners: @rapidsai/numba-cuda-write

PR Feedback: remove duplicate test and NUMBA_ENABLE_CUDASIM.
  numba_cuda/numba/cuda/tests/nocuda/test_cache_version.py
  testing/test_cache_version.py
Owners: @rapidsai/numba-cuda-write

Add tests.
  numba_cuda/numba/cuda/tests/nocuda/test_cache_version.py
  testing/test_cache_version.py
Owners: @rapidsai/numba-cuda-write

Incorporate numba_cuda.__version__ into cache version.
  numba_cuda/numba/cuda/core/caching.py
Owners: @rapidsai/numba-cuda-write

Fix shared CUDA cache invalidation
  numba_cuda/numba/cuda/core/caching.py
  numba_cuda/numba/cuda/tests/nocuda/test_cache_version.py
Owners: @rapidsai/numba-cuda-write

Support cuda_bindings FastEnum
  numba_cuda/numba/cuda/_internal/cuda_fp8.py
  numba_cuda/numba/cuda/tests/cudapy/test_fp8_bindings.py
  numba_cuda/numba/cuda/typing/typeof.py
Owners: @rapidsai/numba-cuda-write

Support cuda.core.GraphBuilder as a kernel-launch stream
  .gitignore
  numba_cuda/numba/cuda/cudadrv/driver.py
  numba_cuda/numba/cuda/tests/cudadrv/test_cuda_driver.py
Owners: @rapidsai/numba-cuda-write

Address review: use np.testing.assert_equal, fix async copy_to_host
  numba_cuda/numba/cuda/tests/cudadrv/test_cuda_driver.py
Owners: @rapidsai/numba-cuda-write

Support cuda_bindings FastEnum (#837)
  numba_cuda/numba/cuda/_internal/cuda_fp8.py
  numba_cuda/numba/cuda/tests/cudapy/test_fp8_bindings.py
  numba_cuda/numba/cuda/typing/typeof.py
Owners: @rapidsai/numba-cuda-write

Support cuda.core.GraphBuilder as a kernel-launch stream (#836)
  .gitignore
  numba_cuda/numba/cuda/cudadrv/driver.py
  numba_cuda/numba/cuda/tests/cudadrv/test_cuda_driver.py
Owners: @rapidsai/numba-cuda-write

.github/CODEOWNERS:

#python code owners
numba_cuda/            @rapidsai/numba-cuda-write

#cmake code owners
**/CMakeLists.txt  @rapidsai/numba-cuda-write
**/cmake/          @rapidsai/numba-cuda-write

#CI code owners
/.github/                @rapidsai/ci-codeowners
/ci/                     @rapidsai/ci-codeowners
/.pre-commit-config.yaml @rapidsai/ci-codeowners

#packaging code owners
/.devcontainer/    @rapidsai/packaging-codeowners
/conda/            @rapidsai/packaging-codeowners
/dependencies.yaml @rapidsai/packaging-codeowners
/build.sh          @rapidsai/packaging-codeowners
pyproject.toml     @rapidsai/packaging-codeowners
