Repository NVIDIA/numba-cuda, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rapidsai/numba-cuda-write, @rapidsai/ci-codeowners, @rapidsai/packaging-codeowners

.github/CODEOWNERS:

#python code owners
numba_cuda/            @rapidsai/numba-cuda-write

#cmake code owners
**/CMakeLists.txt  @rapidsai/numba-cuda-write
**/cmake/          @rapidsai/numba-cuda-write

#CI code owners
/.github/                @rapidsai/ci-codeowners
/ci/                     @rapidsai/ci-codeowners
/.pre-commit-config.yaml @rapidsai/ci-codeowners

#packaging code owners
/.devcontainer/    @rapidsai/packaging-codeowners
/conda/            @rapidsai/packaging-codeowners
/dependencies.yaml @rapidsai/packaging-codeowners
/build.sh          @rapidsai/packaging-codeowners
pyproject.toml     @rapidsai/packaging-codeowners

chore: expand the match
  testing/pytest.ini
Owners: none

chore: fix warnings and imports
  numba_cuda/numba/cuda/tests/cudadrv/test_nvvm_driver.py
  testing/pytest.ini
Owners: @rapidsai/numba-cuda-write

chore: fix warning path
  testing/pytest.ini
Owners: none

chore: remove specific warning in favor of checking only the matching text
  numba_cuda/numba/cuda/tests/cudadrv/test_nvvm_driver.py
Owners: @rapidsai/numba-cuda-write

fix(allocations): ensure that allocations dict does not raise KeyError during finalization
  numba_cuda/numba/cuda/cudadrv/driver.py
Owners: @rapidsai/numba-cuda-write

test: remove test that fails and has not been running for a long time because of incorrect decorator usage
  numba_cuda/numba/cuda/tests/cudadrv/test_cuda_libraries.py
Owners: @rapidsai/numba-cuda-write

Add arch specific target support
  numba_cuda/numba/cuda/codegen.py
  numba_cuda/numba/cuda/cudadrv/driver.py
  numba_cuda/numba/cuda/cudadrv/nvrtc.py
Owners: @rapidsai/numba-cuda-write

Fix cc for pre (9, 0)
  numba_cuda/numba/cuda/codegen.py
Owners: @rapidsai/numba-cuda-write

bench: add cupy to array constructor kernel launch benchmarks
  numba_cuda/numba/cuda/tests/benchmarks/test_kernel_launch.py
  pixi.lock
  pyproject.toml
Owners: @rapidsai/numba-cuda-write, @rapidsai/packaging-codeowners

test: refactor process-based tests to use concurrent futures in order to simplify tests
  numba_cuda/numba/cuda/tests/cudadrv/test_init.py
  numba_cuda/numba/cuda/tests/cudadrv/test_runtime.py
  numba_cuda/numba/cuda/tests/cudapy/test_multiprocessing.py
  numba_cuda/numba/cuda/tests/cudapy/test_multithreads.py
  numba_cuda/numba/cuda/tests/support.py
Owners: @rapidsai/numba-cuda-write

query rumtime CTK version from libcudart.so via cuda.bindings
  numba_cuda/numba/cuda/debuginfo.py
  numba_cuda/numba/cuda/lowering.py
Owners: @rapidsai/numba-cuda-write

remove debugging statement
  numba_cuda/numba/cuda/debuginfo.py
Owners: @rapidsai/numba-cuda-write

bench: add cupy to array constructor kernel launch benchmarks (#547)
  numba_cuda/numba/cuda/tests/benchmarks/test_kernel_launch.py
  pixi.lock
  pyproject.toml
Owners: @rapidsai/numba-cuda-write, @rapidsai/packaging-codeowners

feat: add exp2 when fastmath is enabled
  numba_cuda/numba/cuda/mathimpl.py
  numba_cuda/numba/cuda/tests/cudapy/test_fastmath.py
Owners: @rapidsai/numba-cuda-write

fix: add fast_exp2f when python >= 3.11
  numba_cuda/numba/cuda/mathimpl.py
Owners: @rapidsai/numba-cuda-write

fix: test
  numba_cuda/numba/cuda/tests/cudapy/test_fastmath.py
Owners: @rapidsai/numba-cuda-write

fix: test
  numba_cuda/numba/cuda/tests/cudapy/test_fastmath.py
Owners: @rapidsai/numba-cuda-write

feat: add exp2 to libdevice
  docs/source/user/fastmath.rst
  numba_cuda/numba/cuda/libdevice.py
  numba_cuda/numba/cuda/libdevicefuncs.py
Owners: @rapidsai/numba-cuda-write

fix: revert
  docs/source/user/fastmath.rst
  numba_cuda/numba/cuda/libdevice.py
  numba_cuda/numba/cuda/libdevicefuncs.py
Owners: @rapidsai/numba-cuda-write

fix: implement exp2
  numba_cuda/numba/cuda/mathimpl.py
Owners: @rapidsai/numba-cuda-write

fix: typo
  numba_cuda/numba/cuda/mathimpl.py
  numba_cuda/numba/cuda/tests/cudapy/test_fastmath.py
Owners: @rapidsai/numba-cuda-write

nit
  numba_cuda/numba/cuda/mathimpl.py
Owners: @rapidsai/numba-cuda-write

fix: remove exp2 from unarys
  numba_cuda/numba/cuda/mathimpl.py
Owners: @rapidsai/numba-cuda-write

fix: test
  numba_cuda/numba/cuda/tests/cudapy/test_fastmath.py
Owners: @rapidsai/numba-cuda-write

chore: remove fast_nextafter
  numba_cuda/numba/cuda/mathimpl.py
Owners: @rapidsai/numba-cuda-write

fix: rely on compiler
  numba_cuda/numba/cuda/mathimpl.py
Owners: @rapidsai/numba-cuda-write

refactor: cleanup device constructor (#548)
  numba_cuda/numba/cuda/cudadrv/driver.py
Owners: @rapidsai/numba-cuda-write

fix: test
  numba_cuda/numba/cuda/tests/cudapy/test_fastmath.py
Owners: @rapidsai/numba-cuda-write

fix: pre-commit
  numba_cuda/numba/cuda/tests/cudapy/test_fastmath.py
Owners: @rapidsai/numba-cuda-write

feat: add support for `math.exp2` (#541)
  docs/source/user/cudapysupported.rst
  numba_cuda/numba/cuda/bf16.py
  numba_cuda/numba/cuda/cudamath.py
  numba_cuda/numba/cuda/fp16.py
  numba_cuda/numba/cuda/mathimpl.py
  numba_cuda/numba/cuda/tests/cudapy/test_bfloat16.py
  numba_cuda/numba/cuda/tests/cudapy/test_fastmath.py
  numba_cuda/numba/cuda/tests/cudapy/test_math.py
  numba_cuda/numba/cuda/typing/mathdecl.py
Owners: @rapidsai/numba-cuda-write

updates
  numba_cuda/numba/cuda/tests/test_array_reductions.py
Owners: @rapidsai/numba-cuda-write

fix ir-utils that was vendored in incorrectly
  numba_cuda/numba/cuda/core/ir_utils.py
Owners: @rapidsai/numba-cuda-write

deps: remove now-required dependencies from optional dependencies `pyproject.toml` table
  pixi.lock
  pyproject.toml
Owners: @rapidsai/packaging-codeowners

everything passes now, can't update errors imports in this commit -- it breaks everything
  numba_cuda/numba/cuda/compiler.py
  numba_cuda/numba/cuda/core/analysis.py
  numba_cuda/numba/cuda/core/annotations/type_annotations.py
  numba_cuda/numba/cuda/core/bytecode.py
  numba_cuda/numba/cuda/core/consts.py
  numba_cuda/numba/cuda/core/errors.py
  numba_cuda/numba/cuda/core/inline_closurecall.py
  numba_cuda/numba/cuda/core/interpreter.py
  numba_cuda/numba/cuda/core/ir.py
  numba_cuda/numba/cuda/core/ir_utils.py
  numba_cuda/numba/cuda/core/postproc.py
  numba_cuda/numba/cuda/core/rewrites/ir_print.py
  numba_cuda/numba/cuda/core/rewrites/static_binop.py
  numba_cuda/numba/cuda/core/rewrites/static_getitem.py
  numba_cuda/numba/cuda/core/rewrites/static_raise.py
  numba_cuda/numba/cuda/core/ssa.py
  numba_cuda/numba/cuda/core/transforms.py
  numba_cuda/numba/cuda/core/typed_passes.py
  numba_cuda/numba/cuda/core/typeinfer.py
  numba_cuda/numba/cuda/core/untyped_passes.py
  numba_cuda/numba/cuda/dispatcher.py
  numba_cuda/numba/cuda/lowering.py
  numba_cuda/numba/cuda/misc/coverage_support.py
  numba_cuda/numba/cuda/tests/cudapy/test_copy_propagate.py
  numba_cuda/numba/cuda/tests/cudapy/test_ir_utils.py
  numba_cuda/numba/cuda/tests/test_analysis.py
Owners: @rapidsai/numba-cuda-write

USE_NV_BINDING
  numba_cuda/numba/cuda/cudadrv/driver.py
Owners: @rapidsai/numba-cuda-write

ci: add timeout to avoid blocking the job queue
  .github/workflows/conda-python-build.yaml
  .github/workflows/conda-python-tests.yaml
  .github/workflows/docs-build.yaml
  .github/workflows/simulator-test.yaml
  .github/workflows/wheel-windows-build.yaml
  .github/workflows/wheel-windows-tests.yaml
  .github/workflows/wheels-build.yaml
  .github/workflows/wheels-test.yaml
Owners: @rapidsai/ci-codeowners

chore: add `FUTURE_TIMEOUT` to allow adjusting timeout
  numba_cuda/numba/cuda/tests/cudapy/test_ipc.py
Owners: @rapidsai/numba-cuda-write

events
  numba_cuda/numba/cuda/cudadrv/driver.py
  numba_cuda/numba/cuda/tests/cudadrv/test_events.py
Owners: @rapidsai/numba-cuda-write

patch
  numba_cuda/numba/cuda/device_init.py
  numba_cuda/numba/cuda/tests/test_array_reductions.py
Owners: @rapidsai/numba-cuda-write

skip event tests on sim
  numba_cuda/numba/cuda/tests/cudadrv/test_events.py
Owners: @rapidsai/numba-cuda-write
