Repository NVIDIA/numba-cuda, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rapidsai/numba-cuda-write, @rapidsai/ci-codeowners, @rapidsai/packaging-codeowners

Add missing nvidia-cuda-nvdisasm test dependency for nvmath device tests
  ci/test_thirdparty_nvmath.sh
Owners: @rapidsai/ci-codeowners

fix shebang
  ci/test_thirdparty_nvmath.sh
Owners: @rapidsai/ci-codeowners

nvmath-python tests: Limit to 8 workers
  ci/test_thirdparty_nvmath.sh
Owners: @rapidsai/ci-codeowners

Reduce max processes for nvmath tests again
  ci/test_thirdparty_nvmath.sh
Owners: @rapidsai/ci-codeowners

try to make nvmath tests run faster
  ci/test_thirdparty_nvmath.sh
Owners: @rapidsai/ci-codeowners

skip solverdx tests
  ci/test_thirdparty_nvmath.sh
Owners: @rapidsai/ci-codeowners

Migration to cuda-core 1.0RC (#877)
  ci/test_thirdparty_nvmath.sh
  numba_cuda/numba/cuda/_compat.py
  numba_cuda/numba/cuda/cudadrv/driver.py
  numba_cuda/numba/cuda/dispatcher.py
  numba_cuda/numba/cuda/memory_management/nrt.py
  numba_cuda/numba/cuda/tests/cudadrv/test_cuda_driver.py
  pixi.toml
  pyproject.toml
Owners: @rapidsai/ci-codeowners, @rapidsai/numba-cuda-write, @rapidsai/packaging-codeowners

Bump Version to 0.30.2
  numba_cuda/VERSION
  pixi.toml
Owners: @rapidsai/numba-cuda-write

Bump Version to 0.30.2 (#885)
  numba_cuda/VERSION
  pixi.toml
Owners: @rapidsai/numba-cuda-write

fix use of flag 0x10/16 in SET_FUNCTION_ATTRIBUTE
  numba_cuda/numba/cuda/core/byteflow.py
Owners: @rapidsai/numba-cuda-write

fix :: annotations -> annotate
  numba_cuda/numba/cuda/core/byteflow.py
Owners: @rapidsai/numba-cuda-write

wire through annotate to ignore it
  numba_cuda/numba/cuda/core/byteflow.py
  numba_cuda/numba/cuda/core/interpreter.py
Owners: @rapidsai/numba-cuda-write

update code comment
  numba_cuda/numba/cuda/core/byteflow.py
Owners: @rapidsai/numba-cuda-write

use hex and binary AND instead of ints and equals
  numba_cuda/numba/cuda/core/byteflow.py
Owners: @rapidsai/numba-cuda-write

Add missing vendor-in changes to numba-cuda (#454)
  numba_cuda/numba/cuda/core/interpreter.py
  numba_cuda/numba/cuda/core/transforms.py
  numba_cuda/numba/cuda/utils.py
Owners: @rapidsai/numba-cuda-write

Comment out some unused assertion functions from TestCase class
  numba_cuda/numba/cuda/tests/support.py
Owners: @rapidsai/numba-cuda-write

Move subprocess functions outside TestCase class
  numba_cuda/numba/cuda/tests/cudapy/test_extending.py
  numba_cuda/numba/cuda/tests/support.py
Owners: @rapidsai/numba-cuda-write

Move arithmetic functions outside TestCase class
  numba_cuda/numba/cuda/tests/core/test_serialize.py
  numba_cuda/numba/cuda/tests/cudadrv/test_array_attr.py
  numba_cuda/numba/cuda/tests/cudapy/cache_usecases.py
  numba_cuda/numba/cuda/tests/cudapy/cache_with_cpu_usecases.py
  numba_cuda/numba/cuda/tests/cudapy/test_analysis.py
  numba_cuda/numba/cuda/tests/cudapy/test_array.py
  numba_cuda/numba/cuda/tests/cudapy/test_array_reductions.py
  numba_cuda/numba/cuda/tests/cudapy/test_caching.py
  numba_cuda/numba/cuda/tests/cudapy/test_complex.py
  numba_cuda/numba/cuda/tests/cudapy/test_datetime.py
  numba_cuda/numba/cuda/tests/cudapy/test_debuginfo.py
  numba_cuda/numba/cuda/tests/cudapy/test_dispatcher.py
  numba_cuda/numba/cuda/tests/cudapy/test_enums.py
  numba_cuda/numba/cuda/tests/cudapy/test_extending.py
  numba_cuda/numba/cuda/tests/cudapy/test_gufunc_scalar.py
  numba_cuda/numba/cuda/tests/cudapy/test_intrinsics.py
  numba_cuda/numba/cuda/tests/cudapy/test_recursion.py
  numba_cuda/numba/cuda/tests/support.py
Owners: @rapidsai/numba-cuda-write

Replace numba.runtests with pytest in subprocess_test_runner
  numba_cuda/numba/cuda/tests/support.py
Owners: @rapidsai/numba-cuda-write

Move reset_module_warnings outside TestCase class
  numba_cuda/numba/cuda/tests/cudapy/test_overload.py
  numba_cuda/numba/cuda/tests/cudapy/test_ufuncs.py
  numba_cuda/numba/cuda/tests/support.py
Owners: @rapidsai/numba-cuda-write

Migrate test_flow_control from unittest to pytest
  numba_cuda/numba/cuda/tests/cudapy/test_flow_control.py
  numba_cuda/numba/cuda/tests/support.py
Owners: @rapidsai/numba-cuda-write

Simplify test_id generation to support tests running in parallel
  numba_cuda/numba/cuda/tests/support.py
  numba_cuda/numba/cuda/tests/test_support.py
Owners: @rapidsai/numba-cuda-write

Refactor test_id generating behavior for pytest usage
  numba_cuda/numba/cuda/tests/cudapy/test_overload.py
  numba_cuda/numba/cuda/tests/support.py
  numba_cuda/numba/cuda/tests/test_support.py
Owners: @rapidsai/numba-cuda-write

Address conda-specific CI failure
  numba_cuda/numba/cuda/tests/support.py
Owners: @rapidsai/numba-cuda-write

Remove TestCase class from support.py
  numba_cuda/numba/cuda/testing.py
  numba_cuda/numba/cuda/tests/core/test_serialize.py
  numba_cuda/numba/cuda/tests/cudapy/test_analysis.py
  numba_cuda/numba/cuda/tests/cudapy/test_array_reductions.py
  numba_cuda/numba/cuda/tests/cudapy/test_byteflow.py
  numba_cuda/numba/cuda/tests/cudapy/test_caching.py
  numba_cuda/numba/cuda/tests/cudapy/test_extending.py
  numba_cuda/numba/cuda/tests/cudapy/test_ufuncs.py
  numba_cuda/numba/cuda/tests/support.py
Owners: @rapidsai/numba-cuda-write

Fix sccache summary to count CUDA sub-tool cache hits (#878)
  .github/actions/sccache-summary/action.yml
Owners: @rapidsai/ci-codeowners

docs: add Windows test commands
  README.md
Owners: none

BUG: Fix CUDADispatcher.compile_device ignoring abi flag
  numba_cuda/numba/cuda/dispatcher.py
Owners: @rapidsai/numba-cuda-write

backport 1.0 changes
  numba_cuda/numba/cuda/_compat.py
  numba_cuda/numba/cuda/cudadrv/driver.py
  numba_cuda/numba/cuda/dispatcher.py
  numba_cuda/numba/cuda/memory_management/nrt.py
  numba_cuda/numba/cuda/tests/cudadrv/test_cuda_driver.py
  pixi.toml
  pyproject.toml
Owners: @rapidsai/numba-cuda-write, @rapidsai/packaging-codeowners

round fixes
  numba_cuda/numba/cuda/_internal/cuda_fp8.py
  numba_cuda/numba/cuda/tests/cudapy/test_fp8_bindings.py
Owners: @rapidsai/numba-cuda-write

fixi
  pixi.lock
Owners: none

pin pixi version
  .github/workflows/conda-python-tests.yaml
  .github/workflows/docs-build.yaml
  .github/workflows/simulator-test.yaml
Owners: @rapidsai/ci-codeowners

Support cuda-core 1.0 (#892)
  .github/workflows/conda-python-tests.yaml
  .github/workflows/docs-build.yaml
  .github/workflows/simulator-test.yaml
  numba_cuda/numba/cuda/_compat.py
  numba_cuda/numba/cuda/_internal/cuda_fp8.py
  numba_cuda/numba/cuda/cudadrv/driver.py
  numba_cuda/numba/cuda/dispatcher.py
  numba_cuda/numba/cuda/memory_management/nrt.py
  numba_cuda/numba/cuda/tests/cudadrv/test_cuda_driver.py
  numba_cuda/numba/cuda/tests/cudapy/test_fp8_bindings.py
  pixi.lock
  pixi.toml
  pyproject.toml
Owners: @rapidsai/ci-codeowners, @rapidsai/numba-cuda-write, @rapidsai/packaging-codeowners

bump version
  numba_cuda/VERSION
Owners: @rapidsai/numba-cuda-write

Add test asserting cuda.jit(abi='c') output
  numba_cuda/numba/cuda/tests/cudapy/test_cuda_jit_abi.py
Owners: @rapidsai/numba-cuda-write

Fix CallStack.register orphan lock if exception fires before try/finally
  numba_cuda/numba/cuda/tests/nocuda/test_callstack_register_orphan_lock.py
  numba_cuda/numba/cuda/typing/context.py
Owners: @rapidsai/numba-cuda-write

Bump v0.28-patches branch to an RC version (#894)
  numba_cuda/VERSION
Owners: @rapidsai/numba-cuda-write

Support free-threaded Python in native extensions
  numba_cuda/numba/cuda/cext/_dispatcher.cpp
  numba_cuda/numba/cuda/cext/_helpermod.c
  numba_cuda/numba/cuda/cext/_pymodule.h
  numba_cuda/numba/cuda/cext/_typeconv.cpp
  numba_cuda/numba/cuda/cext/_typeof.cpp
  numba_cuda/numba/cuda/cext/mviewbuf.c
  numba_cuda/numba/cuda/cext/typeconv.cpp
  numba_cuda/numba/cuda/cext/typeconv.hpp
  numba_cuda/numba/cuda/tests/nocuda/test_import.py
  numba_cuda/numba/cuda/tests/nocuda/test_typeconv_threading.py
  setup.py
Owners: @rapidsai/numba-cuda-write

Enable cp314t wheel builds
  .github/workflows/build-wheel.yml
  .github/workflows/ci.yaml
  ci/test-matrix.yml
  docs/source/user/installation.rst
Owners: @rapidsai/ci-codeowners

Use importlib pytest mode for CUDA tests
  testing/pytest.ini
Owners: none

.github/CODEOWNERS:

#python code owners
numba_cuda/            @rapidsai/numba-cuda-write

#cmake code owners
**/CMakeLists.txt  @rapidsai/numba-cuda-write
**/cmake/          @rapidsai/numba-cuda-write

#CI code owners
/.github/                @rapidsai/ci-codeowners
/ci/                     @rapidsai/ci-codeowners
/.pre-commit-config.yaml @rapidsai/ci-codeowners

#packaging code owners
/.devcontainer/    @rapidsai/packaging-codeowners
/conda/            @rapidsai/packaging-codeowners
/dependencies.yaml @rapidsai/packaging-codeowners
/build.sh          @rapidsai/packaging-codeowners
pyproject.toml     @rapidsai/packaging-codeowners
