Repository NVIDIA/numba-cuda, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rapidsai/numba-cuda-write, @rapidsai/ci-codeowners, @rapidsai/packaging-codeowners

fix(allocations): ensure that allocations dict does not raise KeyError during finalization
  numba_cuda/numba/cuda/cudadrv/driver.py
Owners: @rapidsai/numba-cuda-write

test: remove test that fails and has not been running for a long time because of incorrect decorator usage
  numba_cuda/numba/cuda/tests/cudadrv/test_cuda_libraries.py
Owners: @rapidsai/numba-cuda-write

chore: fix format string for TheMSys size_t member
  numba_cuda/numba/cuda/memory_management/memsys.cu
Owners: @rapidsai/numba-cuda-write

chore: ignore more warnings
  testing/pytest.ini
Owners: none

chore: windows
  testing/pytest.ini
Owners: none

test: revert imports back to main
  numba_cuda/numba/cuda/tests/cudapy/test_lineinfo.py
  numba_cuda/numba/cuda/tests/cudapy/test_warning.py
Owners: @rapidsai/numba-cuda-write

chore: disable some perf warnings
  numba_cuda/numba/cuda/tests/test_array_reductions.py
  testing/pytest.ini
Owners: @rapidsai/numba-cuda-write

chore: simplify type inference test
  numba_cuda/numba/cuda/tests/cudapy/test_typeinfer.py
Owners: @rapidsai/numba-cuda-write

chore: bump lock file
  pixi.lock
Owners: none

test: fix warning class path
  testing/pytest.ini
Owners: none

chore: fix nvjitlink warning capture
  testing/pytest.ini
Owners: none

chore: fix error class path
  testing/pytest.ini
Owners: none

chore: fix even more warnings
  testing/pytest.ini
Owners: none

chore: disable more warnings
  testing/pytest.ini
Owners: none

chore: tighten up the message code
  numba_cuda/numba/cuda/core/typed_passes.py
  numba_cuda/numba/cuda/core/untyped_passes.py
Owners: @rapidsai/numba-cuda-write

test: move error class paths to numba.cuda.core from numba.core
  testing/pytest.ini
Owners: none

move files, add NRTEnablingCUDATestCase
  numba_cuda/numba/cuda/testing.py
  numba_cuda/numba/cuda/tests/cudapy/test_array_methods.py
  numba_cuda/numba/cuda/tests/cudapy/test_array_reductions.py
Owners: @rapidsai/numba-cuda-write

Revert "Remove MakeFunctionToJitFunction pass, which implicitly uses njit, not a use case we intend to support"
  numba_cuda/numba/cuda/compiler.py
  numba_cuda/numba/cuda/core/untyped_passes.py
Owners: @rapidsai/numba-cuda-write

add another dirname for the basepath since numba.cuda adds a level in the directory chain
  numba_cuda/numba/cuda/typing/templates.py
Owners: @rapidsai/numba-cuda-write

remove individual test skips, there's already one for the module
  numba_cuda/numba/cuda/tests/core/test_serialize.py
Owners: @rapidsai/numba-cuda-write

address more review comments
  numba_cuda/numba/cuda/__init__.py
  numba_cuda/numba/cuda/core/ir.py
  numba_cuda/numba/cuda/core/untyped_passes.py
  numba_cuda/numba/cuda/cpython/listobj.py
  numba_cuda/numba/cuda/misc/mergesort.py
  numba_cuda/numba/cuda/misc/quicksort.py
  numba_cuda/numba/cuda/np/arraymath.py
  numba_cuda/numba/cuda/np/arrayobj.py
  numba_cuda/numba/cuda/np/polynomial/polynomial_functions.py
  numba_cuda/numba/cuda/random.py
  numba_cuda/numba/cuda/typing/arraydecl.py
  numba_cuda/numba/cuda/typing/npydecl.py
Owners: @rapidsai/numba-cuda-write

cleanup
  numba_cuda/numba/cuda/target.py
  numba_cuda/numba/cuda/typing/context.py
Owners: @rapidsai/numba-cuda-write

chore: revert back to numba.core
  testing/pytest.ini
Owners: none

Fix registration with Numba, vendor MakeFunctionToJITFunction tests
  numba_cuda/numba/cuda/initialize.py
  numba_cuda/numba/cuda/tests/cudapy/test_make_function_to_jit_function.py
Owners: @rapidsai/numba-cuda-write

more tests, buggy copy exposed again
  numba_cuda/numba/cuda/tests/cudapy/test_array_reductions.py
  numba_cuda/numba/cuda/ufuncs.py
Owners: @rapidsai/numba-cuda-write

add guard for JIT_COVERAGE attr in config used
  numba_cuda/numba/cuda/misc/coverage_support.py
Owners: @rapidsai/numba-cuda-write

Skip typing error tests on cudasim
  numba_cuda/numba/cuda/tests/cudapy/test_make_function_to_jit_function.py
Owners: @rapidsai/numba-cuda-write

chore: still a newline
  testing/pytest.ini
Owners: none

chore: add simtest
  pixi.toml
Owners: none

chore(deps): move to self-contained pixi.toml to avoid mixed-pypi-pixi environments
  pyproject.toml
Owners: @rapidsai/packaging-codeowners

chore: revert pyproject.toml dep changes
  pyproject.toml
Owners: @rapidsai/packaging-codeowners

ci: replace conda ci with pixi
  ci/test_conda.sh
  pixi.lock
  pixi.toml
Owners: @rapidsai/ci-codeowners

ci: only install the required environment
  .github/workflows/conda-python-tests.yaml
  ci/test_conda.sh
Owners: @rapidsai/ci-codeowners

ci: install pixi in ci
  .github/workflows/conda-python-tests.yaml
Owners: @rapidsai/ci-codeowners

chore: let more deps float and constrain using `cuda-version`
  pixi.toml
Owners: none

ci: install without the action for now
  .github/workflows/conda-python-tests.yaml
Owners: @rapidsai/ci-codeowners

chore: fix license capitalization
  pixi.lock
  pyproject.toml
Owners: @rapidsai/packaging-codeowners

ci: hack install
  .github/workflows/conda-python-tests.yaml
  ci/test_conda.sh
Owners: @rapidsai/ci-codeowners

chore: remove unnecessary popd
  ci/test_conda.sh
Owners: @rapidsai/ci-codeowners

chore: add `build` feature to avoid large deps in default deps
  pixi.lock
  pixi.toml
Owners: none

.github/CODEOWNERS:

#python code owners
numba_cuda/            @rapidsai/numba-cuda-write

#cmake code owners
**/CMakeLists.txt  @rapidsai/numba-cuda-write
**/cmake/          @rapidsai/numba-cuda-write

#CI code owners
/.github/                @rapidsai/ci-codeowners
/ci/                     @rapidsai/ci-codeowners
/.pre-commit-config.yaml @rapidsai/ci-codeowners

#packaging code owners
/.devcontainer/    @rapidsai/packaging-codeowners
/conda/            @rapidsai/packaging-codeowners
/dependencies.yaml @rapidsai/packaging-codeowners
/build.sh          @rapidsai/packaging-codeowners
pyproject.toml     @rapidsai/packaging-codeowners
