Repository NVIDIA/numba-cuda, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rapidsai/numba-cuda-write, @rapidsai/ci-codeowners, @rapidsai/packaging-codeowners

Make py3.9 a supported python version for cext.
  numba_cuda/numba/cuda/cext/_pymodule.h
Owners: @rapidsai/numba-cuda-write

Make CI build-docs and simulator workflows point to correct build
  .github/workflows/docs-build.yaml
  .github/workflows/simulator-test.yaml
Owners: @rapidsai/ci-codeowners

fix bfloat16 expected ptx
  numba_cuda/numba/cuda/tests/cudapy/test_bfloat16_bindings.py
Owners: @rapidsai/numba-cuda-write

remove unneeded comments, remove powershell workarounds
  ci/test_wheel.ps1
  numba_cuda/numba/cuda/cudadrv/nvrtc.py
Owners: @rapidsai/ci-codeowners, @rapidsai/numba-cuda-write

handle the case where the legacy type system attribute is not in numba.core.config
  numba_cuda/numba/cuda/np/npyfuncs.py
Owners: @rapidsai/numba-cuda-write

Vendor in cpython math impls
  numba_cuda/numba/cuda/cpython/cmathimpl.py
  numba_cuda/numba/cuda/cpython/mathimpl.py
  numba_cuda/numba/cuda/cpython/numbers.py
  numba_cuda/numba/cuda/target.py
  numba_cuda/numba/cuda/tests/nocuda/test_import.py
  numba_cuda/numba/cuda/ufuncs.py
Owners: @rapidsai/numba-cuda-write

remove newly duplicated registries + leave comments for future reintroduction
  numba_cuda/numba/cuda/cpython/cmathimpl.py
  numba_cuda/numba/cuda/cpython/mathimpl.py
  numba_cuda/numba/cuda/target.py
Owners: @rapidsai/numba-cuda-write

Adds SPDX identifiers to newly added files
  numba_cuda/numba/cuda/cpython/cmathimpl.py
  numba_cuda/numba/cuda/cpython/mathimpl.py
  numba_cuda/numba/cuda/cpython/numbers.py
Owners: @rapidsai/numba-cuda-write

Updates cmathimpl and mathimpl overloads to be CUDA-target specific
  numba_cuda/numba/cuda/cpython/cmathimpl.py
  numba_cuda/numba/cuda/cpython/mathimpl.py
Owners: @rapidsai/numba-cuda-write

add workaround for nvrtc resolving builtins DLL
  numba_cuda/numba/cuda/cuda_paths.py
Owners: @rapidsai/numba-cuda-write

Make CI scripts point to the right conda-repo-py dirs
  ci/build_docs.sh
  ci/test_conda.sh
  ci/test_conda_ctypes_binding.sh
  ci/test_simulator.sh
Owners: @rapidsai/ci-codeowners

adds registries for cmathimpl, mathimpl, and ensures we use the cudaimpl registry for numbers
  numba_cuda/numba/cuda/cpython/cmathimpl.py
  numba_cuda/numba/cuda/cpython/mathimpl.py
  numba_cuda/numba/cuda/cpython/numbers.py
  numba_cuda/numba/cuda/cudaimpl.py
  numba_cuda/numba/cuda/target.py
Owners: @rapidsai/numba-cuda-write

[Refactor] Vendor in npyfuncs for CUDA-specific customization (#374)
  numba_cuda/numba/cuda/np/npyfuncs.py
  numba_cuda/numba/cuda/ufuncs.py
Owners: @rapidsai/numba-cuda-write

linker use cc passed from higher level
  numba_cuda/numba/cuda/cudadrv/driver.py
Owners: @rapidsai/numba-cuda-write

Bfloat Test Expects Different PTX Based on CC (#428)
  numba_cuda/numba/cuda/tests/cudapy/test_bfloat16_bindings.py
Owners: @rapidsai/numba-cuda-write

more CUDA 13 directory fixes and add DLL directory before potentially loading nvrtc wheel
  numba_cuda/numba/cuda/cuda_paths.py
Owners: @rapidsai/numba-cuda-write

just rely on wheel imports to return nvrtc paths
  numba_cuda/numba/cuda/cuda_paths.py
Owners: @rapidsai/numba-cuda-write

handle situation where CUDA 13 nvrtc wheel isn't installed but other CUDA 13 wheels are
  ci/test_wheel.ps1
  numba_cuda/numba/cuda/cuda_paths.py
Owners: @rapidsai/ci-codeowners, @rapidsai/numba-cuda-write

Add Windows CI for CUDA 12 (#396)
  .github/workflows/install_gpu_driver.ps1
  .github/workflows/pr.yaml
  .github/workflows/wheel-windows-tests.yaml
  ci/get_test_binary_dir.py
  ci/test_wheel.ps1
  numba_cuda/numba/cuda/cuda_paths.py
  numba_cuda/numba/cuda/cudadrv/driver.py
  numba_cuda/numba/cuda/cudadrv/nvrtc.py
Owners: @rapidsai/ci-codeowners, @rapidsai/numba-cuda-write

Botched attempt to fix things up, nrt tests not working
  numba_cuda/numba/cuda/memory_management/__init__.py
  numba_cuda/numba/cuda/memory_management/arrayobj_extras.py
  numba_cuda/numba/cuda/memory_management/nrt.py
Owners: @rapidsai/numba-cuda-write

Partial fixes, committing to switch branch
  numba_cuda/numba/cuda/core/typed_passes.py
  numba_cuda/numba/cuda/cpython/cmathimpl.py
  numba_cuda/numba/cuda/cpython/mathimpl.py
  numba_cuda/numba/cuda/cpython/numbers.py
  numba_cuda/numba/cuda/target.py
Owners: @rapidsai/numba-cuda-write

Undo temp fix
  numba_cuda/numba/cuda/core/typed_passes.py
Owners: @rapidsai/numba-cuda-write

Fix erroneous attribute name
  numba_cuda/numba/cuda/cpython/numbers.py
Owners: @rapidsai/numba-cuda-write

add test to link for a different CC
  numba_cuda/numba/cuda/tests/cudadrv/test_linker.py
Owners: @rapidsai/numba-cuda-write

Change numpy ver for py3.9 build to 2.0.2 to support 1.x and 2.x
  conda/recipes/numba-cuda/meta.yaml
Owners: @rapidsai/packaging-codeowners

[Refactor][NFC] Vendor in testing support utils
  numba_cuda/numba/cuda/tests/__init__.py
  numba_cuda/numba/cuda/tests/core/test_serialize.py
  numba_cuda/numba/cuda/tests/cudapy/test_debuginfo.py
  numba_cuda/numba/cuda/tests/cudapy/test_ssa.py
  numba_cuda/numba/cuda/tests/cudapy/test_ufuncs.py
  numba_cuda/numba/cuda/tests/cudapy/test_vectorize_decor.py
  numba_cuda/numba/cuda/tests/support.py
Owners: @rapidsai/numba-cuda-write

[Refactor][NFC] Vendor-in core Numba analysis utils for CUDA-specific changes
  numba_cuda/numba/cuda/core/analysis.py
  numba_cuda/numba/cuda/core/controlflow.py
  numba_cuda/numba/cuda/core/ir_utils.py
  numba_cuda/numba/cuda/core/ssa.py
  numba_cuda/numba/cuda/core/untyped_passes.py
  numba_cuda/numba/cuda/lowering.py
Owners: @rapidsai/numba-cuda-write

[Refactor][NFC] Vendor-in core Numba byteflow utils for CUDA-specific changes
  numba_cuda/numba/cuda/core/byteflow.py
  numba_cuda/numba/cuda/core/interpreter.py
Owners: @rapidsai/numba-cuda-write

[Refactor][NFC] Vendor-in Inline Closure Call Pass for future CUDA-specific changes
  numba_cuda/numba/cuda/compiler.py
  numba_cuda/numba/cuda/core/inline_closurecall.py
  numba_cuda/numba/cuda/core/ir_utils.py
  numba_cuda/numba/cuda/core/typed_passes.py
  numba_cuda/numba/cuda/core/untyped_passes.py
  numba_cuda/numba/cuda/typing/templates.py
Owners: @rapidsai/numba-cuda-write

add python 3.9 support back, there's no functional change that needs to be made
  numba_cuda/numba/cuda/core/controlflow.py
Owners: @rapidsai/numba-cuda-write

fix dangling import to upstream utils
  numba_cuda/numba/cuda/core/byteflow.py
Owners: @rapidsai/numba-cuda-write

address review comments
  numba_cuda/numba/cuda/cudadrv/driver.py
  numba_cuda/numba/cuda/tests/cudadrv/test_linker.py
Owners: @rapidsai/numba-cuda-write

fix import of unsupported bytecode error
  numba_cuda/numba/cuda/core/byteflow.py
Owners: @rapidsai/numba-cuda-write

CI with pip install -e to ensure C extensions are properly linked
  conda/recipes/numba-cuda/meta.yaml
Owners: @rapidsai/packaging-codeowners

Fix CI build
  conda/recipes/numba-cuda/meta.yaml
Owners: @rapidsai/packaging-codeowners

add support back for python 3.9
  numba_cuda/numba/cuda/core/byteflow.py
Owners: @rapidsai/numba-cuda-write

[Cleanup] Remove unsupported prange usage on CUDA target in ir_utils
  numba_cuda/numba/cuda/core/ir_utils.py
Owners: @rapidsai/numba-cuda-write

[Cleanup] remove dangling import to upstream cgutils
  numba_cuda/numba/cuda/lowering.py
  numba_cuda/numba/cuda/np/npyfuncs.py
Owners: @rapidsai/numba-cuda-write

[Cleanup] Replace dangling import to upstream compile_result with vendored in cuda_compile_result
  numba_cuda/numba/cuda/core/typed_passes.py
Owners: @rapidsai/numba-cuda-write

[Cleanup] always assume legacy Numba type system
  numba_cuda/numba/cuda/core/ir_utils.py
  numba_cuda/numba/cuda/np/npyfuncs.py
  numba_cuda/numba/cuda/np/numpy_support.py
Owners: @rapidsai/numba-cuda-write

.github/CODEOWNERS:

#python code owners
numba_cuda/            @rapidsai/numba-cuda-write

#cmake code owners
**/CMakeLists.txt  @rapidsai/numba-cuda-write
**/cmake/          @rapidsai/numba-cuda-write

#CI code owners
/.github/                @rapidsai/ci-codeowners
/ci/                     @rapidsai/ci-codeowners
/.pre-commit-config.yaml @rapidsai/ci-codeowners

#packaging code owners
/.devcontainer/    @rapidsai/packaging-codeowners
/conda/            @rapidsai/packaging-codeowners
/dependencies.yaml @rapidsai/packaging-codeowners
/build.sh          @rapidsai/packaging-codeowners
pyproject.toml     @rapidsai/packaging-codeowners
