Repository NVIDIA/numba-cuda, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rapidsai/numba-cuda-write, @rapidsai/ci-codeowners, @rapidsai/packaging-codeowners

.github/CODEOWNERS:

#python code owners
numba_cuda/            @rapidsai/numba-cuda-write

#cmake code owners
**/CMakeLists.txt  @rapidsai/numba-cuda-write
**/cmake/          @rapidsai/numba-cuda-write

#CI code owners
/.github/                @rapidsai/ci-codeowners
/ci/                     @rapidsai/ci-codeowners
/.pre-commit-config.yaml @rapidsai/ci-codeowners

#packaging code owners
/.devcontainer/    @rapidsai/packaging-codeowners
/conda/            @rapidsai/packaging-codeowners
/dependencies.yaml @rapidsai/packaging-codeowners
/build.sh          @rapidsai/packaging-codeowners
pyproject.toml     @rapidsai/packaging-codeowners

skip if machine does not support FP8 natively
  numba_cuda/numba/cuda/api.py
  numba_cuda/numba/cuda/cudadrv/driver.py
  numba_cuda/numba/cuda/simulator/api.py
  numba_cuda/numba/cuda/tests/cudapy/test_fp8_bindings.py
Owners: @rapidsai/numba-cuda-write

feat: Add documentation for debugging Numba CUDA programs with CUDA GDB and VSCode (#665)
  .pre-commit-config.yaml
  docs/source/_static/kernel-entry.png
  docs/source/_static/launch-json.png
  docs/source/_static/run-control.png
  docs/source/_static/starting-debugging.png
  docs/source/user/debugging.rst
  docs/source/user/index.rst
  examples/debugging/.vscode/launch.json
  examples/debugging/.vscode/settings.json
  examples/debugging/debugging.code-workspace
  examples/debugging/hello.py
Owners: @rapidsai/ci-codeowners

Remove unused `rtapi.py` (#773)
  numba_cuda/numba/cuda/cudadrv/rtapi.py
Owners: @rapidsai/numba-cuda-write

remove a debug test file
  numba_cuda/numba/cuda/tests/cudapy/test_fp8_e4m3_int8_debug.py
Owners: @rapidsai/numba-cuda-write

skip tests on simulators
  numba_cuda/numba/cuda/tests/cudapy/test_fp8_bindings.py
Owners: @rapidsai/numba-cuda-write

fix: fix boolean return type mismatch in C ABI wrapper (#770)
  numba_cuda/numba/cuda/core/callconv.py
  numba_cuda/numba/cuda/tests/cudapy/test_compiler.py
Owners: @rapidsai/numba-cuda-write

Add CUDA FP8 type + conversion bindings (E5M2/E4M3/E8M0), HW-accel detection, and comprehensive tests (#686)
  configs/cuda_fp8.yml
  numba_cuda/numba/cuda/_internal/cuda_fp8.py
  numba_cuda/numba/cuda/api.py
  numba_cuda/numba/cuda/cudadrv/driver.py
  numba_cuda/numba/cuda/fp8.py
  numba_cuda/numba/cuda/include/12/cuda_fp8.h
  numba_cuda/numba/cuda/include/12/cuda_fp8.hpp
  numba_cuda/numba/cuda/include/13/cuda_fp8.h
  numba_cuda/numba/cuda/include/13/cuda_fp8.hpp
  numba_cuda/numba/cuda/simulator/api.py
  numba_cuda/numba/cuda/target.py
  numba_cuda/numba/cuda/tests/cudapy/test_fp8_bindings.py
  pyproject.toml
Owners: @rapidsai/numba-cuda-write, @rapidsai/packaging-codeowners

fix: stricter type check
  numba_cuda/numba/cuda/cudadrv/dummyarray.py
Owners: @rapidsai/numba-cuda-write

fix: noramlise to int
  numba_cuda/numba/cuda/cudadrv/devicearray.py
  numba_cuda/numba/cuda/cudadrv/dummyarray.py
Owners: @rapidsai/numba-cuda-write

feat: add test
  numba_cuda/numba/cuda/tests/nocuda/test_dummyarray.py
Owners: @rapidsai/numba-cuda-write

Bump version to 0.27.0
  numba_cuda/VERSION
  pixi.toml
Owners: @rapidsai/numba-cuda-write

Fix CI checks job to also fail on dependency failures
  .github/workflows/ci-new.yaml
Owners: @rapidsai/ci-codeowners

Fix simulator errors
  numba_cuda/numba/cuda/simulator/__init__.py
  numba_cuda/numba/cuda/tests/cudadrv/test_cuda_ndarray.py
  numba_cuda/numba/cuda/tests/cudapy/test_fp8_bindings.py
Owners: @rapidsai/numba-cuda-write

Fix simulator errors
  numba_cuda/numba/cuda/simulator/__init__.py
  numba_cuda/numba/cuda/tests/cudadrv/test_cuda_ndarray.py
  numba_cuda/numba/cuda/tests/cudapy/test_fp8_bindings.py
Owners: @rapidsai/numba-cuda-write

Bump version to 0.27.0 (#776)
  numba_cuda/VERSION
  numba_cuda/numba/cuda/simulator/__init__.py
  numba_cuda/numba/cuda/tests/cudadrv/test_cuda_ndarray.py
  numba_cuda/numba/cuda/tests/cudapy/test_fp8_bindings.py
  pixi.toml
Owners: @rapidsai/numba-cuda-write

Fix pnputil to only restart NVIDIA display adapters
  ci/tools/install_gpu_driver.ps1
Owners: @rapidsai/ci-codeowners

Fix CI checks job to also fail on dependency failures (#777)
  .github/workflows/ci-new.yaml
Owners: @rapidsai/ci-codeowners

fix: validate before normalising
  numba_cuda/numba/cuda/cudadrv/devicearray.py
  numba_cuda/numba/cuda/cudadrv/dummyarray.py
Owners: @rapidsai/numba-cuda-write

Update numba_cuda/numba/cuda/cudadrv/driver.py
  numba_cuda/numba/cuda/cudadrv/driver.py
Owners: @rapidsai/numba-cuda-write

remove more apparently dead code
  numba_cuda/numba/cuda/cudadrv/driver.py
Owners: @rapidsai/numba-cuda-write

Remove `enums` and unused ctypes code that required it (#775)
  numba_cuda/numba/cuda/cudadrv/driver.py
  numba_cuda/numba/cuda/cudadrv/enums.py
Owners: @rapidsai/numba-cuda-write

temporary fix for status==None in basecontext
  numba_cuda/numba/cuda/core/base.py
  numba_cuda/numba/cuda/tests/cudapy/test_compiler.py
Owners: @rapidsai/numba-cuda-write

fix: remove unnecessary busy-wait and time-based assertions.
  numba_cuda/numba/cuda/tests/cudadrv/test_events.py
Owners: @rapidsai/numba-cuda-write

clear rtsys at context reset
  numba_cuda/numba/cuda/cudadrv/driver.py
Owners: @rapidsai/numba-cuda-write

Clear `rtsys` during context reset (#783)
  numba_cuda/numba/cuda/cudadrv/driver.py
Owners: @rapidsai/numba-cuda-write

partial
  numba_cuda/numba/cuda/cudadrv/devices.py
  numba_cuda/numba/cuda/cudadrv/driver.py
Owners: @rapidsai/numba-cuda-write

small fixes/some progress
  numba_cuda/numba/cuda/cudadrv/driver.py
  numba_cuda/numba/cuda/tests/cudadrv/test_context_stack.py
Owners: @rapidsai/numba-cuda-write

move call_conv initialization from CUDAFlags to `compile_cuda`
  numba_cuda/numba/cuda/compiler.py
  numba_cuda/numba/cuda/core/compiler.py
  numba_cuda/numba/cuda/core/typed_passes.py
  numba_cuda/numba/cuda/flags.py
  numba_cuda/numba/cuda/simulator/compiler.py
  numba_cuda/numba/cuda/target.py
  numba_cuda/numba/cuda/tests/cudapy/test_ir_utils.py
  numba_cuda/numba/cuda/typing/templates.py
Owners: @rapidsai/numba-cuda-write

fix stream handle handling
  numba_cuda/numba/cuda/cudadrv/driver.py
  numba_cuda/numba/cuda/tests/cudapy/test_cuda_array_interface.py
  numba_cuda/numba/cuda/tests/cudapy/test_stream_api.py
Owners: @rapidsai/numba-cuda-write

more drvapi removal
  numba_cuda/numba/cuda/cudadrv/driver.py
Owners: @rapidsai/numba-cuda-write

fix events
  numba_cuda/numba/cuda/cudadrv/driver.py
Owners: @rapidsai/numba-cuda-write

remove some drvapi usages
  numba_cuda/numba/cuda/cudadrv/driver.py
  numba_cuda/numba/cuda/cudadrv/drvapi.py
Owners: @rapidsai/numba-cuda-write

upgrade cudf
  ci/test_thirdparty_cudf.sh
Owners: @rapidsai/ci-codeowners

Fix pnputil to only restart NVIDIA display adapters (#779)
  ci/tools/install_gpu_driver.ps1
Owners: @rapidsai/ci-codeowners

address review comments
  numba_cuda/numba/cuda/core/compiler.py
  numba_cuda/numba/cuda/tests/cudapy/test_ir_utils.py
  numba_cuda/numba/cuda/typing/templates.py
Owners: @rapidsai/numba-cuda-write

construct callconv adhoc
  numba_cuda/numba/cuda/target.py
  numba_cuda/numba/cuda/tests/cudapy/test_compiler.py
Owners: @rapidsai/numba-cuda-write

initial
  docs/source/reference/types.rst
  numba_cuda/numba/cuda/fp8.py
  numba_cuda/numba/cuda/tests/cudapy/test_fp8.py
Owners: @rapidsai/numba-cuda-write

Bump `cudf` version to `26.02` in thirdparty tests (#785)
  ci/test_thirdparty_cudf.sh
Owners: @rapidsai/ci-codeowners

Remove unused cudf patch
  ci/patches/cudf_numba_cuda_compatibility.patch
Owners: @rapidsai/ci-codeowners

fixup tests
  numba_cuda/numba/cuda/cudadrv/driver.py
  numba_cuda/numba/cuda/tests/cudadrv/test_cuda_memory.py
Owners: @rapidsai/numba-cuda-write
