Repository NVIDIA/numba-cuda, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rapidsai/numba-cuda-write, @rapidsai/ci-codeowners, @rapidsai/packaging-codeowners

chore: factor out shared `cu` dependencies
  pixi.toml
Owners: none

chore: constrain 13-0 to minor version
  pixi.toml
Owners: none

chore: factor out crt and nvvm
  pixi.toml
Owners: none

chore: place a lower bound on test deps
  pixi.toml
Owners: none

chore: move all deallocations test to a single process to avoid cross process deallocation pollution during testing
  numba_cuda/numba/cuda/tests/cudadrv/test_deallocations.py
Owners: @rapidsai/numba-cuda-write

chore: use sanctioned pixi installer
  .github/workflows/conda-python-tests.yaml
  ci/test_conda.sh
Owners: @rapidsai/ci-codeowners

chore: remove env listing since pixi installation does that already
  ci/test_conda.sh
Owners: @rapidsai/ci-codeowners

Fix up imports after merge
  numba_cuda/numba/cuda/tests/cudapy/test_make_function_to_jit_function.py
Owners: @rapidsai/numba-cuda-write

chore: wrap args
  ci/test_conda.sh
Owners: @rapidsai/ci-codeowners

chore: move simulator to pixi
  ci/test_simulator.sh
Owners: @rapidsai/ci-codeowners

chore: add simulator test pixi task
  pixi.toml
Owners: none

Use HAS_NUMBA instead of importlib.util.find_spec() to check for Numba
  numba_cuda/numba/cuda/initialize.py
Owners: @rapidsai/numba-cuda-write

chore: set up pixi for simulator
  .github/workflows/conda-python-tests.yaml
  .github/workflows/simulator-test.yaml
Owners: @rapidsai/ci-codeowners

chore: install the pixi env
  ci/test_conda.sh
  ci/test_simulator.sh
Owners: @rapidsai/ci-codeowners

Fix registration with Numba, vendor MakeFunctionToJITFunction tests (#566)
  numba_cuda/numba/cuda/initialize.py
  numba_cuda/numba/cuda/tests/cudapy/test_make_function_to_jit_function.py
Owners: @rapidsai/numba-cuda-write

[Refactor][NFC] Vendor-in compiler_lock for future CUDA-specific changes
  numba_cuda/numba/cuda/compiler.py
  numba_cuda/numba/cuda/core/base.py
  numba_cuda/numba/cuda/core/compiler_lock.py
  numba_cuda/numba/cuda/core/compiler_machinery.py
  numba_cuda/numba/cuda/dispatcher.py
  numba_cuda/numba/cuda/target.py
Owners: @rapidsai/numba-cuda-write

set the numba cuda global compiler lock to also control the lock of numba
  numba_cuda/numba/cuda/core/compiler_lock.py
Owners: @rapidsai/numba-cuda-write

alternative module layout for ext_types
  numba_cuda/numba/cuda/_internal/cuda_bf16.py
  numba_cuda/numba/cuda/cg.py
  numba_cuda/numba/cuda/cudadecl.py
  numba_cuda/numba/cuda/cudaimpl.py
  numba_cuda/numba/cuda/debuginfo.py
  numba_cuda/numba/cuda/dispatcher.py
  numba_cuda/numba/cuda/models.py
  numba_cuda/numba/cuda/printimpl.py
  numba_cuda/numba/cuda/tests/cudapy/test_bfloat16.py
  numba_cuda/numba/cuda/tests/cudapy/test_print.py
  numba_cuda/numba/cuda/types/__init__.py
  numba_cuda/numba/cuda/types/ext_types.py
Owners: @rapidsai/numba-cuda-write

progress replacing tests
  numba_cuda/numba/cuda/cudadrv/devicearray.py
  numba_cuda/numba/cuda/tests/cudadrv/test_events.py
  numba_cuda/numba/cuda/tests/cudadrv/test_pinned.py
  numba_cuda/numba/cuda/tests/cudapy/test_datetime.py
  numba_cuda/numba/cuda/tests/cudapy/test_idiv.py
  numba_cuda/numba/cuda/tests/cudapy/test_matmul.py
  numba_cuda/numba/cuda/tests/cudapy/test_nondet.py
Owners: @rapidsai/numba-cuda-write

remove deadcode, change event logging prefix
  numba_cuda/numba/cuda/core/compiler_lock.py
Owners: @rapidsai/numba-cuda-write

remove is_locked, is_owned
  numba_cuda/numba/cuda/core/compiler_lock.py
Owners: @rapidsai/numba-cuda-write

[Refactor][NFC] Vendor-in compiler_lock for future CUDA-specific changes (#565)
  numba_cuda/numba/cuda/compiler.py
  numba_cuda/numba/cuda/core/base.py
  numba_cuda/numba/cuda/core/compiler_lock.py
  numba_cuda/numba/cuda/core/compiler_machinery.py
  numba_cuda/numba/cuda/dispatcher.py
  numba_cuda/numba/cuda/target.py
Owners: @rapidsai/numba-cuda-write

test: enable warnings
  testing/pytest.ini
Owners: none

test: rename things to avoid pytest discovering non-test objects
  numba_cuda/numba/cuda/tests/cudapy/extensions_usecases.py
  numba_cuda/numba/cuda/tests/cudapy/test_localmem.py
  numba_cuda/numba/cuda/tests/cudapy/test_sm.py
  numba_cuda/numba/cuda/tests/cudapy/test_sm_creation.py
Owners: @rapidsai/numba-cuda-write

test: clean up most warnings
  numba_cuda/numba/cuda/testing.py
  numba_cuda/numba/cuda/tests/cudadrv/test_cuda_libraries.py
  numba_cuda/numba/cuda/tests/cudadrv/test_is_fp16.py
  numba_cuda/numba/cuda/tests/cudadrv/test_linker.py
  numba_cuda/numba/cuda/tests/cudadrv/test_nvjitlink.py
  numba_cuda/numba/cuda/tests/cudadrv/test_nvvm_driver.py
  numba_cuda/numba/cuda/tests/cudapy/test_atomics.py
  numba_cuda/numba/cuda/tests/cudapy/test_compiler.py
  numba_cuda/numba/cuda/tests/cudapy/test_gufunc.py
  numba_cuda/numba/cuda/tests/cudapy/test_lineinfo.py
  numba_cuda/numba/cuda/tests/cudapy/test_math.py
  numba_cuda/numba/cuda/tests/cudapy/test_typeinfer.py
  numba_cuda/numba/cuda/tests/cudapy/test_warning.py
Owners: @rapidsai/numba-cuda-write

test: give up on floating point arithmetic
  numba_cuda/numba/cuda/tests/cudapy/test_math.py
Owners: @rapidsai/numba-cuda-write

test: disable copy to host performance warnings
  numba_cuda/numba/cuda/tests/nrt/test_nrt_refct.py
  numba_cuda/numba/cuda/tests/test_analysis.py
  numba_cuda/numba/cuda/tests/test_extending.py
Owners: @rapidsai/numba-cuda-write

test: disable benchmarks by default due to presence of xdist
  testing/pytest.ini
Owners: none

test: disable low occupancy warnings
  testing/pytest.ini
Owners: none

test: revert inadvertently renamed test
  numba_cuda/numba/cuda/tests/cudapy/test_localmem.py
Owners: @rapidsai/numba-cuda-write

test: pass dtype directly to linspace instead of casting
  numba_cuda/numba/cuda/tests/cudapy/test_math.py
Owners: @rapidsai/numba-cuda-write

test: pass dtype directly to empty_like instead of casting
  numba_cuda/numba/cuda/tests/cudapy/test_math.py
Owners: @rapidsai/numba-cuda-write

test: fix invalid negative 1 value for uint64 test
  numba_cuda/numba/cuda/tests/cudapy/test_math.py
Owners: @rapidsai/numba-cuda-write

chore: move pytest.ini to top level
  pytest.ini
Owners: none

chore: ignore dynamic init warning in cu file
  pytest.ini
Owners: none

test: simplify cuda_libraries test
  numba_cuda/numba/cuda/tests/cudadrv/test_cuda_libraries.py
Owners: @rapidsai/numba-cuda-write

chore: move pytest.ini back to testing
  testing/pytest.ini
Owners: none

chore: expand the match
  testing/pytest.ini
Owners: none

chore: fix warnings and imports
  numba_cuda/numba/cuda/tests/cudadrv/test_nvvm_driver.py
  testing/pytest.ini
Owners: @rapidsai/numba-cuda-write

chore: fix warning path
  testing/pytest.ini
Owners: none

.github/CODEOWNERS:

#python code owners
numba_cuda/            @rapidsai/numba-cuda-write

#cmake code owners
**/CMakeLists.txt  @rapidsai/numba-cuda-write
**/cmake/          @rapidsai/numba-cuda-write

#CI code owners
/.github/                @rapidsai/ci-codeowners
/ci/                     @rapidsai/ci-codeowners
/.pre-commit-config.yaml @rapidsai/ci-codeowners

#packaging code owners
/.devcontainer/    @rapidsai/packaging-codeowners
/conda/            @rapidsai/packaging-codeowners
/dependencies.yaml @rapidsai/packaging-codeowners
/build.sh          @rapidsai/packaging-codeowners
pyproject.toml     @rapidsai/packaging-codeowners
