Repository NVIDIA/numba-cuda, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rapidsai/numba-cuda-write, @rapidsai/ci-codeowners, @rapidsai/packaging-codeowners

.github/CODEOWNERS:

#python code owners
numba_cuda/            @rapidsai/numba-cuda-write

#cmake code owners
**/CMakeLists.txt  @rapidsai/numba-cuda-write
**/cmake/          @rapidsai/numba-cuda-write

#CI code owners
/.github/                @rapidsai/ci-codeowners
/ci/                     @rapidsai/ci-codeowners
/.pre-commit-config.yaml @rapidsai/ci-codeowners

#packaging code owners
/.devcontainer/    @rapidsai/packaging-codeowners
/conda/            @rapidsai/packaging-codeowners
/dependencies.yaml @rapidsai/packaging-codeowners
/build.sh          @rapidsai/packaging-codeowners
pyproject.toml     @rapidsai/packaging-codeowners

Add -g flag when debug=True
  numba_cuda/numba/cuda/compiler.py
  numba_cuda/numba/cuda/dispatcher.py
Owners: @rapidsai/numba-cuda-write

Extend variable lifetimes when debug=True
  numba_cuda/numba/cuda/compiler.py
Owners: @rapidsai/numba-cuda-write

add cuh file to package data
  pyproject.toml
Owners: @rapidsai/packaging-codeowners

remove all patches, use override_config; Only allocate memsys when NRT is enabled
  numba_cuda/numba/cuda/dispatcher.py
  numba_cuda/numba/cuda/runtime/nrt.cu
  numba_cuda/numba/cuda/tests/nrt/test_nrt.py
  numba_cuda/numba/cuda/tests/nrt/test_nrt_refct.py
Owners: @rapidsai/numba-cuda-write

initial
  numba_cuda/numba/cuda/cudadrv/driver.py
  numba_cuda/numba/cuda/tests/cudadrv/test_nvjitlink.py
Owners: @rapidsai/numba-cuda-write

Add -g flag when debug=True
  numba_cuda/numba/cuda/compiler.py
  numba_cuda/numba/cuda/dispatcher.py
Owners: @rapidsai/numba-cuda-write

Extend variable lifetimes when debug=True
  numba_cuda/numba/cuda/compiler.py
Owners: @rapidsai/numba-cuda-write

enable test iff pynvjitlink is installed
  numba_cuda/numba/cuda/tests/cudadrv/test_nvjitlink.py
Owners: @rapidsai/numba-cuda-write

Fix find_spec for old finders that don't implement it.
  site-packages/_numba_cuda_redirector.py
Owners: none

Bump version to 0.1.0
  numba_cuda/VERSION
Owners: @rapidsai/numba-cuda-write

add skipif reason
  numba_cuda/numba/cuda/tests/cudadrv/test_nvjitlink.py
Owners: @rapidsai/numba-cuda-write

Implement `breakpoint()` using PTX `brkpt` instruction
  numba_cuda/numba/cuda/cudadecl.py
  numba_cuda/numba/cuda/cudaimpl.py
Owners: @rapidsai/numba-cuda-write

test proper exception is raised when nvjitlink is disabled
  numba_cuda/numba/cuda/tests/cudadrv/test_nvjitlink.py
Owners: @rapidsai/numba-cuda-write

relaxed memory order
  numba_cuda/numba/cuda/runtime/nrt.cu
Owners: @rapidsai/numba-cuda-write

Bump version to 0.1.0
  numba_cuda/VERSION
Owners: @rapidsai/numba-cuda-write

Fix find_spec for old finders that don't implement it.
  site-packages/_numba_cuda_redirector.py
Owners: none

run all tests in subprocess
  numba_cuda/numba/cuda/tests/cudadrv/test_nvjitlink.py
Owners: @rapidsai/numba-cuda-write

rename as managed_result
  numba_cuda/numba/cuda/runtime/memsys.cu
Owners: @rapidsai/numba-cuda-write

use .load to avoid compile warnings
  numba_cuda/numba/cuda/runtime/memsys.cu
Owners: @rapidsai/numba-cuda-write

Allow Pynvjitlinker Enabled via Config at Runtime (#91)
  numba_cuda/numba/cuda/cudadrv/driver.py
  numba_cuda/numba/cuda/tests/cudadrv/test_nvjitlink.py
Owners: @rapidsai/numba-cuda-write

Implement `breakpoint()` using PTX `brkpt` instruction
  numba_cuda/numba/cuda/cudadecl.py
  numba_cuda/numba/cuda/cudaimpl.py
Owners: @rapidsai/numba-cuda-write

Bump version to 0.2.0
  numba_cuda/VERSION
Owners: @rapidsai/numba-cuda-write

Bump version to 0.2.0
  numba_cuda/VERSION
Owners: @rapidsai/numba-cuda-write

Fixup debug metadata in kernel fixup
  numba_cuda/numba/cuda/compiler.py
Owners: @rapidsai/numba-cuda-write

move tests into test_array, remove comments related to old version
  numba_cuda/numba/cuda/tests/cudapy/test_array.py
  numba_cuda/numba/cuda/tests/cudapy/test_cuda_array_interface.py
Owners: @rapidsai/numba-cuda-write

Implement array reshape for CUDA (#47)
  numba_cuda/numba/cuda/dispatcher.py
  numba_cuda/numba/cuda/reshape_funcs.cu
  numba_cuda/numba/cuda/tests/cudapy/test_array.py
Owners: @rapidsai/numba-cuda-write

Bump version to 0.3.0
  numba_cuda/VERSION
Owners: @rapidsai/numba-cuda-write

Bump version to 0.3.0
  numba_cuda/VERSION
Owners: @rapidsai/numba-cuda-write

fix nrt.cu syntax error
  numba_cuda/numba/cuda/runtime/nrt.cu
Owners: @rapidsai/numba-cuda-write

Fix compile printf warnings
  numba_cuda/numba/cuda/runtime/memsys.cu
Owners: @rapidsai/numba-cuda-write

allocate on initialize, better assertion prints
  numba_cuda/numba/cuda/dispatcher.py
  numba_cuda/numba/cuda/runtime/memsys.cu
  numba_cuda/numba/cuda/runtime/nrt.py
  numba_cuda/numba/cuda/tests/nrt/test_nrt.py
Owners: @rapidsai/numba-cuda-write

add nrt tests to test suite
  numba_cuda/numba/cuda/tests/__init__.py
Owners: @rapidsai/numba-cuda-write

push rtsys init to `bind()`
  numba_cuda/numba/cuda/dispatcher.py
  numba_cuda/numba/cuda/runtime/nrt.py
Owners: @rapidsai/numba-cuda-write

remove mock imports
  numba_cuda/numba/cuda/tests/nrt/test_nrt.py
Owners: @rapidsai/numba-cuda-write

apply @gmarkall's feature to retrieve size of memsys at runtime
  numba_cuda/numba/cuda/runtime/memsys.cu
  numba_cuda/numba/cuda/runtime/nrt.py
Owners: @rapidsai/numba-cuda-write

Add a CUDA DI Builder
  numba_cuda/numba/cuda/debuginfo.py
  numba_cuda/numba/cuda/target.py
Owners: @rapidsai/numba-cuda-write

Boolean debug info: correct name when datamodel is present
  numba_cuda/numba/cuda/debuginfo.py
Owners: @rapidsai/numba-cuda-write

Implement debuginfo bool name fix (numba/numba#9888) in numba-cuda
  numba_cuda/numba/cuda/compiler.py
Owners: @rapidsai/numba-cuda-write

Make block, thread, and warp indices unsigned
  numba_cuda/numba/cuda/cudadecl.py
  numba_cuda/numba/cuda/intrinsics.py
  numba_cuda/numba/cuda/models.py
  numba_cuda/numba/cuda/types.py
Owners: @rapidsai/numba-cuda-write

remove gc.collect
  numba_cuda/numba/cuda/tests/nrt/test_nrt_refct.py
Owners: @rapidsai/numba-cuda-write
