Repository NVIDIA/numba-cuda, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rapidsai/numba-cuda-write, @rapidsai/ci-codeowners, @rapidsai/packaging-codeowners

refactor
  numba_cuda/numba/cuda/tests/test_array_reductions.py
Owners: @rapidsai/numba-cuda-write

Handle `cuda.core.Stream` in driver operations (#401)
  numba_cuda/numba/cuda/cudadrv/driver.py
  numba_cuda/numba/cuda/dispatcher.py
  numba_cuda/numba/cuda/tests/cudadrv/test_cuda_driver.py
  numba_cuda/numba/cuda/tests/cudadrv/test_events.py
Owners: @rapidsai/numba-cuda-write

dont import numba.cuda.misc in device_init
  numba_cuda/numba/cuda/device_init.py
Owners: @rapidsai/numba-cuda-write

ci: add timeout to avoid blocking the job queue (#556)
  .github/workflows/conda-python-build.yaml
  .github/workflows/conda-python-tests.yaml
  .github/workflows/docs-build.yaml
  .github/workflows/simulator-test.yaml
  .github/workflows/wheel-windows-build.yaml
  .github/workflows/wheel-windows-tests.yaml
  .github/workflows/wheels-build.yaml
  .github/workflows/wheels-test.yaml
  numba_cuda/numba/cuda/tests/cudapy/test_ipc.py
Owners: @rapidsai/ci-codeowners, @rapidsai/numba-cuda-write

use truediv int impl that casts to float
  numba_cuda/numba/cuda/ufuncs.py
Owners: @rapidsai/numba-cuda-write

delay import of literal
  numba_cuda/numba/cuda/__init__.py
  numba_cuda/numba/cuda/device_init.py
  numba_cuda/numba/cuda/target.py
  numba_cuda/numba/cuda/tests/test_array_reductions.py
Owners: @rapidsai/numba-cuda-write

just remove literal from banlist instead
  numba_cuda/numba/cuda/__init__.py
  numba_cuda/numba/cuda/device_init.py
  numba_cuda/numba/cuda/tests/nocuda/test_import.py
Owners: @rapidsai/numba-cuda-write

[WIP] Port numpy reduction tests to CUDA (#523)
  numba_cuda/numba/cuda/cpython/listobj.py
  numba_cuda/numba/cuda/cudadecl.py
  numba_cuda/numba/cuda/device_init.py
  numba_cuda/numba/cuda/memory_management/nrt.cu
  numba_cuda/numba/cuda/memory_management/nrt.cuh
  numba_cuda/numba/cuda/target.py
  numba_cuda/numba/cuda/tests/nocuda/test_import.py
  numba_cuda/numba/cuda/tests/test_array_reductions.py
  numba_cuda/numba/cuda/ufuncs.py
Owners: @rapidsai/numba-cuda-write

Add DWARF Variant Part Support for Polymorphic Variables in CUDA Debug Info
  numba_cuda/numba/cuda/debuginfo.py
  numba_cuda/numba/cuda/lowering.py
  numba_cuda/numba/cuda/tests/cudapy/test_debuginfo.py
Owners: @rapidsai/numba-cuda-write

fix ruff format
  numba_cuda/numba/cuda/tests/cudapy/test_debuginfo.py
Owners: @rapidsai/numba-cuda-write

remove debugging statement
  numba_cuda/numba/cuda/debuginfo.py
Owners: @rapidsai/numba-cuda-write

another fix for ruff format
  numba_cuda/numba/cuda/debuginfo.py
  numba_cuda/numba/cuda/lowering.py
Owners: @rapidsai/numba-cuda-write

query rumtime CTK version from libcudart.so via cuda.bindings
  numba_cuda/numba/cuda/debuginfo.py
  numba_cuda/numba/cuda/lowering.py
Owners: @rapidsai/numba-cuda-write

Add back the try / except in llvmlite version detection
  numba_cuda/numba/cuda/debuginfo.py
Owners: @rapidsai/numba-cuda-write

fix the ctk version detection
  numba_cuda/numba/cuda/debuginfo.py
Owners: @rapidsai/numba-cuda-write

uniquify the discrimintor name
  numba_cuda/numba/cuda/debuginfo.py
Owners: @rapidsai/numba-cuda-write

move tests, merge test_extending files
  numba_cuda/numba/cuda/tests/cudapy/complex_usecases.py
  numba_cuda/numba/cuda/tests/cudapy/enum_usecases.py
  numba_cuda/numba/cuda/tests/cudapy/overload_usecases.py
  numba_cuda/numba/cuda/tests/cudapy/test_analysis.py
  numba_cuda/numba/cuda/tests/cudapy/test_array_reductions.py
  numba_cuda/numba/cuda/tests/cudapy/test_byteflow.py
  numba_cuda/numba/cuda/tests/cudapy/test_complex.py
  numba_cuda/numba/cuda/tests/cudapy/test_enums.py
  numba_cuda/numba/cuda/tests/cudapy/test_extending.py
  numba_cuda/numba/cuda/tests/cudapy/test_extending_types.py
  numba_cuda/numba/cuda/tests/cudapy/test_flow_control.py
  numba_cuda/numba/cuda/tests/cudapy/test_tracing.py
  numba_cuda/numba/cuda/tests/test_extending.py
Owners: @rapidsai/numba-cuda-write

fix ruff format
  numba_cuda/numba/cuda/debuginfo.py
Owners: @rapidsai/numba-cuda-write

another ruff format fix
  numba_cuda/numba/cuda/debuginfo.py
Owners: @rapidsai/numba-cuda-write

update pinnings
  conda/recipes/numba-cuda/meta.yaml
  pyproject.toml
Owners: @rapidsai/packaging-codeowners

fix wheel test env
  ci/test_wheel.sh
Owners: @rapidsai/ci-codeowners

update pinnings
  ci/test_wheel.sh
  conda/recipes/numba-cuda/meta.yaml
  pyproject.toml
Owners: @rapidsai/ci-codeowners, @rapidsai/packaging-codeowners

fix docstring test
  numba_cuda/numba/cuda/tests/cudapy/test_extending.py
Owners: @rapidsai/numba-cuda-write

Remove Numba monkey patch
  numba_cuda/numba/cuda/compiler.py
  numba_cuda/numba/cuda/core/base.py
  numba_cuda/numba/cuda/descriptor.py
  numba_cuda/numba/cuda/dispatcher.py
  numba_cuda/numba/cuda/utils.py
Owners: @rapidsai/numba-cuda-write

Don't pass target into `order_by_target_specificity()`
  numba_cuda/numba/cuda/types/cuda_functions.py
  numba_cuda/numba/cuda/typing/context.py
  numba_cuda/numba/cuda/utils.py
Owners: @rapidsai/numba-cuda-write

update the test according to the discriminator name change
  numba_cuda/numba/cuda/tests/cudapy/test_debuginfo.py
Owners: @rapidsai/numba-cuda-write

Relax the pinning to `cuda-core` to allow it floating across minor releases (#559)
  ci/test_wheel.sh
  conda/recipes/numba-cuda/meta.yaml
  pyproject.toml
Owners: @rapidsai/ci-codeowners, @rapidsai/packaging-codeowners

Relax the pinning to `cuda-core` to allow it floating across minor releases (#559)
  ci/test_wheel.sh
  conda/recipes/numba-cuda/meta.yaml
  pyproject.toml
Owners: @rapidsai/ci-codeowners, @rapidsai/packaging-codeowners

Bump version to 0.20.1
  numba_cuda/VERSION
Owners: @rapidsai/numba-cuda-write

[test] Use numpy's tolerance for float16 (#491)
  numba_cuda/numba/cuda/testing.py
  numba_cuda/numba/cuda/tests/cudapy/test_intrinsics.py
Owners: @rapidsai/numba-cuda-write

Backporting Features to v0.20, bump to v0.20.1 (#562)
  ci/test_wheel.sh
  conda/recipes/numba-cuda/meta.yaml
  numba_cuda/VERSION
  numba_cuda/numba/cuda/testing.py
  numba_cuda/numba/cuda/tests/cudapy/test_intrinsics.py
  pyproject.toml
Owners: @rapidsai/ci-codeowners, @rapidsai/packaging-codeowners, @rapidsai/numba-cuda-write

Remove dependencies on target_extension for CUDA target (#555)
  numba_cuda/numba/cuda/compiler.py
  numba_cuda/numba/cuda/core/base.py
  numba_cuda/numba/cuda/dispatcher.py
  numba_cuda/numba/cuda/initialize.py
  numba_cuda/numba/cuda/lowering.py
  numba_cuda/numba/cuda/tests/core/test_serialize.py
  numba_cuda/numba/cuda/types/cuda_functions.py
  numba_cuda/numba/cuda/typing/context.py
  numba_cuda/numba/cuda/typing/templates.py
  numba_cuda/numba/cuda/utils.py
Owners: @rapidsai/numba-cuda-write

Remove commented code
  numba_cuda/numba/cuda/core/typeinfer.py
Owners: @rapidsai/numba-cuda-write

Try reverting changes to ir_utils
  numba_cuda/numba/cuda/core/ir_utils.py
Owners: @rapidsai/numba-cuda-write

skip whole file under simulator
  numba_cuda/numba/cuda/tests/cudapy/test_extending.py
Owners: @rapidsai/numba-cuda-write

test: revert back to ipc futures that await each iteration
  numba_cuda/numba/cuda/tests/cudapy/test_ipc.py
Owners: @rapidsai/numba-cuda-write

chore(deps): move to self-contained pixi.toml to avoid mixed-pypi-pixi environments
  numba_cuda/numba/cuda/tests/benchmarks/test_kernel_launch.py
  pixi.lock
  pixi.toml
  pyproject.toml
Owners: @rapidsai/numba-cuda-write, @rapidsai/packaging-codeowners

chore(deps): move to self-contained pixi.toml to avoid mixed-pypi-pixi environments (#551)
  numba_cuda/numba/cuda/tests/benchmarks/test_kernel_launch.py
  pixi.lock
  pixi.toml
  pyproject.toml
Owners: @rapidsai/numba-cuda-write, @rapidsai/packaging-codeowners

[Refactor][NFC] Remove references to numba.__file__ and numba.__path__
  numba_cuda/numba/cuda/tests/test_extending.py
  numba_cuda/numba/cuda/typing/templates.py
Owners: @rapidsai/numba-cuda-write

[Refactor][NFC] Remove references to pndindex, literal_unroll, stencils
  numba_cuda/numba/cuda/__init__.py
  numba_cuda/numba/cuda/core/inline_closurecall.py
  numba_cuda/numba/cuda/core/ir_utils.py
  numba_cuda/numba/cuda/np/arrayobj.py
  numba_cuda/numba/cuda/np/polynomial/polynomial_functions.py
Owners: @rapidsai/numba-cuda-write

.github/CODEOWNERS:

#python code owners
numba_cuda/            @rapidsai/numba-cuda-write

#cmake code owners
**/CMakeLists.txt  @rapidsai/numba-cuda-write
**/cmake/          @rapidsai/numba-cuda-write

#CI code owners
/.github/                @rapidsai/ci-codeowners
/ci/                     @rapidsai/ci-codeowners
/.pre-commit-config.yaml @rapidsai/ci-codeowners

#packaging code owners
/.devcontainer/    @rapidsai/packaging-codeowners
/conda/            @rapidsai/packaging-codeowners
/dependencies.yaml @rapidsai/packaging-codeowners
/build.sh          @rapidsai/packaging-codeowners
pyproject.toml     @rapidsai/packaging-codeowners
