Repository NVIDIA/numba-cuda, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rapidsai/numba-cuda-write, @rapidsai/ci-codeowners, @rapidsai/packaging-codeowners

.github/CODEOWNERS:

#python code owners
numba_cuda/            @rapidsai/numba-cuda-write

#cmake code owners
**/CMakeLists.txt  @rapidsai/numba-cuda-write
**/cmake/          @rapidsai/numba-cuda-write

#CI code owners
/.github/                @rapidsai/ci-codeowners
/ci/                     @rapidsai/ci-codeowners
/.pre-commit-config.yaml @rapidsai/ci-codeowners

#packaging code owners
/.devcontainer/    @rapidsai/packaging-codeowners
/conda/            @rapidsai/packaging-codeowners
/dependencies.yaml @rapidsai/packaging-codeowners
/build.sh          @rapidsai/packaging-codeowners
pyproject.toml     @rapidsai/packaging-codeowners

update binding generated by Numbast @dcbcae3
  numba_cuda/numba/cuda/cuda_bf16.py
Owners: @rapidsai/numba-cuda-write

allow string IO in linkable code
  numba_cuda/numba/cuda/cudadrv/linkable_code.py
Owners: @rapidsai/numba-cuda-write

remove pynvjitlink enablement
  numba_cuda/numba/cuda/cuda_bf16.py
  numba_cuda/numba/cuda/tests/cudapy/test_bfloat16_bindings.py
Owners: @rapidsai/numba-cuda-write

Rename `numba.cuda.runtime` to `memory_management`
  numba_cuda/numba/cuda/cudadrv/nvrtc.py
  numba_cuda/numba/cuda/dispatcher.py
  numba_cuda/numba/cuda/memory_management/__init__.py
  numba_cuda/numba/cuda/memory_management/memsys.cu
  numba_cuda/numba/cuda/memory_management/memsys.cuh
  numba_cuda/numba/cuda/memory_management/nrt.cu
  numba_cuda/numba/cuda/memory_management/nrt.py
  numba_cuda/numba/cuda/runtime/__init__.py
  numba_cuda/numba/cuda/tests/nrt/test_nrt.py
  numba_cuda/numba/cuda/tests/nrt/test_nrt_refct.py
  numba_cuda/numba/cuda/tests/support.py
Owners: @rapidsai/numba-cuda-write

Remove some invalid array reshape tests
  numba_cuda/numba/cuda/tests/cudapy/test_array.py
Owners: @rapidsai/numba-cuda-write

CUDASIM: Support detection of device function calls
  numba_cuda/numba/cuda/simulator/kernel.py
Owners: @rapidsai/numba-cuda-write

CUDASIM: Update to include recently-added APIs
  numba_cuda/numba/cuda/simulator/__init__.py
  numba_cuda/numba/cuda/simulator/api.py
  numba_cuda/numba/cuda/simulator/cudadrv/driver.py
  numba_cuda/numba/cuda/simulator/cudadrv/libs.py
  numba_cuda/numba/cuda/simulator/cudadrv/linkable_code.py
  numba_cuda/numba/cuda/simulator/memory_management/__init__.py
  numba_cuda/numba/cuda/simulator/memory_management/nrt.py
  numba_cuda/numba/cuda/testing.py
  numba_cuda/numba/cuda/tests/nrt/test_nrt.py
  numba_cuda/numba/cuda/tests/nrt/test_nrt_refct.py
Owners: @rapidsai/numba-cuda-write

Add CUDACABIArgPacker implementation
  numba_cuda/numba/cuda/target.py
Owners: @rapidsai/numba-cuda-write

Add tests for CUDACABIArgPacker
  numba_cuda/numba/cuda/target.py
  numba_cuda/numba/cuda/tests/cudadrv/test_packer.py
Owners: @rapidsai/numba-cuda-write

Add compiler test
  numba_cuda/numba/cuda/tests/cudapy/test_compiler.py
Owners: @rapidsai/numba-cuda-write

Fix docstring
  numba_cuda/numba/cuda/target.py
Owners: @rapidsai/numba-cuda-write

add multithreaded callback behavior test
  numba_cuda/numba/cuda/tests/cudadrv/test_module_callbacks.py
Owners: @rapidsai/numba-cuda-write

Only use CUDACABIArgPacker in CUDACABICallConv
  numba_cuda/numba/cuda/target.py
Owners: @rapidsai/numba-cuda-write

Use C call convention's arg packer in cabi_wrap_function
  numba_cuda/numba/cuda/compiler.py
  numba_cuda/numba/cuda/target.py
Owners: @rapidsai/numba-cuda-write

tests, fill out headerA
  numba_cuda/numba/cuda/runtime/nrt.cu
  numba_cuda/numba/cuda/runtime/nrt.cuh
  numba_cuda/numba/cuda/runtime/nrt.py
  numba_cuda/numba/cuda/tests/nrt/test_nrt.py
Owners: @rapidsai/numba-cuda-write

temp file
  numba_cuda/numba/cuda/tests/nrt/test_nrt.py
Owners: @rapidsai/numba-cuda-write

remove system nvrtc from wheel test job
  ci/test_wheel_deps_wheels.sh
Owners: @rapidsai/ci-codeowners

refactor _get_nvvm_wheel
  numba_cuda/numba/cuda/cuda_paths.py
Owners: @rapidsai/numba-cuda-write

Fix cuda.jit decorator inline
  numba_cuda/numba/cuda/decorators.py
Owners: @rapidsai/numba-cuda-write

Replace inline=True with inline='always'
  docs/source/user/ufunc.rst
  numba_cuda/numba/cuda/tests/cudapy/test_array_args.py
  numba_cuda/numba/cuda/tests/cudapy/test_blackscholes.py
  numba_cuda/numba/cuda/tests/cudapy/test_laplace.py
  numba_cuda/numba/cuda/vectorizers.py
Owners: @rapidsai/numba-cuda-write

Add inline test
  numba_cuda/numba/cuda/tests/cudapy/test_inline.py
Owners: @rapidsai/numba-cuda-write

Test older Ubuntu version.
  .github/actions/compute-matrix/action.yaml
  .github/workflows/conda-python-tests.yaml
Owners: @rapidsai/ci-codeowners

Try with Python 3.11.
  .github/workflows/conda-python-tests.yaml
Owners: @rapidsai/ci-codeowners

actually install nvrtc from wheel
  ci/test_wheel_deps_wheels.sh
Owners: @rapidsai/ci-codeowners

Use l4 GPU.
  .github/workflows/conda-python-tests.yaml
Owners: @rapidsai/ci-codeowners

Try newer Python and OS again.
  .github/actions/compute-matrix/action.yaml
  .github/workflows/conda-python-tests.yaml
Owners: @rapidsai/ci-codeowners

Add Python 3.13, and update shared-workflows. (#150)
  .github/actions/compute-matrix/action.yaml
  .github/workflows/conda-python-build.yaml
  .github/workflows/conda-python-tests.yaml
  .github/workflows/docs-build.yaml
  .github/workflows/pr.yaml
  .github/workflows/wheels-build.yaml
  .github/workflows/wheels-test.yaml
  pyproject.toml
Owners: @rapidsai/ci-codeowners, @rapidsai/packaging-codeowners

Avoid bumping certain driver API to avoid future breakage
  numba_cuda/numba/cuda/cudadrv/driver.py
Owners: @rapidsai/numba-cuda-write

Avoid bumping certain driver API to avoid future breakage (#185)
  numba_cuda/numba/cuda/cudadrv/driver.py
Owners: @rapidsai/numba-cuda-write

Bump version to 0.8.1
  numba_cuda/VERSION
Owners: @rapidsai/numba-cuda-write

Use CUDA 12.8 in tests.
  .github/actions/compute-matrix/action.yaml
  .github/workflows/conda-python-tests.yaml
  .github/workflows/wheels-test.yaml
Owners: @rapidsai/ci-codeowners

Test h100 GPUs.
  .github/workflows/conda-python-tests.yaml
Owners: @rapidsai/ci-codeowners

Test CUDA 11.4.
  .github/actions/compute-matrix/action.yaml
  .github/workflows/conda-python-tests.yaml
  .github/workflows/wheels-test.yaml
Owners: @rapidsai/ci-codeowners

Bump version to 0.8.1 (#186)
  numba_cuda/VERSION
Owners: @rapidsai/numba-cuda-write

move and rename read_file
  numba_cuda/numba/cuda/cudadrv/driver.py
  numba_cuda/numba/cuda/utils.py
Owners: @rapidsai/numba-cuda-write

Update numba_cuda/numba/cuda/tests/nrt/test_nrt.py
  numba_cuda/numba/cuda/tests/nrt/test_nrt.py
Owners: @rapidsai/numba-cuda-write

get_include() in tests
  numba_cuda/numba/cuda/dispatcher.py
  numba_cuda/numba/cuda/tests/nrt/test_nrt.py
Owners: @rapidsai/numba-cuda-write

handle LinkableCode
  numba_cuda/numba/cuda/dispatcher.py
Owners: @rapidsai/numba-cuda-write

Update workflows to always use proxy cache.
  .github/workflows/conda-python-tests.yaml
  .github/workflows/docs-build.yaml
Owners: @rapidsai/ci-codeowners

Implement alignment support for local and shared arrays.
  numba_cuda/numba/cuda/cudadecl.py
  numba_cuda/numba/cuda/cudaimpl.py
  numba_cuda/numba/cuda/stubs.py
  numba_cuda/numba/cuda/tests/cudapy/test_array_alignment.py
Owners: @rapidsai/numba-cuda-write
