Repository NVIDIA/numba-cuda, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rapidsai/numba-cuda-write, @rapidsai/ci-codeowners, @rapidsai/packaging-codeowners

.github/CODEOWNERS:

#python code owners
numba_cuda/            @rapidsai/numba-cuda-write

#cmake code owners
**/CMakeLists.txt  @rapidsai/numba-cuda-write
**/cmake/          @rapidsai/numba-cuda-write

#CI code owners
/.github/                @rapidsai/ci-codeowners
/ci/                     @rapidsai/ci-codeowners
/.pre-commit-config.yaml @rapidsai/ci-codeowners

#packaging code owners
/.devcontainer/    @rapidsai/packaging-codeowners
/conda/            @rapidsai/packaging-codeowners
/dependencies.yaml @rapidsai/packaging-codeowners
/build.sh          @rapidsai/packaging-codeowners
pyproject.toml     @rapidsai/packaging-codeowners

apply binding patches
  numba_cuda/numba/cuda/_internal/cuda_bf16.py
Owners: @rapidsai/numba-cuda-write

Bump version to 0.19.0
  numba_cuda/VERSION
Owners: @rapidsai/numba-cuda-write

generate the bindings
  numba_cuda/numba/cuda/_internal/cuda_bf16.py
Owners: @rapidsai/numba-cuda-write

apply binding patches
  numba_cuda/numba/cuda/_internal/cuda_bf16.py
Owners: @rapidsai/numba-cuda-write

initial
  numba_cuda/numba/cuda/cudadrv/driver.py
  numba_cuda/numba/cuda/dispatcher.py
Owners: @rapidsai/numba-cuda-write

re-imports the bf16 intrinsics
  numba_cuda/numba/cuda/bf16.py
  numba_cuda/numba/cuda/tests/cudapy/test_bfloat16.py
Owners: @rapidsai/numba-cuda-write

Add documentation for arithmetic operations
  docs/source/reference/types.rst
Owners: none

Bump version to 0.19.0 (#400)
  numba_cuda/VERSION
Owners: @rapidsai/numba-cuda-write

add logical intrinsics
  numba_cuda/numba/cuda/bf16.py
  numba_cuda/numba/cuda/tests/cudapy/test_bfloat16.py
Owners: @rapidsai/numba-cuda-write

make bfloat16 usable on host if ml_dtypes is installed
  numba_cuda/numba/cuda/tests/cudapy/test_bfloat16.py
  numba_cuda/numba/cuda/types.py
Owners: @rapidsai/numba-cuda-write

add comparison operators
  docs/source/reference/types.rst
Owners: none

add basic conversion: float, int bidirectional conversion intrinsics
  numba_cuda/numba/cuda/bf16.py
  numba_cuda/numba/cuda/tests/cudapy/test_bfloat16.py
Owners: @rapidsai/numba-cuda-write

add numerical precision cast and tests
  numba_cuda/numba/cuda/bf16.py
  numba_cuda/numba/cuda/tests/cudapy/test_bfloat16.py
Owners: @rapidsai/numba-cuda-write

add documentation for conversions
  docs/source/reference/types.rst
Owners: none

removing cuda_bf16 vended headers
  numba_cuda/numba/cuda/include/11/cuda_bf16.h
  numba_cuda/numba/cuda/include/11/cuda_bf16.hpp
Owners: @rapidsai/numba-cuda-write

Vendor in additional debug info tests (#364)
  numba_cuda/numba/cuda/tests/cudapy/test_debuginfo.py
  numba_cuda/numba/cuda/tests/cudapy/test_debuginfo_types.py
Owners: @rapidsai/numba-cuda-write

update format constant method for BfloatType
  numba_cuda/numba/cuda/models.py
Owners: @rapidsai/numba-cuda-write

tests
  numba_cuda/numba/cuda/tests/cudadrv/test_cuda_driver.py
Owners: @rapidsai/numba-cuda-write

refactor
  numba_cuda/numba/cuda/cudadrv/driver.py
Owners: @rapidsai/numba-cuda-write

bump version
  ci/test_thirdparty.sh
Owners: @rapidsai/ci-codeowners

Fix correctness issue in debug mode code generation for dynamic types. (#305)
  numba_cuda/numba/cuda/lowering.py
  numba_cuda/numba/cuda/tests/cudapy/test_debuginfo.py
Owners: @rapidsai/numba-cuda-write

Use vendored ir_utils
  numba_cuda/numba/cuda/core/untyped_passes.py
Owners: @rapidsai/numba-cuda-write

Vendor in PassManager, typed and untyped pass, and related helpers for CUDA-specific customization (#330)
  numba_cuda/numba/cuda/compiler.py
  numba_cuda/numba/cuda/core/compiler_machinery.py
  numba_cuda/numba/cuda/core/typed_passes.py
  numba_cuda/numba/cuda/core/untyped_passes.py
  numba_cuda/numba/cuda/dispatcher.py
  numba_cuda/numba/cuda/flags.py
  numba_cuda/numba/cuda/target.py
  numba_cuda/numba/cuda/testing.py
  numba_cuda/numba/cuda/tests/cudapy/test_debug.py
  numba_cuda/numba/cuda/tests/cudapy/test_inline.py
  numba_cuda/numba/cuda/utils.py
Owners: @rapidsai/numba-cuda-write

small changes
  numba_cuda/numba/cuda/cudadrv/driver.py
  numba_cuda/numba/cuda/dispatcher.py
Owners: @rapidsai/numba-cuda-write

__cuda_stream__
  numba_cuda/numba/cuda/cudadrv/driver.py
Owners: @rapidsai/numba-cuda-write

path update
  ci/test_thirdparty.sh
Owners: @rapidsai/ci-codeowners

Bump thirdparty test version (#402)
  ci/test_thirdparty.sh
Owners: @rapidsai/ci-codeowners

Vendor in UnsuportedBytecodeError
  numba_cuda/numba/cuda/core/interpreter.py
  numba_cuda/numba/cuda/errors.py
Owners: @rapidsai/numba-cuda-write

Test oldest supported dependencies
  .github/workflows/conda-python-tests.yaml
  .github/workflows/wheels-test.yaml
  ci/coverage_report.sh
  ci/matrix.yml
  ci/test_conda.sh
  ci/test_wheel.sh
Owners: @rapidsai/ci-codeowners

Vendor in UnsupportedBytecodeError (#403)
  numba_cuda/numba/cuda/core/interpreter.py
  numba_cuda/numba/cuda/errors.py
Owners: @rapidsai/numba-cuda-write

Add dependency information to job name
  .github/workflows/conda-python-tests.yaml
  .github/workflows/wheels-test.yaml
Owners: @rapidsai/ci-codeowners

Use single-step environment solve in all CI jobs.
  ci/build_docs.sh
  ci/test_conda.sh
  ci/test_conda_ctypes_binding.sh
  ci/test_simulator.sh
Owners: @rapidsai/ci-codeowners

implement printing support for bfloat16
  numba_cuda/numba/cuda/printimpl.py
Owners: @rapidsai/numba-cuda-write

implement to int conversion tests
  numba_cuda/numba/cuda/tests/cudapy/test_bfloat16.py
Owners: @rapidsai/numba-cuda-write

add from integer conversion test
  numba_cuda/numba/cuda/tests/cudapy/test_bfloat16.py
Owners: @rapidsai/numba-cuda-write

Run basic import test
  ci/test_conda.sh
  ci/test_wheel.sh
Owners: @rapidsai/ci-codeowners

Revert "Vendor in UnsupportedBytecodeError (#403)"
  numba_cuda/numba/cuda/core/interpreter.py
  numba_cuda/numba/cuda/errors.py
Owners: @rapidsai/numba-cuda-write

testing bitcast operations
  numba_cuda/numba/cuda/tests/cudapy/test_bfloat16.py
  numba_cuda/numba/cuda/types.py
Owners: @rapidsai/numba-cuda-write

Add oldest test configurations using the newest Python.
  ci/matrix.yml
Owners: @rapidsai/ci-codeowners

add fp16, bf16 vended headers
  numba_cuda/numba/cuda/include/13/cuda_bf16.h
  numba_cuda/numba/cuda/include/13/cuda_fp16.h
  numba_cuda/numba/cuda/include/13/cuda_fp16.hpp
Owners: @rapidsai/numba-cuda-write
