Repository NVIDIA/numba-cuda, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rapidsai/numba-cuda-write, @rapidsai/ci-codeowners, @rapidsai/packaging-codeowners

Revert "Add lower_casts to/from other numeric types"
  numba_cuda/numba/cuda/_internal/cuda_fp16.py
Owners: @rapidsai/numba-cuda-write

Re-enable "cast to char" test
  numba_cuda/numba/cuda/tests/cudapy/test_intrinsics.py
Owners: @rapidsai/numba-cuda-write

Re-enable casting PTX tests
  numba_cuda/numba/cuda/tests/cudapy/test_casting.py
Owners: @rapidsai/numba-cuda-write

Add deadlock warnings to Stream.add_callback and Stream.async_done docstrings
  numba_cuda/numba/cuda/cudadrv/driver.py
Owners: @rapidsai/numba-cuda-write

Update docstring warnings to clarify lock ordering issue
  numba_cuda/numba/cuda/cudadrv/driver.py
Owners: @rapidsai/numba-cuda-write

fix docstrings
  numba_cuda/numba/cuda/cudadrv/driver.py
Owners: @rapidsai/numba-cuda-write

[Refactor][NFC] Vendor in CompilerBase
  numba_cuda/numba/cuda/compiler.py
  numba_cuda/numba/cuda/core/compiler.py
Owners: @rapidsai/numba-cuda-write

Add status check github action
  .github/workflows/status-check.yml
Owners: @rapidsai/ci-codeowners

fix pattern
  .github/workflows/status-check.yml
Owners: @rapidsai/ci-codeowners

[Refactor] Vendor in CompileResult for CUDA-specific refactoring
  numba_cuda/numba/cuda/compiler.py
Owners: @rapidsai/numba-cuda-write

initial pass on external ptxes
  numba_cuda/numba/cuda/codegen.py
  numba_cuda/numba/cuda/dispatcher.py
  numba_cuda/numba/cuda/tests/cudapy/test_inspect.py
Owners: @rapidsai/numba-cuda-write

[Refactor] Vendor in Codegen and CodeLibrary for CUDA-specific changes
  numba_cuda/numba/cuda/codegen.py
  numba_cuda/numba/cuda/core/codegen.py
Owners: @rapidsai/numba-cuda-write

[Refactor][NFC] Vendor in BaseCallConv
  numba_cuda/numba/cuda/core/callconv.py
  numba_cuda/numba/cuda/target.py
Owners: @rapidsai/numba-cuda-write

[Refactor] Vendor in BaseNativeLowering for CUDA-specific changes
  numba_cuda/numba/cuda/compiler.py
  numba_cuda/numba/cuda/core/typed_passes.py
Owners: @rapidsai/numba-cuda-write

[Refactor] Vendor in Lower and BaseLower for CUDA-specific changes
  numba_cuda/numba/cuda/lowering.py
Owners: @rapidsai/numba-cuda-write

use -ptx flag for nvjitlink to produce final link-time optimized ptx
  numba_cuda/numba/cuda/codegen.py
  numba_cuda/numba/cuda/dispatcher.py
  numba_cuda/numba/cuda/tests/cudapy/test_inspect.py
Owners: @rapidsai/numba-cuda-write

fix codegen
  numba_cuda/numba/cuda/codegen.py
Owners: @rapidsai/numba-cuda-write

cross platform write temp file
  numba_cuda/numba/cuda/tests/cudapy/test_inspect.py
Owners: @rapidsai/numba-cuda-write

Correct device pointer value usage in EMM test
  numba_cuda/numba/cuda/tests/cudadrv/test_emm_plugins.py
Owners: @rapidsai/numba-cuda-write

`MmemoryPointer` ensure `CUdeviceptr` used with NVIDIA binding
  numba_cuda/numba/cuda/cudadrv/driver.py
Owners: @rapidsai/numba-cuda-write

[Refactor][NFC] Vendor in global_compiler_lock
  numba_cuda/numba/cuda/compiler.py
  numba_cuda/numba/cuda/core/compiler_lock.py
  numba_cuda/numba/cuda/dispatcher.py
  numba_cuda/numba/cuda/target.py
  numba_cuda/numba/cuda/tests/test_compiler_lock.py
Owners: @rapidsai/numba-cuda-write

[Refactor][NFC] Vendor in PassManager + passes + helpers
  numba_cuda/numba/cuda/compiler.py
  numba_cuda/numba/cuda/core/compiler_machinery.py
  numba_cuda/numba/cuda/core/typed_passes.py
  numba_cuda/numba/cuda/core/untyped_passes.py
  numba_cuda/numba/cuda/flags.py
Owners: @rapidsai/numba-cuda-write

`MemoryPointer`: ensure `CUdeviceptr` used with NVIDIA binding (#328)
  numba_cuda/numba/cuda/cudadrv/driver.py
  numba_cuda/numba/cuda/tests/cudadrv/test_emm_plugins.py
Owners: @rapidsai/numba-cuda-write

[Refactor] Update comments, remove dependency on lookup_environment for CUDACompileResult
  numba_cuda/numba/cuda/compiler.py
Owners: @rapidsai/numba-cuda-write

Re-enable intrinsics ptx tests
  numba_cuda/numba/cuda/tests/cudapy/test_intrinsics.py
Owners: @rapidsai/numba-cuda-write

Re-enable operator ptx tests
  numba_cuda/numba/cuda/tests/cudapy/test_operator.py
Owners: @rapidsai/numba-cuda-write

Add deadlock warnings to Stream.add_callback and Stream.async_done docstrings (#321)
  numba_cuda/numba/cuda/cudadrv/driver.py
Owners: @rapidsai/numba-cuda-write

Bump version to 0.17.0
  numba_cuda/VERSION
Owners: @rapidsai/numba-cuda-write

Bump version to 0.17.0 (#331)
  numba_cuda/VERSION
Owners: @rapidsai/numba-cuda-write

[REVIEW] Vendor in CompileResult as CUDACompileResult to allow for future CUDA-specific customizations (#325)
  numba_cuda/numba/cuda/compiler.py
Owners: @rapidsai/numba-cuda-write

[NFC] Vendor in DIBuilder used by CUDADIBuilder
  numba_cuda/numba/cuda/debuginfo.py
Owners: @rapidsai/numba-cuda-write

[Refactor][NFC] Vendor in BaseCallConv (#324)
  numba_cuda/numba/cuda/core/callconv.py
  numba_cuda/numba/cuda/target.py
Owners: @rapidsai/numba-cuda-write

[Refactor][NFC] Vendor in MinimalCallConv
  numba_cuda/numba/cuda/core/callconv.py
  numba_cuda/numba/cuda/target.py
Owners: @rapidsai/numba-cuda-write

Vendor NopythonTypeInference
  numba_cuda/numba/cuda/compiler.py
Owners: @rapidsai/numba-cuda-write

Flatten CUDANopythonTypeInference
  numba_cuda/numba/cuda/compiler.py
Owners: @rapidsai/numba-cuda-write

pass in pointer to circumvent a problem relating to fp16, raise error if nvjitlink is not found
  numba_cuda/numba/cuda/codegen.py
  numba_cuda/numba/cuda/testing.py
  numba_cuda/numba/cuda/tests/cudapy/test_inspect.py
Owners: @rapidsai/numba-cuda-write

Change check logic to allow getitem mutation of the array for the return
  numba_cuda/numba/cuda/compiler.py
Owners: @rapidsai/numba-cuda-write

[NFC] Vendor in interpret method of bc interpreter
  numba_cuda/numba/cuda/compiler.py
Owners: @rapidsai/numba-cuda-write

[Refactor][NFC] Vendor in MinimalCallConv (#333)
  numba_cuda/numba/cuda/core/callconv.py
  numba_cuda/numba/cuda/target.py
Owners: @rapidsai/numba-cuda-write

Add guidance on setting up pre-commit
  CONTRIBUTING.md
Owners: none

.github/CODEOWNERS:

#python code owners
numba_cuda/            @rapidsai/numba-cuda-write

#cmake code owners
**/CMakeLists.txt  @rapidsai/numba-cuda-write
**/cmake/          @rapidsai/numba-cuda-write

#CI code owners
/.github/                @rapidsai/ci-codeowners
/ci/                     @rapidsai/ci-codeowners
/.pre-commit-config.yaml @rapidsai/ci-codeowners

#packaging code owners
/.devcontainer/    @rapidsai/packaging-codeowners
/conda/            @rapidsai/packaging-codeowners
/dependencies.yaml @rapidsai/packaging-codeowners
/build.sh          @rapidsai/packaging-codeowners
pyproject.toml     @rapidsai/packaging-codeowners
