Repository NVIDIA/numba-cuda, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rapidsai/numba-cuda-write, @rapidsai/ci-codeowners, @rapidsai/packaging-codeowners

.github/CODEOWNERS:

#python code owners
numba_cuda/            @rapidsai/numba-cuda-write

#cmake code owners
**/CMakeLists.txt  @rapidsai/numba-cuda-write
**/cmake/          @rapidsai/numba-cuda-write

#CI code owners
/.github/                @rapidsai/ci-codeowners
/ci/                     @rapidsai/ci-codeowners
/.pre-commit-config.yaml @rapidsai/ci-codeowners

#packaging code owners
/.devcontainer/    @rapidsai/packaging-codeowners
/conda/            @rapidsai/packaging-codeowners
/dependencies.yaml @rapidsai/packaging-codeowners
/build.sh          @rapidsai/packaging-codeowners
pyproject.toml     @rapidsai/packaging-codeowners

Script for replacements
  replace_checks.py
Owners: none

Transforms on ir_utils
  numba_cuda/numba/cuda/core/ir_utils.py
Owners: @rapidsai/numba-cuda-write

fix a few more tests
  numba_cuda/numba/cuda/tests/cudapy/test_dispatcher.py
  numba_cuda/numba/cuda/tests/cudapy/test_gufunc.py
  numba_cuda/numba/cuda/tests/cudapy/test_ipc.py
  numba_cuda/numba/cuda/tests/cudapy/test_multigpu.py
  numba_cuda/numba/cuda/tests/cudapy/test_multithreads.py
  numba_cuda/numba/cuda/tests/nocuda/test_dummyarray.py
Owners: @rapidsai/numba-cuda-write

chore: bump version in pixi.toml
  pixi.lock
  pixi.toml
Owners: none

chore: materialize commit
  scripts/bench-against.py
Owners: none

refactor: make things quiet
  scripts/bench-against.py
Owners: none

bench: add dispatching variants
  numba_cuda/numba/cuda/tests/benchmarks/test_kernel_launch.py
Owners: @rapidsai/numba-cuda-write

refactor: remove devicearray to reduce complexity
  numba_cuda/numba/cuda/cext/_devicearray.cpp
  numba_cuda/numba/cuda/cext/_devicearray.h
  numba_cuda/numba/cuda/cext/_dispatcher.cpp
  numba_cuda/numba/cuda/cext/_typeof.cpp
  numba_cuda/numba/cuda/cudadrv/devicearray.py
  setup.py
Owners: @rapidsai/numba-cuda-write

chore: make _numba_type_ an instance attribute to avoid repeated computation of type
  numba_cuda/numba/cuda/cudadrv/devicearray.py
Owners: @rapidsai/numba-cuda-write

chore: reduce code by using `cached_property`
  numba_cuda/numba/cuda/cudadrv/devicearray.py
Owners: @rapidsai/numba-cuda-write

refactor: remove devicearray code to reduce complexity (#600)
  numba_cuda/numba/cuda/cext/_devicearray.cpp
  numba_cuda/numba/cuda/cext/_devicearray.h
  numba_cuda/numba/cuda/cext/_dispatcher.cpp
  numba_cuda/numba/cuda/cext/_typeof.cpp
  numba_cuda/numba/cuda/cudadrv/devicearray.py
  numba_cuda/numba/cuda/tests/benchmarks/test_kernel_launch.py
  scripts/bench-against.py
  setup.py
Owners: @rapidsai/numba-cuda-write

A bunch more changes
  numba_cuda/numba/cuda/core/analysis.py
  numba_cuda/numba/cuda/core/annotations/type_annotations.py
  numba_cuda/numba/cuda/core/interpreter.py
  numba_cuda/numba/cuda/core/ir.py
  numba_cuda/numba/cuda/core/rewrites/ir_print.py
  numba_cuda/numba/cuda/core/rewrites/static_getitem.py
  numba_cuda/numba/cuda/core/rewrites/static_raise.py
  numba_cuda/numba/cuda/core/ssa.py
  numba_cuda/numba/cuda/core/transforms.py
  numba_cuda/numba/cuda/core/typed_passes.py
  numba_cuda/numba/cuda/core/untyped_passes.py
Owners: @rapidsai/numba-cuda-write

chore: bump version in pixi.toml (#641)
  pixi.lock
  pixi.toml
Owners: none

add cudaroundmode APIs
  numba_cuda/numba/cuda/_internal/cuda_fp8.py
Owners: @rapidsai/numba-cuda-write

chore: bump pixi lock file
  pixi.lock
Owners: none

fix: test carveout value -1
  numba_cuda/numba/cuda/tests/cudadrv/test_cuda_driver.py
Owners: @rapidsai/numba-cuda-write

feat: users can pass shared_memory_carveout in jit
  numba_cuda/numba/cuda/decorators.py
  numba_cuda/numba/cuda/dispatcher.py
  numba_cuda/numba/cuda/simulator/api.py
  numba_cuda/numba/cuda/tests/cudapy/test_dispatcher.py
Owners: @rapidsai/numba-cuda-write

Enough to fix the #624 reproducer
  numba_cuda/numba/cuda/core/analysis.py
Owners: @rapidsai/numba-cuda-write

Some more nodes
  numba_cuda/numba/cuda/core/inline_closurecall.py
  numba_cuda/numba/cuda/core/postproc.py
  numba_cuda/numba/cuda/core/untyped_passes.py
Owners: @rapidsai/numba-cuda-write

Get the remainder of the instances
  numba_cuda/numba/cuda/core/analysis.py
  numba_cuda/numba/cuda/core/inline_closurecall.py
  numba_cuda/numba/cuda/core/interpreter.py
  numba_cuda/numba/cuda/core/ir.py
  numba_cuda/numba/cuda/core/ir_utils.py
  numba_cuda/numba/cuda/core/rewrites/ir_print.py
  numba_cuda/numba/cuda/core/rewrites/static_getitem.py
  numba_cuda/numba/cuda/core/rewrites/static_raise.py
  numba_cuda/numba/cuda/core/transforms.py
  numba_cuda/numba/cuda/core/typed_passes.py
  numba_cuda/numba/cuda/core/typeinfer.py
  numba_cuda/numba/cuda/core/untyped_passes.py
  numba_cuda/numba/cuda/lowering.py
Owners: @rapidsai/numba-cuda-write

Fix up line accidentally left in
  numba_cuda/numba/cuda/core/ir.py
Owners: @rapidsai/numba-cuda-write

even more tests
  numba_cuda/numba/cuda/cudadrv/devicearray.py
  numba_cuda/numba/cuda/tests/cudapy/test_cuda_array_interface.py
  numba_cuda/numba/cuda/tests/cudapy/test_gufunc_scalar.py
  numba_cuda/numba/cuda/tests/cudapy/test_multithreads.py
  numba_cuda/numba/cuda/tests/cudapy/test_vectorize.py
  numba_cuda/numba/cuda/vectorizers.py
Owners: @rapidsai/numba-cuda-write

feat: add set_shared_memory_carveout (#629)
  numba_cuda/numba/cuda/cudadrv/driver.py
  numba_cuda/numba/cuda/tests/cudadrv/test_cuda_driver.py
Owners: @rapidsai/numba-cuda-write

expose minor ver as env var
  ci/tools/env-vars
Owners: @rapidsai/ci-codeowners

Constrain wheel major.minor vers
  ci/tools/run-tests
Owners: @rapidsai/ci-codeowners

Implement all node types for non-Numba case
  numba_cuda/numba/cuda/core/ir.py
Owners: @rapidsai/numba-cuda-write

ensure cuda-toolkit can be used to constrain version
  pyproject.toml
Owners: @rapidsai/packaging-codeowners

chore: add prof tools
  pixi.lock
  pixi.toml
Owners: none

fix blackscholes test
  numba_cuda/numba/cuda/deviceufunc.py
  numba_cuda/numba/cuda/tests/cudapy/test_blackscholes.py
Owners: @rapidsai/numba-cuda-write

fix test_gufunc_arg
  numba_cuda/numba/cuda/deviceufunc.py
  numba_cuda/numba/cuda/vectorizers.py
Owners: @rapidsai/numba-cuda-write

Converting numba driver to use cuda.core.launch API
  numba_cuda/numba/cuda/cudadrv/driver.py
  numba_cuda/numba/cuda/dispatcher.py
  numba_cuda/numba/cuda/memory_management/nrt.py
  numba_cuda/numba/cuda/tests/cudadrv/test_cuda_driver.py
  numba_cuda/numba/cuda/tests/cudadrv/test_linker.py
  numba_cuda/numba/cuda/tests/cudapy/test_dispatcher.py
Owners: @rapidsai/numba-cuda-write

chore: greatly simplify a bunch of int checking and then conversion
  numba_cuda/numba/cuda/cudadrv/driver.py
Owners: @rapidsai/numba-cuda-write

refactor: remove unnecessary cufunction shenanigans
  numba_cuda/numba/cuda/cudadrv/driver.py
  numba_cuda/numba/cuda/dispatcher.py
  numba_cuda/numba/cuda/memory_management/nrt.py
Owners: @rapidsai/numba-cuda-write

chore: make `HandleCompat` have less overhead
  numba_cuda/numba/cuda/cudadrv/driver.py
Owners: @rapidsai/numba-cuda-write

chore: clarify int constructor
  numba_cuda/numba/cuda/cudadrv/driver.py
Owners: @rapidsai/numba-cuda-write

chore: clean stream repr
  numba_cuda/numba/cuda/cudadrv/driver.py
Owners: @rapidsai/numba-cuda-write

chore: reduce comprehension noise
  numba_cuda/numba/cuda/cudadrv/driver.py
Owners: @rapidsai/numba-cuda-write

refactor: add types to named tuples in driver.py
  numba_cuda/numba/cuda/cudadrv/driver.py
Owners: @rapidsai/numba-cuda-write

chore: launch kernels directly
  numba_cuda/numba/cuda/dispatcher.py
  numba_cuda/numba/cuda/memory_management/nrt.py
  numba_cuda/numba/cuda/tests/cudadrv/test_cuda_driver.py
Owners: @rapidsai/numba-cuda-write

chore: use library for module type testing
  numba_cuda/numba/cuda/tests/cudadrv/test_module_callbacks.py
Owners: @rapidsai/numba-cuda-write
