Repository NVIDIA/numba-cuda, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rapidsai/numba-cuda-write, @rapidsai/ci-codeowners, @rapidsai/packaging-codeowners

Update ci/test_wheel.sh
  ci/test_wheel.sh
Owners: @rapidsai/ci-codeowners

formatting
  numba_cuda/numba/cuda/debuginfo.py
Owners: @rapidsai/numba-cuda-write

formatting indent
  numba_cuda/numba/cuda/debuginfo.py
Owners: @rapidsai/numba-cuda-write

Use appropriate version of cuda-python for wheel tests
  ci/test_wheel.sh
Owners: @rapidsai/ci-codeowners

Fix skipping of test
  numba_cuda/numba/cuda/tests/cudapy/test_extending.py
Owners: @rapidsai/numba-cuda-write

Attempt to use compatible Python and cuda-python versions
  .github/actions/compute-matrix/action.yaml
  .github/workflows/conda-python-tests.yaml
  .github/workflows/wheels-test.yaml
Owners: @rapidsai/ci-codeowners

Skip tests that need cuda.bindings when it is unavailable
  numba_cuda/numba/cuda/tests/cudadrv/test_module_callbacks.py
Owners: @rapidsai/numba-cuda-write

Revert "Skip tests that need cuda.bindings when it is unavailable"
  numba_cuda/numba/cuda/tests/cudadrv/test_module_callbacks.py
Owners: @rapidsai/numba-cuda-write

Revert "Attempt to use compatible Python and cuda-python versions"
  .github/actions/compute-matrix/action.yaml
  .github/workflows/conda-python-tests.yaml
  .github/workflows/wheels-test.yaml
Owners: @rapidsai/ci-codeowners

Use major version only for cuda-python
  ci/test_wheel.sh
Owners: @rapidsai/ci-codeowners

Update numba_cuda/numba/cuda/cudadrv/driver.py
  numba_cuda/numba/cuda/cudadrv/driver.py
Owners: @rapidsai/numba-cuda-write

Fixes for adding data to link (#241)
  ci/test_conda.sh
  ci/test_wheel.sh
  numba_cuda/numba/cuda/cudadrv/driver.py
  numba_cuda/numba/cuda/cudadrv/linkable_code.py
  numba_cuda/numba/cuda/tests/cudapy/test_extending.py
  numba_cuda/numba/cuda/tests/test_binary_generation/test_device_functions.cu
Owners: @rapidsai/ci-codeowners, @rapidsai/numba-cuda-write

simplify and update docstring
  numba_cuda/numba/cuda/dispatcher.py
Owners: @rapidsai/numba-cuda-write

small bugfix
  numba_cuda/numba/cuda/dispatcher.py
Owners: @rapidsai/numba-cuda-write

reoder steps in final CI script
  ci/test_wheel.sh
Owners: @rapidsai/ci-codeowners

Support consuming NRT functions from external libraries (#167)
  ci/test_wheel.sh
  ci/test_wheel_deps_wheels.sh
  ci/test_wheel_pynvjitlink.sh
  numba_cuda/numba/cuda/codegen.py
  numba_cuda/numba/cuda/cudadrv/driver.py
  numba_cuda/numba/cuda/cudadrv/linkable_code.py
  numba_cuda/numba/cuda/dispatcher.py
  numba_cuda/numba/cuda/runtime/nrt.cu
  numba_cuda/numba/cuda/runtime/nrt.cuh
  numba_cuda/numba/cuda/runtime/nrt.py
  numba_cuda/numba/cuda/tests/nrt/test_nrt.py
  numba_cuda/numba/cuda/tests/test_binary_generation/Makefile
  numba_cuda/numba/cuda/tests/test_binary_generation/generate_raw_ltoir.py
  numba_cuda/numba/cuda/tests/test_binary_generation/nrt_extern.cu
  numba_cuda/numba/cuda/utils.py
Owners: @rapidsai/ci-codeowners, @rapidsai/numba-cuda-write

CodeLibrary: Add linking files to library when linking another library
  numba_cuda/numba/cuda/codegen.py
  numba_cuda/numba/cuda/tests/cudapy/test_extending.py
Owners: @rapidsai/numba-cuda-write

Add external linked code to code libraries
  numba_cuda/numba/cuda/codegen.py
  numba_cuda/numba/cuda/compiler.py
  numba_cuda/numba/cuda/dispatcher.py
Owners: @rapidsai/numba-cuda-write

Tidy up / refactor and document declare_device_function
  numba_cuda/numba/cuda/compiler.py
  numba_cuda/numba/cuda/cudadecl.py
  numba_cuda/numba/cuda/decorators.py
Owners: @rapidsai/numba-cuda-write

Add a test of calling an external function through an overload
  numba_cuda/numba/cuda/tests/cudapy/test_extending.py
Owners: @rapidsai/numba-cuda-write

add a test to use bf16 bindings inside device functions
  numba_cuda/numba/cuda/tests/cudapy/test_bfloat16_bindings.py
Owners: @rapidsai/numba-cuda-write

initial
  docs/source/reference/types.rst
  numba_cuda/numba/cuda/_internal/cuda_bf16.py
  numba_cuda/numba/cuda/api.py
  numba_cuda/numba/cuda/bf16.py
  numba_cuda/numba/cuda/cudadrv/driver.py
  numba_cuda/numba/cuda/tests/cudapy/test_bfloat16.py
  numba_cuda/numba/cuda/tests/cudapy/test_bfloat16_bindings.py
Owners: @rapidsai/numba-cuda-write

update generation script
  numba_cuda/numba/cuda/_internal/cuda_bf16.py
Owners: @rapidsai/numba-cuda-write

Fix inlining behaviour at the NVVM IR level
  numba_cuda/numba/cuda/compiler.py
  numba_cuda/numba/cuda/decorators.py
  numba_cuda/numba/cuda/dispatcher.py
  numba_cuda/numba/cuda/tests/cudapy/test_inline.py
Owners: @rapidsai/numba-cuda-write

Fix inlining behaviour at the NVVM IR level
  numba_cuda/numba/cuda/compiler.py
  numba_cuda/numba/cuda/decorators.py
  numba_cuda/numba/cuda/dispatcher.py
  numba_cuda/numba/cuda/tests/cudapy/test_inline.py
Owners: @rapidsai/numba-cuda-write

Fix inlining behaviour at the NVVM IR level (#247)
  numba_cuda/numba/cuda/compiler.py
  numba_cuda/numba/cuda/decorators.py
  numba_cuda/numba/cuda/dispatcher.py
  numba_cuda/numba/cuda/tests/cudapy/test_inline.py
Owners: @rapidsai/numba-cuda-write

Bump version to 0.10.1
  numba_cuda/VERSION
Owners: @rapidsai/numba-cuda-write

Simplify the wheels build matrix
  .github/workflows/pr.yaml
  .github/workflows/wheels-build.yaml
Owners: @rapidsai/ci-codeowners

Bump version to 0.10.1 (#248)
  numba_cuda/VERSION
Owners: @rapidsai/numba-cuda-write

Add external linked code to code libraries
  numba_cuda/numba/cuda/codegen.py
  numba_cuda/numba/cuda/compiler.py
  numba_cuda/numba/cuda/dispatcher.py
Owners: @rapidsai/numba-cuda-write

Tidy up / refactor and document declare_device_function
  numba_cuda/numba/cuda/compiler.py
  numba_cuda/numba/cuda/cudadecl.py
  numba_cuda/numba/cuda/decorators.py
Owners: @rapidsai/numba-cuda-write

CodeLibrary: Add linking files to library when linking another library
  numba_cuda/numba/cuda/codegen.py
  numba_cuda/numba/cuda/tests/cudapy/test_extending.py
Owners: @rapidsai/numba-cuda-write

Add a test of calling an external function through an overload
  numba_cuda/numba/cuda/tests/cudapy/test_extending.py
Owners: @rapidsai/numba-cuda-write

Move to a simple YAML file for build and test
  .github/workflows/conda-python-build.yaml
  .github/workflows/pr.yaml
  .github/workflows/wheels-build.yaml
  ci/matrix.yml
Owners: @rapidsai/ci-codeowners

Migrate the tests to use a central matrix
  .github/workflows/conda-python-tests.yaml
  .github/workflows/pr.yaml
  .github/workflows/wheels-test.yaml
Owners: @rapidsai/ci-codeowners

Remove action, harmonize test matrix names
  .github/actions/compute-matrix/action.yaml
  .github/workflows/conda-python-tests.yaml
Owners: @rapidsai/ci-codeowners

enable exp2 for 3.10+
  numba_cuda/numba/cuda/bf16.py
Owners: @rapidsai/numba-cuda-write

Fix inlining behaviour at the NVVM IR level (#246)
  numba_cuda/numba/cuda/compiler.py
  numba_cuda/numba/cuda/decorators.py
  numba_cuda/numba/cuda/dispatcher.py
  numba_cuda/numba/cuda/tests/cudapy/test_inline.py
Owners: @rapidsai/numba-cuda-write

bump version to 0.11.0
  numba_cuda/VERSION
Owners: @rapidsai/numba-cuda-write

add tanh / tanh_approx bindings test
  numba_cuda/numba/cuda/tests/cudapy/test_bfloat16_bindings.py
Owners: @rapidsai/numba-cuda-write

.github/CODEOWNERS:

#python code owners
numba_cuda/            @rapidsai/numba-cuda-write

#cmake code owners
**/CMakeLists.txt  @rapidsai/numba-cuda-write
**/cmake/          @rapidsai/numba-cuda-write

#CI code owners
/.github/                @rapidsai/ci-codeowners
/ci/                     @rapidsai/ci-codeowners
/.pre-commit-config.yaml @rapidsai/ci-codeowners

#packaging code owners
/.devcontainer/    @rapidsai/packaging-codeowners
/conda/            @rapidsai/packaging-codeowners
/dependencies.yaml @rapidsai/packaging-codeowners
/build.sh          @rapidsai/packaging-codeowners
pyproject.toml     @rapidsai/packaging-codeowners
