Repository NVIDIA/numba-cuda, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rapidsai/numba-cuda-write, @rapidsai/ci-codeowners, @rapidsai/packaging-codeowners

fix sub-sub section headers
  docs/source/reference/types.rst
Owners: none

skip simulator for roundtrip
  numba_cuda/numba/cuda/tests/cudapy/test_bfloat16.py
Owners: @rapidsai/numba-cuda-write

[Refactor][NFC] Vendor in Environment class (#379)
  numba_cuda/numba/cuda/core/caching.py
  numba_cuda/numba/cuda/core/environment.py
  numba_cuda/numba/cuda/lowering.py
  numba_cuda/numba/cuda/tests/core/test_serialize.py
Owners: @rapidsai/numba-cuda-write

Remove _helperlib dep., implement attempt_nocopy_reshape in python for CUDA-specific changes (#383)
  numba_cuda/numba/cuda/cudadrv/dummyarray.py
Owners: @rapidsai/numba-cuda-write

Vendor in bytecode.py for CUDA-specific refactoring (#391)
  numba_cuda/numba/cuda/core/bytecode.py
  numba_cuda/numba/cuda/core/compiler.py
  numba_cuda/numba/cuda/tests/cudapy/test_ir_utils.py
Owners: @rapidsai/numba-cuda-write

Remove `MVCLinker` and straggling uses of / references to `cubinlinker` (#413)
  numba_cuda/numba/cuda/cudadrv/driver.py
  numba_cuda/numba/cuda/testing.py
  numba_cuda/numba/cuda/tests/cudadrv/test_mvc.py
  numba_cuda/numba/cuda/tests/cudapy/test_caching.py
  numba_cuda/numba/cuda/tests/cudapy/test_cooperative_groups.py
  numba_cuda/numba/cuda/tests/doc_examples/test_cg.py
  numba_cuda/numba/cuda/tests/doc_examples/test_laplace.py
  numba_cuda/numba/cuda/tests/doc_examples/test_sessionize.py
Owners: @rapidsai/numba-cuda-write

Remove costly but low-utility assertions
  numba_cuda/numba/cuda/typing/templates.py
Owners: @rapidsai/numba-cuda-write

Vendor in ssa and postproc, required for ir
  numba_cuda/numba/cuda/core/compiler.py
  numba_cuda/numba/cuda/core/interpreter.py
  numba_cuda/numba/cuda/core/postproc.py
  numba_cuda/numba/cuda/core/ssa.py
  numba_cuda/numba/cuda/core/untyped_passes.py
Owners: @rapidsai/numba-cuda-write

[FEA] Add SPDX checker pre-commit hook (#415)
  .pre-commit-config.yaml
  .spdx-ignore
  numba_cuda/numba/cuda/core/bytecode.py
  numba_cuda/numba/cuda/core/environment.py
  toolshed/check_spdx.py
Owners: @rapidsai/ci-codeowners, @rapidsai/numba-cuda-write

Remove costly but low-utility assertions (#416)
  numba_cuda/numba/cuda/typing/templates.py
Owners: @rapidsai/numba-cuda-write

use numba typing templates
  numba_cuda/numba/cuda/_internal/cuda_bf16.py
Owners: @rapidsai/numba-cuda-write

Add CLA and third party Numba license (#410)
  CLA.md
  CONTRIBUTING.md
  LICENSE.numba
  conda/recipes/numba-cuda/meta.yaml
  pyproject.toml
Owners: @rapidsai/packaging-codeowners

skip lto test without nvjitlink
  numba_cuda/numba/cuda/tests/cudapy/test_bfloat16_bindings.py
Owners: @rapidsai/numba-cuda-write

skip cuda sim for bfloat16 tests
  numba_cuda/numba/cuda/tests/cudapy/test_bfloat16.py
Owners: @rapidsai/numba-cuda-write

Vendor in SSA and related test
  numba_cuda/numba/cuda/core/ssa.py
  numba_cuda/numba/cuda/core/untyped_passes.py
  numba_cuda/numba/cuda/tests/cudapy/test_ssa.py
Owners: @rapidsai/numba-cuda-write

Fix the version checks for 3.9
  numba_cuda/numba/cuda/core/interpreter.py
Owners: @rapidsai/numba-cuda-write

update simulator tests
  numba_cuda/numba/cuda/tests/cudapy/test_print.py
Owners: @rapidsai/numba-cuda-write

Update test_ssa to use cuda.jit
  numba_cuda/numba/cuda/tests/cudapy/test_ssa.py
Owners: @rapidsai/numba-cuda-write

Backport interpreter.py for Python 3.9 (#392)
  numba_cuda/numba/cuda/compiler.py
  numba_cuda/numba/cuda/core/interpreter.py
Owners: @rapidsai/numba-cuda-write

[Refactor][Cleanup] Fix dangling imports left by Vendoring PRs
  numba_cuda/numba/cuda/core/compiler.py
  numba_cuda/numba/cuda/core/compiler_machinery.py
  numba_cuda/numba/cuda/core/ir_utils.py
  numba_cuda/numba/cuda/core/typed_passes.py
  numba_cuda/numba/cuda/core/untyped_passes.py
  numba_cuda/numba/cuda/tests/cudapy/test_ir_utils.py
  numba_cuda/numba/cuda/typing/templates.py
Owners: @rapidsai/numba-cuda-write

[NFC][Refactor] Vendor in find_lib
  numba_cuda/numba/cuda/cuda_paths.py
  numba_cuda/numba/cuda/cudadrv/libs.py
  numba_cuda/numba/cuda/misc/findlib.py
  numba_cuda/numba/cuda/tests/cudadrv/test_cuda_libraries.py
Owners: @rapidsai/numba-cuda-write

Addings SPDX identifier to newly added findlib.py
  numba_cuda/numba/cuda/misc/findlib.py
Owners: @rapidsai/numba-cuda-write

[Refactor][NFC] Vendor-in np support utilities for CUDA-specific optimizations
  numba_cuda/numba/cuda/np/numpy_support.py
  numba_cuda/numba/cuda/simulator/cudadrv/devicearray.py
  numba_cuda/numba/cuda/simulator/kernelapi.py
  numba_cuda/numba/cuda/tests/cudadrv/test_cuda_devicerecord.py
  numba_cuda/numba/cuda/tests/cudapy/test_complex.py
  numba_cuda/numba/cuda/tests/cudapy/test_datetime.py
  numba_cuda/numba/cuda/tests/cudapy/test_math.py
  numba_cuda/numba/cuda/tests/cudapy/test_operator.py
  numba_cuda/numba/cuda/tests/cudapy/test_record_dtype.py
  numba_cuda/numba/cuda/tests/cudapy/test_serialize.py
  numba_cuda/numba/cuda/tests/cudapy/test_sm.py
  numba_cuda/numba/cuda/tests/support.py
  numba_cuda/numba/cuda/ufuncs.py
Owners: @rapidsai/numba-cuda-write

Adds SPDX identifier to newly added numpy_support.py
  numba_cuda/numba/cuda/np/numpy_support.py
Owners: @rapidsai/numba-cuda-write

add version guard for numpy dtype to numba type mappings
  numba_cuda/numba/cuda/np/numpy_support.py
Owners: @rapidsai/numba-cuda-write

[Refactor][NFC] Vendor in ufunc utility functions, classes
  numba_cuda/numba/cuda/deviceufunc.py
  numba_cuda/numba/cuda/np/ufunc/ufuncbuilder.py
  numba_cuda/numba/cuda/tests/cudapy/test_ufuncs.py
  numba_cuda/numba/cuda/tests/cudapy/test_vectorize_decor.py
Owners: @rapidsai/numba-cuda-write

Adds SPDX identifier to newly added ufuncbuilder.py
  numba_cuda/numba/cuda/np/ufunc/ufuncbuilder.py
Owners: @rapidsai/numba-cuda-write

[NFC][Refactor] Vendor in Cloud Pickler
  numba_cuda/numba/cuda/cloudpickle/__init__.py
  numba_cuda/numba/cuda/cloudpickle/cloudpickle.py
  numba_cuda/numba/cuda/cloudpickle/cloudpickle_fast.py
  numba_cuda/numba/cuda/serialize.py
  numba_cuda/numba/cuda/tests/cloudpickle_main_class.py
  numba_cuda/numba/cuda/tests/core/test_serialize.py
Owners: @rapidsai/numba-cuda-write

Port tests to use numba cuda
  numba_cuda/numba/cuda/tests/cudapy/test_ssa.py
Owners: @rapidsai/numba-cuda-write

Use vendored utils for python 3.9 and add licenses
  numba_cuda/numba/cuda/core/ssa.py
  numba_cuda/numba/cuda/tests/cudapy/test_ssa.py
Owners: @rapidsai/numba-cuda-write

Initial vendor of postproc module
  numba_cuda/numba/cuda/compiler.py
  numba_cuda/numba/cuda/core/compiler_machinery.py
  numba_cuda/numba/cuda/core/ir_utils.py
  numba_cuda/numba/cuda/core/postproc.py
  numba_cuda/numba/cuda/core/typed_passes.py
  numba_cuda/numba/cuda/core/untyped_passes.py
Owners: @rapidsai/numba-cuda-write

Skip warnings tests on the simulator
  numba_cuda/numba/cuda/tests/cudapy/test_ssa.py
Owners: @rapidsai/numba-cuda-write

Vendor in the consts module
  numba_cuda/numba/cuda/core/analysis.py
  numba_cuda/numba/cuda/core/consts.py
  numba_cuda/numba/cuda/core/untyped_passes.py
Owners: @rapidsai/numba-cuda-write

skip simulator test on host
  numba_cuda/numba/cuda/tests/cudapy/test_print.py
Owners: @rapidsai/numba-cuda-write

Remove costly but low-utility assertions (#416)
  numba_cuda/numba/cuda/typing/templates.py
Owners: @rapidsai/numba-cuda-write

Fix NRT stats tests when MVC is required and add them to thirdparty (#406)
  ci/test_thirdparty.sh
  numba_cuda/numba/cuda/memory_management/nrt.py
Owners: @rapidsai/ci-codeowners, @rapidsai/numba-cuda-write

Test oldest supported dependencies (#404)
  .github/workflows/conda-python-tests.yaml
  .github/workflows/wheels-test.yaml
  ci/build_docs.sh
  ci/coverage_report.sh
  ci/matrix.yml
  ci/test_conda.sh
  ci/test_conda_ctypes_binding.sh
  ci/test_simulator.sh
  ci/test_wheel.sh
Owners: @rapidsai/ci-codeowners

Vendor in UnsupportedBytecodeError (#403)
  numba_cuda/numba/cuda/core/interpreter.py
  numba_cuda/numba/cuda/errors.py
Owners: @rapidsai/numba-cuda-write

Bump thirdparty test version (#402)
  ci/test_thirdparty.sh
Owners: @rapidsai/ci-codeowners

Fix correctness issue in debug mode code generation for dynamic types. (#305)
  numba_cuda/numba/cuda/lowering.py
  numba_cuda/numba/cuda/tests/cudapy/test_debuginfo.py
Owners: @rapidsai/numba-cuda-write

.github/CODEOWNERS:

#python code owners
numba_cuda/            @rapidsai/numba-cuda-write

#cmake code owners
**/CMakeLists.txt  @rapidsai/numba-cuda-write
**/cmake/          @rapidsai/numba-cuda-write

#CI code owners
/.github/                @rapidsai/ci-codeowners
/ci/                     @rapidsai/ci-codeowners
/.pre-commit-config.yaml @rapidsai/ci-codeowners

#packaging code owners
/.devcontainer/    @rapidsai/packaging-codeowners
/conda/            @rapidsai/packaging-codeowners
/dependencies.yaml @rapidsai/packaging-codeowners
/build.sh          @rapidsai/packaging-codeowners
pyproject.toml     @rapidsai/packaging-codeowners
