Repository NVIDIA/numba-cuda, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rapidsai/numba-cuda-write, @rapidsai/ci-codeowners, @rapidsai/packaging-codeowners

chore: remove specific warning in favor of checking only the matching text
  numba_cuda/numba/cuda/tests/cudadrv/test_nvvm_driver.py
Owners: @rapidsai/numba-cuda-write

fix(allocations): ensure that allocations dict does not raise KeyError during finalization
  numba_cuda/numba/cuda/cudadrv/driver.py
Owners: @rapidsai/numba-cuda-write

test: remove test that fails and has not been running for a long time because of incorrect decorator usage
  numba_cuda/numba/cuda/tests/cudadrv/test_cuda_libraries.py
Owners: @rapidsai/numba-cuda-write

chore: fix format string for TheMSys size_t member
  numba_cuda/numba/cuda/memory_management/memsys.cu
Owners: @rapidsai/numba-cuda-write

chore: ignore more warnings
  testing/pytest.ini
Owners: none

chore: windows
  testing/pytest.ini
Owners: none

test: revert imports back to main
  numba_cuda/numba/cuda/tests/cudapy/test_lineinfo.py
  numba_cuda/numba/cuda/tests/cudapy/test_warning.py
Owners: @rapidsai/numba-cuda-write

chore: disable some perf warnings
  numba_cuda/numba/cuda/tests/test_array_reductions.py
  testing/pytest.ini
Owners: @rapidsai/numba-cuda-write

chore: simplify type inference test
  numba_cuda/numba/cuda/tests/cudapy/test_typeinfer.py
Owners: @rapidsai/numba-cuda-write

chore: bump lock file
  pixi.lock
Owners: none

test: fix warning class path
  testing/pytest.ini
Owners: none

chore: fix nvjitlink warning capture
  testing/pytest.ini
Owners: none

chore: fix error class path
  testing/pytest.ini
Owners: none

chore: fix even more warnings
  testing/pytest.ini
Owners: none

chore: disable more warnings
  testing/pytest.ini
Owners: none

chore: tighten up the message code
  numba_cuda/numba/cuda/core/typed_passes.py
  numba_cuda/numba/cuda/core/untyped_passes.py
Owners: @rapidsai/numba-cuda-write

test: move error class paths to numba.cuda.core from numba.core
  testing/pytest.ini
Owners: none

chore: revert back to numba.core
  testing/pytest.ini
Owners: none

chore: still a newline
  testing/pytest.ini
Owners: none

chore: add simtest
  pixi.toml
Owners: none

chore: make the `elapsed_time` API actually bogus and get rid of pointless warning
  numba_cuda/numba/cuda/simulator/api.py
Owners: @rapidsai/numba-cuda-write

test: more warnings to ignore
  testing/pytest.ini
Owners: none

test: fix regression
  numba_cuda/numba/cuda/tests/cudapy/test_ir.py
  numba_cuda/numba/cuda/tests/test_array_reductions.py
Owners: @rapidsai/numba-cuda-write

test: fix broken simulator interface
  numba_cuda/numba/cuda/simulator/cudadrv/devicearray.py
  numba_cuda/numba/cuda/testing.py
  numba_cuda/numba/cuda/tests/cudapy/test_atomics.py
  testing/pytest.ini
Owners: @rapidsai/numba-cuda-write

test: enable fail-on-warn and clean up resulting failures (#529)
  numba_cuda/numba/cuda/core/typed_passes.py
  numba_cuda/numba/cuda/core/untyped_passes.py
  numba_cuda/numba/cuda/cudadrv/driver.py
  numba_cuda/numba/cuda/memory_management/memsys.cu
  numba_cuda/numba/cuda/simulator/api.py
  numba_cuda/numba/cuda/simulator/cudadrv/devicearray.py
  numba_cuda/numba/cuda/testing.py
  numba_cuda/numba/cuda/tests/cudadrv/test_cuda_libraries.py
  numba_cuda/numba/cuda/tests/cudadrv/test_is_fp16.py
  numba_cuda/numba/cuda/tests/cudadrv/test_linker.py
  numba_cuda/numba/cuda/tests/cudadrv/test_nvjitlink.py
  numba_cuda/numba/cuda/tests/cudadrv/test_nvvm_driver.py
  numba_cuda/numba/cuda/tests/cudapy/extensions_usecases.py
  numba_cuda/numba/cuda/tests/cudapy/test_atomics.py
  numba_cuda/numba/cuda/tests/cudapy/test_compiler.py
  numba_cuda/numba/cuda/tests/cudapy/test_gufunc.py
  numba_cuda/numba/cuda/tests/cudapy/test_ir.py
  numba_cuda/numba/cuda/tests/cudapy/test_lineinfo.py
  numba_cuda/numba/cuda/tests/cudapy/test_localmem.py
  numba_cuda/numba/cuda/tests/cudapy/test_math.py
  numba_cuda/numba/cuda/tests/cudapy/test_sm.py
  numba_cuda/numba/cuda/tests/cudapy/test_sm_creation.py
  numba_cuda/numba/cuda/tests/cudapy/test_typeinfer.py
  numba_cuda/numba/cuda/tests/cudapy/test_warning.py
  numba_cuda/numba/cuda/tests/nrt/test_nrt_refct.py
  numba_cuda/numba/cuda/tests/test_analysis.py
  numba_cuda/numba/cuda/tests/test_array_reductions.py
  numba_cuda/numba/cuda/tests/test_extending.py
  pixi.lock
  pixi.toml
  testing/pytest.ini
Owners: @rapidsai/numba-cuda-write

Fix the `cuda.is_supported_version()` API
  numba_cuda/numba/cuda/device_init.py
  numba_cuda/numba/cuda/tests/cudadrv/test_runtime.py
Owners: @rapidsai/numba-cuda-write

add dim3 and grid_group
  numba_cuda/numba/cuda/types/__init__.py
Owners: @rapidsai/numba-cuda-write

Propose Alternative Module Path for `ext_types` and Maintain `numba.cuda.types.bfloat16` Import API (#569)
  numba_cuda/numba/cuda/_internal/cuda_bf16.py
  numba_cuda/numba/cuda/cg.py
  numba_cuda/numba/cuda/cudadecl.py
  numba_cuda/numba/cuda/cudaimpl.py
  numba_cuda/numba/cuda/debuginfo.py
  numba_cuda/numba/cuda/dispatcher.py
  numba_cuda/numba/cuda/models.py
  numba_cuda/numba/cuda/printimpl.py
  numba_cuda/numba/cuda/tests/cudapy/test_bfloat16.py
  numba_cuda/numba/cuda/tests/cudapy/test_print.py
  numba_cuda/numba/cuda/types/__init__.py
  numba_cuda/numba/cuda/types/ext_types.py
Owners: @rapidsai/numba-cuda-write

ci: replace conda testing with pixi
  .github/workflows/conda-python-tests.yaml
  .github/workflows/simulator-test.yaml
  ci/test_conda.sh
  ci/test_simulator.sh
  numba_cuda/numba/cuda/tests/cudadrv/test_deallocations.py
  pixi.lock
  pixi.toml
  pyproject.toml
Owners: @rapidsai/ci-codeowners, @rapidsai/numba-cuda-write, @rapidsai/packaging-codeowners

Add `is_supported_version()` to simulator API
  numba_cuda/numba/cuda/simulator/api.py
Owners: @rapidsai/numba-cuda-write

Move test_is_supported_version()
  numba_cuda/numba/cuda/tests/cudadrv/test_detect.py
  numba_cuda/numba/cuda/tests/cudadrv/test_runtime.py
Owners: @rapidsai/numba-cuda-write

Restore `Runtime.is_supported_version()`
  numba_cuda/numba/cuda/cudadrv/runtime.py
  numba_cuda/numba/cuda/device_init.py
Owners: @rapidsai/numba-cuda-write

Run PR workflow on merge to main
  .github/workflows/pr.yaml
Owners: @rapidsai/ci-codeowners

update skip_on_cudasim to have messages, and update errors import to use vendored in numba.cuda.core.errors
  numba_cuda/numba/cuda/tests/test_array_attr.py
  numba_cuda/numba/cuda/tests/test_array_constants.py
  numba_cuda/numba/cuda/tests/test_array_iterators.py
  numba_cuda/numba/cuda/typing/context.py
Owners: @rapidsai/numba-cuda-write

[CI] Run PR workflow on merge to main (#572)
  .github/workflows/pr.yaml
Owners: @rapidsai/ci-codeowners

ci: replace conda testing with pixi (#554)
  .github/workflows/conda-python-tests.yaml
  .github/workflows/simulator-test.yaml
  ci/test_conda.sh
  ci/test_simulator.sh
  numba_cuda/numba/cuda/tests/cudadrv/test_deallocations.py
  pixi.lock
  pixi.toml
  pyproject.toml
Owners: @rapidsai/ci-codeowners, @rapidsai/numba-cuda-write, @rapidsai/packaging-codeowners

chore: add explanation regarding steps kwarg
  docs/source/user/cudapysupported.rst
Owners: none

Copy checks.yaml from rapidsai/shared-workflows branch-25.04
  .github/workflows/checks.yaml
Owners: @rapidsai/ci-codeowners

Simplify checks.yaml to only the parts we need
  .github/workflows/checks.yaml
Owners: @rapidsai/ci-codeowners

Use our local checks.yaml in pr.yaml
  .github/workflows/pr.yaml
Owners: @rapidsai/ci-codeowners

.github/CODEOWNERS:

#python code owners
numba_cuda/            @rapidsai/numba-cuda-write

#cmake code owners
**/CMakeLists.txt  @rapidsai/numba-cuda-write
**/cmake/          @rapidsai/numba-cuda-write

#CI code owners
/.github/                @rapidsai/ci-codeowners
/ci/                     @rapidsai/ci-codeowners
/.pre-commit-config.yaml @rapidsai/ci-codeowners

#packaging code owners
/.devcontainer/    @rapidsai/packaging-codeowners
/conda/            @rapidsai/packaging-codeowners
/dependencies.yaml @rapidsai/packaging-codeowners
/build.sh          @rapidsai/packaging-codeowners
pyproject.toml     @rapidsai/packaging-codeowners
