Repository NVIDIA/numba-cuda, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rapidsai/numba-cuda-write, @rapidsai/ci-codeowners, @rapidsai/packaging-codeowners

ensure optional dependencies are captured, tested, and documented
  .github/workflows/wheels-test.yaml
  ci/test_wheel_deps_wheels.sh
  docs/source/user/overview.rst
  pyproject.toml
Owners: @rapidsai/ci-codeowners, @rapidsai/packaging-codeowners

Apply suggestions from code review
  ci/test_wheel_deps_wheels.sh
Owners: @rapidsai/ci-codeowners

split out common test deps from per-CUDA-major ones
  ci/test_wheel.sh
  ci/test_wheel_deps_wheels.sh
  ci/test_wheel_pynvjitlink.sh
  pyproject.toml
Owners: @rapidsai/ci-codeowners, @rapidsai/packaging-codeowners

Document launch_bounds type using Python typing style
  numba_cuda/numba/cuda/compiler.py
  numba_cuda/numba/cuda/decorators.py
Owners: @rapidsai/numba-cuda-write

Drop `apt-get update` calls
  ci/test_conda.sh
  ci/test_wheel_deps_wheels.sh
Owners: @rapidsai/ci-codeowners

add name
  numba_cuda/numba/cuda/cudadrv/driver.py
Owners: @rapidsai/numba-cuda-write

Implement @lower_cast corresponding to non-explicit ctors
  numba_cuda/numba/cuda/_internal/cuda_fp16.py
Owners: @rapidsai/numba-cuda-write

Implement @lower_cast(__half, types.Complex)
  numba_cuda/numba/cuda/_internal/cuda_fp16.py
Owners: @rapidsai/numba-cuda-write

Implement @lower_cast(int8, __half)
  numba_cuda/numba/cuda/_internal/cuda_fp16.py
Owners: @rapidsai/numba-cuda-write

Remove pre-existing casts to/from float16
  numba_cuda/numba/cuda/cudaimpl.py
Owners: @rapidsai/numba-cuda-write

renaming
  numba_cuda/numba/cuda/codegen.py
  numba_cuda/numba/cuda/cudadrv/driver.py
  numba_cuda/numba/cuda/memory_management/nrt.py
  numba_cuda/numba/cuda/testing.py
  numba_cuda/numba/cuda/tests/cudadrv/test_linker.py
Owners: @rapidsai/numba-cuda-write

pass name through to all objectcode constructors
  numba_cuda/numba/cuda/cudadrv/driver.py
Owners: @rapidsai/numba-cuda-write

Add CUDA 12.9 and new architectures (#273)
  numba_cuda/numba/cuda/cudadrv/nvvm.py
Owners: @rapidsai/numba-cuda-write

Update supported toolkit and CC versions
  numba_cuda/numba/cuda/cudadrv/nvvm.py
Owners: @rapidsai/numba-cuda-write

Ensure CC 7.5 or greater used by default
  numba_cuda/numba/cuda/compiler.py
  numba_cuda/numba/cuda/cudadrv/nvvm.py
Owners: @rapidsai/numba-cuda-write

Update tests for default CC 7.5
  numba_cuda/numba/cuda/tests/cudadrv/test_nvvm_driver.py
  numba_cuda/numba/cuda/tests/cudapy/test_compiler.py
  numba_cuda/numba/cuda/tests/cudapy/test_fastmath.py
  numba_cuda/numba/cuda/tests/cudapy/test_intrinsics.py
  numba_cuda/numba/cuda/tests/cudapy/test_operator.py
Owners: @rapidsai/numba-cuda-write

prune nvjitlink tests
  numba_cuda/numba/cuda/tests/cudadrv/test_nvjitlink.py
Owners: @rapidsai/numba-cuda-write

lto by default when using _Linker
  numba_cuda/numba/cuda/codegen.py
  numba_cuda/numba/cuda/cudadrv/driver.py
Owners: @rapidsai/numba-cuda-write

also supports CUDA 11
  docs/source/user/overview.rst
  pyproject.toml
Owners: @rapidsai/packaging-codeowners

clarify docs
  docs/source/user/overview.rst
Owners: none

apply Keith's self-referencing trick
  ci/test_wheel_deps_wheels.sh
  pyproject.toml
Owners: @rapidsai/ci-codeowners, @rapidsai/packaging-codeowners

Add debug support for dynamic types (#270)
  numba_cuda/numba/cuda/debuginfo.py
  numba_cuda/numba/cuda/lowering.py
  numba_cuda/numba/cuda/tests/cudapy/test_debuginfo.py
Owners: @rapidsai/numba-cuda-write

Add optional dependencies (#278)
  .github/workflows/wheels-test.yaml
  ci/test_wheel.sh
  ci/test_wheel_deps_wheels.sh
  ci/test_wheel_pynvjitlink.sh
  docs/source/user/overview.rst
  pyproject.toml
Owners: @rapidsai/ci-codeowners, @rapidsai/packaging-codeowners

Use Python typing syntax for launch_bounds type
  numba_cuda/numba/cuda/compiler.py
  numba_cuda/numba/cuda/decorators.py
Owners: @rapidsai/numba-cuda-write

Use LOWEST_CURRENT_CC in test_nvvm_compile_nullary_option
  numba_cuda/numba/cuda/tests/cudadrv/test_nvvm_driver.py
Owners: @rapidsai/numba-cuda-write

Make 7.5 the default compute capability (#275)
  numba_cuda/numba/cuda/compiler.py
  numba_cuda/numba/cuda/cudadrv/nvvm.py
  numba_cuda/numba/cuda/tests/cudadrv/test_nvvm_driver.py
  numba_cuda/numba/cuda/tests/cudapy/test_compiler.py
  numba_cuda/numba/cuda/tests/cudapy/test_fastmath.py
  numba_cuda/numba/cuda/tests/cudapy/test_intrinsics.py
  numba_cuda/numba/cuda/tests/cudapy/test_operator.py
Owners: @rapidsai/numba-cuda-write

Add lower_cast from __half to float64
  numba_cuda/numba/cuda/_internal/cuda_fp16.py
Owners: @rapidsai/numba-cuda-write

Hardcode alignment for __half
  numba_cuda/numba/cuda/_internal/cuda_fp16.py
Owners: @rapidsai/numba-cuda-write

Overload more functions
  numba_cuda/numba/cuda/_internal/cuda_fp16.py
Owners: @rapidsai/numba-cuda-write

Disable tests that check ptx for float16
  numba_cuda/numba/cuda/tests/cudapy/test_casting.py
  numba_cuda/numba/cuda/tests/cudapy/test_intrinsics.py
  numba_cuda/numba/cuda/tests/cudapy/test_operator.py
Owners: @rapidsai/numba-cuda-write

Import numba.cuda.fp16 in some tests
  numba_cuda/numba/cuda/tests/cudapy/test_bfloat16_bindings.py
  numba_cuda/numba/cuda/tests/cudapy/test_sm.py
Owners: @rapidsai/numba-cuda-write

Delete cpp_function_wrappers.cu
  numba_cuda/numba/cuda/cpp_function_wrappers.cu
  numba_cuda/numba/cuda/dispatcher.py
Owners: @rapidsai/numba-cuda-write

Fix more tests
  numba_cuda/numba/cuda/tests/cudapy/test_localmem.py
  numba_cuda/numba/cuda/tests/cudapy/test_sm.py
Owners: @rapidsai/numba-cuda-write

Check for too many launch bounds being passed, add tests
  numba_cuda/numba/cuda/cudadrv/nvvm.py
  numba_cuda/numba/cuda/tests/cudapy/test_compiler.py
  numba_cuda/numba/cuda/tests/cudapy/test_dispatcher.py
Owners: @rapidsai/numba-cuda-write

Attempt to workaround conda-forge/numba-feedstock#158
  ci/build_docs.sh
  ci/test_conda.sh
  ci/test_conda_pynvjitlink.sh
  ci/test_simulator.sh
Owners: @rapidsai/ci-codeowners

Workaround conda-forge/numba-feedstock#158 (#282)
  ci/build_docs.sh
  ci/test_conda.sh
  ci/test_conda_pynvjitlink.sh
  ci/test_simulator.sh
Owners: @rapidsai/ci-codeowners

.code
  numba_cuda/numba/cuda/codegen.py
  numba_cuda/numba/cuda/cudadrv/driver.py
Owners: @rapidsai/numba-cuda-write

use nv binding by default and add dep
  conda/recipes/numba-cuda/meta.yaml
  numba_cuda/numba/cuda/__init__.py
  numba_cuda/numba/cuda/tests/cudadrv/test_linker.py
  numba_cuda/numba/cuda/tests/cudadrv/test_nvjitlink.py
  pyproject.toml
Owners: @rapidsai/packaging-codeowners, @rapidsai/numba-cuda-write

docs
  docs/source/reference/envvars.rst
Owners: none

address review
  pyproject.toml
Owners: @rapidsai/packaging-codeowners

.github/CODEOWNERS:

#python code owners
numba_cuda/            @rapidsai/numba-cuda-write

#cmake code owners
**/CMakeLists.txt  @rapidsai/numba-cuda-write
**/cmake/          @rapidsai/numba-cuda-write

#CI code owners
/.github/                @rapidsai/ci-codeowners
/ci/                     @rapidsai/ci-codeowners
/.pre-commit-config.yaml @rapidsai/ci-codeowners

#packaging code owners
/.devcontainer/    @rapidsai/packaging-codeowners
/conda/            @rapidsai/packaging-codeowners
/dependencies.yaml @rapidsai/packaging-codeowners
/build.sh          @rapidsai/packaging-codeowners
pyproject.toml     @rapidsai/packaging-codeowners
