Repository NVIDIA/numba-cuda, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rapidsai/numba-cuda-write, @rapidsai/ci-codeowners, @rapidsai/packaging-codeowners

.github/CODEOWNERS:

#python code owners
numba_cuda/            @rapidsai/numba-cuda-write

#cmake code owners
**/CMakeLists.txt  @rapidsai/numba-cuda-write
**/cmake/          @rapidsai/numba-cuda-write

#CI code owners
/.github/                @rapidsai/ci-codeowners
/ci/                     @rapidsai/ci-codeowners
/.pre-commit-config.yaml @rapidsai/ci-codeowners

#packaging code owners
/.devcontainer/    @rapidsai/packaging-codeowners
/conda/            @rapidsai/packaging-codeowners
/dependencies.yaml @rapidsai/packaging-codeowners
/build.sh          @rapidsai/packaging-codeowners
pyproject.toml     @rapidsai/packaging-codeowners

add cpointer argument
  numba_cuda/numba/cuda/tests/cudapy/test_device_func.py
Owners: @rapidsai/numba-cuda-write

Rename to match upstream
  numba_cuda/numba/cuda/np/arraymath.py
Owners: @rapidsai/numba-cuda-write

Fix: Pass None instead of False for linker options (cuda-core < 0.4.0 WAR)
  numba_cuda/numba/cuda/cudadrv/driver.py
Owners: @rapidsai/numba-cuda-write

Use `pathfinder` for dynamic libraries (#308)
  ci/test_thirdparty_awkward.sh
  numba_cuda/numba/cuda/cuda_paths.py
  numba_cuda/numba/cuda/cudadrv/libs.py
  numba_cuda/numba/cuda/tests/nocuda/test_library_lookup.py
  pyproject.toml
Owners: @rapidsai/ci-codeowners, @rapidsai/numba-cuda-write, @rapidsai/packaging-codeowners

ci: remove rapids containers from conda ci (#737)
  .github/workflows/conda-python-tests.yaml
  ci/test_conda.sh
Owners: @rapidsai/ci-codeowners

Pass the -numba-debug flag to libnvvm (#681)
  numba_cuda/numba/cuda/cudadrv/nvvm.py
Owners: @rapidsai/numba-cuda-write

Apply suggestion from @greptile-apps[bot]
  numba_cuda/numba/cuda/np/arraymath.py
Owners: @rapidsai/numba-cuda-write

Fix compatibility with NumPy 2.4: np.trapz and np.in1d removed (#739)
  numba_cuda/numba/cuda/np/arraymath.py
Owners: @rapidsai/numba-cuda-write

Fix formatting issue
  numba_cuda/numba/cuda/simulator/kernelapi.py
Owners: @rapidsai/numba-cuda-write

feat: users can pass `shared_memory_carveout` to @cuda.jit (#642)
  numba_cuda/numba/cuda/decorators.py
  numba_cuda/numba/cuda/dispatcher.py
  numba_cuda/numba/cuda/simulator/api.py
  numba_cuda/numba/cuda/tests/cudapy/test_dispatcher.py
Owners: @rapidsai/numba-cuda-write

ci: run tests in parallel (#740)
  ci/tools/run-tests
Owners: @rapidsai/ci-codeowners

chore(deps): add cuda-pathfinder to pixi deps
  pixi.lock
  pixi.toml
Owners: none

lint: fix unnecessary dynamic getattr and setattr
  numba_cuda/numba/cuda/core/boxing.py
  numba_cuda/numba/cuda/deviceufunc.py
  numba_cuda/numba/cuda/np/arrayobj.py
  numba_cuda/numba/cuda/tests/cudapy/test_extending.py
  numba_cuda/numba/cuda/tests/cudapy/test_vectorize.py
  numba_cuda/numba/cuda/types/cuda_function_type.py
  numba_cuda/numba/cuda/typing/templates.py
Owners: @rapidsai/numba-cuda-write

lint: replace hasattr with callable
  numba_cuda/numba/cuda/core/options.py
Owners: @rapidsai/numba-cuda-write

style: format pyproject.toml
  pyproject.toml
Owners: @rapidsai/packaging-codeowners

dev: add ruff to dev env
  pixi.toml
Owners: none

chore: add flake8-bugbear rule ignores
  pyproject.toml
Owners: @rapidsai/packaging-codeowners

chore: add flake8-bugbear lints
  numba_cuda/numba/cuda/compiler.py
  numba_cuda/numba/cuda/core/bytecode.py
  numba_cuda/numba/cuda/core/byteflow.py
  numba_cuda/numba/cuda/core/compiler_machinery.py
  numba_cuda/numba/cuda/core/inline_closurecall.py
  numba_cuda/numba/cuda/core/interpreter.py
  numba_cuda/numba/cuda/core/ir.py
  numba_cuda/numba/cuda/core/ir_utils.py
  numba_cuda/numba/cuda/core/pythonapi.py
  numba_cuda/numba/cuda/core/tracing.py
  numba_cuda/numba/cuda/core/transforms.py
  numba_cuda/numba/cuda/core/typed_passes.py
  numba_cuda/numba/cuda/core/unsafe/refcount.py
  numba_cuda/numba/cuda/core/untyped_passes.py
  numba_cuda/numba/cuda/cudaimpl.py
  numba_cuda/numba/cuda/debuginfo.py
  numba_cuda/numba/cuda/deviceufunc.py
  numba_cuda/numba/cuda/np/arrayobj.py
  numba_cuda/numba/cuda/np/npyimpl.py
  numba_cuda/numba/cuda/np/polynomial/polynomial_functions.py
  numba_cuda/numba/cuda/printimpl.py
  numba_cuda/numba/cuda/types/cuda_functions.py
  numba_cuda/numba/cuda/utils.py
Owners: @rapidsai/numba-cuda-write

chore: fix B006 (mutable default arguments)
  numba_cuda/numba/cuda/cgutils.py
  numba_cuda/numba/cuda/core/base.py
  numba_cuda/numba/cuda/decorators.py
  numba_cuda/numba/cuda/deviceufunc.py
  numba_cuda/numba/cuda/extending.py
  numba_cuda/numba/cuda/simulator/kernel.py
  numba_cuda/numba/cuda/tests/cudapy/test_caching.py
  numba_cuda/numba/cuda/tests/cudapy/test_ir.py
  numba_cuda/numba/cuda/tests/cudapy/test_ufuncs.py
Owners: @rapidsai/numba-cuda-write

test: delete test that no longer runs
  numba_cuda/numba/cuda/tests/cudadrv/test_streams.py
Owners: @rapidsai/numba-cuda-write

lint: enable remaining bugbear lints
  pyproject.toml
Owners: @rapidsai/packaging-codeowners

lint: fix remaining bugbear lints
  numba_cuda/numba/cuda/cloudpickle/cloudpickle.py
  numba_cuda/numba/cuda/core/compiler_machinery.py
  numba_cuda/numba/cuda/core/cuda_errors.py
  numba_cuda/numba/cuda/core/inline_closurecall.py
  numba_cuda/numba/cuda/core/interpreter.py
  numba_cuda/numba/cuda/core/ir.py
  numba_cuda/numba/cuda/core/pythonapi.py
  numba_cuda/numba/cuda/np/arraymath.py
  numba_cuda/numba/cuda/np/npyfuncs.py
  numba_cuda/numba/cuda/tests/cudapy/test_analysis.py
Owners: @rapidsai/numba-cuda-write

chore: fix tests
  numba_cuda/numba/cuda/tests/cudapy/test_ufuncs.py
Owners: @rapidsai/numba-cuda-write

chore: fix f-string
  numba_cuda/numba/cuda/deviceufunc.py
Owners: @rapidsai/numba-cuda-write

fix: Fix race condition in CUDA Simulator (#690)
  numba_cuda/numba/cuda/simulator/kernelapi.py
Owners: @rapidsai/numba-cuda-write

chore(deps): add cuda-pathfinder to pixi deps (#741)
  pixi.lock
  pixi.toml
Owners: none

remove context.call_conv property
  numba_cuda/numba/cuda/cgutils.py
  numba_cuda/numba/cuda/core/base.py
  numba_cuda/numba/cuda/core/compiler.py
  numba_cuda/numba/cuda/core/imputils.py
  numba_cuda/numba/cuda/core/optional.py
  numba_cuda/numba/cuda/core/pythonapi.py
  numba_cuda/numba/cuda/cpython/builtins.py
  numba_cuda/numba/cuda/cpython/charseq.py
  numba_cuda/numba/cuda/cpython/iterators.py
  numba_cuda/numba/cuda/cpython/listobj.py
  numba_cuda/numba/cuda/cpython/rangeobj.py
  numba_cuda/numba/cuda/cpython/slicing.py
  numba_cuda/numba/cuda/cpython/tupleobj.py
  numba_cuda/numba/cuda/lowering.py
  numba_cuda/numba/cuda/memory_management/nrt_context.py
  numba_cuda/numba/cuda/misc/gdb_hook.py
  numba_cuda/numba/cuda/np/arrayobj.py
  numba_cuda/numba/cuda/np/npyimpl.py
  numba_cuda/numba/cuda/np/polynomial/polynomial_core.py
  numba_cuda/numba/cuda/target.py
Owners: @rapidsai/numba-cuda-write

use callconv mangler everywhere
  numba_cuda/numba/cuda/core/generators.py
  numba_cuda/numba/cuda/cpython/numbers.py
  numba_cuda/numba/cuda/lowering.py
  numba_cuda/numba/cuda/np/math/numbers.py
  numba_cuda/numba/cuda/target.py
Owners: @rapidsai/numba-cuda-write

cleanups
  numba_cuda/numba/cuda/core/callconv.py
Owners: @rapidsai/numba-cuda-write

Fix missing line info in Jupyter notebooks
  numba_cuda/numba/cuda/misc/firstlinefinder.py
  numba_cuda/numba/cuda/tests/cudapy/test_debuginfo.py
Owners: @rapidsai/numba-cuda-write

Fix: Pass correct flags to linker when debugging in the presence of LTOIR code (#698)
  numba_cuda/numba/cuda/cudadrv/driver.py
  numba_cuda/numba/cuda/tests/cudadrv/test_linker.py
Owners: @rapidsai/numba-cuda-write

Fix missing line info in Jupyter notebooks (#742)
  numba_cuda/numba/cuda/misc/firstlinefinder.py
  numba_cuda/numba/cuda/tests/cudapy/test_debuginfo.py
Owners: @rapidsai/numba-cuda-write

Fix pre-commit checks
  .pre-commit-config.yaml
  examples/debugging/debugging.code-workspace
  examples/debugging/hello.py
Owners: @rapidsai/ci-codeowners

Disable automatic review trigger for Greptile
  greptile.json
Owners: none

use cuda-python sizes
  numba_cuda/numba/cuda/cudadrv/driver.py
  numba_cuda/numba/cuda/dispatcher.py
Owners: @rapidsai/numba-cuda-write

remove tests
  numba_cuda/numba/cuda/tests/cudadrv/test_cuda_driver.py
Owners: @rapidsai/numba-cuda-write

remove tests
  numba_cuda/numba/cuda/tests/cudadrv/test_cuda_driver.py
Owners: @rapidsai/numba-cuda-write

Fix kernel return type in DISubroutineType debug metadata
  numba_cuda/numba/cuda/compiler.py
  numba_cuda/numba/cuda/tests/cudapy/test_debuginfo.py
Owners: @rapidsai/numba-cuda-write

Fix ruff format issue
  numba_cuda/numba/cuda/compiler.py
Owners: @rapidsai/numba-cuda-write

Fix kernel return type in DISubroutineType debug metadata (#745)
  numba_cuda/numba/cuda/compiler.py
  numba_cuda/numba/cuda/tests/cudapy/test_debuginfo.py
Owners: @rapidsai/numba-cuda-write
