Repository NVIDIA/numba-cuda, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rapidsai/numba-cuda-write, @rapidsai/ci-codeowners, @rapidsai/packaging-codeowners

python -m pytest?
  ci/test_thirdparty.sh
Owners: @rapidsai/ci-codeowners

Fix nvrtc import in generate_raw_ltoir for CUDA 13
  numba_cuda/numba/cuda/tests/test_binary_generation/generate_raw_ltoir.py
Owners: @rapidsai/numba-cuda-write

Fix check for Ubuntu
  ci/test_conda.sh
Owners: @rapidsai/ci-codeowners

catch userwarning for now
  ci/test_thirdparty.sh
Owners: @rapidsai/ci-codeowners

cudf 25.06 doesnt have its own libnvjitlink requirememnt yet
  ci/test_thirdparty.sh
Owners: @rapidsai/ci-codeowners

fix
  ci/test_thirdparty.sh
Owners: @rapidsai/ci-codeowners

Update CI numpy version reqs and build matrix
  ci/matrix.yml
  conda/recipes/numba-cuda/meta.yaml
Owners: @rapidsai/ci-codeowners, @rapidsai/packaging-codeowners

Fix numpy ver requirements
  conda/recipes/numba-cuda/meta.yaml
Owners: @rapidsai/packaging-codeowners

Remove additional configs in build-matrix and simulator-matrix
  ci/matrix.yml
Owners: @rapidsai/ci-codeowners

Fix setup.py build_commands list
  setup.py
Owners: none

[Refactor] Vendor in debuginfo, utils, cffi_utils, enumdecl for CUDA-specific changes.
  numba_cuda/numba/cuda/cgutils.py
  numba_cuda/numba/cuda/compiler.py
  numba_cuda/numba/cuda/core/interpreter.py
  numba_cuda/numba/cuda/debuginfo.py
  numba_cuda/numba/cuda/lowering.py
  numba_cuda/numba/cuda/target.py
  numba_cuda/numba/cuda/testing.py
  numba_cuda/numba/cuda/tests/core/test_serialize.py
  numba_cuda/numba/cuda/tests/cudapy/test_debug.py
  numba_cuda/numba/cuda/tests/support.py
  numba_cuda/numba/cuda/typing/cffi_utils.py
  numba_cuda/numba/cuda/typing/enumdecl.py
  numba_cuda/numba/cuda/typing/templates.py
  numba_cuda/numba/cuda/utils.py
Owners: @rapidsai/numba-cuda-write

[Refactor] Vendor in typing.npydecl, typing.BaseContext, typing.Context
  numba_cuda/numba/cuda/core/ir_utils.py
  numba_cuda/numba/cuda/cudadecl.py
  numba_cuda/numba/cuda/cudaimpl.py
  numba_cuda/numba/cuda/dispatcher.py
  numba_cuda/numba/cuda/target.py
  numba_cuda/numba/cuda/typing/__init__.py
  numba_cuda/numba/cuda/typing/context.py
  numba_cuda/numba/cuda/typing/npydecl.py
Owners: @rapidsai/numba-cuda-write

Make device name consistent between bindings (#382)
  numba_cuda/numba/cuda/cudadrv/driver.py
Owners: @rapidsai/numba-cuda-write

Revert "Try to WAR no ci-conda 13 images"
  .github/workflows/conda-python-tests.yaml
  .github/workflows/wheels-test.yaml
  ci/matrix.yml
Owners: @rapidsai/ci-codeowners

Clarify CTK supported CCs
  docs/source/user/installation.rst
Owners: none

Apply suggestions from code review
  pyproject.toml
Owners: @rapidsai/packaging-codeowners

Attempt to accommodate CCCL include path
  numba_cuda/numba/cuda/tests/test_binary_generation/generate_raw_ltoir.py
Owners: @rapidsai/numba-cuda-write

Remove CTK_CURAND_VMAP
  ci/test_wheel_deps_wheels.sh
Owners: @rapidsai/ci-codeowners

Only test third party deps on CUDA 12
  .github/workflows/pr.yaml
Owners: @rapidsai/ci-codeowners

choose irType based on compute capability
  numba_cuda/numba/cuda/models.py
Owners: @rapidsai/numba-cuda-write

vend ctk13 code
  numba_cuda/numba/cuda/cudadrv/nvrtc.py
  numba_cuda/numba/cuda/include/13/cuda_bf16.h
  numba_cuda/numba/cuda/include/13/cuda_bf16.hpp
Owners: @rapidsai/numba-cuda-write

regenerate with ctk13
  configs/cuda_bf16.yml
  numba_cuda/numba/cuda/_internal/cuda_bf16.py
Owners: @rapidsai/numba-cuda-write

explicitly test against bfloat16 type
  numba_cuda/numba/cuda/bf16.py
Owners: @rapidsai/numba-cuda-write

Don't load libnvrtc.so when using the cuda-python bindings
  numba_cuda/numba/cuda/cudadrv/nvrtc.py
  numba_cuda/numba/cuda/cudadrv/runtime.py
  numba_cuda/numba/cuda/tests/cudadrv/test_nvrtc.py
Owners: @rapidsai/numba-cuda-write

Fix package clobbering in thirdparty CI tests (#395)
  ci/test_thirdparty.sh
Owners: @rapidsai/ci-codeowners

Delete vendored CUDA 11 includes
  numba_cuda/numba/cuda/include/11/cuda_bf16.h
  numba_cuda/numba/cuda/include/11/cuda_bf16.hpp
  numba_cuda/numba/cuda/include/11/cuda_fp16.h
  numba_cuda/numba/cuda/include/11/cuda_fp16.hpp
Owners: @rapidsai/numba-cuda-write

Use cuda-core >= 0.3.2 for CUDA 13
  pyproject.toml
Owners: @rapidsai/packaging-codeowners

Modify Ubuntu version coverage in CI
  ci/matrix.yml
Owners: @rapidsai/ci-codeowners

Add TODO for 3rd party deps CUDA 13 testing
  .github/workflows/pr.yaml
Owners: @rapidsai/ci-codeowners

Add TODO to use cudatoolkit package for dependencies on CUDA 13
  pyproject.toml
Owners: @rapidsai/packaging-codeowners

Support CUDA 13, drop support for CUDA 11 (#370)
  .github/workflows/pr.yaml
  ci/matrix.yml
  ci/test_conda.sh
  ci/test_wheel_deps_wheels.sh
  docs/source/reference/envvars.rst
  docs/source/user/cudapysupported.rst
  docs/source/user/installation.rst
  docs/source/user/minor_version_compatibility.rst
  numba_cuda/numba/cuda/api.py
  numba_cuda/numba/cuda/cuda_paths.py
  numba_cuda/numba/cuda/cudadrv/driver.py
  numba_cuda/numba/cuda/cudadrv/libs.py
  numba_cuda/numba/cuda/cudadrv/nvrtc.py
  numba_cuda/numba/cuda/cudadrv/nvvm.py
  numba_cuda/numba/cuda/cudadrv/runtime.py
  numba_cuda/numba/cuda/include/11/cuda_bf16.h
  numba_cuda/numba/cuda/include/11/cuda_bf16.hpp
  numba_cuda/numba/cuda/include/11/cuda_fp16.h
  numba_cuda/numba/cuda/include/11/cuda_fp16.hpp
  numba_cuda/numba/cuda/tests/cudadrv/test_nvrtc.py
  numba_cuda/numba/cuda/tests/cudadrv/test_nvvm_driver.py
  numba_cuda/numba/cuda/tests/cudapy/test_bfloat16.py
  numba_cuda/numba/cuda/tests/cudapy/test_bfloat16_bindings.py
  numba_cuda/numba/cuda/tests/cudapy/test_compiler.py
  numba_cuda/numba/cuda/tests/cudapy/test_extending.py
  numba_cuda/numba/cuda/tests/test_binary_generation/Makefile
  numba_cuda/numba/cuda/tests/test_binary_generation/build.bat
  numba_cuda/numba/cuda/tests/test_binary_generation/generate_raw_ltoir.py
  pyproject.toml
Owners: @rapidsai/ci-codeowners, @rapidsai/numba-cuda-write, @rapidsai/packaging-codeowners

hand write lower cast fp16->bf16
  numba_cuda/numba/cuda/_internal/cuda_bf16.py
Owners: @rapidsai/numba-cuda-write

Require `cuda-bindings` `12.9.1` (#387)
  conda/recipes/numba-cuda/meta.yaml
  pyproject.toml
Owners: @rapidsai/packaging-codeowners

ptx test for several basic ptx
  numba_cuda/numba/cuda/tests/cudapy/test_bfloat16_bindings.py
Owners: @rapidsai/numba-cuda-write

add double underscore intrinsics
  numba_cuda/numba/cuda/bf16.py
  numba_cuda/numba/cuda/tests/cudapy/test_bfloat16.py
Owners: @rapidsai/numba-cuda-write

regnerate with globals
  numba_cuda/numba/cuda/_internal/cuda_bf16.py
Owners: @rapidsai/numba-cuda-write

apply binding patches
  numba_cuda/numba/cuda/_internal/cuda_bf16.py
Owners: @rapidsai/numba-cuda-write

generate the bindings
  numba_cuda/numba/cuda/_internal/cuda_bf16.py
Owners: @rapidsai/numba-cuda-write

apply binding patches
  numba_cuda/numba/cuda/_internal/cuda_bf16.py
Owners: @rapidsai/numba-cuda-write

generate bindings
  numba_cuda/numba/cuda/_internal/cuda_bf16.py
Owners: @rapidsai/numba-cuda-write

.github/CODEOWNERS:

#python code owners
numba_cuda/            @rapidsai/numba-cuda-write

#cmake code owners
**/CMakeLists.txt  @rapidsai/numba-cuda-write
**/cmake/          @rapidsai/numba-cuda-write

#CI code owners
/.github/                @rapidsai/ci-codeowners
/ci/                     @rapidsai/ci-codeowners
/.pre-commit-config.yaml @rapidsai/ci-codeowners

#packaging code owners
/.devcontainer/    @rapidsai/packaging-codeowners
/conda/            @rapidsai/packaging-codeowners
/dependencies.yaml @rapidsai/packaging-codeowners
/build.sh          @rapidsai/packaging-codeowners
pyproject.toml     @rapidsai/packaging-codeowners
