Repository NVIDIA/numba-cuda, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rapidsai/numba-cuda-write, @rapidsai/ci-codeowners, @rapidsai/packaging-codeowners

.github/CODEOWNERS:

#python code owners
numba_cuda/            @rapidsai/numba-cuda-write

#cmake code owners
**/CMakeLists.txt  @rapidsai/numba-cuda-write
**/cmake/          @rapidsai/numba-cuda-write

#CI code owners
/.github/                @rapidsai/ci-codeowners
/ci/                     @rapidsai/ci-codeowners
/.pre-commit-config.yaml @rapidsai/ci-codeowners

#packaging code owners
/.devcontainer/    @rapidsai/packaging-codeowners
/conda/            @rapidsai/packaging-codeowners
/dependencies.yaml @rapidsai/packaging-codeowners
/build.sh          @rapidsai/packaging-codeowners
pyproject.toml     @rapidsai/packaging-codeowners

Add stats tracking to NRT and tests
  numba_cuda/numba/cuda/cudadrv/driver.py
  numba_cuda/numba/cuda/cudadrv/nvrtc.py
  numba_cuda/numba/cuda/dispatcher.py
  numba_cuda/numba/cuda/runtime/__init__.py
  numba_cuda/numba/cuda/runtime/memsys.cu
  numba_cuda/numba/cuda/runtime/memsys.cuh
  numba_cuda/numba/cuda/runtime/nrt.cu
  numba_cuda/numba/cuda/runtime/nrt.py
  numba_cuda/numba/cuda/tests/__init__.py
  numba_cuda/numba/cuda/tests/nrt/mock_numpy.py
  numba_cuda/numba/cuda/tests/nrt/test_nrt.py
  numba_cuda/numba/cuda/tests/nrt/test_nrt_refct.py
  numba_cuda/numba/cuda/tests/support.py
  numba_cuda/numba/cuda/utils.py
  pyproject.toml
Owners: @rapidsai/numba-cuda-write, @rapidsai/packaging-codeowners

Pin numba version
  pyproject.toml
Owners: @rapidsai/packaging-codeowners

Update pyproject.toml
  pyproject.toml
Owners: @rapidsai/packaging-codeowners

Update meta.yaml
  conda/recipes/numba-cuda/meta.yaml
Owners: @rapidsai/packaging-codeowners

test pr
  LICENSE
Owners: none

Fix `__array__()` method for NumPy 2.0
  numba_cuda/numba/cuda/cudadrv/devicearray.py
  numba_cuda/numba/cuda/tests/cudadrv/test_cuda_ndarray.py
Owners: @rapidsai/numba-cuda-write

Remove Numba upper bound
  conda/recipes/numba-cuda/meta.yaml
  pyproject.toml
Owners: @rapidsai/packaging-codeowners

Remove Numba upper bound
  conda/recipes/numba-cuda/meta.yaml
  pyproject.toml
Owners: @rapidsai/packaging-codeowners

Fix `__array__()` method for NumPy 2.0
  numba_cuda/numba/cuda/cudadrv/devicearray.py
  numba_cuda/numba/cuda/tests/cudadrv/test_cuda_ndarray.py
Owners: @rapidsai/numba-cuda-write

Bump version to 0.4.0
  numba_cuda/VERSION
Owners: @rapidsai/numba-cuda-write

Bump version to 0.4.0
  numba_cuda/VERSION
Owners: @rapidsai/numba-cuda-write

Add CUDA Toolkits 12.5-12.8 and CC 10 / 12 to NVVM supported list
  numba_cuda/numba/cuda/cudadrv/nvvm.py
Owners: @rapidsai/numba-cuda-write

Add additional supported devices to docs
  docs/source/user/overview.rst
Owners: none

Add CUDA Toolkits 12.5-12.8 and CC 10 / 12 to NVVM supported list
  numba_cuda/numba/cuda/cudadrv/nvvm.py
Owners: @rapidsai/numba-cuda-write

Add additional supported devices to docs
  docs/source/user/overview.rst
Owners: none

Support linking code for device functions in declaration
  numba_cuda/numba/cuda/compiler.py
  numba_cuda/numba/cuda/cudadecl.py
  numba_cuda/numba/cuda/decorators.py
  numba_cuda/numba/cuda/dispatcher.py
  numba_cuda/numba/cuda/tests/cudapy/test_device_func.py
Owners: @rapidsai/numba-cuda-write

Add cffi to test env, and add skip as appropriate
  ci/test_conda.sh
  ci/test_wheel.sh
  numba_cuda/numba/cuda/tests/cudapy/test_device_func.py
Owners: @rapidsai/ci-codeowners, @rapidsai/numba-cuda-write

Update documentation for `link` kwarg in `declare_device()`
  docs/source/user/cuda_ffi.rst
  numba_cuda/numba/cuda/cudadrv/linkable_code.py
  numba_cuda/numba/cuda/decorators.py
  numba_cuda/numba/cuda/tests/doc_examples/test_ffi.py
Owners: @rapidsai/numba-cuda-write

Fix import
  numba_cuda/numba/cuda/tests/cudapy/test_device_func.py
Owners: @rapidsai/numba-cuda-write

Add pip / conda install instructions, and contribution guide
  CONTRIBUTING.md
  README.md
Owners: none

Add missing cffi installation
  ci/test_conda_pynvjitlink.sh
  ci/test_wheel_pynvjitlink.sh
Owners: @rapidsai/ci-codeowners

Add pip / conda install instructions, and contribution guide
  CONTRIBUTING.md
  README.md
Owners: none

External device functions: Add a test that includes a CUDA header
  numba_cuda/numba/cuda/tests/cudapy/test_device_func.py
Owners: @rapidsai/numba-cuda-write

Add curand to test environment
  ci/test_conda.sh
  ci/test_conda_pynvjitlink.sh
  ci/test_wheel.sh
  ci/test_wheel_pynvjitlink.sh
Owners: @rapidsai/ci-codeowners

Correct name of curand wheel
  ci/test_wheel.sh
  ci/test_wheel_pynvjitlink.sh
Owners: @rapidsai/ci-codeowners

Testing fixes
  ci/test_conda.sh
  ci/test_conda_pynvjitlink.sh
  numba_cuda/numba/cuda/tests/cudapy/test_device_func.py
Owners: @rapidsai/ci-codeowners, @rapidsai/numba-cuda-write

Add specific skip for missing curand_kernel.h
  numba_cuda/numba/cuda/testing.py
  numba_cuda/numba/cuda/tests/cudapy/test_device_func.py
Owners: @rapidsai/numba-cuda-write

Skips relying on include dir should use correct include dir
  numba_cuda/numba/cuda/testing.py
Owners: @rapidsai/numba-cuda-write

Support linking code for device functions in declaration (#124)
  ci/test_conda.sh
  ci/test_conda_pynvjitlink.sh
  ci/test_wheel.sh
  ci/test_wheel_pynvjitlink.sh
  docs/source/user/cuda_ffi.rst
  numba_cuda/numba/cuda/compiler.py
  numba_cuda/numba/cuda/cudadecl.py
  numba_cuda/numba/cuda/cudadrv/linkable_code.py
  numba_cuda/numba/cuda/decorators.py
  numba_cuda/numba/cuda/dispatcher.py
  numba_cuda/numba/cuda/testing.py
  numba_cuda/numba/cuda/tests/cudapy/test_device_func.py
  numba_cuda/numba/cuda/tests/doc_examples/test_ffi.py
Owners: @rapidsai/ci-codeowners, @rapidsai/numba-cuda-write

Bump version to 0.5.0
  numba_cuda/VERSION
Owners: @rapidsai/numba-cuda-write

Release 0.5.0 (#126)
  numba_cuda/VERSION
Owners: @rapidsai/numba-cuda-write

dont launch extra kernels when stats counting is disabled
  numba_cuda/numba/cuda/dispatcher.py
  numba_cuda/numba/cuda/tests/nrt/test_nrt.py
  numba_cuda/numba/cuda/tests/nrt/test_nrt_refct.py
Owners: @rapidsai/numba-cuda-write

Implement debuginfo bool name fix (numba/numba#9888) in numba-cuda
  numba_cuda/numba/cuda/compiler.py
Owners: @rapidsai/numba-cuda-write

Add a test for the bool name fix
  numba_cuda/numba/cuda/tests/cudapy/test_debuginfo.py
Owners: @rapidsai/numba-cuda-write

Fix flake8
  numba_cuda/numba/cuda/tests/cudapy/test_debuginfo.py
Owners: @rapidsai/numba-cuda-write

Implement debuginfo bool name fix (numba/numba#9888) in numba-cuda (#106)
  numba_cuda/numba/cuda/compiler.py
  numba_cuda/numba/cuda/tests/cudapy/test_debuginfo.py
Owners: @rapidsai/numba-cuda-write

Add a test for the kernel arguments debug metadata types
  numba_cuda/numba/cuda/tests/cudapy/test_debuginfo.py
Owners: @rapidsai/numba-cuda-write

Fix flake8
  numba_cuda/numba/cuda/tests/cudapy/test_debuginfo.py
Owners: @rapidsai/numba-cuda-write

Fixup debug metadata in kernel fixup (#97)
  numba_cuda/numba/cuda/compiler.py
  numba_cuda/numba/cuda/tests/cudapy/test_debuginfo.py
Owners: @rapidsai/numba-cuda-write

Add a CUDA DI Builder
  numba_cuda/numba/cuda/debuginfo.py
  numba_cuda/numba/cuda/target.py
Owners: @rapidsai/numba-cuda-write
