Repository NVIDIA/numba-cuda, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rapidsai/numba-cuda-write, @rapidsai/ci-codeowners, @rapidsai/packaging-codeowners

optionally test exp2
  numba_cuda/numba/cuda/tests/cudapy/test_bfloat16.py
Owners: @rapidsai/numba-cuda-write

style fixes
  numba_cuda/numba/cuda/tests/cudapy/test_bfloat16.py
Owners: @rapidsai/numba-cuda-write

Skip `test_extension_adds_linkable_code` when test binaries unavailable
  numba_cuda/numba/cuda/tests/cudapy/test_extending.py
Owners: @rapidsai/numba-cuda-write

Optionally test exp2 for lower python versions (#266)
  numba_cuda/numba/cuda/tests/cudapy/test_bfloat16.py
Owners: @rapidsai/numba-cuda-write

Skip `test_extension_adds_linkable_code` when test binaries unavailable (#267)
  numba_cuda/numba/cuda/tests/cudapy/test_extending.py
Owners: @rapidsai/numba-cuda-write

Bump version to 0.13.0
  numba_cuda/VERSION
Owners: @rapidsai/numba-cuda-write

Always enable pynvjitlink if available
  numba_cuda/numba/cuda/cudadrv/driver.py
Owners: @rapidsai/numba-cuda-write

Modify test for new default value.
  numba_cuda/numba/cuda/tests/cudadrv/test_nvjitlink.py
Owners: @rapidsai/numba-cuda-write

Bump version to 0.13.0 (#268)
  numba_cuda/VERSION
Owners: @rapidsai/numba-cuda-write

Filter out multi-versioned but single typed variables.
  numba_cuda/numba/cuda/debuginfo.py
  numba_cuda/numba/cuda/lowering.py
Owners: @rapidsai/numba-cuda-write

Include bindings for functions starting with __ in cuda_fp16.py
  numba_cuda/numba/cuda/_internal/cuda_fp16.py
  pyproject.toml
Owners: @rapidsai/numba-cuda-write, @rapidsai/packaging-codeowners

Add support for passing integers as pointers to kernels
  numba_cuda/numba/cuda/dispatcher.py
  numba_cuda/numba/cuda/tests/cudapy/test_dispatcher.py
Owners: @rapidsai/numba-cuda-write

Document kernel arguments
  docs/source/reference/kernel.rst
  docs/source/user/examples.rst
  docs/source/user/memory.rst
  numba_cuda/numba/cuda/tests/doc_examples/test_cpointer.py
Owners: @rapidsai/numba-cuda-write

docs
  docs/source/user/minor_version_compatibility.rst
Owners: none

update logic
  numba_cuda/numba/cuda/cudadrv/driver.py
Owners: @rapidsai/numba-cuda-write

Revert "update logic"
  numba_cuda/numba/cuda/cudadrv/driver.py
Owners: @rapidsai/numba-cuda-write

logic v2
  numba_cuda/numba/cuda/cudadrv/driver.py
Owners: @rapidsai/numba-cuda-write

Support passing pointers to kernels, and document supported kernel arguments (#269)
  docs/source/reference/kernel.rst
  docs/source/user/examples.rst
  docs/source/user/memory.rst
  numba_cuda/numba/cuda/dispatcher.py
  numba_cuda/numba/cuda/tests/cudapy/test_dispatcher.py
  numba_cuda/numba/cuda/tests/doc_examples/test_cpointer.py
Owners: @rapidsai/numba-cuda-write

Always enable pynvjitlink if available (#263)
  docs/source/user/minor_version_compatibility.rst
  numba_cuda/numba/cuda/cudadrv/driver.py
  numba_cuda/numba/cuda/tests/cudadrv/test_nvjitlink.py
Owners: @rapidsai/numba-cuda-write

Modify generated cuda_fp16 to use numba.core.types.float16
  numba_cuda/numba/cuda/_internal/cuda_fp16.py
Owners: @rapidsai/numba-cuda-write

Fix implementation to match CUDA C/C++
  numba_cuda/numba/cuda/cudadrv/nvvm.py
Owners: @rapidsai/numba-cuda-write

Start plumbing in launch bounds
  numba_cuda/numba/cuda/decorators.py
  numba_cuda/numba/cuda/dispatcher.py
Owners: @rapidsai/numba-cuda-write

Set launch bounds in dispatcher
  numba_cuda/numba/cuda/cudadrv/nvvm.py
  numba_cuda/numba/cuda/dispatcher.py
Owners: @rapidsai/numba-cuda-write

Fix the test and adopt the formatting suggestion from CI
  numba_cuda/numba/cuda/debuginfo.py
  numba_cuda/numba/cuda/lowering.py
  numba_cuda/numba/cuda/tests/cudapy/test_debuginfo.py
Owners: @rapidsai/numba-cuda-write

remove old linkers
  numba_cuda/numba/cuda/cudadrv/driver.py
Owners: @rapidsai/numba-cuda-write

update for new nrt location
  numba_cuda/numba/cuda/cudadrv/driver.py
Owners: @rapidsai/numba-cuda-write

repurpose pynvjitlink ci scripts
  .github/workflows/pr.yaml
  ci/test_conda_nvidia_binding.sh
  ci/test_wheel_nvidia_binding.sh
Owners: @rapidsai/ci-codeowners

missed env var
  ci/test_conda_nvidia_binding.sh
Owners: @rapidsai/ci-codeowners

Add CUDA 12.9 and new architectures
  numba_cuda/numba/cuda/cudadrv/nvvm.py
Owners: @rapidsai/numba-cuda-write

Skip compute capability 10.3 on CUDA 12.8
  numba_cuda/numba/cuda/cudadrv/nvvm.py
Owners: @rapidsai/numba-cuda-write

Fix `list`-comprehension ordering
  numba_cuda/numba/cuda/cudadrv/nvvm.py
Owners: @rapidsai/numba-cuda-write

wip changes for @isVoid
  numba_cuda/numba/cuda/_internal/cuda_fp16.py
  numba_cuda/numba/cuda/cudadecl.py
  numba_cuda/numba/cuda/cudaimpl.py
  numba_cuda/numba/cuda/device_init.py
  numba_cuda/numba/cuda/fp16.py
  numba_cuda/numba/cuda/mathimpl.py
  numba_cuda/numba/cuda/stubs.py
  numba_cuda/numba/cuda/tests/cudapy/test_casting.py
Owners: @rapidsai/numba-cuda-write

Revert "Always enable pynvjitlink if available (#263)"
  docs/source/user/minor_version_compatibility.rst
  numba_cuda/numba/cuda/cudadrv/driver.py
  numba_cuda/numba/cuda/tests/cudadrv/test_nvjitlink.py
Owners: @rapidsai/numba-cuda-write

Use 10.1 as upper bound in CUDA 12.8
  numba_cuda/numba/cuda/cudadrv/nvvm.py
Owners: @rapidsai/numba-cuda-write

Run `ruff format` to fix CI check-style
  numba_cuda/numba/cuda/cudadrv/nvvm.py
Owners: @rapidsai/numba-cuda-write

Export same names as the stubs from fp16
  numba_cuda/numba/cuda/fp16.py
Owners: @rapidsai/numba-cuda-write

Add lowerings for math functions to cuda_fp16.py
  numba_cuda/numba/cuda/_internal/cuda_fp16.py
  numba_cuda/numba/cuda/tests/cudapy/test_intrinsics.py
  numba_cuda/numba/cuda/tests/cudapy/test_math.py
  numba_cuda/numba/cuda/tests/nocuda/test_function_resolution.py
Owners: @rapidsai/numba-cuda-write

Fix handling of `None` launch_bounds and add dispatcher tests
  numba_cuda/numba/cuda/cudadrv/nvvm.py
  numba_cuda/numba/cuda/tests/cudapy/test_dispatcher.py
Owners: @rapidsai/numba-cuda-write

Fix CC bounding on test_launch_bounds_with_max_cluster_rank
  numba_cuda/numba/cuda/tests/cudapy/test_dispatcher.py
Owners: @rapidsai/numba-cuda-write

Implement compilation with launch bounds and add tests
  numba_cuda/numba/cuda/compiler.py
  numba_cuda/numba/cuda/decorators.py
  numba_cuda/numba/cuda/tests/cudapy/test_compiler.py
Owners: @rapidsai/numba-cuda-write

.github/CODEOWNERS:

#python code owners
numba_cuda/            @rapidsai/numba-cuda-write

#cmake code owners
**/CMakeLists.txt  @rapidsai/numba-cuda-write
**/cmake/          @rapidsai/numba-cuda-write

#CI code owners
/.github/                @rapidsai/ci-codeowners
/ci/                     @rapidsai/ci-codeowners
/.pre-commit-config.yaml @rapidsai/ci-codeowners

#packaging code owners
/.devcontainer/    @rapidsai/packaging-codeowners
/conda/            @rapidsai/packaging-codeowners
/dependencies.yaml @rapidsai/packaging-codeowners
/build.sh          @rapidsai/packaging-codeowners
pyproject.toml     @rapidsai/packaging-codeowners
