Repository NVIDIA/numba-cuda, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rapidsai/numba-cuda-write, @rapidsai/ci-codeowners, @rapidsai/packaging-codeowners

Redirect to numba.types and numba.core.datamodel if they are available
  numba_cuda/numba/cuda/_internal/cuda_bf16.py
  numba_cuda/numba/cuda/cg.py
  numba_cuda/numba/cuda/core/typeinfer.py
  numba_cuda/numba/cuda/cuda_datamodel/__init__.py
  numba_cuda/numba/cuda/cuda_datamodel/manager.py
  numba_cuda/numba/cuda/cuda_datamodel/models.py
  numba_cuda/numba/cuda/cuda_datamodel/packer.py
  numba_cuda/numba/cuda/cuda_datamodel/registry.py
  numba_cuda/numba/cuda/cuda_datamodel/testing.py
  numba_cuda/numba/cuda/cuda_types/__init__.py
  numba_cuda/numba/cuda/cuda_types/__init__.pyi
  numba_cuda/numba/cuda/cuda_types/abstract.py
  numba_cuda/numba/cuda/cuda_types/common.py
  numba_cuda/numba/cuda/cuda_types/containers.py
  numba_cuda/numba/cuda/cuda_types/function_type.py
  numba_cuda/numba/cuda/cuda_types/functions.py
  numba_cuda/numba/cuda/cuda_types/iterators.py
  numba_cuda/numba/cuda/cuda_types/misc.py
  numba_cuda/numba/cuda/cuda_types/npytypes.py
  numba_cuda/numba/cuda/cuda_types/scalars.py
  numba_cuda/numba/cuda/cudadecl.py
  numba_cuda/numba/cuda/cudaimpl.py
  numba_cuda/numba/cuda/datamodel.py
  numba_cuda/numba/cuda/debuginfo.py
  numba_cuda/numba/cuda/dispatcher.py
  numba_cuda/numba/cuda/ext_types.py
  numba_cuda/numba/cuda/extending.py
  numba_cuda/numba/cuda/models.py
  numba_cuda/numba/cuda/np/polynomial/polynomial_core.py
  numba_cuda/numba/cuda/printimpl.py
  numba_cuda/numba/cuda/tests/cudapy/extensions_usecases.py
  numba_cuda/numba/cuda/tests/cudapy/test_extending.py
  numba_cuda/numba/cuda/tests/cudapy/test_print.py
  numba_cuda/numba/cuda/types.py
  numba_cuda/numba/cuda/typing/builtins.py
  numba_cuda/numba/cuda/typing/templates.py
  pyproject.toml
Owners: @rapidsai/numba-cuda-write, @rapidsai/packaging-codeowners

chore: remove extra tuple conversion
  numba_cuda/numba/cuda/api_util.py
Owners: @rapidsai/numba-cuda-write

export
  numba_cuda/numba/cuda/memory_management/nrt.cu
  numba_cuda/numba/cuda/memory_management/nrt.cuh
Owners: @rapidsai/numba-cuda-write

Remove mapping between numba and numba-cuda types
  numba_cuda/numba/cuda/core/sigutils.py
Owners: @rapidsai/numba-cuda-write

Fix filtering for registering third-party declarations from numba's typing registry
  numba_cuda/numba/cuda/typing/context.py
Owners: @rapidsai/numba-cuda-write

move handling back to top
  numba_cuda/numba/cuda/dispatcher.py
Owners: @rapidsai/numba-cuda-write

feat: add math nextafter
  docs/source/user/cudapysupported.rst
  numba_cuda/numba/cuda/cudamath.py
  numba_cuda/numba/cuda/mathimpl.py
  numba_cuda/numba/cuda/tests/cudapy/test_fastmath.py
  numba_cuda/numba/cuda/tests/cudapy/test_math.py
Owners: @rapidsai/numba-cuda-write

Remove dependency on numba.core.target_extension for CUDATarget
  numba_cuda/numba/cuda/compiler.py
  numba_cuda/numba/cuda/core/base.py
  numba_cuda/numba/cuda/cuda_types/functions.py
  numba_cuda/numba/cuda/descriptor.py
  numba_cuda/numba/cuda/dispatcher.py
  numba_cuda/numba/cuda/initialize.py
  numba_cuda/numba/cuda/lowering.py
  numba_cuda/numba/cuda/tests/core/test_serialize.py
  numba_cuda/numba/cuda/typing/context.py
  numba_cuda/numba/cuda/typing/templates.py
  numba_cuda/numba/cuda/utils.py
Owners: @rapidsai/numba-cuda-write

basic
  numba_cuda/numba/cuda/tests/test_array_reductions.py
Owners: @rapidsai/numba-cuda-write

add test that exhibits the failure
  numba_cuda/numba/cuda/tests/test_array_methods.py
Owners: @rapidsai/numba-cuda-write

implement fix
  numba_cuda/numba/cuda/np/arrayobj.py
Owners: @rapidsai/numba-cuda-write

chore: make name longer for clarity
  numba_cuda/numba/cuda/api_util.py
Owners: @rapidsai/numba-cuda-write

chore: avoid any `__eq__` overhead
  numba_cuda/numba/cuda/api_util.py
Owners: @rapidsai/numba-cuda-write

refactor: count backwards instead of reversing
  numba_cuda/numba/cuda/api_util.py
Owners: @rapidsai/numba-cuda-write

perf: avoid extra dtype call
  numba_cuda/numba/cuda/api.py
Owners: @rapidsai/numba-cuda-write

perf: avoid extra cai access
  numba_cuda/numba/cuda/dispatcher.py
Owners: @rapidsai/numba-cuda-write

Add DWARF Variant Part Support for Polymorphic Variables in CUDA Debug Info
  numba_cuda/numba/cuda/debuginfo.py
  numba_cuda/numba/cuda/lowering.py
  numba_cuda/numba/cuda/tests/cudapy/test_debuginfo.py
Owners: @rapidsai/numba-cuda-write

fix ruff format
  numba_cuda/numba/cuda/tests/cudapy/test_debuginfo.py
Owners: @rapidsai/numba-cuda-write

another fix for ruff format
  numba_cuda/numba/cuda/debuginfo.py
  numba_cuda/numba/cuda/lowering.py
Owners: @rapidsai/numba-cuda-write

Delete module-based package redirectors
  numba_cuda/numba/cuda/datamodel.py
  numba_cuda/numba/cuda/types.py
Owners: @rapidsai/numba-cuda-write

Move cuda_types and cuda_datamodel back to types and datamodel
  numba_cuda/numba/cuda/datamodel/__init__.py
  numba_cuda/numba/cuda/datamodel/manager.py
  numba_cuda/numba/cuda/datamodel/models.py
  numba_cuda/numba/cuda/datamodel/packer.py
  numba_cuda/numba/cuda/datamodel/registry.py
  numba_cuda/numba/cuda/datamodel/testing.py
  numba_cuda/numba/cuda/types/__init__.py
  numba_cuda/numba/cuda/types/__init__.pyi
  numba_cuda/numba/cuda/types/abstract.py
  numba_cuda/numba/cuda/types/common.py
  numba_cuda/numba/cuda/types/containers.py
  numba_cuda/numba/cuda/types/function_type.py
  numba_cuda/numba/cuda/types/functions.py
  numba_cuda/numba/cuda/types/iterators.py
  numba_cuda/numba/cuda/types/misc.py
  numba_cuda/numba/cuda/types/npytypes.py
  numba_cuda/numba/cuda/types/scalars.py
  pyproject.toml
Owners: @rapidsai/numba-cuda-write, @rapidsai/packaging-codeowners

Redirect types and datamodel modules
  numba_cuda/numba/cuda/datamodel/cuda_manager.py
  numba_cuda/numba/cuda/datamodel/cuda_models.py
  numba_cuda/numba/cuda/datamodel/cuda_packer.py
  numba_cuda/numba/cuda/datamodel/cuda_registry.py
  numba_cuda/numba/cuda/datamodel/cuda_testing.py
  numba_cuda/numba/cuda/datamodel/manager.py
  numba_cuda/numba/cuda/datamodel/models.py
  numba_cuda/numba/cuda/datamodel/packer.py
  numba_cuda/numba/cuda/datamodel/registry.py
  numba_cuda/numba/cuda/datamodel/testing.py
  numba_cuda/numba/cuda/types/abstract.py
  numba_cuda/numba/cuda/types/common.py
  numba_cuda/numba/cuda/types/containers.py
  numba_cuda/numba/cuda/types/cuda_abstract.py
  numba_cuda/numba/cuda/types/cuda_common.py
  numba_cuda/numba/cuda/types/cuda_containers.py
  numba_cuda/numba/cuda/types/cuda_function_type.py
  numba_cuda/numba/cuda/types/cuda_functions.py
  numba_cuda/numba/cuda/types/cuda_iterators.py
  numba_cuda/numba/cuda/types/cuda_misc.py
  numba_cuda/numba/cuda/types/cuda_npytypes.py
  numba_cuda/numba/cuda/types/cuda_scalars.py
  numba_cuda/numba/cuda/types/function_type.py
  numba_cuda/numba/cuda/types/functions.py
  numba_cuda/numba/cuda/types/iterators.py
  numba_cuda/numba/cuda/types/misc.py
  numba_cuda/numba/cuda/types/npytypes.py
  numba_cuda/numba/cuda/types/scalars.py
  numba_cuda/numba/cuda/utils.py
Owners: @rapidsai/numba-cuda-write

perf: remove a redundant attribute access
  numba_cuda/numba/cuda/cudadrv/devicearray.py
Owners: @rapidsai/numba-cuda-write

refactor: clean up `Device` constructor
  numba_cuda/numba/cuda/cudadrv/driver.py
Owners: @rapidsai/numba-cuda-write

perf: cache dimension computations (#542)
  numba_cuda/numba/cuda/api.py
  numba_cuda/numba/cuda/api_util.py
  numba_cuda/numba/cuda/cudadrv/devicearray.py
  numba_cuda/numba/cuda/cudadrv/driver.py
  numba_cuda/numba/cuda/cudadrv/dummyarray.py
  numba_cuda/numba/cuda/dispatcher.py
  pixi.lock
  pyproject.toml
Owners: @rapidsai/numba-cuda-write, @rapidsai/packaging-codeowners

test: enable warnings
  testing/pytest.ini
Owners: none

test: rename things to avoid pytest discovering non-test objects
  numba_cuda/numba/cuda/tests/cudapy/extensions_usecases.py
  numba_cuda/numba/cuda/tests/cudapy/test_localmem.py
  numba_cuda/numba/cuda/tests/cudapy/test_sm.py
  numba_cuda/numba/cuda/tests/cudapy/test_sm_creation.py
Owners: @rapidsai/numba-cuda-write

test: clean up most warnings
  numba_cuda/numba/cuda/testing.py
  numba_cuda/numba/cuda/tests/cudadrv/test_cuda_libraries.py
  numba_cuda/numba/cuda/tests/cudadrv/test_is_fp16.py
  numba_cuda/numba/cuda/tests/cudadrv/test_linker.py
  numba_cuda/numba/cuda/tests/cudadrv/test_nvjitlink.py
  numba_cuda/numba/cuda/tests/cudadrv/test_nvvm_driver.py
  numba_cuda/numba/cuda/tests/cudapy/test_atomics.py
  numba_cuda/numba/cuda/tests/cudapy/test_compiler.py
  numba_cuda/numba/cuda/tests/cudapy/test_gufunc.py
  numba_cuda/numba/cuda/tests/cudapy/test_lineinfo.py
  numba_cuda/numba/cuda/tests/cudapy/test_math.py
  numba_cuda/numba/cuda/tests/cudapy/test_typeinfer.py
  numba_cuda/numba/cuda/tests/cudapy/test_warning.py
Owners: @rapidsai/numba-cuda-write

test: give up on floating point arithmetic
  numba_cuda/numba/cuda/tests/cudapy/test_math.py
Owners: @rapidsai/numba-cuda-write

test: disable copy to host performance warnings
  numba_cuda/numba/cuda/tests/nrt/test_nrt_refct.py
  numba_cuda/numba/cuda/tests/test_analysis.py
  numba_cuda/numba/cuda/tests/test_extending.py
Owners: @rapidsai/numba-cuda-write

test: disable benchmarks by default due to presence of xdist
  testing/pytest.ini
Owners: none

test: disable low occupancy warnings
  testing/pytest.ini
Owners: none

test: revert inadvertently renamed test
  numba_cuda/numba/cuda/tests/cudapy/test_localmem.py
Owners: @rapidsai/numba-cuda-write

test: pass dtype directly to linspace instead of casting
  numba_cuda/numba/cuda/tests/cudapy/test_math.py
Owners: @rapidsai/numba-cuda-write

test: pass dtype directly to empty_like instead of casting
  numba_cuda/numba/cuda/tests/cudapy/test_math.py
Owners: @rapidsai/numba-cuda-write

test: fix invalid negative 1 value for uint64 test
  numba_cuda/numba/cuda/tests/cudapy/test_math.py
Owners: @rapidsai/numba-cuda-write

chore: move pytest.ini to top level
  pytest.ini
Owners: none

chore: ignore dynamic init warning in cu file
  pytest.ini
Owners: none

chore: move pytest.ini back to testing
  testing/pytest.ini
Owners: none

test: simplify cuda_libraries test
  numba_cuda/numba/cuda/tests/cudadrv/test_cuda_libraries.py
Owners: @rapidsai/numba-cuda-write

.github/CODEOWNERS:

#python code owners
numba_cuda/            @rapidsai/numba-cuda-write

#cmake code owners
**/CMakeLists.txt  @rapidsai/numba-cuda-write
**/cmake/          @rapidsai/numba-cuda-write

#CI code owners
/.github/                @rapidsai/ci-codeowners
/ci/                     @rapidsai/ci-codeowners
/.pre-commit-config.yaml @rapidsai/ci-codeowners

#packaging code owners
/.devcontainer/    @rapidsai/packaging-codeowners
/conda/            @rapidsai/packaging-codeowners
/dependencies.yaml @rapidsai/packaging-codeowners
/build.sh          @rapidsai/packaging-codeowners
pyproject.toml     @rapidsai/packaging-codeowners
