Repository NVIDIA/numba-cuda, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rapidsai/numba-cuda-write, @rapidsai/ci-codeowners, @rapidsai/packaging-codeowners

conditionally enable the cast for ctk12
  numba_cuda/numba/cuda/cuda_bf16.py
  numba_cuda/numba/cuda/tests/cudapy/test_bfloat16_bindings.py
Owners: @rapidsai/numba-cuda-write

fix config, regenerate after fixing the custom includes
  configs/cuda_bf16.yml
  numba_cuda/numba/cuda/cuda_bf16.py
Owners: @rapidsai/numba-cuda-write

Fix cuda.jit decorator inline (#181)
  docs/source/user/ufunc.rst
  numba_cuda/numba/cuda/decorators.py
  numba_cuda/numba/cuda/tests/cudapy/test_array_args.py
  numba_cuda/numba/cuda/tests/cudapy/test_blackscholes.py
  numba_cuda/numba/cuda/tests/cudapy/test_inline.py
  numba_cuda/numba/cuda/tests/cudapy/test_laplace.py
  numba_cuda/numba/cuda/vectorizers.py
Owners: @rapidsai/numba-cuda-write

only set to 11 when using ctk 11
  numba_cuda/numba/cuda/cudadrv/nvrtc.py
Owners: @rapidsai/numba-cuda-write

Add CUDAArray type and implementation
  numba_cuda/numba/cuda/cudadecl.py
  numba_cuda/numba/cuda/cudaimpl.py
  numba_cuda/numba/cuda/models.py
  numba_cuda/numba/cuda/types.py
Owners: @rapidsai/numba-cuda-write

Add Bfloat16 Low++ Bindings (#166)
  configs/cuda_bf16.yml
  numba_cuda/numba/cuda/cuda_bf16.py
  numba_cuda/numba/cuda/cudadrv/linkable_code.py
  numba_cuda/numba/cuda/cudadrv/nvrtc.py
  numba_cuda/numba/cuda/include/11/cuda_bf16.h
  numba_cuda/numba/cuda/include/11/cuda_bf16.hpp
  numba_cuda/numba/cuda/include/11/cuda_fp16.h
  numba_cuda/numba/cuda/include/11/cuda_fp16.hpp
  numba_cuda/numba/cuda/include/12/cuda_bf16.h
  numba_cuda/numba/cuda/include/12/cuda_bf16.hpp
  numba_cuda/numba/cuda/include/12/cuda_fp16.h
  numba_cuda/numba/cuda/include/12/cuda_fp16.hpp
  numba_cuda/numba/cuda/target.py
  numba_cuda/numba/cuda/tests/cudapy/test_bfloat16_bindings.py
  numba_cuda/numba/cuda/tests/cudapy/test_enums.py
  pyproject.toml
Owners: @rapidsai/numba-cuda-write, @rapidsai/packaging-codeowners

preserve nrt library through serialization
  numba_cuda/numba/cuda/codegen.py
  numba_cuda/numba/cuda/dispatcher.py
  numba_cuda/numba/cuda/runtime/nrt.py
Owners: @rapidsai/numba-cuda-write

pass full test suite with nrt and nvidia binding
  numba_cuda/numba/cuda/codegen.py
  numba_cuda/numba/cuda/dispatcher.py
Owners: @rapidsai/numba-cuda-write

Fix Invalid NVVM IR emitted when lowering shfl_sync APIs (#231)
  numba_cuda/numba/cuda/cudadecl.py
  numba_cuda/numba/cuda/cudaimpl.py
  numba_cuda/numba/cuda/device_init.py
  numba_cuda/numba/cuda/intrinsic_wrapper.py
  numba_cuda/numba/cuda/intrinsics.py
  numba_cuda/numba/cuda/stubs.py
  numba_cuda/numba/cuda/tests/cudapy/test_warp_ops.py
Owners: @rapidsai/numba-cuda-write

Bump version to 0.10.0
  numba_cuda/VERSION
Owners: @rapidsai/numba-cuda-write

Update numba_cuda/numba/cuda/lowering.py
  numba_cuda/numba/cuda/lowering.py
Owners: @rapidsai/numba-cuda-write

Fix package installation for wheels CI
  ci/test_wheel.sh
  ci/test_wheel_deps_wheels.sh
  ci/test_wheel_pynvjitlink.sh
Owners: @rapidsai/ci-codeowners

Add CUDA_VER to wheels test script environment
  .github/workflows/wheels-test.yaml
Owners: @rapidsai/ci-codeowners

Fix package installation for wheels CI (#238)
  .github/workflows/wheels-test.yaml
  ci/test_wheel.sh
  ci/test_wheel_deps_wheels.sh
  ci/test_wheel_pynvjitlink.sh
Owners: @rapidsai/ci-codeowners

Local variable debug info deduplication (#222)
  numba_cuda/numba/cuda/compiler.py
  numba_cuda/numba/cuda/debuginfo.py
  numba_cuda/numba/cuda/lowering.py
  numba_cuda/numba/cuda/tests/cudapy/test_debuginfo.py
Owners: @rapidsai/numba-cuda-write

Bump version to 0.10.0
  numba_cuda/VERSION
Owners: @rapidsai/numba-cuda-write

Bump version to 0.10.0 (#239)
  numba_cuda/VERSION
Owners: @rapidsai/numba-cuda-write

Rename `numba.cuda.runtime` to `memory_management`
  numba_cuda/numba/cuda/cudadrv/nvrtc.py
  numba_cuda/numba/cuda/dispatcher.py
  numba_cuda/numba/cuda/memory_management/__init__.py
  numba_cuda/numba/cuda/memory_management/memsys.cu
  numba_cuda/numba/cuda/memory_management/memsys.cuh
  numba_cuda/numba/cuda/memory_management/nrt.cu
  numba_cuda/numba/cuda/memory_management/nrt.py
  numba_cuda/numba/cuda/runtime/__init__.py
  numba_cuda/numba/cuda/tests/nrt/test_nrt.py
  numba_cuda/numba/cuda/tests/nrt/test_nrt_refct.py
  numba_cuda/numba/cuda/tests/support.py
Owners: @rapidsai/numba-cuda-write

Remove some invalid array reshape tests
  numba_cuda/numba/cuda/tests/cudapy/test_array.py
Owners: @rapidsai/numba-cuda-write

CUDASIM: Support detection of device function calls
  numba_cuda/numba/cuda/simulator/kernel.py
Owners: @rapidsai/numba-cuda-write

CUDASIM: Update to include recently-added APIs
  numba_cuda/numba/cuda/simulator/__init__.py
  numba_cuda/numba/cuda/simulator/api.py
  numba_cuda/numba/cuda/simulator/cudadrv/driver.py
  numba_cuda/numba/cuda/simulator/cudadrv/libs.py
  numba_cuda/numba/cuda/simulator/cudadrv/linkable_code.py
  numba_cuda/numba/cuda/simulator/memory_management/__init__.py
  numba_cuda/numba/cuda/simulator/memory_management/nrt.py
  numba_cuda/numba/cuda/testing.py
  numba_cuda/numba/cuda/tests/nrt/test_nrt.py
  numba_cuda/numba/cuda/tests/nrt/test_nrt_refct.py
Owners: @rapidsai/numba-cuda-write

fix lto dump assembly
  numba_cuda/numba/cuda/codegen.py
  numba_cuda/numba/cuda/cudadrv/driver.py
  numba_cuda/numba/cuda/tests/cudadrv/test_nvjitlink.py
Owners: @rapidsai/numba-cuda-write

Implement alignment support for local and shared arrays.
  numba_cuda/numba/cuda/cudadecl.py
  numba_cuda/numba/cuda/cudaimpl.py
  numba_cuda/numba/cuda/stubs.py
  numba_cuda/numba/cuda/tests/cudapy/test_array_alignment.py
Owners: @rapidsai/numba-cuda-write

Add cooperative attr to codelib
  numba_cuda/numba/cuda/codegen.py
  numba_cuda/numba/cuda/dispatcher.py
Owners: @rapidsai/numba-cuda-write

PR Feedback: use two kernels for invalid test; use assertRaisesRegex.
  numba_cuda/numba/cuda/tests/cudapy/test_array_alignment.py
Owners: @rapidsai/numba-cuda-write

move test file per review suggests
  numba_cuda/numba/cuda/tests/cudapy/test_numba_events.py
Owners: @rapidsai/numba-cuda-write

Implement alignment support for local and shared arrays. (#143)
  numba_cuda/numba/cuda/cudadecl.py
  numba_cuda/numba/cuda/cudaimpl.py
  numba_cuda/numba/cuda/stubs.py
  numba_cuda/numba/cuda/tests/cudapy/test_array_alignment.py
Owners: @rapidsai/numba-cuda-write

Fixes for adding data to link
  numba_cuda/numba/cuda/cudadrv/driver.py
  numba_cuda/numba/cuda/cudadrv/linkable_code.py
  numba_cuda/numba/cuda/tests/cudapy/test_extending.py
  numba_cuda/numba/cuda/tests/test_binary_generation/test_device_functions.cu
Owners: @rapidsai/numba-cuda-write

Support `add_data()` in the `CudaPythonLinker`
  numba_cuda/numba/cuda/cudadrv/driver.py
Owners: @rapidsai/numba-cuda-write

Build test binaries for test_conda and test_wheel
  ci/test_conda.sh
  ci/test_wheel.sh
Owners: @rapidsai/ci-codeowners

Export NUMBA_CUDA_TEST_BIN_DIR for test_conda and test_wheels
  ci/test_conda.sh
  ci/test_wheel.sh
Owners: @rapidsai/ci-codeowners

fix linker args
  numba_cuda/numba/cuda/cudadrv/driver.py
Owners: @rapidsai/numba-cuda-write

drop autodetection of NRT in user supplied raw file paths
  numba_cuda/numba/cuda/dispatcher.py
  numba_cuda/numba/cuda/tests/nrt/test_nrt.py
Owners: @rapidsai/numba-cuda-write

Apply suggestions from code review
  numba_cuda/numba/cuda/tests/test_binary_generation/Makefile
  numba_cuda/numba/cuda/tests/test_binary_generation/generate_raw_ltoir.py
Owners: @rapidsai/numba-cuda-write

Skip in-memory data link tests on CUDA 11
  ci/test_conda.sh
  ci/test_wheel.sh
  numba_cuda/numba/cuda/tests/cudapy/test_extending.py
Owners: @rapidsai/ci-codeowners, @rapidsai/numba-cuda-write

Add missing variable to CI scripts
  ci/test_conda.sh
  ci/test_wheel.sh
Owners: @rapidsai/ci-codeowners

Fix typo in test_extending
  numba_cuda/numba/cuda/tests/cudapy/test_extending.py
Owners: @rapidsai/numba-cuda-write

Attempt to get CUDA 11 for CUDA 11 tests in CI
  ci/test_conda.sh
  ci/test_wheel.sh
Owners: @rapidsai/ci-codeowners

Fix skip of test
  numba_cuda/numba/cuda/tests/cudapy/test_extending.py
Owners: @rapidsai/numba-cuda-write

remove prefix on arguments
  numba_cuda/numba/cuda/debuginfo.py
  numba_cuda/numba/cuda/target.py
  numba_cuda/numba/cuda/tests/cudapy/test_debuginfo.py
Owners: @rapidsai/numba-cuda-write

.github/CODEOWNERS:

#python code owners
numba_cuda/            @rapidsai/numba-cuda-write

#cmake code owners
**/CMakeLists.txt  @rapidsai/numba-cuda-write
**/cmake/          @rapidsai/numba-cuda-write

#CI code owners
/.github/                @rapidsai/ci-codeowners
/ci/                     @rapidsai/ci-codeowners
/.pre-commit-config.yaml @rapidsai/ci-codeowners

#packaging code owners
/.devcontainer/    @rapidsai/packaging-codeowners
/conda/            @rapidsai/packaging-codeowners
/dependencies.yaml @rapidsai/packaging-codeowners
/build.sh          @rapidsai/packaging-codeowners
pyproject.toml     @rapidsai/packaging-codeowners
