Repository NVIDIA/numba-cuda, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rapidsai/numba-cuda-write, @rapidsai/ci-codeowners, @rapidsai/packaging-codeowners

.github/CODEOWNERS:

#python code owners
numba_cuda/            @rapidsai/numba-cuda-write

#cmake code owners
**/CMakeLists.txt  @rapidsai/numba-cuda-write
**/cmake/          @rapidsai/numba-cuda-write

#CI code owners
/.github/                @rapidsai/ci-codeowners
/ci/                     @rapidsai/ci-codeowners
/.pre-commit-config.yaml @rapidsai/ci-codeowners

#packaging code owners
/.devcontainer/    @rapidsai/packaging-codeowners
/conda/            @rapidsai/packaging-codeowners
/dependencies.yaml @rapidsai/packaging-codeowners
/build.sh          @rapidsai/packaging-codeowners
pyproject.toml     @rapidsai/packaging-codeowners

add documentation about data property in linkablecode
  numba_cuda/numba/cuda/cudadrv/linkable_code.py
Owners: @rapidsai/numba-cuda-write

allow override shim include path
  configs/cuda_bf16.yml
  numba_cuda/numba/cuda/cuda_bf16.py
Owners: @rapidsai/numba-cuda-write

address reviews
  numba_cuda/numba/cuda/cuda_paths.py
Owners: @rapidsai/numba-cuda-write

dont leak memory, cleanup
  numba_cuda/numba/cuda/tests/nrt/test_nrt.py
  numba_cuda/numba/cuda/tests/test_binary_generation/nrt_extern.cu
Owners: @rapidsai/numba-cuda-write

cache nrt source
  numba_cuda/numba/cuda/dispatcher.py
Owners: @rapidsai/numba-cuda-write

regenerate with `require_pynvjitlink` flag
  configs/cuda_bf16.yml
  numba_cuda/numba/cuda/cuda_bf16.py
Owners: @rapidsai/numba-cuda-write

regenerate with abspath
  configs/cuda_bf16.yml
  numba_cuda/numba/cuda/cuda_bf16.py
Owners: @rapidsai/numba-cuda-write

re-generate with import sorts
  numba_cuda/numba/cuda/cuda_bf16.py
Owners: @rapidsai/numba-cuda-write

Return inline arg back and pass it through with bool warning
  numba_cuda/numba/cuda/decorators.py
Owners: @rapidsai/numba-cuda-write

Add inline bool tests
  numba_cuda/numba/cuda/tests/cudapy/test_inline.py
Owners: @rapidsai/numba-cuda-write

Update numba_cuda/numba/cuda/extending.py
  numba_cuda/numba/cuda/extending.py
Owners: @rapidsai/numba-cuda-write

Add vendor notice to the function comment
  numba_cuda/numba/cuda/extending.py
Owners: @rapidsai/numba-cuda-write

Resolve discussions and merge bugs
  numba_cuda/numba/cuda/cudadecl.py
  numba_cuda/numba/cuda/cudaimpl.py
  numba_cuda/numba/cuda/stubs.py
  numba_cuda/numba/cuda/tests/cudapy/test_localmem.py
  numba_cuda/numba/cuda/tests/cudapy/test_sm.py
Owners: @rapidsai/numba-cuda-write

Update layout literal error
  numba_cuda/numba/cuda/cudadecl.py
Owners: @rapidsai/numba-cuda-write

Update stub arrays doc
  numba_cuda/numba/cuda/stubs.py
Owners: @rapidsai/numba-cuda-write

regenerate with a fix of writing stream at lowering
  numba_cuda/numba/cuda/cuda_bf16.py
Owners: @rapidsai/numba-cuda-write

regenerate with keyed-stream write
  numba_cuda/numba/cuda/cuda_bf16.py
Owners: @rapidsai/numba-cuda-write

variable debug info deduplication
  numba_cuda/numba/cuda/compiler.py
  numba_cuda/numba/cuda/debuginfo.py
  numba_cuda/numba/cuda/tests/cudapy/test_debuginfo.py
Owners: @rapidsai/numba-cuda-write

add a CUDA native lowering pass
  numba_cuda/numba/cuda/lowering.py
Owners: @rapidsai/numba-cuda-write

reformat to meet the required style check
  numba_cuda/numba/cuda/compiler.py
  numba_cuda/numba/cuda/debuginfo.py
  numba_cuda/numba/cuda/lowering.py
  numba_cuda/numba/cuda/tests/cudapy/test_debuginfo.py
Owners: @rapidsai/numba-cuda-write

adopt the formatting from check-style
  numba_cuda/numba/cuda/debuginfo.py
  numba_cuda/numba/cuda/lowering.py
Owners: @rapidsai/numba-cuda-write

add a newline at end of file
  numba_cuda/numba/cuda/lowering.py
Owners: @rapidsai/numba-cuda-write

convert CRLF to LF
  numba_cuda/numba/cuda/lowering.py
Owners: @rapidsai/numba-cuda-write

Update numba_cuda/numba/cuda/cuda_paths.py
  numba_cuda/numba/cuda/cuda_paths.py
Owners: @rapidsai/numba-cuda-write

get runtime lib from wheel as well
  numba_cuda/numba/cuda/cuda_paths.py
Owners: @rapidsai/numba-cuda-write

remove system packages from conda test jobs
  ci/test_conda.sh
Owners: @rapidsai/ci-codeowners

only remove system packages in cuda 12 ci test jobs
  ci/test_conda.sh
Owners: @rapidsai/ci-codeowners

address reviews in cuda_paths.py
  numba_cuda/numba/cuda/cuda_paths.py
Owners: @rapidsai/numba-cuda-write

add Graham's patch
  numba_cuda/numba/cuda/cuda_paths.py
Owners: @rapidsai/numba-cuda-write

source cudart from wheel
  ci/test_wheel_deps_wheels.sh
Owners: @rapidsai/ci-codeowners

Restore PR #185 (Stop Certain Driver API Discovery for "v2")
  numba_cuda/numba/cuda/cudadrv/driver.py
Owners: @rapidsai/numba-cuda-write

update 'line' attribute for formal argument
  numba_cuda/numba/cuda/lowering.py
Owners: @rapidsai/numba-cuda-write

Restore PR #185 (Stop Certain Driver API Discovery for "v2") (#223)
  numba_cuda/numba/cuda/cudadrv/driver.py
Owners: @rapidsai/numba-cuda-write

add test using bfloat16 within device func
  numba_cuda/numba/cuda/tests/cudapy/test_bfloat16_bindings.py
Owners: @rapidsai/numba-cuda-write

reinstate test
  numba_cuda/numba/cuda/tests/nrt/test_nrt.py
Owners: @rapidsai/numba-cuda-write

reinstate test (#226)
  numba_cuda/numba/cuda/tests/nrt/test_nrt.py
Owners: @rapidsai/numba-cuda-write

simplify logic
  numba_cuda/numba/cuda/cuda_paths.py
Owners: @rapidsai/numba-cuda-write

initial
  numba_cuda/numba/cuda/compiler.py
  numba_cuda/numba/cuda/dispatcher.py
  numba_cuda/numba/cuda/tests/test_events.py
Owners: @rapidsai/numba-cuda-write

remove stacks in compile_device until discussion
  numba_cuda/numba/cuda/dispatcher.py
  numba_cuda/numba/cuda/tests/test_numba_events.py
Owners: @rapidsai/numba-cuda-write

Locate nvvm, libdevice, nvrtc, and cudart from nvidia-*-cu12 wheels (#155)
  .github/workflows/pr.yaml
  ci/test_conda.sh
  ci/test_wheel_deps_wheels.sh
  numba_cuda/numba/cuda/cuda_paths.py
  numba_cuda/numba/cuda/cudadrv/libs.py
Owners: @rapidsai/ci-codeowners, @rapidsai/numba-cuda-write
