Repository NVIDIA/numba-cuda, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rapidsai/numba-cuda-write, @rapidsai/ci-codeowners, @rapidsai/packaging-codeowners

move code around
  numba_cuda/numba/cuda/__init__.py
  numba_cuda/numba/cuda/cudadrv/driver.py
Owners: @rapidsai/numba-cuda-write

reset file
  numba_cuda/numba/cuda/__init__.py
Owners: @rapidsai/numba-cuda-write

generic cuda-core conda dep
  conda/recipes/numba-cuda/meta.yaml
Owners: @rapidsai/packaging-codeowners

fix
  numba_cuda/numba/cuda/cudadrv/driver.py
Owners: @rapidsai/numba-cuda-write

Add support for launch bounds (#272)
  numba_cuda/numba/cuda/compiler.py
  numba_cuda/numba/cuda/cudadrv/nvvm.py
  numba_cuda/numba/cuda/decorators.py
  numba_cuda/numba/cuda/dispatcher.py
  numba_cuda/numba/cuda/tests/cudapy/test_compiler.py
  numba_cuda/numba/cuda/tests/cudapy/test_dispatcher.py
Owners: @rapidsai/numba-cuda-write

Revert "Workaround conda-forge/numba-feedstock#158 (#282)"
  ci/build_docs.sh
  ci/test_conda.sh
  ci/test_conda_pynvjitlink.sh
  ci/test_simulator.sh
Owners: @rapidsai/ci-codeowners

Revert "Workaround conda-forge/numba-feedstock#158 (#282)" (#285)
  ci/build_docs.sh
  ci/test_conda.sh
  ci/test_conda_pynvjitlink.sh
  ci/test_simulator.sh
Owners: @rapidsai/ci-codeowners

Bump version to 0.14.0
  numba_cuda/VERSION
Owners: @rapidsai/numba-cuda-write

Bump version to 0.14.0 (#286)
  numba_cuda/VERSION
Owners: @rapidsai/numba-cuda-write

fix logic
  numba_cuda/numba/cuda/cudadrv/driver.py
Owners: @rapidsai/numba-cuda-write

update
  numba_cuda/numba/cuda/cudadrv/driver.py
Owners: @rapidsai/numba-cuda-write

update deps
  conda/recipes/numba-cuda/meta.yaml
  pyproject.toml
Owners: @rapidsai/packaging-codeowners

updates
  numba_cuda/numba/cuda/__init__.py
  numba_cuda/numba/cuda/cudadrv/driver.py
  numba_cuda/numba/cuda/cudadrv/mappings.py
  numba_cuda/numba/cuda/tests/cudadrv/test_module_callbacks.py
  pyproject.toml
Owners: @rapidsai/numba-cuda-write, @rapidsai/packaging-codeowners

Fix lineinfo generation when compile_internal used (#271)
  numba_cuda/numba/cuda/compiler.py
  numba_cuda/numba/cuda/flags.py
  numba_cuda/numba/cuda/target.py
  numba_cuda/numba/cuda/tests/cudapy/test_lineinfo.py
Owners: @rapidsai/numba-cuda-write

Implement a thread-local means to access kernel launch config.
  numba_cuda/numba/cuda/dispatcher.py
  numba_cuda/numba/cuda/launchconfig.py
Owners: @rapidsai/numba-cuda-write

Update numba_cuda/numba/cuda/cudadrv/driver.py
  numba_cuda/numba/cuda/cudadrv/driver.py
Owners: @rapidsai/numba-cuda-write

Add args and dispatcher to LaunchConfig.
  numba_cuda/numba/cuda/dispatcher.py
  numba_cuda/numba/cuda/launchconfig.py
Owners: @rapidsai/numba-cuda-write

NFC: Don't rely on `Dispatcher._compiler` API
  numba_cuda/numba/cuda/dispatcher.py
Owners: @rapidsai/numba-cuda-write

use minimal bindings dep
  pyproject.toml
Owners: @rapidsai/packaging-codeowners

Enable NV bindings by default and add them as a dependency (#284)
  conda/recipes/numba-cuda/meta.yaml
  docs/source/reference/envvars.rst
  numba_cuda/numba/cuda/__init__.py
  numba_cuda/numba/cuda/cudadrv/driver.py
  numba_cuda/numba/cuda/cudadrv/mappings.py
  numba_cuda/numba/cuda/tests/cudadrv/test_linker.py
  numba_cuda/numba/cuda/tests/cudadrv/test_module_callbacks.py
  numba_cuda/numba/cuda/tests/cudadrv/test_nvjitlink.py
  pyproject.toml
Owners: @rapidsai/packaging-codeowners, @rapidsai/numba-cuda-write

Avoid type conversions that lose information
  numba_cuda/numba/cuda/_internal/cuda_fp16.py
  numba_cuda/numba/cuda/tests/cudapy/test_sm.py
Owners: @rapidsai/numba-cuda-write

Avoid operators that lose information 2
  numba_cuda/numba/cuda/_internal/cuda_fp16.py
Owners: @rapidsai/numba-cuda-write

Bump version to 0.15.0
  numba_cuda/VERSION
Owners: @rapidsai/numba-cuda-write

Port change and test from numba/numba#9595 to Numba-CUDA
  numba_cuda/numba/cuda/dispatcher.py
  numba_cuda/numba/cuda/tests/cudapy/test_array_args.py
Owners: @rapidsai/numba-cuda-write

Bump version to 0.15.0 (#291)
  numba_cuda/VERSION
Owners: @rapidsai/numba-cuda-write

[DOCS] Rewrite front page and tidy up overview
  docs/source/index.rst
  docs/source/user/examples.rst
  docs/source/user/kernels.rst
  docs/source/user/overview.rst
Owners: none

Make the Overview section focus on Installation
  docs/source/user/index.rst
  docs/source/user/installation.rst
  docs/source/user/kernels.rst
Owners: none

error
  numba_cuda/numba/cuda/__init__.py
Owners: @rapidsai/numba-cuda-write

update
  numba_cuda/numba/cuda/__init__.py
Owners: @rapidsai/numba-cuda-write

specify pip
  numba_cuda/numba/cuda/__init__.py
Owners: @rapidsai/numba-cuda-write

Raise better error when `cuda.bindings` are not available (#294)
  numba_cuda/numba/cuda/__init__.py
Owners: @rapidsai/numba-cuda-write

Clarify search differences between ctypes and NVIDIA bindings
  docs/source/user/installation.rst
Owners: none

Remove redundant cuda-nvcc and cuda-nvrtc installation from steps
  docs/source/user/installation.rst
Owners: none

Correct capitalization of NVIDIA
  docs/source/user/kernels.rst
Owners: none

Remove steps to install NVIDIA bindings
  docs/source/user/installation.rst
Owners: none

add explicit nvjitlink dep
  conda/recipes/numba-cuda/meta.yaml
  pyproject.toml
Owners: @rapidsai/packaging-codeowners

fix f string
  numba_cuda/numba/cuda/cudadrv/driver.py
Owners: @rapidsai/numba-cuda-write

Fix `DeviceNDArray.device_ctypes_pointer` to always be ctypes
  numba_cuda/numba/cuda/cudadrv/devicearray.py
  numba_cuda/numba/cuda/cudadrv/driver.py
  numba_cuda/numba/cuda/dispatcher.py
  numba_cuda/numba/cuda/memory_management/nrt.py
  numba_cuda/numba/cuda/tests/cudadrv/test_cuda_driver.py
  numba_cuda/numba/cuda/tests/cudadrv/test_cuda_memory.py
  numba_cuda/numba/cuda/tests/cudapy/test_cuda_array_interface.py
Owners: @rapidsai/numba-cuda-write

Make `Context.handle` always be a `drvapi.cu_context` instance
  numba_cuda/numba/cuda/cudadrv/devices.py
  numba_cuda/numba/cuda/cudadrv/driver.py
  numba_cuda/numba/cuda/tests/cudadrv/test_context_stack.py
Owners: @rapidsai/numba-cuda-write

Attempt to make streams and events consistent
  numba_cuda/numba/cuda/cudadrv/driver.py
  numba_cuda/numba/cuda/dispatcher.py
  numba_cuda/numba/cuda/tests/cudadrv/test_cuda_driver.py
  numba_cuda/numba/cuda/tests/cudapy/test_cuda_array_interface.py
Owners: @rapidsai/numba-cuda-write

.github/CODEOWNERS:

#python code owners
numba_cuda/            @rapidsai/numba-cuda-write

#cmake code owners
**/CMakeLists.txt  @rapidsai/numba-cuda-write
**/cmake/          @rapidsai/numba-cuda-write

#CI code owners
/.github/                @rapidsai/ci-codeowners
/ci/                     @rapidsai/ci-codeowners
/.pre-commit-config.yaml @rapidsai/ci-codeowners

#packaging code owners
/.devcontainer/    @rapidsai/packaging-codeowners
/conda/            @rapidsai/packaging-codeowners
/dependencies.yaml @rapidsai/packaging-codeowners
/build.sh          @rapidsai/packaging-codeowners
pyproject.toml     @rapidsai/packaging-codeowners
