Repository NVIDIA/numba-cuda, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rapidsai/numba-cuda-write, @rapidsai/ci-codeowners, @rapidsai/packaging-codeowners

more tests
  numba_cuda/numba/cuda/dispatcher.py
  numba_cuda/numba/cuda/tests/cudapy/test_extending.py
Owners: @rapidsai/numba-cuda-write

chore: format types docs
  docs/source/reference/types.rst
Owners: none

feat: add initial docs
  docs/source/reference/cache_hints.rst
  docs/source/reference/index.rst
Owners: none

Add sphinx-lint to pre-commit and fix errors
  .pre-commit-config.yaml
  docs/source/user/cuda_compilation.rst
  docs/source/user/random.rst
Owners: @rapidsai/ci-codeowners

chore(docs): format types docs (#596)
  docs/source/reference/types.rst
Owners: none

Minor fixups in llvmlite version check
  numba_cuda/numba/cuda/debuginfo.py
Owners: @rapidsai/numba-cuda-write

chore: clean up dead workaround for unavailable `lru_cache`
  numba_cuda/numba/cuda/cudadrv/devicearray.py
Owners: @rapidsai/numba-cuda-write

chore: clean up dead workaround for unavailable `lru_cache` (#598)
  numba_cuda/numba/cuda/cudadrv/devicearray.py
Owners: @rapidsai/numba-cuda-write

initial port of upstream PR
  numba_cuda/numba/cuda/cext/_devicearray.cpp
  numba_cuda/numba/cuda/cext/_dispatcher.cpp
  numba_cuda/numba/cuda/cext/_hashtable.cpp
  numba_cuda/numba/cuda/cext/_pymodule.h
  numba_cuda/numba/cuda/cext/_typeof.cpp
  numba_cuda/numba/cuda/cext/mviewbuf.c
  numba_cuda/numba/cuda/core/bytecode.py
  numba_cuda/numba/cuda/core/byteflow.py
  numba_cuda/numba/cuda/core/controlflow.py
  numba_cuda/numba/cuda/core/interpreter.py
  numba_cuda/numba/cuda/cpython/unicode.py
  numba_cuda/numba/cuda/tests/cudapy/test_analysis.py
  numba_cuda/numba/cuda/tests/cudapy/test_debug.py
  numba_cuda/numba/cuda/tests/cudapy/test_extending.py
  numba_cuda/numba/cuda/tests/support.py
  numba_cuda/numba/cuda/typing/asnumbatype.py
Owners: @rapidsai/numba-cuda-write

Add DWARF variant part support for polymorphic variables in CUDA debug info (#544)
  numba_cuda/numba/cuda/debuginfo.py
  numba_cuda/numba/cuda/lowering.py
  numba_cuda/numba/cuda/tests/cudapy/test_debuginfo.py
Owners: @rapidsai/numba-cuda-write

small fixes
  numba_cuda/numba/cuda/core/byteflow.py
Owners: @rapidsai/numba-cuda-write

break up tests
  numba_cuda/numba/cuda/tests/cudapy/test_extending.py
Owners: @rapidsai/numba-cuda-write

raise on collision instead
  numba_cuda/numba/cuda/dispatcher.py
  numba_cuda/numba/cuda/tests/cudapy/test_extending.py
Owners: @rapidsai/numba-cuda-write

Add sphinx-lint to pre-commit and fix errors (#597)
  .pre-commit-config.yaml
  docs/source/user/cuda_compilation.rst
  docs/source/user/random.rst
Owners: @rapidsai/ci-codeowners

bench: add dispatching variants
  numba_cuda/numba/cuda/tests/benchmarks/test_kernel_launch.py
  testing/pytest.ini
Owners: @rapidsai/numba-cuda-write

refactor: remove devicearray to reduce complexity
  numba_cuda/numba/cuda/cext/_devicearray.cpp
  numba_cuda/numba/cuda/cext/_devicearray.h
  numba_cuda/numba/cuda/cext/_dispatcher.cpp
  numba_cuda/numba/cuda/cext/_typeof.cpp
  numba_cuda/numba/cuda/cudadrv/devicearray.py
  setup.py
Owners: @rapidsai/numba-cuda-write

reordering
  numba_cuda/numba/cuda/dispatcher.py
Owners: @rapidsai/numba-cuda-write

add 3.14 to CI matrix
  .github/workflows/wheel-windows-build.yaml
  .github/workflows/wheel-windows-tests.yaml
  ci/matrix.yml
  pixi.toml
Owners: @rapidsai/ci-codeowners

Add in a dedicated workflow for merged commits
  .github/workflows/ci.yaml
Owners: @rapidsai/ci-codeowners

Temporarily trigger
  .github/workflows/ci.yaml
Owners: @rapidsai/ci-codeowners

fix: docs
  docs/source/reference/cache_hints.rst
Owners: none

Refactor: switch to a different approach to bypass the typing infrastructure; update test to verify mixed array (shared vs local)
  numba_cuda/numba/cuda/cudadecl.py
  numba_cuda/numba/cuda/debuginfo.py
  numba_cuda/numba/cuda/lowering.py
  numba_cuda/numba/cuda/tests/cudapy/test_debuginfo.py
Owners: @rapidsai/numba-cuda-write

fix: better and cleaner test
  numba_cuda/numba/cuda/tests/cudapy/test_cache_hints.py
Owners: @rapidsai/numba-cuda-write

chore: pre-commit
  numba_cuda/numba/cuda/tests/cudapy/test_cache_hints.py
Owners: @rapidsai/numba-cuda-write

convert IntEnum to int for dwarfAddressSpace
  numba_cuda/numba/cuda/debuginfo.py
Owners: @rapidsai/numba-cuda-write

feat: add 2d array test
  numba_cuda/numba/cuda/cache_hints.py
  numba_cuda/numba/cuda/tests/cudapy/test_cache_hints.py
Owners: @rapidsai/numba-cuda-write

fix: docs and remove complex types
  docs/source/reference/cache_hints.rst
  numba_cuda/numba/cuda/tests/cudapy/test_cache_hints.py
Owners: @rapidsai/numba-cuda-write

fix: ci simulator failure
  numba_cuda/numba/cuda/simulator/api.py
  numba_cuda/numba/cuda/tests/cudapy/test_cache_hints.py
Owners: @rapidsai/numba-cuda-write

Add in a dedicated workflow for merged commits
  .github/workflows/ci.yaml
Owners: @rapidsai/ci-codeowners

Add more thirdparty tests (#586)
  .github/workflows/ci.yaml
  ci/test_thirdparty_awkward.sh
  ci/test_thirdparty_cudf.sh
  ci/test_thirdparty_nvmath.sh
  numba_cuda/numba/cuda/cudaimpl.py
  numba_cuda/numba/cuda/types/__init__.py
  numba_cuda/numba/cuda/typing/templates.py
Owners: @rapidsai/ci-codeowners, @rapidsai/numba-cuda-write

Add support for cache-hinted load and store operations (#587)
  docs/source/reference/cache_hints.rst
  docs/source/reference/index.rst
  numba_cuda/numba/cuda/api_util.py
  numba_cuda/numba/cuda/cache_hints.py
  numba_cuda/numba/cuda/cudaimpl.py
  numba_cuda/numba/cuda/device_init.py
  numba_cuda/numba/cuda/simulator/api.py
  numba_cuda/numba/cuda/tests/cudapy/test_cache_hints.py
Owners: @rapidsai/numba-cuda-write

partially switch designs
  numba_cuda/numba/cuda/api.py
  numba_cuda/numba/cuda/cudadrv/devicearray.py
  numba_cuda/numba/cuda/cudadrv/driver.py
  numba_cuda/numba/cuda/deviceufunc.py
  numba_cuda/numba/cuda/kernels/reduction.py
  numba_cuda/numba/cuda/kernels/transpose.py
  numba_cuda/numba/cuda/tests/cudadrv/test_emm_plugins.py
  numba_cuda/numba/cuda/tests/cudapy/test_ipc.py
Owners: @rapidsai/numba-cuda-write

Apply suggestions from code review
  numba_cuda/numba/cuda/codegen.py
  numba_cuda/numba/cuda/compiler.py
Owners: @rapidsai/numba-cuda-write

Bump version to 0.21.0
  numba_cuda/VERSION
Owners: @rapidsai/numba-cuda-write

Bump version to 0.21.0 (#602)
  numba_cuda/VERSION
Owners: @rapidsai/numba-cuda-write

copy/paste minimal CI infra from cuda-python
  .github/actions/fetch_ctk/action.yml
  .github/actions/get_pr_number/action.yml
  .github/actions/install_unix_deps/action.yml
  .github/workflows/build-wheel.yml
  .github/workflows/ci-new.yaml
  .github/workflows/test-wheel-linux.yml
  .github/workflows/test-wheel-windows.yml
  ci/test-matrix.json
  ci/tools/download-wheels
  ci/tools/env-vars
  ci/tools/install_gpu_driver.ps1
  ci/tools/lookup-run-id
  ci/tools/run-tests
  ci/versions.json
Owners: @rapidsai/ci-codeowners

nit: fix typo
  numba_cuda/numba/cuda/__init__.py
Owners: @rapidsai/numba-cuda-write

skip py314 and py314t for now
  .github/workflows/build-wheel.yml
  ci/test-matrix.json
Owners: @rapidsai/ci-codeowners

enable cibuildwheel support
  pyproject.toml
Owners: @rapidsai/packaging-codeowners

tailor for numba-cuda
  .github/workflows/build-wheel.yml
  .github/workflows/ci-new.yaml
  .github/workflows/test-wheel-linux.yml
  .github/workflows/test-wheel-windows.yml
  ci/tools/download-wheels
  ci/tools/env-vars
  ci/tools/run-tests
Owners: @rapidsai/ci-codeowners

.github/CODEOWNERS:

#python code owners
numba_cuda/            @rapidsai/numba-cuda-write

#cmake code owners
**/CMakeLists.txt  @rapidsai/numba-cuda-write
**/cmake/          @rapidsai/numba-cuda-write

#CI code owners
/.github/                @rapidsai/ci-codeowners
/ci/                     @rapidsai/ci-codeowners
/.pre-commit-config.yaml @rapidsai/ci-codeowners

#packaging code owners
/.devcontainer/    @rapidsai/packaging-codeowners
/conda/            @rapidsai/packaging-codeowners
/dependencies.yaml @rapidsai/packaging-codeowners
/build.sh          @rapidsai/packaging-codeowners
pyproject.toml     @rapidsai/packaging-codeowners
