Repository NVIDIA/numba-cuda, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rapidsai/numba-cuda-write, @rapidsai/ci-codeowners, @rapidsai/packaging-codeowners

Add in now-required NullCache
  numba_cuda/numba/cuda/core/caching.py
Owners: @rapidsai/numba-cuda-write

[REVIEW][NFC] Vendor in the Cache, CacheImpl used by CUDACache and CUDACacheImpl to allow for future CUDA-specific refactoring and changes (#334)
  numba_cuda/numba/cuda/core/caching.py
  numba_cuda/numba/cuda/dispatcher.py
Owners: @rapidsai/numba-cuda-write

Add more debuginfo tests (#358)
  numba_cuda/numba/cuda/tests/cudapy/test_debuginfo.py
Owners: @rapidsai/numba-cuda-write

Support running tests in parallel (#350)
  README.md
  ci/test_conda.sh
  ci/test_conda_ctypes_binding.sh
  ci/test_simulator.sh
  numba_cuda/numba/cuda/testing.py
  numba_cuda/numba/cuda/tests/cudadrv/test_runtime.py
  numba_cuda/numba/cuda/tests/cudapy/test_caching.py
  numba_cuda/numba/cuda/tests/cudapy/test_ufuncs.py
  numba_cuda/numba/cuda/tests/nocuda/test_library_lookup.py
  pyproject.toml
Owners: @rapidsai/ci-codeowners, @rapidsai/numba-cuda-write, @rapidsai/packaging-codeowners

Fix remaining core.compiler imports to use newly upstreamed ones
  numba_cuda/numba/cuda/compiler.py
  numba_cuda/numba/cuda/core/untyped_passes.py
  numba_cuda/numba/cuda/dispatcher.py
  numba_cuda/numba/cuda/target.py
Owners: @rapidsai/numba-cuda-write

Add thirdparty tests of numba extensions (#348)
  .github/workflows/pr.yaml
  ci/test_thirdparty.sh
Owners: @rapidsai/ci-codeowners

[NFC] FileCheck tests check all overloads
  numba_cuda/numba/cuda/testing.py
Owners: @rapidsai/numba-cuda-write

Use command line option for dumping failing IR
  conftest.py
  numba_cuda/numba/cuda/testing.py
Owners: @rapidsai/numba-cuda-write

Dump IR to timestamp directory
  numba_cuda/numba/cuda/testing.py
Owners: @rapidsai/numba-cuda-write

Remove unnecessary comment
  numba_cuda/numba/cuda/testing.py
Owners: @rapidsai/numba-cuda-write

Integrate main branch
  numba_cuda/numba/cuda/testing.py
Owners: @rapidsai/numba-cuda-write

[NFC] Vendor in usecases used in testing
  numba_cuda/numba/cuda/tests/complex_usecases.py
  numba_cuda/numba/cuda/tests/cudapy/test_complex.py
  numba_cuda/numba/cuda/tests/cudapy/test_enums.py
  numba_cuda/numba/cuda/tests/enum_usecases.py
Owners: @rapidsai/numba-cuda-write

[Refactor] Vendor in Typing Templates
  numba_cuda/numba/cuda/_internal/cuda_bf16.py
  numba_cuda/numba/cuda/_internal/cuda_fp16.py
  numba_cuda/numba/cuda/compiler.py
  numba_cuda/numba/cuda/cudadecl.py
  numba_cuda/numba/cuda/cudamath.py
  numba_cuda/numba/cuda/dispatcher.py
  numba_cuda/numba/cuda/extending.py
  numba_cuda/numba/cuda/libdevicedecl.py
  numba_cuda/numba/cuda/libdevicefuncs.py
  numba_cuda/numba/cuda/tests/cudapy/test_extending.py
  numba_cuda/numba/cuda/tests/cudapy/test_operator.py
  numba_cuda/numba/cuda/tests/nrt/test_nrt.py
  numba_cuda/numba/cuda/typing/__init__.py
  numba_cuda/numba/cuda/typing/templates.py
  numba_cuda/numba/cuda/vector_types.py
Owners: @rapidsai/numba-cuda-write

[Refactor][NFC] Vendor in sigutils for CUDA-specific changes
  numba_cuda/numba/cuda/compiler.py
  numba_cuda/numba/cuda/core/sigutils.py
  numba_cuda/numba/cuda/decorators.py
  numba_cuda/numba/cuda/deviceufunc.py
  numba_cuda/numba/cuda/dispatcher.py
  numba_cuda/numba/cuda/simulator/api.py
Owners: @rapidsai/numba-cuda-write

Vendor in usecases used in testing (#359)
  numba_cuda/numba/cuda/tests/complex_usecases.py
  numba_cuda/numba/cuda/tests/cudapy/test_complex.py
  numba_cuda/numba/cuda/tests/cudapy/test_enums.py
  numba_cuda/numba/cuda/tests/enum_usecases.py
Owners: @rapidsai/numba-cuda-write

[Refactor][NFC] Vendor in TestCase and other testing helpers for CUDA-specific modifications.
  numba_cuda/numba/cuda/testing.py
  numba_cuda/numba/cuda/tests/cudadrv/test_cuda_ndarray.py
  numba_cuda/numba/cuda/tests/cudadrv/test_deallocations.py
  numba_cuda/numba/cuda/tests/cudadrv/test_detect.py
  numba_cuda/numba/cuda/tests/cudadrv/test_emm_plugins.py
  numba_cuda/numba/cuda/tests/cudadrv/test_linker.py
  numba_cuda/numba/cuda/tests/cudadrv/test_managed_alloc.py
  numba_cuda/numba/cuda/tests/cudadrv/test_mvc.py
  numba_cuda/numba/cuda/tests/cudadrv/test_ptds.py
  numba_cuda/numba/cuda/tests/cudapy/test_caching.py
  numba_cuda/numba/cuda/tests/cudapy/test_cffi.py
  numba_cuda/numba/cuda/tests/cudapy/test_cuda_array_interface.py
  numba_cuda/numba/cuda/tests/cudapy/test_cuda_jit_no_types.py
  numba_cuda/numba/cuda/tests/cudapy/test_debug.py
  numba_cuda/numba/cuda/tests/cudapy/test_debuginfo.py
  numba_cuda/numba/cuda/tests/cudapy/test_device_func.py
  numba_cuda/numba/cuda/tests/cudapy/test_gufunc.py
  numba_cuda/numba/cuda/tests/cudapy/test_ipc.py
  numba_cuda/numba/cuda/tests/cudapy/test_lineinfo.py
  numba_cuda/numba/cuda/tests/cudapy/test_ufuncs.py
  numba_cuda/numba/cuda/tests/cudapy/test_warning.py
  numba_cuda/numba/cuda/tests/doc_examples/test_cpointer.py
  numba_cuda/numba/cuda/tests/doc_examples/test_cpu_gpu_compat.py
  numba_cuda/numba/cuda/tests/doc_examples/test_ffi.py
  numba_cuda/numba/cuda/tests/doc_examples/test_laplace.py
  numba_cuda/numba/cuda/tests/doc_examples/test_matmul.py
  numba_cuda/numba/cuda/tests/doc_examples/test_montecarlo.py
  numba_cuda/numba/cuda/tests/doc_examples/test_reduction.py
  numba_cuda/numba/cuda/tests/doc_examples/test_sessionize.py
  numba_cuda/numba/cuda/tests/doc_examples/test_ufunc.py
  numba_cuda/numba/cuda/tests/doc_examples/test_vecadd.py
  numba_cuda/numba/cuda/tests/nocuda/test_import.py
  numba_cuda/numba/cuda/tests/nrt/test_nrt.py
  numba_cuda/numba/cuda/tests/nrt/test_nrt_refct.py
  numba_cuda/numba/cuda/tests/support.py
Owners: @rapidsai/numba-cuda-write

Merge main and use self referential groups
  CONTRIBUTING.md
  pyproject.toml
Owners: @rapidsai/packaging-codeowners

[REVIEW][NFC] Vendor in serialize to allow for future CUDA-specific refactoring and changes (#349)
  numba_cuda/numba/cuda/codegen.py
  numba_cuda/numba/cuda/cudadrv/driver.py
  numba_cuda/numba/cuda/dispatcher.py
  numba_cuda/numba/cuda/serialize.py
  numba_cuda/numba/cuda/tests/core/serialize_usecases.py
  numba_cuda/numba/cuda/tests/core/test_serialize.py
Owners: @rapidsai/numba-cuda-write

[NFC] FileCheck tests check all overloads (#354)
  conftest.py
  numba_cuda/numba/cuda/testing.py
Owners: @rapidsai/numba-cuda-write

Bump version to 0.18.0
  numba_cuda/VERSION
Owners: @rapidsai/numba-cuda-write

Add xfail test of returning a const array
  numba_cuda/numba/cuda/tests/cudapy/test_array_return.py
Owners: @rapidsai/numba-cuda-write

Move tested functions into test methods
  numba_cuda/numba/cuda/tests/cudapy/test_array_return.py
Owners: @rapidsai/numba-cuda-write

Bump version to 0.18.0 (#365)
  numba_cuda/VERSION
Owners: @rapidsai/numba-cuda-write

Add tests with conditionals
  numba_cuda/numba/cuda/tests/cudapy/test_array_return.py
Owners: @rapidsai/numba-cuda-write

Remove remaining references/dependencies on `pynvjitlink` (#357)
  ci/test_wheel_deps_wheels.sh
  docs/source/reference/envvars.rst
  docs/source/user/minor_version_compatibility.rst
  numba_cuda/numba/cuda/__init__.py
  numba_cuda/numba/cuda/cudadrv/driver.py
  numba_cuda/numba/cuda/decorators.py
  numba_cuda/numba/cuda/simulator/cudadrv/driver.py
  numba_cuda/numba/cuda/tests/cudapy/test_errors.py
  numba_cuda/numba/cuda/tests/test_binary_generation/Makefile
  pyproject.toml
Owners: @rapidsai/ci-codeowners, @rapidsai/numba-cuda-write, @rapidsai/packaging-codeowners

Vendor in Itanium Mangler
  numba_cuda/numba/cuda/itanium_mangler.py
  numba_cuda/numba/cuda/target.py
  numba_cuda/numba/cuda/tests/core/test_itanium_mangler.py
Owners: @rapidsai/numba-cuda-write

[Refactor][NFC] Vendor in sigutils for CUDA-specific changes (#361)
  numba_cuda/numba/cuda/compiler.py
  numba_cuda/numba/cuda/core/sigutils.py
  numba_cuda/numba/cuda/decorators.py
  numba_cuda/numba/cuda/deviceufunc.py
  numba_cuda/numba/cuda/dispatcher.py
  numba_cuda/numba/cuda/simulator/api.py
Owners: @rapidsai/numba-cuda-write

Split out debuginfo tests for types
  numba_cuda/numba/cuda/testing.py
  numba_cuda/numba/cuda/tests/cudapy/test_debuginfo.py
  numba_cuda/numba/cuda/tests/cudapy/test_debuginfo_types.py
Owners: @rapidsai/numba-cuda-write

Skip debuginfo tests on simulator
  numba_cuda/numba/cuda/tests/cudapy/test_debuginfo_types.py
Owners: @rapidsai/numba-cuda-write

Add support for phi and var assignment
  numba_cuda/numba/cuda/compiler.py
  numba_cuda/numba/cuda/tests/cudapy/test_array_return.py
Owners: @rapidsai/numba-cuda-write

[Refactor][NFC] Vendor in Itanium Mangler for future CUDA-specific changes (#362)
  numba_cuda/numba/cuda/itanium_mangler.py
  numba_cuda/numba/cuda/target.py
  numba_cuda/numba/cuda/tests/core/test_itanium_mangler.py
Owners: @rapidsai/numba-cuda-write

Add code coverage CI job
  .github/workflows/pr.yaml
  ci/coverage_report.sh
Owners: @rapidsai/ci-codeowners

Add view support
  numba_cuda/numba/cuda/compiler.py
  numba_cuda/numba/cuda/tests/cudapy/test_array_return.py
Owners: @rapidsai/numba-cuda-write

Fix view test
  numba_cuda/numba/cuda/tests/cudapy/test_array_return.py
Owners: @rapidsai/numba-cuda-write

Add xfail cuda.local array
  numba_cuda/numba/cuda/tests/cudapy/test_array_return.py
Owners: @rapidsai/numba-cuda-write

Update retstmts to use set to avoid duplications and exponential size growth
  numba_cuda/numba/cuda/compiler.py
Owners: @rapidsai/numba-cuda-write

Select the first cuda+python version
  .github/workflows/pr.yaml
Owners: @rapidsai/ci-codeowners

update
  .github/workflows/pr.yaml
  ci/coverage_report.sh
Owners: @rapidsai/ci-codeowners

run through python
  ci/coverage_report.sh
Owners: @rapidsai/ci-codeowners

Add table to github actions step summary
  ci/coverage_report.sh
Owners: @rapidsai/ci-codeowners

.github/CODEOWNERS:

#python code owners
numba_cuda/            @rapidsai/numba-cuda-write

#cmake code owners
**/CMakeLists.txt  @rapidsai/numba-cuda-write
**/cmake/          @rapidsai/numba-cuda-write

#CI code owners
/.github/                @rapidsai/ci-codeowners
/ci/                     @rapidsai/ci-codeowners
/.pre-commit-config.yaml @rapidsai/ci-codeowners

#packaging code owners
/.devcontainer/    @rapidsai/packaging-codeowners
/conda/            @rapidsai/packaging-codeowners
/dependencies.yaml @rapidsai/packaging-codeowners
/build.sh          @rapidsai/packaging-codeowners
pyproject.toml     @rapidsai/packaging-codeowners
