Repository NVIDIA/numba-cuda, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rapidsai/numba-cuda-write, @rapidsai/ci-codeowners, @rapidsai/packaging-codeowners

.github/CODEOWNERS:

#python code owners
numba_cuda/            @rapidsai/numba-cuda-write

#cmake code owners
**/CMakeLists.txt  @rapidsai/numba-cuda-write
**/cmake/          @rapidsai/numba-cuda-write

#CI code owners
/.github/                @rapidsai/ci-codeowners
/ci/                     @rapidsai/ci-codeowners
/.pre-commit-config.yaml @rapidsai/ci-codeowners

#packaging code owners
/.devcontainer/    @rapidsai/packaging-codeowners
/conda/            @rapidsai/packaging-codeowners
/dependencies.yaml @rapidsai/packaging-codeowners
/build.sh          @rapidsai/packaging-codeowners
pyproject.toml     @rapidsai/packaging-codeowners

Remove erroneous alignment= kwarg to types.Array().
  numba_cuda/numba/cuda/cudaimpl.py
Owners: @rapidsai/numba-cuda-write

Add missing `cuda_local_array_tuple` implementation.
  numba_cuda/numba/cuda/cudaimpl.py
Owners: @rapidsai/numba-cuda-write

PR Feedback: Improve _try_extract_and_validate_alignment() docstring.
  numba_cuda/numba/cuda/cudaimpl.py
Owners: @rapidsai/numba-cuda-write

Cosmetic: fix docstring typo.
  numba_cuda/numba/cuda/cudaimpl.py
Owners: @rapidsai/numba-cuda-write

PR Feedback: Improve alignment handling in Cuda_array_decl.
  numba_cuda/numba/cuda/cudadecl.py
Owners: @rapidsai/numba-cuda-write

PR Feedback: Clarify pointer size.
  numba_cuda/numba/cuda/stubs.py
Owners: @rapidsai/numba-cuda-write

Add some record dtypes to the alignment tests.
  numba_cuda/numba/cuda/tests/cudapy/test_array_alignment.py
Owners: @rapidsai/numba-cuda-write

PR Feedback: Improve alignment tests.
  numba_cuda/numba/cuda/tests/cudapy/test_array_alignment.py
Owners: @rapidsai/numba-cuda-write

PR Feedback: Improve alignment handling in cudaimpl.
  numba_cuda/numba/cuda/cudaimpl.py
Owners: @rapidsai/numba-cuda-write

COSMETIC: Relocate `test_invalid_alignments()`.
  numba_cuda/numba/cuda/tests/cudapy/test_array_alignment.py
Owners: @rapidsai/numba-cuda-write

PR Feedback: Remove ptx_lmem_alloc_array.
  numba_cuda/numba/cuda/cudaimpl.py
Owners: @rapidsai/numba-cuda-write

PR Feedback: Add tests for invalid alignment types.
  numba_cuda/numba/cuda/tests/cudapy/test_array_alignment.py
Owners: @rapidsai/numba-cuda-write

PR Feedback: Improve comment.
  numba_cuda/numba/cuda/cudaimpl.py
Owners: @rapidsai/numba-cuda-write

Fix test failures on CI.
  numba_cuda/numba/cuda/tests/cudapy/test_array_alignment.py
Owners: @rapidsai/numba-cuda-write

Update workflows to always use proxy cache. (#191)
  .github/workflows/conda-python-tests.yaml
  .github/workflows/docs-build.yaml
Owners: @rapidsai/ci-codeowners

convert to LinkableCode
  numba_cuda/numba/cuda/dispatcher.py
Owners: @rapidsai/numba-cuda-write

Revert "convert to LinkableCode"
  numba_cuda/numba/cuda/dispatcher.py
Owners: @rapidsai/numba-cuda-write

only enable the first failed test
  ci/test_conda.sh
Owners: @rapidsai/ci-codeowners

limit the size of memory allocated
  numba_cuda/numba/cuda/tests/cudadrv/test_managed_alloc.py
Owners: @rapidsai/numba-cuda-write

print rtc options
  numba_cuda/numba/cuda/cudadrv/nvrtc.py
Owners: @rapidsai/numba-cuda-write

Testing the entire module which showed the first error in the failed CI
  ci/test_conda.sh
Owners: @rapidsai/ci-codeowners

Include the entire test_caching module
  ci/test_conda.sh
Owners: @rapidsai/ci-codeowners

apply nvrtc version patch
  numba_cuda/numba/cuda/cudadrv/nvrtc.py
Owners: @rapidsai/numba-cuda-write

enable all of cudapy tests
  ci/test_conda.sh
Owners: @rapidsai/ci-codeowners

enable all tests
  ci/test_conda.sh
Owners: @rapidsai/ci-codeowners

Switch CUDA 11.4.3 to 11.8.0.
  .github/actions/compute-matrix/action.yaml
  .github/workflows/conda-python-tests.yaml
  .github/workflows/wheels-test.yaml
Owners: @rapidsai/ci-codeowners

Additional cleanup
  .github/actions/compute-matrix/action.yaml
  .github/workflows/conda-python-tests.yaml
  numba_cuda/numba/cuda/cudadrv/nvrtc.py
Owners: @rapidsai/ci-codeowners, @rapidsai/numba-cuda-write

Apply suggestions from code review
  numba_cuda/numba/cuda/cudadrv/nvrtc.py
Owners: @rapidsai/numba-cuda-write

add min max tests for ccs
  numba_cuda/numba/cuda/cudadrv/info.py
  numba_cuda/numba/cuda/cudadrv/nvrtc.py
  numba_cuda/numba/cuda/cudadrv/nvvm.py
Owners: @rapidsai/numba-cuda-write

also add warning for case exceeding supported CC
  numba_cuda/numba/cuda/cudadrv/nvrtc.py
Owners: @rapidsai/numba-cuda-write

Use less GPU memory in test_managed_alloc_driver_undersubscribe. (#188)
  .github/workflows/conda-python-tests.yaml
  numba_cuda/numba/cuda/tests/cudadrv/test_managed_alloc.py
Owners: @rapidsai/ci-codeowners, @rapidsai/numba-cuda-write

batch address review comments
  numba_cuda/numba/cuda/cudadrv/_info.py
  numba_cuda/numba/cuda/cudadrv/nvrtc.py
  numba_cuda/numba/cuda/cudadrv/nvvm.py
Owners: @rapidsai/numba-cuda-write

pretty print version and cc versions
  numba_cuda/numba/cuda/cudadrv/nvrtc.py
Owners: @rapidsai/numba-cuda-write

Replace flake8 with ruff and pre-commit-hooks
  .flake8
  .pre-commit-config.yaml
  pyproject.toml
Owners: @rapidsai/ci-codeowners, @rapidsai/packaging-codeowners

Add .git-blame-ignore-revs
  .git-blame-ignore-revs
Owners: none

Rename `numba.cuda.runtime` to `memory_management`
  numba_cuda/numba/cuda/cudadrv/nvrtc.py
  numba_cuda/numba/cuda/dispatcher.py
  numba_cuda/numba/cuda/memory_management/__init__.py
  numba_cuda/numba/cuda/memory_management/memsys.cu
  numba_cuda/numba/cuda/memory_management/memsys.cuh
  numba_cuda/numba/cuda/memory_management/nrt.cu
  numba_cuda/numba/cuda/memory_management/nrt.py
  numba_cuda/numba/cuda/runtime/__init__.py
  numba_cuda/numba/cuda/tests/nrt/test_nrt.py
  numba_cuda/numba/cuda/tests/nrt/test_nrt_refct.py
  numba_cuda/numba/cuda/tests/support.py
Owners: @rapidsai/numba-cuda-write

Remove some invalid array reshape tests
  numba_cuda/numba/cuda/tests/cudapy/test_array.py
Owners: @rapidsai/numba-cuda-write

CUDASIM: Support detection of device function calls
  numba_cuda/numba/cuda/simulator/kernel.py
Owners: @rapidsai/numba-cuda-write

CUDASIM: Update to include recently-added APIs
  numba_cuda/numba/cuda/simulator/__init__.py
  numba_cuda/numba/cuda/simulator/api.py
  numba_cuda/numba/cuda/simulator/cudadrv/driver.py
  numba_cuda/numba/cuda/simulator/cudadrv/libs.py
  numba_cuda/numba/cuda/simulator/cudadrv/linkable_code.py
  numba_cuda/numba/cuda/simulator/memory_management/__init__.py
  numba_cuda/numba/cuda/simulator/memory_management/nrt.py
  numba_cuda/numba/cuda/testing.py
  numba_cuda/numba/cuda/tests/nrt/test_nrt.py
  numba_cuda/numba/cuda/tests/nrt/test_nrt_refct.py
Owners: @rapidsai/numba-cuda-write

Replace flake8 with ruff and pre-commit-hooks
  .flake8
  .pre-commit-config.yaml
  pyproject.toml
Owners: @rapidsai/ci-codeowners, @rapidsai/packaging-codeowners
