Repository NVIDIA/numba-cuda, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rapidsai/numba-cuda-write, @rapidsai/ci-codeowners, @rapidsai/packaging-codeowners

.github/CODEOWNERS:

#python code owners
numba_cuda/            @rapidsai/numba-cuda-write

#cmake code owners
**/CMakeLists.txt  @rapidsai/numba-cuda-write
**/cmake/          @rapidsai/numba-cuda-write

#CI code owners
/.github/                @rapidsai/ci-codeowners
/ci/                     @rapidsai/ci-codeowners
/.pre-commit-config.yaml @rapidsai/ci-codeowners

#packaging code owners
/.devcontainer/    @rapidsai/packaging-codeowners
/conda/            @rapidsai/packaging-codeowners
/dependencies.yaml @rapidsai/packaging-codeowners
/build.sh          @rapidsai/packaging-codeowners
pyproject.toml     @rapidsai/packaging-codeowners

There is no conda prefix when there's no conda
  ci/test_thirdparty_nvmath.sh
Owners: @rapidsai/ci-codeowners

chore: move work from gmarkall branch
  numba_cuda/numba/cuda/api_util.py
  numba_cuda/numba/cuda/cache_hints.py
  numba_cuda/numba/cuda/cudaimpl.py
  numba_cuda/numba/cuda/tests/cudapy/test_cache_hints.py
Owners: @rapidsai/numba-cuda-write

fix: add license and nits
  numba_cuda/numba/cuda/cache_hints.py
  numba_cuda/numba/cuda/device_init.py
Owners: @rapidsai/numba-cuda-write

Try installing nvidia-cutlass
  ci/test_thirdparty_nvmath.sh
Owners: @rapidsai/ci-codeowners

Correct typo in quotes
  ci/test_thirdparty_nvmath.sh
Owners: @rapidsai/ci-codeowners

Fail fast on nvmath tests and use native traceback while debuging
  ci/test_thirdparty_nvmath.sh
Owners: @rapidsai/ci-codeowners

feat: validate bitwidth
  numba_cuda/numba/cuda/cache_hints.py
Owners: @rapidsai/numba-cuda-write

chore: extract common components
  numba_cuda/numba/cuda/cache_hints.py
Owners: @rapidsai/numba-cuda-write

feat: support cpointer
  numba_cuda/numba/cuda/cache_hints.py
Owners: @rapidsai/numba-cuda-write

feat: add test for cpointers
  numba_cuda/numba/cuda/tests/cudapy/test_cache_hints.py
Owners: @rapidsai/numba-cuda-write

fix: add test for bitwidth
  numba_cuda/numba/cuda/tests/cudapy/test_cache_hints.py
Owners: @rapidsai/numba-cuda-write

fix: add test for bitwidth
  numba_cuda/numba/cuda/tests/cudapy/test_cache_hints.py
Owners: @rapidsai/numba-cuda-write

chore: remove comment
  numba_cuda/numba/cuda/tests/cudapy/test_cache_hints.py
Owners: @rapidsai/numba-cuda-write

Generate Numba signature objects when Numba is in use
  numba_cuda/numba/cuda/typing/templates.py
Owners: @rapidsai/numba-cuda-write

Consider core Numba number domain and struct model in array type check
  numba_cuda/numba/cuda/cudaimpl.py
Owners: @rapidsai/numba-cuda-write

Install dx tests requirements too
  ci/test_thirdparty_nvmath.sh
Owners: @rapidsai/ci-codeowners

Add Dim3 and GridGroup to types module
  numba_cuda/numba/cuda/types/__init__.py
Owners: @rapidsai/numba-cuda-write

Try only installing nvidia-mthdx directly
  ci/test_thirdparty_nvmath.sh
Owners: @rapidsai/ci-codeowners

Add thirdparty tests of Awkward Array
  .github/workflows/pr.yaml
  ci/test_thirdparty_awkward.sh
Owners: @rapidsai/ci-codeowners

Use correct wheel for CuPy
  ci/test_thirdparty_awkward.sh
Owners: @rapidsai/ci-codeowners

Correct typo in awkward Github URL
  ci/test_thirdparty_awkward.sh
Owners: @rapidsai/ci-codeowners

Update tests to accept variants of generated PTX (#585)
  numba_cuda/numba/cuda/tests/cudapy/test_casting.py
  numba_cuda/numba/cuda/tests/cudapy/test_compiler.py
  numba_cuda/numba/cuda/tests/cudapy/test_constmem.py
  numba_cuda/numba/cuda/tests/cudapy/test_dispatcher.py
  numba_cuda/numba/cuda/tests/nrt/test_nrt.py
Owners: @rapidsai/numba-cuda-write

Disable benchmarks for awkward tests
  ci/test_thirdparty_awkward.sh
Owners: @rapidsai/ci-codeowners

Don't run awkward tests with -v because it makes the log huge
  ci/test_thirdparty_awkward.sh
Owners: @rapidsai/ci-codeowners

renaming
  numba_cuda/numba/cuda/tests/cudapy/test_array_reductions.py
Owners: @rapidsai/numba-cuda-write

clean
  numba_cuda/numba/cuda/api.py
  numba_cuda/numba/cuda/cudadrv/devicearray.py
Owners: @rapidsai/numba-cuda-write

test, fix
  numba_cuda/numba/cuda/target.py
  numba_cuda/numba/cuda/tests/cudapy/test_array_methods.py
Owners: @rapidsai/numba-cuda-write

Fix Issue #588
  numba_cuda/numba/cuda/codegen.py
  numba_cuda/numba/cuda/compiler.py
Owners: @rapidsai/numba-cuda-write

simplify
  numba_cuda/numba/cuda/target.py
Owners: @rapidsai/numba-cuda-write

Fix freezing in of constant arrays with negative strides (#589)
  numba_cuda/numba/cuda/target.py
  numba_cuda/numba/cuda/tests/cudapy/test_array_methods.py
Owners: @rapidsai/numba-cuda-write

more clean
  numba_cuda/numba/cuda/cudadrv/devicearray.py
Owners: @rapidsai/numba-cuda-write

working through more test cases
  numba_cuda/numba/cuda/api.py
  numba_cuda/numba/cuda/cudadrv/devicearray.py
  numba_cuda/numba/cuda/testing.py
  numba_cuda/numba/cuda/tests/cudadrv/test_array_attr.py
  numba_cuda/numba/cuda/tests/cudadrv/test_cuda_array_slicing.py
  numba_cuda/numba/cuda/tests/cudadrv/test_cuda_devicerecord.py
  numba_cuda/numba/cuda/tests/cudadrv/test_cuda_ndarray.py
  numba_cuda/numba/cuda/tests/cudadrv/test_host_alloc.py
  numba_cuda/numba/cuda/tests/cudadrv/test_managed_alloc.py
  numba_cuda/numba/cuda/tests/cudapy/test_array.py
  numba_cuda/numba/cuda/tests/cudapy/test_datetime.py
  numba_cuda/numba/cuda/tests/cudapy/test_debuginfo.py
  numba_cuda/numba/cuda/tests/cudapy/test_device_func.py
  numba_cuda/numba/cuda/tests/cudapy/test_dispatcher.py
  pyproject.toml
Owners: @rapidsai/numba-cuda-write, @rapidsai/packaging-codeowners

Only run nvmath tests on push to main
  .github/workflows/pr.yaml
Owners: @rapidsai/ci-codeowners

add DWARF address class for cuda array in shared memory
  numba_cuda/numba/cuda/cudadecl.py
  numba_cuda/numba/cuda/debuginfo.py
  numba_cuda/numba/cuda/tests/cudapy/test_debuginfo.py
Owners: @rapidsai/numba-cuda-write

fix an import conflict
  numba_cuda/numba/cuda/debuginfo.py
Owners: @rapidsai/numba-cuda-write

Attempt to make pr job succeed when nvmath-python tests skipped
  .github/workflows/pr.yaml
Owners: @rapidsai/ci-codeowners

refactor: decouple `Context` from `Stream` and `Event` objects (#579)
  ci/test_conda.sh
  numba_cuda/numba/cuda/cudadrv/driver.py
Owners: @rapidsai/ci-codeowners, @rapidsai/numba-cuda-write

clean up _addrspace to bypass the type caching
  numba_cuda/numba/cuda/debuginfo.py
Owners: @rapidsai/numba-cuda-write

working out class relationships
  numba_cuda/numba/cuda/_api.py
  numba_cuda/numba/cuda/cudadrv/devicearray.py
  numba_cuda/numba/cuda/deviceufunc.py
  numba_cuda/numba/cuda/memory_management/nrt.py
  numba_cuda/numba/cuda/random.py
  numba_cuda/numba/cuda/tests/cudadrv/test_cuda_auto_context.py
  numba_cuda/numba/cuda/tests/cudadrv/test_cuda_driver.py
  numba_cuda/numba/cuda/tests/cudadrv/test_deallocations.py
  numba_cuda/numba/cuda/tests/cudadrv/test_emm_plugins.py
  numba_cuda/numba/cuda/tests/cudadrv/test_pinned.py
  numba_cuda/numba/cuda/tests/cudadrv/test_profiler.py
  numba_cuda/numba/cuda/tests/cudadrv/test_select_device.py
  numba_cuda/numba/cuda/tests/cudapy/test_array_methods.py
  numba_cuda/numba/cuda/tests/cudapy/test_array_reductions.py
  numba_cuda/numba/cuda/tests/cudapy/test_blackscholes.py
  numba_cuda/numba/cuda/tests/cudapy/test_cuda_array_interface.py
  numba_cuda/numba/cuda/tests/cudapy/test_cuda_jit_no_types.py
  numba_cuda/numba/cuda/tests/cudapy/test_datetime.py
  numba_cuda/numba/cuda/tests/cudapy/test_debuginfo.py
  numba_cuda/numba/cuda/tests/cudapy/test_device_func.py
  numba_cuda/numba/cuda/tests/cudapy/test_gufunc.py
  numba_cuda/numba/cuda/tests/cudapy/test_laplace.py
  numba_cuda/numba/cuda/tests/cudapy/test_random.py
  numba_cuda/numba/cuda/tests/cudapy/test_reduction.py
  numba_cuda/numba/cuda/tests/cudapy/test_slicing.py
  numba_cuda/numba/cuda/tests/cudapy/test_sm.py
  numba_cuda/numba/cuda/tests/cudapy/test_ssa.py
  numba_cuda/numba/cuda/tests/cudapy/test_transpose.py
  numba_cuda/numba/cuda/tests/doc_examples/test_laplace.py
  numba_cuda/numba/cuda/tests/doc_examples/test_matmul.py
  numba_cuda/numba/cuda/tests/doc_examples/test_montecarlo.py
  numba_cuda/numba/cuda/tests/doc_examples/test_random.py
  numba_cuda/numba/cuda/tests/doc_examples/test_sessionize.py
  numba_cuda/numba/cuda/tests/doc_examples/test_vecadd.py
  numba_cuda/numba/cuda/vectorizers.py
Owners: @rapidsai/numba-cuda-write

partially address reviews
  numba_cuda/numba/cuda/dispatcher.py
  numba_cuda/numba/cuda/tests/cudapy/test_extending.py
Owners: @rapidsai/numba-cuda-write
