Repository NVIDIA/numba-cuda, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rapidsai/numba-cuda-write, @rapidsai/ci-codeowners, @rapidsai/packaging-codeowners

.github/CODEOWNERS:

#python code owners
numba_cuda/            @rapidsai/numba-cuda-write

#cmake code owners
**/CMakeLists.txt  @rapidsai/numba-cuda-write
**/cmake/          @rapidsai/numba-cuda-write

#CI code owners
/.github/                @rapidsai/ci-codeowners
/ci/                     @rapidsai/ci-codeowners
/.pre-commit-config.yaml @rapidsai/ci-codeowners

#packaging code owners
/.devcontainer/    @rapidsai/packaging-codeowners
/conda/            @rapidsai/packaging-codeowners
/dependencies.yaml @rapidsai/packaging-codeowners
/build.sh          @rapidsai/packaging-codeowners
pyproject.toml     @rapidsai/packaging-codeowners

update CI scripts
  ci/test_conda.sh
  ci/test_simulator.sh
  ci/test_wheel.sh
  ci/test_wheel_ctypes_binding.sh
  ci/test_wheel_deps_wheels.sh
Owners: @rapidsai/ci-codeowners

chore(deps): bump numba-cuda version and relock pixi (#707)
  pixi.lock
  pixi.toml
Owners: none

more fixes
  ci/test_conda_ctypes_binding.sh
  ci/test_thirdparty.sh
  numba_cuda/numba/cuda/tests/nocuda/test_library_lookup.py
Owners: @rapidsai/ci-codeowners, @rapidsai/numba-cuda-write

Add tests
  numba_cuda/numba/cuda/testing.py
  numba_cuda/numba/cuda/tests/cudadrv/test_cuda_driver.py
Owners: @rapidsai/numba-cuda-write

nvvm lookup test, coverage report constraint
  ci/coverage_report.sh
  numba_cuda/numba/cuda/tests/nocuda/test_library_lookup.py
Owners: @rapidsai/ci-codeowners, @rapidsai/numba-cuda-write

add an one-off e4m3 roundtrip debug test in CI to give more insight
  numba_cuda/numba/cuda/tests/cudapy/test_fp8_e4m3_int8_debug.py
Owners: @rapidsai/numba-cuda-write

quotes
  ci/coverage_report.sh
Owners: @rapidsai/ci-codeowners

Accept compute capabilities with no family
  numba_cuda/numba/cuda/cudadrv/driver.py
  numba_cuda/numba/cuda/cudadrv/nvrtc.py
Owners: @rapidsai/numba-cuda-write

some cleanup
  numba_cuda/numba/cuda/core/typed_passes.py
  numba_cuda/numba/cuda/cudadrv/nvrtc.py
Owners: @rapidsai/numba-cuda-write

Update pixi.lock
  pixi.lock
Owners: none

remove dead code
  numba_cuda/numba/cuda/cuda_paths.py
Owners: @rapidsai/numba-cuda-write

cuda: add device-side casting tests for basic numeric types
  numba/cuda/tests/test_casting.py
Owners: none

Add baseline device-side numeric casting tests: SPDX header, correct imports, unique class name, and test discovery fixes
  numba/cuda/tests/__init__.py
  numba/cuda/tests/test_casting.py
Owners: none

Update numeric casting tests (SPDX, imports, class name, review fixes)
  numba/cuda/tests/test_casting.py
Owners: none

cuda: add device-side predicate and control-flow tests
  numba/cuda/tests/test_conditions_as_predicates.py
Owners: none

Update numba/cuda/tests/test_conditions_as_predicates.py
  numba/cuda/tests/test_conditions_as_predicates.py
Owners: none

Move test_conditions_as_predicates.py to correct cudapy test location
  numba_cuda/numba/cuda/tests/cudapy/test_conditions_as_predicates.py
Owners: @rapidsai/numba-cuda-write

Apply suggestion from @greptile-apps[bot]
  numba/cuda/tests/test_conditions_as_predicates.py
Owners: none

fixi
  pixi.lock
Owners: none

ci: relock pixi
  .github/workflows/conda-python-tests.yaml
  .github/workflows/docs-build.yaml
  .github/workflows/simulator-test.yaml
  pixi.lock
Owners: @rapidsai/ci-codeowners

ci: relock pixi
  pixi.lock
Owners: none

ci: remove redundant conda build in ci
  .github/workflows/ci-new.yaml
  .github/workflows/conda-python-build.yaml
  .github/workflows/publish.yaml
  conda/recipes/numba-cuda/meta.yaml
Owners: @rapidsai/ci-codeowners, @rapidsai/packaging-codeowners

ci: remove build_conda script
  ci/build_conda.sh
Owners: @rapidsai/ci-codeowners

fix tests
  numba_cuda/numba/cuda/tests/cudapy/test_sm.py
  numba_cuda/numba/cuda/tests/cudapy/test_ssa.py
  numba_cuda/numba/cuda/vectorizers.py
Owners: @rapidsai/numba-cuda-write

fix ndarray check
  numba_cuda/numba/cuda/vectorizers.py
Owners: @rapidsai/numba-cuda-write

fixi
  pixi.lock
Owners: none

chore: revert pixi version
  .github/workflows/conda-python-tests.yaml
  .github/workflows/docs-build.yaml
  .github/workflows/simulator-test.yaml
Owners: @rapidsai/ci-codeowners

update uninstall commands to reflect latest
  ci/test_wheel_deps_wheels.sh
Owners: @rapidsai/ci-codeowners

ci: remove redundant conda build in ci (#711)
  .github/workflows/ci-new.yaml
  .github/workflows/conda-python-build.yaml
  .github/workflows/publish.yaml
  ci/build_conda.sh
  conda/recipes/numba-cuda/meta.yaml
  pixi.lock
Owners: @rapidsai/ci-codeowners, @rapidsai/packaging-codeowners

ci: relock pixi
  .github/workflows/conda-python-tests.yaml
  .github/workflows/docs-build.yaml
  .github/workflows/simulator-test.yaml
Owners: @rapidsai/ci-codeowners

ci: relock pixi (#712)
  .github/workflows/conda-python-tests.yaml
  .github/workflows/docs-build.yaml
  .github/workflows/simulator-test.yaml
Owners: @rapidsai/ci-codeowners

fallback to old logic for nvvm
  numba_cuda/numba/cuda/cuda_paths.py
Owners: @rapidsai/numba-cuda-write

Ensure get_arch_option handles arch correctly
  numba_cuda/numba/cuda/cudadrv/nvrtc.py
  numba_cuda/numba/cuda/tests/cudadrv/test_cuda_driver.py
Owners: @rapidsai/numba-cuda-write

Test arch-specific CCs with `compile_ptx()`
  numba_cuda/numba/cuda/tests/cudapy/test_compiler.py
Owners: @rapidsai/numba-cuda-write

Use pixi.lock from main
  pixi.lock
Owners: none

Delete and recreate pixi.lock
  pixi.lock
Owners: none

greptile
  numba_cuda/numba/cuda/cuda_paths.py
  numba_cuda/numba/cuda/cudadrv/libs.py
Owners: @rapidsai/numba-cuda-write

none case
  numba_cuda/numba/cuda/cuda_paths.py
Owners: @rapidsai/numba-cuda-write

chore: disable `locked` flag to bypass https://github.com/prefix-dev/pixi/issues/5256
  .github/workflows/conda-python-tests.yaml
  .github/workflows/docs-build.yaml
  .github/workflows/simulator-test.yaml
Owners: @rapidsai/ci-codeowners

touchups
  ci/test_wheel_deps_wheels.sh
  numba_cuda/numba/cuda/cudadrv/libs.py
  numba_cuda/numba/cuda/tests/cudadrv/test_cuda_libraries.py
Owners: @rapidsai/ci-codeowners, @rapidsai/numba-cuda-write
