Repository NVIDIA/numba-cuda, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rapidsai/numba-cuda-write, @rapidsai/ci-codeowners, @rapidsai/packaging-codeowners

DEBUG: Check if recent sccache is causing build failures
  .github/workflows/build-wheel.yml
Owners: @rapidsai/ci-codeowners

Update build-wheel.yml
  .github/workflows/build-wheel.yml
Owners: @rapidsai/ci-codeowners

Update build-wheel.yml
  .github/workflows/build-wheel.yml
Owners: @rapidsai/ci-codeowners

Remove Conflicting Lowering for FP8->Int8 Conversion (#869)
  .github/workflows/build-wheel.yml
  numba_cuda/numba/cuda/_internal/cuda_fp8.py
Owners: @rapidsai/ci-codeowners, @rapidsai/numba-cuda-write

Flip to stable rapids release in thirdparty tests (#863)
  ci/test_thirdparty_cudf.sh
Owners: @rapidsai/ci-codeowners

Alternate half of linux arm64 CI runners from a100 to l4 (#864)
  ci/test-matrix.yml
Owners: @rapidsai/ci-codeowners

Bump rapidsai/sccache tag to v0.14.0-rapids.9
  .github/workflows/build-wheel.yml
Owners: @rapidsai/ci-codeowners

Fix Windows path parsing in generate_raw_ltoir.py (#867)
  testing/generate_raw_ltoir.py
Owners: none

Drop test-wheels-deps-wheels job and orphaned build scripts
  .github/workflows/ci.yaml
  ci/build_wheel.ps1
  ci/build_wheel.sh
  ci/test_wheel_deps_wheels.sh
Owners: @rapidsai/ci-codeowners

Remove dead BUILD_MATRIX output and build-matrix entries
  .github/workflows/ci.yaml
  ci/matrix.yml
Owners: @rapidsai/ci-codeowners

Consolidate ci/matrix.yml into ci/test-matrix.yml
  .github/workflows/ci.yaml
  .github/workflows/conda-python-tests.yaml
  .github/workflows/simulator-test.yaml
  .github/workflows/wheels-test.yaml
  ci/matrix.yml
  ci/test-matrix.yml
Owners: @rapidsai/ci-codeowners

Fix indentation bug in test_linker.py
  numba_cuda/numba/cuda/tests/cudadrv/test_linker.py
Owners: @rapidsai/numba-cuda-write

Fix indentation bug in test_linker.py
  numba_cuda/numba/cuda/tests/cudadrv/test_linker.py
Owners: @rapidsai/numba-cuda-write

Bump rapidsai/sccache tag to v0.14.0-rapids.9 (#871)
  .github/workflows/build-wheel.yml
Owners: @rapidsai/ci-codeowners

Fix indentation bug in test_linker.py (#875)
  numba_cuda/numba/cuda/tests/cudadrv/test_linker.py
Owners: @rapidsai/numba-cuda-write

Bump Version to 0.30.1
  numba_cuda/VERSION
  pixi.toml
Owners: @rapidsai/numba-cuda-write

Bump Version to 0.30.1 (#873)
  numba_cuda/VERSION
  pixi.toml
Owners: @rapidsai/numba-cuda-write

Use cuda-core kernel attribute properties
  numba_cuda/numba/cuda/cudadrv/driver.py
Owners: @rapidsai/numba-cuda-write

Update cuda-core LaunchConfig cooperative keyword
  numba_cuda/numba/cuda/dispatcher.py
  numba_cuda/numba/cuda/memory_management/nrt.py
  numba_cuda/numba/cuda/tests/cudadrv/test_cuda_driver.py
Owners: @rapidsai/numba-cuda-write

Support cuda-core 0.7 and 1.0 APIs
  numba_cuda/numba/cuda/_compat.py
  numba_cuda/numba/cuda/cudadrv/driver.py
  numba_cuda/numba/cuda/dispatcher.py
  numba_cuda/numba/cuda/memory_management/nrt.py
  numba_cuda/numba/cuda/tests/cudadrv/test_cuda_driver.py
  numba_cuda/numba/cuda/tests/nocuda/test_cuda_core_compat.py
Owners: @rapidsai/numba-cuda-write

Make cuda-core compat helpers private
  numba_cuda/numba/cuda/_compat.py
  numba_cuda/numba/cuda/cudadrv/driver.py
  numba_cuda/numba/cuda/dispatcher.py
  numba_cuda/numba/cuda/memory_management/nrt.py
  numba_cuda/numba/cuda/tests/cudadrv/test_cuda_driver.py
  numba_cuda/numba/cuda/tests/nocuda/test_cuda_core_compat.py
Owners: @rapidsai/numba-cuda-write

Remove cuda-core helper unit tests
  numba_cuda/numba/cuda/tests/nocuda/test_cuda_core_compat.py
Owners: @rapidsai/numba-cuda-write

Gate cuda-core 1.0 API usage by version
  numba_cuda/numba/cuda/_compat.py
  numba_cuda/numba/cuda/cudadrv/driver.py
  numba_cuda/numba/cuda/dispatcher.py
  numba_cuda/numba/cuda/memory_management/nrt.py
  numba_cuda/numba/cuda/tests/cudadrv/test_cuda_driver.py
Owners: @rapidsai/numba-cuda-write

Fix sccache summary to count CUDA sub-tool hits/misses
  .github/actions/sccache-summary/action.yml
Owners: @rapidsai/ci-codeowners

Fix minor issues in CONTRIBUTING.md (#880)
  CONTRIBUTING.md
  pyproject.toml
Owners: @rapidsai/packaging-codeowners

Migrate test suite to completely utilize pytest (#619)
  numba_cuda/numba/cuda/tests/cudapy/test_powi.py
  numba_cuda/numba/cuda/tests/support.py
Owners: @rapidsai/numba-cuda-write

cudapy/test_ufuncs
  numba_cuda/numba/cuda/tests/cudapy/test_ufuncs.py
Owners: @rapidsai/numba-cuda-write

cudapy/test_random
  numba_cuda/numba/cuda/tests/cudapy/test_random.py
Owners: @rapidsai/numba-cuda-write

doc_examples/test_ufunc
  numba_cuda/numba/cuda/tests/doc_examples/test_ufunc.py
Owners: @rapidsai/numba-cuda-write

doc_examples/test_random
  numba_cuda/numba/cuda/tests/doc_examples/test_random.py
Owners: @rapidsai/numba-cuda-write

cudapy/test_boolean
  numba_cuda/numba/cuda/tests/cudapy/test_boolean.py
Owners: @rapidsai/numba-cuda-write

cudapy/test_minmax
  numba_cuda/numba/cuda/tests/cudapy/test_minmax.py
Owners: @rapidsai/numba-cuda-write

cudapy/test_multigpu
  numba_cuda/numba/cuda/tests/cudapy/test_multigpu.py
Owners: @rapidsai/numba-cuda-write

Relax cuda-core upper bound
  pixi.toml
  pyproject.toml
Owners: @rapidsai/packaging-codeowners

Match cuda-core Pixi upper bound spelling
  pixi.toml
Owners: none

Update driver.py
  numba_cuda/numba/cuda/cudadrv/driver.py
Owners: @rapidsai/numba-cuda-write

fix import - again
  numba_cuda/numba/cuda/cudadrv/driver.py
Owners: @rapidsai/numba-cuda-write

fix linter
  numba_cuda/numba/cuda/cudadrv/driver.py
Owners: @rapidsai/numba-cuda-write

Fix nvmath test script: bump to 0.9.0, fix cuda-core conflict and hardcoded paths
  ci/test_thirdparty_nvmath.sh
Owners: @rapidsai/ci-codeowners

Fix executable permission on ci/test_thirdparty_nvmath.sh
  ci/test_thirdparty_nvmath.sh
Owners: @rapidsai/ci-codeowners

.github/CODEOWNERS:

#python code owners
numba_cuda/            @rapidsai/numba-cuda-write

#cmake code owners
**/CMakeLists.txt  @rapidsai/numba-cuda-write
**/cmake/          @rapidsai/numba-cuda-write

#CI code owners
/.github/                @rapidsai/ci-codeowners
/ci/                     @rapidsai/ci-codeowners
/.pre-commit-config.yaml @rapidsai/ci-codeowners

#packaging code owners
/.devcontainer/    @rapidsai/packaging-codeowners
/conda/            @rapidsai/packaging-codeowners
/dependencies.yaml @rapidsai/packaging-codeowners
/build.sh          @rapidsai/packaging-codeowners
pyproject.toml     @rapidsai/packaging-codeowners
