Repository NVIDIA/numba-cuda, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rapidsai/numba-cuda-write, @rapidsai/ci-codeowners, @rapidsai/packaging-codeowners

Add basic Sphinx setup
  docs/Makefile
  docs/make.bat
  docs/source/conf.py
  docs/source/index.rst
Owners: none

make conda recipe data-loading stricter
  conda/recipes/numba_cuda/meta.yaml
Owners: @rapidsai/packaging-codeowners

make conda recipe data-loading stricter (#3)
  conda/recipes/numba_cuda/meta.yaml
Owners: @rapidsai/packaging-codeowners

Copy in CUDA documentation from Numba 0.60.0
  docs/source/reference/host.rst
  docs/source/reference/index.rst
  docs/source/reference/kernel.rst
  docs/source/reference/libdevice.rst
  docs/source/reference/memory.rst
  docs/source/reference/types.rst
  docs/source/user/bindings.rst
  docs/source/user/caching.rst
  docs/source/user/cooperative_groups.rst
  docs/source/user/cuda_array_interface.rst
  docs/source/user/cuda_compilation.rst
  docs/source/user/cuda_ffi.rst
  docs/source/user/cudapysupported.rst
  docs/source/user/device-functions.rst
  docs/source/user/device-management.rst
  docs/source/user/examples.rst
  docs/source/user/external-memory.rst
  docs/source/user/faq.rst
  docs/source/user/fastmath.rst
  docs/source/user/index.rst
  docs/source/user/intrinsics.rst
  docs/source/user/ipc.rst
  docs/source/user/kernels.rst
  docs/source/user/laplace_final.svg
  docs/source/user/laplace_initial.svg
  docs/source/user/memory.rst
  docs/source/user/minor_version_compatibility.rst
  docs/source/user/overview.rst
  docs/source/user/random.rst
  docs/source/user/reduction.rst
  docs/source/user/simulator.rst
  docs/source/user/ufunc.rst
Owners: none

Use NVIDIA docs theme and green Numba favicon
  docs/source/_static/numba-green-icon-rgb.svg
  docs/source/conf.py
Owners: none

Tidy up contents and sections
  docs/source/index.rst
  docs/source/reference/index.rst
  docs/source/user/index.rst
Owners: none

Docs: Add introductory description and env vars section
  docs/source/index.rst
  docs/source/reference/envvars.rst
  docs/source/reference/index.rst
Owners: none

Build docs with warnings enabled
  docs/Makefile
  docs/make.bat
Owners: none

Fix include paths in code snippets from doctests
  docs/source/user/cooperative_groups.rst
  docs/source/user/cuda_ffi.rst
  docs/source/user/examples.rst
  docs/source/user/random.rst
Owners: none

Prevent type hints warning resulting from type hints
  docs/source/conf.py
Owners: none

Remove `_extras` module
  CMakeLists.txt
  numba_cuda/numba/cuda/api.py
  numba_cuda/numba/cuda/cudadrv/_extras.c
  numba_cuda/numba/cuda/cudadrv/driver.py
  numba_cuda/numba/cuda/cudadrv/drvapi.py
  numba_cuda/numba/cuda/tests/cudapy/test_ipc.py
Owners: @rapidsai/numba-cuda-write

Don't run codecov
  .github/workflows/pr.yaml
Owners: @rapidsai/ci-codeowners

Don't run codecov
  .github/workflows/pr.yaml
Owners: @rapidsai/ci-codeowners

Build a purelib now there's no extension modules
  CMakeLists.txt
  ci/build_wheel.sh
  pyproject.toml
Owners: @rapidsai/numba-cuda-write, @rapidsai/ci-codeowners, @rapidsai/packaging-codeowners

Build a noarch python conda package
  conda/recipes/numba_cuda/meta.yaml
Owners: @rapidsai/packaging-codeowners

Update README with current info, add target name for sysinfo
  README.md
  numba_cuda/numba/cuda/__init__.py
Owners: @rapidsai/numba-cuda-write

Fix missing whitespace in pyproject.toml
  pyproject.toml
Owners: @rapidsai/packaging-codeowners

Use a single entry in the build matrix
  .github/actions/compute-matrix/action.yaml
Owners: @rapidsai/ci-codeowners

opt=None in defualt, and if it's None, decide the final value via config.OPT
  numba_cuda/numba/cuda/decorators.py
Owners: @rapidsai/numba-cuda-write

add comments
  numba_cuda/numba/cuda/decorators.py
Owners: @rapidsai/numba-cuda-write

simplify the expression
  numba_cuda/numba/cuda/decorators.py
Owners: @rapidsai/numba-cuda-write

simplify the doc for opt
  numba_cuda/numba/cuda/decorators.py
Owners: @rapidsai/numba-cuda-write

opt=True is not default any more
  numba_cuda/numba/cuda/decorators.py
Owners: @rapidsai/numba-cuda-write

Build as a purelib by replacing the `_extras` module with a Python implementation (#5)
  .github/actions/compute-matrix/action.yaml
  CMakeLists.txt
  ci/build_wheel.sh
  conda/recipes/numba_cuda/meta.yaml
  numba_cuda/numba/cuda/api.py
  numba_cuda/numba/cuda/cudadrv/_extras.c
  numba_cuda/numba/cuda/cudadrv/driver.py
  numba_cuda/numba/cuda/cudadrv/drvapi.py
  numba_cuda/numba/cuda/tests/cudapy/test_ipc.py
  pyproject.toml
Owners: @rapidsai/ci-codeowners, @rapidsai/numba-cuda-write, @rapidsai/packaging-codeowners

Bump version to 0.0.2
  numba_cuda/VERSION
Owners: @rapidsai/numba-cuda-write

Bump version to 0.0.2
  numba_cuda/VERSION
Owners: @rapidsai/numba-cuda-write

Search for nvdisasm in the conda environment / `CUDA_HOME` / default CUDA install location in addition to the path. Fixes #9.
  numba_cuda/numba/cuda/codegen.py
  numba_cuda/numba/cuda/cuda_paths.py
  numba_cuda/numba/cuda/dispatcher.py
  numba_cuda/numba/cuda/testing.py
Owners: @rapidsai/numba-cuda-write

handle `cuda.compile` in the same way
  numba_cuda/numba/cuda/compiler.py
Owners: @rapidsai/numba-cuda-write

also revise `compile_ptx` series and add `opt=False` for some test cases
  numba_cuda/numba/cuda/compiler.py
  numba_cuda/numba/cuda/tests/cudapy/test_compiler.py
  numba_cuda/numba/cuda/tests/cudapy/test_cuda_jit_no_types.py
  numba_cuda/numba/cuda/tests/cudapy/test_fastmath.py
  numba_cuda/numba/cuda/tests/cudapy/test_userexc.py
Owners: @rapidsai/numba-cuda-write

`config.OPT` is an instance of `_OptLevel`, add new tests
  numba_cuda/numba/cuda/compiler.py
  numba_cuda/numba/cuda/decorators.py
  numba_cuda/numba/cuda/simulator/api.py
  numba_cuda/numba/cuda/tests/cudapy/test_warning.py
Owners: @rapidsai/numba-cuda-write

Add printing support for `Dim3`s.
  numba_cuda/numba/cuda/printimpl.py
  numba_cuda/numba/cuda/stubs.py
  numba_cuda/numba/cuda/tests/cudapy/test_print.py
Owners: @rapidsai/numba-cuda-write

off the ground
  numba_cuda/numba/cuda/codegen.py
  numba_cuda/numba/cuda/cudadrv/nrt.py
  numba_cuda/numba/cuda/runtime/nrt.cu
  numba_cuda/numba/cuda/target.py
Owners: @rapidsai/numba-cuda-write

apply the POC and add `dataptr` property for `DeviceNDArrayBase`
  numba_cuda/numba/cuda/cudadrv/devicearray.py
  numba_cuda/numba/cuda/target.py
Owners: @rapidsai/numba-cuda-write

cleanup
  numba_cuda/numba/cuda/codegen.py
  numba_cuda/numba/cuda/cudadrv/nrt.py
  numba_cuda/numba/cuda/runtime/nrt.cu
Owners: @rapidsai/numba-cuda-write

Replace scikit-build-core / CMake with setuptools
  CMakeLists.txt
  ci/build_conda.sh
  conda/recipes/numba-cuda/meta.yaml
  pyproject.toml
  setup.py
Owners: @rapidsai/numba-cuda-write, @rapidsai/ci-codeowners, @rapidsai/packaging-codeowners

Make some underscore to dash changes I think I missed
  ci/build_wheel.sh
  ci/test_conda.sh
  ci/test_wheel.sh
Owners: @rapidsai/ci-codeowners

an attempt at a cuda test equivalent
  numba_cuda/numba/cuda/tests/nrt/test_nrt.py
Owners: @rapidsai/numba-cuda-write

Use underscores for wheel name as suggested by @vyasr
  ci/build_wheel.sh
  ci/test_wheel.sh
Owners: @rapidsai/ci-codeowners

Refactor copy_redirector_file()
  setup.py
Owners: none

Replace scikit-build-core / CMake with setuptools (#16)
  CMakeLists.txt
  ci/build_conda.sh
  ci/test_conda.sh
  conda/recipes/numba-cuda/meta.yaml
  pyproject.toml
  setup.py
Owners: @rapidsai/numba-cuda-write, @rapidsai/ci-codeowners, @rapidsai/packaging-codeowners

.github/CODEOWNERS:

#python code owners
numba_cuda/            @rapidsai/numba-cuda-write

#cmake code owners
**/CMakeLists.txt  @rapidsai/numba-cuda-write
**/cmake/          @rapidsai/numba-cuda-write

#CI code owners
/.github/                @rapidsai/ci-codeowners
/ci/                     @rapidsai/ci-codeowners
/.pre-commit-config.yaml @rapidsai/ci-codeowners

#packaging code owners
/.devcontainer/    @rapidsai/packaging-codeowners
/conda/            @rapidsai/packaging-codeowners
/dependencies.yaml @rapidsai/packaging-codeowners
/build.sh          @rapidsai/packaging-codeowners
pyproject.toml     @rapidsai/packaging-codeowners
