Repository NVIDIA/numba-cuda, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rapidsai/numba-cuda-write, @rapidsai/ci-codeowners, @rapidsai/packaging-codeowners

.github/CODEOWNERS:

#python code owners
numba_cuda/            @rapidsai/numba-cuda-write

#cmake code owners
**/CMakeLists.txt  @rapidsai/numba-cuda-write
**/cmake/          @rapidsai/numba-cuda-write

#CI code owners
/.github/                @rapidsai/ci-codeowners
/ci/                     @rapidsai/ci-codeowners
/.pre-commit-config.yaml @rapidsai/ci-codeowners

#packaging code owners
/.devcontainer/    @rapidsai/packaging-codeowners
/conda/            @rapidsai/packaging-codeowners
/dependencies.yaml @rapidsai/packaging-codeowners
/build.sh          @rapidsai/packaging-codeowners
pyproject.toml     @rapidsai/packaging-codeowners

Don't test in parallel by default
  README.md
  pyproject.toml
Owners: @rapidsai/packaging-codeowners

[RFC,TESTING] Add filecheck test infrastructure (#342)
  ci/test_conda.sh
  ci/test_conda_ctypes_binding.sh
  ci/test_simulator.sh
  numba_cuda/numba/cuda/simulator/__init__.py
  numba_cuda/numba/cuda/simulator/dispatcher.py
  numba_cuda/numba/cuda/testing.py
  numba_cuda/numba/cuda/tests/cudapy/test_inspect.py
  pyproject.toml
Owners: @rapidsai/ci-codeowners, @rapidsai/numba-cuda-write, @rapidsai/packaging-codeowners

[REVIEW][NFC] Vendor in the utils and cgutils to allow for future CUDA-specific refactoring and changes (#340)
  numba_cuda/numba/cuda/cgutils.py
  numba_cuda/numba/cuda/compiler.py
  numba_cuda/numba/cuda/core/callconv.py
  numba_cuda/numba/cuda/cudadrv/driver.py
  numba_cuda/numba/cuda/cudadrv/nvvm.py
  numba_cuda/numba/cuda/cudaimpl.py
  numba_cuda/numba/cuda/debuginfo.py
  numba_cuda/numba/cuda/dispatcher.py
  numba_cuda/numba/cuda/extending.py
  numba_cuda/numba/cuda/intrinsics.py
  numba_cuda/numba/cuda/libdeviceimpl.py
  numba_cuda/numba/cuda/mathimpl.py
  numba_cuda/numba/cuda/nvvmutils.py
  numba_cuda/numba/cuda/printimpl.py
  numba_cuda/numba/cuda/target.py
  numba_cuda/numba/cuda/tests/cudapy/extensions_usecases.py
  numba_cuda/numba/cuda/tests/cudapy/test_extending.py
  numba_cuda/numba/cuda/tests/nocuda/test_nvvm.py
  numba_cuda/numba/cuda/utils.py
  numba_cuda/numba/cuda/vector_types.py
Owners: @rapidsai/numba-cuda-write

[Refactor][NFC] Vendor in CompilerBase
  numba_cuda/numba/cuda/compiler.py
  numba_cuda/numba/cuda/core/compiler.py
Owners: @rapidsai/numba-cuda-write

[Refactor][NFC] Vendor in serialization functions
  numba_cuda/numba/cuda/codegen.py
  numba_cuda/numba/cuda/cudadrv/driver.py
  numba_cuda/numba/cuda/dispatcher.py
  numba_cuda/numba/cuda/serialize.py
  numba_cuda/numba/cuda/tests/core/serialize_usecases.py
  numba_cuda/numba/cuda/tests/core/test_serialize.py
Owners: @rapidsai/numba-cuda-write

[Refactor][NFC] Vendor in Cache, CacheImpl
  numba_cuda/numba/cuda/core/caching.py
  numba_cuda/numba/cuda/dispatcher.py
Owners: @rapidsai/numba-cuda-write

Alias __half to numba.core.types.float16
  numba_cuda/numba/cuda/_internal/cuda_fp16.py
Owners: @rapidsai/numba-cuda-write

Replace Numbast generated operators
  numba_cuda/numba/cuda/_internal/cuda_fp16.py
Owners: @rapidsai/numba-cuda-write

Fix tests
  numba_cuda/numba/cuda/tests/cudapy/test_intrinsics.py
  numba_cuda/numba/cuda/tests/cudapy/test_operator.py
Owners: @rapidsai/numba-cuda-write

Remove existing fp16 logic
  numba_cuda/numba/cuda/cpp_function_wrappers.cu
  numba_cuda/numba/cuda/cudadecl.py
  numba_cuda/numba/cuda/cudaimpl.py
  numba_cuda/numba/cuda/device_init.py
  numba_cuda/numba/cuda/dispatcher.py
  numba_cuda/numba/cuda/mathimpl.py
  numba_cuda/numba/cuda/stubs.py
Owners: @rapidsai/numba-cuda-write

Add performance warning
  docs/source/reference/kernel.rst
  numba_cuda/numba/cuda/_internal/cuda_fp16.py
  numba_cuda/numba/cuda/tests/cudapy/test_warning.py
Owners: @rapidsai/numba-cuda-write

Replace Numbast generated lower_casts
  numba_cuda/numba/cuda/_internal/cuda_fp16.py
Owners: @rapidsai/numba-cuda-write

Create typing/target registries for float16
  numba_cuda/numba/cuda/_internal/cuda_fp16.py
Owners: @rapidsai/numba-cuda-write

Generate fp16 bindings using numbast
  configs/cuda_fp16.yml
  numba_cuda/numba/cuda/_internal/cuda_fp16.py
  pyproject.toml
Owners: @rapidsai/numba-cuda-write, @rapidsai/packaging-codeowners

Create and register low++ bindings for float16
  numba_cuda/numba/cuda/fp16.py
  numba_cuda/numba/cuda/target.py
Owners: @rapidsai/numba-cuda-write

Add addrspace support for atomic
  numba_cuda/numba/cuda/cudaimpl.py
  numba_cuda/numba/cuda/nvvmutils.py
Owners: @rapidsai/numba-cuda-write

[Refactor] Vendor in Codegen and CodeLibrary for CUDA-specific changes
  numba_cuda/numba/cuda/codegen.py
  numba_cuda/numba/cuda/core/codegen.py
Owners: @rapidsai/numba-cuda-write

[Refactor][NFC] Formatting fixes
  numba_cuda/numba/cuda/core/codegen.py
Owners: @rapidsai/numba-cuda-write

Add type check for shape elements in DeviceNDArrayBase constructor
  numba_cuda/numba/cuda/cudadrv/devicearray.py
Owners: @rapidsai/numba-cuda-write

Initial attempt at wheels Windows test job
  .github/workflows/wheel-windows-tests.yaml
  ci/test_wheel.ps1
Owners: @rapidsai/ci-codeowners

Comment out unneeded jobs for Windows CI dev to save time
  .github/workflows/pr.yaml
Owners: @rapidsai/ci-codeowners

Add wheel Windows test to PR workflow
  .github/workflows/pr.yaml
Owners: @rapidsai/ci-codeowners

Add missing depdendent job
  .github/workflows/pr.yaml
Owners: @rapidsai/ci-codeowners

Fiddle with quotes
  .github/workflows/wheel-windows-tests.yaml
Owners: @rapidsai/ci-codeowners

Revert "Fiddle with quotes"
  .github/workflows/wheel-windows-tests.yaml
Owners: @rapidsai/ci-codeowners

Try using yq and jq
  .github/workflows/wheel-windows-tests.yaml
Owners: @rapidsai/ci-codeowners

Add missing quote
  .github/workflows/wheel-windows-tests.yaml
Owners: @rapidsai/ci-codeowners

What happens if I explicitly write what I think the matrix is?
  .github/workflows/wheel-windows-tests.yaml
Owners: @rapidsai/ci-codeowners

More quotes will definitely fix this
  .github/workflows/wheel-windows-tests.yaml
Owners: @rapidsai/ci-codeowners

Maybe adding brackets will help...
  .github/workflows/wheel-windows-tests.yaml
Owners: @rapidsai/ci-codeowners

Fix location of square bracket
  .github/workflows/wheel-windows-tests.yaml
Owners: @rapidsai/ci-codeowners

Try to get script to run
  .github/workflows/wheel-windows-tests.yaml
Owners: @rapidsai/ci-codeowners

Add checkout step to Windows wheel test
  .github/workflows/wheel-windows-tests.yaml
Owners: @rapidsai/ci-codeowners

Try a different way to retrieve env var
  ci/test_wheel.ps1
Owners: @rapidsai/ci-codeowners

Fix other use of CUDA_VER
  ci/test_wheel.ps1
Owners: @rapidsai/ci-codeowners

Add setup of Python
  .github/workflows/wheel-windows-tests.yaml
Owners: @rapidsai/ci-codeowners

Fix typo
  .github/workflows/wheel-windows-tests.yaml
Owners: @rapidsai/ci-codeowners

Add float type and np.floating check
  numba_cuda/numba/cuda/api_util.py
Owners: @rapidsai/numba-cuda-write

Correct double dollar
  .github/workflows/wheel-windows-tests.yaml
Owners: @rapidsai/ci-codeowners

Install GPU driver
  .github/workflows/install_gpu_driver.ps1
  .github/workflows/wheel-windows-tests.yaml
Owners: @rapidsai/ci-codeowners
