Repository NVIDIA/numba-cuda, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rapidsai/numba-cuda-write, @rapidsai/ci-codeowners, @rapidsai/packaging-codeowners

clean
  numba_cuda/numba/cuda/tests/nrt/test_nrt.py
Owners: @rapidsai/numba-cuda-write

Use pynvjitlink for MVC
  .github/workflows/pr.yaml
  .gitignore
  ci/test_conda_pynvjitlink.sh
  ci/test_wheel_pynvjitlink.sh
  numba_cuda/numba/cuda/codegen.py
  numba_cuda/numba/cuda/cudadrv/driver.py
  numba_cuda/numba/cuda/cudadrv/enums.py
  numba_cuda/numba/cuda/cudadrv/linkable_code.py
  numba_cuda/numba/cuda/cudadrv/mappings.py
  numba_cuda/numba/cuda/device_init.py
  numba_cuda/numba/cuda/dispatcher.py
  numba_cuda/numba/cuda/target.py
  numba_cuda/numba/cuda/tests/cudadrv/test_nvjitlink.py
  numba_cuda/numba/cuda/tests/test_binary_generation/Makefile
  numba_cuda/numba/cuda/tests/test_binary_generation/generate_raw_ltoir.py
  numba_cuda/numba/cuda/tests/test_binary_generation/test_device_functions.cu
  numba_cuda/numba/cuda/tests/test_binary_generation/undefined_extern.cu
  pyproject.toml
Owners: @rapidsai/ci-codeowners, @rapidsai/numba-cuda-write, @rapidsai/packaging-codeowners

Use pynvjitlink for MVC
  .github/workflows/pr.yaml
  .gitignore
  ci/test_conda_pynvjitlink.sh
  ci/test_wheel_pynvjitlink.sh
  numba_cuda/numba/cuda/codegen.py
  numba_cuda/numba/cuda/cudadrv/driver.py
  numba_cuda/numba/cuda/cudadrv/enums.py
  numba_cuda/numba/cuda/cudadrv/linkable_code.py
  numba_cuda/numba/cuda/cudadrv/mappings.py
  numba_cuda/numba/cuda/device_init.py
  numba_cuda/numba/cuda/dispatcher.py
  numba_cuda/numba/cuda/target.py
  numba_cuda/numba/cuda/tests/cudadrv/test_nvjitlink.py
  numba_cuda/numba/cuda/tests/test_binary_generation/Makefile
  numba_cuda/numba/cuda/tests/test_binary_generation/generate_raw_ltoir.py
  numba_cuda/numba/cuda/tests/test_binary_generation/test_device_functions.cu
  numba_cuda/numba/cuda/tests/test_binary_generation/undefined_extern.cu
  pyproject.toml
Owners: @rapidsai/ci-codeowners, @rapidsai/numba-cuda-write, @rapidsai/packaging-codeowners

Minor fixups following #23 / #56
  numba_cuda/numba/cuda/codegen.py
  numba_cuda/numba/cuda/cudadrv/driver.py
Owners: @rapidsai/numba-cuda-write

Rename ENABLE_PYNVJITLINK for consistency
  ci/test_conda_pynvjitlink.sh
  ci/test_wheel_pynvjitlink.sh
  numba_cuda/numba/cuda/cudadrv/driver.py
  numba_cuda/numba/cuda/tests/cudadrv/test_nvjitlink.py
Owners: @rapidsai/ci-codeowners, @rapidsai/numba-cuda-write

initial porting of LTOIR related changes
  numba_cuda/numba/cuda/cudadrv/driver.py
  numba_cuda/numba/cuda/cudadrv/nvrtc.py
Owners: @rapidsai/numba-cuda-write

dump LTO-ed PTX if dump-assembly=1
  numba_cuda/numba/cuda/codegen.py
  numba_cuda/numba/cuda/cudadrv/driver.py
Owners: @rapidsai/numba-cuda-write

remove redundant check for config assembly, and enable lto by default
  numba_cuda/numba/cuda/codegen.py
Owners: @rapidsai/numba-cuda-write

Fix style check
  numba_cuda/numba/cuda/codegen.py
Owners: @rapidsai/numba-cuda-write

Document MVC env and config vars
  docs/source/reference/envvars.rst
  docs/source/user/minor_version_compatibility.rst
Owners: none

lto disabled by default
  numba_cuda/numba/cuda/codegen.py
Owners: @rapidsai/numba-cuda-write

add test file, and augment nvrtc bindings with LTOIR API
  numba_cuda/numba/cuda/cudadrv/nvrtc.py
  numba_cuda/numba/cuda/tests/cudadrv/test_nvjitlink.py
Owners: @rapidsai/numba-cuda-write

Also enable the rest of the linkings
  numba_cuda/numba/cuda/tests/cudadrv/test_nvjitlink.py
Owners: @rapidsai/numba-cuda-write

collapse the two tests in one
  numba_cuda/numba/cuda/tests/cudadrv/test_nvjitlink.py
Owners: @rapidsai/numba-cuda-write

Minor fixups following #23 / #56
  numba_cuda/numba/cuda/codegen.py
  numba_cuda/numba/cuda/cudadrv/driver.py
Owners: @rapidsai/numba-cuda-write

Rename ENABLE_PYNVJITLINK for consistency
  ci/test_conda_pynvjitlink.sh
  ci/test_wheel_pynvjitlink.sh
  numba_cuda/numba/cuda/cudadrv/driver.py
  numba_cuda/numba/cuda/tests/cudadrv/test_nvjitlink.py
Owners: @rapidsai/ci-codeowners, @rapidsai/numba-cuda-write

Document MVC env and config vars
  docs/source/reference/envvars.rst
  docs/source/user/minor_version_compatibility.rst
Owners: none

raise warning for inputs that has non-LTOIR objects
  numba_cuda/numba/cuda/codegen.py
  numba_cuda/numba/cuda/tests/cudadrv/test_nvjitlink.py
Owners: @rapidsai/numba-cuda-write

style fixes
  numba_cuda/numba/cuda/codegen.py
  numba_cuda/numba/cuda/tests/cudadrv/test_nvjitlink.py
Owners: @rapidsai/numba-cuda-write

enable LTO nvrtc function only for 11.*
  numba_cuda/numba/cuda/cudadrv/nvrtc.py
Owners: @rapidsai/numba-cuda-write

enable LTO linker items only for cuda 12
  numba_cuda/numba/cuda/cudadrv/nvrtc.py
Owners: @rapidsai/numba-cuda-write

determine cuda include paths based on the machine kind
  numba_cuda/numba/cuda/cuda_paths.py
  numba_cuda/numba/cuda/cudadrv/nvrtc.py
Owners: @rapidsai/numba-cuda-write

Try disabling PTX LTO warning test
  numba_cuda/numba/cuda/tests/cudadrv/test_nvjitlink.py
Owners: @rapidsai/numba-cuda-write

Update README to reflect current state
  README.md
Owners: none

Add logo to README
  README.md
Owners: none

Conditionally add LTO-able objects for PTX prints
  numba_cuda/numba/cuda/codegen.py
  numba_cuda/numba/cuda/cudadrv/driver.py
  numba_cuda/numba/cuda/tests/cudadrv/test_nvjitlink.py
Owners: @rapidsai/numba-cuda-write

only enable caching for kernels that has 0 linking files
  numba_cuda/numba/cuda/dispatcher.py
  numba_cuda/numba/cuda/tests/cudapy/test_caching.py
Owners: @rapidsai/numba-cuda-write

small tweaks to compiler toolchain
  ci/test_conda.sh
  numba_cuda/numba/cuda/cudadrv/nvrtc.py
Owners: @rapidsai/ci-codeowners, @rapidsai/numba-cuda-write

Examine fatbin input that contains LTOIR
  numba_cuda/numba/cuda/cudadrv/driver.py
  numba_cuda/numba/cuda/tests/cudadrv/test_nvjitlink.py
  numba_cuda/numba/cuda/tests/test_binary_generation/Makefile
Owners: @rapidsai/numba-cuda-write

add docstring to helper
  numba_cuda/numba/cuda/cudadrv/driver.py
Owners: @rapidsai/numba-cuda-write

add cuda-cuobjdump to dependency
  ci/test_conda_pynvjitlink.sh
Owners: @rapidsai/ci-codeowners

raise when cuobjdump is not installed
  numba_cuda/numba/cuda/cudadrv/driver.py
Owners: @rapidsai/numba-cuda-write

style
  numba_cuda/numba/cuda/cudadrv/driver.py
Owners: @rapidsai/numba-cuda-write

style
  numba_cuda/numba/cuda/cuda_paths.py
Owners: @rapidsai/numba-cuda-write

Bump version to 0.0.18
  numba_cuda/VERSION
Owners: @rapidsai/numba-cuda-write

Bump version to 0.0.18
  numba_cuda/VERSION
Owners: @rapidsai/numba-cuda-write

make enable_nrt a property of the cuda context
  numba_cuda/numba/cuda/target.py
  numba_cuda/numba/cuda/tests/nrt/test_nrt.py
Owners: @rapidsai/numba-cuda-write

adjust for nvjitlink changes
  numba_cuda/numba/cuda/tests/nrt/test_nrt.py
Owners: @rapidsai/numba-cuda-write

Apply suggestions from code review
  numba_cuda/numba/cuda/tests/nrt/test_nrt.py
Owners: @rapidsai/numba-cuda-write

move mock numpy functions to its own file
  numba_cuda/numba/cuda/tests/nrt/mock_numpy.py
  numba_cuda/numba/cuda/tests/nrt/test_nrt.py
Owners: @rapidsai/numba-cuda-write

.github/CODEOWNERS:

#python code owners
numba_cuda/            @rapidsai/numba-cuda-write

#cmake code owners
**/CMakeLists.txt  @rapidsai/numba-cuda-write
**/cmake/          @rapidsai/numba-cuda-write

#CI code owners
/.github/                @rapidsai/ci-codeowners
/ci/                     @rapidsai/ci-codeowners
/.pre-commit-config.yaml @rapidsai/ci-codeowners

#packaging code owners
/.devcontainer/    @rapidsai/packaging-codeowners
/conda/            @rapidsai/packaging-codeowners
/dependencies.yaml @rapidsai/packaging-codeowners
/build.sh          @rapidsai/packaging-codeowners
pyproject.toml     @rapidsai/packaging-codeowners
