Repository NVIDIA/numba-cuda, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rapidsai/numba-cuda-write, @rapidsai/ci-codeowners, @rapidsai/packaging-codeowners

.github/CODEOWNERS:

#python code owners
numba_cuda/            @rapidsai/numba-cuda-write

#cmake code owners
**/CMakeLists.txt  @rapidsai/numba-cuda-write
**/cmake/          @rapidsai/numba-cuda-write

#CI code owners
/.github/                @rapidsai/ci-codeowners
/ci/                     @rapidsai/ci-codeowners
/.pre-commit-config.yaml @rapidsai/ci-codeowners

#packaging code owners
/.devcontainer/    @rapidsai/packaging-codeowners
/conda/            @rapidsai/packaging-codeowners
/dependencies.yaml @rapidsai/packaging-codeowners
/build.sh          @rapidsai/packaging-codeowners
pyproject.toml     @rapidsai/packaging-codeowners

align arguments with `compile`
  numba_cuda/numba/cuda/compiler.py
  numba_cuda/numba/cuda/tests/cudapy/test_compiler.py
Owners: @rapidsai/numba-cuda-write

conditionally import cuda.core in tests
  numba_cuda/numba/cuda/tests/cudapy/test_compiler.py
Owners: @rapidsai/numba-cuda-write

skip linkable code
  numba_cuda/numba/cuda/tests/cudadrv/test_linkable_code.py
Owners: @rapidsai/numba-cuda-write

Vendor in core.registry for CUDA-specific changes
  numba_cuda/numba/cuda/core/inline_closurecall.py
  numba_cuda/numba/cuda/core/ir_utils.py
  numba_cuda/numba/cuda/core/registry.py
  numba_cuda/numba/cuda/cudadrv/ndarray.py
Owners: @rapidsai/numba-cuda-write

pin dep for windows only
  pyproject.toml
Owners: @rapidsai/packaging-codeowners

whitespace changes
  numba_cuda/numba/cuda/cudadrv/driver.py
Owners: @rapidsai/numba-cuda-write

[Refactor][NFC] Vendor-in core Numba analysis utils for CUDA-specific changes
  numba_cuda/numba/cuda/core/analysis.py
  numba_cuda/numba/cuda/core/controlflow.py
  numba_cuda/numba/cuda/core/ir_utils.py
  numba_cuda/numba/cuda/core/ssa.py
  numba_cuda/numba/cuda/core/untyped_passes.py
  numba_cuda/numba/cuda/lowering.py
Owners: @rapidsai/numba-cuda-write

[Refactor][NFC] Vendor-in core Numba byteflow utils for CUDA-specific changes
  numba_cuda/numba/cuda/core/byteflow.py
  numba_cuda/numba/cuda/core/interpreter.py
Owners: @rapidsai/numba-cuda-write

adds tests
  numba_cuda/numba/cuda/tests/test_analysis.py
  numba_cuda/numba/cuda/tests/test_byteflow.py
  numba_cuda/numba/cuda/tests/test_flow_control.py
Owners: @rapidsai/numba-cuda-write

add support back for python 3.9
  numba_cuda/numba/cuda/core/byteflow.py
Owners: @rapidsai/numba-cuda-write

fix dangling import to upstream utils
  numba_cuda/numba/cuda/core/byteflow.py
Owners: @rapidsai/numba-cuda-write

add python 3.9 support back, there's no functional change that needs to be made
  numba_cuda/numba/cuda/core/controlflow.py
Owners: @rapidsai/numba-cuda-write

fix import of unsupported bytecode error
  numba_cuda/numba/cuda/core/byteflow.py
Owners: @rapidsai/numba-cuda-write

update tests to target cuda
  numba_cuda/numba/cuda/simulator/compiler.py
  numba_cuda/numba/cuda/tests/test_flow_control.py
Owners: @rapidsai/numba-cuda-write

revert tests to run on python 3.9
  numba_cuda/numba/cuda/tests/test_analysis.py
  numba_cuda/numba/cuda/tests/test_flow_control.py
Owners: @rapidsai/numba-cuda-write

don't run analysis pass tests in sim + remove phi tests that test return-related func
  numba_cuda/numba/cuda/core/controlflow.py
  numba_cuda/numba/cuda/core/ir_utils.py
  numba_cuda/numba/cuda/core/ssa.py
  numba_cuda/numba/cuda/simulator/compiler.py
  numba_cuda/numba/cuda/simulator/tests/support.py
  numba_cuda/numba/cuda/tests/test_analysis.py
  numba_cuda/numba/cuda/tests/test_flow_control.py
Owners: @rapidsai/numba-cuda-write

wip: removed dangling imports, need to port tests to gpu maybwe
  numba_cuda/numba/cuda/tests/test_analysis.py
Owners: @rapidsai/numba-cuda-write

skip analysis tests again on cudasim
  numba_cuda/numba/cuda/tests/test_analysis.py
Owners: @rapidsai/numba-cuda-write

remove tests with pipeline_class usage, unsupported in numba-cuda
  numba_cuda/numba/cuda/tests/test_analysis.py
Owners: @rapidsai/numba-cuda-write

wip: updating imports, geting failures
  numba_cuda/numba/cuda/core/inline_closurecall.py
  numba_cuda/numba/cuda/tests/support.py
  numba_cuda/numba/cuda/tests/test_analysis.py
  numba_cuda/numba/cuda/tests/test_flow_control.py
Owners: @rapidsai/numba-cuda-write

fix infinite_loop test to work on python 3.9
  numba_cuda/numba/cuda/tests/test_flow_control.py
Owners: @rapidsai/numba-cuda-write

fix dangling ir_utils import
  numba_cuda/numba/cuda/tests/test_analysis.py
Owners: @rapidsai/numba-cuda-write

remove unsupported/untested tests
  numba_cuda/numba/cuda/tests/support.py
  numba_cuda/numba/cuda/tests/test_analysis.py
Owners: @rapidsai/numba-cuda-write

re-add python 3.9 test fix
  numba_cuda/numba/cuda/tests/test_analysis.py
Owners: @rapidsai/numba-cuda-write

Revert "pin dep for windows only"
  pyproject.toml
Owners: @rapidsai/packaging-codeowners

update powershell script
  ci/test_wheel.ps1
Owners: @rapidsai/ci-codeowners

reorder
  ci/test_wheel.ps1
Owners: @rapidsai/ci-codeowners

numba 0.61.*
  ci/test_wheel.ps1
Owners: @rapidsai/ci-codeowners

port tests to gpu
  numba_cuda/numba/cuda/tests/test_analysis.py
Owners: @rapidsai/numba-cuda-write

whitespace formatting changes
  numba_cuda/numba/cuda/testing.py
  numba_cuda/numba/cuda/tests/cudapy/test_ipc.py
Owners: @rapidsai/numba-cuda-write

Restrict `llvmlite` to `<0.45` for windows only (#487)
  ci/test_wheel.ps1
Owners: @rapidsai/ci-codeowners

Bump version to 0.20.0
  numba_cuda/VERSION
Owners: @rapidsai/numba-cuda-write

Bump version to 0.20.0 (#480)
  numba_cuda/VERSION
Owners: @rapidsai/numba-cuda-write

Fix packaging issues
  README.md
  pyproject.toml
Owners: @rapidsai/packaging-codeowners

removed pdlike_usecases and include_path
  numba_cuda/numba/cuda/extending.py
  numba_cuda/numba/cuda/tests/pdlike_usecase.py
Owners: @rapidsai/numba-cuda-write

[Refactor][NFC] Vendor-in more cpython registries for future CUDA-specific changes (#478)
  numba_cuda/numba/cuda/core/inline_closurecall.py
  numba_cuda/numba/cuda/core/pythonapi.py
  numba_cuda/numba/cuda/core/unsafe/bytes.py
  numba_cuda/numba/cuda/core/unsafe/eh.py
  numba_cuda/numba/cuda/core/unsafe/refcount.py
  numba_cuda/numba/cuda/cpython/charseq.py
  numba_cuda/numba/cuda/cpython/iterators.py
  numba_cuda/numba/cuda/cpython/listobj.py
  numba_cuda/numba/cuda/cpython/slicing.py
  numba_cuda/numba/cuda/cpython/unicode.py
  numba_cuda/numba/cuda/cpython/unicode_support.py
  numba_cuda/numba/cuda/target.py
  numba_cuda/numba/cuda/tests/nocuda/test_import.py
  numba_cuda/numba/cuda/tests/support.py
Owners: @rapidsai/numba-cuda-write

[test] Remove dep on cpu_target
  numba_cuda/numba/cuda/tests/cudapy/test_ir_utils.py
Owners: @rapidsai/numba-cuda-write

Skip ir utils test on simulator
  numba_cuda/numba/cuda/tests/cudapy/test_ir_utils.py
Owners: @rapidsai/numba-cuda-write

Fix formatting in _dispatcher.cpp
  numba_cuda/numba/cuda/cext/_dispatcher.cpp
Owners: @rapidsai/numba-cuda-write

[Refactor][NFC] Vendor-in numba.extending for future CUDA-specific changes (#466)
  numba_cuda/numba/cuda/_internal/cuda_bf16.py
  numba_cuda/numba/cuda/_internal/cuda_fp16.py
  numba_cuda/numba/cuda/bf16.py
  numba_cuda/numba/cuda/cg.py
  numba_cuda/numba/cuda/core/ir_utils.py
  numba_cuda/numba/cuda/core/typed_passes.py
  numba_cuda/numba/cuda/cpython/cmathimpl.py
  numba_cuda/numba/cuda/cpython/mathimpl.py
  numba_cuda/numba/cuda/cpython/numbers.py
  numba_cuda/numba/cuda/extending.py
  numba_cuda/numba/cuda/fp16.py
  numba_cuda/numba/cuda/intrinsics.py
  numba_cuda/numba/cuda/models.py
  numba_cuda/numba/cuda/np/npyfuncs.py
  numba_cuda/numba/cuda/tests/cudapy/extensions_usecases.py
  numba_cuda/numba/cuda/tests/cudapy/test_extending.py
  numba_cuda/numba/cuda/tests/cudapy/test_overload.py
  numba_cuda/numba/cuda/tests/cudapy/test_ssa.py
  numba_cuda/numba/cuda/tests/overload_usecases.py
  numba_cuda/numba/cuda/tests/support.py
  numba_cuda/numba/cuda/tests/test_extending.py
  numba_cuda/numba/cuda/tests/test_extending_types.py
  numba_cuda/numba/cuda/vector_types.py
Owners: @rapidsai/numba-cuda-write
