Repository NVIDIA/numba-cuda, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rapidsai/numba-cuda-write, @rapidsai/ci-codeowners, @rapidsai/packaging-codeowners

Implement launch config support.
  docs/source/reference/kernel.rst
  numba_cuda/numba/cuda/cext/_dispatcher.cpp
  numba_cuda/numba/cuda/compiler.py
  numba_cuda/numba/cuda/dispatcher.py
  numba_cuda/numba/cuda/launchconfig.py
  numba_cuda/numba/cuda/tests/cudapy/cache_launch_config_insensitive_usecases.py
  numba_cuda/numba/cuda/tests/cudapy/cache_launch_config_sensitive_usecases.py
  numba_cuda/numba/cuda/tests/cudapy/test_caching.py
  numba_cuda/numba/cuda/tests/cudapy/test_dispatcher.py
  numba_cuda/numba/cuda/tests/cudapy/test_launch_config_sensitive.py
Owners: @rapidsai/numba-cuda-write

Use sentinel key for no-launch-config LCS cache lookups
  numba_cuda/numba/cuda/dispatcher.py
  numba_cuda/numba/cuda/tests/cudapy/test_caching.py
Owners: @rapidsai/numba-cuda-write

Store launch args in C TLS instead of threading.local
  numba_cuda/numba/cuda/cext/_dispatcher.cpp
  numba_cuda/numba/cuda/dispatcher.py
  numba_cuda/numba/cuda/tests/cudapy/test_dispatcher.py
Owners: @rapidsai/numba-cuda-write

Move launch config docs below dispatcher docs
  docs/source/reference/kernel.rst
Owners: none

Drop launch-config compatibility wrapper
  numba_cuda/numba/cuda/compiler.py
  numba_cuda/numba/cuda/dispatcher.py
  numba_cuda/numba/cuda/tests/cudapy/test_dispatcher.py
Owners: @rapidsai/numba-cuda-write

Prefer dispatcher API for launch config sensitivity
  docs/source/reference/kernel.rst
  numba_cuda/numba/cuda/dispatcher.py
  numba_cuda/numba/cuda/tests/cudapy/cache_launch_config_sensitive_usecases.py
  numba_cuda/numba/cuda/tests/cudapy/test_dispatcher.py
  numba_cuda/numba/cuda/tests/cudapy/test_launch_config_sensitive.py
Owners: @rapidsai/numba-cuda-write

Fix capture_compile_config restoration test
  numba_cuda/numba/cuda/launchconfig.py
  numba_cuda/numba/cuda/tests/cudapy/test_dispatcher.py
Owners: @rapidsai/numba-cuda-write

updates
  ci/test_thirdparty_cudf.sh
Owners: @rapidsai/ci-codeowners

reenable tests
  ci/test_thirdparty_cudf.sh
Owners: @rapidsai/ci-codeowners

fix: normalize numpy integer types to python int to prevent overflow errors (#774)
  numba_cuda/numba/cuda/cudadrv/devicearray.py
  numba_cuda/numba/cuda/cudadrv/dummyarray.py
  numba_cuda/numba/cuda/tests/nocuda/test_dummyarray.py
Owners: @rapidsai/numba-cuda-write

bump version to 0.29.0
  numba_cuda/VERSION
Owners: @rapidsai/numba-cuda-write

Bump Version to 0.29.0 (#838)
  numba_cuda/VERSION
Owners: @rapidsai/numba-cuda-write

add query tests
  ci/test_thirdparty_cudf.sh
Owners: @rapidsai/ci-codeowners

Test cuDF third party test `test_groupby_apply_return_reindexed_series` (#823)
  ci/test_thirdparty_cudf.sh
Owners: @rapidsai/ci-codeowners

Move cuda-pathfinder dependency to core (#835)
  pyproject.toml
Owners: @rapidsai/packaging-codeowners

Fix cache invalidation logic. (#800)
  numba_cuda/numba/cuda/core/caching.py
  numba_cuda/numba/cuda/tests/nocuda/test_cache_version.py
Owners: @rapidsai/numba-cuda-write

Store launch args in C TLS instead of threading.local
  numba_cuda/numba/cuda/cext/_dispatcher.cpp
  numba_cuda/numba/cuda/dispatcher.py
  numba_cuda/numba/cuda/tests/cudapy/test_dispatcher.py
Owners: @rapidsai/numba-cuda-write

Move launch config docs below dispatcher docs
  docs/source/reference/kernel.rst
Owners: none

Prefer dispatcher API for launch config sensitivity
  docs/source/reference/kernel.rst
  numba_cuda/numba/cuda/dispatcher.py
  numba_cuda/numba/cuda/tests/cudapy/cache_launch_config_sensitive_usecases.py
  numba_cuda/numba/cuda/tests/cudapy/test_dispatcher.py
  numba_cuda/numba/cuda/tests/cudapy/test_launch_config_sensitive.py
Owners: @rapidsai/numba-cuda-write

Drop launch-config compatibility wrapper
  numba_cuda/numba/cuda/compiler.py
  numba_cuda/numba/cuda/dispatcher.py
  numba_cuda/numba/cuda/tests/cudapy/test_dispatcher.py
Owners: @rapidsai/numba-cuda-write

Implement launch config support.
  docs/source/reference/kernel.rst
  numba_cuda/numba/cuda/cext/_dispatcher.cpp
  numba_cuda/numba/cuda/compiler.py
  numba_cuda/numba/cuda/dispatcher.py
  numba_cuda/numba/cuda/launchconfig.py
  numba_cuda/numba/cuda/tests/cudapy/cache_launch_config_insensitive_usecases.py
  numba_cuda/numba/cuda/tests/cudapy/cache_launch_config_sensitive_usecases.py
  numba_cuda/numba/cuda/tests/cudapy/test_caching.py
  numba_cuda/numba/cuda/tests/cudapy/test_dispatcher.py
  numba_cuda/numba/cuda/tests/cudapy/test_launch_config_sensitive.py
Owners: @rapidsai/numba-cuda-write

Raise on pickling launch configs with callbacks
  numba_cuda/numba/cuda/dispatcher.py
  numba_cuda/numba/cuda/tests/cudapy/test_serialize.py
Owners: @rapidsai/numba-cuda-write

Fix capture_compile_config restoration test
  numba_cuda/numba/cuda/launchconfig.py
  numba_cuda/numba/cuda/tests/cudapy/test_dispatcher.py
Owners: @rapidsai/numba-cuda-write

Use sentinel key for no-launch-config LCS cache lookups
  numba_cuda/numba/cuda/dispatcher.py
  numba_cuda/numba/cuda/tests/cudapy/test_caching.py
Owners: @rapidsai/numba-cuda-write

fix https://github.com/NVIDIA/numba-cuda/issues/118
  numba_cuda/numba/cuda/compiler.py
  numba_cuda/numba/cuda/dispatcher.py
  numba_cuda/numba/cuda/tests/cudapy/test_fma.py
Owners: @rapidsai/numba-cuda-write

PR feedback: improve docs/clarity.
  docs/source/reference/kernel.rst
Owners: none

PR feedback: clarify what can't be done in callbacks.
  docs/source/reference/kernel.rst
  numba_cuda/numba/cuda/dispatcher.py
Owners: @rapidsai/numba-cuda-write

Implement launch config infrastructure. (#804)
  docs/source/reference/kernel.rst
  numba_cuda/numba/cuda/cext/_dispatcher.cpp
  numba_cuda/numba/cuda/compiler.py
  numba_cuda/numba/cuda/dispatcher.py
  numba_cuda/numba/cuda/launchconfig.py
  numba_cuda/numba/cuda/tests/cudapy/cache_launch_config_insensitive_usecases.py
  numba_cuda/numba/cuda/tests/cudapy/cache_launch_config_sensitive_usecases.py
  numba_cuda/numba/cuda/tests/cudapy/test_caching.py
  numba_cuda/numba/cuda/tests/cudapy/test_dispatcher.py
  numba_cuda/numba/cuda/tests/cudapy/test_launch_config_sensitive.py
  numba_cuda/numba/cuda/tests/cudapy/test_serialize.py
Owners: @rapidsai/numba-cuda-write

Replaced PATH search for nvdisasm with cuda.pathfinder
  numba_cuda/numba/cuda/codegen.py
Owners: @rapidsai/numba-cuda-write

Update pathfinder deps
  pixi.lock
  pixi.toml
  pyproject.toml
Owners: @rapidsai/packaging-codeowners

Minor improvements
  numba_cuda/numba/cuda/codegen.py
Owners: @rapidsai/numba-cuda-write

Use pathfinder for nvdisasm detection in test skip decorators
  numba_cuda/numba/cuda/testing.py
  numba_cuda/numba/cuda/tests/cudapy/test_inspect.py
Owners: @rapidsai/numba-cuda-write

Fix CABI calling convention: skip env global and escape mangled names
  numba_cuda/numba/cuda/core/callconv.py
  numba_cuda/numba/cuda/itanium_mangler.py
  numba_cuda/numba/cuda/lowering.py
  numba_cuda/numba/cuda/tests/core/test_itanium_mangler.py
  numba_cuda/numba/cuda/tests/cudapy/test_compiler.py
Owners: @rapidsai/numba-cuda-write

Use cuda-pathfinder to locate nvdisasm (#842)
  numba_cuda/numba/cuda/codegen.py
  numba_cuda/numba/cuda/testing.py
  numba_cuda/numba/cuda/tests/cudapy/test_inspect.py
  pixi.lock
  pixi.toml
  pyproject.toml
Owners: @rapidsai/numba-cuda-write, @rapidsai/packaging-codeowners

Fix CABI calling convention: skip env global and escape mangled names (#844)
  numba_cuda/numba/cuda/core/callconv.py
  numba_cuda/numba/cuda/itanium_mangler.py
  numba_cuda/numba/cuda/lowering.py
  numba_cuda/numba/cuda/tests/core/test_itanium_mangler.py
  numba_cuda/numba/cuda/tests/cudapy/test_compiler.py
Owners: @rapidsai/numba-cuda-write

Map types.NoneType to LLVM void return type instead of i8*
  numba_cuda/numba/cuda/core/callconv.py
  numba_cuda/numba/cuda/models.py
  numba_cuda/numba/cuda/tests/cudapy/test_device_func.py
Owners: @rapidsai/numba-cuda-write

Document NoneTypeModel shadowing of default_manager's OpaqueModel
  numba_cuda/numba/cuda/models.py
Owners: @rapidsai/numba-cuda-write

Remove stale NoneType registration from OpaqueModel in cuda_models.py
  numba_cuda/numba/cuda/datamodel/cuda_models.py
Owners: @rapidsai/numba-cuda-write

Update NoneTypeModel docstring to reflect cuda_models.py removal
  numba_cuda/numba/cuda/models.py
Owners: @rapidsai/numba-cuda-write

checkpointing
  numba_cuda/numba/cuda/tests/cudapy/test_device_func.py
Owners: @rapidsai/numba-cuda-write

.github/CODEOWNERS:

#python code owners
numba_cuda/            @rapidsai/numba-cuda-write

#cmake code owners
**/CMakeLists.txt  @rapidsai/numba-cuda-write
**/cmake/          @rapidsai/numba-cuda-write

#CI code owners
/.github/                @rapidsai/ci-codeowners
/ci/                     @rapidsai/ci-codeowners
/.pre-commit-config.yaml @rapidsai/ci-codeowners

#packaging code owners
/.devcontainer/    @rapidsai/packaging-codeowners
/conda/            @rapidsai/packaging-codeowners
/dependencies.yaml @rapidsai/packaging-codeowners
/build.sh          @rapidsai/packaging-codeowners
pyproject.toml     @rapidsai/packaging-codeowners
