Repository NVIDIA/numba-cuda, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rapidsai/numba-cuda-write, @rapidsai/ci-codeowners, @rapidsai/packaging-codeowners

.github/CODEOWNERS:

#python code owners
numba_cuda/            @rapidsai/numba-cuda-write

#cmake code owners
**/CMakeLists.txt  @rapidsai/numba-cuda-write
**/cmake/          @rapidsai/numba-cuda-write

#CI code owners
/.github/                @rapidsai/ci-codeowners
/ci/                     @rapidsai/ci-codeowners
/.pre-commit-config.yaml @rapidsai/ci-codeowners

#packaging code owners
/.devcontainer/    @rapidsai/packaging-codeowners
/conda/            @rapidsai/packaging-codeowners
/dependencies.yaml @rapidsai/packaging-codeowners
/build.sh          @rapidsai/packaging-codeowners
pyproject.toml     @rapidsai/packaging-codeowners

Add support for default overload values
  numba_cuda/numba/cuda/dispatcher.py
  numba_cuda/numba/cuda/tests/cudapy/test_nested_calls.py
Owners: @rapidsai/numba-cuda-write

drop to ctypes ptr in nrt when using nv binding
  numba_cuda/numba/cuda/cudadrv/driver.py
  numba_cuda/numba/cuda/runtime/nrt.py
Owners: @rapidsai/numba-cuda-write

Clean up overload tests
  numba_cuda/numba/cuda/tests/cudapy/test_nested_calls.py
  numba_cuda/numba/cuda/tests/cudapy/test_overload.py
Owners: @rapidsai/numba-cuda-write

Add support for default overload values (#160)
  numba_cuda/numba/cuda/dispatcher.py
  numba_cuda/numba/cuda/tests/cudapy/test_overload.py
Owners: @rapidsai/numba-cuda-write

Switch to real NumPy from mock NumPy
  numba_cuda/numba/cuda/tests/nrt/mock_numpy.py
  numba_cuda/numba/cuda/tests/nrt/test_nrt.py
  numba_cuda/numba/cuda/tests/nrt/test_nrt_refct.py
Owners: @rapidsai/numba-cuda-write

Switch to real NumPy from mock NumPy (#161)
  numba_cuda/numba/cuda/tests/nrt/mock_numpy.py
  numba_cuda/numba/cuda/tests/nrt/test_nrt.py
  numba_cuda/numba/cuda/tests/nrt/test_nrt_refct.py
Owners: @rapidsai/numba-cuda-write

add managed module object
  numba_cuda/numba/cuda/cudadrv/managed_module.py
  numba_cuda/numba/cuda/dispatcher.py
  numba_cuda/numba/cuda/tests/cudadrv/test_module_callbacks.py
Owners: @rapidsai/numba-cuda-write

add two kernels test
  numba_cuda/numba/cuda/tests/cudadrv/test_module_callbacks.py
Owners: @rapidsai/numba-cuda-write

pass more tests
  numba_cuda/numba/cuda/codegen.py
  numba_cuda/numba/cuda/cudadrv/driver.py
  numba_cuda/numba/cuda/tests/cudadrv/test_nvjitlink.py
Owners: @rapidsai/numba-cuda-write

add kernel finalizer
  numba_cuda/numba/cuda/cudadrv/managed_module.py
  numba_cuda/numba/cuda/dispatcher.py
  numba_cuda/numba/cuda/tests/cudadrv/test_module_callbacks.py
Owners: @rapidsai/numba-cuda-write

pass compute sanitizer on the python side
  numba_cuda/numba/cuda/decorators.py
  numba_cuda/numba/cuda/dispatcher.py
  numba_cuda/numba/cuda/runtime/nrt.cu
  numba_cuda/numba/cuda/runtime/nrt.cuh
Owners: @rapidsai/numba-cuda-write

removing kernel finalizers
  numba_cuda/numba/cuda/dispatcher.py
  numba_cuda/numba/cuda/tests/cudadrv/test_module_callbacks.py
Owners: @rapidsai/numba-cuda-write

add docstring
  numba_cuda/numba/cuda/cudadrv/managed_module.py
Owners: @rapidsai/numba-cuda-write

add doc
  docs/source/user/cuda_ffi.rst
Owners: none

pass more tests
  numba_cuda/numba/cuda/codegen.py
  numba_cuda/numba/cuda/cudadrv/driver.py
  numba_cuda/numba/cuda/tests/cudadrv/test_nvjitlink.py
Owners: @rapidsai/numba-cuda-write

add mechanism to allow external linkage set in target context
  numba_cuda/numba/cuda/dispatcher.py
  numba_cuda/numba/cuda/target.py
Owners: @rapidsai/numba-cuda-write

partial fixing of more tests
  numba_cuda/numba/cuda/codegen.py
  numba_cuda/numba/cuda/cudadrv/driver.py
  numba_cuda/numba/cuda/tests/cudadrv/test_nvjitlink.py
Owners: @rapidsai/numba-cuda-write

initial ci scripts
  .github/workflows/pr.yaml
  ci/test_wheel_deps_wheels.sh
Owners: @rapidsai/ci-codeowners

add pynvjitlink to tests and enable
  ci/test_wheel_deps_wheels.sh
Owners: @rapidsai/ci-codeowners

move context clearing immediately after compilation
  numba_cuda/numba/cuda/compiler.py
  numba_cuda/numba/cuda/dispatcher.py
Owners: @rapidsai/numba-cuda-write

Update docs/source/user/cuda_ffi.rst
  docs/source/user/cuda_ffi.rst
Owners: none

initial
  .flake8
  numba_cuda/numba/cuda/cuda_bf16.py
Owners: @rapidsai/numba-cuda-write

clean
  numba_cuda/numba/cuda/dispatcher.py
  numba_cuda/numba/cuda/runtime/nrt.cu
Owners: @rapidsai/numba-cuda-write

reset files
  numba_cuda/numba/cuda/cudadrv/nvrtc.py
Owners: @rapidsai/numba-cuda-write

clean
  numba_cuda/numba/cuda/codegen.py
Owners: @rapidsai/numba-cuda-write

Fix NRT stats when cuda-python bindings in use
  numba_cuda/numba/cuda/runtime/nrt.py
Owners: @rapidsai/numba-cuda-write

NRT tests: Add a test for single stats
  numba_cuda/numba/cuda/tests/nrt/test_nrt.py
Owners: @rapidsai/numba-cuda-write

Fix NRT stats for cuda python (#168)
  numba_cuda/numba/cuda/runtime/nrt.py
  numba_cuda/numba/cuda/tests/nrt/test_nrt.py
Owners: @rapidsai/numba-cuda-write

Bump version to 0.8.0
  numba_cuda/VERSION
Owners: @rapidsai/numba-cuda-write

check all ptx files in maybe_link_nrt
  numba_cuda/numba/cuda/dispatcher.py
Owners: @rapidsai/numba-cuda-write

detect nrt in all linked ptx files
  numba_cuda/numba/cuda/decorators.py
  numba_cuda/numba/cuda/dispatcher.py
Owners: @rapidsai/numba-cuda-write

add a test that involves two streams
  numba_cuda/numba/cuda/tests/cudadrv/test_module_callbacks.py
Owners: @rapidsai/numba-cuda-write

fix test_linking_cu_log_warning
  numba_cuda/numba/cuda/cudadrv/driver.py
Owners: @rapidsai/numba-cuda-write

add wipe all module call
  numba_cuda/numba/cuda/tests/cudadrv/test_module_callbacks.py
Owners: @rapidsai/numba-cuda-write

use context reset is a better option to unload modules
  numba_cuda/numba/cuda/tests/cudadrv/test_module_callbacks.py
Owners: @rapidsai/numba-cuda-write

add test for stream completeness
  numba_cuda/numba/cuda/tests/cudadrv/test_module_callbacks.py
Owners: @rapidsai/numba-cuda-write

move logic into CtypesModule
  numba_cuda/numba/cuda/codegen.py
  numba_cuda/numba/cuda/cudadrv/driver.py
  numba_cuda/numba/cuda/cudadrv/managed_module.py
  numba_cuda/numba/cuda/dispatcher.py
  numba_cuda/numba/cuda/tests/cudadrv/test_module_callbacks.py
Owners: @rapidsai/numba-cuda-write

update docstrings
  numba_cuda/numba/cuda/cudadrv/driver.py
Owners: @rapidsai/numba-cuda-write

Bump version to 0.8.0 (#169)
  numba_cuda/VERSION
Owners: @rapidsai/numba-cuda-write

consolidate changes into create_module_image
  numba_cuda/numba/cuda/codegen.py
  numba_cuda/numba/cuda/cudadrv/driver.py
Owners: @rapidsai/numba-cuda-write
