Repository NVIDIA/numba-cuda, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rapidsai/numba-cuda-write, @rapidsai/ci-codeowners, @rapidsai/packaging-codeowners

Apply pre-commit
  docs/source/user/ufunc.rst
  numba_cuda/numba/cuda/decorators.py
  numba_cuda/numba/cuda/tests/cudapy/test_array_args.py
  numba_cuda/numba/cuda/tests/cudapy/test_blackscholes.py
  numba_cuda/numba/cuda/tests/cudapy/test_laplace.py
  numba_cuda/numba/cuda/vectorizers.py
Owners: @rapidsai/numba-cuda-write

style
  numba_cuda/numba/cuda/runtime/nrt.cuh
Owners: @rapidsai/numba-cuda-write

Apply suggestions from code review
  numba_cuda/numba/cuda/cudadrv/nvrtc.py
Owners: @rapidsai/numba-cuda-write

style
  numba_cuda/numba/cuda/cudadrv/nvrtc.py
Owners: @rapidsai/numba-cuda-write

add nvrtc API and determine passed in CC with it
  numba_cuda/numba/cuda/cudadrv/nvrtc.py
Owners: @rapidsai/numba-cuda-write

reset nvvm changes
  numba_cuda/numba/cuda/cudadrv/_info.py
  numba_cuda/numba/cuda/cudadrv/nvvm.py
Owners: @rapidsai/numba-cuda-write

hand code 11.0 and 11.1 support matrix
  numba_cuda/numba/cuda/cudadrv/nvrtc.py
Owners: @rapidsai/numba-cuda-write

Apply pre-commit
  .vscode/settings.json
  errorlog
  numba_cuda/numba/cuda/tests/test_binary_generation/test_device_functions.a
  numba_cuda/numba/cuda/tests/test_binary_generation/test_device_functions.cubin
  numba_cuda/numba/cuda/tests/test_binary_generation/test_device_functions.fatbin
  numba_cuda/numba/cuda/tests/test_binary_generation/test_device_functions.ltoir
  numba_cuda/numba/cuda/tests/test_binary_generation/test_device_functions.ltoir.o
  numba_cuda/numba/cuda/tests/test_binary_generation/test_device_functions.o
  numba_cuda/numba/cuda/tests/test_binary_generation/test_device_functions.ptx
  numba_cuda/numba/cuda/tests/test_binary_generation/test_device_functions_multi.fatbin
  numba_cuda/numba/cuda/tests/test_binary_generation/undefined_extern.cubin
  scratch/cudacore.py
  scratch/multithreads.py
  scratch/test.cu
  scratch/test.cubin
  scratch/test_cubin.py
  update.sh
Owners: @rapidsai/numba-cuda-write

Revert "Apply pre-commit"
  .vscode/settings.json
  errorlog
  numba_cuda/numba/cuda/tests/test_binary_generation/test_device_functions.a
  numba_cuda/numba/cuda/tests/test_binary_generation/test_device_functions.cubin
  numba_cuda/numba/cuda/tests/test_binary_generation/test_device_functions.fatbin
  numba_cuda/numba/cuda/tests/test_binary_generation/test_device_functions.ltoir
  numba_cuda/numba/cuda/tests/test_binary_generation/test_device_functions.ltoir.o
  numba_cuda/numba/cuda/tests/test_binary_generation/test_device_functions.o
  numba_cuda/numba/cuda/tests/test_binary_generation/test_device_functions.ptx
  numba_cuda/numba/cuda/tests/test_binary_generation/test_device_functions_multi.fatbin
  numba_cuda/numba/cuda/tests/test_binary_generation/undefined_extern.cubin
  scratch/cudacore.py
  scratch/multithreads.py
  scratch/test.cu
  scratch/test.cubin
  scratch/test_cubin.py
  update.sh
Owners: @rapidsai/numba-cuda-write

Replace flake8 with ruff and pre-commit-hooks
  .flake8
  .pre-commit-config.yaml
  pyproject.toml
Owners: @rapidsai/ci-codeowners, @rapidsai/packaging-codeowners

apply pre-commit
  numba_cuda/numba/cuda/cudadrv/nvrtc.py
  numba_cuda/numba/cuda/cudadrv/nvvm.py
Owners: @rapidsai/numba-cuda-write

ruff
  ci/test_wheel_deps_wheels.sh
  numba_cuda/numba/cuda/cuda_paths.py
  numba_cuda/numba/cuda/cudadrv/libs.py
Owners: @rapidsai/ci-codeowners, @rapidsai/numba-cuda-write

Ensure RTC Bindings Clamp to the Maximum Supported CC (#189)
  .github/actions/compute-matrix/action.yaml
  .github/workflows/conda-python-tests.yaml
  numba_cuda/numba/cuda/cudadrv/nvrtc.py
  numba_cuda/numba/cuda/cudadrv/nvvm.py
Owners: @rapidsai/ci-codeowners, @rapidsai/numba-cuda-write

Replace flake8 with ruff and pre-commit-hooks
  .flake8
  .pre-commit-config.yaml
  pyproject.toml
Owners: @rapidsai/ci-codeowners, @rapidsai/packaging-codeowners

Apply precommit
  numba_cuda/numba/cuda/codegen.py
  numba_cuda/numba/cuda/compiler.py
  numba_cuda/numba/cuda/cudadrv/driver.py
  numba_cuda/numba/cuda/cudadrv/linkable_code.py
  numba_cuda/numba/cuda/cudadrv/nvvm.py
  numba_cuda/numba/cuda/dispatcher.py
  numba_cuda/numba/cuda/locks.py
  numba_cuda/numba/cuda/tests/cudadrv/test_module_callbacks.py
  numba_cuda/numba/cuda/tests/cudadrv/test_nvjitlink.py
  numba_cuda/numba/cuda/tests/cudapy/test_debuginfo.py
  numba_cuda/numba/cuda/tests/cudapy/test_device_func.py
  numba_cuda/numba/cuda/tests/cudapy/test_overload.py
  numba_cuda/numba/cuda/tests/nrt/test_nrt.py
  numba_cuda/numba/cuda/tests/nrt/test_nrt_refct.py
Owners: @rapidsai/numba-cuda-write

Add cuda specific make_attribute_wrapper
  numba_cuda/numba/cuda/extending.py
Owners: @rapidsai/numba-cuda-write

Update tests to use cuda specific make_attribute_wrapper
  numba_cuda/numba/cuda/tests/cudapy/extensions_usecases.py
  numba_cuda/numba/cuda/tests/cudapy/test_extending.py
  numba_cuda/numba/cuda/vector_types.py
Owners: @rapidsai/numba-cuda-write

Remove circular import
  numba_cuda/numba/cuda/extending.py
Owners: @rapidsai/numba-cuda-write

LinkableCode accepts nrt parameter
  numba_cuda/numba/cuda/cudadrv/linkable_code.py
  numba_cuda/numba/cuda/dispatcher.py
  numba_cuda/numba/cuda/tests/nrt/test_nrt.py
  numba_cuda/numba/cuda/tests/test_binary_generation/Makefile
  numba_cuda/numba/cuda/tests/test_binary_generation/nrt_extern.cu
Owners: @rapidsai/numba-cuda-write

prioritize wheels over system installs
  numba_cuda/numba/cuda/cuda_paths.py
Owners: @rapidsai/numba-cuda-write

Fix empty array slice tests for NumPy >= 2.2
  numba_cuda/numba/cuda/tests/cudadrv/test_cuda_array_slicing.py
Owners: @rapidsai/numba-cuda-write

Test CUDA 12.8. (#187)
  .github/actions/compute-matrix/action.yaml
  .github/workflows/conda-python-tests.yaml
  .github/workflows/wheels-test.yaml
  numba_cuda/numba/cuda/tests/cudadrv/test_cuda_array_slicing.py
Owners: @rapidsai/ci-codeowners, @rapidsai/numba-cuda-write

apply compile lock to make sure modules are not compiled more than one time
  numba_cuda/numba/cuda/dispatcher.py
  numba_cuda/numba/cuda/tests/cudadrv/test_module_callbacks.py
Owners: @rapidsai/numba-cuda-write

add configuration file
  numba_cuda/configs/cuda_bf16.yml
Owners: @rapidsai/numba-cuda-write

update bf16 bindings with latest numbast
  configs/cuda_bf16.yml
  numba_cuda/numba/cuda/cuda_bf16.py
Owners: @rapidsai/numba-cuda-write

start to flesh out nrt docs
  docs/source/user/cudapysupported.rst
Owners: none

Report NVRTC builtin operation failures to the user
  numba_cuda/numba/cuda/cudadrv/error.py
  numba_cuda/numba/cuda/cudadrv/nvrtc.py
Owners: @rapidsai/numba-cuda-write

global search priority
  numba_cuda/numba/cuda/cuda_paths.py
Owners: @rapidsai/numba-cuda-write

Add Module Setup and Teardown Callback to Linkable Code Interface (#145)
  docs/source/user/cuda_ffi.rst
  numba_cuda/numba/cuda/codegen.py
  numba_cuda/numba/cuda/cudadrv/driver.py
  numba_cuda/numba/cuda/cudadrv/linkable_code.py
  numba_cuda/numba/cuda/dispatcher.py
  numba_cuda/numba/cuda/locks.py
  numba_cuda/numba/cuda/tests/cudadrv/test_module_callbacks.py
  numba_cuda/numba/cuda/tests/nrt/test_nrt.py
Owners: @rapidsai/numba-cuda-write

Report NVRTC builtin operation failures to the user (#196)
  numba_cuda/numba/cuda/cudadrv/error.py
  numba_cuda/numba/cuda/cudadrv/nvrtc.py
Owners: @rapidsai/numba-cuda-write

Apply pre-commit
  .flake8
  .pre-commit-config.yaml
  configs/cuda_bf16.yml
  numba_cuda/numba/cuda/compiler.py
  numba_cuda/numba/cuda/cuda_bf16.py
  numba_cuda/numba/cuda/cudadrv/nvvm.py
  numba_cuda/numba/cuda/dispatcher.py
  numba_cuda/numba/cuda/runtime/nrt.py
  numba_cuda/numba/cuda/target.py
  numba_cuda/numba/cuda/tests/cudadrv/test_nvjitlink.py
  numba_cuda/numba/cuda/tests/cudapy/test_bfloat16_bindings.py
  numba_cuda/numba/cuda/tests/cudapy/test_debuginfo.py
  numba_cuda/numba/cuda/tests/cudapy/test_device_func.py
  numba_cuda/numba/cuda/tests/cudapy/test_overload.py
  numba_cuda/numba/cuda/tests/nrt/test_nrt.py
  numba_cuda/numba/cuda/tests/nrt/test_nrt_refct.py
  pyproject.toml
Owners: @rapidsai/ci-codeowners, @rapidsai/numba-cuda-write, @rapidsai/packaging-codeowners

reorder steps in pynvjitlink wheel test job
  ci/test_wheel_pynvjitlink.sh
Owners: @rapidsai/ci-codeowners

local import of driver to determine cuda version
  numba_cuda/numba/cuda/cuda_paths.py
Owners: @rapidsai/numba-cuda-write

short circuit
  numba_cuda/numba/cuda/cuda_paths.py
Owners: @rapidsai/numba-cuda-write

bugfix
  numba_cuda/numba/cuda/cuda_paths.py
Owners: @rapidsai/numba-cuda-write

update fp16 bindings, vend bf16 bindings
  configs/cuda_bf16.yml
  numba_cuda/numba/cuda/cuda_bf16.h
  numba_cuda/numba/cuda/cuda_bf16.hpp
  numba_cuda/numba/cuda/cuda_bf16.py
  numba_cuda/numba/cuda/cuda_fp16.h
  numba_cuda/numba/cuda/cuda_fp16.hpp
Owners: @rapidsai/numba-cuda-write

Update numba_cuda/numba/cuda/dispatcher.py
  numba_cuda/numba/cuda/dispatcher.py
Owners: @rapidsai/numba-cuda-write

dynamically determine the shim include header
  numba_cuda/numba/cuda/cuda_bf16.py
Owners: @rapidsai/numba-cuda-write

conditionally enable pynvjitlink feature
  numba_cuda/numba/cuda/cuda_bf16.py
Owners: @rapidsai/numba-cuda-write

conditionally enable pynvjitlink based on existance
  numba_cuda/numba/cuda/cuda_bf16.py
  numba_cuda/numba/cuda/tests/cudapy/test_bfloat16_bindings.py
Owners: @rapidsai/numba-cuda-write

.github/CODEOWNERS:

#python code owners
numba_cuda/            @rapidsai/numba-cuda-write

#cmake code owners
**/CMakeLists.txt  @rapidsai/numba-cuda-write
**/cmake/          @rapidsai/numba-cuda-write

#CI code owners
/.github/                @rapidsai/ci-codeowners
/ci/                     @rapidsai/ci-codeowners
/.pre-commit-config.yaml @rapidsai/ci-codeowners

#packaging code owners
/.devcontainer/    @rapidsai/packaging-codeowners
/conda/            @rapidsai/packaging-codeowners
/dependencies.yaml @rapidsai/packaging-codeowners
/build.sh          @rapidsai/packaging-codeowners
pyproject.toml     @rapidsai/packaging-codeowners
