Repository NVIDIA/numba-cuda, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rapidsai/numba-cuda-write, @rapidsai/ci-codeowners, @rapidsai/packaging-codeowners

test: give a longer timeout for multiple futures
  numba_cuda/numba/cuda/tests/cudapy/test_ipc.py
Owners: @rapidsai/numba-cuda-write

test: add benchmarks for kernel launch for reproducibility
  README.md
  numba_cuda/numba/cuda/tests/benchmarks/test_kernel_launch.py
  pyproject.toml
  testing/pytest.ini
Owners: @rapidsai/numba-cuda-write, @rapidsai/packaging-codeowners

chore: ignore .benchmarks dir
  .gitignore
Owners: none

chore: make benchmarks module
  numba_cuda/numba/cuda/tests/benchmarks/__init__.py
Owners: @rapidsai/numba-cuda-write

chore: add bench/benchcmp tasks
  pixi.lock
  pyproject.toml
Owners: @rapidsai/packaging-codeowners

enable nrt
  numba_cuda/numba/cuda/tests/test_array_reductions.py
Owners: @rapidsai/numba-cuda-write

test: avoid building when running benchmarks
  pyproject.toml
Owners: @rapidsai/packaging-codeowners

test: remove commented-out setup/teardown
  numba_cuda/numba/cuda/tests/cudapy/test_ipc.py
Owners: @rapidsai/numba-cuda-write

test: remove unnecessary exception shenanigans
  numba_cuda/numba/cuda/tests/cudapy/test_ipc.py
Owners: @rapidsai/numba-cuda-write

chore: include pytest-benchmark in ci that uses conda
  ci/test_conda.sh
  ci/test_simulator.sh
Owners: @rapidsai/ci-codeowners

chore: pixi lockfile
  pixi.lock
Owners: none

deps
  conda/recipes/numba-cuda/meta.yaml
  pyproject.toml
Owners: @rapidsai/packaging-codeowners

small fix
  numba_cuda/numba/cuda/tests/cudadrv/test_cuda_driver.py
Owners: @rapidsai/numba-cuda-write

small fix
  numba_cuda/numba/cuda/tests/cudadrv/test_cuda_driver.py
Owners: @rapidsai/numba-cuda-write

fixes
  numba_cuda/numba/cuda/ufuncs.py
Owners: @rapidsai/numba-cuda-write

test: add benchmarks for kernel launch for reproducibility (#528)
  .gitignore
  README.md
  ci/test_conda.sh
  ci/test_simulator.sh
  numba_cuda/numba/cuda/tests/benchmarks/__init__.py
  numba_cuda/numba/cuda/tests/benchmarks/test_kernel_launch.py
  pixi.lock
  pyproject.toml
  testing/pytest.ini
Owners: @rapidsai/ci-codeowners, @rapidsai/numba-cuda-write, @rapidsai/packaging-codeowners

test: enable warnings
  testing/pytest.ini
Owners: none

test: rename things to avoid pytest discovering non-test objects
  numba_cuda/numba/cuda/tests/cudapy/extensions_usecases.py
  numba_cuda/numba/cuda/tests/cudapy/test_localmem.py
  numba_cuda/numba/cuda/tests/cudapy/test_sm.py
  numba_cuda/numba/cuda/tests/cudapy/test_sm_creation.py
Owners: @rapidsai/numba-cuda-write

test: clean up most warnings
  numba_cuda/numba/cuda/testing.py
  numba_cuda/numba/cuda/tests/cudadrv/test_cuda_libraries.py
  numba_cuda/numba/cuda/tests/cudadrv/test_is_fp16.py
  numba_cuda/numba/cuda/tests/cudadrv/test_linker.py
  numba_cuda/numba/cuda/tests/cudadrv/test_nvjitlink.py
  numba_cuda/numba/cuda/tests/cudadrv/test_nvvm_driver.py
  numba_cuda/numba/cuda/tests/cudapy/test_atomics.py
  numba_cuda/numba/cuda/tests/cudapy/test_compiler.py
  numba_cuda/numba/cuda/tests/cudapy/test_gufunc.py
  numba_cuda/numba/cuda/tests/cudapy/test_lineinfo.py
  numba_cuda/numba/cuda/tests/cudapy/test_math.py
  numba_cuda/numba/cuda/tests/cudapy/test_typeinfer.py
  numba_cuda/numba/cuda/tests/cudapy/test_warning.py
Owners: @rapidsai/numba-cuda-write

test: give up on floating point arithmetic
  numba_cuda/numba/cuda/tests/cudapy/test_math.py
Owners: @rapidsai/numba-cuda-write

test: disable copy to host performance warnings
  numba_cuda/numba/cuda/tests/nrt/test_nrt_refct.py
  numba_cuda/numba/cuda/tests/test_analysis.py
  numba_cuda/numba/cuda/tests/test_extending.py
Owners: @rapidsai/numba-cuda-write

test: disable benchmarks by default due to presence of xdist
  testing/pytest.ini
Owners: none

test: disable low occupancy warnings
  testing/pytest.ini
Owners: none

test: revert inadvertently renamed test
  numba_cuda/numba/cuda/tests/cudapy/test_localmem.py
Owners: @rapidsai/numba-cuda-write

perf: remove unnecessary metaclass
  numba_cuda/numba/cuda/args.py
Owners: @rapidsai/numba-cuda-write

perf: remove unnecessary `wrap_arg` call
  numba_cuda/numba/cuda/simulator/kernel.py
Owners: @rapidsai/numba-cuda-write

perf: construct shape and strides args with minimal Python calls
  numba_cuda/numba/cuda/dispatcher.py
Owners: @rapidsai/numba-cuda-write

perf: concretize as many attribute accesses as possible
  numba_cuda/numba/cuda/cudadrv/devicearray.py
  numba_cuda/numba/cuda/cudadrv/devices.py
  numba_cuda/numba/cuda/cudadrv/driver.py
Owners: @rapidsai/numba-cuda-write

refactor: reduce the noise around `lst` in `_DeviceList`
  numba_cuda/numba/cuda/cudadrv/devices.py
Owners: @rapidsai/numba-cuda-write

refactor: clean up string formatting
  numba_cuda/numba/cuda/cudadrv/devices.py
Owners: @rapidsai/numba-cuda-write

perf: only use the driver lock when necessary; avoid reentering the lock
  numba_cuda/numba/cuda/cudadrv/devices.py
Owners: @rapidsai/numba-cuda-write

pass
  numba_cuda/numba/cuda/tests/test_array_reductions.py
  numba_cuda/numba/cuda/ufuncs.py
Owners: @rapidsai/numba-cuda-write

perf: shave a few more µs off of attribute access
  numba_cuda/numba/cuda/cudadrv/devices.py
Owners: @rapidsai/numba-cuda-write

faster?
  numba_cuda/numba/cuda/tests/test_array_reductions.py
Owners: @rapidsai/numba-cuda-write

refactor: remove unnecessary custom map and set implementations
  numba_cuda/numba/cuda/core/ssa.py
  numba_cuda/numba/cuda/lowering.py
  numba_cuda/numba/cuda/utils.py
Owners: @rapidsai/numba-cuda-write

[Refactor][NFC] Vendor-in vectorize decorators for future CUDA-specific changes (#513)
  numba_cuda/numba/cuda/__init__.py
  numba_cuda/numba/cuda/np/ufunc/__init__.py
  numba_cuda/numba/cuda/np/ufunc/decorators.py
  numba_cuda/numba/cuda/tests/cudapy/test_vectorize.py
  numba_cuda/numba/cuda/tests/cudapy/test_vectorize_complex.py
  numba_cuda/numba/cuda/tests/cudapy/test_vectorize_decor.py
  numba_cuda/numba/cuda/tests/cudapy/test_vectorize_device.py
  numba_cuda/numba/cuda/tests/cudapy/test_vectorize_scalar_arg.py
Owners: @rapidsai/numba-cuda-write

test: pass dtype directly to linspace instead of casting
  numba_cuda/numba/cuda/tests/cudapy/test_math.py
Owners: @rapidsai/numba-cuda-write

test: pass dtype directly to empty_like instead of casting
  numba_cuda/numba/cuda/tests/cudapy/test_math.py
Owners: @rapidsai/numba-cuda-write

test: fix invalid negative 1 value for uint64 test
  numba_cuda/numba/cuda/tests/cudapy/test_math.py
Owners: @rapidsai/numba-cuda-write

updates
  numba_cuda/numba/cuda/cuda_paths.py
  numba_cuda/numba/cuda/cudadrv/libs.py
Owners: @rapidsai/numba-cuda-write

.github/CODEOWNERS:

#python code owners
numba_cuda/            @rapidsai/numba-cuda-write

#cmake code owners
**/CMakeLists.txt  @rapidsai/numba-cuda-write
**/cmake/          @rapidsai/numba-cuda-write

#CI code owners
/.github/                @rapidsai/ci-codeowners
/ci/                     @rapidsai/ci-codeowners
/.pre-commit-config.yaml @rapidsai/ci-codeowners

#packaging code owners
/.devcontainer/    @rapidsai/packaging-codeowners
/conda/            @rapidsai/packaging-codeowners
/dependencies.yaml @rapidsai/packaging-codeowners
/build.sh          @rapidsai/packaging-codeowners
pyproject.toml     @rapidsai/packaging-codeowners
