Repository NVIDIA/numba-cuda, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rapidsai/numba-cuda-write, @rapidsai/ci-codeowners, @rapidsai/packaging-codeowners

chore: move everything to using ObjectCode/Kernel APIs
  numba_cuda/numba/cuda/cudadrv/driver.py
  numba_cuda/numba/cuda/cudadrv/nvrtc.py
Owners: @rapidsai/numba-cuda-write

chore: remove comment
  numba_cuda/numba/cuda/cudadrv/driver.py
Owners: @rapidsai/numba-cuda-write

chore: remove overhead from params and stream creation
  numba_cuda/numba/cuda/cudadrv/driver.py
  numba_cuda/numba/cuda/dispatcher.py
  numba_cuda/numba/cuda/memory_management/nrt.py
Owners: @rapidsai/numba-cuda-write

chore: remove tuple conversion
  numba_cuda/numba/cuda/dispatcher.py
Owners: @rapidsai/numba-cuda-write

chore: split up launch args to make overhead easier to spot
  numba_cuda/numba/cuda/dispatcher.py
Owners: @rapidsai/numba-cuda-write

chore: make devicearray pointer access faster
  numba_cuda/numba/cuda/dispatcher.py
Owners: @rapidsai/numba-cuda-write

chore: avoid converting bools to ctypes
  numba_cuda/numba/cuda/dispatcher.py
Owners: @rapidsai/numba-cuda-write

chore: extract the value from records
  numba_cuda/numba/cuda/dispatcher.py
Owners: @rapidsai/numba-cuda-write

chore: forward port the carveout api
  numba_cuda/numba/cuda/cudadrv/driver.py
  numba_cuda/numba/cuda/tests/cudadrv/test_cuda_driver.py
Owners: @rapidsai/numba-cuda-write

chore: remove cuda-core
  pixi.toml
Owners: none

chore: bring back cuda.core
  pixi.toml
Owners: none

chore: remove Module ABC
  numba_cuda/numba/cuda/cudadrv/driver.py
Owners: @rapidsai/numba-cuda-write

chore: pass in objectcode instead of handles as requested by @isVoid
  numba_cuda/numba/cuda/cudadrv/driver.py
  numba_cuda/numba/cuda/tests/cudadrv/test_module_callbacks.py
Owners: @rapidsai/numba-cuda-write

chore: revert stream back to static checking
  numba_cuda/numba/cuda/cudadrv/driver.py
  numba_cuda/numba/cuda/dispatcher.py
  numba_cuda/numba/cuda/memory_management/nrt.py
  numba_cuda/numba/cuda/tests/benchmarks/test_kernel_launch.py
Owners: @rapidsai/numba-cuda-write

chore: remove a bit of munging from stream creation
  numba_cuda/numba/cuda/cudadrv/driver.py
Owners: @rapidsai/numba-cuda-write

chore: slots
  numba_cuda/numba/cuda/cudadrv/driver.py
Owners: @rapidsai/numba-cuda-write

chore: remove _CtypesLinker
  numba_cuda/numba/cuda/cudadrv/driver.py
Owners: @rapidsai/numba-cuda-write

chore: remove linker base class
  numba_cuda/numba/cuda/cudadrv/driver.py
Owners: @rapidsai/numba-cuda-write

chore: revert back to original streams for now
  numba_cuda/numba/cuda/cudadrv/driver.py
  numba_cuda/numba/cuda/memory_management/nrt.py
  numba_cuda/numba/cuda/tests/benchmarks/test_kernel_launch.py
Owners: @rapidsai/numba-cuda-write

chore: revert back to upstream/main imports
  numba_cuda/numba/cuda/cudadrv/driver.py
Owners: @rapidsai/numba-cuda-write

Revert "chore: remove linker base class"
  numba_cuda/numba/cuda/cudadrv/driver.py
Owners: @rapidsai/numba-cuda-write

Revert "chore: remove _CtypesLinker"
  numba_cuda/numba/cuda/cudadrv/driver.py
Owners: @rapidsai/numba-cuda-write

test: use _to_core_stream
  numba_cuda/numba/cuda/tests/cudadrv/test_cuda_driver.py
Owners: @rapidsai/numba-cuda-write

chore: move the conversion higher
  numba_cuda/numba/cuda/dispatcher.py
Owners: @rapidsai/numba-cuda-write

chore: fix calling of streams
  numba_cuda/numba/cuda/cudadrv/driver.py
Owners: @rapidsai/numba-cuda-write

chore: override `_LaunchConfiguration` to make it picklable again
  numba_cuda/numba/cuda/dispatcher.py
Owners: @rapidsai/numba-cuda-write

chore: fix simulator use of stream conversion
  numba_cuda/numba/cuda/tests/cudadrv/test_cuda_driver.py
Owners: @rapidsai/numba-cuda-write

tests
  numba_cuda/numba/cuda/api.py
  numba_cuda/numba/cuda/kernels/reduction.py
  numba_cuda/numba/cuda/tests/cudapy/test_cuda_jit_no_types.py
  numba_cuda/numba/cuda/tests/cudapy/test_datetime.py
  numba_cuda/numba/cuda/tests/doc_examples/test_cpointer.py
  numba_cuda/numba/cuda/tests/doc_examples/test_matmul.py
Owners: @rapidsai/numba-cuda-write

Add support for dependabot
  .github/dependabot.yml
Owners: @rapidsai/ci-codeowners

Migrate numba-cuda driver to use cuda.core.launch API (#609)
  numba_cuda/numba/cuda/cudadrv/driver.py
  numba_cuda/numba/cuda/cudadrv/nvrtc.py
  numba_cuda/numba/cuda/dispatcher.py
  numba_cuda/numba/cuda/memory_management/nrt.py
  numba_cuda/numba/cuda/tests/cudadrv/test_cuda_driver.py
  numba_cuda/numba/cuda/tests/cudadrv/test_linker.py
  numba_cuda/numba/cuda/tests/cudadrv/test_module_callbacks.py
  numba_cuda/numba/cuda/tests/cudapy/test_dispatcher.py
  pixi.lock
  pixi.toml
Owners: @rapidsai/numba-cuda-write

chore: rename to CudaPythonFunction for inspectability
  numba_cuda/numba/cuda/cudadrv/driver.py
Owners: @rapidsai/numba-cuda-write

chore: remove unused ctypes linker and remove metaclass from existing linker
  numba_cuda/numba/cuda/cudadrv/driver.py
Owners: @rapidsai/numba-cuda-write

chore: remove pointless `_Linker.new` method
  numba_cuda/numba/cuda/codegen.py
  numba_cuda/numba/cuda/cudadrv/driver.py
  numba_cuda/numba/cuda/memory_management/nrt.py
  numba_cuda/numba/cuda/tests/cudadrv/test_linker.py
Owners: @rapidsai/numba-cuda-write

check again if NRT was ever enabled
  numba_cuda/numba/cuda/dispatcher.py
Owners: @rapidsai/numba-cuda-write

refactor: cull dead linker objects (#649)
  numba_cuda/numba/cuda/codegen.py
  numba_cuda/numba/cuda/cudadrv/driver.py
  numba_cuda/numba/cuda/memory_management/nrt.py
  numba_cuda/numba/cuda/tests/cudadrv/test_linker.py
Owners: @rapidsai/numba-cuda-write

Add support for dependabot (#647)
  .github/dependabot.yml
Owners: @rapidsai/ci-codeowners

add test
  numba_cuda/numba/cuda/tests/nrt/test_nrt.py
Owners: @rapidsai/numba-cuda-write

wrangle greptile
  numba_cuda/numba/cuda/dispatcher.py
Owners: @rapidsai/numba-cuda-write

Fix is_external and add test
  numba_cuda/numba/cuda/tests/cudapy/test_numba_interop.py
  numba_cuda/numba/cuda/typing/context.py
Owners: @rapidsai/numba-cuda-write

Return test to original form from reproducer
  numba_cuda/numba/cuda/tests/cudapy/test_numba_interop.py
Owners: @rapidsai/numba-cuda-write

.github/CODEOWNERS:

#python code owners
numba_cuda/            @rapidsai/numba-cuda-write

#cmake code owners
**/CMakeLists.txt  @rapidsai/numba-cuda-write
**/cmake/          @rapidsai/numba-cuda-write

#CI code owners
/.github/                @rapidsai/ci-codeowners
/ci/                     @rapidsai/ci-codeowners
/.pre-commit-config.yaml @rapidsai/ci-codeowners

#packaging code owners
/.devcontainer/    @rapidsai/packaging-codeowners
/conda/            @rapidsai/packaging-codeowners
/dependencies.yaml @rapidsai/packaging-codeowners
/build.sh          @rapidsai/packaging-codeowners
pyproject.toml     @rapidsai/packaging-codeowners
